[2017-04-08 23:17] CleanCut commented on #1591
`coala-bears/tests/python/pyroma_test_files/complete/complete/__init__.py` prints this when imported.

The contents of the file are:

[code]

[2017-04-09 03:09] jayvdb opened #1594 "PyromaBearTest: Do not print `os.__doc__` in sample package"
The sample package in `tests/python/pyroma_test_files/complete` includes a package `__init__.py` that uses `print(...)`.

As shown by https://github.com/coala/coala-bears/issues/1591, this causes problems with the default test collection of `test*.py`.

[2017-04-09 05:14] satwikkansal commented on #1453
So, I think instead of defining the ruleset in the bear's implementation or `coala-bears` codebase, we should develop a generic way in coala-core for creating rulesets and using them in projects.

The ruleset might be defined in a special file-format like `.ruleset` or `.json` for defining bear specific settings as I discussed above, and then in the `.coafile` we can do something like
[code]

[2017-04-09 06:24] vijeth-aradhya opened #1596 "Bear Proposal: Add Eastwood for Clojure"
Well, there is [kibit](https://github.com/jonase/kibit) for linting Clojure files as well. But, I think [Eastwood](https://github.com/jonase/eastwood) does a slightly better job.

[2017-04-09 06:26] jayvdb commented on #1453
Ya, creating a set of commit styles (rulesets), like [inline documentation styles `.coalang`s](https://github.com/coala/coala/tree/master/coalib/bearlib/languages/documentation) was what I had in mind.

The problem is that the style varies too much between projects, and all the implementation is in the bears repo, so I think this should remain in the bears repo.  In that way it differs from langua

[2017-04-09 09:28] #1594 closed

[2017-04-09 15:09] jayvdb commented on #1260
This bear could have been used to prevent https://github.com/coala/coala/pull/4078 from being merged , and check https://github.com/coala/coala/pull/4081 .

[2017-04-10 08:37] Makman2 commented on #1453
Maybe we should also allow to combine rulesets, so we have a single `rules` setting:
[code]

[2017-04-10 11:38] underyx commented on #1024
@sils compatability -> compatibility

[2017-04-10 12:36] yash-nisar opened #1600 "Run a bear for unused imports in coafile"

[2017-04-10 13:53] jayvdb commented on #1593
It is a bug in the linter `autoflake`.

[2017-04-10 14:16] adhikasp commented on #1593
No, it's not an upstream bug.

By default `PyUnusedCodeBear` doesn't remove import that are not from standard library. There are ongoing PR that solve this. https://github.com/coala/coala/pull/3886

[2017-04-10 16:50] satwikkansal commented on #1453
Combining rules sounds like a good idea (but can be split into another issue imo). I think starting steps for this may be:
- Add support in coala core for:
    - An optional setting for every bear called `bearname_rules`.
    - The value of this setting can be a "local path" or a "http url".
    - The file referred by the value of this setting is a `.ruleset` file.
- Then create a `.ruleset` file

[2017-04-10 18:58] Makman2 commented on #1453
That's the question whether they should be specific. As there are rules that span multiple languages. Consider e.g. `MaximumPerformantCode` rulesets which contains setting for every language/bear to enable all even most aggressive optimization checks in coala (such don't really exist yet, though in principle). So imo we will hit the limit of bear-bound rulesets very fast.

[2017-04-10 19:10] satwikkansal commented on #1453
IMO the `MaximumPerformantCode` type rulesets will better suit "aspects" based configurations (because then `Performance` in itself would be an aspect and all we need to do is providing the right setting values for that aspect)

[2017-04-11 05:23] jayvdb opened #1602 "Use reusable method of locating test data"
The following bears, and maybe others, all have test data, and have a function to 'find' the test data relative to `__file__`
* CPDBearTest
* DuplicateFileBearTest
* LicenseCheckBearTest
A pytest specific way of doing this is https://pypi.python.org/pypi/pytest-datafiles . However that means other test runners, like [green](https://github.com/coala/coala/issues/4060) would not work.
Simply migrati

[2017-04-11 05:27] jayvdb commented on #1602
If there isnt an existing re-usable approach, a new one should be added in a standard base class coala/coala#3676

[2017-04-11 10:11] jayvdb opened #1603 "generate_package fails if run outside of coala-bears directory"
generate_package assumes that it can create & use `./bears/upload` and read all bears from `./bears/**/*Bear.py`.

The former is invalid if the bears are installed using pip in a system directory, as the bears directory is not writable.

But more critical, the bears directory needs to be found , and tests need to not assume which directory they are being run in.

[2017-04-11 12:20] jayvdb commented on #1573
Creating a bear to do this, without being disabled by default in coala-quickstart, and removed from the docker, will cause errors in CI for other users repositories.

This should be merged into coalaBear (which is already special-cased to avoid this problem) , and made into a more generic tool, where the default is not going to destroy other peoples repositories who dont adhere to this rule.

[2017-04-11 12:22] jayvdb commented on #1573
"importance/high" - wtf.  Please have some perspective.  We have far more important problems.

[2017-04-11 13:44] Makman2 commented on #1453
Yeah right aspects would solve this a bit, still there are rulesets which will span multiple bears and their settings.

[2017-04-11 13:55] userzimmermann commented on #1573
@jayvdb It should not be merged with the `coalaBear` but handled exactly the same way. I totally agree with you in that latter aspect :)

[2017-04-11 13:59] satwikkansal commented on #1453
Nod. So if the approach described in https://github.com/coala/coala-bears/issues/1453#issuecomment-293009947 seems okay, shall I create a corresponding issue in coala core and start working on it.

PS: I don't exactly know the process of dealing with "status/needs design" labeled issues.

[2017-04-11 14:10] jayvdb commented on #1573
So now we will have a separate bear for each component of coala that wants to have its name written a certain way?

[2017-04-11 14:19] jayvdb commented on #1573
And why not share logic between coalaBear and this new aspectsYEAHBear ?

[2017-04-11 14:50] userzimmermann commented on #1573
@jayvdb This is what I also implicitly mean :) #1604 is not finished yet...

[2017-04-12 01:51] #1584 closed

[2017-04-12 13:51] satwikkansal commented on #1580
This issue was mistakenly created in wrong repository.
"Git_Bascis.rst" is a part of "coala/coala". Please refer to the the issue https://github.com/coala/coala/issues/4095

[2017-04-12 13:51] #1580 closed

[2017-04-13 12:55] underyx opened #1606 "New FuturizeBear for running py2/3 compatibility checks"
http://python-future.org/futurize.html is a tool for automatically converting Python 2 code to code compatible with 2 and 3. It generates diffs for each problem so it's possible to yield results from its output.

[2017-04-13 12:59] underyx opened #1607 "New PyImportSortBear option for ensuring certain imports exist in all files"
You can run `isort` in the following mode:

[code]

This will make sure the given imports are present in all files (according to the import sorting rules specified elsewhere.) We could have coala expose an option like `required_imports = from __future__ import absolute_import, print_function` and if it's present, running `isort` in `--add_imports` mode first

[2017-04-13 14:18] Makman2 opened #1608 "Coala exit with code 1 even when ignoring error"
Migrated from https://github.com/coala/coala/issues/4100.

[2017-04-13 14:19] Makman2 commented on #1608
From @MartyHub:

[2017-04-13 14:19] Makman2 commented on #1608
From @Makman2:

[2017-04-13 14:28] Makman2 commented on #1608
A tweak inside the regex should work, ignoring this kind of message for local-disabled checks.

[2017-04-13 14:34] Makman2 commented on #1602
Yes definitely in for standardizing test folders. It's actually not so complicated to find stuff, but it definitely helps and adds one definite way how to handle this. :+1:

[2017-04-13 14:37] Makman2 commented on #1602
For an approach:
I think we can orientate on many tests which have a `load_testdata`-function, which loads a file relative to a directory located in the same directory as the test. So if somebody wants test files:
1. Create a directory with a certain pattern, like `<TestFileName>` or `<TestFileName>TestFiles`
2. Place test-files inside
3. Use `load_testdata`

[2017-04-13 14:41] Makman2 commented on #1608
coala supports yielding issues above a certain severity only, by using the `-m` flag @MartyHub. So this is the right way to go then.
Capturing pylint ignores may be actually useful, so I think this can be closed then :+1:

[2017-04-13 14:41] #1608 closed

[2017-04-13 14:44] Makman2 commented on #1608
@MartyHub there's the problem though if you don't want to ignore `INFO`s on other bears, filed https://github.com/coala/coala/issues/4102 for that. But there's at least a workaround ;)

[2017-04-13 16:29] saurabhmarpadge commented on #1343
@jayvdb What do I need to know about dockerfile to solve this issue?

[2017-04-14 01:40] jayvdb opened #1609 "README.rst: Table of languages"
The table "Languages coala provides algorithms for" in [README.rst](README.rst) can easily get out of date.

Either we generate it, check it, or ... kill it, as part of a [minification, like recently occurred in `coala/coala`](https://github.com/coala/coala/commit/582869633)

[2017-04-14 03:34] #1600 closed

[2017-04-14 06:27] jayvdb commented on #173
We now have a 24 hr cron jobs on Travis project for the docker repo.
I think that is regular enough to catch problems quickly.

[2017-04-14 06:27] #173 closed

[2017-04-15 18:31] kaustubhhiware commented on #1579
The latest commit `72bc27f` solved this issue. Closing.

[2017-04-15 18:31] #1579 closed

[2017-04-16 15:00] jayvdb opened #1611 "HTMLLintBear supports Jinja2 and Php"
`HTMLLintBear.LANGUAGES` should include `Jinja2` and `Php`

See https://pypi.python.org/pypi/html-linter

[2017-04-17 04:29] Techievena opened #1612 "`Ctrl+Z` command to terminate the program not working in Windows"
![image](https://cloud.githubusercontent.com/assets/17270966/25078818/50f8f164-2354-11e7-8abc-245bb6cafbeb.png)

coala must terminate after pressing `Ctrl+Z` keys as shown in the CLI.

[2017-04-17 05:04] meetmangukiya commented on #1612
Ctrl+C doesn't work?

[2017-04-17 05:53] Techievena commented on #1612
Yup it works. But the way `Ctrl+D` can be used to terminate the analysis in Ubuntu, it is mentioned in `Windows` to press `Ctrl+Z` to exit, but it doesn't works. 😃

[2017-04-17 06:18] jayvdb commented on #1612
issue in wrong repo?
I think I've seen this raised in the coala repo.

[2017-04-17 06:23] jayvdb opened #1613 "JuliaLintBear: Use JuliaRequirement"
`REQUIREMENTS` should be a `JuliaRequirement` instead of a `DistributionRequirement`.

[2017-04-17 06:33] satwikkansal commented on #1612
Maybe reopen https://github.com/coala/coala/issues/3410 ?

[2017-04-17 06:51] jayvdb opened #1614 "YAMLLintBear should support setting max_line_length"
YAMLLint automatically imposes a max line length of 80 cpl.
This should be configurable, using setting `max_line_length`, and ideally can be disabled (c.f. https://github.com/coala/coala-bears/issues/1620).

[2017-04-17 09:45] yash-nisar opened #1615 "JSHintBear: Remove jshint_config from generate_config"
Remove `jshint_config` from `generate_config` and remove redundant if condition
area/lintbears

[2017-04-17 13:48] Makman2 commented on #1615
Why do you want to remove that? It's an override to allow users to provide their already existing config file^^

[2017-04-17 14:13] Makman2 commented on #1612
You need to press enter after CTRL+Z. Though because of this enter-pressing some programs do not handle that correctly.

[2017-04-17 15:06] yash-nisar commented on #1615
IIUC, users can still provide their already existing config file via `coala -b JSHintBear -S jshint_config=config_file -f xyz.js`. because it is present in `create_arguments()`. I feel we should remove it from `def generate_config(...jshint_config: str='')` because it will always be an empty string inside the function and similarly `if not jshint_config:` will always be true. Is it okay ?

[2017-04-17 15:14] yash-nisar commented on #1615
Is it okay if I ping you here or should I do it on gitter ?

[2017-04-17 16:54] Techievena commented on #1612
@Makman2 but this isn't mentioned anywhere. Can we show a warning message if coala doesn't terminate after Ctrl+Z?

[2017-04-17 18:37] Makman2 commented on #1615
That's okay, I'm already involved into discussion ;)

If you remove the if-condition, coala will always generate a file. This is really a performance impact, as we create quite a large dict, convert it to json and save it back. And that for every file analyzed. If a user doesn't pass a `jshint_config`, we don't need to create the config file.

[2017-04-17 18:52] Makman2 commented on #1612
phew... I'm not sure we will be able to catch that easily. Maybe we should say "CTRL+Z + Enter" instead of "CTRL+Z" only^^

@Techievena have you tested whether CTRL+Z + Enter works? If not Windows just doesn't support the same EOL-exiting like linux does then^^

[2017-04-17 23:25] jayvdb opened #1617 "GitCommitBear: Download ntlk data automatically"
GitCommitBear does not check that the nltk data has been fetched.
It has an exception, and a helpful error message (without coverage - see https://github.com/coala/coala-bears/issues/1618), but that would mean any chance to the data required is a breaking change.

[2017-04-17 23:33] jayvdb opened #1618 "Remove pragma: no cover"
`# pragma: no cover` avoids the requirement to test code.  It should be used extremely sparingly, and even when used for expediency, follow up patches should remove them.

[code]

A lot of them seem to be in the `check_prerequisites` stage.

When doing this task , take only one bear and create a separate issue for it, linking back to this issue.

[2017-04-18 03:18] yash-nisar commented on #1615
You're absolutely correct @Makman2 . I misunderstood a few things. On testing it manually and diving deeper, I found out that the settings that we provide via the command line arguments override the `generate_config(...) settings` and the corresponding `config_file` is generated. So `generate_config` knows that we've provided the jshint_config file in the settings. I went through all the bears wit

[2017-04-18 03:19] yash-nisar commented on #1615
I think I should open a new issue for https://github.com/coala/coala-bears/blob/master/bears/ruby/RuboCopBear.py, by defining a similar `if` condition that checks for the `config_file` if present.

[2017-04-18 03:24] jayvdb commented on #1615
Re RuboCop, I recently created https://github.com/coala/coala/issues/4072 about the `_config` settings, and moving them into core, and adding features to them.

[2017-04-18 04:34] prakashdanish commented on #1613
[this](https://github.com/coala/coala-bears/blob/master/bears/julia/JuliaLintBear.py#L28) needs to be changed, right?

[2017-04-18 05:24] #1615 closed

[2017-04-18 05:26] yash-nisar commented on #1615
Till https://github.com/coala/coala/issues/4072 is done, can we do https://github.com/coala/coala-bears/issues/1615#issuecomment-294663153 ? @jayvdb

[2017-04-18 05:27] jayvdb opened #1620 "Allow max_line_length value for unlimited line length"
Many bears set a default for `max_line_length`, and it is difficult to unset it (https://github.com/coala/coala/issues/4116).  It is common for a value of `0` to mean unlimited, where `0` has no logical meaning, such as this setting.

The bears that support `max_line_length` are:

* c_languages/CPPLintBear.py
* c_languages/GNUIndentBear.py
* coffee_script/CoffeeLintBear.py
* general/LineLengthBear

[2017-04-18 06:02] yash-nisar commented on #1620
So when we specify 0 as a default for `max_line_length`, the bear shouldn't complain and should allow unlimited length of a line @jayvdb ?

[2017-04-18 06:13] jayvdb commented on #1620
Changing the defaults would be a breaking change.  However when the user specifies `0`, it should give unlimited line length.  This is important for bears other than `LineLengthBear` which have lots of other good features and the user may not line length checking.

[2017-04-18 06:19] jayvdb commented on #1235
I've confirmed in many different ways that the problem is in remark, and maybe isolated to specific versions (of node stuff?) in the docker image.

It can be reproduced by moving out of the `coala-bears` directory and using MarkdownBear, or remark with remark-line.
e.g.
https://travis-ci.org/jayvdb/coala/jobs/223015470#L802

[2017-04-18 06:23] jayvdb commented on #1581
@satwikkansal , this will assist with supporting both the old and new versions of remark-lint and remark-cli , because it would allow the user to de-activate remark-lint , which is where the compatibility problem comes from.  But it also speeds up the bear as it doesnt need to load the remark-lint plugin.

Allowing `max_line_length` to be 0 (irrespective of whether it is user setting or the defaul

[2017-04-18 15:16] Makman2 commented on #1615
Actually I've searched for this in documentation for linter and in the guides, and nowhere is mentioned that returning `None` inside `generate_config` omits the config file. We should mention this performance possibility^^

Filed https://github.com/coala/coala/issues/4119 for that.

[2017-04-19 05:06] RohanVB commented on #1617
@jayvdb that means after merge, [this](https://circleci.com/gh/coala/coala-atom/109?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) will pass and I won't have to add the script to download NLTK data in .yml in that repo?

[2017-04-19 05:52] jayvdb commented on #1617
Yes!

[2017-04-19 06:30] Techievena opened #1624 "PerlCriticBearTest: Test for invalid files with configuration file provided"
PerlCriticBear doesn't tests invalid file when configuration file is provided.

[2017-04-19 06:46] yash-nisar commented on #1624
Can you post a use case please ?

[2017-04-19 07:58] Techievena commented on #1624
[code]
I meant current tests are like this

[2017-04-19 13:14] jayvdb commented on #753
@sadovnychyi, do you have an idea on how good/stable jedi is now at identifying syntax errors.  I havent played with it very much, and it was a while ago, so I could be very wrong.

[2017-04-19 15:09] sadovnychyi commented on #753
@jayvdb No idea, sorry. AFAIK Jedi just ignores syntax errors if possible. I'm not aware of any APIs which would allow to only check the syntax.

Citation from [here](https://github.com/davidhalter/jedi/blob/dev/jedi/parser/parser.py):

[code]

Seems like the whole idea of Jedi's custom parser is to ignore any possible syntax errors.

[2017-04-20 02:27] jayvdb commented on #1548
Still needs investigation to be able to upgrade to 0.48 or beyond.

[2017-04-20 11:54] jayvdb opened #1626 "Bear Proposal: CMetrics"
https://github.com/MetricsGrimoire/CMetrics

[2017-04-20 13:24] yash-nisar opened #1627 "LanguageToolBear.py: Use triple double quoted docstrings"
https://github.com/coala/coala-bears/blob/master/bears/natural_language/LanguageToolBear.py#L42
difficulty/newcomer

[2017-04-20 14:23] Techievena commented on #1612
Yup @Makman2 I have tested `Ctrl+Z+Enter` works fine

[2017-04-20 14:51] meetmangukiya commented on #1626
Last commit 5 years ago :o ?

[2017-04-20 14:54] jayvdb commented on #753
There is a new release of pylint and astroid, which should stablise quickly.  That might be worth investigating.

But, IMO it is worth-while improving PyflakesBear to add  `syntax_only = yes` which ignores the various error codes which are not syntax related, or maybe just reduce the severity of results that are not errors.

[2017-04-20 16:33] jayvdb opened #1628 "Release 0.10 has cabal dependency version problems on Circle"
Four builds failed at (including without cache)

https://circleci.com/gh/jayvdb/coala-bears/tree/rel0.10-backport-pr-1555

[code]

[2017-04-20 16:36] jayvdb opened #1629 "Release 0.10 has cabal dependency version problems on Circle"
Four builds failed at (including without cache)

https://circleci.com/gh/jayvdb/coala-bears/tree/rel0.10-backport-pr-1555

[code]

[2017-04-20 16:36] jayvdb commented on #1629
gah, dup of https://github.com/coala/coala-bears/issues/1628 due to connection problems.

[2017-04-20 16:36] #1629 closed

[2017-04-20 16:38] jayvdb commented on #1628
Build on coala/coala CircleCI [passed](https://circleci.com/gh/coala/coala-bears/6012).  I dare not try that again without cache at the moment, as we need that merged.

A fresh rebuild of master after it is merged would be wise to see if this still a problem.

[2017-04-20 17:24] jayvdb commented on #1235
So it is important to note that this can be fixed by the person who has installed the bear dependencies.
We should rel-note that in 0.10.2

Ideally we also raise a bug upstream, and/or try to workaround the problem in the bear, probably for 0.10.3.

[2017-04-20 17:28] jayvdb commented on #1235
Worth noting ... the docker .travis.yml now has a test for this.

And before we raise an upstream bug, using an old version of remark, we need to create a demo repo so it shows the problem clearly, and hopefully remark authors can easily see a fix.  If we dont make it easy, they will close the bug and tell us to upgrade to the latest version of remark.

[2017-04-20 17:30] jayvdb commented on #1581
@satwikkansal , this will assist with supporting both the old and new versions of remark-lint and remark-cli , because it would allow the user to de-activate remark-lint , which is where the compatibility problem comes from.  But it also speeds up the bear as it doesnt need to load the remark-lint plugin.

Allowing `max_line_length` to be 0 (irrespective of whether it is user setting or the defaul

[2017-04-20 17:43] #1603 closed

[2017-04-20 17:53] jayvdb commented on #783
Note that uncrustify doesnt recursively find files, and doesnt want to (https://github.com/uncrustify/uncrustify/issues/639), so their users would possibly really appreciate a coala wrapper.

[2017-04-20 18:48] jayvdb commented on #1235
We could anchor a release note on https://github.com/coala/coala-bears/pull/1630 , if that is merged and backported to 10.2.

[2017-04-20 19:04] satwikkansal commented on #1581
Yes, that seems like the only way to solve this issue. Wondering what happens when the remark-lint is not compatible and the user has provided non-default value for `max_line_length`, do we issue an informative warning to the user?

PS: Sorry, didn't reply to the comments because I accidentally turned off notifications for this issue.

[2017-04-20 19:52] jayvdb commented on #1581
At the moment, we cant detect that, and do not even show that a problem occurred.
(We were just zero'ing the file)

The work going on in https://gitlab.com/coala/package_manager/ is going to give us tools to do proper analysis of the runtime environment, including non-python dependencies.

[2017-04-20 20:33] #1581 closed

[2017-04-20 20:50] Makman2 commented on #1612
so we have to change `CTRL-Z` to `CTRL-Z + ENTER` or `CTRL-Z and ENTER` ;)

[2017-04-20 22:28] #1617 closed

[2017-04-21 09:05] horczech commented on #1611
I will take this one

[2017-04-21 09:19] jayvdb opened #1634 "ESLintBear: Support custom packages"
Support custom packages, e.g.
https://github.com/gitterHQ/eslint-config-gitter

Sort of related to https://github.com/coala/coala/issues/4072 , and see also https://github.com/coala/coala-bears/issues/374

[2017-04-21 09:32] jayvdb commented on #787
This was fixed by https://github.com/coala/coala/pull/3722

[2017-04-21 09:32] #787 closed

[2017-04-21 09:38] jayvdb opened #1635 "Using incorrect language setting now causes an error"
If  `language` setting is used with a bear without support for it, an ERROR occurs.

c.f. https://gitlab.com/coala/coala-utils/issues/23

[2017-04-21 10:06] #1611 closed

[2017-04-21 12:37] jayvdb opened #1637 "Bear proposal: PyT"
https://github.com/python-security/pyt Python Taint

[2017-04-21 13:05] coala-bot opened #1638 "Add nginxBear"
nginx can check if the configuration file syntax is correct by running `nginx -t -c <configuration file>`

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=58fa039108c00c092aa0fec3) by @yukiisbored

[2017-04-21 14:39] jayvdb commented on #1627
Note that @nikskushwah is doing this issue in https://github.com/coala/coala-bears/pull/1631

[2017-04-22 03:50] yash-nisar opened #1641 "IndentationBearTest.py: Fix typo"
`SpaceConsistencyBearW` -> `SpaceConsistencyBear`
difficulty/newcomer

[2017-04-22 04:21] yash-nisar commented on #1136
Since, we have incorporated the `SEE_MORE` attribute in `Bear.py`, we should now add this to all the bears just as @meetmangukiya suggested.CC @rohanraju97

[2017-04-22 06:20] #1614 closed

[2017-04-22 08:36] #22 closed

[2017-04-22 10:55] Adrianzatreanu commented on #1577
@shreyans800755 any progress on this? need any help? we are on coala.io/chat to help you!

[2017-04-22 10:57] Adrianzatreanu commented on #211
Hey, unassigning due to inactivity.

[2017-04-22 10:57] shreyans800755 commented on #1577
@Adrianzatreanu Working on it. Wasn't aware how to match multiline output. Got help from fellow coalaian. Will push changes as soon as it is completed.

[2017-04-22 10:58] Adrianzatreanu commented on #169
@srisankethu still on this? :)

[2017-04-22 10:58] Adrianzatreanu commented on #145
@adtac !

[2017-04-22 10:59] Adrianzatreanu commented on #63
unassigning due to no progress in a long period of time.  let us know if you need any help!

[2017-04-22 10:59] Adrianzatreanu commented on #43
no progress so unassigning :(

[2017-04-22 11:00] Adrianzatreanu commented on #357
CC @AbdealiJK :)

[2017-04-22 11:00] Adrianzatreanu commented on #326
unassigning due to no progress in a long time.

[2017-04-22 11:01] Adrianzatreanu commented on #296
@incorrectusername CC :)

[2017-04-22 11:01] Adrianzatreanu commented on #294
@Mixih CC

[2017-04-22 11:01] Adrianzatreanu commented on #293
CC @damngamerz

[2017-04-22 11:01] Adrianzatreanu commented on #282
@Makman2 hey :) ?

[2017-04-22 11:03] Adrianzatreanu commented on #508
outdated, done by aspects tbh.

[2017-04-22 11:03] #508 closed

[2017-04-22 11:03] Adrianzatreanu commented on #479
outdated.

[2017-04-22 11:03] #479 closed

[2017-04-22 13:01] adtac commented on #145
Just waiting for the two year anniversary :P

Oh man, does someone else want to take this over? I don't even remember half the stuff I've written. It's fairly polished, just a few more review comments (1 or 2 review iterations at max). Someone with more coala-bears experience?

[2017-04-22 16:02] coala-bot opened #1643 "Bear proposal: Warning if commit contains 'git notes'"
Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=58fb7ea3c1d3b501540d9dfe) by @jayvdb

[2017-04-22 17:20] meetmangukiya commented on #145
no PR reference on the issue though

[2017-04-22 17:28] rohanraju97 commented on #1136
How about we open separate issues for each language and  have them take care of their corresponding bears? And we could close this issue.

[2017-04-22 17:38] yash-nisar commented on #1136
IMO we don't need a separate issue for each language, we could reference all of them to this issue.

[2017-04-22 17:39] adtac commented on #145
https://github.com/coala/coala-bears/pull/484 literally the oldest open PR lol :D

[2017-04-23 05:05] incorrectusername commented on #296
@Adrianzatreanu I'm busy with exams and submissions these days. I'll start working on it within few days.

[2017-04-23 07:02] meetmangukiya commented on #1607
We don't wrap isort. We import and use the functionality... So let's hope we have a function that does this job in `isort` and not just statements :v:

[2017-04-23 07:08] meetmangukiya commented on #1235
We are having a new release soon, still backport needed?

[2017-04-23 09:13] coala-bot opened #1644 "YAMLLintBear: errors result in exceptions"
[code]
https://gitlab.com/jayvdb/package_manager/builds/14846863
importance/high difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58fc702bad849bcf42af8a2b) by @jayvdb

[2017-04-23 20:39] coala-bot opened #1645 "Upgrade pydocstyle to 2.0"
http://www.pydocstyle.org/en/latest/release_notes.html#april-18th-2017
Major impact: Errors are now printed to stdout instead of stderr
difficultly/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58fd10eb8fcce56b202d2fca) by @jayvdb

[2017-04-24 07:46] horczech commented on #1641
I will take this one

[2017-04-24 11:49] RohanVB opened #1647 "Inconsistency using `--format` flag with same params across bears"
[code]

IMO for bears that we use in the default `.coafile` should have priority.
Note how the args `{file}:{line}:{column}:{message}` across different bears have varied column information: `0`, `1`, `none`.

Then we need docs supporting writing new bears where we match whatever we choose to use so that it'll make it easier in the future.

CC @Makman2

[2017-04-24 14:20] coala-bot opened #1649 "GrindBear for Go"
https://godoc.org/rsc.io/grind

Opened via [gitter](https://gitter.im/coala/coala/?at=58fe09c36aea30763d396a30) by @yukiisbored

[2017-04-24 14:21] yukiisbored commented on #1649
`-diff` flag can be used to not rewrite the files but to print a diff

[2017-04-24 14:57] jayvdb commented on #1644
@yukiisbored said he saw this on package manager for LineLengthBear.  Could be a more generic problem.

[2017-04-25 00:13] jayvdb opened #1650 "REQUIREMENTS are now really important"
dependency_management has [lots](https://gitlab.com/coala/package_manager/tree/master/dependency_management/requirements) of lovely new features, and we *must* use them.

There is a [coala core change](https://github.com/coala/coala/pull/3526) planning to use REQUIREMENTS or the bear wont run.  That will be a huge breaking change, unless we have high quality REQUIREMENTS that cater for all users (

[2017-04-25 00:58] jayvdb opened #1652 "LuaLintBearTest: Replace DistributionRequirement with LuarocksRequirement"

[2017-04-25 00:59] jayvdb opened #1653 "CheckstyleBear: Add MavenRequirement"

[2017-04-25 00:59] jayvdb opened #1654 "ScalaLintBear: Add MavenRequirement"

[2017-04-25 01:01] jayvdb opened #1655 "Use PythonImportRequirement"

[2017-04-25 01:02] jayvdb opened #1656 "Use CondaRequirment somewhere"

[2017-04-25 01:04] jayvdb opened #1657 "Add ComposerRequirement"
PHPCodeSnifferBear and PHPMessDetectorBear should use ComposerRequirement

[2017-04-25 01:05] jayvdb opened #1658 "Remove flag and repo from RscriptRequirement constructors"
`flag` is now ignored, and `repo` is the default anyway.

[2017-04-25 01:12] arjunsinghy96 commented on #1655
To be used in place of PipRequirement ??

[2017-04-25 01:18] jayvdb commented on #1650
Created the first batch:

* https://github.com/coala/coala-bears/issues/1652
* https://github.com/coala/coala-bears/issues/1653
* https://github.com/coala/coala-bears/issues/1654
* https://github.com/coala/coala-bears/issues/1655
* https://github.com/coala/coala-bears/issues/1655
* https://github.com/coala/coala-bears/issues/1656
* https://github.com/coala/coala-bears/issues/1657
* https://github.

[2017-04-25 01:19] jayvdb commented on #1655
yup.  only for bears which import directly into the bear.  i.e. we want to remove the imports.

This is highly desirable before I can finish https://github.com/coala/coala-bears/issues/1000 .

[2017-04-25 01:27] jayvdb opened #1659 "Update all DistributionRequirements replacing apt_get with default package"

[2017-04-25 04:28] jayvdb commented on #1586
As you can see from the PR, it is not a newcomer issue. :P

[2017-04-25 04:52] jayvdb commented on #1657
Also, you may as well also do https://github.com/coala/coala-bears/issues/1659 for these two bears.

[2017-04-25 04:55] jayvdb commented on #1658
You can also add a `DistributionRequirement` to `FormatRBear`, and fix `RLintBear` to use [AnyOneOfRequirements](https://gitlab.com/coala/package_manager/blob/master/dependency_management/requirements/AnyOneOfRequirements.py).
See also https://github.com/coala/coala-bears/issues/1659

[2017-04-25 05:49] jayvdb commented on #1613
@prakashdanish , correct.

[2017-04-25 06:10] jayvdb commented on #743
Oh whoops; https://github.com/coala/coala-bears/issues/1044 was created as a dup, and completed.

[2017-04-25 06:10] #743 closed

[2017-04-25 06:15] jayvdb commented on #586
This sounds like a specialised Requirement class for dependency_management.

[2017-04-25 06:20] jayvdb commented on #1161
ha, @ncoghlan, thx.
I just came back to say I would take this over, as I ended up [building a quick hack](https://github.com/jayvdb/coala/commit/4d31badab3344cf97f) of this for our core package.
Lots of similarity, but your version looks more complete.

I found it failed with using `pip install -U -e .` , but worked [after switching](https://github.com/jayvdb/coala/commit/5414f3c4317fe) to `python

[2017-04-25 06:30] jayvdb commented on #1136
@rohanraju97 , no please don't do this issue.

They are perfect bugs for newcomer.

I've updated the the issue description.

[2017-04-25 07:15] meetmangukiya commented on #1136
If we do this as a newcomer issue, we can make separate issues for each bear(but that'd take months to complete) though this is not a critical issue is it? If we want to do it quick, we should let one newcomer add all the links.

[2017-04-25 07:21] jayvdb commented on #1136
It isnt critical that it is finished quickly. It would be perfect for a workshop, so keeping it as one issue is better. Maybe a new label for tasks that can be done many by many ppl at a workshop...?

[2017-04-25 07:50] jayvdb commented on #150
This has been fixed.

[2017-04-25 07:50] #150 closed

[2017-04-25 07:54] jayvdb commented on #1366
This is probably be solved by https://github.com/coala/coala-bears/issues/1654 , but that is a very specific solution.  I've assigned it to @Shade5 .

[2017-04-25 08:06] Shade5 commented on #1654
I'm on it

[2017-04-25 11:22] adhikasp commented on #1136
All bear in Java language doesn't have `SEE_MORE` attrib too.

[2017-04-25 12:16] jayvdb opened #1662 "JavaPMDBear: Add support for fetching scalalint using Maven"
And add a `MavenRequirement` to the `REQUIREMENTS`

[2017-04-25 12:16] jayvdb opened #1663 "CPDBear: Add support for fetching scalalint using Maven"
And add a `MavenRequirement` to the `REQUIREMENTS`

[2017-04-25 12:24] jayvdb opened #1664 "DartLintBear: Add DistributionRequirement for brew package"
brew package manager has 'dart', in repo 'dart-lang/dart'.
I cant see any other package managers that provide dart.

The commit needs to be similar to https://github.com/coala/coala-bears/commit/c2b338bbe3862cbcd8e0ddcc793d33f9ae308a9b , but using `brew=dart`

[2017-04-25 12:26] jayvdb opened #1665 "VHDLLintBear: Add DistributionRequirement for package perl"

[2017-04-25 12:30] jayvdb opened #1666 "TailorBear: Add DistributionRequirement for brew package"
brew package manager has ['tailor'](https://github.com/sleekbyte/tailor#homebrew-linuxbrew)

The commit needs to be similar to https://github.com/coala/coala-bears/commit/c2b338bbe3862cbcd8e0ddcc793d33f9ae308a9b , but using `brew=tailor`

[2017-04-25 12:49] meetmangukiya commented on #1136
Is there any way to make it compulsory to set this property in the derived class? Because I can definitely see people and even maintainers failing to notice that the particular attribute is missing.

[2017-04-25 13:12] Mixih commented on #1650
@mixih [note to self keep: an eye on this]

[2017-04-25 13:13] #1659 closed

[2017-04-25 14:28] jayvdb commented on #1656
Here is a good one, related to your other issues so you can do them together.

https://anaconda.org/r/r-lintr

[2017-04-25 16:08] supergr35 commented on #1586
Important:
For all future issues involving generated files, it should be made apparent in the issue that this deals with a generated file, otherwise we risk wasting people's time.

[2017-04-25 16:31] jayvdb commented on #1136
The class could emit a warning  if it is empty.

[2017-04-25 16:36] meetmangukiya commented on #1136
Would we like to have it? But again, maintainers will have to look out for warnings in the test logs. I guess it is better then nothing though.

[2017-04-25 16:38] yash-nisar commented on #1136
We could probably include it in the docs because people have a habbit of copying and pasting the bear metadata, so that could solve future problems of people forgetting to include the `SEE_MORE` attribute to some extent.

[2017-04-25 16:42] rohanraju97 commented on #1136
It's included in the docs already. https://github.com/coala/coala/issues/4027

[2017-04-25 16:48] yash-nisar commented on #1136
Should probably be included in http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html too

[2017-04-26 01:00] #1652 closed

[2017-04-26 02:28] jayvdb commented on #1644
Ah, this is probably https://github.com/coala/coala/issues/3906 , PR https://github.com/coala/coala/pull/3908 .

[2017-04-26 04:24] coala-bot opened #1671 "Error if circle containers is !=2"
After coala/coala#4137, copy the circle container check.

Opened via [gitter](https://gitter.im/coala/coala/?at=590020f3881b89e101878d64) by @jayvdb

[2017-04-26 04:43] #1658 closed

[2017-04-26 05:18] #1510 closed

[2017-04-26 09:08] #1656 closed

[2017-04-26 10:37] jayvdb commented on #1493
It is now at https://github.com/tj/make-lint , and it isnt a linter -- it is a Makefile "chunk" distributed by npm that can be used to provide a "lint" target.  i.e. `$ make lint`

I am not seeing many other good linters for makefile :/
It was removed from flycheck : https://github.com/flycheck/flycheck/issues/573

The best parser appears to be https://github.com/agentzh/makefile-parser-pm

https:

[2017-04-26 10:43] jayvdb commented on #1657
And if this includes CI to actually test composer, then https://github.com/coala/coala-bears/issues/293 is also fixed.

[2017-04-26 11:05] jayvdb commented on #144
Blocked on https://gitlab.com/coala/package_manager/issues/120

[2017-04-26 11:06] jayvdb commented on #290
There is a pug-lint
https://www.npmjs.com/package/pug-lint

[2017-04-26 13:09] #1357 closed

[2017-04-26 14:19] #1359 closed

[2017-04-26 14:45] jayvdb commented on #1665
If you want to make this a bit harder, the Bear can automatically download the perl script .  see https://github.com/coala/coala-bears/blob/master/.ci/deps.sh#L132 and https://github.com/coala/coala-bears/blob/master/bears/java/CheckstyleBear.py#L54

[2017-04-26 14:53] jayvdb commented on #1650
Here are the errors in the current bears auto-dependency checking on openSUSE  : https://travis-ci.org/jayvdb/coala/builds/226033302

[2017-04-26 14:55] yash-nisar commented on #1654
@Shade5 The release is within a few hours so can you initiate a PR asap ?

[2017-04-26 15:03] yash-nisar commented on #1657
@damngamerz The release is within a few hours so can you initiate a PR asap ?

[2017-04-26 15:04] yash-nisar commented on #1666
@SacredWKnight The release is within a few hours so can you initiate a PR asap ?

[2017-04-26 16:26] jayvdb commented on #804
Closed wontfix, as component `pmd` has been retired in Fedora 26, and the last RPM is `pmd-5.5.0-2.fc25.src.rpm`.

[2017-04-26 17:11] Shade5 commented on #1654
@yash-nisar I tried working on it but many tests are failing. I'm also flooded with projects and finals :sweat_smile:. I don't think I'll be able to push a working PR before the release. I'm sorry.

[2017-04-26 17:23] jayvdb commented on #1657
Note that openSUSE (zypper) has a package for PHPCodeSnifferBear: [php-pear-php_codesniffer](https://software.opensuse.org/package/php-pear-php_codesniffer)

[2017-04-26 17:55] meetmangukiya commented on #154
Any reason why is this not promoted or even highlighted in the docs. Sounds pretty cool to have.

[2017-04-26 17:57] damngamerz commented on #1657
Im guessing i have to use AnyOneOfRequirements. Making a PR
CC @jayvdb @yash-nisar

[2017-04-26 18:04] yash-nisar commented on #1657
Yes, IIUC add `ComposerRequirement` and then wrap both of them in `AnyOne..`

[2017-04-26 18:05] jayvdb commented on #1666
The two commits above are correct, but need to be submitted as a single commit.

[2017-04-26 18:13] jayvdb commented on #1665
I have created https://github.com/coala/bear-runtime-deps/tree/master/VHDLLintBear for you

[2017-04-26 19:19] jayvdb opened #1675 "Upgrade to checkstyle 7.6"
As found on https://github.com/coala/coala-bears/pull/1466 , checkstyle 7.6 jar is compiled with JDK 8, and will not run on JDK 7, at least on Windows.

To workaround this, we would need to detect the version of Java installed, and then either use checkstyle 6.19 or 7.6 accordingly.

[2017-04-26 19:45] #1657 closed

[2017-04-27 00:59] #1641 closed

[2017-04-27 01:43] jayvdb commented on #1172
https://github.com/coala/coala/issues/3323 has been closed.
Interesting this only occurred on Windows...??

[2017-04-27 01:43] #1172 closed

[2017-04-27 02:08] coala-bot opened #1678 "Travis Lint: Ensure any multiline script includes `set -e -x`"
There is already a travis lint bear proposal, so this is blocked on that.
If there are multiple lines, e.g. in an `if` , the exit status of all except the last command is ignored, which is generally not wanted.

needs design / upstream

Opened via [gitter](https://gitter.im/coala/coala/?at=5901528912d2409935a13031) by @jayvdb

[2017-04-27 02:19] jayvdb commented on #1678
c.f. discussion on https://github.com/coala/coala/pull/4106

We've (i.e. *I've*) forgotten to add the `set -e` a few times, causing builds to not break when they should, resulting in confusion.

[2017-04-27 02:30] #1666 closed

[2017-04-27 03:06] #1665 closed

[2017-04-27 03:56] Mixih opened #1679 "Release 0.11 checklist"
Stage 0:
- [x] split the release branch [completed 4/26]
- [ ] bump master version to 0.12
- [ ] update bears to use new coala dev version

Stage 1:
- [ ] ship release candidate to pypi
- [ ] test release candidate
- [ ] prepare release notes [Delegated to @meetmangukiya]

Stage 2:
- [ ] ship release 0.11 (manually verify everything is in order before shipping)

Stage 3 (post release):
- [ ] twitt

[2017-04-27 03:56] Mixih commented on #1679
xref https://github.com/coala/coala/issues/4144

[2017-04-27 22:46] sims1253 opened #1681 "CPDBear: "The context for the result refers to a file that doesn't seem to exist""
This is on 0.12.0.dev20170427043713

When running coala on  https://github.com/sims1253/coala_showcase I got a warning.
So far I was not able to reproduce the issue after a `git reset --hard` of the repo so maybe this is just something that was a leftover from showcasing coala before.

[code]

[2017-04-28 00:29] jayvdb opened #1682 "Bear Proposal poirot"
https://github.com/emanuelfeld/poirot

Need to investigate what functionality it provides.  We may be able provide the same with a native bear very easily.

[2017-04-28 06:28] coala-bot opened #1683 "coalaBear: Do not recommend violating PEP 8"
c.f. https://github.com/coala/coala-sublime/pull/35
Somehow detect constants containing the word coala, and recommend renaming the variable instead of recommending a PEP 8 violation.
cc: @userzimmermann

Opened via [gitter](https://gitter.im/coala/coala/?at=5902e11e8fcce56b2044c8ec) by @jayvdb

[2017-04-28 12:35] jayvdb opened #1684 "The PySafetyBear tests are incompatible with safety 0.6"
[code]

This doesnt affect master, as it is pinned to ~0.5.1

[2017-04-28 12:37] userzimmermann commented on #1683
@jayvdb Or make a proposal to change PEP8 regarding coala ;)

[2017-04-28 13:18] jayvdb commented on #1653
It is best to not attempt this until https://github.com/coala/coala-bears/issues/1675 is finished, as installing old versions of Java is hard to do on CI workers.

[2017-04-28 13:23] jayvdb commented on #1654
@Shade5 , I hope you dont mind. You have a few other PRs to close up.

[2017-04-28 14:08] jayvdb commented on #43
I think this should be closed.  I've opened https://gitlab.com/coala/package_manager/issues/129 , which is where we would add new Go package managers, so they can be used here.

[2017-04-28 14:08] #43 closed

[2017-04-29 03:30] Shade5 commented on #1654
@jayvdb Not at all, please assign it to someone who's free. I'm quite occupied for a few more days with my finals. If no one resolves it by then, I'll assign it to myself and continue :+1:

[2017-04-29 14:21] coala-bot opened #1687 "RuboCop: Add auto-correction"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5904a167f22385553d8af652) by @jayvdb

[2017-04-29 14:47] coala-bot opened #1688 "Installation of language_check takes too much time"
`pip install 'language_check==0.8.*` command is taking a lot of time. It is being responsible for failure of some of builds like this one https://circleci.com/gh/Vamshi99/coala-bears/10?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5904a766881b89e10199dad9) by @Vamshi99

[2017-04-29 18:03] underyx opened #1689 "KeywordBear in 0.11 RC doesn't allow unsetting 'keywords' setting anymore"
Try this `.coafile`:

[code]

Instead of yielding 0 results as expected, it will yield 907; one for each occurrence of the empty string.

Pinging @Mixih since it's a release blocker I assume.

[2017-04-29 18:28] Mixih commented on #1689
Extremely urgent, @NiklasMM wanna look at this as you did the release code stuff?

[2017-04-29 18:28] underyx commented on #1689
Also, once this is fixed, please check KeywordBear regex and non-regex performance, it seemed a bit off but it might be cause of this bug, and it was difficult to test it while this issue is still open.

[2017-04-29 19:14] Mixih commented on #1689
not a regression as it doesn't work with 0.10 and was obviously broken in 0.9. Still extremely urgent

[2017-04-29 20:42] Mixih commented on #1689
Triaged. This is an old KeywordBear problem where the empty `keyword` setting is not handled. Should be fixable by adding a case if the setting is empty.

[2017-04-29 22:17] meetmangukiya commented on #1689
Copy, paste from commit message:

If a setting is used in the coafile and nothing is assigned, then the value of that key is an empty string ''. Now, since `keywords` is a `list`, `list('')` returns an empty list: `[]` which leads to construction of regex `r'()'` which matches every character, and hence produces false results.

[2017-04-29 23:11] Makman2 commented on #1689
Shouldn't we patch the parser instead to consider empty strings to be an empty list?

[2017-04-30 05:23] meetmangukiya commented on #1689
@Makman2 here an empty list is created, so, no. ;)

[2017-04-30 07:49] meetmangukiya commented on #1383
@darkfist are you working on this? We need it in this release. Please fix this ASAP or unassign :)

[2017-04-30 12:29] Makman2 commented on #1689
ah nvm have misunderstood your comment above :+1:

[2017-05-01 12:01] Techievena commented on #1250
@jayvdb Isn't this similiar to https://github.com/coala/coala-bears/issues/1653 ?

[2017-05-01 17:31] na-Itms opened #1693 "XMLBear: Support RelaxNG schemata"
The XMLBear currently supports DTD or W3C Schema for validation, but it would be nice (and, as far as I can tell, relatively easy) to add support for [RelaxNG](http://relaxng.org/) schemata.

xmllint seems to accept the `--relaxng` command-line argument for that purpose. (http://xmlsoft.org/xmllint.html)

Thanks for the work on Coala! 🙂

[2017-05-01 18:28] Techievena opened #1694 "Make check_validity() test method more robust and correct the tests"
- [ ] PyLintBearTest.py
- [ ] PHPLintBearTest.py
- [ ] CheckstyleBearTest.py
- [ ] StyleLintBearTest.py
- [ ] DennisBearTest.py

have the wrong usage of `check_validity()` and are performing tests on empty files. Do correction in these tests and make `check_validity()` more robust not to allow any empty files further in the future.

[2017-05-01 22:34] jayvdb commented on #1635
I see it has occurred for a long time (https://gitlab.com/coala/coala-utils/builds/8963933) , but in this release it is now an error.

[2017-05-02 06:38] meetmangukiya commented on #1383
unassigning

[2017-05-02 10:38] jayvdb commented on #1689
Note , the bug fixed in #1690, and backported in #1695 , also occurred in 0.10, and it appears to have also occurred in 0.9 from my limited testing.

@underyx , if you are experiencing a regression in 0.11 RC, which version did this work correctly?

This is tightly related to https://github.com/coala/coala/issues/4116 (unsetting default settings).

[2017-05-02 10:48] underyx commented on #1689
@jayvdb found the issue in `0.11.0.rc1`. Our last known working version is with `0.9.1` (we're using the 0.9 Docker image.)

[2017-05-02 13:54] #1694 closed

[2017-05-02 14:11] underyx commented on #1689
Oh nooo, sorry, @jayvdb, I just realized that repo uses the `0.8` image, so last known working version is actually `0.8.1`.

[2017-05-02 14:30] Techievena opened #1697 "Extend Windows support for ApertiumLintBear"

[2017-05-02 14:39] jayvdb commented on #1689
Ah, that makes much more sense, as I can reproduce this bug on 0.9.
Now trying 0.8...

[2017-05-02 14:48] jayvdb commented on #1689
yup; confirmed. the regression happened at bfd61fb, and the fix applied in above PRs is correct for that regression.

[2017-05-02 15:21] Mixih commented on #1689
closing issue as discussion has been resolved.

[2017-05-02 15:21] #1689 closed

[2017-05-02 16:03] Makman2 commented on #1694
Why closed?

[2017-05-02 16:20] Techievena commented on #1694
@Makman2 Actually the issue is with `verify_local_bear()` and the docstring made me think the issue is with `check_validity()`. To be more exact, this is mentioned in the docstring of `check_validity()`:
[code]
whereas it should be more like `The file to be checked`.
and also in case of `verify_local_bear()` it should be `invalid_filename` and `valid_filename` instead of passing a single filename

[2017-05-02 16:21] Techievena commented on #1694
In these cases the `param lines` but they are performing checks on the `param filename`

[2017-05-02 19:29] Makman2 commented on #1694
So does the issue still exist with `verify_local_bear()`?

[2017-05-03 01:55] Techievena commented on #1694
Yes

[2017-05-03 02:40] tupaschoal opened #1700 "JavaPMDBear: Add support to custom rule set"
PMD allows an user to specify a custom rule set, which is good if there are specific rules inside a ruleset that you want to disable. It would be great to allow access to such a function.

[2017-05-03 02:48] tupaschoal opened #1701 "CPPCheckBear: Allow user to specify include paths"
On big projects, CppCheck might need to be supplied with include paths to resolve dependencies and report errors correctly and, for doing so, it needs to be supplied with an include path.

[2017-05-03 04:58] meetmangukiya opened #1702 "Release 0.10.3 checklist"
Stage 0:
- [ ] merge the bug fixes to 0.10 branch
- [ ] bump version to 0.10.3

Stage 1:
- [ ] prepare release notes

Stage 2:
- [ ] ship release 0.11 (manually verify everything is in order before shipping)

Stage 3 (post release):
- [ ] twitter
- [ ] blog?

Please append critical backports to this issue before release

[2017-05-03 04:58] meetmangukiya commented on #1702
/cc @Mixih

[2017-05-03 05:39] jayvdb commented on #1701
Can you give an example of this problem?

[2017-05-03 13:35] Makman2 commented on #1694
Wanna reopen this issue and change the title?

[2017-05-03 13:50] jayvdb commented on #1694
The filename is irrelevant.  It is optional.

[2017-05-03 13:50] jayvdb commented on #1694
c.f. https://github.com/coala/coala-bears/pull/1438#pullrequestreview-36020495

[2017-05-04 02:42] jayvdb opened #1703 "Unarchived link detector"
As a simpler version of https://github.com/coala/coala-bears/issues/1322 , it is useful to report errors for any URL which hasnt been archived.

Landing this component early will allow users to identify links not currently archived, try to archive them manually, and whitelist links that cant be archived, giving us better knowledge of corner cases relating to web archiving.

[2017-05-04 02:51] tupaschoal commented on #1701
I'll try to come up with a small enough example, but for reference, the option is quoted on [item 4.2](http://cppcheck.sourceforge.net/manual.pdf) of the cppcheck manual.

[2017-05-04 06:13] #1645 closed

[2017-05-04 13:11] shreyans800755 opened #1704 "Use with to load the file"
In https://github.com/coala/coala-bears/blob/master/tests/general/LicenseCheckBearTest.py#L18,
file is opened without using `with` statement. It doesn't ensure the closing of file.

[2017-05-04 13:12] shreyans800755 commented on #1704
CC @jayvdb @sils
Difficulty/newcomer should be enough.

[2017-05-04 15:42] jayvdb commented on #1488
It was re-introduced at the prior go-gettable location : https://github.com/golang/go/issues/19516

I doubt this is over, based on the comments at
https://github.com/golang/go/issues/19516#issuecomment-286565110 . Likely pre 1.8 versions of go need a different gotype.

But lets revert to using the original, and wait to see what tomorrow brings.

[2017-05-04 16:49] ragvri commented on #1704
Can I take this please.

[2017-05-04 17:28] #1488 closed

[2017-05-04 19:40] Makman2 commented on #1704
@ragvri please checkout http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2017-05-04 19:42] Makman2 commented on #1704
Just a technical perspective on this:
CPython supports finalization hooks that are triggered when the reference count drops to zero. For many built-in classes this frees resources appropriately, and in this case too (as soon as `readline()` finishes, the file object is not used any longer and destroyed). But this is not an official Python feature, so it's definitely better to use a `with` stmt :+1

[2017-05-04 21:49] captaincrunch21 commented on #1704
Hi @Makman2 I want to take grab this

[2017-05-04 21:52] Makman2 commented on #1704
☝️  https://github.com/coala/coala-bears/issues/1704#issuecomment-299288063

[2017-05-04 21:54] captaincrunch21 commented on #1704
I submitted a pull request could you please verify it

[2017-05-04 22:00] captaincrunch21 commented on #1701
I want to grab this. Could you help me?

[2017-05-04 23:01] shreyans800755 commented on #1704
@captaincrunch21 Can you please assign this issue for reference to yourself ?
Use `cobot assign https://github.com/coala/coala-bears/issues/1704` in gitter.

[2017-05-05 02:31] jayvdb commented on #1704
@ragvri , @captaincrunch21 , you have both submitted pull requests without following the http://coala.io/newcomer process.  You need to follow the newcomer process to be assigned to this issue.

[2017-05-05 02:35] jayvdb opened #1708 "CPDBear: Replace pragma: no cover with test for unsupported language"
Create a test to exercise the error `This bear does not support files with the extension ...`

It is currently using `# pragma: no cover`, which can be removed when there is a test.

[2017-05-05 02:53] coala-bot opened #1709 "IndentationBear: Remove pragma no cover"
It isnt necessary.
c.f. https://github.com/coala/coala-bears/issues/1618
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=590be92bd1a7716a0a944a3a) by @jayvdb

[2017-05-05 02:59] jayvdb opened #1710 "ClangCountingConditions: macros should not destroy everything"
`_get_position_in_for_tokens` contains `# pragma: no cover` with a scary FIXME:
"This is not covered in the tests because it contains a known bug that needs to be fixed, that is: macros destroy everything."

We need to add tests for macros (removing the `# pragma`; c.f. https://github.com/coala/coala-bears/issues/1618), and ensure that they do not cause significant problems.
It is ok if they are n

[2017-05-05 03:00] coala-bot opened #1711 "ClangCountingConditions: Remove two pragma no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618
Two of them in this file are not necessary.
Only one of them is necessary (c.f. https://github.com/coala/coala-bears/issues/1710).
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=590bead1c4d73f445a75fe31) by @jayvdb

[2017-05-05 03:02] jayvdb commented on #1618
All of the `# pragma: no cover` in checking pre-requisites should be fixed by declaring requirements, i.e. the tasks in https://github.com/coala/coala-bears/issues/1650

[2017-05-05 05:25] captaincrunch21 commented on #1711
I want to grab this, Guide me please

[2017-05-05 05:32] jayvdb commented on #1711
Please follow http://coala.io/newcomer (first step is to join the Gitter chat room)

[2017-05-05 05:51] #1704 closed

[2017-05-05 07:47] jayvdb commented on #1560
This is blocked, waiting for https://gitlab.com/coala/package_manager/issues/103 to be done.

[2017-05-05 15:23] horczech commented on #1708
I will try to solve this one

[2017-05-05 18:27] #1375 closed

[2017-05-06 00:30] #879 closed

[2017-05-06 09:14] mridubhatnagar commented on #1709
Hey this is my first. Can someone please help me locate the file IndentationBears.

[2017-05-06 09:24] mridubhatnagar commented on #1709
Found it . Thanks

[2017-05-06 16:38] #1709 closed

[2017-05-07 05:04] ASVS-Kartheek commented on #1627
I want to be assigned to this, Please guide me

[2017-05-07 09:05] latacz-io commented on #1383
I take that one :)

[2017-05-07 10:00] thisch opened #1714 "--no-color is ignored for loglines"
The string '[WARNING]' is colored even if the `--no-color` (-N) flag is used.
[code]

[2017-05-07 12:02] #1383 closed

[2017-05-07 14:23] Makman2 commented on #1714
Confirmed. Happens with latest version `0.12.0.dev20170507091731`.

[2017-05-07 14:24] Makman2 commented on #1714
I think this issue belongs to `coala` :+1:

[2017-05-07 14:26] Makman2 commented on #1714
Migrated to https://github.com/coala/coala/issues/4185.

[2017-05-07 14:26] #1714 closed

[2017-05-07 15:11] latacz-io commented on #758
I ran the InvalidLinkBear (coala 0.10.0) on

`print('http://www.%s.com' % 'sgoogle')
print('http://www.google.com/%s' % 'sgoogle')
print('http://www.{}.com'.format('formatgoole'))`

and couldnt repoduce the bug.
Has this been fixed already?

[2017-05-07 16:27] Makman2 commented on #758
Indeed looks like it works ;)

[2017-05-07 16:27] #758 closed

[2017-05-08 20:07] SanketDG opened #1716 "reSTLintBear: No support for sphinx"
Sphinx has many custom directives and roles, for highlighting and cross referencing docs.

The restructuredtext_lint doesn't support any out of the box (it shouldn't)

So, there are lots of issues coala throws, see https://github.com/coala/documentation/pull/438/, regarding the unknown directive and roles

Although it gives support to register roles and directives, it doesn't make sense to registe

[2017-05-08 20:47] coala-bot opened #1717 "Update rstcheck version to 3.1"
Update the `rstcheck` version to `3.1` which was the latest version at the time of creating this issue. See https://pypi.python.org/pypi/rstcheck for the changelog.
The files to be modified are https://github.com/coala/coala-bears/blob/master/bears/rest/RSTcheckBear.py and https://github.com/coala/coala-bears/blob/master/bear-requirements.txt.
difficulty/newcomer

Opened via [gitter](https://gitte

[2017-05-09 01:06] jayvdb commented on #1716
What advantages are their for using reSTLintBear ?  Does it show errors that RSTCheckBear doesnt show?

Can it do 'pure RST' checking better than RSTCheckBear?

If there is no good reason to have this bear, maybe we can just deprecate the reSTLintBear bear, and see if anyone complains?

[2017-05-09 16:19] Vamshi99 commented on #1649
As of now, there is issue with installing grind, there is already a PR https://github.com/rsc/grind/pull/13 ready to fix that issue, but that repo isn't active for a long time. So, we should mark this as status/blocked until that PR is merged, else our builds will go red again.

[2017-05-10 07:27] mridubhatnagar commented on #1534
Please can you elaborate the approach that is needed to write AndroidBear.

[2017-05-10 07:30] mridubhatnagar commented on #1532
Sounds Interesting. But looking for guidance :) .

[2017-05-10 09:10] mridubhatnagar commented on #1234
For implementing this do we need to write a completely new bear or JSONFormatBear can be modified and this check can be added.

[2017-05-10 09:16] satwikkansal commented on #1534
Hey, so the basic idea is to wrap http://tools.android.com/tips/lint/ into a bear. For the approach, you can read https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html guide.

[2017-05-10 18:16] shaddu opened #1720 "xmlbear"
can xmlbear check if given xmlfile is valid xml file ?

[2017-05-10 18:30] Vamshi99 commented on #1720
If given file is invalid then XMLBear will suggest changes, else if given file is valid it gives no output. I think there is no issue with this, if so please close this, if there is anything wrong please be verbose.  Hope this helps :)

[2017-05-10 18:45] #1720 closed

[2017-05-11 13:58] underyx commented on #1638
This can also be used: https://github.com/yandex/gixy

[2017-05-11 14:50] mubaris commented on #873
I will do this :smile:

[2017-05-13 05:03] jayvdb opened #1723 "RSTcheckBear: Allow ignoring roles and directives"
rstcheck has [cmdline args](https://github.com/myint/rstcheck#options) for ignoring directives and ignoring roles.

These need to be exposed via bear settings.  This is blocking a proper fix for https://github.com/coala/coala/pull/4211#issuecomment-301042935

[2017-05-13 05:25] jayvdb commented on #1723
c.f. https://github.com/coala/coala-bears/pull/1718 for a similar enhancement

[2017-05-13 05:26] mridubhatnagar commented on #1723
Instead of adding RSTcheckBear here. I can fix this issues in #4211 itself.

[2017-05-13 05:31] jayvdb commented on #1723
No.  This is an enhancement for RSTcheckBear.

[2017-05-13 05:34] mridubhatnagar commented on #1723
Ohk so nothing has to be done with .coafile. I will have to go through RSTcheckBear.

[2017-05-13 05:40] jayvdb commented on #1519
This is blocked by https://github.com/coala/coala/pull/3560

[2017-05-13 05:43] jayvdb commented on #1313
This is obviously blocked by https://github.com/coala/coala-bears/issues/1260 , or will need to be done as part of that enhancement (and it is blocked too).

[2017-05-13 06:15] mridubhatnagar commented on #1723
I understood what needs to be done. But for checking if everything works fine. I will have to add rstcheckBear to the .coafile of coala-bears repository.
rstcheckBear is not present in .coafile of coala-bears.

[2017-05-13 06:43] jayvdb commented on #1723
To test your changes, you need to add tests to `tests/rest/RSTcheckBearTest.py`, and not modify `.coafile`.

[2017-05-13 07:47] SanketDG opened #1724 "Bear proposal: Gixy (nginx config static analyzer)"
https://github.com/yandex/gixy

[2017-05-13 08:12] jayvdb commented on #903
@manu-chroma , are you still working on this?

[2017-05-13 08:34] jayvdb commented on #1724
this was mentioned at https://github.com/coala/coala-bears/issues/1638 . Any benefit in having two bears?

[2017-05-13 11:56] jayvdb opened #1725 "Split InvalidLinkBearTest.test_run for ignored links and missing links"
`test_run` includes some links which should be ignored.  These are testing method `extract_links_from_file` , and not testing the other parts of the bear logic.

[2017-05-13 12:07] jayvdb opened #1726 "InvalidLinkBearTest.test_run has 4 unnecessary tests for http status 404"
As InvalidLinkBearTest uses mock, all 6  tests for http status 404.  2 are in the valid entries test, and 4 are in the invalid entries test.

Only one 404 should be in each test, as the mock infrastructure means that the domain and any path are irrelevant and are not different test scenarios, and so are not useful.

[2017-05-13 12:24] jayvdb opened #1728 "Convert InvalidLinkBearTest to use LocalBearTestHelper"
`InvalidLinkBearTest.assertResult` and `.assertResultCount` should be replaced with `LocalBearTestHelper` methods:

- `check_results`
- `check_validity`
- `check_invalidity`
- `check_line_result_count`

[2017-05-13 13:16] jayvdb commented on #1193
As the local class was removed (https://github.com/coala/coala-bears/issues/1190), this is now covered by https://github.com/coala/coala/issues/3373

[2017-05-13 13:16] #1193 closed

[2017-05-13 13:19] jayvdb opened #1729 "Use check_invalidity"
https://github.com/coala/coala/issues/2197 introduced check_invalidity in https://github.com/coala/coala/pull/4167 .

All use of `check_validity(.., valid=False)` should be replaced with `check_invalidity(..)`.

The most obvious are

[code]

But that grep doesnt catch them all.

[2017-05-13 13:24] jayvdb opened #1730 "tests: Remove check_validity(..., valid=True)"
In calls to `LocalBearTestHelper.check_validity`,  `valid` defaults to `True`, so it is unnecessary to include it, and should be removed per https://github.com/coala/coala/issues/2197.

The following lists all modules that use `valid=True`

[code]

c.f. https://github.com/coala/coala-bears/issues/1729

[2017-05-13 13:34] jayvdb commented on #1728
https://github.com/coala/coala/issues/4227 should be built first.

[2017-05-13 13:53] refeed commented on #1290
@jiteshpabla are you still working on this?

[2017-05-13 13:56] manu-chroma commented on #903
@jayvdb no I have not been working on this issue. Feel free to reassign this one.

[2017-05-13 14:04] jayvdb commented on #903
If you plan to work on this again, please claim it again ;-)

[2017-05-13 19:40] jiteshpabla commented on #1290
@refeed Sadly, no. (Unless anyone else is willing to take over, i request to not be unassigned for the moment)

[2017-05-14 09:43] #1726 closed

[2017-05-14 14:58] jayvdb opened #1732 "Do not shadow bear names in test modules"
The following use `verify_local_bear` to create a test class, and then overwrite the bear name with the resulting test class.

- CSSAutoPrefixBearTest.py: `CSSAutoPrefixBear = verify_local_bear(CSSAutoPrefixBear, ...)`
- GofmtBearTest.py: `GofmtBear = verify_local_bear(GofmtBear, ...)`
- HappinessLintBearTest.py:`HappinessLintBear = verify_local_bear(HappinessLintBear, ...)`
- PyFlakesBearTest.py:

[2017-05-14 15:01] jayvdb opened #1733 "Use Test in test class module names"
The following use `verify_local_bear` to create a test class, but then do not use the word Test in the stored class name, which is confusing by itself as the name should describe what it does.

- TailorBearTest.py
  - `TailorBearWithoutConfig = verify_local_bear(TailorBear, ...)`
  - `TailorBearWithConfig = verify_local_bear(TailorBear, ...)`
  - `TailorBearWithSetting = verify_local_bear(TailorBe

[2017-05-14 15:02] jayvdb commented on #1733
Note https://github.com/coala/coala-bears/issues/1732 is a similar problem, but it is a far worse syntax and more critical problem.

[2017-05-14 15:05] akohli96 commented on #1733
@jayvdb can I be assigned this?

[2017-05-14 15:17] jayvdb commented on #1733
Sure.  You'll need to join the coala org first, then I can assign it to you.

[2017-05-14 17:54] akohli96 commented on #1733
I have joined the gitter chat and requested it to be assigned to me.

[2017-05-16 08:20] horczech commented on #1340
I will take this one

[2017-05-16 08:36] underyx commented on #1340
Okay, so how about

- We create a new SubstitutionBear for this
- We make the configuration look like this:

[code]

?

[2017-05-16 09:12] jayvdb commented on #1340
We would need a `NameSubstitutionBear` , and it needs to be language-aware, at least variable name and scope aware.

In those examples, the variable being renamed to `log` needs to be replaced everywhere in the relevant scope.

[2017-05-16 10:00] underyx commented on #1724
@jayvdb Yeah, I think we should have two:

- `nginx -t` is best for validity checking, since it actually uses the real config parser to find any errors
- `gixy` is best for recommending best practices and structure/style changes

[2017-05-16 10:00] underyx commented on #1638
Actually, let's move the Gixy thing to https://github.com/coala/coala-bears/issues/1724

[2017-05-16 10:05] underyx commented on #1340
@jayvdb: Okay, I think this should be two separate issues then.

What @horczech and I just discussed/agreed on is it's probably better to update KeywordBear with functionality like this:

[code]

1. This is way more versatile since I wanted to have substitutions also for different things; like `except Exception:` -> `except:` or `86400` -> `24 * 60 * 60`
2. The code will indeed be broken but I thi

[2017-05-16 13:46] akohli96 commented on #1733
Does ````python
Test
[code]

[2017-05-16 18:02] SanketDG commented on #1724
gah, this fell out of notifs.

[2017-05-16 22:26] shreyans800755 opened #1737 "Update ignore defaults for pycodestyle through argument"
PycodeStyleBear has pycodestyle_ignore default argument with empty string as value. Update it to include appropriate list as discussed at https://github.com/coala/coala/pull/4235#issuecomment-301913827

[2017-05-17 00:13] Makman2 opened #1739 "PycodeStyleBear: Use `typed_list(str)` instead of plain `str`"
... for settings `pycodestyle_ignore` and `pycodestyle_select`. Rather we parse the list and fail fast before pycodestyle gets a wrongly separated string.

[2017-05-17 20:09] akohli96 commented on #1733
Within ```` TSLintBearTest.py````

there is ```` TSLintBearTestWithConfig````.

Should I rename it to ````TSLintBearWithConfigTest````

[2017-05-18 04:31] #1732 closed

[2017-05-18 05:38] coala-bot opened #1741 "HTMLLintBear: Disable tabs rule when use_spaces = False"
By default HTMLLintBear emits an error if tabs are found.
When `use_spaces` is disabled, this HTMLLintBear error should be disabled.
c.f. https://github.com/coala/coala-bears/issues/844
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=591d335583cb5db07341fe8b) by @jayvdb

[2017-05-18 10:47] jayvdb opened #1742 "SCSSLintBear: error line number is column number"
SCSSLintBear regex is picking up the column number as the line number

[2017-05-18 14:12] coala-bot opened #1744 "SCSSLintBear: docstring param allow_important_rule_in_property is incorrect"
It should be allow_important_rule_in_properties to match the arg
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=591dabc22b926f8a676aa4dc) by @jayvdb

[2017-05-18 14:15] coala-bot opened #1745 "PyCommentedCodeBear: Confusing name"
Commented code is good; Commented out code is bad.
Bear name needs to be deprecated.
status/blocked

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=591dac7b2b926f8a676aaa06) by @jayvdb

[2017-05-18 14:16] coala-bot opened #1746 "PyDocStyleBear: Detect docstring params without a matching arg"
e.g. coala/coala-bears#1744
difficulty/medium

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=591dacca2b926f8a676aac6e) by @jayvdb

[2017-05-18 14:52] latacz-io opened #1747 "HTMLLintBear does not run on Windows 10"
I was trying to run the HTMLLintBear to fix #1741 but it doesnt run:

`PS C:\Users\Sebastian\python> coala -b HTMLLintBear -f issue1741.htm -V
[WARNING][16:45:29] The default coafile '.coafile' was not found. You can generate a configuration file with your curren
t options by adding the `--save` flag or suppress any use of config files with `-I`.
[DEBUG][16:45:29] Platform Windows -- Python 3.5.2,

[2017-05-18 18:45] #1737 closed

[2017-05-18 18:51] Makman2 commented on #1747
Do you have `html_lint.py` installed? If it's not found, then this error occurs.

But we should catch that definitely better, as nobody would understand what to do in this case^^

[2017-05-18 19:31] Asnelchristian commented on #1620
how about  we set `max_line_length` to.... maybe `999` when the user enters `0` (given that the tool used by the bear itself has a default value for it(it always checks on the line length))

[2017-05-19 07:57] SanketDG opened #1749 "Explicit ruby version in Gemfile"
The ruby version needs to be more permissive.

We can use version operators http://guides.rubygems.org/patterns/#declaring-dependencies

[2017-05-19 10:30] fneu commented on #1747
What exactly need to be installed, though?
[code]

[2017-05-19 11:27] Makman2 commented on #1747
hm seems like `html-linter` is it.

[2017-05-19 11:33] fneu commented on #1747
Well, it's installed and the error still appears. On Linux it's fine, but I
can reproduce the problem on Windows.

Am 19. Mai 2017 1:27:12 nachm. schrieb Mischa Krüger
<notifications@github.com>:

[2017-05-19 11:34] Makman2 commented on #1747
Oh that's bad. Have you tracked down the reason?

[2017-05-19 12:13] fneu commented on #1747
I didn't dig very deep, but I'm pretty sure that `HTMLLintBear` cannot find `html_lint` in spite of that being installed and accessible via the cli (Windows powershell in this case).

The juicy bit is this at the very end of the trace:

[code]

On linux, where everything runs fine, the `arguments` are:
[code]

On windows, the second argument is `None`.

[2017-05-19 12:28] gaocegege opened #1750 "CheckstyleBear: Error when indent_size = 4"
Hi, I have tried to run coala with the .coafile in https://github.com/gaocegege/Processing.R

[code]

Then I got an error caused by checkstyle:

[code]

I am not sure if it is a feature or a bug. But I think it is common to use 4 spaces in Java code. If coala could support the config painlessly, it will be better :)

[2017-05-19 12:44] gaocegege commented on #1750
And I found a weird thing:

[![asciicast](https://asciinema.org/a/121349.png)](https://asciinema.org/a/121349)

When coala runs for the first time, it will return a warning message. And after that, the warning message don't appear again.

[2017-05-19 15:28] Makman2 commented on #1747
I'm not sure if `which` works on python scripts, as only `cmd` and `bat` are supported as far as I know. And powershell != cmd sadly :/
I'll take a look too soon :+1:

[2017-05-19 15:29] Makman2 commented on #1750
Hm maybe caching suppresses the output then? Not sure...

[2017-05-19 16:53] gaocegege commented on #1750
Maybe

FYI, `coala -V` returns the error trace every time.

[2017-05-20 07:16] SanketDG commented on #1750
I tested this on latest master and can't replicate this.

Are you on master?

[2017-05-20 07:35] SanketDG commented on #154
This needs to be rebooted and maintained. Opening this for further discussion.

[2017-05-20 08:04] SanketDG commented on #1750
Sorry, I didn't see your `.coafile` was commented out.

I think for your first issue, relevant info is https://github.com/coala/coala-bears/issues/898

Maybe you can use a different checkstyle config other than google?

No idea about the second weird behaviour.

[2017-05-20 08:24] SanketDG commented on #1750
I dug deeper into the second bug and it seems like the filename queue is being emptied somehow on the first run, and so on the next run, it doesn't show up anymore.

Definitely a bug imo^^

[2017-05-20 18:01] SanketDG commented on #1750
uh okay they are features :3

caching suppresses the output yes, but the log message that informs this needs to be a higher log level imo i.e. info

cc @adtac

[2017-05-20 18:10] adtac commented on #1750
This is a known issue (there's a github issue somewhere). Bears that fail to run are not run again next time. Caching doesn't suppress the output; the bear doesn't even run even though it should. It's a bug in caching :3

[2017-05-20 18:23] Makman2 commented on #1750
Feel free to close this bug as duplicate once the other one is found :+1:

[2017-05-20 21:22] jeremydouglass commented on #1750
I'm a newcomer, but these might be related:

1. a type of coala-bears issue requiring bears to forbid linting incorrect indents, e.g. Google Java requires "2" so "4" throws an error. #917 "CheckstyleBear: Add invalid configuration check"

2. special handling of large error dumps generated by things like the above: #2573 "Allow failing/skipping Linter bears based on arguments"

[2017-05-20 22:39] Makman2 commented on #1750
I think it's this one: https://github.com/coala/coala/issues/3950
But it's marked as `can't reproduce`. Seems like it's reproducible again^^

[2017-05-21 07:54] meetmangukiya commented on #1750
@adtac couldn't reproduce, nor was I able to. I had experienced it a few times but didn't report right away

[2017-05-21 08:04] meetmangukiya opened #1752 "GitCommitBear: False shortlog linelength error"
https://travis-ci.org/coala/corobo/builds/234466051#L662

Head commit: 	`config.py: Make code coala compliant`

[2017-05-21 08:22] jayvdb commented on #1752
Dup of https://github.com/coala/coala-bears/issues/1037
See the funky `if` in coala & coala-bears `.travis.yml` to avoid running this bear in a PR.

[2017-05-21 08:22] #1752 closed

[2017-05-21 11:11] gaocegege commented on #1750
re @SanketDG I am not in master, I install the coala from pip. But I could have a try on master soon.

[2017-05-21 11:29] gaocegege commented on #1750
## Detail

### Environment

#### OS

[code]
#### coala

coala is installed from pip:

[code]

### HOWTO reproduce the bug

0. Checkout https://github.com/gaocegege/Processing.R/commit/13148dc556c041a8d1d5f67c917731538a8b0d04 and uncomment the Java section
1. Run `coala`. If you could not get the warning message for the first time, change the content in .coafile, for example, add a new blank at the

[2017-05-21 11:34] gaocegege commented on #1750
## Log

[code]

[2017-05-21 12:11] Makman2 commented on #1750
@gaocegege please retry from latest master (using `--pre` when installing via pip or install from repo master), so we can see if we have merged some fix meanwhile.

[2017-05-21 14:25] gaocegege commented on #1750
@Makman2

[code]

Is it in the master?

[2017-05-21 19:50] coala-bot opened #1753 "Bear proposal: JavaScript Standard"
https://github.com/feross/standard
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5921ef7ceec422e415d564f2) by @jayvdb

[2017-05-21 19:58] jayvdb opened #1754 "Error if use_spaces = True for HappinessLintBear"
https://github.com/JedWatson/happiness/ requires tabs for indentation.
Thus it is configuration error if `use_spaces` is enabled **in the same section**.  If there are other bears **in the same section** using `use_spaces = True`, then they will conflict with HappinessLintBear, and it will be hard to understand why unless someone looks at the documentation of Happiness.

If `use_spaces` is inherit

[2017-05-21 21:56] AlexGascon commented on #1729
Hi! If no one is working on it, I'd like to give it a try

[2017-05-22 12:43] Makman2 commented on #1750
`--pre` always contains the latest master :)
Hm but it reappears it seems... Could you flush the cache and try it again?

[2017-05-22 12:51] Makman2 commented on #1729
Hey :) Please read the newcomer guide on how to get invited and assign yourself to an issue -->
http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2017-05-22 13:37] gaocegege commented on #1750
Flushing the cache works, since I reproduce the bug when I run `coala` twice without the change of coafile.

If the coafile changes, coala will report those warning messages again :)

FYI, it seems that coala -V works well every time.

[code]

[2017-05-22 16:50] Makman2 commented on #1750
Alright, @adtac caching is yours ;)
Though I thought that this was fixed :/

[2017-05-22 17:06] Ciemaar commented on #873
What is the problem here?

[2017-05-22 17:10] underyx opened #1755 "Document creation of asciinema demos"
There are multiple newcomer issues for this, but no guide. We should write some docs.

area/docs
difficulty/newcomer

[2017-05-22 17:13] SanketDG commented on #873
The task is to record an asciinema that demonstrates the use of PEP8Bear

[2017-05-22 17:14] SanketDG commented on #873
The task is to record an asciinema that demonstrates the use of PEP8Bear

[2017-05-23 09:01] #1742 closed

[2017-05-23 14:45] latacz-io commented on #1741
I would unasign this, since I cant run HTMLLintBear until #1747 isnt solved.

[2017-05-23 15:29] jayvdb commented on #1747
Is this a Windows 10 specific problem?

fwiw, it works on Appveyor
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.6430/job/72gdlkobnesx8d1e#L332
(and also on the 64 bit build)

[2017-05-23 15:48] fneu commented on #1747
I have no idea and cannot test anything besides windows 10, but I'll take a closer look at the appveyor setup, maybe there is another necessary step, like messing with paths or something.

I can only say that the exact same steps concerning installation via pip and coala execution worked on a fresh linux install and did not work on a fresh windows install. (I just got a new hard drive recebtly)

[2017-05-23 17:24] yash-nisar commented on #1493
All the repositories are unmaintained, however should I proceed with the linter ?

[2017-05-23 17:27] jayvdb commented on #1606
The commit on https://github.com/coala/coala-bears/pull/1758 mentions there is a bug in coalib/ unified diff.
Has this been raised as a separate issue?
This might be similar to https://github.com/coala/coala/issues/2006

Also worth noting, we dont yet have any merged bear using unified diffs, but there is pending PR https://github.com/coala/coala-bears/pull/1556 using it.  Maybe the bug also affec

[2017-05-23 17:49] jayvdb commented on #1754
See https://github.com/coala/coala-bears/issues/897 and https://github.com/coala/coala-bears/issues/897 for similar issues that have been fixed.

[2017-05-23 18:08] underyx commented on #1717
This is sorta important, coala `docs-requirements` requires `sphinx~=1.5` while `rstcheck` requires `sphinx<1.5`.

[2017-05-23 18:17] yash-nisar commented on #1717
@underyx See https://github.com/coala/coala-bears/pull/1569, we have some strange errors when we try upgrading `sphinx` to `1.5.5`

[2017-05-23 21:16] underyx opened #1759 "Make CircleCI dependency installation stage faster!"
It takes ~15 minutes now, after 1 minute of cache restoration. That's pretty bad. Let's figure out how to cache more things?

@li3n3 is suggesting this: https://discuss.circleci.com/t/caching-apt-get-packages/9076

[2017-05-24 06:53] NiklasMM opened #1760 "GitCommitBear downloads nltk_data even if not required"
Since 0.11 we have incorporated downloading of nltk data into GitCommitBear.

We do check if the imperative check is needed:

[code]
But `shortlog_check_imperative` is not the name of the settings. It's `shortlog_imperative_check`

To add insult to injury: I was the one who reviewed this.

[2017-05-24 09:26] sils commented on #1103
@abhsag24 state of this? This needs to get fixed :/

[2017-05-24 16:52] yash-nisar commented on #1538
Bump @naveentata

[2017-05-24 17:51] aptrishu commented on #1103
with the new annotationBear, it can identify singleline and multiline strings clearly. So, that should solve this problem.

[2017-05-24 17:59] yash-nisar commented on #1493
How about https://github.com/mrtazz/checkmake ? @jayvdb @Makman2

[2017-05-24 20:16] yash-nisar commented on #28
@meetmangukiya Can you close this one too ? :stuck_out_tongue:

[2017-05-24 20:25] Makman2 commented on #294
as no progress yet and it's part of @yash-nisar 's gsoc, reassigning to him :)

[2017-05-24 20:26] Makman2 commented on #634
as no further progress yet and it's part of @yash-nisar 's gsoc, reassigning to him :)

[2017-05-24 20:27] Makman2 commented on #596
as no further progress yet and it's part of @yash-nisar 's gsoc, reassigning to him :)

[2017-05-24 22:44] Makman2 commented on #1493
Interesting :D Last commit september, so not too far away. But it seems to have minimal functionality.

[2017-05-25 03:18] #28 closed

[2017-05-25 03:43] coala-bot opened #1762 "Common Markup bear proposal https://gist.github.com/dupuy/1855764"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=592652f4fcbbe1891c41de7b) by @jayvdb

[2017-05-25 05:40] jayvdb opened #1763 "Uncached build breakage in Infer with opam"
A uncached [travis](https://travis-ci.org/jayvdb/coala-bears/jobs/235904747) or [circle](https://circleci.com/gh/jayvdb/coala-bears/703#usage-queue) build shows the following
[code]

[2017-05-25 06:04] jayvdb commented on #1763
Im sort of working on this, but anyone else is more than welcome to also try to fix it.

[2017-05-25 08:44] jayvdb commented on #1763
One fix is to use infer 0.12.
https://travis-ci.org/coala/coala-bears/builds/235921377

However that installs a more recent version of ocaml, which isnt a cheap install.

infer 0.10 is the last release which uses the Trusty ocaml 4.02 , but it fails to build ocaml package reason 0.4.0.  Still seeing if I can work around that problem.

[2017-05-25 10:47] jayvdb commented on #1123
A rather nice tool is `chronic`, part of [moreutils](https://packages.ubuntu.com/trusty/moreutils) on Trusty and beyond, and named the same thing on Fedora.

The only problem is that it spits out stderr after stdout, rather than intermingled.

[2017-05-25 10:53] jayvdb commented on #1763
The `fatal: Not a git repository: '../../.git'` are not related.  They previously appeared in the logs of successful builds.

[2017-05-25 12:58] jayvdb commented on #1763
I've got a solution, using atdgen 0.10.0 and reason 1.13.5.

[2017-05-25 21:04] #1763 closed

[2017-05-25 23:16] jayvdb commented on #1759
Semi-related, I've created a patch to split more of our deps into groups: https://github.com/coala/coala-bears/pull/1769

Then it will be easier to revise the approach used.
But also, [it shows](https://circleci.com/gh/jayvdb/coala-bears/716) that the apt phase is less than 4 mins.

https://circleci.com/gh/jayvdb/coala-bears/718 is an uncached build, which will better show where the problems lie.

[2017-05-26 04:01] jayvdb opened #1771 "PHP Code Beautifier and Fixer"
[PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) supports detection (`phpcs`) and fixing.
The fixing is done by `phpcbf` (PHP Code Beautifier and Fixer).

Either enhance PHPCodeSnifferBear , or add another bear, so that coala has a bear that can fix PHP.

(Currently we dont : https://github.com/coala/meta/wiki/Top-Programming-Languages-GitHub-2016 )

[2017-05-26 04:26] #357 closed

[2017-05-26 04:50] aviaryan opened #1772 "IndentationBear detects issues in block comments as well"
I was trying out IndentationBear with the following settings.

[code]

This is detecting issues with single space indented/beautified comments. Example -

[code]

The Bear suggests to remove space before the asterisk but the comments like what I have in *My Code* are a very popular pattern followed by a lot of devs.

### Suggestion

I think IndentationBear should have a parameter to leave all bloc

[2017-05-26 05:19] jayvdb opened #1773 "Use Travis language specific images"
This is an issue for https://github.com/coala/coala-bears/pull/1386

[2017-05-26 05:54] jayvdb opened #1774 "deps.sh: Remove setup.py --help"
`python setup.py --help` was used to fetch the jars.

[code]
See old build https://circleci.com/gh/coala-analyzer/coala-bears/377

It should have been removed when dynamic fetching was enabled.

[2017-05-26 05:56] jayvdb opened #1775 "Incomplete coverage occurring randomly"
https://circleci.com/gh/jayvdb/coala-bears/tree/codecov had a bizare incomplete coverage which disappeared in the following build.

[2017-05-26 05:58] jayvdb commented on #1774
This helps with https://github.com/coala/coala-bears/issues/1123

[2017-05-26 06:27] jayvdb opened #1776 "deps.sh: Don't download dart-sdk if it exists (again)"
This is really a continuation of https://github.com/coala/coala-bears/issues/157

https://github.com/coala/coala-bears/pull/166 didnt work.
The [Circle CI logs](https://circleci.com/gh/coala-analyzer/coala-bears/tree/pull%2F166) for that PR ... downloads the SDK.

`-v` isnt a valid command line argument.

[2017-05-26 08:09] naman1901 commented on #1534
Hi. I'm new here, could you explain where the .exe file for this will go in the package? The tutorial works with `pylint` which can be installed via `pip`. Where does the android lint exe go?

[2017-05-26 08:14] jayvdb commented on #1534
You would declare an [`ExecutableRequirement`](https://gitlab.com/coala/package_manager/blob/master/dependency_management/requirements/ExecutableRequirement.py) on `lint`.
Then the caller needs to have that program in their `PATH`, and the bear will work.

[2017-05-26 08:25] naman1901 commented on #1754
So, you want that if `HappinessLintBear` is running, a message is printed to the terminal, advising the user to set `use_spaces = false`. Is that correct?

[2017-05-26 08:34] jayvdb commented on #1754
Only if `use_spaces` is set to true, there should be an error.
See #897 and #897 for similar issues that have been fixed.  They have merged pull requests which do almost exactly what is required.

[2017-05-26 10:53] #1774 closed

[2017-05-26 11:17] naman1901 commented on #1754
Been trying to run HappinessLintBearTest. Any idea why it fails even in the version I pulled from git, without making any changes
I had it passing from one directory in windows
fails from another directory and in Ubuntu
I made copies in different directories

`E           AssertionError: 0 == 0 : The local bear 'HappinessLintBear' yields no result although it should.
E           Running bear Happi

[2017-05-26 11:21] naman1901 commented on #1754
The new test I added works fine. Just one of the old ones that fails. Should I create a PR?

[2017-05-26 11:41] naman1901 commented on #1754
Identified the source of trouble as the `invalid_files` referred to in
`HappinessLintBearTest = verify_local_bear(HappinessLintBear,
                                          valid_files=(good_file,),
                                          invalid_files=(bad_file,))`
I guess that is supposed to happen, as the invalid file would cause an error, right?

[2017-05-26 11:45] Makman2 commented on #1772
Hm that's bad :/ I would even consider this a bug.

[2017-05-26 11:46] jayvdb commented on #1772
ya, and I guess this affects javadoc style.

[2017-05-26 11:48] Makman2 commented on #1534
I'm not sure if Android Studio (which is the usual way to install Android dev tools) places those tools into the PATH. We should have a fallback checking for example for `ANDROID_SDK_HOME` environment variable.

[2017-05-26 12:55] coala-bot opened #1779 "Check repository .yml files using YAMLLintBear"
Add YAMLLintBear to .coafile, configure it, and fix any style issues
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=592825a92b926f8a67956cd0) by @jayvdb

[2017-05-26 13:06] jayvdb commented on #1327
This should have less impact on build times, as it can be done as a [build stage](https://docs.travis-ci.com/user/build-stages) that is allowed to fail, and fast success.

Perhaps we might also want to only have this job active when a PR is pushed to master, so it doesnt slow down PRs.

[2017-05-26 14:32] jayvdb commented on #1776
A very poor mans analysis of dart caching: https://github.com/coala/coala-bears/pull/1777#issuecomment-304297573

[2017-05-26 15:08] jayvdb commented on #1493
@yash-nisar , you've tried (some/all of) these linters out according to https://gitlab.com/coala/GSoC-2017/issues/98 .
Could you give a brief overview of what you have found please.

[2017-05-26 15:12] jayvdb commented on #596
How will this fit within the linter framework?

Is it only going to be a linter for `.har` files?

Or something else?  If so, much more details please.

[2017-05-26 15:56] yash-nisar commented on #596
Yes, this is mainly targetted at `.har` files. However, the tool can be used for raw [TCP streams](http://httpolice.readthedocs.io/en/stable/streams.html#), [combined format](http://httpolice.readthedocs.io/en/stable/streams.html#combined-format) as well.
 Output format of Httpolice:
[code]

[2017-05-26 16:06] yash-nisar commented on #294
https://docs.travis-ci.com/user/travis-lint has a precise explanation for the steps to be followed.
Sample output:
[code]
CC @jayvdb

[2017-05-26 16:21] yash-nisar commented on #290
All the `pug-lint` commands available:
[code]
Sample output:
[code]
Available rules: https://github.com/pugjs/pug-lint/blob/master/docs/rules.md
CC @jayvdb

[2017-05-26 16:43] jayvdb commented on #290
@yash-nisar, and what is the config file format?

[2017-05-26 16:45] yash-nisar commented on #1493
https://github.com/agentzh/makefile-parser-pm and https://github.com/codepilot/makefile-parser are unmaintained, ie. have no activity since the last 3 years. I tried https://github.com/mrtazz/checkmake because it looked interesting and the last commit was in September and I read Makman's comment after I closed the issue.
Sample output:
[code]
The available options:
[code]
CC @jayvdb

[2017-05-26 16:49] yash-nisar commented on #290
Supports multiple formats, see https://github.com/pugjs/pug-lint#configuration-file

[2017-05-27 06:16] meetmangukiya opened #1780 "InvalidLinkBear: False results on working links"
Various comments on https://github.com/coala/projects/pull/289

/cc @jayvdb

[2017-05-27 06:17] meetmangukiya commented on #1780
fwiw CI running coala doesn't report those error, but gitmate runs coala as well, not sure what's wrong there

[2017-05-27 06:17] meetmangukiya commented on #1780
Maybe gitmate is using old coala? @sils do you recall what version of coala does gitmate1 use?

[2017-05-27 06:51] sils commented on #1780
@meetmangukiya working theory is that we have connectivity issues with the server. I'm not sure wether it uses coala 0.9 or 0.10 but I think it's 0.10

[2017-05-27 08:41] meetmangukiya commented on #1780
this is confusing: https://github.com/coala/projects/blob/master/.coafile doesn't have InvalidLinkBear enabled, I wonder what gitmate's been complaining then :confused:

Definitely not a bug in InvalidLinkBear.
(Closing.)

[2017-05-27 08:41] #1780 closed

[2017-05-27 11:53] jayvdb opened #1782 "InvalidLinkBear should use robots.txt"
https://en.wikipedia.org/wiki/Robots_exclusion_standard

Any request that isnt allowed by robots.txt should be reported as such.

[2017-05-27 11:54] jayvdb commented on #1780
I suspect this is due to https://github.com/coala/coala-bears/issues/1782

[2017-05-27 11:55] meetmangukiya commented on #1782
(participating)

[2017-05-27 12:53] yash-nisar opened #1783 "Bear proposal: JSLintBear"
https://github.com/douglascrockford/JSLint
difficulty/low
area/lintbears

[2017-05-27 13:06] yash-nisar opened #1784 "Bear proposal: ReekBear"
https://github.com/troessner/reek
area/lintbears
difficulty/low

[2017-05-28 03:26] jayvdb commented on #1476
We've just encountered a significant problem in requests https://github.com/coala/coala/issues/4277#issuecomment-304447901 which could be fixed in vint-vim, but could also be fixed by blacklisting `VintBear` .  Just blacklisting it from CI would need to also allow it to be skipped by the CI in the coala repo.

That means the blacklisting needs to drop the requirements from the 'pre-release', so it

[2017-05-28 03:28] jayvdb commented on #1000
This problem has caused a huge breakage as VintBear is broken until https://github.com/Kuniwak/vint/pull/217 is fixed.  *Everything* fails as can be seen at https://github.com/coala/coala/pull/4283

[2017-05-28 05:27] jayvdb commented on #1319
Why should this linter do a fresh check for an unmodified file, when other linters do not?

Also a related problem is that users expect CLI usage (esp. when expliciting using --files) wrt to caching to behave differently in many cases, because it defies sense that an explicit filename in an cli argument is ignored.

[2017-05-28 05:50] jayvdb opened #1785 "VintBear is broken"
Following on from https://github.com/coala/coala/issues/4277#issuecomment-304447901

vim-vint breaks all use of coala master and old releases.

[2017-05-28 06:49] Vamshi99 commented on #1476
@jayvdb If we want any code to be skipped by CI, why don't we make the code as a comment, till the issue get's fixed. This way our code also remains safe :)

[2017-05-28 07:19] meetmangukiya commented on #1476
I think we want dynamic blacklisting from CI, and not commit the blacklisting to master

[2017-05-28 07:21] jayvdb commented on #1785
Upstream patch is https://github.com/Kuniwak/vint/pull/217

[2017-05-28 07:52] Vamshi99 commented on #1476
In that case, bear is just not being run, but in here we have a problem with dependencies, so it will not be similar @meetmangukiya

[2017-05-28 07:55] jayvdb commented on #1476
The blacklisting should be part of coala:

We need to ship new versions with some bears disabled due to unfixable problems.

[2017-05-28 08:05] Vamshi99 commented on #1476
So, are we just going to disable the bear in coafile, I don't think that will be a good option. I had prefer making it as comment :confused:

[2017-05-28 11:18] yash-nisar commented on #1493
https://github.com/lindenb/makefile2graph and https://github.com/lindenb/j4make don't give output that can be extracted by our linter tool. These parsers don't seem to have lint features.

[2017-05-28 11:43] jayvdb commented on #1784
Dup of https://github.com/coala/coala-bears/issues/439

[2017-05-28 11:43] #1784 closed

[2017-05-28 11:43] Makman2 commented on #1319
Because results do not only depend on the file itself, but on external sources, in this case it's the internet.

I don't understand that.

[2017-05-28 11:47] yash-nisar commented on #439
Tried the bear on a sample file.
Output can be easy to parse via regex :
[code]
The available list of commands :
[code]

[2017-05-28 11:48] jayvdb commented on #439
What does it do that existing bears do not do?

[2017-05-28 12:10] jayvdb commented on #596
What is the benefit of coala linting .har files?
How frequently are they stored in repos?

[2017-05-28 12:16] jayvdb commented on #290
What is the benefit of coala linting these files?
How frequently are they stored in repos?
Are there any major orgs pushing this language?
Im concerned this is a fade language. I dont remember it being mentioned in any wikimedia tech evaluations.
Can this linter fix any problems?  Or just detect?  We need fixers.

[2017-05-28 12:17] jayvdb commented on #634
What does this linter do that other css bears do not?

[2017-05-29 03:50] coala-bot opened #1786 "Bear Proposal: PerlTidy"
http://perltidy.sourceforge.net/

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=592b9a8e2b926f8a67a11b37) by @yukiisbored

[2017-05-29 12:56] refeed commented on #1290
@jiteshpabla Sorry for late reply, btw I could take over this issue :smile:

[2017-05-29 18:43] sils commented on #1754
I hereby disagree that we should care about the setting being inherited or not.

If we do this distinction we're breaking our own rules by basically ignoring settings and giving them a weaker meaning if they're inherited. There's no such thing as a setting with a weaker meaning and introducing this concept would be harmful IMO, take this example:

[code]

The natural expectation is indeed that bot

[2017-05-30 01:09] jayvdb commented on #1785
I emailed @Kuniwak late last night (local time for them).  I think give them a few more hours to respond this morning.
Otherwise, we pull the pin and release without the dependency on vint.

[2017-05-30 09:10] coala-bot opened #1788 "add VintBear again"
related to https://github.com/coala/coala-bears/issues/1785 https://github.com/coala/coala-bears/pull/1787 happened and needs to be reverted eventually when possible

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=592d370200efc2bb3eba9c10) by @sils

[2017-05-30 10:40] Monal5031 commented on #1779
Just some queries, YAMLLintBear to be added only in this repo or coala/coala too?
Also, a little explanation over `fix any style issues`, please?

[2017-05-30 12:17] jayvdb commented on #1785
https://github.com/Kuniwak/vint/pull/215 is merged.

[2017-05-30 13:55] #1785 closed

[2017-05-30 15:39] coala-bot opened #1791 "GitCommitBear: Block invalid email addresses"
e.g. https://github.com/coala/coala/pull/4148 has coala/coala@68b5b8e8 has `.. <..@localhost.localdomain>`
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=592d924938b37b98283c8945) by @jayvdb

[2017-05-30 16:58] coala-bot opened #1792 "Add waffle.io chart to readme"
Same as https://github.com/coala/coala/issues/4062 , but for the coala-bears repo.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=592da49e631b8e4e6129d8ee) by @jayvdb

[2017-05-30 21:16] Makman2 commented on #1779
only in this for now ;) not sure we have an issue at [coala/coala](https://github.com/coala/coala) and if it's necessary.

We want to check our codebase for YAML problems. If the coala run with your configured YAMLLintBear raises results, fix them accordingly :+1:

[2017-05-31 01:52] #1717 closed

[2017-05-31 02:56] #1320 closed

[2017-05-31 03:23] meetmangukiya opened #1793 "WhiteSpaceBear: Remove trailing whitespaces and trailing blank lines"
I think removing trailing whitespace exists in some bears, but is language dependent. Haven't found a bear that removes trailing blank lines though

[2017-05-31 04:08] jayvdb commented on #1793
This would go into SpaceConsistencyBear I think?

[2017-05-31 04:10] Monal5031 commented on #1779
Thanks for help 😄

[2017-05-31 04:16] meetmangukiya commented on #1793
@jayvdb yes, you are right, it should go into SpaceConsistencyBear :+1:

[2017-05-31 05:40] jayvdb commented on #294
@yash-nisar

[code]

I assume you mean `travis lint .travis.yml`.

No doubt you have seen in your analysis that this bear fails for coala and coala-bears repos.

How valuable is this linter if it fails?

Have you looked into whether those bugs have been raised upstream?
Is it likely they will be fixed soon?

Should this bear wait until those fixes are completed?

Will you add arguments to disable

[2017-05-31 05:54] jayvdb commented on #1576
This linter has extra language support with plugins

* HTML: textlint-plugin-html
* reStructuredText: textlint-plugin-rst
* AsciiDoc/Asciidoctor: textlint-plugin-asciidoc-loose
* Re:VIEW: textlint-plugin-review

That would make this very cool, especially the reStructuredText and AsciiDoc(tor) support!

[2017-05-31 17:07] refeed commented on #1782
We can use https://docs.python.org/2/library/robotparser.html for this, and with some enhancement like cache robots.txt for each site, etc..

[2017-05-31 17:34] yash-nisar opened #1795 "Implement settings for the StylintBear"
difficulty/low
area/newsettings
area/lintbears

[2017-06-01 17:26] coala-bot opened #1797 "KeywordBear: Use triple double quoted docstrings"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=59304e3602c480e67201d096) by @yash-nisar

[2017-06-02 05:06] coala-bot opened #1802 "PyImportSortBearTest.test_treat_seperated_imports_independently failing"
Test failure may be due to an upstream release. See build -> https://travis-ci.org/coala/coala-bears/jobs/238370679
difficulty/low
importance/high

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=5930f265142826e97275ad34) by @yash-nisar

[2017-06-03 10:00] RJ722 opened #1805 "Use vulture as a library rather than as a command line tool in VultureBear"
Currently, VultureBear executes vulture as follows:
[code]

vulture's utility can also be harnessed directly through `vulture.scavenge` - This would be optimal as it would save time of memory copying.

Reference:
- [VultureBear](https://github.com/coala/coala-bears/blob/master/bears/python/VultureBear.py)
- [vulture](https://github.com/jendrikseipp/vulture)

[2017-06-03 10:37] jayvdb commented on #1805
Probably a good idea to add Appveyor CI testing on vulture, to avoid any regressions from switching from Win32 command execution to python package loading.

[2017-06-03 15:14] meetmangukiya commented on #1802
See https://github.com/timothycrosley/isort/issues/559

[2017-06-03 15:14] meetmangukiya commented on #1802
It is quite strange why it has problem with `this` :/

[2017-06-03 15:15] meetmangukiya commented on #1802
Simple solution is to just substitute it with `io` insted

[2017-06-03 18:10] #1802 closed

[2017-06-04 03:54] karansangha commented on #1797
I would like to work on this.

[2017-06-04 07:42] meetmangukiya commented on #1802
The bug has been fixed upstream, however, I don't think we need to revert the change, it is still a valid test. Probably this bug might not have ever been surfaced, since no one uses this :P

[2017-06-04 14:41] #754 closed

[2017-06-04 17:32] yash-nisar opened #1807 "Add `Stylus` to readme"
Add `Stylus` to readme under the Languages supported section.
difficulty/newcomer

[2017-06-04 21:06] jayvdb commented on #1620
oh, I have seen lines with much longer than 999 chars on them.  But I guess that concept could work using a much higher value.

[2017-06-05 00:39] sgreene570 commented on #1791
Is it just me or is the commit mentioned in this issue irrelevant?  More information on this issue would be great, assuming their is a commit in coala worth noting.

[2017-06-05 04:45] meetmangukiya commented on #1791
It is just you, the commit mentioned is completely relevant, you can see the email id of that commit when you hover over an icon nearby the commit message

[2017-06-05 12:01] meetmangukiya commented on #1103
bump bump bump, I hit this again... it seems broken only on single line triple quotes

[2017-06-05 12:51] RJ722 opened #1809 "Update required version of vulture in VultureBear"
`VultureBear` currently requires vulture 0.10.0 to be installed:
[code]
vulture 0.14.0 has been released. This should be updated.

[2017-06-05 16:19] Makman2 opened #1811 "CI failing"
Seems like we have problems with `Jinja2Bear`.

See e.g. PR https://github.com/coala/coala-bears/pull/1808
Builds:
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.6618/job/hh5qt31a9vq8be4x
https://travis-ci.org/coala/coala-bears/jobs/239619674

[2017-06-05 16:23] sgreene570 commented on #1811
https://github.com/coala/coala-bears/pull/1810

[2017-06-05 16:27] refeed opened #1812 "Jinja2BearSpacingDiffTest.test_variable_spacing failing due to coalib.results.Diff.unified_diff updated on newer version of coala"
A Jinja2Bear testcase (`Jinja2BearSpacingDiffTest.test_variable_spacing`) failing due to https://github.com/coala/coala/commit/16b3938fba3464 which adds linebreaks to the `coalib.results.Diff.unified_diff()` return value.

The full log can be seen here: https://travis-ci.org/coala/coala-bears/jobs/239547559

[2017-06-05 16:29] meetmangukiya commented on #1811
dup of https://github.com/coala/coala-bears/issues/1812

[2017-06-05 16:29] #1811 closed

[2017-06-05 16:49] RJ722 commented on #1809
Since `Vulture.unused_imports` was introduced in vulture 0.12.0, it is necessary for VultureBear to be able to make use of the vulture API.

[2017-06-05 17:36] #1812 closed

[2017-06-05 19:22] #1703 closed

[2017-06-05 21:07] #1586 closed

[2017-06-06 02:48] supergr35 opened #1815 "Readme.rst: Fix stable version badge"
The badge wasn't updated as part of the release process, and currently shows 0.10.0 as the coala stable version. This should probably be added in the future, unless it was just forgotten this time.
CC: @Mixih

[2017-06-06 08:02] sils commented on #1103
you can speed this up by reviewing
https://github.com/coala/coala-bears/pull/1332

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 5 June 2017 at 14:01, Meet Mangukiya <notifications@github.com> wrote:

[2017-06-06 08:41] jendrikseipp commented on #1805
@jayvdb I guess you mean using appveyor for testing VultureBear, right?

[2017-06-06 13:34] yukiisbored opened #1817 "Feature request: FilenameBear: Prefix suffix rules"
A friend of mine wants a linter to check if the files are prefixed with a word. It'll be a nice feature to implement in FilenameBear.

[2017-06-06 20:01] supergr35 opened #1818 "Clear up cib in the docs"
Currently, cib is only listed as experimental on the repo page. It should be made clear in the docs that cib is highly experimental and will most likely not work.

[2017-06-07 09:42] jayvdb commented on #1415
Requested codecov support to help us reach this : https://github.com/codecov/support/issues/412

[2017-06-07 12:04] userzimmermann opened #1821 "StyleLintBear causes warning due to unnecessary grouping in output_regex"
[code]

It's caused by the `(\D)` in `output_regex`:

[code]

[2017-06-07 12:05] userzimmermann commented on #1821
This is already addressed by https://github.com/coala/coala-bears/pull/1819 , which will be updated to link to this issue

[2017-06-07 23:17] Makman2 opened #1823 "CSV Linting: Auto-format floating point/integer values"
E.g.
[code]
We could also enforce at least some-count-digits:
[code]
And maybe there are similar settings we could implement.

Not sure to which bear this belongs, maybe this is already supported in one of the linter bears. If not, we have to self-code this stuff ;) However, shouldn't be too complicated as Python brings built-in `csv` support.

[2017-06-08 02:07] jayvdb commented on #691
@refeed, can you check which of these examples are still a problem.
Create separate issues for any obvious distinct problems, and we'll discuss any of the less clear problems.
Then we can close this "omnibus" issue.

[2017-06-08 09:16] meetmangukiya commented on #1593
In that case we shouldn't supply a patch IMO

[2017-06-08 09:24] meetmangukiya opened #1824 "Change default remove_all_unused_import to True or don't propose a patch"
(consider a breaking change if the default was changed. (for release notes autors))

[2017-06-08 09:25] meetmangukiya commented on #1593
Created https://github.com/coala/coala-bears/issues/1824

[2017-06-08 09:26] meetmangukiya commented on #1593
For the time being, if you(anyone stumbling here) want to remove the imports, please set `remove_all_unused_imports` setting to `true/yes/..`

[2017-06-08 10:10] #1792 closed

[2017-06-08 11:56] userzimmermann opened #1825 "InferBearTest: test_invalid_files fails on Python 3.4"
From https://circleci.com/gh/coala/coala-bears/6480?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link with `pyenv local 3.4.3`:

[code]

[2017-06-08 13:56] #1728 closed

[2017-06-08 17:14] supergr35 commented on #1818
Closed since it is on the wrong repo

[2017-06-08 17:14] #1818 closed

[2017-06-09 15:16] refeed opened #1827 "InvalidLinkBear: Protocol relative URLs should be tried with http and https"
In internet, there's a link that has no `http` or `https` on it, that's called protocol relative url. For example "//domain.com/img/logo.png". Currently InvalidLinkBear couldn't detect that link is valid or not. InvalidLinkBear should check that url with http or https protocol to check its validity.

See https://github.com/coala/coala-bears/issues/691 also..

[2017-06-09 16:08] refeed opened #1828 "InvalidLinkBear: URL with xmln(s|s:\S+)= directly in front isn't necessarily valid"
URL with xmln(s|s:\S+)= directly in front isn't necessarily valid, such URLs are found in XML documents for namespacing and they're just pseudo URLs so they're false positives.

For example (taken from `InvalidLinkBearTest.py`):
[code]

From https://github.com/coala/coala-bears/issues/691

[2017-06-09 16:30] refeed commented on #1828
This issue has been fixed by https://github.com/coala/coala-bears/commit/93065208fa5be520528a26fef6fa5f92bded5263

[2017-06-09 16:30] #1828 closed

[2017-06-09 17:02] refeed commented on #691
Opened an issue for this on https://github.com/coala/coala-bears/issues/1827

That issue has been fixed in https://github.com/coala/coala-bears/commit/7f99537f706dca5c1144607e558af2fab9f51a61 by reducing the severity.

[code]
Also has been fixed, (when I run InvalidLinkBear to analyze that file, it runs correctly) I think it's fixed in https://github.com/coala/coala-bears/commit/a8e4babdde9369ada2

[2017-06-09 17:07] sils commented on #691
ok then this can be closed with only https://github.com/coala/coala-bears/issues/1827 left right? Thanks a lot for the investigation, that's what was needed here.

[2017-06-09 17:07] #691 closed

[2017-06-09 17:10] refeed commented on #691
Right :)

[2017-06-10 09:58] jayvdb commented on #1593
@adhikasp , that has been closed, but we are still seeing this problem.
Could you look at this again please.

[2017-06-10 11:56] RJ722 commented on #1805
Nope, I confirmed!

[2017-06-10 17:40] satwikkansal opened #1831 "Bear proposal: ManPageLintBear"
I was reading up https://lists.gnu.org/archive/html/groff/2016-06/msg00007.html and found a couple of interesting tools to lint man-pages.

Igor:  http://www.wonkity.com/~wblock/igor/
Mdoclint:  http://cvsweb.netbsd.org/bsdweb.cgi/pkgsrc/textproc/mdoclint/

Files like `package.json` contain fields for man-pages, may be we can extract man pages info from such files and then feed it into these linte

[2017-06-11 11:12] adhikasp commented on #1593
@jayvdb
I tried the problematic snippet above and coala already propose the correct patch. What are the problem here?

[2017-06-11 13:13] userzimmermann commented on #1593
@adhikasp The problem is that https://github.com/coala/coala/pull/3886 only sets `remove_all_unused_imports = true` in our own `.coafile`. That's why you also get correct results when you run `coala` in its own repo. But to really solve the problem, `remove_all_unused_imports` should be `true` by default for `PyUnusedCodeBear`

cc @jayvdb

[2017-06-11 14:26] meetmangukiya commented on #1593
yup, being done in
https://github.com/coala/coala-bears/issues/1824

[2017-06-12 02:29] #1815 closed

[2017-06-12 08:04] mridubhatnagar commented on #1723
Missing coverage 9-15.

[2017-06-12 08:14] AMR-KELEG commented on #1817
I would  like to work on the issue.
Do you think it would be better if i added a param check_prefix to the FilenameBear or add a new separate bear?

[2017-06-12 09:18] yukiisbored commented on #1817
@AMR-KELEG You can just have settings like `prefix` and `suffix` and will check for those if exists.

[2017-06-12 09:25] mridubhatnagar commented on #1824
What else is required to be done in this one? .  Should the patch option be removed as well ?

[2017-06-12 10:14] meetmangukiya commented on #1824
nope, just change the default, one issue at a time :wink:

[2017-06-12 14:27] AMR-KELEG commented on #1817
![coala](https://user-images.githubusercontent.com/8365743/27038477-70cbae60-4f8b-11e7-8e4f-ee8317dd7a94.png)
I used the yield Result -as in the FilenameBear- to generate this dialog.
Is the shown dialog appropriate?

[2017-06-12 14:49] jendrikseipp commented on #1805
Can you clarify, please? What exactly should be tested with appveyor?

[2017-06-12 19:44] mridubhatnagar commented on #1593
@userzimmermann in the review you suggested to make changes in the docstring. But when I changed the default remove_all_unused_imports = True now also only uneeded builtin imports are getting removed.

I added 2 unused imports in PyUnusedCodeBear.py.
import time
from rstcheck import check

So, it suggested the patch for only "time" as it is builtin .
So the explaination in docstring seems right to

[2017-06-12 19:55] mridubhatnagar commented on #1824
@userzimmermann in the review you suggested to make changes in the docstring. But when I changed the default remove_all_unused_imports = True now also only uneeded builtin imports are getting removed.

I added 2 unused imports in PyUnusedCodeBear.py.
import time
from rstcheck import check

And ran coala.
So, it suggested the patch for only "time" as it is builtin .
So the explaination in docstring

[2017-06-12 20:58] userzimmermann commented on #1824
@mridubhatnagar But then the whole change would make no sense ;) And when I checkout your branch from https://github.com/coala/coala-bears/issues/1829 and add those imports to **PyUnusedCodeBear.py** and run

[code]

I get

[code]

How did you run `coala`?

Are you sure that the `PyUnusedCodeBear` is taken from your repo? Have you installed the `coala-bears` package from PyPI in your Python enviro

[2017-06-12 21:04] userzimmermann opened #1832 "PyUnusedCodeBear.run() docstring must be changed according to default remove_unused_variables=True"
Current docstring:

[code]

The `... is limited to:` list must be extended and `:param remove_unused_variables:` must focus on the `False` alternative

This is related to https://github.com/coala/coala-bears/issues/1824 and https://github.com/coala/coala-bears/pull/1829 , which are about setting also default `remove_all_unused_imports=True`

cc @meetmangukiya

[2017-06-12 21:06] userzimmermann commented on #1824
@mridubhatnagar BTW: Good that you mentioned the docstring again :) So I realized that it also doesn't reflect the default `remove_unused_variables=True`. I created https://github.com/coala/coala-bears/issues/1832 for that and assigned it to you

[2017-06-13 04:55] prachi1210 commented on #1729
Hi, I'd like to work on this issue

[2017-06-13 05:52] Anirudh257 commented on #1807
Hey, I would love to work on this

[2017-06-13 06:49] mridubhatnagar commented on #1824
No. I guess I had done none of the things you mentioned above.
I had just cloned the coala-bears repo and run coala in it.

[2017-06-13 07:01] jayvdb commented on #1807
@Anirudh257 this issue is assigned to @sgreene570 .  You'll need to find another [newcomer](http://coala.io/new) issue ;-)

[2017-06-13 07:52] yash-nisar commented on #1729
Hey @prachi1210, what is it that you would like to know ?

[2017-06-13 08:45] Anirudh257 commented on #1807
Sorry

[2017-06-13 11:41] yukiisbored commented on #1817
@AMR-KELEG It looks okay, but I think "The filename doesn't use the '<prefix goes here>' prefix" would be better because it doesn't makes the user confused.
Also, euhm I think "is not" is a grammar issue

[2017-06-13 14:08] Makman2 commented on #1805
I think he meant we should encourage the guys from vulture to run tests also on AppVeyor for Windows^^ Misunderstood myself^^

[2017-06-13 14:09] Makman2 commented on #1805
Could be made into a new issue though (encouraging vulture to introduce AppVeyor tests)^^

[2017-06-13 14:09] Makman2 commented on #1805
@RJ722 please assign yourself if you are working on the issue :+1:

[2017-06-13 15:34] #1795 closed

[2017-06-13 17:58] jayvdb commented on #1564
Given the undesirable discussion that occurred on this issue, I am closing it.  Create a new issue (and mention this one) if there is still a bug to be solved.

[2017-06-13 17:58] #1564 closed

[2017-06-13 18:10] coala-bot opened #1834 "Add `use_spaces: bool=False` to DocumentationStyleBear."
It already has a support for `indent_size` add `use_spaces: bool=False`

Opened via [gitter](https://gitter.im/coala/coala/?at=59402a9a6549436c7d44413a) by @damngamerz

[2017-06-13 18:10] damngamerz commented on #1834
CC @jayvdb

[2017-06-13 21:41] #1805 closed

[2017-06-14 00:48] Makman2 commented on #1805
@jendrikseipp I haven't seen that you are actually the owner of `vulture` 😅

[2017-06-14 04:20] yash-nisar opened #1837 "Enhance StyleLintBear"
Some features that might be added are :
* Settings that we can have control over via our `.coafile`
* Documentation of these settings explaining the user various rules and the values that each rule takes. (See `StylintBear` for reference)

difficulty/low
area/lintbears
size/L

[2017-06-14 04:22] coala-bot opened #1838 "Bear Proposal: SortedBear"
A Bear that checks if the content of the file are alphabetically asc/desc ordered is useful for CSV files or something familiar. To make it more useful for CSV files, we can have a separator character setting and which column should be sorted.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5940ba12142826e972b267f8) by @yukiisbored

[2017-06-14 04:24] jayvdb commented on #1838
To be valid for CSV, we would need a CSV language that describes the string quoting used for CSV files.

[2017-06-14 04:33] yash-nisar opened #1839 "Performance improvement for RubocopBear"
We should only generate the `config_file` if `rubocop_config` is not given as an argument. In this case, the `config_file` is generated everytime.

See [this](https://github.com/coala/coala-bears/blob/master/bears/js/JSHintBear.py#L319-L391) for reference.

difficulty/low
area/lintbears
size/S

[2017-06-14 08:18] #1739 closed

[2017-06-14 17:20] #1725 closed

[2017-06-15 05:37] jayvdb commented on #1839
Copying parts of https://github.com/coala/coala-bears/pull/1841#pullrequestreview-44208692 that are more relevant for further discussion even after that PR is merged.

It looks like you might be solving #1077

More broadly, is this a performance problem affecting all bears that use a config file?
Is it documented that bears should do this when they have a config file?
Is this the only bear which d

[2017-06-15 06:51] jayvdb commented on #1839
some answers at https://github.com/coala/coala-bears/pull/1841#issuecomment-308641115

@yash-nisar , which other bears have this problem?  Can you create 'low' bugs for them, and use your PR as an example for them to follow.

[2017-06-15 07:40] #1839 closed

[2017-06-15 13:48] mridubhatnagar commented on #1824
When I run coala using the command you mentioned. The output remains the same.
[code]

[2017-06-15 14:21] mind-warrior opened #1842 "Issues while installing cola-bears cloned repo with "pip install . " (Windows 7 amd arch x64)"
9999999999)
Requirement already satisfied: coala-utils~=0.6.2 in c:\program files\python36\l
ib\site-packages (from coala>=0.12.0.dev20170604215434->coala-bears==0.12.0.dev9
9999999999999)
Requirement already satisfied: unidiff~=0.5.2 in c:\program files\python36\lib\s
ite-packages (from coala>=0.12.0.dev20170604215434->coala-bears==0.12.0.dev99999
999999999)
Requirement already satisfied: PyPrint

[2017-06-15 14:25] yash-nisar commented on #1842
Can you use pastebin to post this output ? This seems to be cluttered here and difficult to read too. :wink:

[2017-06-15 15:15] jayvdb commented on #1842
This is a problem with installing lxml on Windows, as it depends on libxml2.
You can see our AppVeyor builds install lxml without drama using a wheel (whl):
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.6805/job/koss19547tb20e8o#L55

It is not a bug in coala or coala-bears.  At best we can improve our documentation, which is https://github.com/coala/documentation/issues/447

You can

[2017-06-15 15:15] #1842 closed

[2017-06-15 16:25] yash-nisar opened #1843 "Bear Proposal: RousseauBear"
https://github.com/GitbookIO/rousseau

difficulty/low
area/lintbears

[2017-06-15 17:32] mridubhatnagar commented on #1832
Just for the sake of checking behavior. I tried changing the default of remove_all_unused_variable to False. And ran coala. This way also it removed the unused import. And when I again set the value back to True it then also removed the unused import. What's the difference?

[2017-06-15 23:05] Makman2 opened #1846 "FilenameBear: Move code"
https://github.com/coala/coala-bears/blob/master/bears/general/FilenameBear.py#L74-L75 should be moved to https://github.com/coala/coala-bears/blob/master/bears/general/FilenameBear.py#L49. The condition comes way too late and can be execute earlier^^

This is the relevant code (in case the links do not point to the correct locations any more):
[code]
should be moved after this statement:
[code]

[2017-06-15 23:19] Makman2 commented on #1843
Aren't you going to cover support for Rousseau with your coming `TextLintBear`?

[2017-06-16 05:47] yash-nisar commented on #1843
Yes, we are going to cover support for Rousseau, so should we drop the idea of a dedicated `RousseauBear`?

I thought of having this since we have dedicated `AlexBear`, `WriteGoodLintBear`, etc. You can close the issue this is redundant :wink:

CC @Makman2

[2017-06-16 05:51] alexkassil commented on #1846
I will take this on!

Please review #1847

[2017-06-16 07:05] yash-nisar commented on #1846
Please go through https://coala.io/newcomer and assign the issue to yourself on our gitter channel via `cobot`.

[2017-06-16 10:19] coala-bot opened #1848 "LanguageToolBear: Auto language guessing guessed invalid language --> throwing an error"
This is coala 0.11.0
The bear does not yield anything even when given files that contain a lot of spelling errors.

type/bug

Opened via [gitter](https://gitter.im/coala/coala/?at=5943b0cef6a78eab485414be) by @sims1253

UPDATE (by @Makman2):
The results were swallowed by an exception. The language-guessing function of the bear returned `st` which seemed to be invalid. Tested on docker image `coala

[2017-06-16 16:44] coala-bot opened #1849 "Bear Proposal: Hadolint for Dockerfiles"
https://github.com/lukasmartinelli/hadolint

Opened via [gitter](https://gitter.im/coala/devops/?at=59440b08e531dbc905ed6550) by @yukiisbored

[2017-06-16 16:46] yukiisbored commented on #1849
I personally need it for https://github.com/coala/devops because the current one we have is pretty bad.

[2017-06-16 20:41] userzimmermann commented on #1832
Like the name implies, `remove_unused_variables` is about unneeded variables, not unneeded imports ;)

Let's take a sample **fancy_seven.py** :)

[code]

When we run `coala -I --bears PyUnusedCodeBear --files fancy_seven.py` we get:

[code]

With `remove_unused_variables=False` there is no patch at all

cc @meetmangukiya

[2017-06-16 20:54] userzimmermann commented on #1824
Please leave the `coala-bears` directory and paste me the output of the following command run from your command line:

`echo %cd% && python -c "print(__import__('bears').__file__)"`

[2017-06-16 21:02] meetmangukiya commented on #1832
@userzimnermann isn't that the expected behavior?

[2017-06-16 21:27] userzimmermann commented on #1832
@meetmangukiya It is! Exactly :) But @mridubhatnagar mixed it up a bit with imports, so I wanted show what it's actually about ;)

[2017-06-17 12:39] Makman2 commented on #1843
Yeah I think if we don't have a good reason for now, let's close. Saves effort :)

[2017-06-17 12:39] #1843 closed

[2017-06-17 13:28] Makman2 commented on #1848
Could you post a sample file and sample coafile?

[2017-06-17 16:37] #1576 closed

[2017-06-17 16:51] yash-nisar opened #1850 "WriteGoodLintBear: Change setting docstring"
Change
Allows ``weasel words`` for example ``often``, ``probably``
to
Allows "weasel words", for example "often" or "probably".
We should use regular double quotes as those are words referring to standard prose and not specific technical/informatics term.

difficulty/newcomer

[2017-06-17 16:54] yash-nisar opened #1851 "WriteGoodLintBear: Change backticks to double quotes"
We should use regular double quotes as those are words referring to standard prose and not specific technical/informatics term below:
[code]
difficulty/newcomer

[2017-06-17 23:53] #1779 closed

[2017-06-18 08:39] coala-bot opened #1853 ".rultor.yml install doesnt save get-pip.py properly"
importance/high

Opened via [gitter](https://gitter.im/coala/coala/?at=59463c526549436c7d5b8360) by @jayvdb

[2017-06-18 10:48] sims1253 commented on #1848
I guess
[code]

[code]

[2017-06-18 13:36] Makman2 commented on #1848
Tested on some 0.12.dev version, and it seems to work alright in the docker image except that I had to provide a language manually (as it tried to guess a language `st` which has thrown an error in the bear as this language is unsupported).

[2017-06-18 14:43] mridubhatnagar commented on #1824
[code]

[2017-06-18 14:55] S2606 commented on #1851
I would love to contribute to this.Pls assign it to me

[2017-06-18 14:56] yash-nisar commented on #1851
You've already worked on a newcomer issue right ?

[2017-06-18 16:47] rahuldecoded commented on #1851
@yash-nisar Can I work in this?

[2017-06-18 16:51] yash-nisar commented on #1851
@rahuldecoded You've also done a newcomer issue right ?

[2017-06-18 16:54] rahuldecoded commented on #1851
@yash-nisar Yup! Just 10 mins back. I've been reading about Coala. Can you share come important resources to get started with Coala.

[2017-06-18 17:00] yash-nisar commented on #1851
Sorry, we do not allow more people to do more than 1 newcomer issue because it is a lot of work to search and file them. Newcomer issues are basically meant to get you accustomed to the workflow at coala. You could do a `difficulty/low` issue instead.

Here are the docs to get you started :
* http://api.coala.io/en/latest/
* http://coala.readthedocs.io/en/latest/Users/Tutorial.html

Also, you can

[2017-06-18 17:02] rahuldecoded commented on #1851
Thank you.  :+1:

[2017-06-19 05:01] mridubhatnagar commented on #1832
@userzimmermann Even on doing remove_unused_variables= False. The variable is getting removed. I am on windows.
[code]

[2017-06-19 05:06] mridubhatnagar commented on #1832
Yeah, sorry understood the mistake in my very first comment. I meant variables only. Above snippet shows. Even on setting remove_unused_variables = False. There is a patch being proposed.

[2017-06-19 05:36] yash-nisar commented on #1729
We need this to be done a high priority basis because it is holding https://github.com/coala/coala/issues/2197

[2017-06-19 06:35] prachi1210 commented on #1729
Hey can you please review my PR?https://github.com/coala/coala-bears/pull/1833

[2017-06-19 06:37] yash-nisar commented on #1729
I've requested changes, see https://github.com/coala/coala-bears/pull/1833#pullrequestreview-44754158

[2017-06-19 07:24] prachi1210 commented on #1729
@yash-nisar done

[2017-06-19 07:59] yash-nisar commented on #1729
Perfect :+1:

[2017-06-19 08:09] yash-nisar commented on #1729
@jayvdb had mentioned that :

Seems that you have missed some of the files where I can still see the usage of `check_validity(..,valid=False)`. To make things easier for you, here is a list of bear tests that need changes :

- tests/apertium/ApertiumLintBearTest.py
- tests/c_languages/CSharpLintBearTest.py
- tests/css/StyleLintBearTest.py
- tests/general/FilenameBearTest.py
- tests/general/SpaceCo

[2017-06-19 10:56] coala-bot opened #1856 "Add a setting to expand one-liners or not."
DocumentationStyleBear right now expands one-liners to multi string. It must be optional and hence add a setting to comprehend it.

Opened via [gitter](https://gitter.im/coala/coala/?at=5947adde6549436c7d60d257) by @damngamerz

[2017-06-19 11:12] coala-bot opened #1857 "DocumentationStyleBear tests will fail."
As a major change is being implemented to `DocumentationAPI`, `TextPosition` is now accepted by `DocumentationComment` instead of `range`. Add the comprehending changes to fix them.

Opened via [gitter](https://gitter.im/coala/coala/?at=5947b1a6142826e972cd47d8) by @damngamerz

[2017-06-19 11:56] prachi1210 commented on #1729
Updated the PR to reflect these

[2017-06-20 00:29] jayvdb commented on #264
The other `os.chdir` within `GitCommitBearTest.py`'s `test_different_path` can be easily changed to using a context manager.

However `os.chdir` inside the `setUp`/`tearDown` can not be easily replaced with a context manager using `with`.  To use a context manager split across two methods like this, one method must call the `__enter__` and the other must call the `__exit__`.

[2017-06-20 11:25] sims1253 commented on #1848
when i give the bear a language it works too. So I guess the language setting should not be optional

[2017-06-20 11:32] Makman2 commented on #1848
Imo we should just improve the language detection. It's sane to guess the language from system defaults^^

[2017-06-20 11:36] Makman2 commented on #1848
Or we should fail guessing the language with an error to the user, saying he/she shall explicitly set the language.

[2017-06-20 13:57] Makman2 commented on #264
We can use an `ExitStack` for that :+1:

[2017-06-21 09:29] yukiisbored commented on #1259
coala's `dependency_management` is still not ready for systems that doesn't have supported package managers. Related issue: https://gitlab.com/coala/package_manager/issues/144

[2017-06-21 13:24] userzimmermann commented on #1824
@mridubhatnagar And there you see the problem: `coala-bears` is installed in your `site-packages`. So you can change as much as you want in your repo... The bears will always be taken from `site-packages`

So `pip uninstall coala-bears` and `pip install -e .` in your repo directory

[2017-06-21 13:38] userzimmermann commented on #1832
@mridubhatnagar See https://github.com/coala/coala-bears/issues/1824#issuecomment-310077069 :)

[2017-06-21 13:39] sils commented on #1824
there's a development setup page at least

Write your blog post...

[2017-06-21 15:23] mridubhatnagar commented on #1824
@userzimmermann Thanks. Changes work as expected now. :)

[2017-06-21 16:51] mridubhatnagar commented on #1824
Yes, the development setup page mentions this step http://api.coala.io/en/latest/Developers/Development_Setup.html.
Sorry, I had just forked and cloned the repo and started working.

[2017-06-22 01:26] Makman2 commented on #1824
I think installing the repo as a dev-installation is not always best. I usually prefer installing it manually as I work mostly on components, and only tests are important for me. Then I use sometimes coala normally as a tool. I already wondered sometimes why coala crashed, and forgot that I installed it ages ago as a dev-version which has picked up my recent not-yet-ready changes ;)

[2017-06-22 01:27] Makman2 commented on #1824
Anyway, please open a different issue for this if you want it dev-install instructions to be mandatory :)

[2017-06-23 01:47] jayvdb commented on #1853
This was caused by https://github.com/coala/coala-bears/pull/1799 , and found by @bekicot when doing https://github.com/coala/coala/pull/4374

[2017-06-23 06:52] mridubhatnagar commented on #1733
@akohli96 hey, if you are done with the changes. Then you must raise a PR. For your changes to get reviewed by the community.

[2017-06-23 08:02] jayvdb commented on #1853
There is a more fundamental issue.  The .rultor.yml here was copied from coala/coala, and coala/coala@f0282940db of https://github.com/coala/coala/pull/826 should have removed the pip line which is now broken.

We rely on the docker https://github.com/coala/rultor-python/ working, and it installs `pip3`.  If that breaks, something is truly broken (The docker script includes `RUN pip3 install setup

[2017-06-23 16:37] jayvdb opened #1863 "Forced installaton of language-check 0.8 on CircleCi"
8dd45e35 allowed Python `language-check` to be an optional dependency for coala-bears, and added an explicit install of language-check 0.8 to `.ci/deps.sh`, and this chunk of installation code has only been used on Circle CI.

8de73db98 upgraded LanguageToolBear from 0.8 to 1.0, but didnt update this line in `.ci/deps.sh`.

b2d8fa97a8 recently split the Python depends from `.ci/deps.sh` to `.ci/de

[2017-06-23 16:42] jayvdb commented on #1809
https://github.com/coala/coala-bears/pull/1814 is merged, and completed this task.

[2017-06-23 16:43] #1809 closed

[2017-06-23 16:55] jayvdb commented on #1863
There are many CircleCI timeouts/failures at the moment, but I'll list mine here only because they are very recent and show the problem

- https://circleci.com/gh/jayvdb/coala-bears/763 : died in `pip install -r requirements.txt`
- https://circleci.com/gh/jayvdb/coala-bears/764 : died in `pip install 'language_check==0.8.*'`

[2017-06-23 17:21] jayvdb commented on #1161
The problem with the current patch is that we do not want to allow VCS links into releases (we want wheels! https://github.com/coala/coala-bears/issues/1436), so the solution for this issue should not allow it to happen, otherwise it will happen accidentally, which is essentially a busted release.

[2017-06-23 18:11] jayvdb opened #1864 "Travis CI Python 3.6 errors for Apertium Lint"
There are now five builds on Travis CI Python 3.6 which all have a problem with `ApertiumLintBearTest.test_run`, which isnt occurring on Circle CI

https://travis-ci.org/coala/coala-bears/jobs/246104800
https://travis-ci.org/coala/coala-bears/jobs/246287726

https://travis-ci.org/jayvdb/coala-bears/jobs/246104306
https://travis-ci.org/jayvdb/coala-bears/jobs/246271994
https://travis-ci.org/jayvdb/

[2017-06-23 18:19] jayvdb commented on #1864
https://pypi.python.org/pypi/apertium_lint is still 0.4 from 2017-04-10, so that isnt the source of the problems.

The failing builds are all Python 3.6.0 , released 2016-12-23, so that shouldnt be the source of new failures.

[2017-06-23 18:35] jayvdb commented on #1864
It first occurred on https://travis-ci.org/coala/coala-bears/jobs/246009446#L3688 , 19 hours ago.  That uses coala-0.12.0.dev20170622121840-py34.py35.py36-none-any.whl

The previous build, green, was coala-0.12.0.dev20170614091755-py34.py35.py36-none-any.whl , so if it was upstream in coala it occurred between 20170614 and 20170622 . There are only a few commits in that time period, and none looks

[2017-06-23 19:34] jayvdb commented on #1864
Using Python 3.6.1 fixes the problem: https://travis-ci.org/jayvdb/coala-bears/builds/246319406 :/

[2017-06-23 20:19] jayvdb commented on #1864
This appears to be related to the newly launched Trusty images https://blog.travis-ci.com/2017-06-21-trusty-updates-2017-Q2-launch , as the previous green build was using the old image, and the erroring builds mentioned above all use the new workers.

[2017-06-24 06:10] #1853 closed

[2017-06-24 06:10] #1863 closed

[2017-06-24 11:18] jayvdb opened #1865 "Timeouts installing language-check"
Even after https://github.com/coala/coala-bears/issues/1863 is fixed, we are seeing lots of timeouts whilst installing language-check, especially on Appveyor now.
https://ci.appveyor.com/project/coala/coala-bears/history

The one upstream solution which directly addresses this problem is https://github.com/myint/language-check/issues/44 .

Another upstream solution is https://github.com/myint/lang

[2017-06-24 16:05] #1832 closed

[2017-06-25 03:08] coala-bot opened #1866 "bear proposal https://github.com/FriendsOfPHP/PHP-CS-Fixer"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=594f294711755ab0561c92de) by @jayvdb

[2017-06-25 08:44] RJ722 opened #1867 "Implement confidence values in VultureBear"
`VultureBear` should report confidence values along with it's results.

CC @jayvdb @jendrikseipp

[2017-06-25 09:47] yash-nisar commented on #1730
Still on it @shravandoda ? This is a high priority issue so we need this to be done asap.

[2017-06-25 14:50] #1857 closed

[2017-06-26 00:59] coala-bot opened #1869 "bear proposal https://github.com/wooorm/rehype-format"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=59505c86ad9c7818439d0753) by @jayvdb

[2017-06-26 01:01] jayvdb commented on #1869
This is another framework by wooorm, like remark which we use for markdown. Good to get on board early.

[2017-06-26 02:37] jayvdb commented on #1548
Latest release is 0.49.1

[2017-06-26 08:43] jayvdb commented on #1865
I believe a solution is to downgrade pip to 8.x, as https://github.com/pypa/pip/pull/3858 is hiding the percentage indicator that language-check provides to keep CI happy.

[2017-06-26 11:31] #1867 closed

[2017-06-27 13:55] yash-nisar opened #1870 "execute_bear: Improve AssertionError message generation"
Instead of raise
[code]
use
[code]
so if `msg` is maybe really empty, we don't have a superfluous `\n`

type/test
area/tests

[2017-06-27 14:17] yash-nisar commented on #1870
Shit, how did I open this in the wrong repo !!!!! A very irresponsible act by me.

[2017-06-27 14:17] #1870 closed

[2017-06-28 07:05] jayvdb opened #1871 "LinkBear"
As a partial step towards https://github.com/coala/coala-bears/issues/1322 , possibly building https://github.com/coala/coala-bears/issues/1319 nicely, and generally improving link handling, we need a "link status bear" or "link bear" which extracts all links from a file and stores information about those links in a re-usable manner.  Then `InvalidLinkBear` and `MementoBear` and other link analysi

[2017-06-28 14:16] #1824 closed

[2017-06-29 23:14] meetmangukiya commented on #1760
Bump: This actually breaks `coala --json`, try running `coala --json` and see this popping. No problem with it occuring, but it actually prints to stdout. So reading the json doesn't work, since the parser throws an error then!

[2017-06-30 09:43] koniiiik opened #1874 "PyImportSortBear does not support additional sections"
Vanilla isort supports [custom sections](https://github.com/timothycrosley/isort#custom-sections-and-ordering) with the `known_<name>` and `sections` configuration arguments. This is, as far as I can tell, currently not supported by the ByImportSortBear.

It's a bit tricky, since vanilla isort uses what basically amounts to variable kwargs for the section definitions, where each key has a list of

[2017-06-30 15:45] co-robo opened #1875 "Bear Proposal: checkbashisms"
https://software.opensuse.org/package/checkbashisms
difficulty/low
Opened via [gitter](https://gitter.im/coala/coala-bears?at=5956720797cedeb04825af79) by @jayvdb

[2017-06-30 20:54] meetmangukiya commented on #1760
Nevermind, I think I was using it wrong way, one can use `
coala --json --log-json` to get the logs in json as well

[2017-07-01 00:54] gaocegege opened #1876 "LatexLintBear: Format error"
Hi, I find a weird thing in LatexLintBear:

[code]

There is a `n` after the message, but I am not sure if we should remove or replace it with `\n`

And, you can see that there is `.!` at the end, I am not sure whether it is a bug or feature.

[2017-07-01 00:54] gaocegege commented on #1876
#dibs #1873

[2017-07-01 01:50] jayvdb commented on #1747
I got the same error with an older version of the package : https://travis-ci.org/jayvdb/docker-coala-base/builds/248989641

[2017-07-01 03:18] jayvdb commented on #1552
I've confirmed that it works on Python 3.4.1, but [Travis doesnt have 3.4.0](https://travis-ci.org/jayvdb/yapf/jobs/249014379), so cant easily check what is causing that to fail.

[2017-07-01 03:20] jayvdb commented on #1552
The broken dependency is lib2to3 ; see https://github.com/google/yapf/commit/a7bfe7e093b41a9dd

[2017-07-01 04:38] jayvdb opened #1877 "ApertiumLintBear: Broken unicode in docstring"
95b85f50 includes lots of `<U+00AD>` and smart quotes `‘sl’ or ‘tl’`

[2017-07-01 09:35] jayvdb commented on #1322
There are many free webpage archiving services, but there does not appear to be a common API for submitting archiving requests.

See https://en.wikipedia.org/wiki/List_of_Web_archiving_initiatives  .

Many use the WaybackMachine software, so it should be possible to switch between different Wayback-powered archiving service with this bear.
(maybe that should be a separate bug?)

The other services

[2017-07-01 15:53] Makman2 opened #1880 "master build is red"
The master builds are failing, and now I get on one PR the same error:
https://circleci.com/gh/coala/coala-bears/6674?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

(For PR https://github.com/coala/coala-bears/pull/1836#issuecomment-312147321)

[2017-07-01 17:38] jayvdb commented on #1880
Probably fixed by https://github.com/coala/coala-bears/pull/1872

[2017-07-01 17:47] Makman2 commented on #1552
We shouldn't reject 3.4.0 carelessly. Though 3.4.1 would be fine imo, as it's still the same major version.

My first idea popped into my head was also version management for the python version used to run coala, but I don't like that, that is so super much work and only useful in rare cases.

[2017-07-01 17:49] Makman2 commented on #1876
Sounds like we need to adapt the regex.

Btw: Why does the `+` indicate a patch there? That looks kinda bad :O Or is that a typo @gaocegege ?

[2017-07-01 17:51] Makman2 commented on #1760
Dynamic dependency handling might be improved by https://github.com/coala/coala/issues/4436

[2017-07-01 17:58] Makman2 commented on #1874
Those settings don't sound bad.

Maybe we can merge the `import_section_order` into `additional_import_sections` by exploiting the order of those section definitions?

Does this setting only create aliases for those sections?

[2017-07-01 18:39] #1693 closed

[2017-07-01 19:20] #1729 closed

[2017-07-01 23:38] jayvdb commented on #1880
Seems fixed.

[2017-07-01 23:38] #1880 closed

[2017-07-02 01:20] gaocegege commented on #1876
Hi @Makman2 There is no + in the message, I uses diff to show the line clearly.

[2017-07-02 01:50] Makman2 commented on #1876
@gaocegege Don't insert special characters for such scenarios ;) That's often confusing :)

[2017-07-02 02:20] gaocegege commented on #1876
Yeah, sorry for that

[2017-07-02 11:05] yash-nisar commented on #1730
This can be closed since everything has been fixed in https://github.com/coala/coala-bears/pull/1833.

CC @jayvdb

[2017-07-02 11:13] yash-nisar commented on #1730
I'm taking this up because this issue is not being worked upon and it is holding my GSoC project :smile:

[2017-07-02 11:25] meetmangukiya commented on #1730
Assigned @yash-nisar :+1:

[2017-07-03 02:43] appi147 commented on #1807
Can I do this?

[2017-07-03 05:51] yash-nisar commented on #1807
Sure, use `corobo` and assign yourself by typing in `corobo assign https://github.com/coala/coala-bears/issues/1807` on https://coala.io/chat

[2017-07-03 13:19] koniiiik commented on #1874
Thing is, `import_section_order` would correspond to the `sections` isort setting, which includes the predefined ones (FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER), and (some of) those already have separate config options in the bear for lists of known package names that belong in them.

I'm sorry, I don't understand the question. This would correspond to the `import_heading_<name>` isort sett

[2017-07-04 02:53] supergr35 opened #1884 "README.rst: Remove mentions of cib"
cib is broken and should not be recommended to users. Therefore the section should be removed.

[2017-07-04 04:23] refeed opened #1885 "KeywordBearTest: Missing language setting in test"
`KeywordBear` is a dependent bear which depends on `AnnotationBear`. One KeywordBearTest is failing in CI right now, see the log [here](https://travis-ci.org/coala/coala-bears/jobs/249635800).

The test which is failing is using `LocalBearTestHelper.verify_local_bear` in `KeywordBearTest.py:20`. It's passing before https://github.com/coala/coala/commit/633f6e5bd5d824fb2d9333129d3e111acc1917ed is m

[2017-07-04 07:56] jayvdb commented on #1613
It should add a requirement on the Julia package called 'Lint'

[2017-07-04 09:42] mridubhatnagar commented on #1723
Can someone please help me with this. I am unable to get 100% code coverage. And not sure if changes are right or not.

[2017-07-04 15:40] IpshitaC commented on #1402
Hi! Sorry for the inactivity. Was caught up with some university work.
I have gone through the Writing Linter Bears documentation and getting a hang of things and have tried running flog on different ruby codes. I want to know whether I am correct on the following points -

1. This bear needs to be implemented to show score at the method level.

2. Bear shows the user the methods which are above a

[2017-07-04 16:10] #1885 closed

[2017-07-05 05:36] yash-nisar opened #1888 "RuboCopBear: Missing documentation"
Missing documentation of `rubocop_config: str=''` in `create_arguments(...)`.

difficulty/newcomer
area/documentation

[2017-07-05 11:30] RJ722 opened #1891 "VultureBear does not use unused_classes"
After this PR -https://github.com/jendrikseipp/vulture/pull/64 - got merged, vulture changed the API to store `unused_classes` in a separate list.`VultureBear` should be refactored to respect these changes.

[2017-07-05 11:32] RJ722 commented on #1891
CC @jayvdb @jendrikseipp

[2017-07-05 14:26] #294 closed

[2017-07-05 15:03] meetmangukiya opened #1892 "Dependent Bears' non_optional_settings should be inherited in the Dependee Bears' non_optional_settings"
E.g. `KeywordBear` depends on `AnnotationBear` but if you check `coala --show-details --show-bears -l general`, you'll see that the setting `language` doesn't show up in `KeywordBear`, and hence it shows that there are 0 `non_optional_settings` which is completely false.

Why important : Users might be wondering why it doesn't work, but the docs don't mention that there's a required setting?

[2017-07-05 18:25] #1807 closed

[2017-07-05 18:46] Makman2 commented on #1892
Sounds like a bug.

[2017-07-06 07:05] #1871 closed

[2017-07-06 10:58] refeed opened #1894 "URLBear: Make URLBear.check_connection_url a setting instead of a hidden constant"
Currently in `URLBear.py`, `check_connection_url` is a hidden constant, we need it to be a setting instead, so user can change it. See https://github.com/coala/coala-bears/pull/1889#discussion_r125608081

[2017-07-06 11:16] refeed opened #1895 "MementoBear: Create a new default ignore list which is only used by MementoBear"
Before #1889 is merged there is a `DEFAULT_IGNORE` in `MementoBear` which its value is `http://web.archive.org/*`, it's used for ignoring urls like `web.archive.org` to be ignored by default. Now #1889, is merged, and `DEFAULT_IGNORE` is removed, because of `URLBear`. We need to add a mechanism to ignore the url by default like before.

See https://github.com/coala/coala-bears/pull/1889#discussion

[2017-07-06 20:39] #1548 closed

[2017-07-07 10:22] yash-nisar commented on #940
Can be closed, fixed in https://github.com/wooorm/remark/commit/a93cdab5c8e81f60edc1403619850c688205499e

[2017-07-07 10:23] yash-nisar commented on #1179
Note that I've opened an upstream issue for the external plugin `remark-lint-no-trailing-spaces` [here](https://github.com/verekia/remark-lint-no-trailing-spaces/issues/2).

[2017-07-07 13:27] yash-nisar commented on #1008
The description seems to be a bit ambiguous, the functionality looks good IMO.
If `loose_tables` is set to `True`, we get rid (i.e. don't use pipes) of the outermost pipes of a table.
So,
[code]
gets modified to
[code]

[2017-07-07 13:29] yash-nisar commented on #1008
CC @Makman2

[2017-07-07 13:29] yash-nisar commented on #940
CC @Makman2

[2017-07-07 13:57] yukiisbored opened #1897 "PEP8Bear: Show PEP8 error description"
Originally created by @TheMeaningfulEngineer https://github.com/coala/coala/issues/2511

### Overview Description

Coala doesn't give a description of the error what PEP8 does.
# Steps to Reproduce

Files:

example.py

[code]

.coafile

[code]
# Actual Results

[code]
# Expected Results

It would be nice to get the error description which PEP8 gives somewhere.

[code]

[2017-07-07 14:00] yukiisbored commented on #1897
TL;DR Make PEP8Bear give error descriptions from PEP8 instead of just saying `This code does not comply to PEP8`

[2017-07-07 14:06] yash-nisar commented on #924
@Makman2 I can do this one. Can I get assigned ?

[2017-07-07 16:26] Makman2 commented on #1897
If I recall correctly, PEP8 allows an "issue-format" that provides more detailed messages. But then we don't have patches. Best would be to have patches and issues combined.

[2017-07-07 16:30] Makman2 commented on #1008
@yash-nisar the issue is about allowing both, piped and unpiped borders. So we just introduce `None` as default for `markdown_loose_tables` and pass it accordingly (or we don't pass it) to the executable of `MarkdownBear` :+1:

[2017-07-07 16:37] yash-nisar commented on #1008
Sounds easy :wink:

[2017-07-08 08:27] co-robo opened #1900 "Bear Proposal HTTPS bear"
Use URLBear to convert http to https if the https URL works.
Cache the status of the proposed https URL, as the same http link may occur many times.
difficulty/low
Opened by @jayvdb

[2017-07-08 08:40] jayvdb opened #1901 "URLBar should provide the line & column of each occurrence"
Using https://github.com/coala/coala-bears/issues/1902 , the occurrence should be stored in the `affected_code`.

[2017-07-08 09:03] jayvdb opened #1902 "URLBar: Create a HiddenResult subclass instead of using `contents`"
The `HiddenResult`'s `contents` field is an opaque value in coala.  Sub-classes with attributes are a much better design approach, allowing inspection of the values being passed around. See https://github.com/coala/coala/issues/4455

This may require improvements in coala core.

[2017-07-08 09:08] jayvdb opened #1903 "AnnotationBear: Create HiddenResult subclass to pass values to dependent bears"
Needed to solve https://github.com/coala/coala/issues/4455 .

Should be done after https://github.com/coala/coala-bears/issues/1902

The new subclass should still provide a `contents` so it is backwards compatible.
(I.e. this PR should not modify the dependent bear, to prove the old method works correct.)

[2017-07-08 09:09] jayvdb opened #1904 "ClangFunctionDifferenceBear: Create HiddenResult subclass to pass values to dependent bears"
Needed to solve https://github.com/coala/coala/issues/4455 .

Should be done after https://github.com/coala/coala-bears/issues/1902

The new subclass should still provide a `contents` so it is backwards compatible.
(I.e. this PR should not modify the dependent bear, to prove the old method works correct.)

lower priority as this is an old bear, with limited use.

[2017-07-08 09:12] jayvdb commented on #1902
This is partially dependent on https://github.com/coala/coala/issues/4454 .  https://github.com/coala/coala/issues/4454 doesnt need to be done first, but it will make the URLResult constructor easier, as it can call `super()` to do most of the work.

[2017-07-08 09:13] co-robo opened #1905 "URLBear should return the HEAD result"
After https://github.com/coala/coala-bears/issues/1902, instead of storing only the status, store more info from the HEAD request.
difficulty/low
status/blocked
Opened by @jayvdb

[2017-07-09 07:01] yash-nisar opened #1907 "MarkdownBear: Replace `markdown_horizontal_rule`"
Replace `markdown_horizontal_rule` in docs by `horizontal_rule` which is used `create_arguments(...)`

area/documentation

[2017-07-09 07:20] yash-nisar commented on #926
With reference to

I've tested that both happen and there is a duplication. i.e. `remark-lint` emits an error even after the file is reformatted after the patch is applied.

[2017-07-09 07:24] yash-nisar commented on #926
One workaround can be to avoid using duplicated settings, i.e. higher preference should be given to code correcting capabilities instead of `remark-lint` plugins which only emit a message.

[2017-07-09 08:11] yash-nisar commented on #1897
We would have to rather fix this for all bears that have code correcting capabilities. I bumped into another similar issue, see https://github.com/coala/coala-bears/issues/502

[2017-07-09 08:19] yash-nisar commented on #498
This can be closed since the issue has been fixed. We use `list_indent` in our bear that reformats the file for us. See the patch that MarkdownBear offers below :

[code]

CC @Makman2 @underyx (We need to close the issue.)

[2017-07-09 22:53] #1902 closed

[2017-07-10 09:17] #1613 closed

[2017-07-10 10:25] yash-nisar opened #1910 "MarkdownBearTest: Inconsistent spacing"
Inconsistent spacing, i.e.
[code]
There should be a single new line between `test_file` and `test_file2` and two newlines before `test_file1` begins:
[code]

[2017-07-10 11:14] yash-nisar commented on #1008
MarkdownBear lints the file even when we don't pass `loose_tables` and `spaced_tables` to the executable. Below is the verbose output:
[code]
Strange behaviour. :O

[2017-07-10 12:17] yash-nisar commented on #1008
One more example where I've removed the `bullet` setting from being passed to the executable.
[code]

[2017-07-10 13:53] yash-nisar commented on #1008
Okay, so there seems to be a problem in remark. We cannot disable these settings. If we don't specify them, the default values are used.

[2017-07-10 14:08] Makman2 commented on #1008
ugh that's bad. Can you file an upstream issue? @yash-nisar

[2017-07-10 14:09] yash-nisar commented on #1008
Sure, :+1:

[2017-07-10 14:14] #498 closed

[2017-07-10 14:15] Makman2 commented on #498
@underyx If you want the same messages appearing in coala too, feel free to file a new issues, as this is a general problem of linters not providing both at once, help text and patch.

[2017-07-10 14:17] Makman2 commented on #498
Ah this is more or less addressed in https://github.com/coala/coala-bears/issues/502.

[2017-07-10 14:19] Makman2 commented on #502
It's a general problem to combine patches and help text from linters as they don't provide both.

It's possible to run the linter twice (very bad for performance), and relating issue text to the patches. But this won't work always dependent on the complexity of an issue.

Optimally linters need to support a new output format, that shows messages and patches combined. Then we can achieve perfect re

[2017-07-10 14:21] Makman2 commented on #1897
PEP8Bear is an exception as it uses the python module directly, which is more flexible. For external linter executables this is a huge problem^^

[2017-07-10 14:23] Makman2 commented on #940
Is `remark` up to date to include the patch from https://github.com/wooorm/remark/commit/a93cdab5c8e81f60edc1403619850c688205499e ?

[2017-07-10 14:33] Makman2 commented on #1900
maybe we should also additionally check if the contents of the pages are the same, so the links can be considered totally identical? (maybe optional?)

[2017-07-10 14:36] #1907 closed

[2017-07-10 20:06] SanketDG commented on #940
Yup, it shows in the UI :)

[2017-07-10 22:54] jayvdb opened #1912 "SCSSLintBear: Rename parameter check_ulrs_format to check_url_format"
Spelling mistake in 3627f33c9.

The setting name needs to be deprecated using decorator `@deprecate_settings`

[2017-07-11 02:31] #1753 closed

[2017-07-11 04:16] yukiisbored commented on #1849
Just gonna have this for reference:
[code]

[2017-07-11 04:17] yukiisbored commented on #1849
It looks the only options to install are from source or static binaries that are provided by the devs

[2017-07-11 04:17] yukiisbored commented on #1849
Unless you use macOS+brew...

[2017-07-11 09:57] Makman2 commented on #940
@SanketDG you sure? @yash-nisar told me that the commit is not included in the remark version referenced in our bears^^

[2017-07-11 16:04] SanketDG commented on #940
Oh, oops sorry, what I meant was that there was a upstream release of `remark` after the commit was pushed to the `remark` repo

[2017-07-11 23:16] #1817 closed

[2017-07-14 01:27] jayvdb commented on #1901
This was done as part of #1902

[2017-07-14 01:27] #1901 closed

[2017-07-14 01:30] jayvdb opened #1917 "Add end column to URLBear results"
Currently the bear emits URLResult with `affected_code` only indicating the start line & column.  It should also describe the the end column of the URL.

[2017-07-14 10:34] Vamshi99 commented on #1850
Duplicate of https://github.com/coala/coala-bears/issues/1851

[2017-07-14 22:14] #1708 closed

[2017-07-15 06:19] sidharthskumar commented on #1912
hey @jayvdb i have made the required changes in the file. But what is to be done with the second line of your statement?

[2017-07-15 09:48] coala-bot opened #1921 "LineCountBear._get_blank_line_count: Don't use list()"
len can directly accept an iterable so the list conversion can be just removed. That saves at least memory because we never need the whole list.

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5969e4d689aea4761d9e6f7e) by @sils

[2017-07-15 10:13] #1850 closed

[2017-07-15 10:47] #1851 closed

[2017-07-15 10:55] gureks commented on #1921
In python3, `filter` returns an object of type <filter> and hence yields the following error: `TypeError: object of type 'filter' has no len()`
To iterate through it, we need to use list()

[2017-07-15 10:56] Asnelchristian opened #1922 "Make stylelintBear configurable"

[2017-07-15 11:02] Asnelchristian opened #1923 "Make CSVLintBear configurable"

[2017-07-15 12:14] sils commented on #1905
Is this truly needed? If I do static code analysis and I want to use the URLBear then I find it likely that I won't need the head result if I'm not InvalidLinkBear. And doing a head request is definitely something that I want to avoid if I don't need it.

[2017-07-15 12:25] #1046 closed

[2017-07-15 13:20] co-robo opened #1927 "Implement DocStyleBear which uses DocBaseClass"
DocBaseClass is being implemented which is the new API for Handling Documentation.
Opened by @damngamerz

[2017-07-15 13:36] sils commented on #1921
yeah, or sum but that's not well readable. Agree.

[2017-07-15 15:04] Alexander-N opened #1929 "PyImportSortBear drops/moves comments"
PyImportBear drops the comment from the following example
[code]
Without the alias ``as api_version`` the comment is moved to the top of the file, separating it from its context.

[2017-07-15 15:42] jayvdb commented on #1921
I dont understand this.  My understanding is it must iterate every line.

[2017-07-15 15:44] sils commented on #1921
@jayvdb but if we don't use list() it must never hold all lines at the same time in memory

[2017-07-15 15:46] sils commented on #1921
though there's indeed no way to get around that apart doing like `sum(1 for value in list if ...)` or something which isn't well readable. Since this is a minor memory problem I'm actually for closing this issue.

[2017-07-15 15:46] sils commented on #1921
i.e. wontfix

[2017-07-15 17:17] Makman2 commented on #1905
to get the status code, isn't a head request performed anyway?

[2017-07-16 02:31] coala-bot opened #1932 "Bear Proposal: ShebangBear"
Create a bear that enforces the usage of `/usr/bin/env` instead of directly calling it like `/usr/bin/python3`. The reason why `/usr/bin/env` is important because it'll find the correct path for the binary we wanna use. Not every distribution follows Linux's FHS (ex. macOS, GNU Guix, Nix OS, etc).

Note: Yes, it is called Shebang. https://en.wikipedia.org/wiki/Shebang_(Unix)

Opened via [gitter](h

[2017-07-16 04:27] jayvdb commented on #1912
Is deprecating settings not mentioned in the developer docs? Ask on gitter, or search bears repo for 'deprecate'.

[2017-07-16 04:29] sidharthskumar commented on #1912
OK, I googled about it and researched a lot and finally come to know about
what actually it is . But forgot to check in Dev docs . Thanks John . I LL
refer to that now

On 16-Jul-2017 9:57 am, "John Vandenberg" <notifications@github.com> wrote:

[2017-07-16 08:23] NiklasMM commented on #1929
This problem also occurs when running `isort` directly, so I've reported the issue upstream.

[2017-07-16 08:34] sils commented on #1905
I might not need the status code.

[2017-07-16 09:55] #1744 closed

[2017-07-16 09:55] #1760 closed

[2017-07-16 09:55] #1797 closed

[2017-07-16 09:55] #1884 closed

[2017-07-16 11:42] sils commented on #1865
We can try caching it as a workaround: https://github.com/myint/language-check/blob/80b0dc02c77a5adf616157342883fd84d97e22ba/download_lt.py#L28

That'd generally speed things up, not having to download 80-100mb, CI connectivity isn't particularly outstanding.

[2017-07-16 11:57] #1554 closed

[2017-07-16 11:57] #1821 closed

[2017-07-16 18:55] Makman2 commented on #1905
Now I can't follow you @sils.

[2017-07-16 19:14] Makman2 commented on #1865
If that isn't officially supported I don't want to hack into `language_check` package mechanisms^^ Anyway we could file an issue to support that^^

[2017-07-18 06:02] Sandaruwanims commented on #1888
What should I need to refer to work on this? Also how should I find what are missing?

[2017-07-18 11:51] sils commented on #1905
Ah so that was already introduced, then we should store everything indeed.

I still feel like we shouldn't do a head request at all in URLBear because other bears might want to know about URLs but not needing the status code.

[2017-07-18 11:56] yash-nisar commented on #1888
@Sandaruwanims As I've already mentioned, we don't have a docstring of `rubocop_config: str=''` in `create_arguments(...)` of the `RubocopBear`. You can refer to other bears that we have for the docstring of config files. :smile:

[2017-07-18 13:18] Makman2 commented on #1905
Then we need a new bear imo. Some bears will need it, some bears not. Sounds like a new bear for this specific purpose ;)

[2017-07-18 17:31] #924 closed

[2017-07-19 09:48] sils commented on #1905
I can think of only one bear needing it right now, I can think of other
bears totally that would just be interested in getting just the URL

[2017-07-19 12:50] #1910 closed

[2017-07-19 15:12] yash-nisar commented on #1179
The plugin doesn't work, and so this remains blocked until we have a release fixing this bug or the plugin is improved. See https://github.com/verekia/remark-lint-no-trailing-spaces/issues/2

[2017-07-19 15:51] Makman2 commented on #1179
Workaround: Use the `SpaceInconsistencyBear` in your coafile to handle whitespace errors.

[2017-07-20 13:41] AMR-KELEG commented on #1932
Would be enough to check the first line and ensure that it is `#!/usr/bin/env` ?

[2017-07-20 16:43] #1205 closed

[2017-07-20 23:01] Makman2 commented on #1932
shebang has to be in the first line, so yes :) @AMR-KELEG
you can read about some official shebang "standards"/behaviour in the wikipedia entry: https://en.wikipedia.org/wiki/Shebang_(Unix)

[2017-07-21 07:19] #290 closed

[2017-07-21 11:06] yukiisbored commented on #1609
The best thing that I can think of is to have a script triggered by Travis.
1. Have a README.rst template
2. Check if the new generated one is the same as the old one
3. If not, create a pull request with the change

[2017-07-21 14:13] #388 closed

[2017-07-22 03:36] jayvdb commented on #1749
Can't be a newcomer if it needs design.  Changing this will involve CI problems, which are rarely easy.

[2017-07-22 04:29] yash-nisar commented on #1575
Closing, since this seems to be resolved in https://github.com/coala/coala-bears/pull/1819/commits/c9be1bfc84542b92c640b57050f98a2270199ed8

[2017-07-22 04:29] #1575 closed

[2017-07-22 11:09] #1927 closed

[2017-07-22 16:04] SanketDG opened #1941 "Docstring format wrong in DocumentationStyleBear"
https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L105

It should be either in the table format or the new line format (preferred more)

[2017-07-23 14:44] rhemon commented on #1791
if its alright to use https://pypi.python.org/pypi/validate_email , can I work on this?

[2017-07-23 17:59] yash-nisar commented on #455
Proof that the patch works :
http://paste.ubuntu.com/25155867/

To summarize, we have :
[code]

[2017-07-24 06:05] #1856 closed

[2017-07-24 09:52] JudiciaryPag opened #1945 "PEP8Bear `Line affected` error?"
Most of my `Line affected` values are too low. Sadly my code is not open-source so I am unable to share it but this should be easily reproduced because it happens in every file. The code it echos for `Line affected` is actually several lines higher in the file, i.e. an affected line of `37` is actually line `40` in the file.

Also there are warnings for consecutive lines, yet they're all reported

[2017-07-24 14:21] #1877 closed

[2017-07-24 15:13] co-robo opened #1946 "Add script to circle to kill developer builds"
Circle shouldnt be enabled by developers unless they are debugging a Circle specific problem.  It should only be used on PRs, and master and release builds on coala/* repos.
The script should check for 'Circle' in the commit message to allow a developer build to occur on Circle.
difficulty/low
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=59760eae42d2f61025

[2017-07-24 15:16] Makman2 commented on #1946
Like the idea with the `Circle` keyword allowing to build anyway. Maybe we want to extend it a bit, to some command-like sentence `!Build on Circle` (or so), then it's 1. easier to understand 2. it's not so ambiguous :)

[2017-07-24 15:21] Makman2 commented on #1945
If your code is not open-source, could you try to construct an example where it occurs for you? Especially a coafile would be nice (if possible a minimum working example).

[2017-07-24 15:54] jayvdb commented on #1946
Well i normally start the shortlog with 'Circle: ...' for circle fixes.

Also we should use yaml as well https://stackoverflow.com/questions/37115473/how-do-i-make-circleci-ignore-a-particular-branch

So we need to also name branches 'circle' to bypass that.

[2017-07-24 16:06] JudiciaryPag commented on #1945
Here's a fragment of a file that exhibits the fault, and the (simple) coafile (both as `txt` files to allow attachment).

When I run `coala` I am told...

[code]

Yet, as you will see, the offending lines are `49` and `51`.

[coafile.txt](https://github.com/coala/coala-bears/files/1170403/coafile.txt)
[db_inspect.py.txt](https://github.com/coala/coala-bears/files/1170404/db_inspect.py.txt)

[2017-07-24 16:06] #926 closed

[2017-07-24 16:35] rhemon commented on #1791
@jayvdb do we mark it as valid email address as long as it follows a valid format ? or do we also want to check if its domain actually exists or not? do we also want to check if email actually exist or not? as @NiklasMM [commented](https://github.com/coala/coala-bears/pull/1944#issuecomment-317333055) in #1944 that looking up the DNS is an overkill and causes coala run to depend on network topolog

[2017-07-24 16:36] Makman2 commented on #1945
Confirmed. Again there appears to be a shift of 3 lines.

[2017-07-24 16:37] Makman2 commented on #1945
CC @Nosferatul

[2017-07-24 16:38] Sandaruwanims commented on #1888
Got the point :smile:. I check the RubocopBear with other bears. Can I work on this issue?

[2017-07-24 16:44] Makman2 commented on #1791
Maybe we allow lookups through an optional setting?

Our `InvalidLinkBear` also relies on the network topology, as this is always the case for things that affect networks. Imo people have to be aware of such things :+1: But like said, an optional setting would be maybe good to have :+1:

[2017-07-24 16:56] #455 closed

[2017-07-24 17:01] NiklasMM commented on #1791
Yes, but with InvalidLinkBear it's pretty obvious. But if you set something up to check the validity of email adresses, I'd not expect it to go out to the internet every time.

I'm open to the optional setting, but I think that a regex would be enough.

[2017-07-24 18:35] SanketDG commented on #1888
Sure, check out http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-2-picking-up-an-issue to assign yourself to this issue

[2017-07-24 18:43] Sandaruwanims commented on #1888
Thank you. I will look at it. :smile:

[2017-07-24 20:44] shreyans800755 opened #1948 "Replace LogPrinter using logging"

[2017-07-26 13:35] sils opened #1950 "PHPCodeSnifferBear warns about too long lines independent of max_line_length"
I'm getting two kinds of errors after setting max_line_length to 10:

[code]

as well as:

[code]

what's the second thing? Seems untouched by our config.

CC @Asnelchristian because he basically wrote PHPCodeSnifferBear.

[2017-07-27 04:23] yash-nisar opened #1951 "JSStandardBear: Document rules"
Since we're aiming for high quality bears, inclusion of settings becomes trivial.
They can be found [here](https://standardjs.com/rules.html). Refer to the `StylintBear` for reference.

difficulty/low
area/documentation

[2017-07-27 04:24] yash-nisar opened #1952 "JSStandardBear: Add fixing capabilities"
Our JSStandardBear lacks code fixing capabilites which the linter supports and including it would be great !

difficulty/low

[2017-07-27 04:31] yash-nisar opened #1953 "Bear proposal: OclintBear"
See https://github.com/oclint/oclint for more information

bear proposal
area/lintbears
difficulty/low

[2017-07-27 05:01] co-robo opened #1954 "RST bears should support Sphinx prolog and epilog"
http://www.sphinx-doc.org/en/stable/config.html#confval-rst_epilog
restructuredtext_lint 1.1.0 has added support for this; see https://github.com/twolfson/restructuredtext-lint/issues/39.
difficulty/low
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=597973b342d2f61025881e36)

[2017-07-27 05:14] yash-nisar commented on #28
@meetmangukiya Sorry for making you close the issue, but this issue is rather important and needs to be reopened. The title is pretty misleading and needs to be improved to something like `Parsing output from csscomb` and we should add an upstream label to it.

[2017-07-27 05:28] yash-nisar commented on #634
Damn, I was almost half way through and noticed that this bear is blocked on https://github.com/csscomb/csscomb.js/issues/451.

To summarise, there is no way at present to get the corrected file as the output from `stdout` on which we can apply the diff. Also, there are no error messages reported that can be parsed by our regex. As of now it abruptly flags an error in `-v` and without `-v` it runs

[2017-07-27 05:44] yash-nisar commented on #1343
There is one more that I just found -> https://github.com/redcoolbeans/dockerlint

[2017-07-27 12:04] jayvdb opened #1955 "GitCommitBear fails in CI: HTTP Error 403: Forbidden"
Error when fetching nltk_data
`[nltk_data] HTTP Error 403: Forbidden.`

https://travis-ci.org/jayvdb/coala/jobs/258099527#L1651
https://travis-ci.org/jayvdb/docker-coala-base/builds/256602230#L2455

[2017-07-27 12:12] jayvdb commented on #1955
Looks like this is https://github.com/nltk/nltk/issues/1787

[2017-07-27 12:24] underyx opened #1956 "KeywordBear should not require setting the language"
I want to use KeywordBear to do a simple text search, but it's not really cooperating. It needs the language to be set, which is bad for two reasons

- If my language is not understood by coala, I can't use the KeywordBear
- I can't search for the text `FIXME` across all my files, I'd need to have separate sections for Python, JS, HTML, CSS, Markdown, and so on.

[2017-07-27 12:39] Makman2 commented on #1956
Yeah this is definitely bad :+1:

[2017-07-27 12:42] jayvdb commented on #1956
We have a bunch of bugs about this already, and PRs which were blocked but can probably be rescued.

[2017-07-27 14:08] jayvdb commented on #1955
Our bear is only downloading

- `tokenizers/punkt` in https://github.com/nltk/nltk_data/tree/gh-pages/packages/tokenizers
- `taggers/maxent_treebank_pos_tagger` in https://github.com/nltk/nltk_data/tree/gh-pages/packages/taggers
- `taggers/averaged_perceptron_tagger` also in ^

[2017-07-28 08:22] palash25 commented on #1951
Could you direct me to the document file that needs to be changed?

[2017-07-28 08:34] yash-nisar commented on #1951
https://github.com/coala/coala-bears/blob/master/bears/js/JSStandardBear.py

[2017-07-29 18:12] yash-nisar opened #1959 "TextLintBearTest: `test_bad_alex_no_dead_link` only passes for an uncached build"
_Circle only failure:_

There have been many cases where `test_bad_alex_no_dead_link` fails quite often and only passes for an uncached build. The failure may be due to the dead link result which needs to be removed.

See https://circleci.com/gh/yash-nisar/coala-bears/277

[2017-07-29 19:16] palash25 commented on #1951
I'm interested in this issue could you please elaborate what needs to be done.

[2017-07-29 22:33] #634 closed

[2017-07-30 07:47] yash-nisar commented on #1959
The issue seems to be with the `.adoc` extension. It is strange that the build fails *only occasionally.

See https://circleci.com/gh/yash-nisar/coala-bears/289

[2017-07-30 07:55] yash-nisar commented on #1119
Isn't this solved by adding `version='1.9.35'` in [this PR](https://github.com/coala/coala-bears/pull/1378)  @jayvdb ?

[2017-07-30 09:36] yash-nisar commented on #1783
Ping @prachi1210

[2017-07-30 16:13] prachi1210 commented on #1783
@yash-nisar I'll send a PR for this by the end of the week

[2017-07-30 17:13] jayvdb commented on #1791
Invalid email syntax, and and explicit 'reject' list for domains like `@localhost.localdomain`, should be sufficient for the default.

https://github.com/syrusakbary/validate_email is nice because it has `check_mx` and `check_smtp`, which are two options we could expose as settings, and both disabled by default.

https://pypi.python.org/pypi/pyIsEmail seems to only check MX records.

[2017-07-31 01:53] jayvdb commented on #1783
How does this bear compare with our other JS bears?  Why do we want this?

[2017-08-01 03:46] co-robo opened #1963 "bear proposal https://github.com/grammarly/nsp"
difficulty/hard
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=597ff97e0cef4fed2eb86fbc)

[2017-08-01 06:38] yash-nisar opened #1964 "ApertiumLintBear: Fix typo in `defLabel_closed`"
`defLabel_closed` -> `def_label_closed` as mentioned in `create_arguments(...)`

difficulty/newcomer
area/documentation

[2017-08-01 06:41] yash-nisar opened #1965 "ApertiumLintBear: Incomplete and incorrect line break"
[code]
should be corrected to :
[code]

difficulty/newcomer
area/documentation

[2017-08-01 06:43] yash-nisar opened #1966 "ApertiumLintBear: Fix spelling errors"
`consits` -> `consists`
`Inconsitency` -> `Inconsistency`

difficulty/newcomer
area/documentation

[2017-08-01 14:25] Makman2 commented on #1963
From @jayvdb why the issue is `difficulty/high`:

[2017-08-02 09:26] refeed opened #1968 "Upgrade memento_client to 0.6.1"
Currently `memento_client` in our repo is still at version 0.5.3 which still contains bugs. Upgrading to `0.6.1` would fix many bugs that are found in `0.5.3`

[2017-08-02 15:32] yash-nisar opened #1969 "RubocopBear: Move `severity_map` inside the `linter` decorator"
difficulty/newcomer

[2017-08-02 15:33] yash-nisar opened #1970 "RuboCopBear: Move `severity_map` inside the `linter` decorator"
difficulty/newcomer

[2017-08-02 15:35] co-robo opened #1971 "Move `severity_map` inside the `linter` decorator"
difficulty/newcomer
Opened by @yash-nisar at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=5981f152a7b406262d51b23f)

[2017-08-02 15:39] yash-nisar commented on #1971
Associated bear: `RuboCopBear`

[2017-08-02 15:40] yash-nisar commented on #1969
Closing because the issue was not reported properly and I created one more in the meantime :confused: . Duplicate of https://github.com/coala/coala-bears/issues/1971

[2017-08-02 15:40] #1969 closed

[2017-08-02 15:41] yash-nisar commented on #1970
Closing because the issue was not reported properly and I created one more in the meantime :confused: . Duplicate of #1971

[2017-08-02 15:41] #1970 closed

[2017-08-02 15:46] Makman2 commented on #1971
No that's actually wrong for the `RuboCopBear`, because it overrides `process_output` itself. Providing it inside linter makes the map inaccessible (and makes no sense as the output-format is not `regex`).

[2017-08-02 15:46] #1971 closed

[2017-08-02 15:48] #596 closed

[2017-08-02 15:51] yash-nisar commented on #1971
Ah alright, we need to access it inside `process_output`, so should be defined inside the class explicitly.

[2017-08-02 15:51] yash-nisar commented on #1971
Damnit, my bad.

[2017-08-02 16:41] yash-nisar opened #1972 "PHPCodeSnifferBear: Fix typos in docstring"
`force_lower_case_keyword` and `force_lower_case_constant` should be changed to `force_lower_case_keywords` and `force_lower_case_constants` in the docstring.

difficulty/newcomer
area/documentation

[2017-08-02 16:42] yash-nisar commented on #1972
Also, change `accross` -> `across`

[2017-08-03 07:50] jayvdb opened #1973 "PylintBear breaks on Python 3.5.0"
https://circleci.com/gh/jayvdb/coala-bears/814

[2017-08-03 08:24] Raman1121 commented on #1972
Can this issue be assigned to me? I would like to work on this.

[2017-08-03 08:47] yash-nisar commented on #1972
Sure, use `corobo` and assign yourself, see http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-2-picking-up-an-issue

[2017-08-03 09:06] Raman1121 commented on #1972
I tried corobo assign but it is showing an error.

[2017-08-03 09:14] Raman1121 commented on #1972
corobo assign https://github.com/coala/coala-bears/issues/1972

[2017-08-03 10:13] jayvdb opened #1974 "GitCommitBear: maxent_treebank_pos_tagger is not used"
The nltk data package maxent_treebank_pos_tagger is not used, and should be removed as it is a [10mb download](https://github.com/nltk/nltk_data/blob/gh-pages/packages/taggers/maxent_treebank_pos_tagger.zip).

[2017-08-03 10:34] jayvdb commented on #1974
Example test build of the docker without this data : https://travis-ci.org/jayvdb/docker-coala-base/builds/260526743

I'm working on building a PR for that.

[2017-08-03 16:42] jayvdb commented on #1974
See https://github.com/coala/docker-coala-base/pull/236

[2017-08-03 19:55] #1974 closed

[2017-08-04 05:01] jayvdb commented on #1037
Semi related upstream issue https://github.com/travis-ci/travis-ci/issues/7897

[2017-08-04 05:04] jayvdb opened #1976 "GitCommitBear: Require [ci skip] for changes only modifying non-tested files"
`[ci skip]`/`[skip ci]` are supported by most CI providers.

commits which only modify files not covered by `.coafile`, or tests, etc, shouldnt cause CI to run.

[2017-08-04 05:07] jayvdb commented on #1976
Related upstream issue https://github.com/travis-ci/travis-ci/issues/8204 (perhaps documentation only)

[2017-08-04 09:22] jayvdb commented on #1955
Our involvement in (ab)using github is somewhat reduced by https://github.com/coala/coala-bears/issues/1974

[2017-08-05 09:23] co-robo opened #1977 "GitCommitBear: Prevent commits with email domain users.noreply.github.com"
Perhaps block 'noreply' in the email domain anywhere.
difficulty/low
cc @rhemon
Opened by @jayvdb at [gitter/coala/coala](https://gitter.im/coala/coala?at=59858e9597cedeb048277359)

[2017-08-05 09:30] ayush1999 commented on #1977
@jayvdb Can you please tell me how to get started with this issue?

[2017-08-05 09:30] jayvdb commented on #1977
Please finish your other PRs first.

[2017-08-05 09:34] jayvdb commented on #1977
Blocked on https://github.com/coala/coala-bears/pull/1944

[2017-08-05 10:23] jayvdb commented on #1791
`pyIsEmail` does look to be more mature, with lots of tests, but it doesnt have an smtp validator: https://github.com/michaelherold/pyIsEmail/issues/7

However as @rhemon found, the stmp validator for https://github.com/syrusakbary/validate_email doesnt work properly anyway https://github.com/syrusakbary/validate_email/issues/61 .

[2017-08-05 12:46] rhemon commented on #1977
so do I just include this in #1944 ? it could be simply done by checking if 'noreply' is in domain, if so it won't be accepted. right?

[2017-08-05 15:36] jayvdb opened #1978 "TravisLintBear halts if no internet"
It needs an internet check like URLBear

[2017-08-05 15:53] yash-nisar opened #1979 "Move `TravisLintBear` to the configfiles directory"
difficulty/newcomer

[2017-08-06 02:15] jayvdb opened #1981 "Support perlcritic themes/policies"
perlcritic has different policies as subpackages.

opensuse has packages for

- perl-Perl-Critic-Freenode - https://github.com/Grinnz/Perl-Critic-Freenode
- perl-Perl-Critic-Pulp - http://search.cpan.org/dist/Perl-Critic-Pulp/

[2017-08-06 08:11] yash-nisar commented on #1866
Duplicate of https://github.com/coala/coala-bears/issues/1585

[2017-08-06 08:13] yash-nisar commented on #1866
CC @SanketDG @jayvdb

[2017-08-06 08:15] jayvdb commented on #1866
Duplicate of #1585

[2017-08-06 08:15] #1866 closed

[2017-08-06 08:41] AkshGautam commented on #1966
Hey, can I be assigned this job? I wanna do this.Thanks

[2017-08-06 09:35] yash-nisar commented on #1966
Sure, use `corobo` and assign yourself. See http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-2-picking-up-an-issue for more information.

[2017-08-06 14:13] csdeshpande19 commented on #1964
I would like to work on this issue.

[2017-08-06 14:45] csdeshpande19 commented on #1965
Hey, can I get solve this. Thanks!

[2017-08-06 14:47] yash-nisar commented on #1965
Sure, use `corobo` and assign yourself. See http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-2-picking-up-an-issue for more information.

[2017-08-06 14:48] csdeshpande19 commented on #1965
I'm a newbie so can you please guide me.

[2017-08-06 15:16] AkshGautam commented on #1966
Which documentation file contains the error?  I am new to open source so any help would be appreciated. Cheers!

[2017-08-06 17:11] adtac commented on #1842
@jayvdb this is breaking coala-quickstart in Appveyor Win64. @satwikkansal is trying to update the coala-bears version to the latest pypi one to see if it fixes it.

[2017-08-06 17:38] adtac commented on #1842
We've temporarily solved this issue: HttpPolice uses `lxml>=3.6.0` and the latest version of lxml (3.8.0) has no wheel. @satwikkansal is filing an issue upstream with httppolice asking them to pin their version to 3.6.0.

Till then, we're using `lxml==3.6.0` in our requirements.txt (temp workaround).

[2017-08-06 18:10] SanketDG commented on #1966
You would first want to search for the file `ApertiumLintBear.py` and `run()` inside it should contain the documentation you are looking for

[2017-08-06 20:53] Makman2 commented on #1965
See title: ApertiumLintBear(.py) :)

[2017-08-06 20:53] Makman2 commented on #1964
You were already assigned to a newcomer issue ;)

[2017-08-08 04:42] jayvdb commented on #1266
@robinsjdotcom are you planning to continue working on this?  pleaseeee! ;-)

[2017-08-08 05:38] prachi1210 commented on #1783
@jayvdb should I continue working on this?

[2017-08-08 07:23] AkshGautam commented on #1966
Thanks,I am on it!

[2017-08-08 13:22] csdeshpande19 commented on #1964
I completed that issue.

[2017-08-08 13:54] Makman2 commented on #1964
@csdeshpande19 usually newcomers should do only a single `difficult/newcomer` issue, so other newcomers can get acquainted with our merge process :) You can pick a `difficulty/low` issue which is a bit more challenging ;)

[2017-08-09 14:56] amrx101 commented on #1964
@Makman2 , Can I take this up?

[2017-08-10 05:06] yash-nisar commented on #635
I'm taking this over with @Makman2 and @Asnelchristian 's permission :smile:
Can I be assigned to this ?

[2017-08-10 19:10] nanspro commented on #1979
can i work on this issue

[2017-08-11 05:09] co-robo opened #1991 "Upgrade restructuredtext-lint to 1.1"
Opened by @khanchi97 at [gitter/coala/coala](https://gitter.im/coala/coala?at=598d3c031c8697534aa95011)

[2017-08-11 05:09] IpshitaC commented on #324
@sils should I work on integrating Spotbugs instead, since this is the current project in development?
https://spotbugs.github.io/

[2017-08-11 08:30] #1964 closed

[2017-08-11 08:32] sils commented on #324
@IpshitaC yes indeed kudos for that distinction!

[2017-08-11 13:25] underyx opened #1992 "PyCommentedCodeBear: Bump dependency version to 0.2"
It fixes false positives: https://github.com/myint/eradicate/issues/4#issuecomment-321808358

[2017-08-11 20:07] Makman2 commented on #1979
@nanspro as you can see the issue is already assigned ;)
However, @ace2197 are you working on this?

[2017-08-11 20:09] Makman2 commented on #1991
Does the old one not work? :)

[2017-08-11 22:42] nanspro commented on #1979
it's fine i have already completed a newcomer issue.

[2017-08-12 11:45] ace2197 commented on #1979
I am  trying learn how to do the things here and still working on it and suggestions are always welcome

[2017-08-13 12:36] Raman1121 commented on #1941
I want to work on this issue. Can you please explain a bit more what exactly I will have to do in this?

[2017-08-13 14:44] SanketDG commented on #1941
If you take a look at https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L114, you will see it is very different from the preferred [style](https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L31)

Your task is to write the `param` and `return`'s in tje preferred style, taht's all :)

[2017-08-13 16:32] Raman1121 commented on #1941
Got it!
I am gonna start working on this now.

[2017-08-14 11:07] yash-nisar opened #1996 "Remove `pragma: no cover` from ElmLintBear"
difficulty/medium
area/tests

A part of https://github.com/coala/coala-bears/issues/1618

[2017-08-14 14:38] #635 closed

[2017-08-14 22:00] #1968 closed

[2017-08-15 05:30] #1996 closed

[2017-08-15 05:40] yash-nisar opened #1998 "URLBearTest: Improve `self.assertTrue(URLBear.check_prerequisites())` statement"
In general, `self.assertTrue('some_string')` does not fail. So even if `check_prerequisites()` returns `'You are not connected to the internet.'`, the test will pass.

This can be avoided either by explicitly doing `self.assertTrue(URLBear.check_prerequisites() == True)` or by `self.assertEqual(URLBear.check_prerequisites(), True)`. The latter one is more preferred.

difficulty/newcomer
area/tests

[2017-08-15 06:11] yash-nisar opened #1999 "ClangFunctionDifferenceBear: Replace triple single-quoted strings with triple double-quoted strings"
Triple double quoted strings (`"""`) should be used for docstrings instead of (`'''`).

difficulty/newcomer
area/documentation

[2017-08-15 10:18] khanchi97 commented on #1991
@Makman2 I think we don't have any issue related to working of old one,but in latest version it has support for sphinx rst_prolog and as we have an issue related to this https://github.com/coala/coala-bears/issues/1954 :)

[2017-08-15 11:03] khanchi97 commented on #1954
@jayvdb if i use updated version of restructuredtext_lint and add rst_prolog configuration in [conf.py](https://github.com/coala/coala-bears/blob/master/docs/conf.py),then it will gonna work or not?
means i've some confusion about now what i should do. :disappointed:

[2017-08-15 12:33] Makman2 commented on #1954
The bears shall get new settings to support the `restructuredtext_lint` prolog/epilog features from the newer version. It's not about using that in our `conf.py` :)

[2017-08-15 12:35] Makman2 commented on #1991
I would close this issue to make #1954 the main one, as the reason to upgrade are these prolog/epilog features mentioned in that issue (which automatically involves the upgrading of `restructuredtext-lint`).

[2017-08-15 12:35] #1991 closed

[2017-08-15 21:43] Raman1121 commented on #1951
I am interested in this issue.
What exactly has to be done in this? @yash-nisar

[2017-08-16 01:43] yash-nisar commented on #1951
We need settings that our users can use to configure bears via the command line or .coafile. For example: See https://github.com/coala/coala-bears/blob/master/bears/stylus/StylintBear.py#L46-L76

[2017-08-16 14:32] aladjadj opened #2002 "Jinja2Bear : add support for Whitespace control"
Linter doesn't support whitespace control :
http://jinja.pocoo.org/docs/2.9/templates/#whitespace-control

for sample : {% condition -%}
for the moment the linter return many messages:
 - Control blocks should be spaced with `1` spaces on each side.
 - End tag label does not match expected label
-  Control start tag has no corresponding end

[2017-08-16 16:25] co-robo opened #2003 "FilenameBear: Check filename length"
Windows has an API limitation of 260 characters per filename, causing fetches to fail.
As a result, it is helpful to catch this before files with long names are committed to the repository.
There is a workaround `git config core.longpaths true`, however Windows users are typically also using a GUI which doesnt let them run `git config` or have a settings panel for git config.
https://stackoverflow

[2017-08-16 16:28] jayvdb commented on #2003
Note that `git` also has a different limit, 4096 characters (or bytes?), which could also be used as a default, as this will still catch such errors before `git commit`.

[2017-08-16 16:28] Makman2 commented on #2003
Yeah would also say we incorporate this feature into `FilenameBear` :+1:

[2017-08-17 04:51] yash-nisar opened #2004 "HTMLLintBear: Upgrade `html-linter` to 0.4.0"
difficulty/newcomer

[2017-08-17 06:58] co-robo opened #2005 "Allow requiring java docs on interfaces & abstract classes only"
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=59953e95c101bc4e3a27f415)

[2017-08-17 07:34] co-robo opened #2006 "uncached circle build sometimes fails on `deps.opam.sh`"
For reference
https://circleci.com/gh/damngamerz/coala-bears/193
possible fix

difficulty/medium
Opened by @damngamerz at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=5995471376a757f808b2a050)

[2017-08-17 13:43] #1978 closed

[2017-08-17 14:57] Makman2 commented on #2004
@yash-nisar any specific reason?

[2017-08-17 15:28] yash-nisar commented on #2004
I thought it would be great if our linters are up to date :wink:

[2017-08-17 19:57] Raman1121 commented on #2004
Can you direct me to the file which is addressed here? @yash-nisar

[2017-08-17 20:02] Raman1121 commented on #2004
I am interested in this issue. Can I work on it?

[2017-08-17 20:02] Raman1121 commented on #2004
I am interested in this issue and want to work on it.

[2017-08-19 04:45] SanketDG opened #2009 "DocumentationStyleBear: Update docstring"
https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L40

Now it returns an instance of DocumentationComment

[2017-08-19 13:04] AkshGautam commented on #1966
@SanketDG  Sorry, i was away for a while, is this [https://github.com/coala/coala-bears/blob/master/bears/apertium/ApertiumLintBear.py](file) you are talking about?

[2017-08-19 13:05] AkshGautam commented on #1966
[https://github.com/coala/coala-bears/blob/master/bears/apertium/ApertiumLintBear.py](url)

[2017-08-19 13:06] AkshGautam commented on #1966
[https://github.com/coala/coala-bears/blob/master/bears/apertium/ApertiumLintBear.py](url)

[2017-08-19 13:06] AkshGautam commented on #1966
[file](https://github.com/coala/coala-bears/blob/master/bears/apertium/ApertiumLintBear.py)

[2017-08-19 13:14] SanketDG commented on #1966
@AkshGautam yup!

[2017-08-21 03:19] co-robo opened #2010 "DocStyleBear: Raw docstrings having `r` added in generated patch."
For reference
https://gist.github.com/damngamerz/7382ac7b5d5504e6508cf30decfbe9d7#file-test_docstylebear_coala-txt-L204
Probable solution will be
`indent = ' ' * len(# whatever behind starting marker)`
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=599a514fee5c9a4c5fe159e9)

[2017-08-21 11:58] wisn opened #2011 "HaskellLintBear Skip the Main Function Check"
[HaskellLintBear.py](https://github.com/coala/coala-bears/blob/master/bears/haskell/HaskellLintBear.py) said something like this.

As an example from the [coala top page](https://coala.io/) in the `get started` section. I'm looking an example of Haskell. The Haskell code looks like this.

[code]

Which may be written as below.

[code]

The HaskellLintBear only mention about the `Redundant bracket`

[2017-08-21 17:50] Makman2 commented on #2011
The bear takes up the messages from `hlint`: https://github.com/ndmitchell/hlint
So in this case the message is `Check Haskell code for possible problems.`. Looks like an upstream issue that `hlint` should be a bit more precise.

But I agree, "Check your code" is not really helpful^^ (it would be even way more helpful if it would say "Check for **syntax** errors", then you have at least an idea wh

[2017-08-22 02:51] wisn commented on #2011
@Makman2 I've post an issue on HLint repository and referenced this issue. I found something good [here](https://ghc.haskell.org/trac/ghc/ticket/13190). I hope that `Add a flag to emit error messages as JSON` could be used.

[2017-08-22 12:43] Makman2 commented on #2011
This is for the haskell compiler, not `hlint`.

[2017-08-22 12:47] Makman2 commented on #2011
Ah okay, from the upstream issue:

[2017-08-22 12:51] Makman2 commented on #2011
Actually I don't like that we have to compile a project before running the linter (as it requires to set up the complete toolchain). But seems like we have no choice if we want to have more precise messages.

CC @jayvdb you have maybe some ideas?

[2017-08-22 17:48] akspr7 commented on #1999
Hey, can you tell me where i need to replace?

[2017-08-22 19:37] wisn commented on #2011
Since HLint won't catch any error (GHC error) from Haskell code, I think we should try to find another alternative. As the name, HaskellLintBear, it's should catch an error as well, right?

[2017-08-22 19:48] ndmitchell commented on #2011
Note that HLint will catch parse errors which aren't due to missing extensions. It just won't catch all the other errors (types, name resolution etc).

[2017-08-23 14:35] gurpreetsingh00885 commented on #1730
Do I need to make separate commits for each one of the 4 files I need to make changes in?

[2017-08-23 17:02] adhikasp opened #2016 "Aspectize PyUnusedCodeBear"
Make PyUnusedCodeBear understand coala's aspect and taste.

[2017-08-23 17:16] Makman2 commented on #1730
@gurpreetsingh00885 you can, but you don't have to. In this case both is fine imo :)
As you've already split up into several commits, you can keep it :)

[2017-08-24 02:27] Makman2 commented on #1723
@mridubhatnagar it seems you are not working on the issue any more, and @umeshksingla said he has an urgent need for this feature. If you don't mind he would take this issue over :)

@umeshksingla please accept the invitation, then I'll assign the issue to you :)
PS: Hop onto our gitter channel, so you get various help: https://gitter.im/coala/coala

[2017-08-24 12:28] #1730 closed

[2017-08-26 06:45] yash-nisar commented on #1500
We already have an approved PR [here](https://github.com/coala/coala-bears/pull/1767) @harryjas :(

[2017-08-26 10:39] harryjas commented on #1500
@yash-nisar  My bad because i found it open.
But circleci is showing TextLintBearTest.test_bad_alex_no_dead_link error.
Can you help me with this ?

[2017-08-26 11:23] yash-nisar commented on #1500
Sure, try rebuilding without cache and that should solve the problem :)

[2017-08-28 02:08] adhikasp opened #2022 "Update MyPyBear to use `Language` correctly"
Language checking inside the bear doesn't use the coalang feature correctly.

[2017-08-28 10:50] adhikasp opened #2024 "TextLintBearTest test_bad_alex_no_dead_link failing"
The issue only shows up in Circle, other CI passed

See https://circleci.com/gh/coala/coala-bears/7031?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-08-28 11:49] adhikasp commented on #2024
dup https://github.com/coala/coala-bears/issues/1959

[2017-08-28 11:51] #2024 closed

[2017-08-28 13:08] #1959 closed

[2017-08-28 13:08] #2022 closed

[2017-08-28 15:31] #2016 closed

[2017-08-30 16:13] RJ722 opened #2025 "VultureBearTest: Remove __init__.py from vulture_test_files"
[vulture_test_files](https://github.com/coala/coala-bears/tree/master/tests/python/vulture_test_files) contains `__init__.py`. It was introduced to silence `PythonPackageInitBear` but it isn't really needed as this directory isn't used as a Python Package.

[2017-08-30 16:16] RJ722 commented on #2025
@Makman2 can you please apply the label `blocked` by https://github.com/coala/coala/issues/4673.

Perhaps, `difficulty/newcomer` also.

[2017-08-31 09:18] Psirus opened #2026 "Enable specifying include paths for CPPCleanBear"
When run from the CLI, cppclean can be given extra include directories, like so

    cppclean --include-path=directory1 --include-path=directory2 <path>

Currently, one can't specify these directories in the .coafile. (Or at least the documentation on coala.io doesn't show how)

[2017-08-31 14:11] Makman2 commented on #2026
Yes indeed, quite important for C/C++ projects^^

[2017-09-01 06:52] mamat-rahmat opened #2028 "InvalidLinkBear : Some url marked as broken link because it need a User Agent header"
InvalidLinkBear marked 'http://supervisord.org/' as broken link.
I found that it need a User Agent in the header (even with random string) to get 200 status code.

[2017-09-01 06:57] mamat-rahmat commented on #2028
seems duplicate #1203