[2016-05-15 14:12] #427 closed

[2016-05-15 15:37] sils1297 commented on #48
This is solved now since bears will download their own dependencies and inform the user about it. coala itself has nothing to do with this anymore.

[2016-05-15 15:37] #48 closed

[2016-05-15 17:32] adireddy commented on #335
Sure. Not working on it yet but will post here when I do.

[2016-05-15 17:48] #47 closed

[2016-05-15 17:56] sils1297 opened #438 "MAST"
MAST features some quite cool machine learning tools we could maybe use :)
https://mast-group.github.io/

Migrated from https://github.com/coala-analyzer/coala/issues/2129
area/lintbears

[2016-05-15 18:05] sils1297 opened #439 "Ruby stuff"
Can somebody investigate this list of tools for ruby: https://github.com/troessner/reek#brothers-and-sisters

[2016-05-15 18:58] Adrianzatreanu commented on #432
im not so sure where to add which links..

[2016-05-15 18:59] sils1297 commented on #432
Bears have the prerequisite checking method which has a message, that message should ideally contain instructions how to fix it. Linter has a parameter for it I think? Maybe we need to introduce one here? Something like `install_instructions` CC @Makman2

[2016-05-15 19:05] Adrianzatreanu commented on #432
Bear.py has @classmethod
    def check_prerequisites(cls): which returns whether a bear has or not satisfied the prerequisites. i guess i could check using this method for each bear to see if they are satisfied, in which case i throw a link if they arent?

[2016-05-15 19:08] Adrianzatreanu commented on #432
ah never mind, linter has @classmethod
        def check_prerequisites(cls): too

[2016-05-15 19:30] Adrianzatreanu commented on #432
after discussions, it's been clear what i have to do, ill do this soon :)

[2016-05-15 19:33] sils1297 opened #440 "codecov yml"
[code]

[2016-05-15 19:35] sils1297 commented on #440
also: https://github.com/coala-analyzer/coala-bears/compare/master...stevepeak:patch-2

[2016-05-15 21:58] sils1297 opened #442 "CPPCheckBear"
Indeed we only have CPPLint which is codestyle. CPPCheck covers something else: http://cppcheck.sourceforge.net/

We should have it!

area/lintbears

[2016-05-16 14:21] sils opened #444 "Ruby: Fasterer"
Maybe we can even derive patches from that?

https://github.com/DamirSvrtan/fasterer
area/lintbear

[2016-05-17 05:52] arafsheikh commented on #389
see also https://www.owasp.org/index.php/Source_Code_Analysis_Tools

[2016-05-18 05:45] mr-karan opened #447 "Gherkin Linter"
https://www.npmjs.com/package/gherkin-lint

https://github.com/cucumber/cucumber/wiki/Gherkin

Used in a very popular python module `behave` to write feature files for doing BDD.

[2016-05-19 02:34] AbdealiJK opened #449 "Use Env:Plugin instead of Console"
Use `Environment :: Plugins` classifier in setup.py instead of `Environment :: Console`.

[2016-05-19 09:13] sils1297 commented on #449
why?

[2016-05-19 09:13] AbdealiJK commented on #449
Because it's a plugin for coala

On Thu, May 19, 2016 at 2:43 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-05-19 09:16] sils1297 commented on #449
oh right

[2016-05-19 11:49] arafsheikh opened #450 "java/CheckstyleBear: incorrect regex"
e.g. For `[WARN] file.java:59:5: Missing a Javadoc comment. [JavadocMethod]` the current regex matches 5 as line number instead of 59.

[2016-05-19 18:38] rhnvrm opened #452 "Add support for RAML Lint"
RAML lint would be a cool feature to add.

https://github.com/QuickenLoans/ramllint

[ @mr-karan @arafsheikh ]

[2016-05-19 19:11] sils1297 commented on #452
Hey @rhnvrm thanks for the report. We'll look into it. Are you interested in either using or developing this?

[2016-05-19 19:20] rhnvrm commented on #452
I'm interested in using this. Thanks!

Sincerely,
Rohan Verma
hello@rohanverma.net
+91 9911296253
On 20-May-2016 12:47 am, "Lasse Schuirmann" <notifications@github.com>
wrote:

[2016-05-19 20:09] sils1297 commented on #452
Cool, then I'm scheduling this for the next release :)

[2016-05-19 20:10] Adrianzatreanu commented on #452
If you need this, then I'm in!

[2016-05-19 20:53] rhnvrm commented on #452
@sils1297 @Adrianzatreanu: Thanks! RAML is used by lots of API developers as well.

[2016-05-20 12:48] hypothesist opened #454 "Change python to python3 in GitCommitBear"
[Line](https://github.com/coala-analyzer/coala-bears/blob/83e3753d08b9c903596a46a1f2449f7b7c5a8755/bears/vcs/git/GitCommitBear.py#L160)

[2016-05-20 12:58] #372 closed

[2016-05-20 15:13] AbdealiJK opened #455 "Show stdout and stderr for linter bears"
Print the stdout and stderr from linter based bears when tests fail.

Gets difficult to debug things like: https://ci.appveyor.com/project/coala/coala-bears/build/1.0.1152/job/itn0bcmo387clohn

I can see that the code for the old API is here : https://github.com/coala-analyzer/coala-bears/blob/master/tests/LocalBearTestHelper.py#L27

We need to add appropriate code for the new API too !
It's been

[2016-05-21 08:47] #450 closed

[2016-05-21 10:19] arafsheikh commented on #455
@AbdealiJK Can you please elaborate a little on what has to be done? L29 & L32 in `LocalBearTestHelper` already handle stderr and stdout.

[2016-05-21 12:24] Makman2 commented on #455
This can be easily achieved with mocking `process_output` that retrieves the output to the test helper and forwards it then for further execution to linter again :+1:

[2016-05-21 12:25] Makman2 commented on #455
@arafsheikh ping me if you need help with this, overriding `process_output` is not yet documented for Linter v2 API^^

[2016-05-23 12:00] sils1297 commented on #442
this is doen

[2016-05-23 12:00] #442 closed

[2016-05-23 12:27] sils1297 opened #460 "Unify Settings Names"
We have lots of bears with lots of settings. It would be good if bears would share the same setting names for the same meanings.

This discussion is long overdue and important. Maybe we should start a list on the wiki or something?

[2016-05-24 04:47] AbdealiJK commented on #440
Isnt this done now ?

[2016-05-24 04:51] AbdealiJK commented on #202
@vivek425ster still facing this ? Was it solved ?

[2016-05-24 05:05] AbdealiJK commented on #9
I was doing a bunch of stuff and came across conda again. I had mentioned this earlier - https://github.com/coala-analyzer/coala/issues/1047#issuecomment-183591167 https://github.com/coala-analyzer/coala/issues/1304#issuecomment-181678529
I was against it earlier, but now I realize that conda/miniconda seems to be better than pip/python when dealing with non-python packages.

It helps setup comple

[2016-05-24 05:47] vivek425ster commented on #202
@AbdealiJK did not try it afterwards .

[2016-05-24 08:27] #440 closed

[2016-05-24 09:12] Asnelchristian commented on #454
i would like to work on this

[2016-05-24 12:45] Asnelchristian commented on #449
i would like to work on this

[2016-05-24 14:17] sils1297 commented on #449
arent you assigned to two other issues so far?

[2016-05-24 20:57] SanketDG commented on #184
Most of the connection problem went away with mocking the tests.

Closing as per as discussion with @abhsag24

[2016-05-24 20:57] #184 closed

[2016-05-25 07:26] #452 closed

[2016-05-25 07:28] sils1297 commented on #452
@rhnvrm it has landed! You can try it out by running `pip install coala-bears --pre`

[2016-05-25 07:28] Adrianzatreanu commented on #452
@rhnvrm RAML support has been successfully added to coala :)

[2016-05-25 13:48] rhnvrm commented on #452
@sils1297 @Adrianzatreanu Thanks a lot for this! It was much needed! :+1:

[2016-05-25 16:09] #454 closed

[2016-05-25 17:57] SanketDG opened #464 "Add stylelint"
https://github.com/stylelint/stylelint

[2016-05-25 18:31] #31 closed

[2016-05-25 20:44] #430 closed

[2016-05-25 23:09] #404 closed

[2016-05-26 01:06] Asnelchristian commented on #376
i would like to work on this

[2016-05-26 05:15] SanketDG commented on #376
@Asnelchristian make us proud :smile:

[2016-05-26 08:30] ujas800 commented on #449
i want to work on this issue.........

[2016-05-26 08:32] sils1297 commented on #449
Hey @ujas800 I've assigned you! Feel free to ask us if you have any issues, I don't recall anyone ever doing his first issue without any help, especially later when it comes to rebasing and stuff. Thanks for your help!

[2016-05-26 08:37] ujas800 commented on #449
thanks @sils1297....!

[2016-05-26 18:41] SanketDG commented on #419
Fixed in 362596b c4a95f6 d402bf5

[2016-05-26 18:41] #419 closed

[2016-05-28 13:09] abhsag24 opened #466 "LocalBearTestHelper: Provide mechanism to get dependencies"
right now LocalBearTesterHelper is not usable when a bear has other bears as dependencies, this should not be the case.

[2016-05-28 17:44] #449 closed

[2016-05-30 18:23] sils1297 commented on #460
(Comment from abdeali)

I think the best way is to make a website which has a table of the configs being used right now, the documentation related to that param, and the bears it's being used in. This website/webpage should have a search box for easy searching and should be auto generated from the bears itself.
This webpage would help third party bear writers too ! And would be a really cool one-p

[2016-05-31 00:53] sils opened #471 "Add star destroyer"
`pip install star_destroyer`

from https://twitter.com/zestyping , looks promising

[2016-05-31 00:56] sils1297 commented on #471
Looking a bit at this right now. Maybe I can meet the developer later this week.

[2016-05-31 01:21] sils1297 commented on #471
see also https://github.com/zestyping/star-destroyer/issues/1

[2016-05-31 18:44] sils1297 opened #473 "Add PyType + merge_pyi"
We can infer type annotations for python with that toolchain and automatically provide fixes with coala:

https://github.com/google/pytype
https://github.com/google/merge_pyi

Anyone wanna do?

[2016-05-31 18:59] sils1297 commented on #473
maybe also a PyType bear or something that plainly type checks.

[2016-05-31 21:00] Makman2 opened #475 "Bandit bear"
https://wiki.openstack.org/wiki/Security/Projects/Bandit

[2016-06-01 01:27] Makman2 opened #476 "Bear that checks for equal file names"
Not for the full path, just the file-**name**

[2016-06-01 03:13] AbdealiJK commented on #476
In a lot of my projects I have like 4-5 "utilities.py" in different folders (depending on what its used for)

For example `decorators/utilities.py`, `shjell/utilities.py`, etc.
It would get confused in such cases ?

[2016-06-01 05:59] dnozay commented on #475
the idea came from one of the pycon talks :)

[2016-06-01 20:16] devMoxie commented on #387
I'll fix this!

[2016-06-01 20:18] chriscoyfish commented on #180
I will work on this issue.

[2016-06-02 00:11] sils opened #479 "Feedback from PyCon"
We got some feedback. Here is it. TODO: file single issues out of this.
# COAST

high level extensible AST will blow up into lots of specific things
-> go lower level
# API

proper API documentation
# Worries

Same warnings from different tools -> eliminate
# Results

add interpreter version to result
# Globbing/file collection

shebangs instead of file endings? or on top
# coala logo feedback
- I

[2016-06-02 00:22] #180 closed

[2016-06-02 01:14] Makman2 commented on #476
then exclude them, but e.g. for coala this bear would fit quite well :+1:

[2016-06-02 10:59] ujas800 commented on #337
I would like to work on this issue.

[2016-06-02 11:12] abhsag24 commented on #337
@ujas800 here you go :)

[2016-06-02 17:00] sils opened #481 "Add C to supported languages in README"

[2016-06-02 17:12] sils1297 opened #482 "Move tutorial to users section"
http://coala.readthedocs.io/en/latest/Users/Tutorials/Tutorial.html should appear in the users section.

difficulty/newcomer

[2016-06-02 21:09] #352 closed

[2016-06-02 22:45] Makman2 opened #485 "CPDBear: Don't shortcut xml.etree.ElementTree import"
Inside coala-bears/bears/general/CPDBear.py :

Remove the import shortcut:
[code]
and change references accordingly

[2016-06-02 23:19] sils1297 opened #486 "help: Group arguments to groups that make sense"

[2016-06-02 23:19] sils1297 commented on #486
wrong repository

[2016-06-02 23:19] #486 closed

[2016-06-02 23:49] sils1297 opened #487 "coala crashes without stacktrace"
Try running `coala -I stupid`

importance/low

[2016-06-02 23:50] sils1297 commented on #487
wrong repo again... https://github.com/coala-analyzer/coala/issues/2230

[2016-06-02 23:50] #487 closed

[2016-06-03 00:42] sils1297 commented on #482
This issue was moved to coala-analyzer/coala#2235

[2016-06-03 00:42] #482 closed

[2016-06-03 01:04] underyx opened #488 "LocalBearTestHelper should be accessible for people writing custom bears"
Right now it's only importable from within the coala-bears repo.

[2016-06-03 07:28] Asnelchristian commented on #373
Good morning,
Can i be assigned to this ?

[2016-06-03 18:46] Makman2 commented on #488
We should introduce then a `coalib.testing` module.

[2016-06-03 20:09] sils1297 opened #490 "Add a warning about possible issues arising from InvalidLinkBear visiting all links in the code"
_From @underyx on June 3, 2016 16:51_

In case someone has a `do_not_ever_open = 'http://api.acme.inc/delete-all-data'` URL in the code or something.

_Copied from original issue: coala-analyzer/coala#2243_

[2016-06-03 20:09] sils1297 commented on #490
_From @gitmate-bot on June 3, 2016 16:51_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-06-04 14:52] #490 closed

[2016-06-04 18:23] sils1297 opened #494 "Unite outputs to one binary"
It's confusing for users to have `coala-...`.

We probably wanna have a `--json` argument instead because all those outputs are not different functionality.

[2016-06-04 18:23] sils1297 commented on #494
This issue was moved to coala-analyzer/coala#2279

[2016-06-04 18:23] #494 closed

[2016-06-04 21:02] sils1297 opened #495 "Improvement suggestion: SpaCy instead of NLTK for part of speech tagging"
_From @tmylk on June 4, 2016 20:59_

Comparison of SpaCy to NLTK by the author of SpaCy
https://www.quora.com/What-are-the-advantages-of-Spacy-vs-NLTK

_Copied from original issue: coala-analyzer/coala#2285_

[2016-06-04 21:02] sils1297 commented on #495
_From @gitmate-bot on June 4, 2016 20:59_

Thanks for reporting this issue!

Your aid is required, fellow coalaian. Help us triage and solving this issue!

CC @sils1297, @AbdealiJK

[2016-06-04 21:02] sils1297 commented on #495
CC @Makman2 @SanketDG for GitCommitBear

[2016-06-04 21:26] underyx opened #496 "Make use of VCS history to check for commented code?"

[2016-06-04 23:21] Makman2 opened #497 "PerlCriticBear: Don't use shutil.which"
You receive errors when trying to import the bear because passing `None` as an executable to linter is forbidden.

[2016-06-04 23:22] Makman2 commented on #497
mak@hp-elitebook:~$ coala -l Perl -L=DEBUG
[WARNING][16:19:37] The default coafile '.coafile' was not found. You can generate a configuration file with your current options by adding the `--save` flag.
[WARNING][16:19:37] coala will not run any analysis. Did you forget to give the `--files` argument?
[WARNING][16:19:37] coala will not run any analysis. Did you forget to give the `--bears` argument

[2016-06-05 06:04] Makman2 commented on #497
This was solved with 64795ac0c87171f98acd19f52574178ce613570a

[2016-06-05 06:04] #497 closed

[2016-06-06 00:29] underyx opened #498 "MarkdownBear seems to be incomplete?"
I have a file with the following content:

[code]

Running `coala --bears=MarkdownBear` on it gives me no errors, but `remark README.md -u remark-lint` gives me the following output:

[code]

I want coala to tell me these messages :(

[2016-06-06 00:32] underyx opened #499 "Ignore `^cs_keywords` regex by default in KeywordBear"
[code]
:D

[2016-06-06 01:05] sils1297 opened #501 "`coala -z` fails due to argparse"
area/cli
type/bug

[2016-06-06 01:07] Makman2 commented on #499
you run analysis on your own coafile? :D but yes we could do that :+1:

[2016-06-06 01:09] sils1297 commented on #501
This issue was moved to coala-analyzer/coala#2301

[2016-06-06 01:09] #501 closed

[2016-06-06 03:00] underyx opened #502 "MarkdownBear is not very helpful"
https://gitlab.com/underyx/dotfiles/builds/1640916

I got an error message that
[code]
and I have no idea what to do with this, especially since coala is providing the settings and I don't even see them :(

[2016-06-06 03:02] underyx commented on #499
@Makman2 I run analysis on `**`, cause sure, I want the .coafile as well as all other things to have space consistency and a line length check :D

[2016-06-06 03:05] AbdealiJK commented on #502
I think you can check the default settings with `coala -B -I -b MarkdownBear`
And also, if you set the default action to be "ShowPatchAction" you can see the suggested changes which helps to understand why coala gave that Result :)

Although, I agree that the error message is bad and these are just workarounds for you right now.

[2016-06-06 04:35] underyx commented on #502
@AbdealiJK thanks for the tips! Sadly, after [this change to the .coafile](https://gitlab.com/underyx/dotfiles/commit/3e9ce5e476e47b2a99d62e3919de66768a32bec9) the output still doesn't help: https://gitlab.com/underyx/dotfiles/builds/1641088

[2016-06-06 04:42] AbdealiJK commented on #502
Oops, sorry.

The reason it does not work is because `coala-ci` is "Non Interactive" and so actions cannot be applied (they're skipped).
The discussion about this was at https://github.com/coala-analyzer/coala/issues/1526 which led to https://github.com/coala-analyzer/coala/issues/1546 and both never got solved ...

[2016-06-06 04:51] mr-karan commented on #154
Work done :+1:  Please check it out by installing
`pip install coala-bears-create`

https://asciinema.org/a/47916

[2016-06-06 05:05] sils1297 commented on #154
Hey, I like it. I feel like the texts should be shortened a lot, users won't read this amount of text. Also the commit messages on your PR aren't that good yet.

Looks like a solid start on first sight but will need some heavy code review :)

[2016-06-06 05:13] AbdealiJK commented on #154
It does look good ! Where is the repo for the project btw ?

- In lines like - "Please enter the description of the bear " add a `:` or so in the end so that it doesnt get confusing to read the description. Also, possibly ask for the description in the next line.
 - In lines like - "Please select regex or correction" simply doing `(regex, correction)` should be enough.

[2016-06-06 05:30] mr-karan commented on #154
https://gitlab.com/coala/coala-bear-management/tree/bearcreate - Awaiting to be merged to master. If you can share your gitlab handle I can right away add you to people who can accept and merge in master (Right now i have added only @sils1297)

Thanks for the correction, I'll make the changes soon. I've quickly added a new feature right now
![imgur](http://i.imgur.com/oPXLomB.png)

[2016-06-06 05:33] mr-karan commented on #154
I'll cleanup the commits and make the texts short

[2016-06-06 05:35] Makman2 commented on #499
that's sane :+1: :)

[2016-06-06 18:45] #387 closed

[2016-06-10 14:14] sils opened #504 "PHPCodeSniffer"
We should have that!
- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Fixing-Errors-Automatically
- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Reporting

Should be difficulty/low to do reporting only with everything configurable, maybe report an issue for getting fixes together with the issues possibly in a json or so.

[2016-06-10 14:15] sils1297 commented on #504
CC @Makman2 @tushar-rishav

[2016-06-10 14:17] AbdealiJK commented on #504
`everything configurable` Nope, difficulty/medium most probably. PHPCS is **super** configurable

[2016-06-10 14:23] sils1297 commented on #504
lets add it with basic configuration first? I'd love to have it ASAP so we have at least *something* to offer to those users

[2016-06-11 06:35] mr-karan commented on #154
Made the changes

https://gitlab.com/coala/coala-bear-management/merge_requests/2

[2016-06-11 17:44] sils1297 opened #506 "Register bears directly instead of bear directories!"
This might have a huge performance effect since we don't need to glob through all bear directories and just take those bears.

[2016-06-11 19:44] Makman2 commented on #154
I like the statusbar :D

[2016-06-12 11:45] abhsag24 opened #507 "coalang: use settings from both bearlib.languages and coalang_dir"
if we have both the definitions, we should use the settings from both, conflicting settings can be taken from coalang_dir as that can be seen as overwriting.

[2016-06-12 11:46] abhsag24 commented on #507
its an issue in coala i'll open it there sorry.

[2016-06-12 11:46] #507 closed

[2016-06-12 18:53] fneu opened #508 "Categorize Bears"
We need to know which analysis features we can offer for which languages,

the idea so far is to **categorize all routines into attributes** and add (a group of) **attributes to each bear**.

I would like some input as to which catefories make sense,

`CAN_FIX` for example should definitely be an attribute.

[2016-06-12 21:17] Makman2 commented on #508
hmm... something like `CAN_FIX` can be meaningless if a bear only fixes a certain kind of issues, while others don't have a patch. I think the documentation of each bear should state that accordingly^^

[2016-06-12 21:29] fneu commented on #508
Well, certainly, but it would be really nice to have an overview about the features of coala, for us as well as for potential users.

Since the numbers and abilities of our bears are evolving rapidly, @sils1297 asked for a mechanism that would automatically determine and update the list of abilities.

[2016-06-12 21:36] sils1297 commented on #508
also users will want to filter stuff on the website

[2016-06-12 21:58] Makman2 commented on #508
@sils1297
when I'm looking for a bear, I usually start with the language, nobody starts searching for something like `CAN_FIX` (even if there's a checkbox list of features bears shall include), as the ability to fix stuff is not the prerequisite for using coala, it's the ability to look over *your* code in *your language*. Fixes are just a nice bonus.

@fneu yes, though imo abilities can be so fin

[2016-06-12 22:04] fneu commented on #508
So how would you write or capabilities down on the website?

[2016-06-12 22:10] sils1297 commented on #508
Like github issues, you should be able to filter bears for different properties and sort and so on, we'll want as much metadata as possible.

[2016-06-13 01:33] AbdealiJK opened #509 "NLTK version increase"
NLTK has now become 3.2.1 which resolves the windows issue.
So, we can remove the constraint of "3.1 or lesser". They have also removed 3.2 from pypi so nobody can download it anymore.
http://stackoverflow.com/questions/35836907/nltk-v3-2-unable-to-nltk-pos-tag

[2016-06-13 08:10] sils1297 commented on #509
Task: increase nltk version to the latest in requirements.txt

[2016-06-13 08:44] Adrianzatreanu opened #510 "Move wiki pages to coala wiki"

[2016-06-13 09:13] Adrianzatreanu commented on #510
closed, moved and updated the links of the coala-bears pages to a subsection of the coala wiki https://github.com/coala-analyzer/coala/wiki/Home---coala-bears

[2016-06-13 09:13] #510 closed

[2016-06-13 10:54] fneu opened #512 "Bad User Experience"
hey guys,
### tl;dr

it would be really cool to have a compact list that shows all available bears and their dependencies / + whether they are met.
### story

so I'm in the process of creating a docker image for coala right now, containing all the stuff necessary to run everything we can offer. I'm not done and bear stuff breaks. One thing I notice is that it is rather easy to figure out missing o

[2016-06-13 15:40] #376 closed

[2016-06-13 16:19] Makman2 opened #514 "FormatRBear: Allow to disable parameter-options for formatR"
Sometimes certain style rules shall not be checked at all, we should allow to disable them (like `r_use_arrows`).

CC @Asnelchristian

[2016-06-13 19:12] sils1297 opened #516 "Make coffeelintbear configurable"
difficulty/low
area/lintbears

[2016-06-13 19:17] sils1297 opened #517 "CoffeeLintBear: Use --stdin"

[2016-06-13 20:01] Makman2 commented on #517
any advantage using that?

[2016-06-13 20:05] sils1297 commented on #517
Sure, keep stuff in memory, less IO, coala may be used in editors with
files that aren't on the FS, @mr-karan might need it for inlined code.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 13 June 2016 at 22:01, Mischa Krüger <notifications@github.com> wrote:

[2016-06-14 08:21] Asnelchristian commented on #514
can i work on this one ?

[2016-06-14 09:17] sils1297 commented on #514
sure!

[2016-06-14 09:37] Adrianzatreanu opened #521 "Create a tool checking bears for attributes"
As we are planning to decentralize bears, we will hold all the metadata (such as maintainer name, author name, etc) in the bears. Therefore I think it would be cool to have a tool that will tell you if any of those is missing from any bears. It would be more like a maintainance tool i guess?

[2016-06-14 18:41] Makman2 commented on #521
maybe we should just add a warning when importing bears, then we don't need another tool for that^^

[2016-06-14 18:41] Makman2 commented on #521
if we want to do this, then we should migrate this issue to coala^^

[2016-06-14 18:43] Adrianzatreanu commented on #521
i dont really understand what you are saying :(

[2016-06-14 18:56] Makman2 commented on #521
we can check each bear while imported into coala (as we do import them anyway now), if some metadata is missing, we trigger a warning on a coala run.

[2016-06-14 18:58] Adrianzatreanu commented on #521
Hm okay sounds like a good idea

[2016-06-14 20:27] sils1297 commented on #521
just make a bear?

[2016-06-14 20:28] Adrianzatreanu commented on #521
I was thinking about it, but why make a bear for this? Probably noone will ever use it, it's more for maintaining stuff and helping me not miss any attribute..

[2016-06-14 20:29] sils1297 commented on #521
we will use it. a coalaBearBear

[2016-06-14 20:29] Adrianzatreanu commented on #521
alright then, a bear it is.

[2016-06-15 00:01] Makman2 commented on #521
@sils1297 if noone know that there's such a bear, it's not really useful for our users, imo a warning is a better approach^^ we want to encourage people to write good bears, don't we?

[2016-06-15 08:35] sils1297 commented on #521
the missing metadata doesn't affect users, if we do it at that level we
should do a debug message IMO. But yeah maybe that's even simpler.

[2016-06-15 12:42] Makman2 commented on #521
yeah a debug message is fine with me :)

[2016-06-15 14:02] underyx opened #526 "reSTLintBear: Does not find the Pygments package that was installed as a coala-bears dependency"
I'm getting this after a clean install:
[code]

[2016-06-15 14:07] sils1297 commented on #526
@underyx I can't reproduce it locally, it feels like an upstream problem though. I see however, that our regex shouldn't catch that as an issue and issue a warning instead.

[2016-06-15 14:10] sils1297 commented on #526
FWIW I do not have pygments installed as it seems and the bear works.

[2016-06-15 14:16] underyx opened #527 "New FilesExistBear for checking if project files exist"
I just copied over an old `.coafile` to a new project. It would have been nice if I could've had something like

[code]

and then coala could've complained that I forgot to put a license in my new project. It could also have opinionated defaults, for people who don't even know that they should have for instance a `LICENSE` and turn to coala for advice on what files are missing.

Maybe we could als

[2016-06-15 14:26] sils1297 commented on #527
@underyx interested in helping out here?

[2016-06-15 14:59] underyx commented on #527
@sils1297 one day, maybe :D

[2016-06-15 15:02] underyx opened #528 "InvalidLinkBear: Don't consider redirects an error"
I'm seeing this error:

[code]

That's obviously a false positive :(

We should do something to make sure this sort of server behavior is not considered erroneous.

---

The original suggestion in this issue was:

[2016-06-15 15:22] sils1297 commented on #528
we could just check the exit code of the redirected URL, the idea here was that you can replace your URL with the other one for e.g. a HTTPS redirect

[2016-06-15 17:06] underyx commented on #526
Oh, turns out I actually had pygments installed globally already, could you
try to reproduce like that?

On Wed, Jun 15, 2016, 4:10 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-06-16 08:42] underyx commented on #528
Oh, I did not realize that was the goal. I think we also wanted to handle websites that do something like a `HTTP 301 sillywebsite.com/asdfsadfasf` pointing to `HTTP 200 sillywebsite.com/404`. If not, checking the target's status code sounds good to me.

[2016-06-16 19:52] Adrianzatreanu opened #529 "Add REQUIREMENTS for each bear"
To be able to decentralize bears, we need to fulfill each bears separate requirements, by giving them the requirements to the REQUIREMENTS tuple.

Example for CPPCleanBear: ``REQUIREMENTS = PythonRequirement('cppclean', '0.9.*')``

[2016-06-17 14:15] abhsag24 opened #532 "lint bears: order params alphabetically?"
so with bears that have more configs, would it be nice idea if there were ordered alphabetically?

[2016-06-17 16:47] Makman2 commented on #532
you mean in the help or inside the code?
for the help I would say we shouldn't do that automatically, sometimes settings to belong together.

[2016-06-18 08:06] abhsag24 commented on #532
they follow the same order right?

[2016-06-18 15:08] #373 closed

[2016-06-18 16:32] Asnelchristian commented on #516
I would like to work on this one

[2016-06-18 16:44] abhsag24 commented on #516
here you go :)

[2016-06-19 09:26] Adrianzatreanu opened #534 "Add CAN_FIX and CAN_DETECT to each bear"
These attributes currently exist, but we also need to use them. Each bear should hold information about what it can fix and what it can detect.

Both are sets, and can_detect takes everything from can_fix automatically (if one bear can fix something, it surely can detect it too)

[2016-06-19 09:34] sils1297 commented on #534
Yes we do need that ideally somewhen like today or tomorrow, whoever does that will get invited to an extra free meal by me personally at EuroPython. Any volunteers?

[2016-06-19 09:37] Adrianzatreanu commented on #534
Why do you need it so fast?

[2016-06-19 09:38] sils1297 commented on #534
I want the info in for the release so we can update bear-docs. Also we need it for gitmate to evaluate now coala compares to other solutions and what analysis we offer which ultimately helps coala as well. So this is a super important thing that affects users directly and can help us develop the right bears in the futuer.

[2016-06-19 09:39] Adrianzatreanu commented on #534
Do we have this somewhere I could take it from already? Or need to do it from scratch?

[2016-06-19 09:54] sils1297 commented on #534
We gotta do this from scratch, we only have a rough listing of what we can do but not per bear. Which means for every bear look up what it can do and put it there :/

[2016-06-19 10:04] Adrianzatreanu commented on #534
I can help with this, but this surely takes a while because not all those options (syntax, etc) are posted somewhere, please post the link here for support though :p
not promising i do all 65 bears today or tomorrow though..

[2016-06-19 11:07] #40 closed

[2016-06-19 17:36] abhsag24 opened #535 "IndentationBear: Error when newline before un-indent"
Error if blank line before un-indent
Example:
[code]

[2016-06-19 22:22] #535 closed

[2016-06-21 11:44] Asnelchristian opened #539 "FormatRBear: Rename _map_to_r_bool"

[2016-06-21 18:24] arafsheikh opened #541 "InferBear: Support more languages"
Add support for all languages listed at http://fbinfer.com/docs/hello-world.html

[2016-06-21 19:39] Makman2 commented on #541
as we use Infer, there should be also support for these language, shouldn't it?

[2016-06-21 19:41] arafsheikh commented on #541
The syntax is different. e.g. `infer -- javac Hello.java` vs `infer -- gcc -c hello.c`

[2016-06-21 22:20] Adrianzatreanu opened #544 "CAN_DETECT: Modify ``Simplification``"
Currently ``Simplification`` is used too abstract. It should be removed from where it has the means of ``Formatting`` code better (and have only the ``Formatting`` attribute), and replaced with ``Optimization`` where the bear actually optimizes algorithms or functions or whatever.

This is about the value of ``CAN_DETECT`` attribute which bears has, with a full set of possible values found in ``co

[2016-06-22 13:03] Ana06 commented on #322
I'll do it :wink:

[2016-06-22 13:05] jyeray commented on #485
I want to do this :wink:

[2016-06-22 13:27] heijligen commented on #321
Then I'll try this one

[2016-06-22 18:29] #485 closed

[2016-06-25 18:37] Asnelchristian opened #556 "FilenameBear: Not aware of ``space_case``"
This bear is not aware of the space_case naming convention that was added.
For example:
    ``Hello World``
will produce an error

[2016-06-27 09:05] underyx opened #557 "New QuoteConsistencyBear for checking if the same string delimiter is used across the function"
When the quote mark is set to `'`

- `'hi!'` should pass
- `"hi!"` should fail and be corrected to `'hi!'`
- `"'ello!"` should pass
- `'\'ello!'` should pass or be corrected to `"'ello!"` depending on a config value

[2016-06-27 09:06] sils1297 commented on #557
we have some annotationbear that alreay determines strings in the source code, that can be used as a dependency

[2016-06-27 09:08] hypothesist commented on #557
@underyx How about `"Jack's got 'em"`? I understand that's a really tough, corner case.

[2016-06-27 09:12] underyx commented on #557
@hypothesist how is it different from the third example:

?

If the question is about difficulty in the string parsing, I think the apostrophes can be totally ignored and not considered string delimiters if we've already seen an opening double quote.

[2016-06-27 10:21] Makman2 commented on #557
I would apply the same rules as python does:
1. Prefer single quotes
2. If a string contains single quotes only and no double quotes, use double quotes
3. If a string contains both, single and double quotes, prefer again single quotes and escape single quotes in string

[2016-06-27 10:44] underyx opened #558 "Add a `dynamic` option to SpaceConsistencyBear's `use_spaces` and `tab_width` args"
There should be an option that only enforces consistency within the scope of files. It might be difficult to do this for `tab_width` though because of language features/customs such as Python's hanging indents.

So, some examples:

[code]
should fail and suggest `     baz`

[code]
should fail and suggest `<Tab>baz`

[code]
should pass

[code]
should pass

[2016-06-27 11:00] underyx commented on #557
@Makman2 yes, this should be one of the possible behaviors, but there should be config options for

1. prefer **single/double** quotes

and

2. If a string contains single quotes only and no double quotes, **use double quotes/escape single quotes**

[2016-06-27 15:26] hypothesist opened #559 "ClangFunctionDifferenceBear's options show function addresses"
Try `coala --show-bears --filter-by-language C --show-details` and see ClangFunctionDifferenceBear's entry.

[2016-06-27 15:28] hypothesist commented on #559
Here's what I get for reference:

[code]

[2016-06-27 20:08] Makman2 commented on #557
ah okay  :+1: :)

[2016-06-29 06:07] AbdealiJK commented on #460
ping @tushar-rishav as you're making the website (and could be a sub project). Should take a week or so utilizing things at https://github.com/coala-analyzer/bear-docs ?

[2016-06-29 17:11] Asnelchristian commented on #517
can i work on this ?

[2016-07-02 22:23] Makman2 commented on #514
Ah in the PR message this issue was referenced... but it's not solved yet

[2016-07-03 09:40] #534 closed

[2016-07-03 09:41] Adrianzatreanu commented on #534
aaand done. forgot to include it because i split it into many commits and none was fit enough to bear the name of closing this issue :)

(see the pun? *bear*)

[2016-07-03 09:41] Adrianzatreanu opened #562 "SCSSLint bear can use some settings"
I was going through their website, and I noticed there's a lot of settings it can get, including colors on text and stuff, i think it would be cool for us to have those too.

https://github.com/brigade/scss-lint

[2016-07-05 07:53] abhsag24 opened #563 "change `tab_width` -- > `indentation_width`"
currently `tab_width` in most bears is used as number of spaces to indent, it has nothing to do with tabs and should be changed to `indentation_width` like rubocop

[2016-07-05 12:05] abhsag24 opened #564 "AnnotationBear: Fails on python files."
it incorrectly reports strings on coala's `Processing.py`  right after line `216` though isolating these lines it works fine, i'll update when  i'll have more info

[2016-07-06 18:19] #329 closed

[2016-07-06 18:19] #433 closed

[2016-07-06 18:22] fneu opened #568 "yapf bear"
So I just found out about [yapf](https://github.com/google/yapf)

it's basically a linter from google in python for python

they are awesome because:

example:

[code]

[code]

[2016-07-08 15:03] Makman2 commented on #563
This task also involves changing documentation

[2016-07-08 23:18] Asnelchristian opened #571 "GitCommitBear: Change ``returns`` to ``return``"
[line](https://github.com/coala-analyzer/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L147)
difficulty/newcomer

[2016-07-09 05:46] tushar-rishav commented on #571
Haha! The Irony!

[2016-07-09 05:59] Asnelchristian commented on #571
yeah this is really funny :)

[2016-07-09 19:49] sils1297 opened #572 "ESLintBear doesn't work"
[code]

[2016-07-09 20:04] SanketDG opened #573 "write good linter"
https://github.com/btford/write-good

[2016-07-14 11:42] underyx opened #579 "Create a CustomCheckBear for an easy way to write custom static analysis rules to be executed by coala"
difficulty/high

I think this will be a fairly large proposal with lots of design needed. Right now I'm imagining something like having a `.coachecks/` directory, where users are able to add their own custom check scripts that coala will provide either the source lines and the AST to. These scripts would be run by coala once per file. Here's two examples:

### `.coachecks/usage_of_large_magic_numb

[2016-07-14 11:51] sils1297 commented on #579
Some kind of rules? Your first example isn't particularly simpler than just writing a bear, right? See also: https://github.com/coala-analyzer/coAST/blob/master/ideas.md

[2016-07-14 11:55] underyx commented on #579
I do consider it simpler, actually. Not because of the bear API itself, but because of the process of getting that bear to run. In this case, you could just write these few lines, drop it in a project, and have it run automagically. I'm actually not 100% sure about the process of using a custom bear, but I'm sure it's not this simple.

[2016-07-14 12:06] sils1297 commented on #579
for a custom bear you just write

[code]

You can easily put it in your project directory and give coala a `bear_dirs = .` setting in the coafile, then use it as if it's an official one.

[2016-07-14 12:08] sils1297 commented on #579
see also http://coala.readthedocs.io/en/latest/Users/Tutorials/Writing_Bears.html#a-hello-world-bear

coala bears are made to be simple and also so you can easily add some custom ones for your own project. If they don't suit that purpose we should improve them IMO.

I'm not a fan of running the code on module level like in your mockup, at least a decorated function should be there (which will prob

[2016-07-14 12:15] underyx commented on #579
@sils1297 wow, I had absolutely no idea that the `bear_dirs` variable existed. Would it be possible to default it to check `./.coabears/` as well by default? Just to reduce friction even further.

For the record, the API design in my issue description was not really well thought out at all, I just wanted it to be as simple as possible to demo how this would even work. But as it turns out it's alre

[2016-07-14 12:31] sils1297 commented on #579
Hm, guess we could do that. I feel like the main issue here is that you didn't know this before - which is because it's in the developer docs and as a user you don't care about those. So where in the docs do we want to mention this?

It is possible to default the setting this way but I'm not sure we want that, it's somewhat weird and needs some actual code. You can set system wide settings in the

[2016-07-14 12:49] underyx commented on #579
The global settings are not really an alternative, since if someone else or CI cloned my project, it wouldn't pick up on the custom checks unless the settings are in .coafile as well.

Could you elaborate on this? I'm not sure what you mean by 'actual code'. The way I see it we could just add it as a default setting, and make sure that the collector just skips directories that do not exist.

[2016-07-14 13:18] underyx commented on #579
As discussed above and on gitter, all this can be accomplished with two other, smaller issues, https://github.com/coala-analyzer/coala/issues/2450 and https://github.com/coala-analyzer/coala/issues/2451

Closing this one.

[2016-07-14 13:18] #579 closed

[2016-07-15 06:42] mr-karan commented on #573
I'd like to work on this, as I'm using this linter to test a multiline output from linter executables (part of my GSoC project)

Details here :point_up: [July 15, 2016 12:10 PM](https://gitter.im/coala-analyzer/coala?at=5788854e8423d0842430aa38)

[2016-07-16 13:08] Asnelchristian opened #580 "Set ``max_line_length`` to ``79`` where the newline character is not counted throughout the project"
difficulty/low

[2016-07-18 11:17] underyx opened #583 "PyImportSortBear: Blank lines break output"
type/bug

See this output:
[code]

[2016-07-18 12:24] sils1297 commented on #583
how is it messed up?

[2016-07-18 12:33] underyx commented on #583
Sorry if it wasn't clear @sils1297, instead of

[code]
I thought it should be
[code]

Now that I think about it might be just an issue with how coala-analyzer/coala handles blank lines in the output.

[2016-07-18 12:39] sils1297 commented on #583
Hey, the bear specifies which lines are related to the import. Apparently the bear gave line 6 and line 8 (not line 6 to 8!) to coala because the diff touches those. The blank line is not intended to be shown here.

[2016-07-18 12:46] underyx commented on #583
Oh, that's my bad then. Either way, I find this pretty hard to skim/visually parse. Definitely a coala issue though, so continuing the discussion at https://github.com/coala-analyzer/coala/issues/2458

[2016-07-18 12:46] #583 closed

[2016-07-19 10:32] RaitoBezarius opened #586 "Warn user when he has installed `remark` instead of `remark-cli`"
When using the Markdown Bear, you'd be tempted to run a `npm install -g remark` as the tool is saying that `remark` is not installed.

Though, the exact package is `remark-cli`, the fact is the bear is wrongly used the fake `remark` tool which will just display a "No you should uninstall this and install `remark`", causing coala to remove *everything* in your Markdown file if you decide to apply p

[2016-07-19 10:43] sils1297 commented on #586
Indeed, we probably wanna add a simple note to the message and be done with it? Like be sure to install the remark-cli package and not remark.

@adrianzatraneu can we already show the generated command?

[2016-07-19 22:12] Asnelchristian opened #587 "CSecurityBear: Change ''-> ``"
[line](https://github.com/coala-analyzer/coala-bears/blob/master/bears/c_languages/CSecurityBear.py#L35)

[2016-07-20 07:09] mr-karan opened #588 "Add happiness bear (for Javascript)"
https://www.npmjs.com/package/happiness

`$ npm install happiness -g`

[2016-07-20 08:17] sils1297 commented on #586
CC @Adrianzatreanu can we have the failure messages generated from the requirements attribute?

[2016-07-20 21:45] sils1297 commented on #572
@hypothesist btw. this is release critical

[2016-07-21 07:32] RaitoBezarius opened #593 "[ESLint] Empty files does not work as expected"
Steps to reproduce:

1. Create an empty JavaScript file.
2. Run the ESLint bear on it.
3. Get a `json.loads` exception and lose the monopoly.

Why does it happens?

We are using the `--stdin` option to pass the file content, but we might be assuming the file content is non-empty, following is that `eslint` does not return any JSON. We just have a `()` (empty tuple) as file.

[2016-07-21 08:13] RaitoBezarius commented on #593
Refer to #594 for a fix.

[2016-07-21 08:30] RaitoBezarius opened #595 "[ESLint] Transpiled / minified big files does not work"
Steps to reproduce:

1. Take `jquery-latest.min.js`
2. Run coala on it.
3. Have fun.

The bug is not strictly due to coala, in fact, it is ESLint's fault.
It happens **only** when you're using `-f=json`.

My take on this would be to add an exception check: `if 'exception' in output: raise ToolError('ESLint is bugged, go make a complain to them!')`

[2016-07-21 08:32] RaitoBezarius commented on #595
Another idea would be:

— if the filename contains `min`, warn the user or be smart: ignore the file.

[2016-07-21 08:46] mr-karan opened #596 "Add httpolice bear"
https://github.com/vfaronov/httpolice

Looks a neat tool

[2016-07-21 10:02] sils1297 commented on #596
Yesyesyes!

[2016-07-21 10:03] sils1297 commented on #595
like it, if it's a .min.js issue a warning suggesting the user should place `**/*.min.*` in the ignore glob list

[2016-07-21 10:31] RaitoBezarius commented on #595
Yeah, exactly. Or we could also check the column length. Some files are not
following the format *.min.* but we know that they're one Line and
exp(10000) columns in count.

On Thu, Jul 21, 2016, 12:03 Lasse Schuirmann <notifications@github.com>
wrote:

--

--

Ryan Lahfa, from my phone.

[2016-07-21 10:33] sils1297 commented on #595
like the latter solution

[2016-07-21 13:41] Adrianzatreanu opened #597 "generate_package: Test the version variable"
Currently it has a pragma no cover as the testing should be done with mocking probably, so those should be removed.

``            if 'dev' in bear_version:  # pragma: no cover ``

``                  bear_version = bear_version[:bear_version.find("dev")] + (
                     nano_version)``
``
              else:  # pragma: no cover
``

[2016-07-21 13:54] tushar-rishav commented on #597
I think you may be able to mock the version by containing it within an object (dict) and then mocking that object. Something like:
[code]
CC @Adrianzatreanu

[2016-07-21 14:47] mr-karan opened #598 "bears/ShellCheckBear: severity_map missing"
Need to add that ^

[2016-07-21 15:34] sils1297 opened #599 "test"
test, will be closed

[2016-07-21 15:35] #599 closed

[2016-07-21 16:54] Makman2 commented on #598
why? does ShellCheck output severities we don't support by default?

[2016-07-21 17:03] mr-karan commented on #598
@Makman about this, I have a question. Don't we need to map the regex group to the severity_map and only then the highlighted colors will show up?

So according to me
severity_map={'info':RESULT_SEVERITY.INFO} will highlight that regex output with the specific color?

[2016-07-21 18:50] sils1297 opened #600 "coalaBear"
Let's make a `coalaBear` that checks all occurrences of `coala`. It raises a `MAJOR` result if it's written like `Coala` or `COALA` nd autocorrects it to `coala` or `cOALA` respectively with a message `coala is always written with a lower case

[2016-07-22 03:44] SanketDG opened #601 "mypy"
mypy does static type analysis for python http://mypy-lang.org/

I am not sure we want this.

Here's a good tutorial
http://www.machinalis.com/blog/a-day-with-mypy-part-1/

[2016-07-22 12:24] sils1297 commented on #600
CC @alan-martinovic

[2016-07-22 15:04] Makman2 commented on #598
What colors? The severity map is just there for mapping the textual severity value to an enum value. `@linter` provides a default map.

[2016-07-22 18:51] #322 closed

[2016-07-23 04:19] mr-karan commented on #598
@Makman2 See this https://github.com/coala-analyzer/coala/blob/master/coalib/results/RESULT_SEVERITY.py#L5

`green`,`yellow`,`'red` are mapped based on that enum value right? What is the default map?

[2016-07-23 10:11] #588 closed

[2016-07-23 11:22] #568 closed

[2016-07-23 11:35] caichinger opened #605 "PEP8Bear for Jupyter Notebooks"
Jupyter Notebooks are widely used for tutorials.

It would therefore be nice to have PEP8Bear for notebooks to make sure basic code style standards are met.

I will give this a try and join your sprint later. ;)

[2016-07-23 11:35] sils1297 commented on #605
Neat, see you!

[2016-07-23 11:35] sils1297 commented on #605
We could also add grammar checking for the other parts with languagetool :)

[2016-07-23 11:43] Asnelchristian opened #606 "Fix typo: CPDBear: ``omparison``->``comparison``"
[line](https://github.com/coala-analyzer/coala-bears/blob/master/bears/general/CPDBear.py#L75)

[2016-07-23 12:00] sils1297 commented on #605
CC @Udayan12167 and @mr-karan this is the first bear we'd have that should reuse other bears for parts of the file with different languages. We should think of this as a potential new concept, just write a bear for that particular file and that bear then could deal with invoking the others for the parts?

[2016-07-23 13:19] stevemontana1980 opened #608 "py.test failing on 10 tests"
I forked and cloned the coala-bears repo, but it is still failing on ten tests. I have upgrade coala-bears to the latest version as per documentation.

See log for details:

[log_pytest_23072016.txt](https://github.com/coala-analyzer/coala-bears/files/379772/log_pytest_23072016.txt)

Thanks for helping out.

[2016-07-23 13:25] hypothesist opened #609 "RadonBear fails"
[code]

[2016-07-23 13:49] blueyed commented on #609
The problem is that the `SourcePosition`s from `radon.complexity.cc_visit` is `None` and `0`.

The following hack would fix it:

[code]

[2016-07-23 14:50] Makman2 commented on #598
current supported severity map:
[code]
the color mappings are performed by the result, you don't have to care as a linter-bear-writer about that^^

[2016-07-23 14:54] sils1297 commented on #608
@Adrianzatreanu interested in helping out?

[2016-07-23 15:00] sils1297 commented on #609
related https://gitlab.com/coala/coala-utils/issues/11

[2016-07-23 15:21] Adrianzatreanu opened #610 "Readme"
Now that we got the amazing coala README by @hypothesist i feel like we should make the change on coala-bears to make it more attractive too, so im taking up the challenge :)

[2016-07-23 15:28] sims1253 opened #611 "[Bear Proposal] Rust Bears"
We don't have any bears for rust at the moment.
@justuswilhelm you like rust. Wanna write some bears?

[2016-07-23 15:47] sims1253 opened #614 "[Bear Proposal] google sanitizers"
https://github.com/google/sanitizers

[2016-07-23 15:47] sims1253 opened #615 "[Bear Proposal] valgrind"
http://valgrind.org/

[2016-07-23 16:46] #516 closed

[2016-07-23 16:46] #517 closed

[2016-07-23 16:46] #544 closed

[2016-07-23 16:50] mr-karan commented on #598
alright thanks for clarification, closing it

[2016-07-23 16:50] #598 closed

[2016-07-23 18:41] Asnelchristian commented on #504
I am on it :)

[2016-07-23 21:00] hypothesist opened #616 "README: Make the list of languages more editable somehow"
Maybe generate them automatically?

[2016-07-24 05:01] abhsag24 opened #618 "script to count Bears"
so right now we manually mention Bears on our Readme, it'd be cool to have a bear that can count the bears and generate a cool badge!

[2016-07-24 07:40] #573 closed

[2016-07-24 09:10] sils1297 opened #620 "Make python formatting bears better configurable"
The following was needed here:

- No newline after `class ...` before the first `def`
- One newline after a docstring after `class ...` before the `def`

[2016-07-24 10:02] sils1297 commented on #620
wrap https://github.com/hhatto/autopep8#features to proper settings in the bear

@Asnelchristian interested?

[2016-07-24 10:19] IgnatiousFlo opened #621 "Pip install fail with java on mac"
In a fresh virtual environment with python 3.5.2 on a Mac.

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/rx/6bg2t2rx0hj6pdms2pw5lykm0000gn/T/pip-build-cwo5pyjz/language-check/setup.py", line 597, in <module>
        sys.exit(main())
      File "/private/var/folders/rx/6bg2t2rx0hj6pdms2pw5lykm0000gn/T/pip-build-cwo5pyjz/language-

[2016-07-24 10:27] sils1297 commented on #621
CC @Udayan12167 @AbdealiJK ideally if one of the bear dependencies fails to install, this one in particular, we'd just continue installation without it. Question is, can pip do that somehow?

[2016-07-24 10:27] sils1297 commented on #621
Also CC @Adrianzatreanu because his project would solve this as well.

[2016-07-24 10:28] IgnatiousFlo commented on #621
I installed Java for the Mac from this url and it now runs fine.

https://support.apple.com/kb/DL1572?locale=en_US

[2016-07-24 12:04] AbdealiJK commented on #621
Pip has no way to handle a optional dependency.
I think it would be worthwhile to make a PR in language-check which gives a better error message in case java is not installed, as it's a dependency for language-check.

[2016-07-24 12:32] hypothesist commented on #618
I'm not sure if this should be a bear. I think a simple script will suffice.

[2016-07-24 12:33] #610 closed

[2016-07-24 13:00] sils1297 commented on #618
IMO a script will do

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 24 July 2016 at 14:32, Adhityaa Chandrasekar <notifications@github.com>
wrote:

[2016-07-24 14:41] sils1297 opened #625 "Cache checkstyle jar in CI"
that's failing a lot

[2016-07-24 14:42] sils1297 opened #626 "Enable people to pass an own jar for checkstyle etc."

[2016-07-24 15:15] encukou opened #627 "Reword references to PEP 8"
PEP8Bear gives messages like `The code does not comply to PEP8.`.

It's not really possible to automate checking compliance with PEP 8 – a document, which says, for example, that it's OK to break a guideline if "applying the guideline would make the code less readable".

Instead of "PEP 8", you could for example refer to the tools `autopep8` or `pycodestyle`.

See here for related discussion: http

[2016-07-24 15:25] Makman2 commented on #618
script :P

[2016-07-24 15:27] Makman2 commented on #621
agreeing with @AbdealiJK

[2016-07-25 05:21] mr-karan opened #629 "Add spellcheck bear"
https://github.com/myint/scspell

We can use this to have a spell check bear.

[2016-07-25 08:52] mr-karan opened #630 "Add reek bear for Ruby"
https://github.com/troessner/reek

[2016-07-25 08:53] mr-karan commented on #630
oops didn't notice we already have

[2016-07-25 08:53] #630 closed

[2016-07-26 05:58] mr-karan opened #634 "Add CSSCombBear for CSS"
https://github.com/csscomb/csscomb.js

also was featured in https://github.com/showcases/clean-code-linters

[2016-07-26 06:01] mr-karan opened #635 "Add HTMLHint for HTML"
https://github.com/yaniswang/HTMLHint

[2016-07-26 11:16] #600 closed

[2016-07-26 23:53] caichinger commented on #605
I started working on this issue and the current draft can be found here:
https://github.com/caichinger/coala-bears/tree/605_ipynb_pep8bear

Currently I am on holidays but I will continue when I come back at beginning of August.

Some thoughts:
- Reading/writing Jupyter Notebooks most easily done with https://github.com/jupyter/nbformat (no problem with different versions, etc.). Everybody working

[2016-07-27 00:14] Makman2 commented on #605
Nice thx @caichinger ! cool you are working on this :)
We will send out an invitation to our org, then you can be assigned to this issue so no one starts doing redundant work :+1:

[2016-07-27 00:15] Makman2 commented on #605
for help, conversion whatsoever feel free to drop by at our gitter channel: https://gitter.im/coala-analyzer/coala

there we can help you too with proceeding on this issue :+1: :smile:

[2016-07-27 08:22] sils1297 commented on #605
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-07-27 08:22] sils1297 commented on #605
@Makman2 feel free to send out invitations on your own.

[2016-07-28 08:27] mr-karan opened #640 "Add Dockerfile Lint Bear"
https://github.com/lukasmartinelli/hadolint

[2016-07-28 08:28] mr-karan commented on #640
@justuswilhelm Can you provide me some sample dockerfile template / code for testing? I'd like to take this up :+1:

[2016-07-28 11:15] justuswilhelm commented on #640
https://github.com/kstaken/dockerfile-examples

[2016-07-28 12:54] mr-karan opened #642 "package.json: npm install fails"
So while trying to install the dependencies at once using `sudo npm install -g` I got the following error

[code]

Upon searching the internet, I found that `name` and `version` field is kinda necessary for a valid package.json file.

P.S. we should *also* have a bear for proper package.json files apart from fixing this.

[2016-07-30 05:16] abhsag24 opened #644 "IndentationBear - Ignore doc comments/doc strings"
Doc comments don't usually follow standards and we are trying to ignore doc comments within the indentationBear, till then it is best if we tell people to ignore the IndentationBear over doc comments in the inline doc for the IndentationBear

[2016-07-30 08:40] #642 closed

[2016-07-30 08:51] sils1297 commented on #608
Hi, can you try to reproduce this? Be sure to install all requirements:

`pip install coala -U --pre; git checkout master; git pull; git clean -dfx; pip install -r requirements.txt -r test-requirements.txt; python -m pytest` (mind that the git clean command will *delete all untracked files*!)

[2016-07-30 16:45] Makman2 commented on #644
we already have doc-extraction algorithms, it should be possible to implement that inside `IndentationBear` constructing ignore ranges out of the extracted comments^^

[2016-07-30 19:54] stevemontana1980 commented on #608
Hi Lasse,

this seems to have made thing worse. See attach for output (44 failures).

Kind regards,
Steven

----- Original Message -----

From: "Lasse Schuirmann" <notifications@github.com>
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "Steven Van den Berghe" <svdberghe@telenet.be>, "Author" <author@noreply.github.com>
Sent: Saturday, July 30, 2016 10:51:53 AM
Subject: Re:

[2016-07-30 21:09] sils1297 commented on #608
CC @Adrianzatreanu apparently distributionrequirement fails a lot of bear tests for him?

[2016-07-31 18:36] abhsag24 commented on #429
Closed after the latest refactor

[2016-07-31 18:36] #429 closed

[2016-08-01 16:30] franzejr commented on #189
@sils1297, is it easy to add air bnb style guide? https://github.com/airbnb/ruby/issues/94

[2016-08-01 18:54] sils1297 commented on #189
Hey,

coala doesn't provide a "presets" mechanism yet (we should think about
that!), however if the rubocopbear has a setting for presets already
this'll be easy to do.

Greetings from London - maybe @Redridge can help you further.

[2016-08-02 18:59] sims1253 opened #646 "[Bear Proposal] Vulture (Dead code analysis for python)"
Python unused code detection with vulture
https://pypi.python.org/pypi/vulture

[2016-08-04 06:53] sims1253 opened #651 "CPDBear: Add instructions to install pmd(cpd)"
The instructions on the pmd site are lacking. Would be nice to have a small 3 step "do this to have cpd ready to use for your bear"

[2016-08-04 07:12] sims1253 opened #652 "[Bear Proposal] PVSBear"
http://www.viva64.com/en/pvs-studio/

[2016-08-04 09:07] Asnelchristian commented on #652
i am on it :)

[2016-08-04 09:08] sims1253 commented on #9
@Adrianzatreanu didn't you do this during europython?

[2016-08-04 09:10] Adrianzatreanu commented on #9
More or less this is my project, so i can't say i've fully done it, but yes, it will be done :d ive made each bear a package but the installation tool is in progress and they are kind of dependant

[2016-08-04 09:12] sims1253 commented on #312
@rubdos ping :)

[2016-08-04 10:54] abhsag24 commented on #564
closed after refactor of AnnotationBear

[2016-08-04 10:54] #564 closed

[2016-08-04 14:34] Makman2 commented on #652
it's not free btw^^

[2016-08-04 14:35] sims1253 commented on #652
oh :D
then maybe close this?

[2016-08-04 15:03] Asnelchristian commented on #652
okay :) :sweat:  i am closing it  :(

[2016-08-04 15:17] #652 closed

[2016-08-04 15:39] sils1297 commented on #652
Could still be nice, legally it's ok to have non free software in another
process. Well want to think about a general policy. I think just not
shipping them by default and prioritizing free software might be neat.

On 4 Aug 2016 4:17 p.m., "Asnelchristian" <notifications@github.com> wrote:

Closed #652 <https://github.com/coala-analyzer/coala-bears/issues/652>.

—
You are receiving this because yo

[2016-08-04 15:53] Makman2 commented on #652
that's what I think too, as an free open-source project we should support free tools^^

[2016-08-04 15:53] Makman2 commented on #652
especially testing could get a problem^^

[2016-08-06 15:41] Ana06 commented on #580
I'll do it! :wink:

[2016-08-06 16:53] hypothesist commented on #580
@Ana06 assigned you :+1:

[2016-08-06 20:25] sils1297 commented on #605
@caichinger assigning you as you have a WIP PR in the works. Ping us if you want us to unassign you.

[2016-08-06 21:02] caichinger commented on #605
@sils1297 "Ping us if you want us to unassign you" - Thx, I will let you know!

[2016-08-07 21:38] chriscoyfish commented on #597
I can work on this issue

[2016-08-07 21:41] Adrianzatreanu commented on #597
All yours!

[2016-08-08 06:46] mr-karan opened #662 "Fix ASCIINEMA_URLS"
The URLs previously had arguments in  them like ``?speed`` which doesn't work well with embedding in websites.

[2016-08-08 07:03] #662 closed

[2016-08-08 08:29] Adrianzatreanu opened #664 "Treat clang bears with generate_package too"
The clang bears currently dont work as individual packages due to their imports. They need to be changed (the imports and the requirements).

[2016-08-08 11:35] underyx commented on #640
Alternatively: https://github.com/replicatedhq/dockerfilelint/

[2016-08-08 12:28] mr-karan commented on #640
@underyx I believe we have that already https://github.com/coala-analyzer/coala-bears/blob/master/bears/configfiles/DockerfileLintBear.py

[2016-08-08 14:21] Makman2 commented on #640
but we can also integrate hadolint :+1:

[2016-08-10 10:18] #646 closed

[2016-08-10 19:25] #580 closed

[2016-08-11 09:34] Rulestormer commented on #606
Sounds challenging, let's do this!

[2016-08-11 11:35] #606 closed

[2016-08-11 15:58] sils1297 opened #670 "Invalid link detected in invalid link bear"
[code]

[2016-08-11 15:58] sils1297 commented on #670
CC @SanketDG

[2016-08-11 15:59] sils1297 commented on #670
Also:

[code]

[2016-08-11 16:08] sils1297 opened #671 "restlintbear sucks"
[code]

[2016-08-11 16:08] sils1297 commented on #671
we should add it as a dep

[2016-08-11 16:11] sils1297 opened #672 "empty file first line can't get printed"
[code]

the init is empty

[2016-08-11 16:58] hypothesist opened #674 "A fresh virtualenv fails for me"
[code]

Then running `coala` fails for me with a different dependency error each time.

Surprisingly the errors have the exact fix using a pip install with one difference: the exact version for each dependency is given. In the requirements.txt, we have stuff like `radon==1.*` but the dependency error suggests `pip install radon~=1.3.1`. So if we have the data, why not just put it in the requiremen

[2016-08-12 09:30] sils1297 opened #678 "YapfBear and RadonBear fail with an exception on python 2 code using legacy print statements"
type/bug

[2016-08-12 09:40] sils1297 commented on #670
another case:

[code]

[2016-08-12 09:47] sils1297 opened #679 "InvalidLinkBear changes xml"
[code]

[2016-08-12 13:00] hypothesist commented on #674
Closing because it was a mistake from my part. Check if you have `/usr/bin/coala` or other overriding stuff. virtualenvs have no power there :P

[2016-08-12 13:00] #674 closed

[2016-08-12 13:22] sils1297 opened #680 "CSecurityBear shouldn' have ignore specific settings"
https://github.com/coala-analyzer/bear-docs/blob/master/docs/CSecurityBear.rst#settings

this stuff is handled by coala and shouldn't be handled by the bear

[2016-08-12 13:53] mr-karan commented on #154
Already done https://gitlab.com/coala/coala-bear-management

[2016-08-13 10:01] mr-karan commented on #671
solved as Pygments was added in coala.
 https://github.com/coala-analyzer/coala/pull/2569

[2016-08-13 10:01] #671 closed

[2016-08-15 10:43] sils1297 opened #685 "InvalidLinkBear false positive"
[code]

[2016-08-15 10:43] sils1297 commented on #685
CC @SanketDG

[2016-08-15 10:50] sils opened #686 "InvalidLinkBear: domain-timeout-map"
If I know a server is slow, I might need a higher timeout just for that server.

Not sure if it pays off to do this but it might. CC @maweki

[2016-08-15 14:19] SanketDG commented on #685
one more: we need to ignore `xmln(s|s:\S+)=`

[2016-08-15 14:35] maweki opened #689 "InvalidLinkBear xmlns retrieval fail is not actually a fail"
The InvalidLinkBear should not try to retrieve any xml namespace uris.

The documentation *clearly* states: "The namespace name, to serve its intended purpose, SHOULD have the characteristics of *uniqueness* and *persistence*. It is **not a goal that it be directly usable for retrieval** of a schema (if any exists)."

https://www.w3.org/TR/REC-xml-names/#ns-decl

[2016-08-15 14:37] sils1297 commented on #689
CC @SanketDG

[2016-08-15 15:08] maweki commented on #689
`<img src="//domain.com/img/logo.png">`

This should try to both retrieve https://domain.com/img/logo.png and http://domain.com/img/logo.png. If either is valid then this should be ok. If both are invalid this would be a fail. It needs to be checked and it currently isn't.

[2016-08-15 15:16] sils opened #691 "False postive collection for invalidlinkbear"
- [x] From https://github.com/coala-analyzer/coala-bears/issues/685: `http://www.w3.org/Consortium/Legal/</h3`
- [x] `http://cran.rstudio.com').install_command()`
- [x] `http://www.spice-space.org/download.html\">http://www.spice-space.org/`
- [x] `http://cran.rstudio.com\`
- [x] A URL with `xmln(s|s:\S+)=` directly in front isn't necessarily valid.
- [ ] `//domain.com/img/logo.png` should be trie

[2016-08-15 15:17] sils1297 commented on #670
closing in favour of https://github.com/coala-analyzer/coala-bears/issues/691

[2016-08-15 15:17] #670 closed

[2016-08-15 15:17] sils1297 commented on #685
closing in favour of https://github.com/coala-analyzer/coala-bears/issues/691

[2016-08-15 15:17] #685 closed

[2016-08-15 15:17] sils1297 commented on #689
closing in favour of https://github.com/coala-analyzer/coala-bears/issues/691

[2016-08-15 15:17] #689 closed

[2016-08-15 15:17] sils1297 commented on #679
closing in favour of https://github.com/coala-analyzer/coala-bears/issues/691

[2016-08-15 15:17] #679 closed

[2016-08-15 15:51] maweki commented on #689
(?<!xmlns(:(\w|\d)+)?=(\"|\')?)

[2016-08-16 08:49] sils opened #693 "FilenameBear - Invalid patch for names with periods"
How do we want to handle that?

[code]

EDIT: `/data/org.gnome._games.gresource.xml` should have been `/data/org.gnome.games.gresource.xml`

[2016-08-16 08:51] sils1297 commented on #691
So also we should do something about templates:

[code]

[2016-08-16 09:32] adtac opened #694 "InvalidLinkBearTest: Add test with a mix of both valid and invalid links"

[2016-08-16 11:38] sils1297 commented on #680
ok task is to just remove the setting - that sounds newcomer to me

[2016-08-16 16:09] maweki opened #695 "If --bears command line argument is empty, list available bears"
There is indeed a command line argument to list all bears. If I add the --bears argument without a list of bears it might be nice to be shown the list of available bears

[2016-08-17 08:32] sils1297 commented on #695
In the help. Can argparse do something like that?

Oh this issue shold be moved to coala.

[2016-08-17 08:33] sils1297 commented on #695
This issue was moved to coala-analyzer/coala#2633

[2016-08-17 08:33] #695 closed

[2016-08-17 10:42] hypothesist opened #697 "QuotesBear: Use the same type of quotes"
For example  `Constants.py` has both `'string'` and `"string"`.

We have the quotes data for each language available in coalang IIRC. CC @abhsag24

[2016-08-17 10:43] hypothesist commented on #697
Feel free to change the name :P

[2016-08-17 10:44] sils1297 commented on #697
note that the algorithm should e.g. allow single quotes if double quotes
are within the string. I think this might be difficulty low or so even as
we already have a bear that finds out what are strings and what not huh/

[2016-08-17 11:33] abhsag24 commented on #697
so AnnotationBear can get rid of the problem that @sils1297 had other then that it shouldn't be that hard?

[2016-08-17 15:16] sils1297 commented on #563
hey @Asnelchristian this mainly happened in the bears, I think @Adrianzatreanu needs to finish the docs move and then you should update the docs right?

[2016-08-18 18:29] Asnelchristian commented on #635
i am on it :)

[2016-08-19 08:01] #597 closed

[2016-08-19 12:47] RaitoBezarius commented on #615
I'm not sure that a Valgrind Bear would be relevant, I mean, how would you use it?
Valgrind cannot do static code analysis, right? (correct me if I'm wrong).
So you would have to execute the code and do the analysis at the runtime.

[2016-08-19 12:48] RaitoBezarius commented on #572
@sils1297 Now, closed?

[2016-08-19 13:07] sils1297 commented on #572
Right

[2016-08-19 13:07] #572 closed

[2016-08-19 13:29] sims1253 commented on #615
This was proposed partly due to the idea to a realtime and a runtime part for coala. As of now, this is not suited for coala.

[2016-08-19 13:29] #615 closed

[2016-08-19 20:24] Makman2 commented on #615
what about executing the program and waiting until exit?

[2016-08-19 23:30] RaitoBezarius commented on #615
I think it would be still problematic for the scope of coala. Executing the
program is outside static code analysis and in the realm of runtime code
analysis, you have new problems:

— If you execute the program, what input do you give it? Let's give the
user a new option through the tool: "--inputs=a.in,b.in,c.in" (stupid
example).
— Now coala have to schedule 3 executions of the program with 3 d

[2016-08-20 06:45] sims1253 commented on #615
An important think to note is that we should not be doing everything but concentrate and be good in the chosen area.
We might think about building a real/runtime coala thing some day but at the moment we are static so we should stay static.
@sils1297

[2016-08-20 09:33] sils1297 commented on #615
My opinion: Agreed, this is not something we should waste time on at the moment. coala may or may not be suitable for runtime code analysis, we do not have experience for that in the team. If somebody wanted to look into it because there's concrete need that would be fine to investigate but nothing will happen here from our side.

[2016-08-20 15:16] SanketDG opened #701 "DocumentationStyleBear tests should assert for generated diffs."
Not just valid and invalid file linting, but also assert the correct diffs.

[2016-08-20 19:48] Makman2 opened #703 "DocumentationStyleBear: Make use of Diff.replace"
The diff is manually constructed with `add_lines` and `delete_lines`, this overhead can be saved.

[2016-08-20 19:48] Makman2 commented on #703
Blocked by https://github.com/coala-analyzer/coala/issues/2628

[2016-08-22 06:51] mr-karan commented on #616
from `coala-json`, you can.

[2016-08-22 12:57] SanketDG opened #705 "Make DocumentationStyleBear configurable"
Configs:

`indent` : how much for the descriptions to indent
`regex` : regex to check the docstyle against.

[2016-08-23 07:01] Nosferatul commented on #563
I wanna work on it. Wherever I find `indent_size='tab_width'` it should be changed in `indent_size='indentation_width'` ?

[2016-08-23 09:14] Adrianzatreanu commented on #563
The documentation rework is complete for what its worth.

[2016-08-23 09:14] Adrianzatreanu commented on #563
@Nosferatul yes, its a setting that some bears have.

[2016-08-23 09:16] Adrianzatreanu commented on #563
hey @Asnelchristian from what i can see, you already changed to most bears from tab_width to indent_size. is this issue still needed?

[2016-08-23 10:01] Asnelchristian commented on #563
oh yeah this is no more needed

[2016-08-23 10:02] Asnelchristian commented on #563
i am closing it :)

[2016-08-23 10:02] #563 closed

[2016-08-23 19:39] Nosferatul commented on #664
I wanna do this but i don't know how:)

[2016-08-23 21:13] Adrianzatreanu commented on #664
me neither for now.. the label was wrong, this is easily medium, needs a little design..

[2016-08-25 12:44] Nosferatul commented on #634
Hi! I wanna try it!

[2016-08-25 12:53] Adrianzatreanu commented on #634
feel free to

[2016-08-26 09:11] underyx commented on #509
Looks like this should be assigned to @harshdattani but is not.

[2016-08-26 09:11] MichalCab commented on #571
I want to do this

[2016-08-26 09:11] underyx commented on #481
Can I get this assigned? I've heard people say 'oh, it does not support C then?' before :D

[2016-08-26 09:20] FyXtreMe commented on #321
let me fix this one

[2016-08-26 09:24] underyx commented on #509
Okay, that's fine, I can do it then :D

[2016-08-26 09:35] OndraSky commented on #587
On it

[2016-08-26 09:40] underyx commented on #587
@Asnelchristian FYI you can get a permalink for a line from GitHub by pressing the `y` keyboard shortcut. This issue was a bit difficult to fix, cause the file has changed since you noted down the line number, and now it's pointing to an unrelated one. if you change your link to

https://github.com/coala-analyzer/coala-bears/blob/a6597e8b0889faab10c8483cb73c30d315eab636/bears/c_languages/CSecurity

[2016-08-26 11:34] #587 closed

[2016-08-26 13:04] #509 closed

[2016-08-26 14:07] Makman2 commented on #481
sure :3

[2016-08-26 14:34] underyx commented on #481
@Makman2 actually, could you unassign me? :D

The workshop we had is over now, so I'd rather just leave this for an actual newcomer to do.

[2016-08-26 21:29] Makman2 commented on #481
alright :P

[2016-08-28 03:57] AbdealiJK opened #720 "Usage of DistributionRequirement"
It seems like the docs of DistributionRequirement state, to use it you need to do: `dr = DistributionRequirement(apt_get='libclang', dnf='libclangg')` but in all our bears, ike GNUIndentBear, we use `REQUIREMENTS = {DistributionRequirement(apt='indent')}`
Is it apt ? or apt-get ?

Note that in Ubuntu 16.04+ it isrecommended to use `apt install indent` while lower recommends `apt-get install indent

[2016-08-28 08:13] Adrianzatreanu commented on #720
Thats actually something I didnt notice, ill take a look soon :)

[2016-08-28 09:12] #720 closed

[2016-08-28 16:00] Makman2 commented on #720
on Ubuntu 16 `apt-get` is now `apt`. I don't know if `apt-get` is still available, but we should either duplicate the repo entries for `apt` and `apt-get` or code a reroute depending on which Ubuntu is used^^

@Adrianzatreanu

[2016-08-28 16:45] Adrianzatreanu commented on #720
i think apt-get works on ubuntu 16.04 too but is recommended not to be used. i think its fine to leave it like this :) unless we receive complaints.

[2016-08-28 17:01] Makman2 commented on #720
alright :+1: :)

[2016-08-28 17:58] #625 closed

[2016-08-29 11:48] sils1297 opened #727 "ESLintBear still fails !"
type/bug

[2016-08-29 12:06] sils1297 opened #729 "JSComplexityBear fails sometimes"
Sometimes the output seems to be like
`Fatal error [getReports]: /home/lasse/prog/kiwi/frontend/frontend/common/pages/Deals.js: Line 1: Unexpected token` and then we try to jsonify it which fails the bear.

type/bug - we should do something about this.

[2016-08-29 12:15] sils1297 opened #730 "ESLintBear doesn't fail although it should"
when running eslint I get

[code]

but when I run it with coala with the config it doesn't fail.

type/bug

also interesting, this is exactly the command that coala runs:

[code]

[2016-08-29 13:37] underyx opened #731 "`pip install coala-bears` installs PyYAML==3.12, and then complains that it needs PyYAML==3.11 when running"
@coala-analyzer/coala-admins probably urgent issue

Active bears in the config are:
[code]

[2016-08-29 13:38] chauffer commented on #731
:+1:

This is the error I'm getting:
`[ERROR][15:33:43] There is a conflict in the version of a dependency you have installed and the requirements of coala. This may be resolved by creating a separate virtual environment for coala or running 'pip install PyYAML==3.11'. Be aware that the latter solution might break other python packages that depend on the currently installed version`

[2016-08-29 14:01] sils1297 commented on #731
@hypothesist this needs a backport, didn't we check this?

[2016-08-29 20:05] sils1297 commented on #731
see also https://github.com/Kuniwak/vint/issues/162#issuecomment-243236874

[2016-08-30 13:21] sils1297 commented on #729
We should log this ass an error properly.

[2016-08-30 13:56] sils1297 commented on #729
maybe we should in the general json case catch the decode error and log the unparsable JSON output with it so it's actually useful. We could pack that into a utility method so all JSON using bears can use it.

[2016-08-30 14:45] sils1297 opened #734 "CPDBear: Increase1"

[2016-08-30 14:45] #734 closed

[2016-08-30 14:46] sils1297 opened #735 "CPDBear: Increase minimum tokens default to 30"
I think we should rather have a lower false positive rate by default even.

difficulty/newcomer

[2016-08-30 14:47] sils1297 opened #736 "CPDBear: Show more context"
It seems that CPDBear shows by default only like one line of code whereas it looks like there is no duplication but if you look at the ones below there actually is. Maybe we should enlarge the range artificially or we can get some better info here?

difficulty/low
area/lintbears

[2016-08-30 15:24] underyx opened #737 "YapfBear: Add setting to 'prefer_line_break_after_opening_bracket'"
When `True` it should set `split_penalty_after_opening_bracket = 10` or something.

[2016-08-30 15:45] sils1297 opened #738 "YapfBear fails on python 2 code"
we either should state that it can't deal with python 2 or make it deal with it correctly. Or at least catch the `yapf.yapflib.verifier.InternalError: Missing parentheses in call to 'print' (<string>, line 2)`...

[2016-08-30 15:46] sils1297 opened #739 "YapfBear adds redundant newline to empty files"
type/bug

[2016-08-30 17:50] underyx commented on #731
Fixed in vim-vint 0.3.10 with https://github.com/Kuniwak/vint/pull/177

[2016-08-30 17:50] #731 closed

[2016-08-31 10:30] sils1297 opened #740 "JSHintBear can't be used with use_es6_syntax=True"
`Incompatible values for the 'esversion' and 'esnext' linting options. (0% scanned).`

type/bug

[2016-08-31 10:32] sils1297 commented on #740
apparently I have to set es_version as well!? I' think we want to remove the use_es6_syntax setting or symlink it or so for backwards compatability

[2016-08-31 10:40] AbdealiJK commented on #608
Hello there, seems like this has been open for a really long time ! (Unusually)
I'm hoping that the issue is resolved because a month has passed now.

@stevemontana1980 Can you confirm that this still happens ? If so - a new log file please
It does seem to work for me.

[2016-08-31 10:43] sils1297 commented on #740
this can be worked around by not using `use_es6_syntax = true` and instead using `es_version = 6`

[2016-08-31 10:44] sils1297 commented on #738
Ideally we would offer an option python 2/3 and run yapf with python 2 or 3 as an external process respectively as yapf will then do the right thing. (Maybe there is a way without switching interpreters? At least official docs say that this is how you should do it which makes sense outside coala.)

[2016-08-31 10:46] sils1297 commented on #739
there's no workaround for this

[2016-08-31 10:52] sils1297 commented on #678
the yapf part is at https://github.com/coala-analyzer/coala-bears/issues/738 changing title to radon only

[2016-08-31 11:11] sils1297 opened #741 "ESLintBear doesn't resolve relative impoarts"
ESLintBear is used with stdin in coala to use the in memory file contents. HOwever imports seem to be relative in JS which means that ESLint things probably that they are relative to the CWD which leads to lots of false errors and not working imports.

type/bug area/lintbears importance/high difficulty/low probably

[2016-08-31 11:14] sils1297 commented on #270
related to https://github.com/coala-analyzer/coala-bears/issues/740 we should remove the deprecated settings and deprecate them as well. CC @AbdealiJK

[2016-08-31 11:51] stevemontana1980 commented on #608
Hi,

I'm still having this problem, see attach for error message.

I'll try a fresh clone later today or tomorrow and get back to you then.

Kind regards

Steven

On 31-08-16 12:40, AbdealiJK wrote:

[1m============================= test session starts ==============================[0m
platform linux -- Python 3.5.2, pytest-2.8.7, py-1.4.31, pluggy-0.3.1
rootdir: /home/steven/Repositories/coala/

[2016-08-31 14:23] underyx opened #742 "YapfBear: yapf requirement is out of date"
The bear should depend on 0.11, which is in `requirements.txt`.

[2016-08-31 14:23] underyx opened #743 "Automatically sync bear dependency attributes and requirements.txt"

[2016-08-31 14:35] AbdealiJK commented on #608
@stevemontana1980 I've updated your comment to add a pastebin as it is easier to read + such large comments make the github issue page slow to load. Hope you don't mind.

Also, I wanted to confirm the versions of coala and coala-bear you have. Also the commits your git repos are on.
Could you give the output of:
[code]
Note: I've assumed your git clones for coala and coala-bears are in ~/Repositor

[2016-08-31 14:42] AbdealiJK commented on #740
Looking at the JSHint docs, it also says that the `esnext` (what we call `use_es6_syntax`) is deprecated.
[code]
`esversion` is our `es_version`

So, removing this argument all together is what is needed.

[2016-08-31 14:43] underyx opened #745 "CI: deps.sh sourceforge download unreliable"
https://circleci.com/gh/coala-analyzer/coala-bears/2876

[code]

[2016-08-31 14:45] sils1297 commented on #745
I think we can cache it, marking it low

[2016-08-31 15:08] underyx opened #746 "InvalidLinkBear: `ignore_regex` option name is too generic"
Difficult to tell in `.coafile` what this option means, and name clashes with other bears are possible.

[2016-08-31 15:13] sils1297 commented on #740
I think we should translate it to es_version for backwards compatability

On Wed, 31 Aug 2016 at 17:00 AbdealiJK <notifications@github.com> wrote:

[2016-08-31 15:20] #742 closed

[2016-08-31 15:33] AbdealiJK commented on #270
Note that this issue should have actually been closed along with https://github.com/coala-analyzer/coala-bears/issues/338
I'm not sure why I had created a different issue for it at that time ...

Anyway. I found `globalstrict` has been deprecated and have added a commit to deprecate that in coala too. Went through the other args, and everything else seems fine in JSHint.

[2016-08-31 17:04] underyx opened #749 "CI: cache ruby gems"
You can specify bundler's install directory, and then cache it.

[2016-08-31 17:07] underyx opened #750 "YapfBear: Catch errors and make a result"
When trying this test case: `self.check_validity(self.uut, ['async def x():\n', '0\n'], valid=True)`

I got a traceback:
[code]

[2016-08-31 17:08] underyx commented on #750
@sils1297 you sillyhead this is just the verbose logging :D close?

[2016-08-31 17:45] AbdealiJK commented on #741
How can I reproduce this ?
When using a code like:

[code]
and
[code]

I get `Parsing error: The keyword 'import' is reserved`. It seems that eslint doesn't support ES6 imports yet[0]. And to use that you need to enable the babel loader[1]. Did you do all that ?

If yes, please share configs and steps to set up

[0] - https://medium.com/@tkssharma/eslint-in-react-babel-webpack-9cb1c4e86f4e#.x5p2ka

[2016-08-31 17:52] AbdealiJK commented on #750
Are you sure this is with debug on ?
It says `Take a look at debug messages (`-L DEBUG`) for further information.` on top => it is not already in -L DEBUG

[2016-08-31 17:57] AbdealiJK commented on #727
So, to clarify ... the issue is about the fact that ESLintBear breaks down if the file has no issues ?
The unittests don't seem to fail though. Weird.

[2016-08-31 17:59] AbdealiJK commented on #727
Nice. The complete ESLintBear is broken.
The tests pass but the output is given is that of the `eslint --help` because eslint has some problem with the command running by Lint.

[2016-08-31 18:03] underyx commented on #750
I'm not sure what happened behind the scenes — I just ran `pytest`.

On Wed, Aug 31, 2016 at 7:53 PM AbdealiJK <notifications@github.com> wrote:

[2016-08-31 18:19] sils1297 commented on #727
Holy shit

[2016-08-31 18:21] sils1297 commented on #741
Ah we had a config. @oreqizer can we share your eslint config publicly or to him privately?

[2016-08-31 18:25] sils1297 commented on #727
So, to clarify ... the issue is about the fact that ESLintBear breaks down if the file has no issues ?

Yes

[2016-08-31 18:35] AbdealiJK commented on #727
I've tested this out as much as I could, and ESLintBear does not break down for files that have no issues.

In such cases, the output is `[{"filePath":"<text>","messages":[],"errorCount":0,"warningCount":0}]` which gets parsed correctly as JSON and no results are found.

The `eslint --help` happens when the file given in is a zero-byte-file (content == ""). In such cases, eslint doesn't know what

[2016-08-31 18:38] AbdealiJK commented on #730
Can you provide the .eslintrc for this ?

[2016-08-31 18:41] #738 closed

[2016-08-31 18:49] sils1297 commented on #730
it had `"plugins": ["react"]` in it, I can't share the original rc.

[2016-08-31 19:29] underyx opened #751 "coala-bears updates setuptools"
I don't think it's nice to change people's setuptools versions. This can potentially break entire systems.

[2016-08-31 19:32] sils1297 commented on #751
agree, did you install with `-U`? What should we do instead?

[2016-08-31 19:37] underyx commented on #751
I did install with `-U`, yep, just realized that. Regardless, that's still no reason to change system packages. I think it's reasonable to assume that the system already has setuptools and remove it, especially since we don't even support old Python versions. Is there any reason it needs to be there?

[2016-08-31 19:40] AbdealiJK commented on #730
Could you provide the versions of:
node, npm, eslint, eslint-plugin-react ?
I seem to be getting UNMET PEER DEPENDENCY when I try to install both together - which I find weird.
I'm hoping to reproduce the exact versions you have to try it out

[2016-08-31 19:40] sils1297 commented on #751
well with -U pip upgrades everything thats speced

[2016-08-31 19:40] sils1297 commented on #751
we require setuptools

[2016-08-31 19:41] sils1297 commented on #730
CC @oreqizer btw. ; I'll get more info tomorrow but I don't think this is version specific.

[2016-08-31 19:44] underyx commented on #751
I know why it happened 💃

If I want to upgrade coala-bears from 0.8 to 0.9, I still wouldn't want it to break my system. I'm saying, maybe we could also just assume that setuptools is installed _everywhere_.

[2016-08-31 19:45] HarshaLaxman commented on #481
I'd like to do this!

[2016-08-31 19:52] sils1297 commented on #481
go for it :)

[2016-08-31 20:37] AbdealiJK commented on #202
@vivek425ster Closing this as it is very old and nobody else has faced it since then.
I do think it was a system configuration where some port was clashing.

If someone faces this issue again, feel free to reopen.

[2016-08-31 20:37] #202 closed

[2016-08-31 20:40] AbdealiJK commented on #730
I don't think it is versions specific either .. but I'm trying to get it installed to debug :P Seems like any version Im trying is clashing ^^
Not a JavaScript Ninja, so if I can get the versions I could easily get stuff installed (I hope)

[2016-08-31 20:42] AbdealiJK commented on #21
As this is a very old issue, and nobody else has faced it I'm closing it.
We would also need more information on that specific Yum package. I'm currently using PHP 5.6.24 from yum/dnf and everything works fine.
It may also have been a php plugin causing an issue ...

Reopen is it's seen again.

[2016-08-31 20:42] #21 closed

[2016-08-31 20:51] AbdealiJK commented on #751
Btw, the setuptools in requirements.txt doesn't do much for us from what I understand because we import setuptools before we parse and give that requirement to pip.
Some testing would be good to check this though - maybe pip does some special handling

PS: We also have mentioned `setuptools>=19.2` which is pretty high. setuptools v1.x is what was there in ubuntu-precise IIRC (which is still offici

[2016-08-31 21:00] sils1297 commented on #750
our test execution functions automatically capture the debug logs for you :)

[2016-08-31 21:00] sils1297 commented on #750
the `-L DEBUG` hint gets shown even if it's already active

[2016-08-31 21:00] AbdealiJK commented on #749
Don't we already do this ? We are directly caching the default directory - `~/.rvm/gems/ruby-2.1.5/gems/` according to the circle.yml file

[2016-08-31 21:03] AbdealiJK commented on #746
I think this is a newcomer issue if we can figure out what to name it.
Is `ignore_link_regex` a fine name ? Any other suggestions ?

[2016-08-31 21:12] underyx opened #753 "Add a PythonSyntaxBear that only complains about syntax errors"
It's probably possible to use the builtin `ast` module for this.

[2016-08-31 21:14] AbdealiJK commented on #693
I do not understand this.
Is the name `org.gnome.Games.gresource.xml` snake case according to you ?
Is it supposed to be snake case according to the developers ?

[2016-08-31 21:15] underyx commented on #749
@AbdealiJK I opened this issue cause of this build failure https://circleci.com/gh/coala-analyzer/coala-bears/2887

[2016-08-31 21:16] underyx commented on #746
`link_ignore_regex`?

[2016-08-31 21:18] AbdealiJK commented on #749
Hm, you're right. Seems like what we're caching is wrong as it gets re-installed for other build too - Example: https://circleci.com/gh/coala-analyzer/coala-bears/2893

[2016-08-31 21:25] AbdealiJK commented on #672
Should probably be migrated to coala as this is an issue with diffs/printing to CLI

[2016-08-31 21:36] AbdealiJK commented on #618
I think there are already a LOT of scripts to do these sort of things:
 - List of bears: `find . -name "*Bear.py"`
 - List of bears sorted based on module name (i.e. sorted based on language) - `find . -name "*Bear.py" | sort`
 - Number of bears - `find . -name "*Bear.py" | wc -l`

[2016-08-31 21:49] AbdealiJK commented on #621
Closing this, We now have `cib` which can install a single bear and this is unnecessary

[2016-08-31 21:49] #621 closed

[2016-08-31 22:00] AbdealiJK commented on #616
The script is fairly small and can be easily written in a few minutes ...
It cannot be auto updated in the readme file as reST does not support any dynamic methods, and the PyPI version of rST is even more restrictive.
Also, it makes sense for the person who is writing the release notes to do it.

PS: Here's a quick script based on @mr-karan 's idea
[code]

[2016-08-31 22:01] #616 closed

[2016-08-31 22:05] AbdealiJK commented on #556
It's interesting to note that you put space case in snake_case in the title :P

So, I can't find any reference to space case from my brief googling.
I can fine snake case - https://en.wikipedia.org/wiki/Snake_case and camel case https://en.wikipedia.org/wiki/CamelCase

Could you give a reference to space case being used or a reference to what exactly it is ?
I'm not sure which ones from: "a b" or

[2016-08-31 22:07] AbdealiJK commented on #532
I think a ctrl+f is normally easy enough.
I haven't had the need for an easier search interface as of yet.

Do either of you find a difficulty in finding the names ? If yes, we can consider this.

[2016-08-31 22:09] AbdealiJK commented on #521
+1 for debug message.

[2016-08-31 22:10] AbdealiJK commented on #496
@underyx Could you please elaborate on this ?
Why do we need to find commented code ? Can't we simply use the coalang stuff to find comments in code ?

[2016-08-31 22:17] AbdealiJK commented on #479
@sils1297 Have issues been created yet ?

[2016-08-31 22:59] underyx commented on #496
I think this was brought up in a discussion about it being impossible to tell apart when looking at this line

[code]

if it's

1\. Helping the user understand what `w` is by describing it in English

or

2\. An old piece of code commented out that was saving a boolean value to `w` denoting whether the `width` element was contained in the `pixels` set.

[2016-08-31 23:05] sils1297 commented on #693
no, but you don't waht to change `.Games` to `._games` but instead `.games`

[2016-08-31 23:12] Makman2 commented on #496
This is quite advanced, in fact we need some general functionality to check up if something's code or spoken language. Using git is a good idea for getting information about that, but I think that's not the end of the road :)

So yes let's do a commented-code bear, though this topic could even fit into a new gsoc project :P

[2016-08-31 23:22] Makman2 commented on #556
"Space case" is our inofficial name for styles like:
[code]
@AbdealiJK for further examples see https://github.com/coala-analyzer/coala/blob/aef8ec970af021397e8b13feda26574c87b6f448/coalib/bearlib/naming_conventions/__init__.py#L96

how numbers and such are handled I don't know now, you can just try to run the algorithm on such ones :) But I don't think we specified it that perfectly, so if you ha

[2016-08-31 23:23] Makman2 commented on #556
So what needs to be done:
1. Add an entry for `spacecase` so the bear recognizes the spacecase convention: https://github.com/coala-analyzer/coala-bears/blob/master/bears/general/FilenameBear.py#L18
2.  Write tests :+1:

[2016-08-31 23:25] Makman2 commented on #672
Indeed, migrated to https://github.com/coala-analyzer/coala/issues/2695

[2016-08-31 23:25] #672 closed

[2016-08-31 23:26] Makman2 commented on #746
I like both :3

[2016-08-31 23:33] sils1297 commented on #479
don't think so

[2016-09-01 03:47] AbdealiJK commented on #693
Ah, i see. So it's not a fake office, but rather the patch suggested is wrong :+1:
I thought the title meant that this shouldnt have created a result

[2016-09-01 05:30] AbdealiJK commented on #556
I'm sorry, but this seems weird to me. We're *creating* a new standard of casing (naming convention) which isn't being used anywhere as of now ?

Is there any usecase where this is useful ? Is there any language using this sort of a convention ?
As I see it, based on my understanding right now, the `to_spacecase()` function would be considered dead code as it's not used anywhere and I'd vote to re

[2016-09-01 05:34] AbdealiJK commented on #169
@srisankethu Working on this ? Or can we unassign you so others can take up the PR if they need it and you're not free?

[2016-09-01 05:37] AbdealiJK commented on #34
@SanketDG @Makman2 Was this done as part of GSoC ? Can you update this if it was partially addressed or close if it's completed ?

[2016-09-01 05:38] AbdealiJK commented on #288
Soo, you want to maybe add a PLATFORM metadata to the bear so that `cib` can give errors appropriately ?
If yes, then documentation label can be removed. We should probably make a new area/bear-management label and add this there.

[2016-09-01 05:41] AbdealiJK commented on #496
I've added a new label `long-term-project` to track possible GSoC/Outreachy issues.

CC @sils1297 because he manages GSoC normally :P Feel free to rename the label or move to some other method.

[2016-09-01 07:26] oreqizer commented on #730
'tis our config:

[code]

[2016-09-01 07:28] oreqizer commented on #741
[code]

[2016-09-01 07:31] srisankethu commented on #169
You can unassign me from this! I am really sorry for taking soo long. I did few internships and college summer project during summer. I am having my semester exams from 8-10th Sep. So, I will look into the other 2 issues(coala repo) that I am assigned to after 10th Sep

[2016-09-01 07:51] sils1297 commented on #693
sorry for being so unclear, will try to improve my issue data in the future

[2016-09-01 07:52] sils1297 commented on #288
Agree.

[2016-09-01 10:33] AbdealiJK commented on #217
Bump
Does this still happen frequently ?
Note that I've seen that frequently pypi gives an error, but the package has actually been uploaded correctly.
In such cases, we cant even do a retry because the version numbers would clash

[2016-09-01 10:35] sils1297 commented on #217
indeed doesn't seem to happen anymore

[2016-09-01 10:35] #217 closed

[2016-09-01 11:13] hypothesist commented on #618
Or `coala -B | wc -l`

[2016-09-01 11:36] sils opened #754 "stylint bear"
https://www.npmjs.com/package/stylint

I happen to know that some of our users are using stylint, maybe we could make their life easier with the next release :)

area/lintbears difficulty/low

[2016-09-01 11:41] sils1297 commented on #741
@oreqizer would you be willing to investigate this, write a test and fix so we can switch the project?

[2016-09-01 11:51] oreqizer commented on #741
i'll try to look into it

[2016-09-01 12:50] underyx opened #755 "GitCommitBear: Body length check complains even when it's a URL going over the limit"
@sils1297 wanted to have a regex ignore option to ignore lines, which would default to a URL regex.

[2016-09-01 13:11] sils1297 opened #756 "KeywordBear settings are weirdly named"
cs_keywords and ci_keywords are pretty bad names and that isn't user friendly. We should deprecate that for something better.

[2016-09-01 13:36] sils opened #757 "GitCommitBear: Check commits down to a certain base commit"
would be nice if we could give the GitCommitBear the name of an env variable (which some CI services expose) and if it exists it checks more than just the HEAD commit but all commits down to the one given by that variable!

type/feature difficulty/medium

[2016-09-01 14:00] sils opened #758 "InvalidLinkBear false positive"
`http://www.%s.com/` that's a placeholder and should be ignored.

type/bug

[2016-09-01 14:05] Makman2 commented on #169
no problem :+1: thanks for sharing your existent code :)

[2016-09-01 14:09] Makman2 commented on #34
gets implemented here: https://github.com/coala-analyzer/coala-bears/pull/699

[2016-09-01 14:34] Makman2 commented on #556
maybe for text files (with documentation)? Though you are right, I don't know why I wanted this naming conention :/
But I mean it's a feature, it doesn't harm to have it :3

[2016-09-01 15:50] AbdealiJK commented on #556
I disagree. Features that don't have a usecase in mind are evil, and it wastes time of devs in terms of writing it and maintaining it.

I remember @sils1297 shared a nice blog post which explained this well a long long time ago (Share if you still have it)

[2016-09-01 16:20] AbdealiJK commented on #758
This is why the ignore_regex was created was it not ?
I mean we can't possibly predict this placeholder.

Some examples:
C would have http://www.%s.com/
Python 2.6 and lower can have http://www.{0}.com/
Python 2.7/3 can have http://www.{}.com/ or http://www.{hostname}.com/
BASH can have http://www.$0.com/

[2016-09-01 16:21] AbdealiJK commented on #756
If we can decide on a name, this can become a newcomer issue. What about `keywords_case_insensitive`, `keywords_case_sensitive` ?

[2016-09-01 16:24] AbdealiJK commented on #755
To the person who will implement this: We have a very similar thing for LineLengthBear. You can pretty much pull the implementation from there. You should also be able to use the same config name !

[2016-09-01 16:35] Makman2 commented on #758
what about special characters in URLs? As far as I remember they use `%` to indicate special characters
(like `www.my-website.com/page1.php?value=Hello%20World`)

[2016-09-01 16:37] Makman2 commented on #756
maybe we want to use `keywords_case_insensitive` only? can't imagine a case where a keyword needs to be case sensitive^^ Then there's only a single setting which could just be called `keywords`^^

[2016-09-01 16:54] sils1297 commented on #756
agree with makman

[2016-09-01 18:33] netman92 opened #761 "KeywordBear: add possibility to remove line, if it's a comment"
It would be nice to add possibility to remove that line.

[code]

[2016-09-01 18:34] sils1297 commented on #761
@abhsag24 you did something similar, can we use coalang here to find where the comment starts and generate a patch? Though if coalang isn't available for the language the bear should still detect the keyword so we can't have a dependency on one of the comment detection bears e.g. :/

[2016-09-01 19:20] abhsag24 commented on #761
So the correct way should be to use the `AnnotationBear` but we cant use it for languages which dont have coalang, so maybe there should be a setting in `coala` which should suppress the call to `get_dependencies`?

[2016-09-01 19:58] #528 closed

[2016-09-01 20:32] sils1297 commented on #761
As discussed on gitter: I think a conditional call of the dependencies is super complicated. Instead the dependency could return a hidden result with error info and the bear using it can decide to error out or to proceed without the info.

[2016-09-01 21:53] underyx opened #765 "Regularly Monitor if the current release still works"

[2016-09-01 22:21] #605 closed

[2016-09-02 06:20] sils1297 commented on #739
CC @netman92 because we'll need it just so you know a fix is on the way, I'll release it todayish

[2016-09-02 06:30] sils1297 opened #769 "circleci caching doesn't work?`"
it tells `circle.yml specified cache directory: /home/ubuntu/.local/share/coala-bears but it does not exist` :/ that should cache away the checkstyle issue

[2016-09-02 06:30] sils1297 commented on #769
CC @underyx

[2016-09-02 06:31] #609 closed

[2016-09-02 06:31] #729 closed

[2016-09-02 06:31] #739 closed

[2016-09-02 08:18] sils1297 commented on #741
@oreqizer assigning you then, ping us if you need help or want to drop this!

[2016-09-02 08:19] sils1297 commented on #741
From the discussions we had the most likely solution will be not using stdin to feed the file but give eslint the filename as an argument instead, then it should figure that out. Alternatively we could possibly give it the filename with an argument if eslint exposes that.

[2016-09-02 08:45] underyx commented on #311
It should then probably be renamed to MatchBear or something

[2016-09-02 09:12] sils opened #772 "RadonBear settings are radon specific"
all our compelxity analysis bears should use the same setting, we probably want to have one threshold for normal issues and _maybe_ another optional one for major issues?

difficulty/low importance/medium

[2016-09-02 09:13] sils1297 commented on #772
CC @Asnelchristian

[2016-09-02 12:16] AbdealiJK commented on #765
Example of how to do it using a cronjob : https://circleci.com/blog/running-daily-builds-on-circleci/

[2016-09-02 12:19] AbdealiJK commented on #758
@sils1297 Do you have something to add in favour ?
Can we close this ?

[2016-09-02 12:28] sils1297 commented on #758
I think we should ignore all of those by default because I can't see any of those ever being meant as a real URL

[2016-09-02 12:31] AbdealiJK commented on #758
I don't think we should because we'd be maintaining a list for every language which is messy. There are a lot of combinations.

[2016-09-02 12:32] sils1297 commented on #758
it's better us maintaining it than each user, fact is that InvalidLinkBear looses users because those template URLs aren't properly recognized by default.

[2016-09-02 13:01] AbdealiJK commented on #751
Apparently pip now throws an error if you do a source installation without setuptools asking you to install it.
https://github.com/pypa/pip/blob/3417fac05e48fff50497e07566ecaeb143065f02/pip/req/req_install.py#L382

[2016-09-02 13:03] underyx commented on #751
@AbdealiJK This is still my suggestion, which doesn't conflict with that fact.

[2016-09-02 13:06] AbdealiJK commented on #751
@underyx I know, I'm for it :) Just giving more proof.
I am still wondering whether whether adding setuptools in requirements.txt actually does anything. Because that file is only read after setuptools is imported.

[2016-09-02 13:43] AbdealiJK commented on #743
@underyx Could you elaborate ? Do you mean that the REQUIREMENTS of a bear should be used and populate the requirements.txt ?

[2016-09-02 14:00] sils1297 opened #774 "AnnotationBear: Add examples on how to use it in the docs"
@abhsag24 can you do this? difficulty/low area/documentation

[2016-09-02 14:44] underyx commented on #743
Needs design — all I wanted to have is no more cases of bear REQUIREMENTS & requirements getting out of sync. I'm fine with syncing like that, or syncing the other way, or just having CI check it.

[2016-09-02 14:51] AbdealiJK commented on #743
So, I believe that eventually, we will be completely removing the requirements.txt when `cib` is stable.
Because then after that each bear will have it's own pypi package, and we will simply have coala-bears as a meta package which depends on all of them

[2016-09-02 14:58] AbdealiJK commented on #727
Gah ! I just realized how to reproduce this finally.
This happens when eslint has an error (Like an invalid config file).
So, this is similar to https://github.com/coala-analyzer/coala-bears/issues/730 as they both happen for the same reason

[2016-09-02 15:08] AbdealiJK commented on #686
Do you think it's really important to do a domain based timeout ?
Isn't increasing the timeout for the whole project OK ?

[2016-09-02 15:12] AbdealiJK commented on #618
`coala -B | wc -i` is so much easier ^_^

Closing this then

[2016-09-02 15:12] #618 closed

[2016-09-02 15:14] maweki commented on #686
When we talked about this, we had the issue that some w3c servers responded within 30 seconds while the default timeout would be one or two seconds with the average response time being way below that.
A general timeout increase might increase the bear-time by a huge factor if something is down you expect shouldn't be.

I think it would be nice to override the timeout on a per domain-basis.

[2016-09-02 15:16] abhsag24 commented on #774
sure, though where should this go?

[2016-09-02 15:17] AbdealiJK commented on #686
@maweki that makes sense.
But the increase in bear-time would be only if a lot of the links actually failed (Which for a routine user of coala should be rare ^_^)

But yeah, I agree it makes sense to have it.

[2016-09-02 15:21] #680 closed

[2016-09-02 15:22] AbdealiJK commented on #595
Also, another issue is that coala will show that whole huge file because coala does not truncate based on columns only lines.
I am not sure if minified files should be static analysis checked ...

[2016-09-02 15:29] AbdealiJK commented on #595
Also, I don't see an exception from ESLint, could you elaborate on what you saw when you ran coala on jquery minified ?
I'm using http://code.jquery.com/jquery-3.1.0.min.js and it seems to be showing me things like:
 - Expected a conditional expression and instead saw an assignment
 - Empty block statement.
 - 'define' is not defined.
 - Unexpected control character(s) in regular expression

Which

[2016-09-02 15:31] AbdealiJK commented on #593
Fixed in https://github.com/coala-analyzer/coala-bears/pull/594

[2016-09-02 15:31] #593 closed

[2016-09-02 15:38] AbdealiJK commented on #558
This wouldn't be an easy problem because we'd need to guess the indentation type that is being used by the user. CC @hypothesist as you did the setting guessing stuff

[2016-09-02 15:40] AbdealiJK commented on #557
Seems like we had this discussion and after 2 weeks had the exact same discussion on https://github.com/coala-analyzer/coala-bears/issues/697 :P So, refer that in case more info needed ^^

[2016-09-02 15:41] AbdealiJK commented on #697
Closing in favor of https://github.com/coala-analyzer/coala-bears/issues/557 which has more discussion about this

[2016-09-02 15:41] #697 closed

[2016-09-02 15:41] sils1297 commented on #558
IMO this is certainly outside the scope of SpaceConsistencyBear, it might be useful for IndentationBear which isn't ready yet.

[2016-09-02 15:41] AbdealiJK commented on #539
@Asnelchristian what would you like it to be named ?

[2016-09-02 15:45] AbdealiJK commented on #526
:( I can't seem to be able to reproduce this
I can see it happening in a lot of websites with syntax highlighting, and it seems like the reason is because restlint needs docstyle which needs pygments (sometimes?)
But I can't find anyone who has filed a bug about it or solved it !

@underyx Are you still facing it ? Could you try reproducing it ?

[2016-09-02 15:48] AbdealiJK commented on #512
@Adrianzatreanu can this be moved to cib ?
Does cib have a `cib list` likefunction which can do it ? I really like `npm`'s tree like approach to show packages and their dependencies in a nice manner

[2016-09-02 15:51] AbdealiJK opened #775 "temporary save cli parameter"
_From @sils1297 on January 9, 2015 16:58_

we need a cli parameter that allows to save the file without writing the save=true into the file thus saving every time since then.

_Copied from original issue: coala-analyzer/coala#158_

[2016-09-02 15:51] AbdealiJK commented on #775
_From @sils1297 on January 12, 2015 18:38_

I added a save_always setting to CliParams wiki page. Thus I'm making the save param non-persistent!

[2016-09-02 15:51] AbdealiJK commented on #775
_From @sils1297 on January 12, 2015 18:38_

save will take precedence over save_always

[2016-09-02 15:51] AbdealiJK commented on #775
_From @sils1297 on January 12, 2015 18:39_

so if save_always is true and user specifies save via CLI to another file the latter will be taken

[2016-09-02 15:51] AbdealiJK commented on #775
_From @sils1297 on January 12, 2015 19:21_

ok I'm not sure if we even want the save_always arg but that will have to wait and get its own bug.

[2016-09-02 15:51] AbdealiJK commented on #775
_From @sils1297 on January 12, 2015 19:21_

implemented in #150

[2016-09-02 15:52] AbdealiJK commented on #775
Sorry for the "move". https://github-issue-mover.appspot.com/ is misbehaving.

[2016-09-02 15:52] #775 closed

[2016-09-02 15:52] AbdealiJK opened #776 "bug: alert user about wrong alex package"
_From @Redridge on February 18, 2016 21:54_

Apparently there are 2 alex packages
It would be nice to find a way to alert the user that he has the wrong alex package in his PATH so tests might fail

_Copied from original issue: coala-analyzer/coala#1582_

[2016-09-02 15:52] AbdealiJK commented on #776
_From @sils1297 on February 18, 2016 21:56_

same is true for the remark package btw. don't know what the other one is. FFor alex it's the lexer for haskel (alex of course)

[2016-09-02 15:52] AbdealiJK commented on #776
Doesn't the linter give a bunch of warnings as that would give a error in stderr ?
I don't think we should be doing custom checking for package clashes like this ...

[2016-09-02 15:52] AbdealiJK commented on #776
_From @sils1297 on February 19, 2016 9:55_

Apparently it just gives no results because the regex doesn't match.

[2016-09-02 15:52] AbdealiJK commented on #776
I've asked the `alex` devs if they could make an alias `alexjs` so that this clash wouldnt be troublesome.
https://github.com/wooorm/alex/issues/83

[2016-09-02 15:52] AbdealiJK commented on #776
Seems like that's not going to happen.

[2016-09-02 16:16] fneu commented on #512
Good call, cib is probably our best shot at improving this right now. IIRC cib has the `cib list` and `cib check-deps` functions, the latter of which Checks the dependency state of all "installed" bears.

The ui of cib is rather bad at this point, npm is better in that regard. That is better discussed there though.

Btw. Is it planned to somehow move cib into main-coala later on? Might be really u

[2016-09-02 16:47] oreqizer opened #779 "[package.json] Update npm dependencies"
There are outdated deps in `package.json`, the one I noticed is `eslint`.

[2016-09-02 17:07] oreqizer opened #780 "[ESLint] Support for basic configs + little customisation"
Proposal:

Ability to set a base setting of `eslint`, for example `airbnb`, `eslint:recommended`...
Then, in `.coafile`, add support for ~20 basic rules for customisation, for example:
- semi
- indent
- max-len
- dot-notation
- new-cap

[2016-09-02 17:16] oreqizer opened #781 "IDEA: Options enabled by comment"
For example like `eslint`:

[code]

[2016-09-02 17:51] sils1297 commented on #727
@AbdealiJK please note that https://github.com/coala-analyzer/coala-bears/pull/777 is happening at the same time

[2016-09-02 18:10] Makman2 commented on #756
So imo this issue is not closed yet as I thought we ag eed on just having a single `keywords` setting which checks up on keywords always case-insensitively?

[2016-09-02 18:10] Makman2 commented on #756
wait nvm I'll open another issue^^

[2016-09-02 18:10] #756 closed

[2016-09-02 18:13] Makman2 opened #782 "KeywordBear: Merge `keywords_case_insensitive` and `keywords_case_sensitive` into single `keywords` setting`"
The `keywords` setting would check for keywords case-insensitively only, as it's too rare that case-sensitive keywords are required^^

See also https://github.com/coala-analyzer/coala-bears/issues/756#issuecomment-244137347

[2016-09-02 18:13] Makman2 commented on #756
See https://github.com/coala-analyzer/coala-bears/issues/782

[2016-09-02 18:22] hypothesist commented on #558
If this was done bear-runtime, it would slowdown whichever bear because it's going to process each line 2x at least. Some kind of caching (unrelated to the other caching) would really help methinks. Project level caching? File level caching? Not sure, needs more discussion.

[2016-09-02 18:24] hypothesist commented on #558
But this sounds like a really interesting bear that'll have a lot of uses.

@AbdealiJK settings guessing runs before bear run-time. But I haven't accounted for multiple possible settings for *one* bear depending on sections. Good idea though :+1:

[2016-09-02 18:31] Makman2 commented on #686
should be quite easy to implement with a `defaultdict` :+1:

[2016-09-02 18:34] Makman2 commented on #311
maybe we could add another parameter, `keyword_type='regex' | 'plain'` to change the matching behaviour^^

[2016-09-02 18:39] Makman2 commented on #761
For keywords imo it's highly situation dependent. When I have TODOs I actually look at them thoroughly again. Then I also got the time to open my (presumably already opened) IDE/editor and remove the line by hand.

Especially it gets complicated for lines like:
[code]

I'm voting for a `wontfix/not-happening`, as it's complicating up stuff and extremely usecase dependent^^

[2016-09-02 20:13] sils1297 commented on #512
We hoped cib would be default for 0.9

[2016-09-02 20:13] sils1297 commented on #595
I don't really see a usecase for checking minified files

[2016-09-02 20:13] sils1297 commented on #774
The Dokumentation comment, doctests!

[2016-09-02 20:13] sils1297 commented on #761
Well we can offer the patch, the user can just not take it. I think the PR
for this is definitely sane.

On 2 Sep 2016 8:39 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-09-02 20:26] Adrianzatreanu commented on #512
The issue should be moved, indeed.

[2016-09-02 22:26] fneu commented on #512
Code looks a Bit immature so far, entire Tool is one huge Funktion? Anyway
I'm quite motivated to work some things on it.

Am 2. September 2016 10:13:18 nachm. schrieb Lasse Schuirmann
<notifications@github.com>:

[2016-09-03 02:56] Makman2 commented on #761
but if we say "there's a patch", the user (especially me) would think that this would be some kind of solution which works. Not that someone thinks coala can read the comment and addresses its contents :P

And for my code example above where code is in the same line as the comment, the patch would just be totally wrong. Imo it doesn't fulfill the purpose of a patch at all^^

[2016-09-03 08:28] sils1297 commented on #761
@Makman2 please read the commit, it'll detect where the comment starts and keep the code, removing only the comment.

[2016-09-03 09:19] jayvdb commented on #595
What would be useful at times is syntax only checking mode that can be used for files matching a pattern.

And minified files are a perfect case for verifying that only syntax rules are enabled, as every style rule should be violated and suppressed in that mode.

[2016-09-03 09:24] sils1297 commented on #595
So minified files are always generated from non minified files, right? So when checking e.g. for syntax you would always check the non minified files, wouldn't you?

@RaitoBezarius btw. is there an issue filed at ESLint about that specific failure?

[2016-09-03 09:35] jayvdb commented on #595
Minifiers have bugs, and people who build minifiers need tools.

But the sytax only mode would be mostly useful for pre-existing files that are not a priority to fix style issues, but need to be useable. A good.example is vendored code of lower quality and style fixing upstream is meeting resistance from the maintainers.

[2016-09-03 09:55] AbdealiJK commented on #781
So, this would be like enabling a bear on only a specific section based on a comment in coala. The opposite of `// Ignore <bearname>`

It may be a bit difficult to implement because we rely on the config file to figure out which bears to load, and now we'd have to parse the file to figure out which bears to load itself.

CC @Udayan12167 as it'd probably be easier to be planned from the start in th

[2016-09-03 09:57] AbdealiJK commented on #781
This issue was moved to coala-analyzer/coala#2714

[2016-09-03 09:57] #781 closed

[2016-09-03 10:01] jayvdb opened #783 "Support uncrustify for Cish languages"
https://github.com/uncrustify/uncrustify is by far the best indentation tool for Cish languages.
Very configurable and very actively improved to handle corner cases that most indenter force to be ugly code.

[2016-09-03 10:17] sils1297 commented on #783
Nice! Would you be interested in helping us out with this?

[2016-09-03 10:28] jayvdb commented on #783
Yea. I'll give it a shot.

[2016-09-03 10:30] sils1297 commented on #783
I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our gitter channel](https://gitter.im/coala-analyzer/coala) and tell

[2016-09-03 10:30] sils1297 commented on #783
We have a tutorial on writing "linter bears" in the docs, tell us if you need any help and keep filing issues :)

[2016-09-03 10:37] sils1297 commented on #595
I see. This seems to be a corner case and an upstream bug in eslint. @jayvdb is there any change to coala you would recommend that would help you in such a case?

[2016-09-03 11:01] AbdealiJK commented on #417
@jayvdb Thought you might be interested in this one

[2016-09-03 11:32] RaitoBezarius commented on #595
I think there is no specific issue filled to this. We discussed it at the
conference and agreed that Coala cannot fix ESLint bug for minified files,
but we can ignore them / detect them to alert the user.

On Sat, Sep 3, 2016, 12:37 Lasse Schuirmann <notifications@github.com>
wrote:

--

--

Ryan Lahfa, from my phone.

[2016-09-03 12:16] AbdealiJK commented on #595
But ti seems now with eslint v3 I can't reproduce the bug, so maybe they fixed it ? In which case we simply have to update the eslint version we install.
Can someone else test and confirm ?

[2016-09-03 16:34] AbdealiJK opened #784 "PuppetLintBear - Make an AsciiCinema"
We need a ascii cinema for puppet lint bear. This should be added to the bear

difficulty/newcomer

[2016-09-03 16:40] AbdealiJK opened #785 "SpellCheckBear - Make an AsciiCinema"
newcWe need a ascii cinema for spell check bear. This should be added to the bear

[2016-09-03 16:46] #270 closed

[2016-09-03 16:46] #737 closed

[2016-09-03 16:46] #740 closed

[2016-09-03 16:46] #750 closed

[2016-09-03 16:46] #751 closed

[2016-09-03 16:46] #755 closed

[2016-09-03 16:46] #776 closed

[2016-09-03 16:46] #779 closed

[2016-09-03 16:46] #782 closed

[2016-09-03 16:46] #46 closed

[2016-09-03 16:46] #629 closed

[2016-09-03 16:46] #727 closed

[2016-09-03 17:34] AbdealiJK opened #787 "Cacheing says it will run on file, but doesn't"
I was running coala on a JS file, and it worked the first time. but didn't the second time.

[code]

Note that the second time it does not say "Running bear ESLintBear ..."

[2016-09-03 17:41] sils1297 commented on #787
sorry I don't fully get it, in the first run there were no results so caching assumed that nothing's wrong and the second time no files were checked because they're cached as "ok". What exactly is your problem?

[2016-09-03 17:45] AbdealiJK commented on #787
coala says in the DEBUG:
[code]
So, should it not have checked that file ?
It says it is going to check it, but no file was actually checked.

[2016-09-03 17:47] #730 closed

[2016-09-03 17:48] sils1297 commented on #787
ah we probably should show a hint like `a.js (cached, will be omitted)` or so but this is more like an unclear thing in the debug messages, not fully sure if its a bug.

[2016-09-03 17:50] hypothesist commented on #787
@sils1297 shouldn't it reproduce the same error when ran the second time?

[2016-09-03 17:51] sils1297 commented on #787
@hypothesist well ideally but that's not possible until @Uran198 finishes his logging switch to builtin logging, then every bear can get an own logger and we can identify which log messages come from wher

[2016-09-03 18:07] Makman2 commented on #761
still I think that having a patch to delete the comment is not a fix/patch^^
also these style of comments came to my mind:
[code]
There's where the current bear would not really work^^

[2016-09-04 06:03] AbdealiJK commented on #317
/newI can reproduce this. But for some reason it doesn't fail on circleci. Probably an issue with the locale/stdout encoding being detected.
But, irrespective, this is an upstream bug, as chktex does give a non-unicode output.
Filed it at https://savannah.nongnu.org/bugs/index.php?49000

[2016-09-04 08:50] sils1297 commented on #758
FWIW coala can deal with all placeholders you mentioned except % already and also has a heuristic to detect e.g. markdown links correctly

[2016-09-04 20:17] underyx opened #792 "Add PyromaBear (Python packaging best practices checks)"
https://pypi.python.org/pypi/pyroma/

[2016-09-05 11:45] #741 closed

[2016-09-05 14:10] underyx opened #793 "RemarkBear: Check if the correct remark is installed"
There's two packages with this name. If you do `npm i -g remark`, the `remark` executable will just print this:

[code]

Somehow coala interprets this as 'delete the whole markdown file' 😅

[2016-09-05 14:13] underyx commented on #793
Closing as duplicate: https://github.com/coala-analyzer/coala-bears/issues/586

[2016-09-05 14:13] #793 closed

[2016-09-05 14:27] underyx opened #794 "New AnsibleLintBear for running `ansible-lint`"
https://github.com/willthames/ansible-lint

[2016-09-05 16:42] oreqizer opened #795 "JS: Bear idea: Flow"
[Flow](https://flowtype.org/) has a convenient, one-time CLI check `flow check` that teh bear could use.
Config file could be generated by the bear.

[2016-09-05 16:43] sils1297 commented on #795
Can we invoke it per file so it only tells us results with a particular file? Or can we alternatively invoke it with a given list of files that should be checked only?

[2016-09-05 16:45] oreqizer commented on #795
it only checks files starting with `// @flow` by default. I don't know if there's a way to check files individually, but there's an option to check **all** files, and there's an option to ignore files.

[2016-09-05 19:32] meetmangukiya commented on #746
I would like to be assigned this issue.

[2016-09-05 22:16] #746 closed

[2016-09-06 00:12] underyx commented on #769
:point_right: [September 6, 2016 1:30 AM](https://gitter.im/coala-analyzer/coala?at=57ce002ecdbf820f7f9de210)

[2016-09-06 15:49] souravsingh commented on #794
@underyx I would like to work in the issue.

[2016-09-06 17:10] sils1297 commented on #794
Cool, ping us if you need help. Did you already do a newcomer issue?

[2016-09-08 05:20] AbdealiJK opened #798 "Add check-manifest bear for python devs"
https://pypi.python.org/pypi/check-manifest

It checks the validity of contents in MANIFEST.in

[2016-09-08 05:28] AbdealiJK commented on #794
From what I understand, this does not work with python3 (It's python2 only)
Or atleast they do not support python3 (There's no travis build for py3)

[2016-09-08 23:09] Makman2 opened #800 "ci/appveyor.yml: Remove `setup.py --help` command"
Remove these two lines:
https://github.com/coala-analyzer/coala-bears/blob/master/.ci/appveyor.yml#L57-L58

[2016-09-09 06:44] sils1297 commented on #800
Add this info to the commit message but please rephrase it well: it was
needed back when setup.py was implicitly downloading dependent jars and so
on.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala-analyzer.org/ - http://viperdev.io/ - http://gitmate.com/

On 9 September 2016 at 01:09, GitMate <notifications@github.com> wrote:

[2016-09-09 07:47] sims1253 opened #802 "WriteGoodLintBear: Crash due do setting"
Setting was taken from doc page: https://github.com/coala-analyzer/bear-docs/blob/master/docs/WriteGoodLintBear.rst
Removing the check_* settings makes the bear run through

[code]

.coafile looks like this:
[code]

[2016-09-09 08:55] sims1253 opened #803 "LanguageToolBear: No results yielded"
The file has some text containing this `confirmn asdasdthat` but I get no error or warning.
output

[code]

.coafile

[code]

[2016-09-09 09:06] jayvdb opened #804 "Detect Fedora package pmd jars"
Fedora package pmd includes the jars, but not a `pmd` so coala complains and recommends installing pmd.

It would be nice if coala found and ran the jars.

[2016-09-09 09:07] jayvdb commented on #651
See #804

[2016-09-09 09:07] sils1297 commented on #804
Hm, how are the jars run? Directly? I don't have a fedora around, but this should be simple. Would be willing to help?

[2016-09-09 09:19] jayvdb commented on #804
I am guessing `pmd` is a simple shell script. If so, paste it here and I'll try to run it, and then figure out the oneliner needed to run it in coala.

[2016-09-09 09:24] sils1297 commented on #804
Hm it's not a oneliner... http://pastebin.com/iMTGVNgs

[2016-09-09 10:39] Asnelchristian commented on #802
there is a problem with you .coafile @sims1253, all the setting starting with `check_` were deprecated, and their default value were changed too, besides having `check_adverbs=True` and `allow_adverbs=True`, is contradicting  because it means you want `allow_adverbs` to be `True` and `False` at the same time

[2016-09-09 10:49] Asnelchristian commented on #802
the bear-docs was misleading, but there is definitely a problem with the bear :(

[2016-09-09 11:53] Asnelchristian commented on #803
uhm it is working on my side, i dunno can you give more information

[2016-09-09 12:33] sims1253 commented on #803
the problem was that it only works with language = en-US
giving no language or something like en-UK yields nothing, passing ger as language breaks it as ger is not known

[2016-09-09 12:38] sims1253 commented on #802
coming from the documentation, default for everything was true so then the default settings are bad.
just deleting all the check_* settings made it work for me too

[2016-09-09 13:28] underyx opened #806 "There's no check for trailing spaces in .ci/deps.sh"
There also are some trailing spaces in there. :D

[2016-09-09 14:38] #745 closed

[2016-09-09 14:38] #769 closed

[2016-09-09 15:21] Makman2 commented on #735
from @ku3o

Closing this.

[2016-09-09 15:21] #735 closed

[2016-09-09 15:21] Makman2 commented on #735
See https://github.com/coala-analyzer/coala-bears/pull/805

[2016-09-09 15:57] Asnelchristian commented on #803
ooh i see :) i am gonna figure something out

[2016-09-09 16:00] Asnelchristian commented on #802
all the settings with check_* were deprecated so, they shouldn't appear on the bear-docs or if they do they should be mention in the docs of the setting  that replace them

[2016-09-10 02:01] jayvdb commented on #804
Thanks.  Found the source here : https://github.com/pmd/pmd/blob/master/pmd-dist/src/main/scripts/run.sh

[2016-09-10 03:17] jayvdb commented on #804
I've raised the bug upstream, so hopefully this will "just work" in the future:
https://bugzilla.redhat.com/show_bug.cgi?id=1374887

It is a bit of a pain to build pmd manually, as `toolchains.xml` needs to be created manually on Fedora, and then maven wants jdk 1.7, but Fedora provides jdk 1.8 only.
I worked around this by using `dnf copr enable jschwart/openjdk-7` .
It is likely that pmd works o

[2016-09-10 14:45] Makman2 commented on #282
If you don't mind I would take this over, as your PR ist the oldest one :D

[2016-09-11 03:40] mwang14 commented on #798
I'll look into this one :+1:

[2016-09-11 06:46] jayvdb opened #810 "CPDBear is too noisy by default for PHP"
When using CPDBear (from the docker image) on two PHP projects I have found many of the CPDBear results to be silly, and thus my first instinct was to disable it.

For example, this is the default output.
https://travis-ci.org/jayvdb/clipdig/builds/159077259
[code]

Setting `minimum_tokens = 500` in the `.coafile` doesnt make the problem disappear.

This might be a problem upstream in pmd.
It migh

[2016-09-11 09:05] jayvdb opened #811 "Spaces used instead of tabs for trailing tab"
When `use_spaces = False` and `allow_trailing_whitespace = True` are enabled, "Spaces used instead of tabs." is reported when the only problem is trailing whitespace, even if the trailing whitespace is a tab character.

e,g,
[code]

[2016-09-11 09:33] sils1297 commented on #810
Hi, the problem here is actually that we don't show the context of the lines due to a bug, the duplication is there and if you look into the files you'll likely see the duplication.

The bug has been fixed, I'll make a bugfix release soon including this. In the meantime you can install the bears package with `--pre` to get the prerelease.

[2016-09-11 09:38] jayvdb opened #812 "Spaces used instead of tabs for consecutive spaces in a string"
When use_spaces = False and allow_trailing_whitespace = True are enabled, "Spaces used instead of tabs." is reported when ever consecutive spaces appear on the line.

This is a little confusing.  The message would be more helpful if it was "Consecutive spaces used".

However the bigger problem is that it occurs even when the consecutive spaces are inside a string.  Changing the spaces inside a str

[2016-09-11 09:55] jayvdb commented on #810
There certainly is a lot of duplication in this codebase, so it would be lovely if it was reported sanely.

I'll try upgrading the bears in the docker; that will be useful for the documentation.

[2016-09-11 09:59] sils1297 commented on #812
Ah indeed. CC @abhsag24 we could use AnnotationBear as a dependency and avoid strings for languages we know.

[2016-09-11 10:04] sils1297 commented on #810
I'll try to get it into coala/base:0.8 today

[2016-09-11 10:07] jayvdb commented on #810
Need to remove the "upstream" label on this ticket?

[2016-09-11 10:08] sils1297 commented on #810
Not sure yet. If the "shwing the right source ranges in coala" solves the problem for you then this has been fixed on master and this can be closed.

[2016-09-11 10:14] sils1297 commented on #810
Reopen if needed

[2016-09-11 10:14] #810 closed

[2016-09-11 10:45] sils1297 commented on #811
Interesting, the patch is correctly I assume and only the message isn't? That sounds like a message only, low difficulty and low importance issue to me.

[2016-09-11 10:48] jayvdb opened #815 "End of line (EOL) Bear"
It would be nice to have a bear that required a consistent end-of-line (EOL) marker.

It should work even if `allow_trailing_whitespace` is enabled.

[2016-09-11 10:55] sils1297 commented on #815
Ah like unix vs. linux eol markers?

Usually git takes care of autoconverting those if it's not misconfigured. I think when we read the file into python those get normalized but if there's an important usecase we can probably find a way to make this happen

[2016-09-11 11:10] jayvdb opened #816 "Spaces used instead of tabs reported when no spaces present"
When `use_spaces = False` (and `allow_trailing_whitespace = True`) are enabled, "Spaces used instead of tabs." is being reported even when the line doesnt contain any spaces.

For this branch : https://github.com/jayvdb/clipdig/tree/remove-tab-inside-if
Here is the log https://travis-ci.org/jayvdb/clipdig/builds/159096118

And here are the relevant examples
[code]
(There may be more cases in that

[2016-09-11 11:17] jayvdb commented on #811
If `allow_trailing_whitespace = True`, the trailing tab shouldnt be reported or fixed.

[2016-09-11 11:21] jayvdb commented on #815
The scenario I have is that there is at least one file with DOS EOL, while most of the repository is Unix EOL.
git clone with mostly default git config didnt automatically convert it to Unix EOL.

[2016-09-11 12:57] sils1297 commented on #811
right

[2016-09-11 15:50] sils1297 commented on #816
Seems there's some bugs concerning that :/ I'm not sure if there's anyone available right now who's got time to look into this soon.

[2016-09-11 16:15] jayvdb commented on #811
I also see a case of a tab before the semi-colon, which may be the same underlying problem (depending on how `allow_trailing_whitespace = True` is implemented):

[code]

Strangely my file has two other cases identical to the above, but they are not reported as an error.

[2016-09-11 16:23] sils1297 commented on #816
Interestingly coala wants to correct this:

[code]

Actually even the visualization seems to be wrong :(

[2016-09-11 16:24] sils1297 commented on #816
- Apparently Pygments visualizes tabs wrongly by just ignoring their position
- coala wants to replace the first tab by a space because it'd be possible. :/

[2016-09-11 16:27] sils1297 commented on #811
It depends on the position of the tab/spaces I think, also related to https://github.com/coala-analyzer/coala-bears/issues/816#issuecomment-246188927

[2016-09-11 16:48] jayvdb commented on #816
Replacing the tabs inside the statement with spaces fixes the problem.  It is very bizarre that some lines are reported as errors, while nearly identical lines are considered OK.  Here is my diff which works around all of the problems listed above for the assignments.

[code]

https://github.com/jayvdb/clipdig/commit/a19970e4984e

While you've marked it as high priority, it isnt a high priority fo

[2016-09-11 17:29] sils1297 commented on #816
Thanks for providing further insight, I think that three of your bug reports are connected and may have the same cause, I hope someone will find some time to investigate this soon.

I think this is high prio because some people are using tabs and this is really a pretty basic algorithm. Bugs are rather high prio anyway, most of the issues in our tracker are discussions, codestyle, features and stu

[2016-09-11 18:58] jayvdb commented on #810
Confirmed fixed in master.

[2016-09-11 20:33] sils1297 commented on #810
:+1: I just did a release with the fix so you'll be able to use coala 0.8.4. I just triggered a rebuild of the docker image.

[2016-09-11 20:36] sils1297 commented on #810
@jayvdb btw. we aren't fully sure about the default for the minimum tokens setting, if you have suggestions on how to change it please let us know!

[2016-09-12 18:53] sils opened #817 "VultureBear doesn't detect used functions if they're used in another file"
This sucks! Makes it practically unusable.

importance/high type/bug

[2016-09-12 18:56] sils1297 commented on #817
[code]

We have to make it a global bear: CC @sims1253

[2016-09-12 19:09] sils1297 opened #818 "CPDBear: Add confidence"
Confidence should be higher with a higher amount of tokens. Somebody should investigate at how many tokens we're 100% sure that it's a duplication and where we're like 50% sure and then we can distribute the other values in between.

I think this is difficulty/medium or lower and it would be really neat to get the confidence going :)

[2016-09-13 04:45] jayvdb commented on #816
Yea.  Looks like this is actually a bug in the `coala` repo, as that is where `SpacingHelper` is.

[2016-09-13 09:18] sils1297 commented on #812
Or we could just correct trailing/leading whitespace only, as an option.

[2016-09-13 10:22] #811 closed

[2016-09-13 10:22] #816 closed

[2016-09-13 14:29] adtac opened #819 "Usability: deafult parameters for various bears"
I'm testing out the practicality of coala-quickstart and I have a few points:

* In FilenameBear, should we make snake-casing the default or should we make it a mandatory input from the user?
* In KeywordBear, should we set `["TODO", "FIXME"]` as the default value of `keywords`?

I'll keep adding more as I find stuff. If you have anything else to add, please add a comment. I think this issue shoul

[2016-09-13 16:19] Makman2 commented on #819
1. I would say mandatory user input, e.g. .NET has PascalCase convention, C often uses snake case, so it's highly language dependent.
2. yes, would say so

[2016-09-13 16:27] sils1297 opened #820 "Doing awesome software analysis"
Here's something cool and awesome: we can do stuff like liveness analysis, very busy expression analysis etc. to automatically propose really really smart corrections.

That would give us a huge advantage, this is some research stuff that I'm currently learning for an exam and I think we could implement that possibly with a decent accuracy using coalang.

CC @abhsag24 and @SanketDG : to make this

[2016-09-13 16:36] Makman2 commented on #820
then we should definitely evolve some coAST prototype. Though it may not match the full purpose of coAST yet, we should have it there :)

[2016-09-13 16:36] sils1297 commented on #820
step by step

[2016-09-13 20:16] SanketDG commented on #820
I was not aware of the terms you mentioned, but after knowing about them, I am still not sure I understand what they mean in practical code. Some examples could help.

(PS: I just got on a new laptop, so I won't be active much for the next couple of days 👍 )

[2016-09-13 20:42] sils1297 commented on #820
Essentially it's about some analysis that is taught in theoretical computer science but nobody uses them in practice because there's no proper implementation. You usually need to know where a variable is defined and where it is used. From that you can already derive lots of stuff! E.g.:

- If a computation inside a loop could be moved out (performance)
- Unused code of course
- Find different vari

[2016-09-14 00:28] jayvdb commented on #820
pyflakes already has the core of this for python. It builds more metadata than it uses, because it only reports real bugs. It could report/fix much more. I'd be very happy to help with integration if you are intetested.
Note that this problem domain is complex in python (and similar) due to inner funcs being accessed outside their outer func and `del` being valid anywhere. But that is an edge case

[2016-09-14 06:14] sils1297 commented on #820
@jayvdb might be interesting to see how they're doing it, the algorithms are quite straightforward though. I was hoping we could make something that would work for more than just python, in a way that would allow us to supply a language definition of some kind to add support for new languages.

Our vision is that we stop rewriting such algorithms for every language.

[2016-09-14 06:20] abhsag24 commented on #820
why not start work directly on coAST? a generic AST builder provided specifications for the language we can have various depenency Bears like the `AnnotationBear`, like say `VariablesBear` which gets all the variables given their declarations are specified in the coalang? and we can use all such Bears to build an AST?

[2016-09-14 06:30] sils1297 commented on #820
because coAST is not something you can built easily. We have to approach it
step by step IMO. This goes pretty close and it is a doable step. We can
look further when we're there.

[2016-09-14 11:01] jayvdb opened #821 "SpaceConsistencyBear: Ignore inconsistent whitespace at end of line"
When `allow_trailing_whitespace` is enabled, it is still possible to get errors regarding the trailing whitespace, when there are incorrect tabs vs spaces at the end of the line.

i.e. The current `allow_trailing_whitespace` mode allows only the desired type of whitespace according to `use_space`.

This is reasonable, but it is also sometimes reasonable to expect that `allow_trailing_whitespace` m

[2016-09-14 12:40] jayvdb commented on #820
Do you have a task, repo or wiki about coAST?
Im guessing https://github.com/PyCQA/astroid/issues/329#issuecomment-211251704 is relevant.

[2016-09-14 12:47] jayvdb commented on #821
Also related is a bug where one solution is only looking at leading and trailing whitespace -- not whitespace in the middle. https://github.com/coala-analyzer/coala-bears/issues/812#issuecomment-246623907 .
If we are going to add several options, they need to be designed together to be intuitive.

[2016-09-14 13:04] jayvdb commented on #812
This option would need to be enabled by default.  Note the problem will also occur if a literal tab is in a string when `use_space = True`.

[2016-09-14 13:07] sils1297 commented on #820
There's a pretty much unmaintained repo with some ideas lying around at https://github.com/coala-analyzer/CoAST

[2016-09-14 13:07] jayvdb commented on #812
And de-register `SpaceConsistencyBear` for languages that coala doesn't know about?
Or emit a scary warning?

[2016-09-14 13:07] jayvdb commented on #774
Am I right that `AnnotationBear` isnt really a bear.  It is appearing in `coala --show-bears`.

[2016-09-14 13:10] sils1297 opened #822 "Add bears that do some real code analysis"
let's do some code analysis! We can integrate some tools written by researchers - those are usually awesome in functionality but totally unusable so putting them in coala makes them accessible by "normal" people, hopefully. I got a few recommendations:

- http://cpachecker.sosy-lab.org/
- http://frama-c.com/
- Potentially we can build something on top of http://apron.cri.ensmp.fr/library/

difficu

[2016-09-14 13:24] sils1297 commented on #812
Sounds sane.

Yes, though you then usually want to rather write `/t`

[2016-09-14 13:37] sils1297 commented on #774
Yeah it isn't intended for users, we should probably open an issue to hide
such bears, maybe give them a flag or so...

[2016-09-14 14:00] jayvdb commented on #774
Put them in a different directory also?

[2016-09-14 14:04] jayvdb commented on #812
I was looking for a bear for that. KeywordBear looks related.

[2016-09-14 14:09] sils1297 commented on #774
Good idea!

[2016-09-14 14:50] jayvdb opened #823 "CopyrightBear"
A lint that is often missed is including copyright headers, and updating copyright years.

https://pypi.python.org/pypi/flake8-copyright

However some languages there are empty files, like python package `__init__.py` files, and no copyright header is needed.

https://github.com/savoirfairelinux/flake8-copyright/issues/1#issuecomment-138394295

[2016-09-14 14:59] sils1297 commented on #823
This could be quite simple in a language independent manner without even caring if it's a comment or not as it should be quite impossible to write code that looks like a copyright header without knowing about it.

Neat idea!

[2016-09-14 15:13] jayvdb commented on #823
The required header can be a literal multiline value that must appear.

Different languages have different sections in .coafile, so that variation is already catered for.

Typically the copyright header varies with different names per file. Worst case dedicated sections in the .coafile support this.

Allowing patterns and variables in the template would help.

[2016-09-14 15:16] sils1297 commented on #823
@jayvdb would you be interested in doing this? I'll be available for help of course alongside <http://coala.io/writingbears>. Otherwise if it's a priority for you or someone else I'm sure we'll find someone who can look into it as it should be rather quick and rewarding.

[2016-09-14 15:20] jayvdb commented on #753
Would you consider pyflakes acceptable?
It also reports unused import/variable, but generally stays strictly away from style issues.

[2016-09-14 15:21] sils1297 commented on #753
:+1: if it does the job

[2016-09-14 15:22] jayvdb commented on #823
Not a priority for me.

[2016-09-14 15:29] jayvdb commented on #627
The bear name also needs to be updated.

[2016-09-14 15:31] sils1297 commented on #627
Yes also we need a decorator like the one for settings for renaming bears
and leaving the deprecated names around.

[2016-09-14 18:26] underyx commented on #753
Maybe if we can add the possibility of a `syntax_only = yes` option. I'd
like to give people with crappy codebases the ability to start using coala
with useful checks without changing a single line of code.

On Wed, Sep 14, 2016, 5:21 PM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-09-14 18:58] jayvdb commented on #753
Nod. I expected you were wanting a less noidy tool.
We would need to filter the pyflakes output to achieve that, and it is a reasonable request.

Jedi linting is still unstable, but looks like a serious option anyway.
I suspect astroid is not much better than the ast module at detecting SyntaxError's.

[2016-09-15 15:08] underyx opened #825 "Add PyFlakesBear"

[2016-09-15 15:27] jayvdb commented on #825
See https://github.com/coala-analyzer/coala-bears/issues/753#issuecomment-247118765 (and earlier).

[2016-09-15 16:17] SanketDG commented on #825
This has repeating functionality with [flake8](https://duckduckgo.com/?q=pyflakes+flake8&ia=web)

[2016-09-15 16:26] jayvdb commented on #825
See also #169 for request for a flake8 bear.

Note that it is possible for a Flake8 bear to not run pyflakes.

An important consideration with pyflakes (and flake8 which uses it) is that it reports errors based on the version of Python that it is run it.  i.e. it uses the python interpreter's tokenizer, ast, and it has its own Python-version-specific rules.  Thus the pyflakes package needs to be r

[2016-09-15 17:49] netman92 opened #826 "Check just changed files (diffs from master)"
Add possibility to check just changed files:

[code]

[2016-09-15 17:53] sils1297 commented on #826
Nice idea, we could also have some gitmate like executable. (/me risks ruining his business model again) - we already have algorithms that can run coala before and after a commit and figure out which results are actually new even if they are outside the diff!

[2016-09-15 22:14] Makman2 commented on #826
Don't we have caching already? :O

[2016-09-16 08:17] sils1297 commented on #826
This is to only show results in changed files, not to improve performance.

[2016-09-16 08:24] underyx commented on #826
Couldn't this be hooked into caching though? By just using the git info as
the cache data?

On Fri, Sep 16, 2016, 10:17 AM Lasse Schuirmann <notifications@github.com>
wrote:

[2016-09-16 08:30] sils1297 commented on #826
There are other ways to improve our caching: caching currently runs bears only on changed files and on all files where we have seen results in the last run. In the future we will do this per section so if a file yields a result in one section it doesn't need to get rerun in another section - this will speed up a lot of sections that regularly yield no results.

I don't see how git data can enhance

[2016-09-16 09:08] underyx commented on #826
@sils1297 I'm not saying that caching should be improved with this, I'm saying that it would be cool to be able to configure caching to pick up data from git instead of the files it writes currently, for environments where vanilla cached data is not yet available, such as CI.

[2016-09-16 09:14] sils1297 commented on #826
Please note that the goal of caching is that we achieve the same results
with better performance by omitting already done work. On CI you have no
idea where you have old results and where you don't. Am I making any sense?

[2016-09-16 11:26] ivange94 commented on #800
https://github.com/coala-analyzer/coala-bears/pull/827

[2016-09-16 11:41] Makman2 commented on #826
Agreeing with @underyx , I think we can use the caching system to just feed in the git files instead of our "cache-file".

[2016-09-16 13:56] jayvdb opened #829 "Circle CI trusty image does not pass"
My first CI build of master  is very broken

https://circleci.com/gh/jayvdb/coala-bears/1

[2016-09-16 19:02] SanketDG commented on #829
So this was like all things failing at once:

* debc4d2 is the first issue, it is definitely not being done in the right way. CC @underyx

* `CSSAutoPrefixBear` was failing, primarily because `-webkit-flex` is no more in usage, so there was result generation in the good file testing.

* `DockerfileLintBear`'s executable is actually broken for about, um, 15 days. https://github.com/projectatomic/do

[2016-09-16 19:05] sils1297 commented on #829
Sanket can you look into making the fixes?

[2016-09-16 19:41] SanketDG commented on #829
Fix is at https://github.com/coala/coala-bears/pull/832. Apparently debc4d2 works, sorry for all the confusion though

[2016-09-16 21:54] jayvdb commented on #829
It is still broken for me. https://circleci.com/gh/jayvdb/coala-bears/4

[2016-09-17 07:25] sils1297 commented on #829
IIUC dockerfile_lint has fixed their issue and the tests should pass. However caching might hinder circleci from getting the new version, can't we bump the version in our package.json to force it to get the new fixed version?

Also the TSLintBear seems to fail. Maybe for similar reasons?

[2016-09-17 08:50] jayvdb commented on #829
On Travis it is easy to clear the cache. Can't that be done on Circle?

[2016-09-17 08:54] SanketDG commented on #829
Yeah I have already cleared the cache. But there are other breaking changes in other tools. I am looking into it.

[2016-09-18 01:12] jayvdb commented on #816
Very annoying. Raised as
https://bitbucket.org/birkenfeld/pygments-main/issues/1286/whitespace-filter-misaligns-text-following

[2016-09-18 07:58] SanketDG commented on #829
Fixed in 18defb4 94c7897 3ba5bbd.

If your tests are failing in your PR, please rebase.

Feel free to reopen if the tests fail again after rebasing.

[2016-09-18 08:12] jayvdb commented on #829
I did rebuild master and it failed. Trying again with the cache cleared.  https://circleci.com/gh/jayvdb/coala-bears/tree/master (builds 9 & 10)

[2016-09-18 08:40] SanketDG commented on #829
https://circleci.com/gh/jayvdb/coala-bears/10 The tests pass for `DockerlintFileBear` but other tests time out. Could you rebuild again?

[2016-09-18 09:12] sils1297 commented on #829
we should change our config to allow larger runtimes if the timeout is the
problem

[2016-09-19 00:29] jayvdb commented on #829
Still failing

[2016-09-19 09:54] sils1297 opened #836 "DodgyBear"
https://github.com/landscapeio/dodgy

difficulty/low type/bear proposal area/lintbears

[2016-09-19 11:41] meetmangukiya commented on #836
@sils1297 I'd be interested in writing a bear. Maybe this one?

[2016-09-19 12:03] meetmangukiya opened #837 "Remove deprecated link in the document string from the `Lint` class in the `Lint.py` file"
http://coala.readthedocs.io/en/latest/Users/Tutorials/Linter_Bears.html is the link in the file, it is 404'd, it needs to be updated.

difficulty/low

[2016-09-19 12:04] meetmangukiya commented on #837
difficulty/newcomer

[2016-09-19 12:06] #837 closed

[2016-09-19 15:11] Makman2 commented on #836
cool why not @sils1297 :)

[2016-09-19 15:12] Makman2 commented on #837
@meetmangukiya why did you close again?

[2016-09-19 15:15] meetmangukiya commented on #837
Moved to https://github.com/coala/coala/issues/2774 @Makman2

[2016-09-19 15:22] meetmangukiya commented on #836
I think `HappinessBear` and implementation of this bear would be pretty much similar, right?

[2016-09-19 15:28] sils1297 commented on #836
:+1: see docs.coala.io docs about writing linter bears

[2016-09-19 15:30] meetmangukiya commented on #836
@sils1297 just in case you haven't noticed, the [repo](https://github.com/landscapeio/dodgy) hasn't been updated in last 9 months that is as good as a year.

[2016-09-19 16:16] jayvdb commented on #836
Ya. Unmaintained.
A language unaware regex bear would be sufficient for some of the dodgy checks, esp conflict markers.

[2016-09-19 16:49] sils1297 commented on #836
Nice, let's do that.

[2016-09-19 20:29] SanketDG commented on #829
The master branch is supposedly fix ( no failed builds on the latest commits ).

For the failing builds, I ssh'd into one of them and found the old version being used.

The thing is every branch/PR has its own cache[[1]], so we have to first restart every build without cache for every PR.

Or find a saner way to fix this.

[1]: https://circleci.com/docs/how-cache-works/

[2016-09-19 20:53] sils1297 commented on #829
fix the version of the cached dependency explicitly?

[2016-09-19 20:54] sils1297 commented on #829
to force upgrade

[2016-09-20 00:52] meetmangukiya commented on #836
@sils1297 given that the repo is not maintained do we want to use it?

[2016-09-20 01:18] jayvdb commented on #829
https://circleci.com/gh/jayvdb/coala-bears/12 was a retry without cache.  I've restarted without cache again (not rebased, so I am missing 3ba5bbd..4926dc0 which includes a requirements bump for coala).

[2016-09-20 08:10] sils1297 commented on #836
As @jayvdb proposed: we can rather make an own native bear with that functionality which is usable for all languages. Essentially we just "grep" through the code for suh things right?

[2016-09-20 14:11] Adrianzatreanu opened #838 "Make bear settings even more awesome"
So right now we almost unified the bear settings thanks to @Asnelchristian's amazing effort. But the param descriptions are still not the most helpful there are, because they are not unified completely. I think we should maintain a unity among all settings, such as this one:

[code]

CC @Asnelchristian as you are the master of these

[2016-09-20 14:35] Asnelchristian commented on #838
this is awesome :)

[2016-09-20 14:37] Adrianzatreanu commented on #838
i feel like this helps just looking up and knowing what possible values each thing has, instead of guessing, and knowing what each one does.

[2016-09-20 15:01] Adrianzatreanu opened #839 "Create coala --bear-details <bear_name>"
Considering we accept this https://github.com/coala/coala-bears/issues/838, i think we should have a nice option like : ``coala --bear-details PEP8Bear`` which parses the new settings format and shows what the bear does, possible values and stuff. it would be truly helpful.

CC @Asnelchristian

[2016-09-20 16:03] Dawny33 opened #840 "Update files to reflect name change (from `coala-analyzer` to `coala`)"

[2016-09-20 16:43] sils1297 commented on #839
This should be in cib instead, not in coala

On 20 Sep 2016 5:01 p.m., "Zatreanu Adrian-Gabriel" <
notifications@github.com> wrote:

[2016-09-21 14:00] meetmangukiya commented on #836
I think I'll have to get an idea of **dodgy** . Got to read up some stuff.

[2016-09-21 19:11] meetmangukiya commented on #836
Can we have some words that the bear should be dodging other then the ones in dodgy, I'll add those anyway, and also I was thinking of configuring the DodgyBear with a list of words that could be maybe mentioned in the coafile of the project. Some specific words for the CI or something they use, etc. Thoughts? CC @sils1297 @underyx

[2016-09-21 23:01] sepihere commented on #153
I have tried a script to fix the issue.
https://github.com/sepihere/coala-bears/commit/c0e7fea60fafe255838f34782aff10d8c3d07308
I know should run tests. I have tried it on my own Mac which works but I don't know how to run "coala" command with my Fork for extra tests.

[2016-09-22 00:49] jayvdb commented on #836
Allowing regex config support to `KeywordBear` would suffice?
It already uses regex internally, but doesnt allow configuration using regex, which is #311.

[2016-09-22 06:31] sils1297 commented on #836
Though I think sane defaults are key to this, having some binary options
like detect_aws_keys or so is much easier than making up a regex for it

[2016-09-22 08:55] sils1297 commented on #153
Ahm wait a minute - we don't have Mac tests anymore because they were hard to maintain and didn't find us any issues

[2016-09-23 07:35] jayvdb commented on #829
https://circleci.com/gh/jayvdb/coala-bears/15 using tip

[code]

https://go.googlesource.com/tools/ of course works well normally.  Why does it fail in Circle CI?

[2016-09-23 07:48] sils1297 commented on #836
Take a look at
https://docs.gitlab.com/ee/push_rules/push_rules.html#prevent-pushing-secrets-to-the-repository
and see what they do - that one is largely filename based.

[2016-09-23 07:57] sils1297 commented on #153
@sepihere did you see my comment above? I don't think this issue needs fixing. @AbdealiJK can you confirm?

[2016-09-23 08:05] sepihere commented on #153
@sils1297
oh sirry.  I thought you meant that I don't need to run additional tests and should do a pull request.

[2016-09-23 09:13] jayvdb opened #844 "PEP8Bear whitespace settings support using SpaceConsistencyBear config names"
The PEP8 (pycodestyle) currently only has `ignore` and `select`. While that is helpful, it isnt user friendly.   It would be nice if the user could use the SpaceConsistencyBear config names.

Disabling `use_spaces` should add the tab-related pycodestyle codes to the ignore list.  e.g. `E101`. (there are a few others, IIRC)

The error code for trailing whitespace is `W291`.  It should be automatica

[2016-09-23 09:56] sils1297 commented on #829
Maybe the build just needs to be restarted?

[2016-09-23 09:59] sils1297 commented on #844
Very important indeed.

CC @Asnelchristian

[2016-09-23 10:02] jayvdb commented on #844
No doubt other linter bears also dont respect the SpaceConsistencyBear
settings.

On Fri, 23 Sep 2016 16:59 Lasse Schuirmann, <notifications@github.com>
wrote:

[2016-09-23 11:31] sils1297 commented on #844
Yes indeed, that's why I CCed @Asnelchristian , he has been working a lot
on unifying setting names and meanings across bears.

[2016-09-23 13:59] jayvdb commented on #829
Restarted; another failure, and the build log is too large to dispay the error.

[2016-09-23 15:18] jayvdb commented on #783
I was doing some analysis on how to create coala settings that could be mapped to `uncrustify`s extensive config , and found that `uncrustify` will strip all trailing whitespace (https://github.com/uncrustify/uncrustify/issues/132) , which would mean that `allow_trailing_whitespace = True` would be ignored.  I found that other linters are also ignoring  `allow_trailing_whitespace` and `use_spaces`

[2016-09-23 15:26] meetmangukiya commented on #836
That'd be helpful

[2016-09-23 21:00] sils1297 commented on #783
for the moment we could warn the user that the setting will be ignored if it conflicts with the available behaviour. alternatively could readd the whitespace in the bear

[2016-09-23 23:45] jayvdb commented on #783
As uncrustify could have modified lines substantially, it may be impossible to re-add whitespace accurately.  White the algorithm would be generic and probably useful for other linters that forcefully strip trailing whitespace, it would be a painful and fruitless exercise to build it.

At least initially, a warning would be the best approach.  How does a bear get a user setting which the bear does

[2016-09-24 06:12] SanketDG commented on #829
this is a serverside issue. Can you restart again?

[2016-09-24 11:26] Adrianzatreanu opened #845 "Let generate_package upload only one bear"
It should be able to only upload one bear, such as: generate_package -r -u PEP8Bear

CC @SanketDG as you wanted to do this :)

[2016-09-24 12:57] jayvdb commented on #829
Up to #17 red builds now. https://circleci.com/gh/jayvdb/coala-bears

[2016-09-25 11:07] divyam3897 commented on #840
Hi, I want to fix it. I need to change all the "coala-analyzer" strings with "coala" in Readme.rst?

[2016-09-25 11:09] sils1297 commented on #840
@divyam3897 apparently @Dawny33 is already working on this

[2016-09-25 11:12] sils1297 commented on #153
@sepihere sorry we hate it when this happens (people wasting time on wrongly defined issues) but I think we want to close this. If I'm getting something wrong here please reopen with reasoning.

[2016-09-25 11:12] #153 closed

[2016-09-25 11:48] ivange94 commented on #754
assign to me

[2016-09-25 13:08] #9 closed

[2016-09-25 13:10] Adrianzatreanu commented on #432
is this still relevant now that we use cib?

[2016-09-25 13:14] Adrianzatreanu commented on #529
totally done :D after years..

[2016-09-25 13:14] #529 closed

[2016-09-25 16:25] meetmangukiya commented on #836
I'd like to request an unassignment, sorry @sils1297 @Makman2 :( I hope the discussion would help the future assignee. Reason being I haven't been able to come up with even the little bit of code of dodgy bear, even after a week and it is getting uninteresting now :( .

[2016-09-25 18:31] sils1297 commented on #432
more than ever, we should generate those messages from the Requirement set
instead of manually providig it!

[2016-09-26 08:22] Nosferatul commented on #736
I wannna try it!

[2016-09-26 08:46] sils1297 commented on #736
actually I think this was already fixed, @nosferatul can you try that out and tell us if it's fixed?

[2016-09-27 03:04] jayvdb commented on #823
A script that is commonly used is `licensecheck.pl` from KDE, which made its way [into Chromium](https://github.com/adobe/chromium/blob/master/third_party/devscripts/licensecheck.pl), and I've noticed it just now appearing in https://github.com/html5lib/html5lib-python/pull/303

[2016-09-28 16:46] Flap-Py commented on #815
Please help me understanding what actually is wanted. I mean what does ` bear that required a consistent end-of-line (EOL) marker.` means.

[2016-09-28 21:15] Makman2 commented on #815
On Windows line endings are indicated with `CRLF` (carriage return + line feed), while linux uses `LF` (line feed) only. The bear shall just check / enforce the uniformity of a single end-of-line (EOL) marker (`CRLF` or `LF`).

[2016-09-29 10:07] sils1297 opened #847 "SpellCheckBear: Add options"
From https://github.com/testthedocs/ttd.training-docs-basics/issues/3#issuecomment-250417333

@Asnelchristian do you have time to look into this?

[2016-09-30 11:31] ankitjavalkar commented on #798
@mwang14 Are you still looking into this issue?

[2016-09-30 13:50] Flap-Py commented on #815
Thanks @Makman2, So now as I can understand I have got to find `\n` (LF) and `\r\n` (CRLF) in a file and need to report the presence of other (in case of check) and change to any one kind (in case of enforce). Am I correct?

[2016-09-30 13:52] Flap-Py commented on #815
Thanks @Makman2, So now as I can understand I have got to find `\n` (LF) and `\r\n` (CRLF) in a file and need to report the presence of other (in case of check) and change to any one kind (in case of enforce). Am I correct?

[2016-09-30 14:02] jayvdb commented on #815
Correct.
Ideally for enforce, there is an option to specify what EOL should be used, defaulting to unix style.
It also would help to have a "per-OS" setting, but that is something that can be added after.

[2016-09-30 15:29] manu-chroma commented on #539
Hey, I'd like to work on this one.
@Asnelchristian have you thought of a name for the function ?

[2016-09-30 17:07] sazarkin commented on #806
I can do this!)

[2016-09-30 17:21] Hazen91 commented on #25
I can do it if you like

[2016-09-30 18:08] mwang14 commented on #798
@ankitjavalkar I'm not going to have time until late next week. I plan on looking into it once my schedule frees up a bit. Sorry, I should have notified someone.

[2016-09-30 18:45] ankitjavalkar commented on #798
@mwang14 No problem :)

[2016-09-30 23:17] sils1297 commented on #806
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-01 03:23] gs0510 commented on #784
Hi! I'd like to do this. Just wanted to confirm if the ASCII cinema being talked about here is the one described here: https://github.com/asciinema/asciinema . Thanks!

[2016-10-01 10:14] meetmangukiya commented on #686
I'd like to work on this one. @Makman2 what do you mean by a `deafultdict`?

[2016-10-01 11:10] sils1297 commented on #784
yes :)

Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [o

[2016-10-01 11:24] sils1297 commented on #686
google `defaultdict`

[2016-10-01 11:29] ivange94 commented on #754
Can I be unassigned from this? I have not even found the time to read stylint link you provided. My internship just got more tense. And pursuing personal adventures seem to really impossible now. I was hoping I would work on this over weekends but I just got informed that Saturday is a normal working day. When I finish my internships I'll take this back if nobody works on it.

[2016-10-01 11:54] Adrianzatreanu commented on #25
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-01 12:28] gs0510 commented on #785
Hi! I'm working on issue #784 as well which is similar to this. Can I be assigned to this issue as well? Thanks!

[2016-10-01 12:47] sils1297 commented on #754
@ivange94 did you delete a comment here? I got an email but nothing's here

[2016-10-01 13:02] sils1297 commented on #785
Sure, please don't do more than two newcomer issues though (and if you see typos or such things please *file* newcomer issues! We're running out of those I think.)

[2016-10-01 13:08] Srijancse commented on #840
Can I fix this? Is this opened, yet?

[2016-10-01 13:42] manu-chroma commented on #539
cc: @sils1297 @AbdealiJK

[2016-10-01 13:48] sils1297 commented on #840
@Dawny33 is working on this

[2016-10-01 14:06] ivange94 commented on #754
Hmm sorry about that. Maybe I deleted thinking I was deleting something else. I would like to be unassigned. My internships have become more tense and going on personal adventures is proving difficult. I have not even found the time to follow the link about stylint at the top. When I find some free time I'll pick it back if no one works on it.

[2016-10-01 15:53] gs0510 commented on #847
Hi! I would like to work on this. Can you please assign this to me? Thanks!

[2016-10-01 16:02] SanketDG commented on #829
@jayvdb Sorry for stretching this out, but this hasn't appeared in the master branch or any other PR in this repo for a while, do you still have this?

[2016-10-01 16:05] SanketDG opened #852 "master failing"
https://circleci.com/gh/coala/coala-bears/3278

Probable cause: Apparently, lots of other files are being picked up by the test suite I think.

Probable solution: We should ignore the `vendor` and other 3rd-party folders in the `py.test` config.

difficulty/low

[2016-10-01 18:19] jayvdb commented on #829
I dont understand your comment, in light of #852, which says master is broken.

[2016-10-01 22:46] gs0510 commented on #514
@Makman2  @sils1297 I see the issue is still open, but using  r_use_arrows = true/false did exactly what it was supposed to do.  Are there other style rules that should be allowed to be disabled?

[2016-10-02 04:00] SanketDG commented on #829
@jayvdb oh yes that is a different issue, but the issues with respective to this fail were fixed.

[2016-10-02 04:11] SanketDG commented on #852
Also, pydocstyle changed its API, there is a test failing because of a newly added rule.
Changing line 36 of `PyDocStyleBearTest`:

[code]

[2016-10-02 04:29] Makman2 commented on #514
I think `r_use_arrows = False` (for example) forced to use no arrows at all. So it's either the one or other extreme when using such a setting. Though I could be wrong with this (long time ago when this issue was opened :3)

[2016-10-02 05:03] srisankethu commented on #852
I have made 2 different commits

[2016-10-02 07:15] gs0510 commented on #514
@Makman2 Yes what you are saying is true. So is the requirement that in some places we should  use the arrow and in other places we should still be using equal to sign? For example if we have r_use_arrows=true start_line_num=10 end_line_num=20, we can have arrows in line numbers from 10 to 20. Is that what is required? Can you please explain in a little detail what the requirements are? Thanks!

[2016-10-02 07:34] jayvdb commented on #829
This is not about a specific issue.  It is now 16 days that the master has not been green on my fork, despite building it repeatedly after various fixes have been applied.  Several of those times the main repo was green by I wasnt able to reproduce it, rebuilding master with a clean cache.  The master commit hasnt changed many times in this period, so I keep rebuilding the same commit because I am

[2016-10-02 08:39] meetmangukiya commented on #686
Should we add an extra option for this, something like
`coala --files somefile --bears InvalidLinkBear --timeout x` where `x` would be the number of seconds.

[2016-10-02 08:40] meetmangukiya commented on #686
Btw, who would be mentoring this issue? So that I'd know who should I approach. :wink:

[2016-10-02 09:05] meetmangukiya opened #855 "PEP8Bear: Asks to apply patch automatically after already said to."
[code]
On the second attempt, I don't think we should have the 2nd option. And if you go on selecting the second option, it turns out to be an infinite loop. If you select `2-->0-->2` then patches are applied one by one automatically. But if one does `2-->2-->2.....2-->2` it'd only apply the very first patch that we selected.

Ask for more info, if the above description was not clear :)

type/bug

[2016-10-02 09:06] meetmangukiya commented on #855
CC @Asnelchristian does this issue make sense?

[2016-10-02 10:46] sidn77 commented on #85
I would like to be assigned to this issue

[2016-10-02 10:53] #852 closed

[2016-10-02 11:37] #806 closed

[2016-10-02 11:58] daminisatya commented on #25
Hey @sils1297 Is this issue fixed ? Can i make my first contribution to coala here ?

[2016-10-02 13:15] #784 closed

[2016-10-02 13:15] #785 closed

[2016-10-02 13:38] gs0510 commented on #355
@sils1297 I'd like to work on this. :)

[2016-10-03 00:19] Makman2 commented on #686
the community can help you with any concern (see gitter-channel), if you want you can ping me if needed :D (slowly getting into coala again)

[2016-10-03 00:21] Makman2 commented on #686
and the option would ideally be a dictionary, where you can specify the domain(-prefix, or maybe regex) which maps onto the right timeout.
The option should have a more specific name, maybe like `network_timeout` or similar? At least `timeout` is too generic (especially as bears do share settings).

[2016-10-03 00:22] Makman2 commented on #686
So for example:
[code]

[2016-10-03 00:28] #355 closed

[2016-10-03 00:33] Makman2 commented on #514
If the setting is not touched inside a coafile, no check shall happen at all.

For example:
[code]

This can be achieved via setting the default value for `r_use_arrows` to `None` (here -> https://github.com/coala/coala-bears/blob/master/bears/r/FormatRBear.py#L36)  and omitting the according command-line-parameter if `r_use_arrows = None` (here -> https://github.com/coala/coala-bears/blob/master/

[2016-10-03 01:13] Makman2 commented on #855
The patch should fail with a message when tried to reapply. Indeed the option shouldn't be available any more, though I thought coala takes already care of that. Seems not.

@sils1297 sorry need to ping you, but I'm not sure why this happens, didn't we patch that somewhen ago?

[2016-10-03 01:14] Makman2 commented on #754
feel free to come back any time :)

[2016-10-03 01:16] Makman2 commented on #798
@mwang14 so do you wanna give away this issue to @ankitjavalkar or do you want to finish it when you have time again?

[2016-10-03 01:18] Makman2 commented on #539
Actually the renaming was not @Asnelchristian's idea, have forgotten who mentioned this :D

I think myself that the name is okay, it hits more or less the point. If you agree I would close this issue, if not, feel free to come up with a name on your own :)

[2016-10-03 06:01] Flap-Py commented on #815
While working up I came to know that when python opens a file it converts '\r\n' to '\n' by default. See the second answer http://stackoverflow.com/questions/4599936/handling-r-n-vs-n-newlines-in-python-on-mac-vs-windows
any ideas how to get over this ?

[2016-10-03 08:14] jayvdb commented on #815
Open the file in binary mode.

[2016-10-03 08:17] jayvdb commented on #815
Or depending on how your are implementing this EOLBear, you might use the Python 3 only `open` `newline` parameter (http://stackoverflow.com/a/17562481/5037965) so that one (default) NL mode is natively handled by `open`, and you can see the other types of newline.

[2016-10-03 10:10] sils1297 commented on #855
see ApplyPatchAction.py

[2016-10-03 10:34] sils1297 commented on #815
actually @Udayan12167 has a PR introducing a FileProxy, which could on
demand give you the binary version of the files or something so you don't
need to read the file again? @Udayan12167 ?

[2016-10-03 10:40] jayvdb opened #859 "julia add package Lint fails on Circle CI trusty images using ppa:staticfloat/juliareleases"
https://circleci.com/gh/jayvdb/coala-bears/19 fails on trusty images with the following at the end of the build log.

[code]

[2016-10-03 10:40] jayvdb commented on #829
Current problem is #859

[2016-10-03 10:41] sils1297 commented on #859
@SanketDG can you help out? Who wrote the julia stuff? That was a bit messy IIRC.

[2016-10-03 12:13] underyx opened #860 "InvalidLinkBear: URLs wrapped within backticks `https://coala.io` are parsed wrong"
Try running the bear on a file which contains:

    `https://coala.io`

It will try to connect to

    https://coala.io`

[2016-10-03 12:42] Flap-Py commented on #815
alright! so I should wait for merge on the PR or I should try by reading file again?

[2016-10-03 12:44] sils1297 commented on #815
Please speak with udayan about this

On 3 Oct 2016 13:42, "Saurav Mehrotra" <notifications@github.com> wrote:

[2016-10-03 14:25] underyx opened #861 "GitCommitBear: Check for sequential duplicate messages at tip of commit history"
Excerpt of a commit log which should not pass CI:

[code]

Depends on https://github.com/coala/coala-bears/issues/757

[2016-10-03 14:35] Makman2 commented on #855
@meetmangukiya could you try what happens if you again press '2' (apply patch)? Does it give an error message that the patch is not possible?

\+ could you provide your files you've used here?

[2016-10-03 14:51] Makman2 commented on #859
I've added the julia deps, though this looks like a problem in julia itself. This error doesn't occur in our builds :/
@jayvdb Could you ssh into the build and try to install the package yourself with `julia -e 'Pkg.add("Lint")'`? And maybe print some versions of julia and related stuff?

[2016-10-03 14:57] jayvdb commented on #859
I suspect if you clear the cache in a rebuild of the main repo, it will fail also.

You already have the output of `julia -e 'Pkg.add("Lint")'` above.
I have run it with `ppa:staticfloat/julianightlies` and that also fails, with the same error.

[2016-10-03 15:02] meetmangukiya commented on #855
@makman2 it asks the same thing again, it doesnt do anything . If you keep pressing 2 you keep getting the same message untill you enter 0.

I'd attach the file later, don't have access to it right now :(

[2016-10-03 15:10] Makman2 commented on #859
I suspect that too ...

hmmm... I'll look into it making my own fork :+1:

[2016-10-03 15:33] sils1297 commented on #861
Neat idea

[2016-10-03 15:36] jayvdb commented on #859
The key problem is the colon in `ssh://git@github.com:/JuliaLang/METADATA.jl`
I've tried quite a few things to be rid of it, but havent been lucky yet.  https://circleci.com/gh/jayvdb/coala-bears/tree/gh-859

[2016-10-03 15:46] manu-chroma commented on #539
@Makman2 Feel free to close the issue. I also feel that the function name is fine given that it has one line implementation :smile:

Can you suggest any other ``newcomer`` issue I could possibly work on ? This was supposed to my first issue on coala.
Thanks! :)

[2016-10-03 16:29] jayvdb commented on #859
Also strange, the following from my log doesnt appear in https://circleci.com/gh/coala/coala-bears/3310

[code]
(And is another indicator that this bug is being avoided by `coala/coala-bears` because its builds are using a cached `~/.julia`)

[2016-10-03 23:18] Makman2 commented on #859
Very strange. Still wondering how we achieved to get a working version into our cache though^^

[2016-10-03 23:19] #539 closed

[2016-10-03 23:21] Makman2 commented on #539
There are some left you can take :)

https://github.com/coala/coala-bears/issues?q=is%3Aopen+is%3Aissue+label%3Adifficulty%2Fnewcomer+no%3Aassignee

https://github.com/coala/coala/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee+label%3Adifficulty%2Fnewcomer

[2016-10-04 07:28] manu-chroma commented on #49
Hey @sils1297, I'd like to work on this issue! :)

[2016-10-04 07:40] gs0510 opened #864 "RLintBear - Make an AsciiCinema"
We need a ascii cinema for R lint bear. This should be added to the bear

difficulty/newcomer

[2016-10-04 08:47] gs0510 commented on #514
If I do not modify the r_use_arrows, and have both = and <- in my r file, nothing changes. The <- and = are both still intact. Here's an [asciinema](https://asciinema.org/a/88016) recording that I made. Hope this closes this issue.

[2016-10-04 09:07] jayvdb commented on #829
@SanketDG, have you tried running a build on your own fork yet?  Did it work?

[2016-10-04 09:55] jayvdb opened #865 "ImportError: No module named 'coalib.bearlib.abstractions.Lint'"
When I disable fetching Julia Lint due to #859, the following error occurs:

[code]

[2016-10-04 10:18] manu-chroma commented on #49
@AbdealiJK  using ``which('go help vet ')`` returns ``None`` even though I have ``go vet`` installed.

I can use ``os.system('go help vet')`` in place for checking installation. Thoughts ?

[2016-10-04 10:21] jayvdb commented on #829
The next problem is #865

[2016-10-04 10:32] AbdealiJK commented on #49
'which' doesn't work like that. It only accepts 1 arg. What were you expecting 'which go vet bear' to give???

Instead of os.system() we use sub process.check_call or subprocess.check_output. Look at other bears and how it's implemented in them.

[2016-10-04 10:35] manu-chroma commented on #49
I realised that after posting the comment. Sure, I'll do that!
Thanks.

[2016-10-04 13:10] jayvdb commented on #49
Please see the new GoRequirement . Each bear should not do their own package management checks - they will be buggy.

[2016-10-04 13:13] jayvdb commented on #49
(Go vet is a bit special, but its specialness should be in GoRequirement)

[2016-10-04 15:25] SanketDG commented on #829
I haven't had the time, but looks like https://circleci.com/gh/coala/coala-bears/3316 is another failure, even after retrying three times

[2016-10-04 15:26] jayvdb commented on #865
Ah, probably because my testing branch doesnt include https://github.com/coala/coala-bears/issues/852 .
Retesting.

[2016-10-04 15:28] SanketDG commented on #865
Yes please update to the latest master, and then test

[2016-10-04 15:39] #865 closed

[2016-10-04 15:50] jayvdb commented on #829
@sils1297 commented 17 days ago:

Yes, now that I have disabled Julia Lint, I am seeing this again.

[code]

This occurs in `TSLintBearOtherOptions.test_invalid_files`, `TSLintBearWithoutConfig.test_invalid_files` and `TSLintBearTestWithConfig.test_invalid_files`.

[2016-10-04 16:58] manu-chroma commented on #49
@jayvdb I'm not sure if you're pointing to any specific part of the documentation.
Can you give a link for where I can see the GoRequirement..

[2016-10-04 17:00] AbdealiJK commented on #49
@jayvdb but we need to ensure it works for the test skipping right? Or has that been offloaded to GoRequirements?
CC @Adrianzatreanu

[2016-10-04 17:05] jayvdb commented on #49
See https://github.com/coala/coala/issues/2752 , which fixed `GoRequirement.is_installed` for the general case.  Special tests might be needed for `go vet`.

Test skipping should be done using `GoRequirement.is_installed`, and can probably be done dynamically in `LocalBearTestHelper` as the requirement is declared in the bear.

[2016-10-04 18:05] jayvdb opened #866 "tslint not installed"
`tslint` is not being installed, resulting in the tests expecting an error to fail.

[code]

This occurs in `TSLintBearOtherOptions.test_invalid_files`, `TSLintBearWithoutConfig.test_invalid_files` and `TSLintBearTestWithConfig.test_invalid_files`.

Unfortunately the tests for valid files are silently failing when `tslint` doesnt exist.

Here is the deps install log component showing that tslint i

[2016-10-04 18:20] jayvdb opened #868 "go get lint fails undefined: types.ImportMode"
go lint isnt installing atm

[code]

[2016-10-04 18:26] jayvdb commented on #868
First reported as https://github.com/coala/coala-bears/issues/829#issuecomment-251421910

When I built on my fork, with a recently build cache, this bug doesnt occur.  It seems to only be a problem with the coala/coala-bears cache.

It occurred for me on #867 when I turned off my CircleCI.

[2016-10-04 18:27] jayvdb commented on #829
^ raised as #866

@SanketDG commented 3 hours ago:

raised as #868 as I have also reproduced that now with #867.  Ironically I think it is the opposite problem.
the `coala/coala-bears` cache probably needs to be cleared, or the faulty object in the cache invalidated by changing a requirement version somewhere.

[2016-10-04 20:05] Makman2 commented on #514
Oh than I was wrong :3
But does this work for all other parameters too? If so we can happily close this one indeed :)

(Btw it's interesting what patch is applied in your asciinema as I can't see any change in the file :3)

[2016-10-04 20:23] Makman2 commented on #866
Interesting the test should be skipped if TSLint does not exist... And the message indicates that TSLint exists somehow, though the actual results differ from the expected ones.
CI goes crazy nowadays :3

[2016-10-04 20:33] gs0510 commented on #514
Are you talking about Applied 'ApplyPatchAction' on 'test.r' from 'FormatRBear' ? I just did a diff before and after the change. The bear adds a newline at the end of the file.

[2016-10-04 20:46] Makman2 commented on #514
ah alright, nothing serious then :D

[2016-10-05 00:23] jayvdb opened #869 "Use Circle CI trusty image"
The `coala/coala-bears` (and `coala/coala`) builds on Circle CI use its Ubuntu precise image.
The Ubuntu trusty image provides many important updates, and is better maintained, and the maintenance of the Ubuntu trusty image is public in https://github.com/circleci/image-builder.
See https://circleci.com/docs/differences-between-trusty-and-precise/

[2016-10-05 00:26] jayvdb commented on #868
This usage of `types.ImportMode` was added to `golint` in the commit https://github.com/golang/lint/commit/a428635c58fe which is "Drop support for Go 1.5."

Ah, the difference is that `coala/coala-bears` is using the Ubuntu 12.04 image, [which comes](https://circleci.com/docs/build-image-precise/#go) with go 1.5.3 , whereas `jayvdb/coala-bears` is on the trusty 14.04 image, [which comes](https://c

[2016-10-05 00:28] jayvdb commented on #829
Ah!

Maybe many of my problems are that `coala/coala-bears` is using the Ubuntu 12.04 image, whereas `jayvdb/coala-bears` is on the **default** trusty 14.04 image.

[2016-10-05 00:29] jayvdb commented on #869
And in August 2016, trusty became the default.
https://circleci.com/blog/ubuntu-14-04-trusty-is-the-default-os-for-new-projects/
Anyone creating their circleci project now will have a trusty image now.

[2016-10-05 00:53] jayvdb commented on #859
This may be only a problem with the trusty builds, which is still strange because the [trusty image] (https://circleci.com/docs/build-image-trusty/) doesnt provide a Julia, so it would be some lower level difference.

[2016-10-05 01:29] jayvdb commented on #866
You can test it yourself. It does not install unless the peer dependency is also installed. I sshed to the circleci vm to be sure, and it was not present.
This possibly depends on a npm version.

[2016-10-05 06:37] mwang14 commented on #798
@Makman2 I plan on finishing it when I have time, although @ankitjavalkar if you want to take it go right ahead :).

[2016-10-05 07:34] SanketDG commented on #869
I have updated the build environment, thanks @jayvdb

[2016-10-05 08:04] SanketDG commented on #869
The only problem is that we have to push an actual commit, to get the build changes, and I think doing a coala version bump in `requirements.txt` is the best way right now.

[2016-10-05 08:13] jayvdb commented on #869
@SanketDG , all builds on trusty will fail with the problems I have been fighting for several weeks. I very strongly suggest that you undo whatever you have done until you have tested it will work on your own fork.

[2016-10-05 09:06] sils1297 commented on #868
yep, let's upgrade the image to trusty. I see that's a setting in CircleCI,
I can change that in our builds when needed.

[2016-10-05 12:02] jayvdb commented on #868
Im working on this. Nearly ready...I hope.

[2016-10-05 22:56] manu-chroma commented on #49
@AbdealiJK @jayvdb So the condition for checking ``go vet`` should be implemented in ``GoRequirement.is_installed`` or should I put it in ``GoVetBear.py`` inplace of ``which(go)`` implementation ?

[2016-10-06 09:15] sils opened #872 "Upgrade ESLint to version 3"
CC @oreqizer

[2016-10-06 09:21] #868 closed

[2016-10-06 09:34] sils1297 commented on #839
@Adrianzatreanu can we close it and do this in cib please

[2016-10-06 10:03] #839 closed

[2016-10-06 10:03] Adrianzatreanu commented on #839
:(

[2016-10-06 13:37] Udayan12167 opened #873 "PEP8Bear: Make asciinema."

[2016-10-06 13:38] Udayan12167 opened #874 "PyCommentedCodeBear: Make asciinema."

[2016-10-06 13:38] Udayan12167 opened #875 "PyDocStyleBear: Make asciinema"

[2016-10-06 13:39] Udayan12167 opened #876 "PyImportSortBear: Make asciinema"

[2016-10-06 17:28] #800 closed

[2016-10-06 18:23] barpit20 commented on #875
assign me this

[2016-10-06 18:24] PR0han commented on #874
assign me this

[2016-10-06 18:25] Niket100 commented on #873
assign me this

[2016-10-06 18:25] sarthak268 commented on #873
please assign me this

[2016-10-06 18:27] yajurahuja commented on #876
assign me this

[2016-10-06 18:28] ishaanbassi commented on #876
i poened it first

[2016-10-06 18:28] raghav16179 commented on #864
assign me this

[2016-10-06 18:28] Cosmopal commented on #25
I can look at it

[2016-10-06 18:29] kaustavvats commented on #875
assign me this

[2016-10-06 18:29] sarthak268 commented on #44
assign me this

[2016-10-06 18:32] AshwatKumar commented on #864
assign me this

[2016-10-06 18:34] kaustavvats commented on #864
assign me this

[2016-10-06 18:37] depuk98 commented on #873
assign me this

[2016-10-07 01:04] jayvdb commented on #869
Note: I have two working solutions for this, however one creates unittest failures for cppcheck, and they both have much higher elapsed build times than precise builds, which is a show stopper IMO.
I want to isolate those failures into a reproducible bug, and hopefully fix them, so the two approaches can be compared for build elapsed times.

[2016-10-07 07:24] sils commented on #864
Assigning @raghav16179 as you asked first. Please tell us if you're no longer interested in helping, IIUC this was likely part of a workshop.

[2016-10-07 07:25] sils commented on #876
Assigning @yajurahuja  as you asked first. Please tell us if you're no longer interested in helping, IIUC this was likely part of a workshop.

[2016-10-07 09:18] jayvdb commented on #25
@Cosmopal, do you understand German? Do you know what it should be changed to?

[2016-10-07 09:33] sudoankit commented on #872
I would like to work on this.

Changing line `ESLintBear.py` to version 3 and adding
[code]
to `return` of `generate_config` method to retain how `eslint:recommended` worked in v2.x.

Am I on the right track? Please correct and guide me if I'm wrong.

[2016-10-07 09:53] oreqizer commented on #872
IMO altering the rules is not a good idea - I'd personally just go with their flow of things.

[2016-10-07 09:57] sudoankit commented on #872
Okay. Better just leave `  "extends": "eslint:recommended"` as said by [ELint v3 migration guide. ](http://eslint.org/docs/user-guide/migrating-to-3.0.0)

[2016-10-07 10:54] sils commented on #49
Ideally it'd be in GoRequirement.is_installed done properly and then the Bear class should automatically use those. CC @Makman2 and @Udayan12167 as this affects the Bear and LintBase classes

[2016-10-07 11:00] raghav16179 commented on #864
Currently I'm interested

[2016-10-07 11:14] Adrianzatreanu commented on #481
unassigning due to long inactivity

[2016-10-07 11:14] sils commented on #571
unassigning due to PR inactivity

[2016-10-07 11:15] Adrianzatreanu commented on #761
unassigning due to huge inactivity.

[2016-10-07 14:53] #85 closed

[2016-10-07 19:09] Makman2 commented on #855
@meetmangukiya got access to the file?

[2016-10-07 19:12] meetmangukiya commented on #855
@Makman2 you'd like the complete file? Its almost 85 lines?

Or just the part where patch was applied?

[2016-10-07 19:20] Makman2 commented on #855
*This is the file:*
 https://gist.github.com/meetmangukiya/2fb85c324455f9a7e81f96f92edcf378

[2016-10-07 19:21] meetmangukiya commented on #855
AFAIR -- `coala --files file.py --bears PEP8Bear` was what I ran, if that'd be any useful.

[2016-10-07 22:19] jjhonson commented on #481
I'll do it ... you're talking about just updating the table to include C?  Do you need to assign it to me or can I just do the pull request?

[2016-10-07 23:04] sils commented on #481
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/! (Especially with newcomer issues some people are doing double work, assignmen

[2016-10-08 10:03] sudoankit commented on #872
This reverted pull request #https://github.com/coala/coala-bears/commit/3397018e9e1435d87ac3b53c607c6847dfcd9734
 was required as changing the requirements created this error:
[code]
Can't we add theses dependencies in `package.json` and change it?

[2016-10-08 14:20] AbdealiJK commented on #872
Try it, if it works then cool. If not, back to the ol' drawing board
As I see it it won't work... because some package seems to need eslint-config-happiness and eslint-config-happiness needs eslint v2 but you're telling eslint to install v3. Hence the dependency error.

[2016-10-08 14:54] meetmangukiya opened #879 "PyImportSortBear: Messes up import groups separated by an empty line"
I think we should make the bear sort only the imports belonging to a particular group, group of imports -- import statements separated by atleast one line

[code]

When used import bear results into

[code]

^^ See the amount of noise it cause.. argh.. that was really harsh!

[2016-10-08 15:56] meetmangukiya commented on #879
type/bug

[2016-10-08 16:43] coala-bot opened #881 "InvalidLinkTest: Remove "http://coalaisthebest.com/" form the `invalid_file` string"
I don't think it is a good idea to include a link in the test, we never know when someone buys that domain and the website goes live.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=57f9224e70fcb5db0c3d9adf) by @meetmangukiya

[2016-10-08 16:45] meetmangukiya commented on #881
https://github.com/coala/coala-bears/blob/master/tests/general/InvalidLinkBearTest.py#L109 ^^

[2016-10-08 16:45] sils commented on #881
The test uses mocking, wether the domain actually exists is irrelevant.
(But this issue keeps popping up :/)

[2016-10-08 16:45] manu-chroma commented on #49
@sils Since @Makman2 is working on this issue, should I pick a different ``newcomer`` issue ?

[2016-10-08 16:46] sils commented on #49
@manu-chroma sure, if you like. Not sure what @Makman2 is planning

[2016-10-08 16:46] meetmangukiya commented on #881
I see :/ close it then :(

Demerits of using cobot to file issue -- You can't close it :(

[2016-10-08 16:47] meetmangukiya commented on #881
It is a good thing, we know that many people have the eye on code ;)

[2016-10-08 16:47] #881 closed

[2016-10-08 16:50] sils commented on #881
Thanks for your comment, I removed the checkboxes. They're useless indeed unless people are maintainers - and they don't need the list.

[2016-10-08 16:51] sils commented on #881
Maybe somebody should put a comment there, you could file an issue about making a comment

[2016-10-08 16:52] meetmangukiya commented on #881
See https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/.github/PULL_REQUEST_TEMPLATE.md

We could have something like this :D

[2016-10-08 16:53] meetmangukiya commented on #881
But that is not what gitmate would do, its upto the project maintainers to add the file in the project.

[2016-10-08 18:52] sils commented on #321
@FyXtreMe still working on this?

[2016-10-08 22:25] sils commented on #823
@jayvdb do you think it makes sense to try to be better than licensecheck.pl or just wrap it? We could easily include it in the distribution I guess.

[2016-10-08 22:27] sils commented on #783
Let's do a warning for now and file an issue upstream maybe.

[2016-10-08 22:28] sils commented on #736
@Nosferatul any news? Should someone else get assigned?

[2016-10-09 01:14] jayvdb commented on #872
IMO the correct solution is to talk with upstream, to find out why they have those version dependencies, and find upstream solutions.

[2016-10-09 07:54] jayvdb commented on #823
@sils, looks like we can wrap https://packages.debian.org/sid/licensecheck . With Debian and Chromium using it, I think using the same maintained script is a good approach that helps packagers now.
If someone wants to rewrite it, or build a feature complete equivalent, yay.

[2016-10-09 08:57] #866 closed

[2016-10-10 07:30] manu-chroma commented on #321
@sils can I take up this issue now ? @FyXtreMe seems to be inactive.

[2016-10-10 07:30] sils commented on #321
There you go @manu-chroma :)

[2016-10-10 12:54] Adrianzatreanu commented on #471
the tool is unmaintained, it has no active community, doesnt even have an entry point, imo drop it. we could rather have a bear written by ourselves that does the same thing :)

[2016-10-10 12:59] sils commented on #471
ok

[2016-10-10 12:59] #471 closed

[2016-10-10 13:42] sils commented on #761
@netman92 any news? @Adrianzatreanu wanna quickly finish this? There was only minorities left IIRC.

[2016-10-10 14:18] wimpykid26 commented on #397
@sils how do I get the changes using a diff object from the _get_change(self, line_nr) function?. Idea is to get the range of lines affected using the range function and then parse the changes in them using the _get_changes function. Could you please help?.

[2016-10-10 14:20] sils commented on #397
You might have to change the Diff class to support that. underscore prefixed method aren't pulic API.

[2016-10-10 14:26] netman92 commented on #761
@sils Already pushed.

[2016-10-10 14:28] sils commented on #761
:+1: thanks!

[2016-10-10 14:29] sils commented on #761
@netman92 I can't seem to find your PR anymore :/

[2016-10-10 14:30] netman92 commented on #761
@sils It's here, but closed https://github.com/coala/coala-bears/pull/778.

Should I create new one? I assume, that reopening will be better.

[2016-10-10 14:32] sils commented on #761
We don't care. But you can't reopen after pushing to the branch so you'll
have to make a new one. GitHub won't let you.

[2016-10-10 14:34] netman92 commented on #761
Ok, https://github.com/coala/coala-bears/pull/884

[2016-10-10 17:50] Asnelchristian commented on #772
i am on it

[2016-10-10 20:42] jayvdb opened #887 "cppcheck 1.72 requires --language parameter for C++ for unrecognised file extensions"
Ubuntu [`precise` `cppcheck` 1.52](http://packages.ubuntu.com/precise/cppcheck) to [`trusy-backports` `cppcheck` 1.66](http://packages.ubuntu.com/trusty-backports/cppcheck) raises errors on `CPPCheckBearTest.py`'s `bad_file`:

[code]

However [`xenial` `cppcheck` 1.72](http://packages.ubuntu.com/xenial/cppcheck), Fedora 24's 1.75, and the [github repo](https://github.com/danmar/cppcheck)'s `master

[2016-10-10 20:46] Asnelchristian commented on #802
this is what needs to be addressed to solve this: https://github.com/coala/bear-docs/issues/11

[2016-10-10 20:46] #802 closed

[2016-10-10 20:59] jayvdb commented on #887
The filename extension is used by default, as determined by [`Path::isC`](https://github.com/danmar/cppcheck/blob/29e1fe136a6e48122362d35c4df15ad3fa0a06c0/lib/path.cpp#L239) and `Path::isCPP`, with only `.c` being a registered `.c` extension, and the following being valid C++ extensions: .cpp, .cxx, ,cc, .c++, .hpp, .hxx, .hh, .tpp and .txx.

Test suite at https://github.com/danmar/cppcheck/blob/m

[2016-10-11 01:31] jayvdb opened #889 "chktex 1.7.3-5 fail LatexLintBearTest.test_invalid_files with UnicodeDecodeError"
chktex 1.7.2 (packaged into Ubuntu trusty) works correctly for the `bad_file` in `LatexLintBearTest`, however 1.7.3-1.7.5 all fail in `subprocess` while reading the result from `chktex`.

[code]

The problematic LateX is

[code]

With 1.7.2 the output is:
[code]
The output of 1.7.6 is identical except for the embedded version number.

The following is the output of 1.7.4, which is included in Ubun