[2018-04-06 18:55] li-boxuan commented on #2393
@Makman2 This issue can be solved by transforming the zero-based convention into the one-based convention. I'm willing to solve this.

[2018-04-06 20:37] sangamcse commented on #2386
@jayvdb, So I looked at other bears which have similar lists of checks and I have noted their command type also. Here it is:
GoErrCheckBear --> `-ignore ignore_list` and `-ignorepkg ignorepkg_list`
ArtisticStyleBear --> bool type list of checks
CPPCheckBear --> `--enable list_of_issues_type`
CPPLintBear --> `--filter=ignore_list,include_list`
HTMLLintBear --> `--disable=htmllint_ignore_list`
HTTPo

[2018-04-07 01:51] jayvdb opened #2406 "Bear Proposal: sqlformat"
It is part of https://github.com/andialbrecht/sqlparse

[2018-04-07 01:52] jayvdb commented on #2406
This will be quite helpful because the SQL bear we have is pgsql only, and doesnt support meta pgcli commands.

[2018-04-07 02:43] jayvdb opened #2407 "asciinema bear to check asciinema is public"
Many of our asciinema probably are not public, and they should be.

We need a bear to check this.  It can use URLBear.

[2018-04-07 05:51] jayvdb commented on #2386
Note there is also https://github.com/coala/coala-bears/pull/2257 , by @manankalra

[2018-04-07 05:56] jayvdb commented on #2386
I think these are a slightly different concept, especially directive & roles, as these are ignoring syntax in the rst which rstcheck doesnt know about.

[2018-04-07 05:58] sangamcse commented on #2386
Oh. I tried to find this PR based on your suggestion earlier on gitter but was unable to find it.
So, what I wrote in ChecksSelector can work with RSTcheckBear. But real difficulty is with bool type.

[2018-04-07 06:13] jayvdb commented on #2386
Right. So the remaining design question is whether we should be trying to merge the two varieties:

1. lots of bool args with (sometimes descriptive) names, where the arg names are hard-coded per linter release, and the bear needs updating for each new linter release
2. select/unselect args with opaque codes, with codes added in each release but the bear doesnt need modification

1. is beyond the

[2018-04-07 06:59] jayvdb opened #2408 "Travis unsupported version job do not need all apt packages"
Reduce the number of apt packages installed on unsupported version jobs

[2018-04-07 07:06] jayvdb commented on #2408
Already done.  I was looking at the wrong log.

[2018-04-07 07:06] #2408 closed

[2018-04-07 07:59] nalinbhardwaj opened #2409 "GitCommitBear: Support fixup and squash commits"
Currently, GitCommitBear does not allow for short logs to be of the autogenerated format for `git commit  ( --fixup | --squash)` and thinks they are errors. More information about them [here](https://git-scm.com/docs/git-commit#git-commit---fixupltcommitgt) and [here](https://robots.thoughtbot.com/autosquashing-git-commits).

These should, atmost, raise a warning(so they are not mistakenly merged

[2018-04-07 08:42] jayvdb commented on #1827
This is relevant to both URLHeadBear and InvalidLinkBear.

[2018-04-07 08:46] jayvdb commented on #107
I suspect that first URLBear needs to retain the hash.
@refeed ?

[2018-04-07 08:50] jayvdb commented on #1917
Unassigned due to inactivity.

[2018-04-07 08:58] jayvdb commented on #1827
And URLBear.  Currently it does not match links starting with `//`.

[2018-04-07 10:43] jayvdb opened #2410 "Remove rultor stuff"
Like https://github.com/coala/coala/issues/5328 ( see commit in https://github.com/coala/coala/pull/5327 ), but for this repo

[2018-04-07 10:48] jayvdb commented on #2410
There is rultor stuff in `.ci/check_maintainership.sh`

[2018-04-07 11:08] jayvdb commented on #2410
All of check_maintainership can be removed; I've backed it up at https://gitlab.com/coala/junk/scripts/blob/master/check_maintainership.sh

[2018-04-07 12:54] jayvdb commented on #2062
Cool analysis.

One thing I would like to see is whether other attempts at round-tripping handle this.
http://augeas.net/ is the best one I know of. (https://github.com/hercules-team/augeas)  Try and put this value into a .json file and see if augeas will let you keep it in your preferred style.

Ideally add it as a test case for https://github.com/hercules-team/augeas/blob/master/lenses/tests/tes

[2018-04-07 13:14] jayvdb commented on #2302
Another two broken builds today because of this.

@nvzard, either figure it out, or get unassigned so someone else can work on it

[2018-04-07 13:16] jayvdb commented on #2302
openSUSE Leap 42.3 is using 3.0.1.
tumbleweed is still on 2.05.1.
so we need to try to branch from the openSUSE Leap 42.3 rpm spec.

[2018-04-07 13:17] jayvdb commented on #2302
@giovanism , you might be interested in this .. ;-)

[2018-04-07 13:37] nvzard commented on #2302
@jayvdb you can unassign me, I won't be able to devote time to fix this at the moment.

[2018-04-07 14:08] #2327 closed

[2018-04-07 15:37] Makman2 commented on #2409
I'm confused:

and then

Currently the `GitCommitBear` doesn't warn if such a commit is at `HEAD`.

[2018-04-07 15:52] jayvdb commented on #2409
@Makman2, if someone has a git commit hook, it will reject these, preventing someone from locally using a valid git development workflow.

They should be properly detected, with separate warnings/errors, so that a users git commit hook can ignore them (min_severity_level?).

[2018-04-07 16:10] Makman2 commented on #2409
But `GitCommitBear` won't flag such commits. So there's no problem using coala as a commit hook.

[2018-04-07 16:29] jayvdb commented on #2393
@li-boxuan , can you find an example which isnt about something in the middle of the line.  a trailing whitespace could be seen as an error for the whole line.

If pylint is normally 1-based column convention, and there is a few bugs in pylint implementation of their convention, these should be fixed upstream.

If pylint is actually 0-based column convention, then indeed we need to map their colum

[2018-04-07 16:34] nalinbhardwaj commented on #2409
@jayvdb is right, I failed to realise that the shortlog failure was because my shortlog regex did not allow for `!`, adding it has fixed it for me, but this should still be addressed by coala automatically.

[2018-04-07 16:46] li-boxuan commented on #2393
@jayvdb Although I don't think their documentation mentions their column convention, their tutorial implies that they use 0-based column convention. See the example on https://pylint.readthedocs.io/en/latest/tutorial.html

To illustrate that more clearly, I wrote a sample as follows:
[code]

The report generated by ```pylint``` is as follows:
[code]
It can be seen that "shift" is reported at colum

[2018-04-07 20:32] li-boxuan opened #2411 "Add Pycycle bear"
To find and fix circular imports in python projects
https://github.com/bndr/pycycle

[2018-04-08 00:46] jayvdb commented on #1395
why is the pycodestyle  builtin URL detection not sufficient?
perhaps this is better solved upstream?

Why not use coala's inbuilt block ignore capabilities?

[2018-04-08 01:52] li-boxuan opened #2412 "Add bear to detect unnecessary nested import in python"
Sometimes we have nested import which can be changed into the direct import.  Would it be nice if we have a bear that analyzes import structure and detects such unnecessary unnested import?

Here is an example: https://github.com/coala/coala/issues/5331

[2018-04-08 06:53] newbazz commented on #2365
@anctartica are you still on this?

[2018-04-08 08:33] jayvdb commented on #2365
cc @Nshul

[2018-04-08 11:53] anctartica commented on #2365
yes working will make a PR today

[2018-04-08 17:15] Makman2 commented on #2393
What about having another parameter for `@linter` that controls this conversion? I can imagine that this is quite common that tools are sometimes zero-based and sometimes one-based with lines and columns.

[2018-04-08 17:15] Makman2 commented on #2393
@li-boxuan Then you don't have to use `process_output` ;)

[2018-04-08 17:25] Makman2 commented on #2393
Filed at https://github.com/coala/coala/issues/5346

[2018-04-08 17:29] li-boxuan commented on #2393
Should this issue be blocked until that issue is closed?

[2018-04-08 23:25] #2410 closed

[2018-04-09 06:11] MacBox7 commented on #1342
If we intend to work use urlextract. This issue should be blocked until following issues are resolved in the upstream.
1. https://github.com/lipoja/URLExtract/issues/13
2. https://github.com/lipoja/URLExtract/issues/14
3. https://github.com/lipoja/URLExtract/issues/15

[2018-04-09 12:42] jayvdb commented on #1342
Great, but we should also look at other libraries.  It can be hard to find obscure libraries like this, but often very rewarding.

[2018-04-09 12:44] jayvdb commented on #2394
@Anubhav-Bhargava, you need to accept the coala org invite.

[2018-04-09 13:08] Anubhav-Bhargava commented on #2394
Sorry. I've accepted it now.

[2018-04-09 14:35] anctartica commented on #1395
Pycodestyle does ignore url's in a docstring or a comment but not for string literals as suggested in this issue: https://github.com/PyCQA/pycodestyle/issues/224. But maybe we could create an issue and solve this upstream to also work for string literals.
Another issue I find in Pycodestyle is that when the user gives the `max_line_length` as less than 8 the ignore will not work. The following cod

[2018-04-09 14:46] jayvdb commented on #1395
Have a look at the `git blame`, see who and what is responsible for it.
We could change our validator for this settings to also only allow that range.
I must admit that a max_line_length less than 8 is 'stupid' for python code that is being linted and should be invalid.

[2018-04-09 15:04] MacBox7 commented on #2369
The answer to the need to have a separate setting for getting remote from user:

Well let us take a case of my coala-bears repo. It currently has 2 remotes.
1. origin => https://github.com/MacBox7/coala-bears
2. upstream => https://github.com/coala/coala-bears

Currently my forked repo has 0 issues and coala-bears has 2412 issues.
Now, if somebody creates an issue on my repo. It's issue no would b

[2018-04-09 15:25] MacBox7 commented on #1342
Yes, but they aren't allowed in the termination as far as I know. And yes I totally agree that a perfect regex parser is a difficult task. At best we can just limit our tolerance to a valid url.

[2018-04-09 15:29] MacBox7 commented on #1342
Scrapy as of now doesn't provide with any function capable of parsing url from raw text. Had a discussion on their channel regarding this and they suggested to use other 3rd party libraries instead.

[2018-04-09 18:12] maweki commented on #1342
Please consider reading the RFC. https://tools.ietf.org/html/rfc3986#section-3.4

Here are the definitions:

-  query       = *( pchar / "/" / "?" )
- pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
- unreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~"
- sub-delims    = "!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="
- pct-encoded = "%" HEXDIG HEXDIG

A perfectl

[2018-04-09 18:55] nalinbhardwaj opened #2419 "GitCommitBear: Add option for checking commit GPG signatures"
Add an option to check that commits are signed by a valid GPG key, preferably with key's validity checked from any popular public key server(ex. [MIT](https://pgp.mit.edu)), and that the key isn't expired, revoked etc.

[2018-04-10 02:21] jayvdb opened #2420 "XMLBear: CAN_FIX"
Any use of `process_output_corrected` means it can fix the content, and should have `CAN_FIX` metadata.

[2018-04-10 02:22] jayvdb opened #2421 "PrettierLintBear: CAN_FIX"
Any use of `process_output_corrected` means it can fix the content, and should have CAN_FIX metadata.

[2018-04-10 02:25] jayvdb commented on #2365
https://github.com/coala/coala-bears/issues/2421 is semi-related

[2018-04-10 03:46] li-boxuan commented on #2393
That's true they use 0 if they don't have proper column offsets (https://github.com/PyCQA/pylint/blob/master/pylint/utils.py#L465).

I'm not 100% sure column offset is zero-based.

I cannot find any strong evidence (no documentation for that).

Some weak evidence:

1. This issue https://github.com/PyCQA/pylint/issues/104 explains that they use zero-based convention, but it may or may not be out-of

[2018-04-10 04:32] li-boxuan commented on #2393
After some investigation, I find out [pylint](https://github.com/PyCQA/pylint) has AST checkers, token checkers, etc. The AST checker makes use of [astroid](https://github.com/PyCQA/astroid) to get `node` info, which actually comes from `ast` module. `ast` uses 0-based column offset ([ast documentation](https://docs.python.org/3/library/ast.html#ast.AST.col_offset) doesn't explicitly say that but

[2018-04-10 04:47] jayvdb commented on #2393
can you test that again using astroid.  it is not just a light wrappper around ast.

what offset do the token checkers use?  These are the ones I worry are 1 based.

[2018-04-10 04:56] anctartica commented on #2365
When the PrettierBear was written not many tests were added. I later added the tests #2341 so, it is possible that this could have slipped. The format for the syntax error message produced by prettier is here: https://github.com/prettier/prettier/blob/master/src/common/parser-create-error.js which does not match the previous regex.

[2018-04-10 05:26] li-boxuan commented on #2393
Test using astroid (Version: 1.6.3, up-to-date release version):
[code]

[2018-04-10 05:55] li-boxuan commented on #2393
The only check other than AST checker that returns `col_offset` is the [_check_space](https://github.com/PyCQA/pylint/blob/master/pylint/checkers/format.py#L731) function. This can be verified by `grep`.

I don't understand why someone adds 1 to col_offset on [line 777](https://github.com/PyCQA/pylint/blob/master/pylint/checkers/format.py#L777). I would argue that it's a bug. To see that, we can r

[2018-04-10 10:43] palash25 opened #2422 "Investigate and integrate linter support for currently unsupported languages"
A recent [comment](https://lobste.rs/s/dozrh9/coala_linting_fixing_code_for_all#c_fcv1fg) on our [lobsters story thread](https://lobste.rs/s/dozrh9/coala_linting_fixing_code_for_all) brought this to my notice. We currently don't have any linters for the following languages
- Lisp
- Scheme
- Racket
- Smalltalk

I'm not aware of any good linters for these languages as I have never programmed in them

[2018-04-10 11:06] jayvdb commented on #2422
Lisp & Scheme & Racket shouldnt be hard to find a good usable linters for, or build our own.

Smalltalk is a slightly isolated world; could be difficult to get a linter working in our CI, so we would need to build our own parser.

[2018-04-10 11:10] #2320 closed

[2018-04-10 11:57] Nshul commented on #2365
Apologies for my late response.
When PrettierBear was written not much tests were added. I am really sorry that the regex is incorrect, I took the idea of regex by looking at the official tutorial by coala and the other linter bears, it seemed fine on the tests i conducted.
i think i did miss the link @anctartica has sent from the official prettier repo.

[2018-04-10 12:33] jayvdb commented on #2365
Thanks for letting us know.

[2018-04-11 02:29] giovanism commented on #2302
@jayvdb sure that obs can build deb package, but that means we have to maintain it ourselves. Is there a reason why we can't use PPA in the existing deps.apt.sh?

[2018-04-11 03:01] jayvdb commented on #2302
PPAs are one of the options (see https://github.com/coala/coala-bears/issues/2302#issuecomment-372083059), and quite possibly the easiest option for the Travis problem which uses Ubuntu.

OBS can build debs, and you are right it means maintaining it ourselves, but usually that will mean incrementing the version every year, a debugging a complex dependency problem every second year.

However we als

[2018-04-11 12:37] ishanSrt opened #2424 "Invalid import path in PyUnusedCodeBear"
https://github.com/coala/coala-bears/blob/b650a4b4cc13e145fba28585213725438c52c0dc/bears/python/PyUnusedCodeBear.py#L7
shouldn't this be `aspects.decorators`?? or is it something that I am not aware of. Or a module can be imported by ` from foldername import functionname` if it is imported in the folder's `__init__.py`?

[2018-04-11 19:15] MacBox7 commented on #2128
I don't understand the need for both `link_ignore_list` and `link_ignore_regex`. Shouldn't a list of `link_ignore_regex` be sufficient?

[2018-04-13 11:00] sangamcse commented on #2158
@Makman2, what I noticed is that when we run ESLintBear 1st time, it checks like you explained in https://github.com/coala/coala-bears/issues/2158#issue-280828722 and in next run (without using `--flush-cache`), it passes the run.
Here is the debug message:

[2018-04-13 20:00] rohanrk commented on #2421
@jayvdb May I be assigned to this?

[2018-04-14 01:43] jayvdb commented on #2376
which `.coafile`?  The one in this repo?

Is this appearing in a build log?  If so, provide a link.

Why is this happening?

We cant assign to newcomers unless we know the cause of the problem, and know the solution is trivial.

[2018-04-14 02:27] jayvdb opened #2425 "Pycodestyle shows wrong line for regex in parameters"
https://travis-ci.org/coala/coala-bears/jobs/365158613#L6244

URLBear has

[code]

The line number reported by pycodestyle is the `def run` line which doesnt include the problematic string.

[2018-04-14 03:51] jayvdb opened #2427 "Line continuation bear"
Use of line continuation operators allows avoiding line length limitations without actually fixing the line length problem.  When it is used , the logical line is still very long, adding complexity, and now in addition the reader needs to understand an additional part of the syntax which often has unusual syntax/semantic/style rules of its own.

Ban it!

This will require coalang knows the token u

[2018-04-14 03:53] jayvdb commented on #2427
Also note that line continuations are usually swallowed by the token parser, so they are not visible in an AST output.

They can usually be avoided by using round brackets, which helps the reader and text editors follow the grouping that is occurring.

[2018-04-14 04:02] jayvdb opened #2428 "coala-ci fails with new rules from pycodestyle 2.4"
Similar to https://github.com/coala/coala/issues/5372, but for this repo.

However in addition there is also E226, which is `missing whitespace around arithmetic operator`.

URLBear & URLBearTest - W605 - many

W504 is occurring in lots of different context
- literal string concatenate operator `+`
- binary operator `==`
- logical operator `and` & `or`
- possibly numerical addition at ClangCountin

[2018-04-14 04:35] jayvdb commented on #2428
Note that `W503` & `W504` are opposite rules.

One of them must be disabled by default in our bear, otherwise the user must always add configuration to ignore one of them - that would be silly.

Also `E226` is one of the rules disabled by default in pycodestyle.
Because the local configuration ignores certain rules, this default ignore in pycodestyle is not activated.

[2018-04-14 05:10] jayvdb commented on #2428
Other default disable rules which were hiding bad style:

- E121 - 30
- E123 - 24
- E126 - 174
- E226 - 174
- E241 - 3

[2018-04-14 05:30] jayvdb commented on #2428
The default ignore list in pycodestyle is:

where `E24` means any code starting with `E24`.

The only addition in 2.4 was `W504`

[2018-04-14 07:51] sangamcse commented on #2425
Related to https://github.com/PyCQA/pycodestyle/pull/747

[2018-04-14 07:54] sangamcse commented on #2425
Problematic line is `link_ignore_regex: str='([.\/]example\.com|\{|\$)',` which should be `link_ignore_regex: str=r'([.\/]example\.com|\{|\$)',`.

[2018-04-14 08:06] jayvdb opened #2431 "Defaults for pycodestyle_ignore have no benefit"
https://github.com/coala/coala-bears/issues/1737 introduces problems without solving anything.

The commit https://github.com/coala/coala-bears/commit/dd856324d0573c0f92754af5a94e91fe306359dc hasnt been released yet.

Previously the empty string (or no setting provided by the user) would result in the argument not being added, and thus the default list inside pycodestyle was used.

By adding our o

[2018-04-14 08:08] jayvdb commented on #2431
If we could do `pycodestyle_ignore += W504`, it would make sense to keep the bear settings.  The cost/benefit would be much better.

But as it is, we have a maintenance problem in that we need to update our setting whenever the linter updates their internals, and the user amend their configuration if they are stuck on an older version.

[2018-04-14 09:01] jayvdb commented on #2431
cc @Udayan12167 who knows settings well and might be able to comment on whether `+=` in settings might be viable.

[2018-04-14 11:54] jayvdb commented on #2428
I've found one likely regression, but it is quite small and the solution is quite logical and reasonable. https://github.com/PyCQA/pycodestyle/issues/750

[2018-04-14 12:36] jayvdb commented on #2428
There were two extra issues in the log

- E301 - https://github.com/coala/coala-bears/pull/2433/commits/f910ab2cd29306444fba2b5b4f259c61649001b8 - very minor - not investigated/raised upstream yet
- E501 - https://github.com/coala/coala-bears/pull/2433/commits/463b17ce33d563ceb9df3b1bb00033ff8836d3fd - very minor - raised upstream

[2018-04-14 12:37] jayvdb opened #2434 "Python explicit string concatenation bear"
Using `+` to concatenate two strings should be avoided.
There are lots of better alternatives these days, including implicit string concatenation, even if it means adding round brackets.

[2018-04-14 22:28] rohanrk commented on #2376
I was referring to the .coafile in this repo.

```language = python3```

in section [all.TODOS] is causing this error

[2018-04-14 23:50] refeed opened #2435 "Change the InvalidLinkBear message for 404 error"
From https://github.com/coala/coala-bears/issues/2126#issuecomment-344920671

[2018-04-14 23:57] #2428 closed

[2018-04-15 06:28] newbazz opened #2436 "PEP8Bear.py: Add infinite line length feature"
Add infinite line length feature when max_line_length is set to zero.
difficulty/low

[2018-04-15 06:28] newbazz commented on #2436
@Makman2 I would like to work on this issue.

[2018-04-15 06:38] newbazz opened #2437 "PEP8Bear: Change the docstring indentation."
difficulty/newcomer

[2018-04-16 09:52] SergeyGorbatyuk171 commented on #2215
@jayvdb , I would like to try myself on this issue, as it seems that no one is working on it now ;)

[2018-04-16 10:11] jayvdb commented on #2305
This depends on creating pre-releases.

https://github.com/coala/coala/issues/3459 is a good way to do that.

[2018-04-16 10:18] jayvdb commented on #2313
Well it was a dup at the time, as we had many people trying to solve the same CI breakage on different issues and in different ways, and none of those solutions were particularly useful as the core of the problem was mostly fixed upstream.

[2018-04-16 10:58] sangamcse opened #2441 "Add `.moban.hashes` to `.gitignore` list"
difficulty/newcomer

[2018-04-16 11:00] sangamcse commented on #2441
Related to https://github.com/coala/meta/issues/116

[2018-04-16 12:25] jayvdb opened #2442 "LicenseHeaderBear"
https://github.com/coala/coala-bears/issues/823 is about the linter bear LicenseCheckBear.

However we could create a generic bear that has similar functionality.
In fact, we already have a PR attempting to do that.

https://github.com/coala/coala-bears/pull/2294

[2018-04-16 12:26] jayvdb commented on #2108
And https://github.com/coala/coala-bears/issues/2442 is for a new native license header bear.

[2018-04-16 23:31] jayvdb commented on #2298
https://github.com/coala/coala-bears/issues/2006 needs to be solved first.

[2018-04-17 01:32] jayvdb commented on #1635
Copying from https://gitlab.com/coala/coala-utils/issues/25

The error was by CPDBear

The problem is that `Python` is supported by CPDBear.  See CPDBear.language_dict which includes `Python`.

The problem is in how `py` is mapped to `Python` inside coalib , it should work, but it doesnt.

Most likely is that the language lookup is only looking at the name of the language, not the extension of the

[2018-04-17 01:39] jayvdb commented on #2376
Actually I suspect #1635 is a different problem.

[2018-04-17 04:15] rohanrk commented on #2376
Perhaps it's related to https://github.com/coala/coala/issues/4690?

[2018-04-17 04:28] jayvdb commented on #2376
Ya, that is probably closer to the problem.

[2018-04-17 04:33] jayvdb commented on #1635
I notice that some of the languages in coala do not have any extension listed. e.g. `coalib/bearlib/languages/definitions/Swift.py`

[2018-04-17 05:17] kriti21 commented on #326
@jayvdb There is a comment in README of https://github.com/richq/cmake-lint saying that

This means that only when filters are specified explicitly, these `+ / -` are useful.

[2018-04-17 05:58] palash25 commented on #2411
Do you really think that it would be a good idea to use this https://github.com/bndr/pycycle ?
It was only developed for 2 months and has been unmaintained for about a year. Maybe implementing a native bear similar to pycycle would be a better idea. What do you think @li-boxuan ?

[2018-04-17 06:06] jayvdb commented on #2411
They have test cases, and CI.

If it works, we can add it.

Better work with them, rather than duplicate effort.

But maybe bandit already does this, or plans to do it?

The main question is does it have any false positives on coala or -bears or -quickstart repos?

If so, we'd need to raise those upstream to get fixed before we could attempt it.

[2018-04-17 06:28] #2436 closed

[2018-04-17 07:06] jayvdb commented on #2358
This was spawned from https://github.com/coala/coala-bears/issues/620 , but has too many unrelated checks in it, and not well understood yet.

There are linter bears (pycodestyle & pydocstyle)  which do most of what was requested in https://github.com/coala/coala-bears/issues/620 for Python.

And we have a generic bear which does docstrings for any language, so that might also be a path forward.

[2018-04-17 07:06] #2358 closed

[2018-04-17 07:09] jayvdb commented on #620
I believe the correct way to do this is require all classes have a docstring, and I believe that then pycodestyle and pydocstyle will provide what is needed, with a little configuration.

Our generic bear for docstyles is woefully incapable of doing this, but that is one possible way forward with this issue.  Several enhancements in core would be needed to make it possible.

[2018-04-17 07:10] jayvdb commented on #620
Assigning @kriti21 as they have a PR which references this issue.  With some .coafile additions, that PR could be enough to resolve most of this issue, and we can reconsider the rest.

[2018-04-17 07:33] jayvdb commented on #2273
I agree the bear settings system needs to support `language` better, and especially needs to provide a way for bears to advertise the restricted list of languages it supports.

We have a similar problem with CPDBear, and almost any other bear which supports multiple languages will also have a similar problem, as there are usually some languages which a bear can not support as it would be illogical

[2018-04-17 07:33] jayvdb commented on #2275
I dont think it is ever appropriate for a bear to be prompting a user.

I've added some thoughts at https://github.com/coala/coala-bears/issues/2273#issuecomment-381879170

[2018-04-17 07:34] #2275 closed

[2018-04-17 07:39] jayvdb commented on #2274
Yes this is something to do with core, not the bears themselves.
This `language` is related to aspects, so assigning @adhikasp to see what is going wrong. (we have a patch which likely fixes some of this problem.)

[2018-04-17 10:55] newbazz opened #2443 "PEP8NoteBear: Add infinite line length feature"
allow infinite line length when max_line_length is set to 0.
difficulty/low

[2018-04-17 11:43] jayvdb commented on #2443
This is needed for consistency with other bears.
@newbazz can you add a link to some PRs where this has been done, so the developer can easily see what is required.

[2018-04-17 11:46] newbazz commented on #2443
Some PRs for referal https://github.com/coala/coala-bears/pull/2255 , https://github.com/coala/coala-bears/pull/2440 .

[2018-04-17 11:49] jayvdb commented on #326
ok, then we shouldnt ask our users to put an useless `+` or `-` in their `.coafile`.  That can be added by the bear.

[2018-04-17 15:11] li-boxuan commented on #2393
Two upstream bugs have been fixed. https://github.com/PyCQA/pylint/issues/2000 https://github.com/PyCQA/pylint/issues/2012

[2018-04-18 02:28] jayvdb opened #2444 "Allow extra information in bear-requirements.yaml"
`.ci/generate_bear_requirements.py` currently overwrites `bear-requirements.yaml`, removing any information that was in it.

It should load the yaml, and have

- an `--update` mode which modifies only the information which needs to be modified. This can be achieved using https://pypi.org/project/ruamel.yaml/ 's RoundTrip functionality.

- a `--check` mode which reports any differences in a helpful

[2018-04-18 08:46] jayvdb commented on #101
Unassigning due to inactivity.

[2018-04-18 09:38] Monal5031 commented on #42
@Makman2 Please unassign me.

[2018-04-18 10:11] jayvdb commented on #1432
iirc, this was a problem with old setuptools.

The reported problem is fixed upstream.

Whether it works correctly on Ubuntu precise is likely a mystery for the centuries. Nobody cares any more.

[2018-04-18 10:11] #1432 closed

[2018-04-18 11:28] jayvdb commented on #838
`color_case` is only used by one bear.

This concept became aspects, has been partially done, and thus has outgrown this issue.

[2018-04-18 11:28] #838 closed

[2018-04-18 11:29] jayvdb commented on #1117
Unassigned due to inactivity

[2018-04-18 12:03] jayvdb commented on #1027
I'm pretty sure this problem was temporary, and is long since resolved.

[2018-04-18 12:03] #1027 closed

[2018-04-18 12:32] jayvdb commented on #154
It is mentioned in the `External_Bears.rst` in core api docs.

[2018-04-18 12:32] #154 closed

[2018-04-18 13:05] jayvdb commented on #925
There is an open PR for this.  IMO @Nosferatul should finish it.

[2018-04-18 13:44] nemaniarjun commented on #2444
I don't understand the `RoundTrip Functionality` and cant find any documentation/explanation of what it does exactly.

[2018-04-18 14:04] nemaniarjun commented on #2444
Nevermind, understood the first part of the description :)

[2018-04-18 14:14] jayvdb commented on #2187
Duplicate of https://github.com/coala/coala-bears/issues/293

[2018-04-18 14:14] #2187 closed

[2018-04-18 14:16] jayvdb commented on #293
We now have support for composer in dependency management, but we havent done a release yet.  blocked on that
The existing bears need ComposerRequirement added to them.
New issues need creating for anything else (but dont create them until we've got the ComposerRequirement working properly)

[2018-04-18 19:25] jayvdb commented on #1419
Re binary files, we have a few binary bears with PRs, and a 'raw file' attribute on these bears.  This also allows support for non-Unicode text files.

A potential generic path forward for this is the nested languages project.

Rather than having a generic AST for everything, we can use Language-in-Language detection to find literal data structures within a source code, without knowing the syntax

[2018-04-18 19:38] SergeyGorbatyuk171 commented on #2101
@Makman2 hello, can I be assigned to this issue, as it seems like nobody is working on it now?
(P.S. Actually I am having a dejavu, as I am sure that I have already asked about this issue right here, omg what's going on)

[2018-04-18 19:54] jayvdb commented on #2101
This is quite a hard bear proposal.

I suggest you try an easier one.

[2018-04-18 20:35] SergeyGorbatyuk171 commented on #2101
@jayvdb Oh, ok, actually I have accidentally commented to an another bear then (https://github.com/coala/coala-bears/issues/2215), can I be assigned to it?

[2018-04-18 21:44] jayvdb commented on #2215
Ya, this one is better.  Note that this linter works on the project level, not on individual files, so this needs to be a GlobalBear.

[2018-04-19 00:34] jayvdb commented on #2101
We dont delete comments for things like that.  These issues are the story of our developers, and sometimes the story is a bit messy.  That is life ;-)

[2018-04-19 12:17] nemaniarjun commented on #2444
I will be sending in the PR soon, testing it on my branch travis takes too long as the build takes 2 hours :(

[2018-04-19 12:37] jayvdb commented on #2444
ya, you need to test these things locally, and then hope for the best with the PR.
But use the travis cron triggers (in settings) to do a build of master (weekly) on your fork, as that will prime your forks cache so your branches can use the master cache.

[2018-04-19 14:17] yukiisbored opened #2445 "Bear Proposal: OutdatedDependencyBear"
This function of this bear is to check if the dependencies of the project (requirements.txt, Gemfile, etc) are up to date.

This would be useful for projects that are focusing their efforts to support the newest version of their dependencies (like projects that are critical to the system)

[2018-04-19 14:26] nemaniarjun commented on #2444
The extra information will not be a part of the requirements right?

[code]

[2018-04-19 15:57] RachaelNantale commented on #2437
Can I take up this issue?
Could someone please assign me this

[2018-04-19 20:59] rohanrk commented on #2434
I'd like to take up this issue

[2018-04-20 06:34] RachaelNantale commented on #2437
@newbazz @palash25 in which file should i make the indentation changes?

[2018-04-20 14:28] Ghaliger commented on #2371
@RaiVaibhav and iam new to this and excited to work on the issue. could you please assign me? iam also requesting for further description to get me started.

[2018-04-20 17:14] newbazz commented on #2437
The file name is written in the issue heading `PEP8Bear.py`

[2018-04-21 06:28] palash25 commented on #2437
@RachaelNantale make a PR and stop worrying about assignment

[2018-04-21 06:29] Nosferatul commented on #925
I'll take a look in a few days

[2018-04-21 10:37] Ghaliger commented on #2371
hello. tried to give this a go while waiting on an assignment, but in the process of trying to build my asciinemer, it reveals that asciicinema doesn't work out of the box on Windows. On my Win10 machine It fails with ImportError: No module named termios. iam going to install linux and try again. or is there another way?

[2018-04-21 12:28] #1477 closed

[2018-04-21 13:28] #2421 closed

[2018-04-21 14:51] #2365 closed

[2018-04-21 15:40] #772 closed

[2018-04-21 19:36] #1306 closed

[2018-04-21 19:59] sanshay commented on #2169
@ishanSrt @Makman2 can anyone of you please assign this issue to me.

[2018-04-21 23:33] jayvdb commented on #2169
Hi @sanshay , sorry to unassign you.

This issue keeps occurring whenever we add new bears, and just adding HAML isnt enough.  We have quite a few other languages also supported since it was last updated.

The README should be generated with `moban` so that the list is always up to date.

[2018-04-21 23:42] jayvdb commented on #1979
I disagree with this issue.

IMO it is a yaml file, with extra validation, and shell stuff in it.  The current location is good enough.

IMO configfiles should be emptied, as it is not a format, and it is an ill-defined grouping atm.

There is possibly a grouping 'build files', which could include Docker, Travis, and possibly include Puppet.

TOML should be its own top level bear group, or we leav

[2018-04-21 23:48] #2420 closed

[2018-04-22 06:40] jayvdb commented on #1342
URLExtract has been fixing lots of bugs, so it looks like it will be a viable solution soon.

[2018-04-22 07:46] na-Itms opened #2450 "CPPCheckBear: Support language parameter"
I am not sure whether with issue is valid, considering #887 which was solved differently.

We are using, for C++, `.h` header files which cppcheck considers C by default. We'd like to be able to pass the `language` parameter to cppcheck, for instance like this:
[code]

Thanks in advance! 😃

[2018-04-22 08:52] jayvdb commented on #620
Closed the associated PR as it wasnt going anywhere.

[2018-04-22 11:41] Makman2 commented on #1979
I can agree that Travis is something on top of YAML, and thus belongs there.
But I'm not so fond of "data files" and "build files". Usually any format falls under these two categories,

[2018-04-22 23:36] #1410 closed

[2018-04-23 14:41] #2006 closed

[2018-04-24 19:26] SergeyGorbatyuk171 commented on #2215
@jayvdb , @Makman2 , hello! After long struggles I have finally built the detekt from source repo and now I am facing a problem: If I am right, to start the detekt analyzer I have to call it from terminal with an expression like `java -jar detekt-cli/build/libs/detekt-cli-[version]-all.jar [args]`. So what is the proper way to wrap it in linter class, I mean, what parameter should go to `executabl

[2018-04-24 22:58] jayvdb commented on #1360
This may be not yet possible due to the existing action types not being suitable.

A little research is needed, especially discussing with the other students who know a lot of about the actions systems in core.

[2018-04-25 15:42] Makman2 commented on #2215
I guess your callable is here `java` then ;) Just because your bear is called `DetektBear`, it doesn't mean it has to call an executable `detekt` or similar ;)
However a problem is here how the jar is made available to the user, because normally you have to pass an explicit path to it.

[2018-04-25 15:47] Makman2 commented on #2215
Just thinking: Is it not possible to download a ready built detekt jar from some source? Then you don't have to build it^^

But to handle the jar problem, I have an idea: Bears can currently save files into a bear-specific directory. We could automate downloading the jar into the bear-specific directory and use it. In case detekt is not available for download, we could instead download the sources

[2018-04-25 15:50] Makman2 commented on #1360
Current idea is to make bears deliver the actions themselves. This is even a coala project, see https://projects.coala.io/#/projects?project=next_generation_action_system&lang=en

This issue is blocked until the new action system has been implemented, currently it's just not possible (except ugly bear-specific hacks in our core which are a no-go).

[2018-04-25 16:03] Makman2 commented on #2158
Yeah and this is the problem. It shall always fail if you haven't the plugin installed and return an error code.
Also if you now install some missing plugins, you would now be able to actually run the analysis, but coala won't now because it thinks it already has analyzed the files (because the bear just returns without results, which signalizes coala that everything went fine). This produces just

[2018-04-25 16:07] Makman2 commented on #2128
I guess those just expose two different syntaxes to enumerate links to be ignored. Though this makes the interface unnecessarily bloated and questionable^^
Please file an issue to discuss that. @MacBox7

[2018-04-25 19:04] SergeyGorbatyuk171 commented on #2215
@Makman2 where can I find additional info about that directory you talking about and initialization of bear?)
Well, actually build takes quite a lot of time and sources are not lightweight. Maybe for now we could somehow provide already built jar, waiting for the issue you referenced to be resolved?)

[2018-04-25 19:44] Makman2 commented on #2215
How long did it take and what were the major components you had to install? I mean java itself is not really lightweight which we have to run with detekt ;)

Then we should drive the issue instead, so we can download the jar then and others too. If it's too complicated we work around and provide our own download^^ we actually have misused a repo on GitHub to host a few of such artifacts^^

If it's

[2018-04-25 20:34] SergeyGorbatyuk171 commented on #2215
I have built it from source repo following build notes, and actually I have no idea what components are used to do. It took around 2 minutes to finish. As I understand, maintainer assigned this issue to himself and there is no definite deadline or work going on as of now, cause he has lots of other things to do :(

[2018-04-26 14:57] khanchi97 opened #2452 "GitCommitBear: Delete doubled word "end end""
`end` should be removed from https://github.com/coala/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L160

[2018-04-26 16:47] harshhx17 opened #2453 "CIRCLE_NODE_INDEX hack for travis is not required anymore"
`.travis.yml` sets `CIRCLE_NODE_INDEX=-1` to avoid being a circle worker
Remove code related to this hack as pip deps are no more called from travis

[2018-04-26 16:48] harshhx17 commented on #2453
@jayvdb
This can be solved before going to circle 2
Please assign me :wink:

[2018-04-26 17:28] Makman2 commented on #2215
That's long, but bearable imo. A good message indicating that it might take a few minuts makes the user satisfied I guess :)

Since he's not working on it anyway now, I think that doesn't mean much that he's assigned. In the end we could just do it (if we really want to) and submit a PR.

[2018-04-26 17:34] Makman2 commented on #2371
Seems like, `termios` is Unix-only. But should work also pretty well from a Linux VM.

[2018-04-27 18:55] satya-vinay commented on #2452
@Makman2 please assign this issue to me.

[2018-04-28 11:57] damngamerz commented on #34
@jayvdb This is complete can be closed :)
The only thing remaining is adding DocStyleBear to .coafile with doc fixes to overall project. I will create and issue about it.

[2018-04-28 14:56] #34 closed

[2018-04-28 16:44] Mixih commented on #1602
assigned per GSoC project "Improve Linter Bears"

[2018-04-28 16:45] Mixih commented on #2045
part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:45] Mixih commented on #2053
Assigned as part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:46] Mixih commented on #2046
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:46] Mixih commented on #1497
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

(reassigned per inactivity)

[2018-04-28 16:48] Mixih commented on #151
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:49] Mixih commented on #444
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:49] Mixih commented on #2332
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-28 16:50] Mixih commented on #50
Assigned as a part of GSoC project "Improve Linter Bears". Do not reassign for the duration of the coding period unless the assignee releases the issue themselves.

[2018-04-29 05:52] MacBox7 opened #2456 "URLBear: Redundent settings"
Currently, URLBear uses link_ignore_list and link_ignore_regex to enumerate for the links to be ignored. IMO it could be replaced with one parameter that could primarily be a `list of regex` so that it performs both the functions provided by link_ignore_list and link_ignore_regex.
Needs discussion
CC @Makman2  @jayvdb
Refer: https://github.com/coala/coala-bears/issues/2128

[2018-04-29 08:38] SergeyGorbatyuk171 commented on #2215
@Makman2 , hello! I wanted to say that now I am having exams in my university and I am not able to work on this issue, I am telling just in order to not making it a hanging one. I would like to return to it, but when I have more time :(
May our notes here be hints for them who would also want to try this one =)

[2018-04-29 09:36] nityanandagohain commented on #2424
can i take this.

[2018-04-29 10:36] sks444 opened #2457 "Circle CI fails during Go deps install"
[code]
Link to build: https://circleci.com/gh/coala/coala-bears/8966?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-04-29 10:47] jayvdb commented on #2457
The last green build was https://circleci.com/gh/coala/coala-bears/8952 , on master, by @harshhx17 . Curious, given that fixed a problem allowing builds on forks.

[2018-04-29 11:02] jayvdb commented on #2457
It is installing `1.6.1-2+deb.sury.org~xenial+1` , and the last green build was also installing `1.6.1-2+deb.sury.org~xenial+1`, so it isnt a Go lang version change.

[2018-04-29 11:16] jayvdb commented on #2457
Problem has been reported upstream : https://github.com/golang/lint/issues/400 , and it wont be fixed on go 1.6 https://github.com/golang/lint/pull/401

We have to upgrade to go 1.7

[2018-04-29 11:36] ishanSrt commented on #2424
@nityanandagohain ping a maintainer on gitter before, this seems too good to be wrong to me 😛

[2018-04-29 22:53] jayvdb commented on #2457
We use https://launchpad.net/~ondrej/+archive/ubuntu/golang , which is go1.6 only.

We still use the precise image of Circle, and https://launchpad.net/~gophers/+archive/ubuntu/archive doesnt support precise.

https://github.com/coala/coala-bears/issues/869 is about upgrading Circle to trusty, and
https://github.com/coala/coala-bears/issues/2298 is about upgrading to Circle 2.0

[2018-04-29 23:31] jayvdb commented on #869
https://circleci.com/gh/jayvdb/coala-bears/829 is a new build on trusty without cache.

[2018-04-30 01:44] jayvdb opened #2458 "Circle CI trusty fails installing cabal deps"
https://circleci.com/gh/coala/coala-bears/8975

[2018-04-30 01:46] jayvdb commented on #2458
[code]

[2018-04-30 01:49] jayvdb commented on #2456
regex are not user friendly.
See other issues about these params to see existing plans.

[2018-04-30 01:49] #2456 closed

[2018-04-30 01:56] jayvdb commented on #2128
The non-regex parameter is intended to be more user friendly. The git history would show it was intentionally created. Unfortunately it wasnt created as intended, hence this current issue.
The regex param allows precision where the new parameter may not allow it.
Reassess after this issue is finished.

[2018-04-30 02:47] jayvdb commented on #2458
And yet it passed on my fork: https://circleci.com/gh/jayvdb/coala-bears/829

[2018-04-30 03:44] #2313 closed

[2018-04-30 07:37] #2330 closed

[2018-04-30 15:13] rubdos commented on #50
Feel free to ping me on Gitter for advice.

[2018-04-30 19:17] virresh commented on #2457
We can add our own small little shell script to install go from the official repository, but that would hardwire the version of go
This can revive the CI as a temporary fix though (until the ppa gets 1.7 or we start using trusty?) , should we do it ?

[2018-05-01 01:52] jayvdb commented on #869
The trusty builds worked, so it was enabled on coala/coala-bears due to precise not working atm.

[2018-05-01 01:52] #869 closed

[2018-05-01 02:02] jayvdb commented on #2298
@harshhx17 , you said that you found the existing trusty image somewhere?

Could you provide details about that?

That would be a less disruptive change, and should be easier to merge.

[2018-05-01 02:03] jayvdb commented on #2457
We've switched to using trusty on this repo to keep merges happening.

I am pretty sure none of the existing ppa's are going to provide go 1.7 on precise.

If installing our own go on precise results in quicker builds, I think that would be acceptable.  But with trusty build times of ~34:00, and the old precise build times of ~24:00 , there may not be much benefit.

We could also create our own pp

[2018-05-01 02:31] #864 closed

[2018-05-01 05:43] jayvdb commented on #2396
It looks like this issue is going to overlap or lead towards https://github.com/coala/coala-bears/issues/1134

[2018-05-01 06:52] Makman2 commented on #2215
Thanks for telling ;)

[2018-05-01 16:45] manankalra opened #2460 "Add GitLeaksBear"
https://github.com/zricethezav/gitleaks

[2018-05-02 03:50] RaiVaibhav opened #2461 "PEP8Bear: max_line_length setting not working."
Test case :

string =
[code]
The .coafile:
[code]
difficulty/low

[2018-05-02 10:58] #2452 closed

[2018-05-03 16:51] virresh opened #2462 "Update setup.py to make CI green again"
Related to https://gitlab.com/coala/mobans/merge_requests/3

Use moban to create the updated setup.py

[2018-05-03 18:26] harshhx17 commented on #2298
Even I think that the changes would be less disruptive and easier to merge
However, I think that we even have some drawback such as:

1. The image is too big(8 gb) and takes around 9 minutes to pull
2. I don't think circle will maintain it any longer, so future dependency issues won't be sorted that easily

The image can be pulled from here:  circleci/build-image:ubuntu-14.04-XXL-1325-0ccc9ce
The

[2018-05-04 01:50] gruns opened #2464 "Update YAPF"
coala-bears' YAPF (https://github.com/google/yapf) version is the old v0.16.0,
released over a year ago on Feb 5, 2017, when dinosaurs still roamed the earth
😊.

How should I upgrade YapfBear to the latest v0.21.0?

I was unable to find any coala documentation pertaining to upgrading a Bear's
dependencies. However, past commits, like

  * https://github.com/coala/coala-bears/pull/915
  * https://g

[2018-05-04 04:17] jayvdb commented on #2464
Looks like you've roughly found the process.

You can just modify the `Requirement` in the bear, and then run `.ci/generate_bear_requirements.py` which updates `bear-requirements.yaml`, and then run `moban` which generates `bear-requirements.txt`

But editing them by hand should also work.

If the manual editing doesnt match the generated version, the CI will give you a diff to show you the altera

[2018-05-04 17:07] RaiVaibhav commented on #2461
There is already issue opened there https://github.com/hhatto/autopep8/issues/393

[2018-05-04 19:32] gruns commented on #2464
Two things:

1) Running `.ci/generate_bear_requirements.py` removes `memento_client` and
`munkres3` from `bear-requirements.yaml`.

[code]

I didn't touch anything related to `memento_client` or `munkres3`. Is this
expected and acceptable?

2) Three unrelated tests fail.

[code]

These three tests fail with, or without, my changes. A simple

[code]

yields these three errors.

For context, here's

[2018-05-04 23:57] #2396 closed

[2018-05-05 00:05] jayvdb commented on #2464
Item 1 is not expected.  I have not seen/heard of that occurring, so I am not sure why that might occur.  https://github.com/coala/coala-bears/pull/2459 was just merged, and `.travis.yml` runs `.ci/generate_bear_requirements.py`, so anything temperamental should be seen there.

Anyway, can you manually re-add those lines.  Your diff otherwise looks good.

Item 2 is not unexpected, and can be ignor

[2018-05-05 00:16] jayvdb commented on #2371
Reassigned to @rlemasquerier , as the PR wasnt creating the asciinema for PySafetyBear at all.

[2018-05-05 04:45] #982 closed

[2018-05-05 06:16] harshhx17 opened #2465 "PEP8NotebookBear doesnot give error when line length is greater than 79"
I ran the code on this and it didn't give any error although the length of a line is greater than 79
[code]

[2018-05-05 10:31] jayvdb commented on #2465
This is another case of https://github.com/coala/coala-bears/issues/2461

[2018-05-05 10:33] jayvdb commented on #2465
So, https://github.com/hhatto/autopep8/issues/393 needs to be solved first, and it will likely solve this bug also, but this bug might need extra work after that.

[2018-05-05 12:09] jayvdb commented on #2465
Actually, according to https://github.com/hhatto/autopep8/issues/343 , this should work.

[2018-05-06 15:52] jayvdb opened #2467 "Support BitBucket Smart Commits"
https://confluence.atlassian.com/bitbucket/processing-jira-software-issues-with-smart-commit-messages-298979931.html

[2018-05-06 16:02] jayvdb commented on #1134
Note cross repo closes not yet supported is https://bitbucket.org/site/master/issues/15316/close-issues-with-a-commit-from-a-separate

c.f. https://github.com/coala/coala-bears/issues/2467 for another BitBucket commit format.

[2018-05-08 04:44] ksdme opened #2468 "GitCommitBear: Fix regex for usernames"
The current regex for usernames in the full issue url of Github and Github are too generic. Refer to https://github.com/shinnn/github-username-regex/blob/master/README.md for example

[2018-05-08 04:58] ksdme opened #2469 "GitCommitBear: Fix regex for issue id"
1) The regex for issue id supports referencing such as ```some/sample#12``` but does not use proper validation pattern for username and repo name instead uses a ```\w```. This should be fixed to use host specific patterns.

2) The reference number should be an integer for both the hosts, thus ```#(\S+)``` should not be used.

[2018-05-08 05:13] ksdme commented on #2469
Refer https://github.com/coala/coala-bears/issues/2468

[2018-05-08 08:33] jayvdb commented on #2469
This should be done in https://github.com/coala/coala-bears/issues/2468

[2018-05-08 08:33] jayvdb commented on #2468
This should be done in https://github.com/coala/coala-bears/issues/2469

[2018-05-08 10:56] ksdme commented on #2469
Since the changes need to be made both in the issue and full issue regex patterns, should I merge both the issues into one?

[2018-05-08 11:36] jayvdb commented on #2469
no, see title of each issue.  They are two different issues, about different types of problems, with different complexities.  This one is the easiest.

fwiw, 'issue' and 'full issue' wasnt a suitable way to split the bugs.  The two problems affect both 'issue' and 'full issue'

[2018-05-08 14:51] blazeu commented on #2131
Given the following markdown:

[code]

MarkdownBear will output:
[code]

It wants to add `\` before `.`

Applying patch will change the md to:
[code]

When running MarkdownBear again, it wants to remove the patch that has been applied before (removing `/`):
[code]

Turns out the problem is missing blank line between paragraph and list.
[code]

[2018-05-08 15:08] blazeu commented on #2131
Same result with `remark-lint@5` (from coala package.json) and `remark-lint@6`

[2018-05-08 15:19] blazeu commented on #2131
Got the same result running `remark` directly (with default MarkdownBear config). Suggesting that this bug came from remark itself.

Originally, this issue was opened because https://github.com/coala/coala-atom/issues/81 , Closing because apparently this is duplicate of https://github.com/coala/coala-bears/issues/1235

[2018-05-08 15:19] #2131 closed

[2018-05-08 22:55] gruns commented on #2464
@jayvdb Awesome. See https://github.com/coala/coala-bears/pull/2470.

[2018-05-09 05:54] gruns commented on #2464
Thank you for your help, @jayvdb.

[2018-05-09 09:57] pareksha commented on #1635
@jayvdb I don't think I am able to fix this. Please unassign me.

[2018-05-09 13:11] virresh opened #2471 "GitCommitBear: Check for WIP: shortlog"
Currently the bear only yields a result in case the shortlog starts with
"[wip] "
It should also check for "WIP: "

[2018-05-09 17:16] yukiisbored opened #2472 "Make writing bears simple again!"
Most bears don't require a lot of Python code. Most of them can be declared as simple metadata.

I'm proposing giving developers a way to be able to write bears a lot simpler.

coala-bears is mostly metadata on how to run the linter, how to read it's output, what parameters to be thrown at it, etc.

We can simplify this by do one of the following options:
1. Write our own bear "language"
2. Use Mo

[2018-05-09 19:46] jayvdb commented on #2472
This is probably in the wrong repo, as this would require a new bear loader, and probably should be spec'd in cEP 2.. ?

[2018-05-09 20:25] #2286 closed

[2018-05-09 20:29] jayvdb opened #2473 "Add VCS bear to support Bazaar"
Hoster https://launchpad.net/

See issue https://github.com/coala/coala-bears/issues/2286 and its PR for how to do this.

[2018-05-09 20:59] jayvdb opened #2474 "Add VCS bear to support Subversion"
Hoster ... https://sourceforge.net/p/forge/documentation/svn/ ?

See https://github.com/coala/coala-bears/issues/2286 and PR for details on implementation.

[2018-05-10 02:28] virresh opened #2475 "HgCommitBear: Introduce proper error message for empty commits"
Currently we have used a hack to do an empty commit with an empty commit message in the HgCommitBear ( [reference](https://github.com/coala/coala-bears/pull/2310#discussion_r187165065) ) to test empty commit check for the bear.

We would ideally want an elegant solution around this and possibly good error messages yielded from the bear that are different for HgCommitBear from GitCommitBear.

[2018-05-10 02:32] virresh opened #2476 "CommitBear: Re-write test_prerequisites using proper mocks"
Refer https://github.com/coala/coala-bears/pull/2310#discussion_r186913841

[2018-05-10 03:25] yukiisbored commented on #2472
Sure, gonna write one there.

[2018-05-10 03:25] yukiisbored commented on #2472
Actually, on a second thought, Why not make this into a GSoC project for next year :P

[2018-05-10 09:38] manankalra opened #2477 "tests/go: Rename the test_files directory to vet_test_files"
The _test_files_ only contains the files used for testing GoVetBear. It should be renamed accordingly to prevent confusion.

[2018-05-10 09:49] manankalra opened #2478 "tests/python: Rename the test_files directory to pylint_test_files"
The _test_files_ directory is PyLintBear specific. Should be renamed accordingly.

[2018-05-10 12:04] yukiisbored commented on #2472
Here's the cEP: https://github.com/coala/cEPs/issues/138

[2018-05-10 12:10] Makman2 commented on #2046
This belongs to the coala-bears repo.

@jayvdb can you migrate this issue when you have time? I don't have a laptop available right now.

[2018-05-10 13:13] sangamcse commented on #2046
@Makman2, this one here is already in coala-bears repo.

[2018-05-12 07:42] jayvdb opened #2479 "Generate languages.yaml"
https://github.com/coala/coala-bears/blob/master/.ci/generate_bear_requirements.py loads all bears and only generates `bear-requirements.yaml`.

It should provide more information in yaml format.

A very useful dataset to create is a mapping of languages to bears.

That will allow the list of languages to be generated by moban if we templatise README.md: https://github.com/coala/coala-bears/issues

[2018-05-12 07:45] jayvdb opened #2480 "generate_bear_requirements.py is very noisy"
`.ci/generate_bear_requirements.py` emits a lot of junk to the console, which is especially annoying for CI logs.

This might require some improvements upstream in coala.

[2018-05-12 07:50] jayvdb opened #2481 "Generate go dependencies"
`.ci/generate_bear_requirements.py` generates `package.json`, `bear-requirements.txt` and `Gemfile`.  It should generate Go requirements in an format usable by a go dependency management tool.

e.g. https://github.com/golang/dep which uses `Gopkg.toml`

[2018-05-12 07:59] jayvdb opened #2482 "Generate R dependencies"
`.ci/generate_bear_requirements.py` generates `package.json`, `bear-requirements.txt` and `Gemfile`.

It should also support the R bears, and generate R requirements in an format usable by a R dependency management tool, using jinja2 templates.

e.g. a `DESCRIPTION` file, containing

[code]

[2018-05-12 08:01] jayvdb opened #2483 "Generate Perl package metadata"
`.ci/generate_bear_requirements.py` generates `package.json`, `bear-requirements.txt` and `Gemfile`.  It should generate Makefile.PL using jinja2 templates to contain

[code]

[2018-05-13 12:32] jayvdb opened #2486 "New bear pyannotate"
https://github.com/dropbox/pyannotate

[2018-05-14 20:19] harshhx17 opened #2487 "Bear Proposal: pyre"
https://github.com/facebook/pyre-check

[2018-05-15 16:26] aadilmehdis commented on #2404
Hi, I'd like to work on this issue, but am not sure where to get started.

[2018-05-15 19:25] virresh commented on #2404
Hello @aadilmehdis
You need to modify [this](https://github.com/coala/coala-bears/blob/38532090bc56979d2cafc8841f8050e35feb166a/test-requirements.txt#L4) line appropriately for the purpose of this issue.

If you would like an insight into what the actual problem is, consider reading the related links in the description

Also probably [requirements specifiers](https://pip.pypa.io/en/stable/referenc

[2018-05-17 01:50] adhikasp commented on #2431
This is an interesting problem. My understanding is the default value `pycodestyle_ignore` create a maintenance problem, both for coala-bears dev AND coala's user.

Your assumption is users always want to use/append the default ignore list, is there any scenario where that is not the case?

My take on this is to add another setting, `use_default_ignore` which default to `True` and make `pycodestyl

[2018-05-17 06:35] rohanrk commented on #2471
May I be assigned to this issue?

[2018-05-17 11:05] sanjeethboddi commented on #2306
assign this to me @Makman2

[2018-05-17 13:31] virresh opened #2488 "Issues with python3.3 travis check"
We only check for the unsupported python versions now on very specific PRs (direct push to master branch only), so it is hard to see it happening in other cases as well.

The issue as quoted from travis builds:
[code]

needs more investigation,
Example builds of this issue:

https://travis-ci.org/virresh/coala-bears/builds/380033068
https://travis-ci.org/coala/coala-bears/builds/378397254

[2018-05-17 16:13] kriti21 commented on #1037
Please assign this issue to me.

Based on above comments, I think this is required:

Find out if the commit is `magic_github_merge_commit` before running any other checks on it using a regex like:
`shortlog_regex = (^Merge [0-9a-f]+ into [0-9a-f]+$|....)`
If this regex matches, we can set a flag=1 and use this to ignore all other tests on this commit.
If flag==0, then other checks must be performe

[2018-05-17 18:42] jayvdb opened #2489 "AppVeyor builds broken by pip"
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.9729/job/2srpl4l33a93fvmc

[2018-05-17 18:49] jayvdb commented on #2489
See https://github.com/coala/coala/pull/5467 for the necessary change

[2018-05-17 20:07] jayvdb commented on #2488
I think this is the same problem as https://github.com/coala/coala-bears/pull/2268#issuecomment-383362257 , but there are too many other build issues causing problems to see that the fix worked

[2018-05-18 07:27] rohanrk commented on #2376
coala recognizes python 3 as a valid language. This issue has been fixed.

[2018-05-18 07:27] #2376 closed

[2018-05-18 14:37] sanjeethboddi commented on #2306
@kriti21  can I have any code snippet  of jinja where it is failing  so that I can clearly understand and solve the issue :smiley:

[2018-05-18 23:35] binore commented on #2383
@sangamcse Can I be assigned to this? I need to finish newcomer process

[2018-05-19 08:46] nalinbhardwaj opened #2490 "Support shellharden transform for autopatching"
[Shellharden](https://github.com/anordal/shellharden) can be used for auto-patching some of the ShellCheckBear patches. It should either be integrated into the existing ShellCheckBear or be made into a new bear.

[2018-05-19 16:43] raduklb commented on #2435
I would like to work on this issue.

[2018-05-20 12:48] aadilmehdis commented on #2404
What versions of pip are to be excluded @virresh.
From the comments, I understand that the version 9.0.2 and 10.0 are to be specifically excluded.

[2018-05-20 15:55] virresh commented on #2404
@aadilmehdis
Yes, we need to specifically exclude version 9.0.2 and 10.0

[2018-05-21 14:07] aadilmehdis commented on #2404
@virresh
Hey, so making this change in the line would be okay?
pip<=9.0.3 , != 9.0.2, != 10.0.*

[2018-05-21 15:14] virresh commented on #2404
Why would you use <= 9.0.3 ?
I think the two latter specifiers should suffice.

[2018-05-21 16:35] aadilmehdis commented on #2404
Okay. Now to push in the changes, I just commit the changes and push my development branch and create a pull request right?

[2018-05-22 22:03] ishanSrt opened #2499 "SpaceConsistencyBear showing inconsistencies on indented imports inside try block"
[code]
the suggested patch by the bear is
[code]
which is wrong

[2018-05-23 07:45] Makman2 opened #2500 "JSONBear: New setting to expand layout of sub-objects up to a certain level"
I recently tried to use the `JSONBear` in my company, as we have a configuration-file like JSON there, which is manually maintained. It should be ordered alphabetically (that's what `JSONBear` already offers), but also contains many objects in an array that are very small and should be kept on a single line:
[code]
So each line indicates a new item. When expanded, this looks too bloated:
[code]

S

[2018-05-24 11:57] #2469 closed

[2018-05-24 12:27] jayvdb commented on #2471
@rohanrk , @virresh , it looks like the code was already checking for `WIP:` , but in a slighly obscure way.

And it wasnt properly supported, as there was another related bug with relatation to imperative tense on `WIP: ` patches , and the PR fixes that other bug.

[2018-05-24 13:00] jayvdb opened #2502 "Bear Proposal: clang-tidy"
https://clang.llvm.org/extra/clang-tidy/

[2018-05-24 13:22] #2383 closed

[2018-05-24 14:16] #2435 closed

[2018-05-24 15:20] Makman2 opened #2503 "JSONFormatBear: Message not appropriate when settings are omitted"
[code]
is always displayed, regardless whether you have actually enabled `json_sort` (to sort keys) or not. Especially it's displayed when you omit the setting altogether, and the default is actually `false`. So you think that the default is `true`.

The message has to be flexible for different parameters, so a user won't become confused.

Acceptance criteria:
- The `JSONFormatBear` produces follo

[2018-05-24 17:01] rohanrk commented on #2471
When I tested the bear, it failed WIP checks when I had ```WIP:```

[2018-05-25 04:11] jayvdb commented on #2471
I think it failed the imperative checks, not the wip checks.
If so, it was possible to configure GitCommitBear to use `WIP: ` , but only if the  imperative checks were disabled.

[2018-05-25 06:02] jayvdb commented on #2431
Correct.  This is because there are two ways to configure pycodestyle rules, adding to `--ignore` and adding to `--select`.

Most users should *never* need to even use select or ignore lists.  This is especially true when the linter wrapped in coala, as any minor problems in the rules can be ignored using coala ignore comments.

Most ppl just use the defaults and are happy.

People choose to modif

[2018-05-25 07:38] rohanrk commented on #2471
Yeah. this is because the imperative check modified the shortlog and the WIP check occurred after the imperative check.

[2018-05-25 14:34] Makman2 opened #2504 "Add NakedretBear"
Implement a new linter bear that wraps https://github.com/alexkohler/nakedret
`nakedret` checks for functions whether they use so called "naked returns" in go, when they exceed a specified length. If a function is very long, naked returns hinder readability and maintenance. They should be avoided in such cases.

[2018-05-26 06:00] MacBox7 opened #2505 "Provide option for comparison clauses in moban"
`bear-requirements.yaml` should have an option for comparison clauses like `==`, `>=`, `~=`, etc for python packages. After this `bear-requirements.txt.jj2` should be updated accordingly.

The current implementation is simply appending package with the version number.
For example generated requirement for pyflakes would be of the form =>
`pyflakes1.5.0` rather than `pyflakes~=1.5.0`

[2018-05-26 06:05] sanshay commented on #2326
please assign this issue

[2018-05-26 12:28] jayvdb commented on #2505
Which comparision type do you want?

Long term the comparison type needs to be understood by the Requirement class, but an interim hack is maybe ok.

[2018-05-26 12:31] Makman2 opened #2508 "Remove `package-lock.json` from gitignore"
npm clearly states that this file should be commited. From `npm help package-lock.json`:

This issue is about reverting the change in https://github.com/coala/coala-bears/pull/2494 again.

[2018-05-26 12:32] Makman2 commented on #2383
It should be definitely committed, opened https://github.com/coala/coala-bears/issues/2508 to revert this commit again.

[2018-05-26 12:40] Makman2 commented on #2046
What the heck I've seen here... nvm at all :sweat_smile:

[2018-05-26 14:48] MacBox7 commented on #2505
The current practice looks good.

[2018-05-26 14:48] #2505 closed

[2018-05-26 20:51] sanshay commented on #2326
i am not continuing this issue anymore please assign this to someone else

[2018-05-26 20:52] utkarsh2102 commented on #2326
Since this task is not being taken up by someone else now, could I be assigned the same?

[2018-05-27 00:56] nemaniarjun opened #2510 ".coafile: Ignore all orig files in the coala-bears dir"
Right now coala does not ignore .orig files in the .ci folder
It should as they are just backups and not meant to be commited.

difficulty/newcomer

[2018-05-27 04:50] jayvdb commented on #2510
why not ignore .orig in all folders?

Also, can our .coafile specify that backups should not be created?
Would that be a good idea?

[2018-05-27 05:03] RaiVaibhav opened #2511 "Appveyor failed during setting up a safety module"
Traceback:
[code]

Build Link: https://ci.appveyor.com/project/coala/coala-bears/build/1.0.9766/job/7keffjocn064913f#L95

[2018-05-27 08:51] jayvdb commented on #2326
I've assigned it to @sanshay , as they already have a PR for it

[2018-05-27 08:57] utkarsh2102 commented on #2326
@jayvdb, as per Sanshay's latest comment above, he isn't following up the issue anymore.
So could I be assigned the same now?

[2018-05-27 09:19] jayvdb commented on #2326
@sanshay , no, this issue is yours.  There are many like it, but this one is yours.

[2018-05-28 00:29] jayvdb commented on #2511
Where is the upstream bug raised about this problem in safety `setup.py` ?

[2018-05-28 00:32] jayvdb commented on #2511
Also note that upstream they use AppVeyor.  If they havent had a build recently, maybe it breaks upstream if another PR is sent

If it is not failing for them, then we have some difference in our AppVeyor and their AppVeyor.

[2018-05-28 10:20] RaiVaibhav commented on #2511
related issue https://github.com/pyupio/safety/issues/119

[2018-05-29 07:39] harshhx17 opened #2514 "TERM=dumb is not exported in the deps files"
circleci doesn't detect TERM

[2018-05-29 07:40] harshhx17 commented on #2514
@jayvdb  Please assign this issue to me

[2018-05-29 11:40] utkarsh2102 commented on #2389
@jayvdb, I'd like to take up this task, please assign the same to me?

[2018-05-29 13:09] palash25 commented on #2389
This cannot be assigned to you since you already have a newcomer issue.
Each newcomer only gets one newcomer issue then they have to move to higher difficulty issues.

[2018-05-29 13:14] utkarsh2102 commented on #2389
Okay @palash25.

[2018-05-29 15:58] utkarsh2102 commented on #2510
Can I take this @nemaniarjun, @jayvdb?

[2018-05-29 17:10] harshhx17 commented on #2514
Although the deps files in .ci/ sets TERM=dumb, it doesn't export it.
Hence, the circle ci shows the report progress of downloads, which is not required.
Also, opam update requires TERM to be set
Hence if you do an opam update without TERM set, you get an error like (as in https://circleci.com/gh/harshhx17/coala-bears/445):
[code]

[2018-05-30 02:14] jsecrest commented on #2465
May I have this assigned to me please?

[2018-05-30 04:51] KaplanAlex commented on #2508
Can I be assigned this issue?

[2018-05-30 06:29] jsecrest commented on #2465
In this example I believe this bear is working as intended. The long line is in a markdown cell and not inside a code cell. The PEP8NotebookBear is designed to only fixes lines that are inside code cells:
[code]
It seems like applying PEP8 rules to a markdown cell would be A Bad Thing. The questions that I have now are:
- Do we want to apply rules to a markdown cell?
- If so, which rules do we wan

[2018-05-31 04:15] palash25 opened #2516 "Add ReviveBear"
Its a linter for Go

https://github.com/mgechev/revive

[2018-05-31 05:40] nemaniarjun opened #2518 "Update URL in CPDBear (copy/paste detector) docs"
Old Url: https://pmd.github.io/pmd-5.4.1/usage/cpd-usage.html
New Url: https://pmd.github.io/pmd-6.4.0/pmd_userdocs_cpd.html

Diff: Newcomer
Importance: Low

[2018-05-31 18:14] jsecrest commented on #2465
### Follow through: PEP8Notebook Bear is working as intended
That is to say, there is no problem with the PEP8 rules being applied to long code lines. Non code cells (including markdown cells) are not handled. My recommendation is to close this issue and to open a new one for adding a markdown handling feature to PEP8NotebookBear, or the creation of a MarkdownNotebookBear.

### .ipyn file snippets

[2018-05-31 18:16] harshhx17 commented on #2465
@jayvdb ^^

[2018-06-01 06:10] ishanSrt opened #2519 "Bear settings of function parameter annotations blocking the green mode project"
[code]
The listed settings should have the default value `True` or `False` since they are `bool` type settings, but this data is lost as soon as they are provided the default value `None`. Thus no way to provide distinction between them.
Possible Solutions:
* Add a custom `contracts` Type Annotation for these settings and keep the default value to be `None`
* Change the default values to one of th

[2018-06-01 06:13] ishanSrt commented on #2519
In addition to this a release has to be made of `coala-bears` so that the version can be bumped up in `quickstart`

[2018-06-01 06:13] ishanSrt commented on #2519
No other way to retrieve the Type Annotations

[2018-06-01 07:42] ishanSrt commented on #2519
status/invalid

[2018-06-01 07:42] #2519 closed

[2018-06-03 09:52] jayvdb opened #2520 "Support fossil vcs"

[2018-06-05 01:25] bekicot opened #2521 "ESLintBear doesn't pickup local npm packages."
ESLintBear should pick up local packages as in my project (And probably a lot of others). The version consistency is expected.

ESLint may break compatibility in the future (Just like rubocop did). One of the way to avoid it is to use project specific environment (via local node packages or .rbenv-gemsets in ruby).

ESLintBear currently doesn't support that or currently broken.

[2018-06-05 06:52] li-boxuan opened #2522 "AnnotationBear gets stuck on large files"
See https://travis-ci.org/coala/community/jobs/388097539#L2299, where `KeywordBear` gets stuck on a large file (20 MB).

When I run it locally, the same issue occurs:
[code]

[2018-06-05 15:00] Makman2 commented on #2520
So you want a `FossilBear`? Analogous to the `GitCommitBear`?

[2018-06-05 15:08] Makman2 commented on #2510
I would like to have an option to suppress generation of backup files. Not needed in CI for example^^

[2018-06-05 15:10] Makman2 commented on #2510
I just remember that backup files usually cluttered my git workspace. If you use git, that's usually enough as "backup", as you can always revert changes.

[2018-06-05 15:45] nemaniarjun commented on #2510
@utkarsh2102 sure, just wait till someone assigns it to you, or ask on gitter.

@Makman2 This issue is not about generation of backup files, but about coala accidentally being ran on the .orig files, which just results in oldfile.orig.orig.orig files :tongue:

[2018-06-05 23:52] jayvdb commented on #2520
Yup. https://fossil-scm.org/

Probably just `FossilCommitBear` atm.

[2018-06-06 09:20] jayvdb commented on #1104
For the initial bug fix, QuoteBear should simple avoid handling single line strings which are using multi-line string syntax (`"""`).  It doesnt handle them properly.
Then we can have an enhancement which properly designs how to handle strings which use multiline syntax.

[2018-06-06 17:48] jayvdb opened #2524 "GitCommitBear: emoji style"
Add option to enforce https://github.com/slashsBin/styleguide-git-commit-message

[2018-06-07 15:35] jayvdb commented on #1436
https://github.com/jendrikseipp/vulture/pull/79 was done

[2018-06-09 15:20] jayvdb opened #2529 "Checkstyle binaries moved"
https://sourceforge.net/projects/checkstyle/files/checkstyle/ says

This causes `.ci/deps.coala-bears.sh` to fail, which also affects new users who havent downloaded the jar, as the following occurs

[code]

[2018-06-10 06:57] harshhx17 commented on #2514
Yeah! that would be better

[2018-06-10 06:59] ishanSrt opened #2532 "Adding type annotations to bears"
This can be performed in 3 ways:
* Using the [contracts](http://andreacensi.github.io/contracts/index.html#introduction) module
* Using python default type hinting
* Manually checking using decorators or the bears `run()` or `create_arguments()` method.

## Using `contracts`
We we need custom checks for settings which only accept a discrete set of values. The only option seems to follow is use cus

[2018-06-10 17:29] satwikkansal commented on #2532
The best working approach that has been figured out till now is to create

- A custom class called `DiscreteConstraint` or something similar and we passing the setting name, and a list of discrete values, and their types to their constructor. This class is instantiated for every bear.
- A decorator that checks for the setting values against the `DiscreteConstraint` object for that bear.

[2018-06-10 20:18] Makman2 commented on #2510
Referring to :point_up: https://github.com/coala/coala-bears/issues/2510#issuecomment-392305157

[2018-06-11 00:55] jayvdb commented on #2510
IMO this should be done as part of (or after) https://gitlab.com/coala/mobans/issues/1 .
Otherwise we have lots of differences to all of the repos, and it is hard to remember all the variations.

[2018-06-11 05:16] MacBox7 commented on #2510
Duplicate of https://github.com/coala/coala-bears/issues/2389

[2018-06-12 03:01] bekicot opened #2533 "ESLintBear: KeyError: 'ruleId'"
Comand to run
[code]

[code]

.eslintrc.js
[code]

[2018-06-12 03:09] jayvdb commented on #2533
Here is a travis log of it

https://travis-ci.org/jayvdb/gsoc-prep-tasks/jobs/391075675#L958

[2018-06-12 14:13] #2529 closed

[2018-06-13 15:07] #2404 closed

[2018-06-13 16:01] jayvdb opened #2534 "golint install error"
[code]
https://travis-ci.org/coala/coala-bears/jobs/391802261

[2018-06-13 17:09] jsecrest commented on #2465
What's the coala way of doing things here? I chatted a little about this in the bears gitter last week, and one suggestion was to add a setting to this bear that allows you to choose rules that will be applied to specific cell types. But where the name of this bear is PEP8NotebookBear would it be better to add a MarkdownNotebookBear?

A difficulty with the way PEP8NotebookBear works is that it sea

[2018-06-13 17:54] jayvdb commented on #2465
Unfortunately we dont have nested language support, routing chucks of code into another bear.
The project for that isnt doing very well so it is still an open problem
http://projects.coala.io/#/projects?project=handle_nested_programming_languages&lang=en

A separate bear would be better, at least for the moment, as it will probably need to depend on JS `remark`.

[2018-06-14 00:12] jayvdb commented on #2532
@ishanSrt do you have a list of all setting annotations currently being used ?

[2018-06-14 01:12] jayvdb commented on #2532
So the tool we want to leverage is most likely `StringConverter` (in `coala_utils.string_processing`).  Ideally we need a string convertor which converts between the user provided string and an enum.  StringConverter is not necessary, but conceptually would be better if provided.

It needs to be a "StringEnum" to be exact, because the values need to be unconstrained by any limitations in python va

[2018-06-14 02:19] jsecrest opened #2535 "coala-bears does not detect missing dependency 'pyreadline'. Gives 'No bears matching' warnings instead."
### Issue summary

1. When installing with pipenv on Windows 10 with coala, coala-bears does get install all dependencies. It misses `pyreadline` unless coala-bears is installed separately. (unsure if this is anything we can fix or not)
2. Coala-bears does not detect the missing dependency. Instead it runs and gives a missing bear warning, even when bears are installed to the correct locations.

#

[2018-06-14 02:35] yukiisbored commented on #2534
Sigh, why can't go use proper versioning like everyone else.

Can we vendor this to known last working version?

[2018-06-14 02:36] yukiisbored commented on #2534
Okay, it seems the official documentation states.

`go get -u golang.org/x/lint/golint`.

[2018-06-14 02:37] yzgyyang commented on #2534
We definitely should pin a commit for every Go dependencies IMO.

[2018-06-14 03:12] jsecrest commented on #2535
The cause of the missing dependency is probably related to https://github.com/pypa/pipenv/issues/1757, which is supposedly resolved by one of their recent commits. However, we should still notice and report the missing dependency instead of reporting a missing bear.

[2018-06-14 08:33] jayvdb commented on #2534
@yukiisbored , GitHub says it is a mirror, but I am not sure about that as development seems to be occurring at https://github.com/golang/lint/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc.

The source code hasnt changed in either https://github.com/golang/lint or golang.org/x/lint/golint for a long time --  https://golang.org/x/lint/golint redirects to gopkg pages which link back to GitHub source

[2018-06-14 22:42] #2534 closed

[2018-06-15 01:47] #2508 closed

[2018-06-15 02:57] jayvdb commented on #2535
That dependency is in the coala project https://gitlab.com/coala/coala-utils/ (on GitLab).  Could you re-analyse the problem in that context and possible raise an issue in that project.

It may be that the problem is fixed there, but hasnt been released, and thus the problem is still occurring when installing coala-bears.  In which case, the solution is ... wait ... we'll do a release soon ;-)

[2018-06-15 03:03] jayvdb opened #2537 "Python 3.3 unsupported test broken by bandit"
see https://travis-ci.org/coala/coala-bears/builds/392527549

This only occurs on master builds by default.  To test, you will need to modify the .travis.yml job configuration.

[code]
[code]
[code]

[2018-06-15 04:51] #2442 closed

[2018-06-15 15:00] jayvdb opened #2539 "Travis apt whitelisted packages"
`deps.apt.sh` on Travis currently takes about 417.94s and installs the following

The special APT section of Travis currently takes about 182.01s.  Total of both is 599s

times taken from latest master build of Python 3.4
https://travis-ci.org/coala/coala-bears/jobs/392561104

By moving many of the `deps.apt.sh` packages to the special APT section of Travis, the rdev PPA isnt needed on Travis, and

[2018-06-15 17:36] jayvdb commented on #2539
Ugh, "trusty/universe amd64 r-base-core amd64" is version 3.0.2 , and `RLintBear` requires `>=3.1.1` .  So the main performance benefit has been removed. (I've been down this road before, but forgotten this)

However another was uncovered.  There was an implicit perl dependency causing an upgrade in the second apt phase.

[2018-06-16 14:56] ishanSrt opened #2540 "PyUnusedCodeBear not detecting unused methods on more than one import from the same module"
this works (on detecting unused code):
[code]
but this doesn't (is not detected):
[code]

[2018-06-17 05:10] jayvdb commented on #2511
@RaiVaibhav , please investigate their AppVeyor CI.
We ideally want to be helping upstream have CI in place which prevent us seeing breakages first.

[2018-06-17 11:39] satwikkansal commented on #2532
Quoting @ishanSrt from https://gitter.im/coala/topics/topic/5b263ee1f3e3007371b8ff5f/type-annotations-for-bear-settings

    The things I am still not clear with is using type annotations like you suggest achieves nothing unless coala is applied with the mypy package loaded, it won't point out errors if illegal values to those params are passed using those enums.
    eg..
[code]

[code]

ACCEPTABL

[2018-06-17 11:43] ishanSrt commented on #2532
also each setting will have to be mapped to the respective `enum` object (I suppose we are already doing in some places) looking at the error message in the image

[2018-06-17 11:59] jayvdb commented on #2532
Bear settings are already validated by the `Bear` classes.
I believe under the cover it uses `coalib`'s `enforce_signature` decorator.

Mapping bear settings to those enums is done with the type annotations.

[2018-06-17 12:34] jayvdb commented on #2532
moreover, we should also add a CI job to run bear tests under `mypy`, which will catch any problems ;-)

[2018-06-21 01:59] jayvdb opened #2545 "Create bear to enforce Python *args and **kwargs are plurals"
Any function arguments using `*` and `**` are implicitly a `list` and `dict`, and all types which contain many items should have names which end in `s`.

This might be enforcable with an existing bear (pylint? mypy?), but I doubt it.
If not, it is probably best done using an ast bear (pyflakes or antlr).

[2018-06-21 07:16] MacBox7 commented on #2545
Can be a part of PEP8DoctestNamingBear. I am thinking of extending this bear to not only doctest but the complete file.

[2018-06-21 07:18] MacBox7 commented on #2545
Already done the part where function args are checked. Adding this won't be a problem.

[2018-06-21 13:54] #2514 closed

[2018-06-21 14:41] aadilmehdis commented on #2479
Hi @jayvdb, I would like to work on this issue. Could you please elaborate more on the issue?

[2018-06-21 23:25] jayvdb opened #2546 "Failure setting up opam on Travis CI py36"
On https://github.com/coala/coala-bears/pull/2542, I've restarted https://travis-ci.org/coala/coala-bears/jobs/395066123 several times, regularly seeing this failure:
[code]

[2018-06-22 04:40] jayvdb commented on #2545
DoctestBear should only look at Doctests.

This is a specific bear , which shouldnt be mixed with anything else, as it is a lingual bear (NLP), thus only valid for English language initially, will have linguistics problems which are very unique to it, and should grow to be multi-lingual.

[2018-06-22 05:47] jayvdb commented on #2479
This would need to wait until https://github.com/coala/coala-bears/pull/2446 is merged first, but that should be very soon.

`generate_bear_requirements.py` currently reads the Bear `DEPENDENCIES`.

Each Bear has a `LANGUAGES` property, which we could use to create a yaml file like:

[code]

[2018-06-22 06:57] MacBox7 commented on #2545
Should we use a library to perform check https://pypi.org/project/inflect/0.2.4/?

[2018-06-22 08:47] #2546 closed

[2018-06-22 09:12] #2539 closed

[2018-06-22 10:03] RaiVaibhav opened #2548 "Add prof in gitignore"
Ignore prof files --> `**prof`

difficulty/newcomer

[2018-06-22 10:54] RaiVaibhav commented on #2548
This need to be added asap because in every pytest it is creating a binary file and that should be ignore to prevent the false commit of files.

[2018-06-22 11:27] #2548 closed

[2018-06-22 20:02] ishanSrt commented on #2540
also the unused function argument `function_name` is not detected over [here](https://github.com/coala/coala-quickstart/pull/250) which is passed along but never actually used.

[2018-06-22 20:04] ishanSrt opened #2549 "PyUnusedCodeBear unable to detect unused function arguments"

[2018-06-24 06:54] refeed commented on #2548
@jayvdb Why is this closed?

[2018-06-24 07:59] jayvdb commented on #2548
Fixed in mobans repo

[2018-06-25 06:14] jayvdb commented on #2532
Did a quick play, and https://pypi.org/project/enum34-custom/ lopoks like the most versatile base class.

[code]

Also worth looking at
- https://pypi.org/project/yaenum/
- https://pypi.org/project/xenum/
- https://pypi.org/project/venum/

[2018-06-26 12:00] refeed opened #2552 ".ci/deps.sh: wget "Unable to establish SSL connection." when downloading astyle from sourceforge"
https://travis-ci.org/coala/coala-bears/jobs/396784107#L2256

[code]

Somehow, wget can't connect to https://downloads.sourceforge.net/project/astyle/astyle/astyle%203.0.1/astyle_3.0.1_linux.tar.gz?r=&ts=1499017588&use_mirror=excellmedia due to SSL problem..
I think the link needs to be updated to: https://downloads.sourceforge.net/project/astyle/astyle/astyle%203.0.1/astyle_3.0.1_linux.tar.gz?r=&

[2018-06-26 14:31] jayvdb commented on #2552
see also https://github.com/coala/coala-bears/issues/2302

[2018-06-26 23:40] abread opened #2554 "Coala website languages section is empty"
I tried to visit https://coala.io/#/languages because the old docs seem to be unmaintained (https://github.com/coala/bear-docs/).
However, the search box seems to not be wired up. Both in Chromium and in Firefox, typing any text (for example "python") yields no new network requests, no exceptions or errors or warnings logged to the Dev Console and no content.

As that page is the only official doc

[2018-06-27 12:10] jayvdb commented on #2552
When I run this command on my laptop, it works correctly.

[code]

Is it working for you on your laptop?
Why is it failing on Travis?
Maybe an older version of wget with incompatible SSL?

[2018-06-27 22:56] virresh commented on #2545
https://gitlab.com/virresh/coala-antlr/merge_requests/12

^ Made a sample for function arguments, I would like to confirm before converting this bear into checking variables as well, that is this what we are looking for ?
Output of bear when run on coala/coala - https://gist.github.com/virresh/d2cc7e882c0ee1afb5fa73482a140c0f#file-stdout-txt

[2018-06-29 07:29] kriti21 opened #2556 "AppVeyor build failing because of VintBearTest"
[code]

https://ci.appveyor.com/project/coala/coala-bears/build/1.0.9906/job/4f5ms4exfvimts4i

https://ci.appveyor.com/project/coala/coala-bears/build/1.0.9905

[2018-06-29 08:31] refeed commented on #2552
@jayvdb Hmm interesting, it was not working when I submitted this issue. Yes, it's working on my laptop right now... It's kind of flaky..

I'm not sure, it was very flaky at the time I submitted this issue. It was like I got `Unable to establish SSL connection` and succeed downloaded it back and forth.

Like you said, creating a OBS or PPA for this package would be a long term and ideal solution f

[2018-06-30 10:39] kriti21 opened #2557 "Travis CI build fail due to Assertion failure in DartLintBearTest"
Here is a link to two PRs that I am working on and for which travis CI builds are failing for some unknown reason that is unrelated to my changes.

https://travis-ci.org/coala/coala-bears/builds/398495705?utm_source=github_status&utm_medium=notification

https://travis-ci.org/coala/coala-bears/builds/398505168?utm_source=github_status&utm_medium=notification

The only thing that I find common in b

[2018-06-30 10:45] kriti21 commented on #2557
@jayvdb @damngamerz @refeed Please see if you can provide some more info related to this issue so that it can be solved asap.

[2018-07-01 11:50] jayvdb commented on #2557
There have been no changes to coala.
Your CI logs show they are using:
`coala-0.12.0.dev20180101025653 coala-utils-0.6.7`

These are CI problems in this repo , usually caused by changes in other repositories.

https://travis-ci.org/coala/coala-bears/jobs/398505169 shows problems with `DartLintBearTest` and `RubySmellBearTest` still exist, but `StyleLintBearTest` magically fixed itself.

[2018-07-01 12:02] jayvdb opened #2558 "RubySmellBear: reek 5.0 fails tests"
New release https://github.com/troessner/reek/releases/tag/v5.0.0 is failing CI tests.

Version in the bear needs to be pinned, or tests fixed to work with both 4.x and 5.x.

[2018-07-01 12:07] jayvdb commented on #2558
Split from https://github.com/coala/coala-bears/issues/2557, as there is also a Dart breakage which we'll investigate separately as it is likely much more difficult.

[2018-07-01 12:08] jayvdb commented on #2557
The ruby version hasnt changed.

RubySmell is gem `reek` with a new release, which is a common source of failures, and should be easy to fix.  c.f. #2558 created about that one.

So now this issue can be about dart only.

[2018-07-01 12:35] jayvdb commented on #2370
Not quite that specific.  It is supposed to check whether the file permissions match those given in the setting.

`require` isnt a good name for the setting, as it is rather ambiguous.

`filemode = ...` would be better.

However, the first design issue is how do we do this in a way that supports both Windows and Unix.
If you can come up with a sensible solution for that, we can assign the issue to

[2018-07-01 12:42] jayvdb commented on #2370
fyi, passwords and such are not appropriate for fixes; the bear would try to change the permissions if it can, otherwise it would not fix.  bears escalating privilege levels, or having any access tokens, is not something we're likely to *ever* do.

If the person running coala wants a bear to do things which require escalated privileges, it should give the coala process those privileges.

Typically

[2018-07-01 12:50] RaiVaibhav commented on #2370
@jayvdb

Confuses me does os  module works differently in Windows ( srsly didn't know), if No then we have a
`filename` in bear arguments, doesn't this will solve the caveats `platform dependent`?

[2018-07-01 12:55] jayvdb commented on #2370
https://docs.python.org/3/library/os.html mentions lots of OS specific aspects, and it links to https://github.com/python/cpython/blob/3.7/Lib/os.py which you can see is almost entirely OS specific logic.

Windows and Unix file permissions models are very different.  Proper analysis is needed to *ensure* the bear would work correctly on both platforms.

Reading [`os.chmod`](https://docs.python.org

[2018-07-01 18:18] jayvdb commented on #2557
The problem with DartBear also seems to have disappeared, at least it isnt present with recent builds of coala-bears master. https://travis-ci.org/coala/coala-bears/builds/398801319

[2018-07-01 18:41] kriti21 commented on #2557
I am not quite sure though. May be I am completely wrong here but I pushed changes in my PR multiple times (my bad) but logs were different and I still think if nothing has been changed, the bear is flaky. Just a FYI, travis.yml downloads an old version of dart sdk

[2018-07-02 00:55] jayvdb commented on #2557
It is definitely concerning that we had those problematic builds, and we dont know why they failed. As it is fetching a versioned zip (and an old version as you've found), it really shouldnt change.
But we cant reproduce it now, so we cant analyse it now, and will need to wait until it reoccurs.
This is why we include as much detail in issues as possible, so we can find them again when a breakage

[2018-07-02 01:14] jayvdb commented on #2557
Ruby fixed in https://github.com/coala/coala-bears/pull/2559 , with build at https://travis-ci.org/coala/coala-bears/builds/398948529 and my fork at https://travis-ci.org/jayvdb/coala-bears/builds/398948420 .  Hopefully those pass, and we can get back to normal coding.

[2018-07-02 02:09] jayvdb commented on #2557
Bugger : https://travis-ci.org/coala/coala-bears/builds/398948529 shows all jobs failing on RLintBear.
I suspect that it means all builds need to start with a fresh cache.
I've deleted all the caches on my Travis fork, and restarted [the py34 job which previously failed](https://travis-ci.org/jayvdb/coala-bears/jobs/398948421) .  If it passes, all that is needed is to delete all the caches on coal

[2018-07-02 02:42] kriti21 commented on #2557
Yup opened an issue for that already https://github.com/coala/coala-bears/issues/2556

[2018-07-02 02:45] jayvdb opened #2560 "ppa:marutter/rdev now shipping r-base 3.5"
https://launchpad.net/~marutter/+archive/ubuntu/rdev now includes R base 3.5.  Previously it was R 3.3

The only immediate effect was that cached builds had errors:

[code]

https://travis-ci.org/coala/coala-bears/jobs/398948530#L2588

Minor note to self `lintr` still missing from

https://launchpad.net/~marutter/+archive/ubuntu/c2d4u/+index?batch=55&memo=3440&start=3440

but `formatR` is at

http

[2018-07-02 02:48] jayvdb commented on #2560
The solution being attempted is clearing all caches of coala/coala-bears Travis project, and rebuilding the jobs for https://github.com/coala/coala-bears/pull/2559 which will hopefully pass now (but destroys evidence of the failure on the main repo).

[2018-07-02 09:30] jayvdb opened #2562 "CPPLintBear violated one-based offset convention"
https://ci.appveyor.com/project/jayvdb/coala-bears/build/job/xhu5jueyyennp1u3#L678

[2018-07-02 09:35] jayvdb opened #2563 "CheckstyleBear offset bug"
https://ci.appveyor.com/project/jayvdb/coala-bears/build/job/xhu5jueyyennp1u3#L1618

[2018-07-02 09:40] jayvdb commented on #2393
@li-boxuan , I did a build of coala-bears with coalib, and most of the errors are related to this

You can use b6ed061673 to unblock this.

I have created the following which are also uncovered with this:
- https://github.com/coala/coala-bears/issues/2562
- https://github.com/coala/coala-bears/issues/2563

Could you investigate them all - maybe they can all be fixed with your new tools (https://gi

[2018-07-02 10:35] jayvdb opened #2564 "FilenameBearTest expected results do not match actual results"
The `Result.diff` is not the same for expected vs actual.

See https://ci.appveyor.com/project/jayvdb/coala-bears/build/job/xhu5jueyyennp1u3#L1000

[2018-07-02 14:49] kriti21 commented on #2556
@jayvdb I made some changes locally trying to solve this issue https://github.com/kriti21/coala-bears/commit/184b1788ef1ee75847420742f95b2e3b1dc8168f and the appveyor build completed successfully. https://ci.appveyor.com/project/kriti21/coala-bears

Please have a look.

[2018-07-02 14:56] jayvdb commented on #2556
We dont depend on alpha builds.

[2018-07-02 14:59] jayvdb commented on #2556
Note this has been discussed over at https://gitter.im/Kuniwak/vint?at=5b3a1d00f166440661129119

[2018-07-02 14:59] kriti21 commented on #2556
okay

[2018-07-02 15:52] jayvdb commented on #2557
With patches for the reek and vint problems , and green builds, this can be closed until it reappears.

[2018-07-02 15:52] #2557 closed

[2018-07-03 00:34] dfarrell07 opened #2566 "RSTcheckBear: Allow ignoring by messages"
Add logic to support passing regexes of messages to ignore to the underlying rstcheck CLI. This is similar to #1723, but for different CLI arguments.

This set of conditionals is the root of the change:

        if code_block_language_ignore:
            args = ('--ignore-language=' +
                    ','.join(code_block_language_ignore),)
        if directive_ignore:
            args += ('--ig

[2018-07-03 04:05] jayvdb commented on #1917
The only aspect im not sure about is whether the bear emits urls which are in strings which are multiples lines. I dont know if we have a test for this.

i.e.
[code]

[2018-07-03 07:05] #2556 closed

[2018-07-03 07:05] #2558 closed

[2018-07-03 08:58] ananyaarun commented on #1560
@jayvdb , can this be assigned to me now ?

[2018-07-03 09:23] jayvdb commented on #1560
This is blocked.  Nobody can do it.  See above for the task that needs to be done first.

[2018-07-03 10:27] anctartica opened #2567 "Appveyor sync moban"
Disable py36 job on coala-bears

[2018-07-03 11:16] refeed commented on #1917
@jayvdb `URLBear.extract_links_from_file()` works by detecting whether there is a URL that matches the regex _line by line_ in a file, so yeah, it still doesn't have such feature yet..

[2018-07-03 13:58] li-boxuan commented on #2562
They use 0-based line number.
See https://github.com/cpplint/cpplint/blob/master/cpplint.py#L1383
[code]

and https://github.com/cpplint/cpplint/blob/master/cpplint.py#L2133-L2135
[code]

[2018-07-03 15:15] jayvdb opened #2569 "URLBear doesnt support URLs in string literals split across lines"
[code]

Will generate a URL `http://foo.ba/` , and not `http://foo.ba/baz`

[2018-07-03 15:15] jayvdb commented on #2569
One way to fix this is to use `AnnotationBear` to split the file into string literals, comments, other?

[2018-07-03 15:16] jayvdb commented on #1917
Ahhh, created https://github.com/coala/coala-bears/issues/2569 about that.

So this issue is very easy then, as the "end line" is always the same as the "start line", and the only part missing is the end column.

[2018-07-03 16:24] jayvdb opened #2570 "ClangComplexityBear: AttributeError: type object 'SourceRange' has no attribute 'from_clang_range'"
https://travis-ci.org/jayvdb/coala-bears/jobs/399630878#L8448

This was caused by moving clang from coala to coala-bears.

c.f. https://github.com/coala/coala-bears/pull/2211

[2018-07-03 16:50] jayvdb opened #2571 "InvalidLinkBearTest expected results do not match actual results"
The `Result.diff` is not the same for expected vs actual.

https://travis-ci.org/jayvdb/coala-bears/jobs/399630878#L8775

see also https://github.com/coala/coala-bears/issues/2564

[2018-07-03 16:56] jayvdb opened #2572 "HAMLLintBear violated one-based offset convention"
https://travis-ci.org/coala/coala-bears/jobs/399120408#L9158

c.f. https://github.com/coala/coala-bears/pull/2413 and https://github.com/coala/coala-bears/issues/2562 and https://github.com/coala/coala-bears/issues/2563

[2018-07-03 16:57] jayvdb opened #2573 "WriteGoodLintBear violated one-based offset convention"
https://travis-ci.org/coala/coala-bears/jobs/399120408#L9712

c.f. https://github.com/coala/coala-bears/pull/2413 and https://github.com/coala/coala-bears/issues/2562 and https://github.com/coala/coala-bears/issues/2563 and https://github.com/coala/coala-bears/issues/2572

[2018-07-03 17:00] jayvdb opened #2574 "StylintBear violated one-based offset convention"
https://api.travis-ci.org/v3/job/399120408/log.txt

c.f. https://github.com/coala/coala-bears/pull/2413 and https://github.com/coala/coala-bears/issues/2562 and https://github.com/coala/coala-bears/issues/2563 and https://github.com/coala/coala-bears/issues/2572

[2018-07-03 17:13] #1037 closed

[2018-07-03 17:18] jayvdb opened #2575 "generate_package.py: Remove `touch`"
It should be replaced with Path function `touch`.

[2018-07-03 17:38] jayvdb commented on #1104
Each language file has a multiline string delimiter, so it should be possible to tag strings as single vs multiline. This might require an enhancement to AnnotationBear.

[2018-07-03 17:53] jayvdb commented on #431
@blazeu @bekicot this might be useful for the git task list project

[2018-07-03 17:54] jayvdb commented on #1001
At some point, this was fixed.

[2018-07-03 17:54] #1001 closed

[2018-07-03 17:57] jayvdb commented on #1307
A quickish solution is to create a GlobalBear for moban, which almost all coala repos are using now.

https://github.com/moremoban/moban

[2018-07-03 17:59] jayvdb commented on #1307
Ideally we first solve the dependency repos enhancement in moban.

[2018-07-03 22:17] anthonyjchriste commented on #2554
The languages page still does not list anything. Is there a way to fix this?

[2018-07-04 01:57] jayvdb commented on #2574
This bear was created by @yash-nisar, and I expect he is a bit too busy for even easy maintenance.

[2018-07-04 04:11] jayvdb commented on #2574
Note that the tests also need to be updated, as they have explicit column references which will need to be offset by 1.

[2018-07-04 10:37] #2575 closed

[2018-07-04 14:54] li-boxuan commented on #2563
First, line number starts at 1.

Sometimes we can see messages like `CheckstyleBad.java:0: Missing package-info.java file`.

`This is because some checks print violations their own way, especially when they don't use the java parser`
https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/javadoc/JavadocPackageCheck.java#L89

Second, column number

[2018-07-04 16:41] refeed opened #2578 "FilenameBear shouldn't make a diff if the new name and the old name don't differ"
`FilenameBear` shouldn't make a `Diff` if the `messages` list just contains `"Filename is too long", since the provided diff isn't helpful.

[code]

[2018-07-04 16:47] refeed opened #2579 "FilenameBear should use the length of the filename not the filepath for its "Filename is too long" message"
When I test a file with filename `test` with `FilenameBear` with `max_filename_length=1` (in order to trigger the `"Filename is too long"` message), the message uses the length of the path (`/home/rafid/test`) which is `16`, not the filename itself (`name` which is `4`).

The message should use the length of the filename.
[code]

[2018-07-04 17:57] refeed commented on #2578
Well, I think the long term solution for this is just don't make any `Diff` if there's no any differences between the new name and the old name.

[2018-07-04 20:33] #2578 closed

[2018-07-05 04:10] #2571 closed

[2018-07-05 06:59] jayvdb commented on #2579
@refeed, we do need a path length error. See orig issue for this.

Windows path length problems need to be detected on unix.

Current implementation looks dodgy, and we need a quick fix, but length of filename and filepath are both important.

[2018-07-05 12:29] #2564 closed

[2018-07-06 01:26] jayvdb opened #2582 "Check style of all Python files"
Currently some python files are not being checked, especially those in `.ci/`.

[2018-07-06 01:32] jayvdb opened #2583 ".ci/adjust_version_number.py: Use single quotes"
This file isnt in line with coala style.
c.f. https://github.com/coala/coala-bears/issues/2582

[2018-07-06 06:55] SubbulakshmiRS commented on #2504
this bear should check for naked returns in functions of lengths more than the specified number right ?
If present , a warning should be given out ?
Also the checking is done by  nakedret -l no_of_lines filename
@Makman2 is this correct ?

[2018-07-06 10:53] MacBox7 opened #2585 "ClangBear.py: Rename variable range"
`range` is a python builtin and shouldn't be redefined. Rename occurrences at [1](https://github.com/coala/coala-bears/blob/master/bears/c_languages/ClangBear.py#L55) and [2](https://github.com/coala/coala-bears/blob/master/bears/c_languages/ClangBear.py#L103).

Difficulty: Newcomer

[2018-07-06 10:57] #2510 closed

[2018-07-06 10:58] Makman2 commented on #2389
Please see also https://github.com/coala/coala-bears/issues/2510 (duplicated issue of this one). Some discussion evolved there as well.

[2018-07-06 11:06] kUSHAL0601 commented on #2585
I would like to work on this for a start.

[2018-07-06 11:10] MacBox7 commented on #2585
Leave a comment on the group to get assigned.

[2018-07-07 00:43] jayvdb commented on #2570
This bug is because 7a42fbcf didnt do  ClangComplexityBear also.

[2018-07-07 15:14] jayvdb opened #2588 "TextLintBearTest.test_bad_alex_no_dead_link uses http://httpstat.us/404 which is 503"
`tests/general/textlint_test_files/bad_alex_no_dead_link.md` contains a link to http://httpstat.us/404 , and `tests/general/TextLintBearTest.py` expects textlink to report `(404 Not Found)` , but http://httpstat.us/404 is reporting 404

Use http://httpbin.org/status/404 instead

[2018-07-07 16:32] kriti21 commented on #2588
Please assign this to me.

[2018-07-07 16:53] #2570 closed

[2018-07-07 16:58] joeytwiddle commented on #780
Why not just use the `.eslintrc` file specified in the project? It looks like the bear can [accept that](https://github.com/coala/coala-bears/blob/9c86a40ed5ff1ac1b0bcd44c8aef2a0f154785c1/bears/js/ESLintBear.py#L40) as an option.

[2018-07-07 17:01] pareksha opened #2589 "IndentationBearTest: Change `comment_delimiter` to `comment_delimiters`"
`comment_delimiters` accepts a tuple after merge of https://github.com/coala/coala/pull/5595. Prior to this,`comment_delimiter` was used without the support of multiple comment delimiters.

[2018-07-07 17:35] joeytwiddle opened #2590 "[ESLintBear] Use the eslint executable inside node_modules"
Many Javascript developers don't have `eslint` installed globally. Instead, we use the `eslint` that is installed locally in the `node_modules` folder of the current project.

This is becoming quite common practice. It means different projects can have different versions of eslint, and different eslint plugins, with no danger of any conflicts. (The plugins are usually referenced by the project's `

[2018-07-08 08:48] jayvdb commented on #2588
Transient problem; disappeared.

[2018-07-08 09:03] jayvdb opened #2591 "apt-get fails because there were unauthenticated packages"
The packages pulled from the ppas frequently result in:

[code]

We then need to rebuild the commit.

[2018-07-08 09:30] jayvdb commented on #2591
Probably related https://github.com/travis-ci/travis-ci/issues/9822

[2018-07-08 11:11] jayvdb commented on #2560
Mostly solved itself; most devs will have rebuilt by now.

[2018-07-08 11:11] #2560 closed

[2018-07-08 11:51] #2567 closed

[2018-07-08 12:42] jayvdb opened #2592 "Disable sudo on Travis"

[2018-07-08 14:29] jayvdb commented on #2552
Duplicate of https://github.com/coala/coala-bears/issues/2302

[2018-07-08 14:29] #2552 closed

[2018-07-08 16:07] jayvdb commented on #2590
This is probably a dup of https://github.com/coala/coala-bears/issues/2521 , and others

[2018-07-08 16:09] jayvdb commented on #2537
Duplicate of https://github.com/coala/coala-bears/issues/2488

[2018-07-08 16:09] #2537 closed

[2018-07-08 16:15] jayvdb commented on #2405
And now that it is done, and we are using the go-metalinter installer, IMO we should first look to see if there are any of *those* linters which we can create bears for --- i.e. the linter has more features which go-metalinter doesnt expose, but we can.  Especially any fixing-linters.

[2018-07-09 00:12] #2302 closed

[2018-07-09 05:26] jayvdb opened #2596 "Use gometalinter installer for all golang syntax checkers"
Most of the go linters are installed using [`gometalinter`](https://github.com/alecthomas/gometalinter) which keeps a versioned copy of the dependencies.

However we still have the manual install of
[code]

`tomlv` isnt a linter of go language, so it wont be suitable for gometalinter, but it is less likely to break with go versions because it doesnt check go syntax which changes with each golang v

[2018-07-09 08:35] mwolting opened #2601 "MypyBear uses outdated version of mypy"
MypyBear currently depends on the package `mypy-lang~=0.4.6`. However, mypy has moved from `mypy-lang` to the `mypy` package and seen several releases since that version, and (among other things) is now fully compatible with Python 3.6. It would be helpful if the MypyBear could be migrated to the latest version to benefit from that.

[2018-07-09 10:22] #2563 closed

[2018-07-09 10:22] #2589 closed

[2018-07-09 10:22] #2393 closed

[2018-07-09 10:22] #2562 closed

[2018-07-09 10:22] #2572 closed

[2018-07-09 10:22] #2573 closed

[2018-07-09 10:22] #2574 closed

[2018-07-09 12:20] jayvdb commented on #2596
Another go bear to potentially add to gometalinter https://github.com/coala/coala-bears/issues/1649

[2018-07-09 22:49] #2592 closed

[2018-07-10 05:54] pareksha opened #2602 "Migrate `LineLengthBear` to aspects"
Migrate `LineLengthBear` to the following aspects and tastes:

`Root.Formatting.Length.LineLength` aspect with `max_line_length` as taste.

[2018-07-11 00:07] kUSHAL0601 commented on #2601
I would like to work on this one.

[2018-07-11 01:05] jayvdb commented on #2601
No.  You need to finish you newcomer issue https://github.com/coala/coala-bears/issues/2585 first.

[2018-07-12 10:40] jayvdb commented on #2588
Problem re-appeared at https://github.com/coala/coala/issues/5628 .

Lets use httpbin.org everywhere.

As then we can switch to using `pytest-httpbin` afterwards

[2018-07-13 02:36] #2588 closed

[2018-07-13 03:49] jayvdb commented on #2533
The cause is ESLint emits a message `File ignored by default.  Use a negated ignore pattern (like "--ignore-pattern '!<relative/path/to/filename>'") to override.` without any ruleId or line number.

[2018-07-13 05:56] jayvdb opened #2607 "ESLintBear emits a warning for files on its default ignore list"
Previously an unhandled exception in the bear, now the bear emits the warning from eslint when the source file is in its default ignore list.

See for background

https://github.com/coala/coala-bears/issues/2533#issuecomment-404717644

The problem is that a generic glob like `**.js` might result in the eslint message, which becomes a coala message, and an error.

Probably the simplest way to deal

[2018-07-13 12:10] #2444 closed

[2018-07-13 13:06] sinscary commented on #2585
@MacBox7  Can i take this up?

[2018-07-13 16:17] sinscary commented on #2601
@jayvdb Can I work on this?

[2018-07-15 05:41] ishanSrt commented on #2532
[code]
doesn't work
would be really great if you could help me construct the simplest of examples like:
[code]
The class `fruit` may derive from anything enum or whatever, I still believe everything is ignored when using the syntax `def func(param: type_annotation)` unless the program is invoked with the `mypy` package and when invoked with the `mypy` package, and when using the `mypy` package, I

[2018-07-15 14:54] sinscary commented on #2601
@jayvdb Can I take this up?

[2018-07-15 19:08] MorTD commented on #2585
Hello

Is this issue available?

[2018-07-15 19:13] MacBox7 commented on #2585
Yes. Ask for assignment on coala chat.

On Mon, Jul 16, 2018, 12:38 AM Mor Elmaliach <notifications@github.com>
wrote:

[2018-07-16 09:49] jayvdb opened #2609 "JSStandardBearTest and HappinessLintBearTest.test_invalid_files failures"
These are intermittent failures, and restarting the job usually causes the problem to disappear.

As the jobs are restarted, evidence is usually disappeared.

Current case is : https://travis-ci.org/coala/coala-bears/jobs/399813492

[2018-07-16 10:55] jayvdb commented on #2609
https://travis-ci.org/coala/coala-bears/builds/404372982 - it happened again.
Maybe related to that `.gitignore` change.

[2018-07-16 11:22] jayvdb opened #2610 "Proposal: GitIgnoreBear"
Checks that no files in the repository match the entries in GitIgnore

i.e.
runs `git ls-files | git check-ignore --no-index --stdin -v`

[2018-07-16 12:03] #2533 closed

[2018-07-16 17:58] jayvdb commented on #2518
@Hrithik19, please accept the org invite so we can merge your PR.

[2018-07-16 23:50] jayvdb opened #2611 "coala requires 3.4.4 but coala-bears requires 3.4.0"
https://github.com/coala/coala/issues/4350 updated the minimum version of Python to 3.4.4, and coala-bears version checks were not updated at the same time.

We have two jobs which check the error message for other versions of Python, and even after 6906e54651 they passed.  They should have failed.

Those jobs were still installing the released package of coala, not the master.

The cause of that

[2018-07-17 13:37] Hrithik19 commented on #2518
@jayvdb Accepted

[2018-07-19 04:50] jayvdb opened #2617 "Generate Haskell cabal dependencies"
`.ci/generate_bear_requirements.py` generates `bear-requirements.yaml` which [`moban`[(https://github.com/moremoban/moban) uses to generate `package.json`, `bear-requirements.txt` and `Gemfile`.

The same process should generate Haskell cabal requirements in an format usable by a Haskell cabal dependency management tool, using jinja2 templates.

We already have one file
https://github.com/coala/co

[2018-07-19 04:54] jayvdb opened #2618 "Generate php composer dependencies"
`.ci/generate_bear_requirements.py` generates `bear-requirements.yaml` which [`moban`](https://github.com/moremoban/moban) uses to generate `package.json`, `bear-requirements.txt`, `Gemfile`, and `coala-bears.cabal`.

The same process should generate composer requirements in an format usable by php composer, using jinja2 templates.

[2018-07-19 05:24] anctartica opened #2619 "Sync moban"
Appveyor ci should now run `coala --ci`

[2018-07-19 07:10] MacBox7 opened #2621 "Bump pyflakes version to 2.0.0"
Difficulty: Newcomer

[2018-07-19 10:41] jayvdb commented on #2621
All repos need to be fixed first.

[2018-07-19 11:29] MacBox7 opened #2622 "generate_package.py: redefinition of unused 'glob'"
Error: `bears/generate_package.py:14: redefinition of unused 'glob' from line 2`
Importation of glob on line 2 is unnecessary and should be removed.
difficulty/newcomer

[2018-07-19 11:37] MacBox7 opened #2623 "Constants.py: Put VERSION inside __all__"
Put VERSION inside __all__. Run `pyflakes==2.0.0` and ensure no errors.
difficulty/newcomer

[2018-07-19 18:35] RaiVaibhav commented on #2511
There was not any problem but the new approach is what I didn't like as they remove the `cve` from [safety](https://github.com/pyupio/safety/blob/master/safety/safety.py#L12) instead they used the `id`, so bear will give a message which will contain a [vuln_id](https://github.com/pyupio/safety/blob/master/safety/safety.py#L143) instead of `cve` so if user wants to know about its `cve` key for furt

[2018-07-19 18:37] RaiVaibhav commented on #2511
As `cve` key is much more important instead of `vuln_id` as anyone can directly do a google search to know about that `cve`

[2018-07-19 18:38] RaiVaibhav commented on #2511
I don't have any problem in upgrading. :)

[2018-07-20 05:49] jayvdb commented on #1550
And now we dont need to use `git diff --exit-code` due to arg `--check` being added as part of https://github.com/coala/coala-bears/pull/2446 for https://github.com/coala/coala-bears/issues/2444

However a failure to load a bear should be an error.

[2018-07-20 05:51] jayvdb commented on #2511
Thx @RaiVaibhav .  Is https://github.com/coala/coala-bears/issues/1684 fixed ?

[2018-07-20 05:54] RaiVaibhav commented on #2511
I didn't know about that issue, https://github.com/coala/coala-bears/issues/1684  will be fixed when I upgrade the Bear, that error was because of change in `safety` code.

[2018-07-20 05:55] RaiVaibhav commented on #2511
Assign me both and also please tell me that its urgent?

[2018-07-20 06:21] jayvdb commented on #2511
Yes quite urgent. Holds up other patches.

[2018-07-21 02:19] virresh opened #2628 "TextLintBear failures on master"
Reason for failure -> `https://coala.io is dead. (request to https://coala.io failed, reason: unable to verify the first certificate)`

[code]

[2018-07-21 03:31] virresh commented on #2628
Fixed by yukiisbored

Rebuild is passing now: https://travis-ci.org/coala/coala-bears/builds/406235837

[2018-07-21 03:31] #2628 closed

[2018-07-21 03:37] sladyn98 commented on #2622
Can this issue be assigned to me.

[2018-07-21 07:34] jayvdb commented on #512
cib & package_manager are solving this.

[2018-07-21 07:39] #512 closed

[2018-07-21 08:22] RaiVaibhav opened #2629 "Fix spelling mistake"
`parseable` ---> `parsable`
https://github.com/coala/coala-bears/blob/master/bears/python/requirements/PySafetyBear.py#L97

difficulty/newcommer

[2018-07-21 19:00] prankshaw commented on #2629
I will like to review this issue. Please tell me how can I achieve that

[2018-07-21 19:07] prankshaw opened #2632 "No response generated"
No response is being generated on filling search bar and pressing **'Enter'** at [https://coala.io/#/languages](url)

[2018-07-22 04:53] jayvdb commented on #2632
@sks444 , this issue is in the wrong repo.
I believe we have an issue about this already.
Can you find it, note it here, and ensure that the priority of that issue is escalated.

[2018-07-22 11:03] MacBox7 opened #2633 "CI failing due to release of pip 18.0"

[2018-07-22 11:22] anctartica opened #2635 "Add settings for EslintBear"
Add language setting to EslintBear to support using various parsers and plugins available for the linter.

[2018-07-22 13:11] #2619 closed

[2018-07-22 17:50] MacBox7 commented on #2633
Closed by https://github.com/coala/coala-bears/pull/2620

[2018-07-22 17:50] #2633 closed

[2018-07-23 00:17] jayvdb commented on #2629
Duplicate of https://github.com/coala/coala-bears/issues/2299

[2018-07-23 00:17] #2629 closed

[2018-07-23 01:33] jayvdb commented on #2635
See also https://github.com/coala/coala-bears/issues/374 , and other "eslint" and "eslintbear" issues.

Also JSHintBear has a lot more settings and we should be trying to use similar setting names for the JS bears where the setting has the same effect.  We can rename JSHintBear settings if a better name is required in order to be suitable for both bears. (setting name deprecation is an easy decora

[2018-07-23 05:20] #2518 closed

[2018-07-23 09:12] jayvdb opened #2637 "xo eslint cli"
https://github.com/xojs/xo
Another eslint based linter than can be a separate bear , easily, after the eslintbear upgrade @anctartica is working on

[2018-07-23 10:08] vaibhav9619 commented on #2437
Assign me the issue

[2018-07-23 11:07] jayvdb commented on #2437
I've assigned you to this issue.  Please do it first.

[2018-07-23 14:45] jayvdb opened #2638 "Standardise on installing to ~/.local/"
A lot of this was done in https://github.com/coala/coala-bears/pull/2594 , as a substitute for installing into root only locations.

But the more we use consistent locations, the less fiddling required to `PATH`, and the more likely the scripts can be reused on other platforms.

[2018-07-23 15:16] ShashwatNigam99 commented on #2623
Can i be assigned this issue?
Also need a bit more elaboration on what needs to be done

[2018-07-23 15:21] MacBox7 commented on #2623
Ask for assignment on coala gitter. Read about `__all__` in [here](https://stackoverflow.com/questions/44834/can-someone-explain-all-in-python). You need to place `VERSION` in `Constants.py` inside `__all__`. Install `pyflakes==2.0.0` and run it on `Constants.py` and see if any error is being generated.

[2018-07-23 17:15] jayvdb commented on #2585
PR closed and issue unassigned because you've not been following the guideline or reading the bot messages.

[2018-07-23 17:23] #2623 closed

[2018-07-23 23:58] #444 closed

[2018-07-24 08:44] MacBox7 opened #2640 "Make VultureBear configurable"
VultureBear hasn't been configured to work with `--sort-by-size` and `--min-confidence`.
A major problem is no room for whitelisting. Vulture has a provision using `--make-whitelist` but we can have our own logic implemented so that no additional files get created.

[2018-07-24 19:53] dhruv10 commented on #2453
I want to work on this issue. Also, I need elaboration as I'm a newbie.

[2018-07-24 21:15] AKG001 commented on #2585
Hey, can i work on this issue?

[2018-07-24 21:32] ANURADHAJHA99 commented on #2585
can you please assign  this issue to me?

[2018-07-25 03:31] MacBox7 commented on #2585
Ask on group chat please

[2018-07-25 07:23] jayvdb commented on #2585
Assigned to @Karna98 as they have already accepted the invite to join @coala

[2018-07-25 09:19] jayvdb commented on #1921
Was marked as wontfix.
Closing.
We may want to revisit this if the core ever improves to not load the entire repo into memory

[2018-07-25 09:19] #1921 closed

[2018-07-25 13:54] Naveenaidu commented on #2640
Can I please be assigned to this issue.

[2018-07-25 14:11] gutsytechster commented on #2389
I would like to work on this issue. Please assign it to me. :P

[2018-07-25 14:56] MacBox7 commented on #2389
Ask for assignment on coala gitter group.

[2018-07-25 14:57] gutsytechster commented on #2389
I have asked there too.

[2018-07-25 17:30] Karna98 commented on #2585
@jayvdb Since the issue states that the defined variable 'range' is coinciding with per-defined variable in python 'range'. So after changing the variable_name how to check whether is it working or not?. Do I have to the whole project in my system?

[2018-07-25 19:19] jayvdb commented on #2640
ping @RJ722 . Guidance please.

[2018-07-26 00:46] jayvdb opened #2642 "CommitBear: IndexError: list index out of range"
If there is no body for a commit, the following occurs

[code]

[2018-07-26 00:52] jayvdb commented on #2642
Duplicate of https://github.com/coala/coala-bears/issues/2031

[2018-07-26 00:52] #2642 closed

[2018-07-26 13:12] jayvdb opened #2644 "textlint npm warnings"
TextLintBear was added since the last release; we should investigate deprecation warnings before the next release as something might break..

[code]

[2018-07-26 20:00] ANURADHAJHA99 commented on #1711
can you please assign this to me??

[2018-07-26 21:34] ANURADHAJHA99 commented on #2437
can you assign me this issue?

[2018-07-27 03:12] RJ722 commented on #2640
Currently, vulture supports following arguments:
* `--exclude`

Since VultureBear is a global bear, `--exclude` setting can be implicitly overridden using the following in .coafile:
[code]

Other configurations:

* `--make-whitelist`
* `--min-confidence`
* `--sort-by-size`
* `--verbose`
* `--ignore-names`
* `--ignore-decorators` (Yet to be added)

Now, all of these should be passed as arguments to

[2018-07-27 03:14] RJ722 commented on #2640
Hmm, wait `--make-whitelist` is not part a part of the Vulture API (yet!) - currently, `make_whitelist` directly prints to `stdout`. Hmm, let me make an issue upstream and then we can handle this PR.

[2018-07-28 01:39] jayvdb commented on #2638
There are a few parts of .ci/deps.sh which install into strange locations.

Changing where these installers put there files will not be easy -- probably need to look insider the installer logic.

Feel free to only fix one of them, and use `Related to https://github.com/coala/coala-bears/issues/2638` in the commit message so that the issue isnt closed after the first one is merged.

[2018-07-28 16:50] jayvdb commented on #1888
Unassigned due to inactivity

[2018-07-28 17:08] jayvdb commented on #1965
Unassigning due to inactivity.

[2018-07-28 17:08] jayvdb commented on #1965
(closing PR, not issue .. )

[2018-07-29 06:17] jayvdb opened #2650 "Update setup.cfg, remove tests.sh and env_variables.sh"
`coverage-env-plugin` provides the same functionality as tests.sh and env_variables.sh

The setup.cfg template provides this automatically.

It is blocked by https://github.com/coala/coala-bears/pull/2615

[2018-07-29 15:14] #2601 closed

[2018-07-30 16:41] jayvdb commented on #2644
Run `npm install` in this repo to see the problem, and to check it has been fixed

[2018-07-30 16:43] sladyn98 commented on #2644
You mean in my local machine right?

[2018-07-30 16:49] jayvdb commented on #2644
anywhere.

if you dont have data to download them all, enable Travis CI on your fork and push a change to your fork.  `npm install` runs on Travis and you can see the log.

[2018-07-30 17:11] jayvdb commented on #2103
We are building a template for this file.

[2018-07-30 17:24] sladyn98 commented on #2644
npm install returns:
 npm WARN coala-bears@0.8.0 No repository field.
npm WARN coala-bears@0.8.0 No license field.

[2018-07-31 04:40] jayvdb commented on #2532
You keep talking about `mypy` when you know `language` works, and you know that `known_checkstyle_or_path` works, and I have told you multiple times to not consider `mypy` because it is not necessary.

Checkstyle has a significant problem when trying to do this nicely.  `FunctionMetadata` doesnt properly support `(Enum, None)` or `(Enum, path)`, etc.  https://github.com/coala/coala/issues/5683 is

[2018-07-31 09:36] ishanSrt commented on #2532
The `language` works because it doesn't use type annotations.

Actually the type annotations doesn’t have any significance over here:
`CPDBear`:

Actually the type annotations doesn’t have any significance over here
I say that because value checks for language work even if we remove the type annotation over here (again because of the preprocessing of this arg)

`def func( some_param: any_thing_ove

[2018-08-01 06:40] yzgyyang opened #2651 "Bump lxml version?"
Any particular reason that we are pinning lxml==3.6.0 despite the newest being 4.2.3? The new version fixes installation issues on my Mac (macos 10.13, Python 3.7.0).

[2018-08-01 12:06] starlord1311 commented on #2637
@jayvdb can i take up this issue?

[2018-08-02 14:34] jayvdb commented on #2651
Appveyor install problems iirc, and there is issue in quickstart repo also.

[2018-08-03 21:22] kunalvaswani123 commented on #1965
corobo assign https://github.com/coala/coala-bears/issues/1965

[2018-08-04 00:31] #2602 closed

[2018-08-04 02:26] jayvdb commented on #2651
@yzgyyang did you want to try solving this?

[2018-08-05 05:31] sladyn98 commented on #2479
Can i get assigned to this issue

[2018-08-05 05:31] pareksha opened #2653 "Migrate `PEP8Bear` to aspects"
Migrate PEP8Bear to the `Root.Formatting.Length.LineLength` aspect with `max_line_length` as taste.

[2018-08-05 12:50] #2585 closed

[2018-08-05 18:17] pareksha opened #2656 "Migrate `PycodestyleBear` to aspects"
Migrate `PycodestyleBear` to the `Root.Formatting.Length.LineLength` aspect with `max_line_length` as taste.

[2018-08-06 14:33] jayvdb opened #2659 "Jinja2Bear: Allow end of block to not have a comment"
The docstring of this bear mentions "Control labels: ..." and requires a trailing comment for every block

[code]

That might seem nice, but it creates a mess when the `for` or `if` is a complicated expression.

As a result we have turned off the bear on some repos.

Add the ability for this rule to be disabled, so that we can continue using the rest of the bears functionality.

[2018-08-06 14:36] jayvdb commented on #2659
Here is an example of where we did what the bear demanded.

https://github.com/coala/coala-bears/blob/master/.moban.dt/Gemfile.jj2

See the `| sort` at the end of the comment.

That is a semi-acceptable case.  There are much worse cases where lots of garbage had to be added, and we said no.

We could have a smarter rule about what the comment should look like, but it is more important to always be

[2018-08-06 18:51] #2621 closed

[2018-08-07 09:28] jayvdb commented on #1119
Unless we know that 1.9.35 is the minimum, then no it should be 1.9.1  Older systems, or small distros, often have very old version of haskell progs, as getting them to build can be a bit difficult, and optimising the size of them even harder.

[2018-08-07 12:56] #2656 closed

[2018-08-07 16:34] jayvdb opened #2660 "Allow version 1.3.x for autopep8"
PEP8 bear should also allow version 1.3.x

[2018-08-07 16:49] jayvdb commented on #2660
There is a fairly bad bug in 1.2 for Python 3.5+ on Windows which @anctartica encountered amd got a backtrace at
https://ci.appveyor.com/project/anctartica/cib/build/1.0.151/job/wg3v79vpsjb44mqd

fixed at
https://github.com/hhatto/autopep8/commit/a076f71da18a65fa39201c62529af2a70d624522

[2018-08-07 16:49] jayvdb commented on #2660
released in 1.2.2 ... hmm

[2018-08-08 10:10] jayvdb commented on #1199
@anctartica , I just checked, and that `bears/requirements.txt` is completely unused.
tests pass without it. https://travis-ci.org/jayvdb/coala-bears/jobs/413495418

[2018-08-08 15:03] jayvdb opened #2662 ".coafile: Set max line characters to 80"
This is a partial revert of https://github.com/coala/coala-bears/issues/580

The line feed at the end is never counted when counting line length.  If for no other reason that it differs per OS.

The idea behind that issue was ok, but it was just one repo, while the other repos stayed at 80cpl , especially as it was often hard-coded into their .coafile such as https://github.com/coala/coala/blob/ma

[2018-08-08 15:32] #1199 closed

[2018-08-08 17:04] saksham189 opened #2664 "Travis CI failing due to infer breakage with javalib"
Recent travis build for python 3.6 fail while trying to build infer.

[code]

https://travis-ci.org/coala/coala-bears/jobs/413575180

[2018-08-08 17:52] #2662 closed

[2018-08-09 06:47] jayvdb commented on #2664
@harshhx17, maybe you can take this one?

[2018-08-09 07:03] harshhx17 commented on #2664
I will surely try🙂

[2018-08-10 07:39] #1976 closed

[2018-08-10 09:17] jayvdb opened #2665 "ShellCheckBear: replace shell setting with language"
Following up from https://github.com/coala/coala-bears/issues/2532#issuecomment-409092411

Setting `shell` should be deprecated and replaced with a `language` setting.

This depends on having a coalang definition for all four of the shell variations.

[2018-08-11 05:33] jayvdb opened #2668 "CheckStyleBear: Split known_checkstyle_or_path"
c.f. https://github.com/coala/coala-bears/issues/2532#issuecomment-409092411 and https://github.com/coala/coala/pull/5701

[2018-08-11 05:42] jayvdb commented on #2532
https://github.com/coala/coala/pull/5701 was done, so we can proceed with CheckStyleBear

[2018-08-11 12:25] jayvdb commented on #1307
This could be part of https://github.com/coala/projects/issues/603

[2018-08-11 12:32] jayvdb commented on #2660
our current requirement `~=1.2` does allow 1.3.x .
something else was broken.

[2018-08-11 12:32] #2660 closed

[2018-08-11 12:40] jayvdb opened #2669 "GNUIndentBear: max_line_length=0 does not work"
https://github.com/coala/coala-bears/pull/2255 did nothing at all, having set the max_line_length after the CLI option had been created.

[2018-08-11 12:42] jayvdb commented on #2249
This was dead code https://github.com/coala/coala-bears/issues/2669

[2018-08-11 12:48] jayvdb commented on #2669
Also could have been sys.maxsize like

https://github.com/coala/coala-bears/commit/ea1dd75c726ba99f64075cd73135833561be4723

or at least both should be the same ?

[2018-08-11 14:49] jayvdb opened #2670 "GofmtBear tests do not skip if not installed"
https://github.com/coala/coala-bears/pull/1727 forgot to add the skip decorator on the new test class

[code]

[2018-08-12 02:22] jayvdb opened #2672 "Trailing comma bear"
https://www.python.org/dev/peps/pep-0008/?#when-to-use-trailing-commas

https://pypi.org/project/flake8-commas/ and https://pypi.org/project/add-trailing-comma/

[2018-08-12 10:52] AKG001 commented on #1888
I have to add the following line in RuboCopBear.py in create_arguments(..) function, right?
":param rubocop_config: Path to a custom configuration file."

and remove these lines from the same file also
# Need both stdin and filename. Explained in this comment:
# https://github.com/bbatsov/rubocop/pull/2146#issuecomment-131403694

Correct me, if i'm wrong.

[2018-08-12 12:33] #2226 closed

[2018-08-12 14:52] #2214 closed

[2018-08-12 16:32] #1951 closed

[2018-08-12 16:32] #2635 closed

[2018-08-13 02:04] jayvdb opened #2673 "Clang bears on Windows"
Currently we use the following on Windows to avoid certain bears

We need to avoid that list of `not` somehow, so that Windows can use the standard templates without that special hack.

[2018-08-13 16:53] #2659 closed

[2018-08-14 01:48] refeed opened #2674 "Handle Github temporary merge commit in GitCommitMetadataBear"
GitHub temporary merge commit is a commit that's created by GitHub in `refs/<PR_number>/merge` ref. Travis-CI pulls that ref in their CI for testing which makes `GitCommitMetadataBear` fetch the temporary merge commit instead of the actual commit. This would make `GitCommitMetadataBear` doesn't work properly, and so it dependants.

More info https://github.com/coala/coala-bears/pull/2501

cc @krit

[2018-08-14 02:55] kriti21 commented on #2674
Assign this to me.

[2018-08-15 08:45] jayvdb commented on #2669
Sorry @shashwatmishra76 ; @srivama had asked me about this one but I was a bit too busy at the time.

[2018-08-15 08:59] shashwatmishra76 commented on #2665
@jayvdb Can I be assigned to this issue?

[2018-08-15 09:13] jayvdb commented on #2665
Sorry @shashwatmishra76 , this one is blocked because the four languages are not yet defined in https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions .

It only has Shell, not Bash, and Ksh, etc.

I've created https://github.com/coala/coala/issues/5710 about that.
If you know your shells very well, you might like to take that one.

[2018-08-15 14:50] codeKAMAT commented on #2304
I would like to fix this issue

[2018-08-16 06:56] #2488 closed

[2018-08-16 06:56] #2611 closed

[2018-08-16 08:07] #2669 closed

[2018-08-17 02:37] Man-Jain opened #2677 "Extra commas and missing braces in json file bear"
The json bear will be able to detect extra commas and remove them.

Also It could add missing braces wherever needed.

[2018-08-17 03:10] jayvdb commented on #2677
Due to the way JSONFormatBear works, it might already remove redundant or erroneous commas; add a test case first to see if it works.

If it doesnt handle erroneous commas, the bear will probably not be able to parse the JSON and therefore also can not easily fix it, which would make it almost unsolvable with JSONFormatBear.

braces is probably also not solvable with JSONFormatBear.

[2018-08-17 04:01] jayvdb opened #2678 "BanditBear test_jinja2_templating failing"
Error:

https://travis-ci.org/coala/coala-bears/jobs/417074263

[2018-08-17 12:12] jayvdb commented on #2678
There was a new release of bandit 1.5.0 a few hours ago, which has caused this.

[2018-08-19 05:23] ankita240796 opened #2681 "Install only some selected bears instead of all bears"
Hi,

Is there a way to install only some of the selected bears instead of all bears. `cib` is mentioned in documentation but it is broken. So, is there some other way of doing this?

Thanks!

[2018-08-19 06:15] jayvdb commented on #2681
`cib` has just been fixed by @anctartica , so it is probably possible to use it now.
Hopefully @anctartica can help with this query.

We also have other WIP approaches to install only some of the pip bear dependencies, but they are a month or so away from completion.

[2018-08-21 14:41] sumitcn commented on #2583
Can I do some help !

[2018-08-23 00:43] jayvdb commented on #2583
Appreciate the interest, but this issue is assigned to the primary author of the script, to keep attribution simple.

We have many more you can help with ; see https://coala.io/newcomer

[2018-08-25 03:55] ayushagg31 commented on #2453
@jayvdb  assign this to me.

[2018-08-25 08:06] ankita240796 commented on #2681
Hi @jayvdb @anctartica ,  I tried using cib but I get this error:

[code]

[2018-08-25 08:31] anctartica commented on #2681
Sorry for the late response. @ankita240796
The current version of cib is broken. So, you could head over to https://gitlab.com/coala/cib, clone the repository and install latest version from there which should be working.

[2018-08-27 07:53] ankita240796 commented on #2681
Thanks @anctartica!

[2018-08-27 17:37] Man-Jain commented on #2677
Also I don't think that missing braces would be possible.
Another feature that I was thinking about was to check whether the Strings are in Double quotes or single quotes and if the later convert them to double quotes.

[2018-08-29 06:07] apb7 commented on #1965
@jayvdb: Can you please assign this issue to me? Thanks!

[2018-08-29 22:29] #2678 closed

[2018-08-30 04:37] jayvdb opened #2682 "CSSCombBear: do not use stdin"
csscomb 's `languages` should be expanded to add SCSS and SASS

csscomb determines file type using file extension, so therefore it is critical that the filename be given on the command line, and not use stdin.

[2018-09-01 05:39] e-aakash commented on #1733
I want to work on this issue.
Please assign this to me.

[2018-09-01 06:09] li-boxuan opened #2683 "CommitBear: Check proper use of `https` when referencing issues for GitHub"
https://github.com/coala/coala-bears/blob/master/bears/vcs/CommitBear.py#L360 matches links and tags, e.g. `fix #123`, `fix https://github.com`

This would also pass the test `Closes http://github.com`. However, this would not trigger GitHub [autolinked reference feature](https://help.github.com/articles/autolinked-references-and-urls/). The commit message should be `Closes https://github.com` ins

[2018-09-02 04:04] jayvdb commented on #1072
And now 5.

[2018-09-02 12:17] #2632 closed

[2018-09-02 14:00] #1733 closed

[2018-09-03 13:51] jayvdb commented on #1638
@44rdvark , are you still working on this?

[2018-09-04 07:13] harshhx17 commented on #2453
@phoenixking25
Yess

[2018-09-04 09:17] phoenixking25 commented on #2453
Please assign me this issue @harshhx17

[2018-09-04 11:33] apb7 commented on #1965
Hi @Makman2 and @jayvdb, can you please assign this issue to me? Thanks!

[2018-09-04 11:42] minhaj3 commented on #2441
Please assign this issue to me. Corobo assign is not working.

[2018-09-04 11:55] harshhx17 commented on #2453
@jayvdb ^

[2018-09-07 03:32] Man-Jain commented on #2665
@jayvdb I think this issue should be unblocked as the definitions are now added.

[2018-09-11 20:10] anshulahuja98 commented on #2304
Since this issue has been stale for 27 days, can it be assigned to me @jayvdb ?

@codeKAMAT what is your status?

[2018-09-11 20:14] anshulahuja98 commented on #2389
It seems that previous PR has not been merged, can you update the status of the issue and assign it to me if work has not been done till now?

[2018-09-11 20:18] anshulahuja98 commented on #2437
Can this issue be assigned to me, the previous assignee looks inactive...

[2018-09-13 15:36] Dhiraj240 commented on #2618
@jayvdb I would like to work on this issue.Please assign it to me.

[2018-09-19 08:11] AkshJain99 commented on #2437
I find this issue interesting to solve,
Please assign this issue to me I would like to work in it

[2018-09-20 23:46] #2453 closed

[2018-09-21 03:30] PrajwalM2212 opened #2692 "The Language search feature on website is not working"
<img width="1680" alt="screen shot 2018-09-21 at 8 59 44 am" src="https://user-images.githubusercontent.com/30733262/45858803-b5e3ce00-bd7c-11e8-9ef8-602b387eb070.png">

[2018-09-22 10:30] anctartica commented on #2618
Yes you should be able to use `~` operator. https://getcomposer.org/doc/articles/versions.md
Although none of the current composer requirements in bears specify a version.

[2018-09-23 13:46] AkshJain99 commented on #2437
Anyone please review this PR

[2018-09-24 05:56] shikharvaish28 commented on #2516
Seems interesting. @jayvdb Please assign it to me.

[2018-09-24 12:17] rishabhgarg25699 commented on #2441
Please assign this issue to me @jayvdb  . As no one is working on this issue .

[2018-09-24 12:19] rishabhgarg25699 commented on #2441
Please no one starts working on this As i am on this

[2018-09-24 13:57] rishabhgarg25699 commented on #2394
@jayvdb Please assign this issue to me

[2018-09-25 15:40] rishabhgarg25699 commented on #2304
@jayvdb Please assign this issue to me . As no one is working

[2018-09-26 19:48] rishabhgarg25699 commented on #2443
@jayvdb Please assign this issue to me.

[2018-09-26 19:48] rishabhgarg25699 commented on #2443
I am working on this issue , So please no one work on it

[2018-09-28 10:44] alirizwi commented on #2500
@Makman2 I want to work on this issue. Could you please guide me how to proceed. Thanks!

[2018-09-28 10:45] alirizwi commented on #2480
@jayvdb I want to work on this issue. Could you please guide me. Thanks!

[2018-09-28 10:49] alirizwi commented on #2480
@jayvdb What do you exactly refer by junk. the print and assert statements?

[2018-09-28 15:43] AkshJain99 commented on #2665
This issue looks good to me
I would like to work on this issue.

[2018-09-29 08:44] ajeetdsouza commented on #2672
Won't this work anyway when using `flake8-commas` as a plugin for `flake8` itself?

[2018-09-29 08:54] Naveenaidu opened #2703 "PEP8NotebookBear.py: Correct the spelling mistake in docstring"
There is a spelling mistake at [Line 11](https://github.com/coala/coala-bears/blob/559c953e1b5787df9dddf96ece8449e50c945716/bears/python/PEP8NotebookBear.py#L11).

[code]

This can be a `difficulty/newcomer` issue.

[2018-09-29 18:50] Daronion commented on #2703
I would like to be assigned to this issue.

[2018-10-03 00:07] sangamcse opened #2706 "Bear proposal: eclint"
https://github.com/jedmao/eclint
https://www.npmjs.com/package/eclint

[2018-10-03 17:03] shivank1234 commented on #2703
Is this issue open?

[2018-10-06 22:10] AMR-KELEG commented on #2692
I found that the problem is with the api: https://webservices.coala.io/list/bears
The request returns an empty json response!
I don't know whether this is a known problem with the api site or not.

[2018-10-07 08:14] AditiKatiyar commented on #2703
I would like to work on this issue.

[2018-10-08 06:02] #1965 closed

[2018-10-09 08:33] Sidsharik commented on #2347
I cannot find the installation guide of paprika in the README.md of paprika (https://github.com/GeoffreyHecht/paprika) for adding the paprika bear @palash25

[2018-10-09 08:50] palash25 commented on #2347
I am not very familiar with paprika, I just saw the repo and thought it would be nice to have a bear for it. Try contacting the paprika maintainers for more information about it.

[2018-10-11 04:31] jayvdb opened #2708 "Bear proposal: package.json license-checker"
https://github.com/davglass/license-checker

[2018-10-11 04:32] jayvdb commented on #2708
Or potentially find another package.json linter which incorporates that linter along with other checks.

[2018-10-11 10:06] jayvdb commented on #2437
This issue doesnt say what the indentation should be like.

Implied in this issue: the indentation should be the same indentation that is commonly used in docstrings in the coala and coala-bears repos.

So, ...

What is the style of the docstrings in the coala and coala-bears repos?

What is the *name* of that style?

We have learnt at https://github.com/coala/coala-bears/pull/2701 that this style

[2018-10-11 11:54] AkshJain99 commented on #2437
Ohhh okay so that means I need to find what indentation style coala use??
Is it?

On Thu, 11 Oct 2018, 3:36 pm John Vandenberg, <notifications@github.com>
wrote:

[2018-10-11 11:56] jayvdb commented on #2437
Yes.

[2018-10-11 12:17] AkshJain99 commented on #2437
Okay👍

On Thu, 11 Oct 2018, 5:26 pm John Vandenberg, <notifications@github.com>
wrote:

[2018-10-11 16:31] Sidsharik commented on #2503
Can you please assign me this issue @Makman2 or @jayvdb ? This is the first type/bug issue I will be working on.

[2018-10-11 17:28] Sidsharik commented on #2503
How can I find the description/documentation about `Diff` in `from coalib.results.Diff import Diff` when I search for `Diff` I am unable to find the required result that displays the documentation. And any pointers for solving it would also be helpful :) @Makman2 @jayvdb

[2018-10-12 00:52] #2618 closed

[2018-10-12 02:04] #2703 closed

[2018-10-13 04:01] li-boxuan opened #2711 "Bump CheckstyleBear version"
CheckstyleBear uses checkstyle version 6.19 https://github.com/coala/coala-bears/blob/c449f2725c220a3028373b776d17701b138ee3d3/bears/java/CheckstyleBear.py#L16

while the latest release is version 8.13 http://checkstyle.sourceforge.net/releasenotes.html

checkstyle v8.13 fixes a bug https://github.com/checkstyle/checkstyle/issues/6000. Thus, https://github.com/coala/coala-bears/commit/401fa883ffbe

[2018-10-13 04:03] li-boxuan commented on #2711
https://github.com/coala/coala/pull/5601 This may help to understand `remove_zero_numbers` linter bear option.

[2018-10-13 07:35] jayvdb commented on #2711
Duplicate of https://github.com/coala/coala-bears/issues/1675 ?

[2018-10-13 08:41] li-boxuan commented on #2711
Seems so, but this issue is talking about a workaround that can be removed when upgrading to checkstyle 8.13. Let me mention it in #1675 and close this issue.

[2018-10-13 08:41] #2711 closed

[2018-10-13 08:41] li-boxuan commented on #1675
When upgrading to 8.13, also need to do what is requested by this issue: https://github.com/coala/coala-bears/issues/2711

[2018-10-13 17:18] jayvdb commented on #337
git revert shortlog messages still cause errors when they exceed 50 chars

[2018-10-14 07:32] jayvdb opened #2712 "Bump yamllint version"
yamllint is now 1.12.0 while our bear is 1.6.1

[2018-10-14 08:00] jayvdb commented on #2712
A bug found in yamllint 0.6.1 is multiple `<<` are considered to be a duplicate key.

See https://github.com/coala/community/pull/202

[2018-10-14 09:50] #2712 closed

[2018-10-16 14:58] AkshJain99 commented on #2437
@jayvdb as you said that i need to find the docstring stye coala repo use ,but as I have read there is only PEP257 which deals with docstring convention

[2018-10-17 10:52] #2692 closed

[2018-10-17 19:20] sks444 commented on #2437
@jayvdb, a similar [issue](https://github.com/coala/coala-bears/issues/2243) created by @newbazz  was solved in https://github.com/coala/coala-bears/pull/2254. Maybe we could get some idea from there.

[2018-10-18 09:10] jayvdb commented on #2437
I dont need an idea about the docstring style.  I know the answer :P  This issue is not assigned to me.

We have lots and lots of information about these docstring styles in coala and coala-bears repos.

And there is lots of information about docstring styles on the internet.

[2018-10-18 16:38] ayan-b opened #2715 "Change C++ --> CPP at bears language"
Following https://github.com/coala/coala/issues/5826.
Bears:
- ArtisticStyleBear
- CPPCheckBear
- CPPCleanBear
- CPPLintBear
- CSecurityBear
- ClangASTPrintBear
- ClangBear
- ClangCloneDetectionBear
- ClangComplexityBear
- ClangFunctionDifferenceBear
- GNUIndentBear
A `difficulty/newcomer` issue.

[2018-10-18 17:28] bkhanale commented on #2715
Assign me this issue please :)

[2018-10-18 17:38] ayan-b commented on #2715
Sorry, this is not up for grabs. :(

[2018-10-18 17:41] bkhanale commented on #2715
Okay, no problem. I'll take another issue. Is it kept for GCI?

[2018-10-18 17:53] ayan-b commented on #2715
The issue is yet to form properly.

[2018-10-18 18:35] 007 opened #2716 "Please release a new version"
The last release was 0.11.0 in May 2017.

Please release 0.12.x, or at least a supplemental release of 0.11.x that includes new fixes from the past ~17 months.

[2018-10-18 19:13] sangamcse commented on #2716
@007 https://github.com/coala/coala/issues/5157

[2018-10-18 21:38] anctartica commented on #2715
Could you explain why this is required?
I can't see any reason for doing so.

[2018-10-19 05:44] AkshJain99 commented on #620
What actually we need to do to solve this issue???

[2018-10-19 05:53] ayan-b opened #2717 "Change Objective C++ --> Objective CPP in bears language"
Following https://github.com/coala/coala-bears/issues/2715; https://github.com/coala/coala/issues/5826 .
Find list of bears: https://github.com/coala/coala-bears/pull/2688/files

A `difficulty/newcomer` issue.

[2018-10-19 07:39] jayvdb opened #2718 "typo: ofSourceRanges"
IndentationBear includes typo `ofSourceRanges`

[2018-10-19 08:43] anctartica commented on #2715
CPP and C++ are treated as the same language in coala.
https://github.com/coala/coala/blob/master/coalib/bearlib/languages/definitions/CPP.py#L6

[2018-10-19 15:07] sangamcse opened #2719 "CI fails due to autopep8 release of `1.4.1`"
One of the changes that I figured out is related to the imports in which all imports(which is being imported below some code) is being moved to the beginning of the file.

e.g,
[code]
is changed to
[code]

## Edit:

The `autopep8` changes do not affect this bears repo but it is affecting the coala repo. An issue for that at https://github.com/coala/coala/issues/5834.
It might require to take a loo

[2018-10-19 18:52] chay2199 commented on #2718
@jayvdb Please assign me this.

[2018-10-20 04:55] jayvdb commented on #2718
@chay2199 , assigned, sorry for the delay

[2018-10-20 12:15] sangamcse commented on #2719
CI failure on coala repo is fixed https://github.com/coala/coala/pull/5835 and it seems autopep8 updated feature is good to go with the coala-bears development. Hence closing.

[2018-10-20 12:15] #2719 closed

[2018-10-21 00:51] #2437 closed

[2018-10-21 10:02] jayvdb opened #2721 "Bear proposal: KWStyle"
https://kitware.github.io/KWStyle/

[2018-10-21 16:11] jayvdb opened #2722 "CommitBear: Check whether GitLab autoclose works with http as well as https"
CommitBear: Create a demo on GitLab, like @li-boxuan did at https://github.com/coala/coala-bears/issues/2683 , to prove whether autoclosing works with `http://` .

Then either fix GitLab in CommitBear, or add a comment to explain `http://` works.

[2018-10-21 16:27] jayvdb commented on #2516
Is this linter part of gometalinter?

[2018-10-21 16:29] jayvdb commented on #2504
Is this linter wrapped by gometalinter?

[2018-10-21 16:30] jayvdb commented on #2540
This would be an upstream bug?

[2018-10-22 11:16] ayan-b opened #2723 "Fix broken links"
Change https://sourcegraph.com/sqs/goreturns to http://github.com/sqs/goreturns and
https://github.com/golang/lint/golint to https://godoc.org/golang.org/x/lint/golint . Files: https://github.com/coala/coala-bears/blob/master/bears/go/GoLintBear.py , https://github.com/coala/coala-bears/blob/master/bears/go/GoReturnsBear.py , https://github.com/coala/coala-bears/blob/master/.ci/deps.go.sh .

A `di

[2018-10-22 11:28] aquatiko commented on #2717
I would like to take up this issue.
As per my understanding, we have to change ```Objective-C++``` to ```Objective-CPP``` from the list of bears referenced above in all of their separate files under ```LANGUAGES```. Am I thinking correct??

[2018-10-22 16:37] jayvdb commented on #2481
Our go setup has changed a bit since this issue was first created.

All the go bears are installed in CI using `gometalinter` 's installer, which manages the versions of each linter.

We can add those versions to our bears .py files, but that will get out of date quickly.

I suggest this issue avoids the versions to begin with.

It can still add Go bears to `bear-requirements.yaml` , even without

[2018-10-23 07:49] jayvdb commented on #2445
We have a few linter bears which do this, but only for pip.

For a generic / native bear, we need a library which provides a consistent API.

Repology does that.

package_manager does that.

Wikidata does that.

But each of those options will require a lot of work.
My gut feeling is that we'll reach this goal sooner by adding the functionality to package_manager.

[2018-10-23 08:04] jayvdb commented on #1481
We already have another dockerfile linter bear, `DockerfileLintBear`

We should check whether the "Docker Label Inspector" has any features not found in our bear.

[2018-10-23 08:19] jayvdb opened #2727 "bear proposal: dos2unix"
Spawned from https://github.com/coala/coala-bears/issues/815 as a simple approach

[2018-10-23 08:31] jayvdb commented on #2347
Setting up the build / test environment for Android will not be easy at the moment.  It becomes easier again after https://github.com/coala/coala-bears/pull/1386

[2018-10-23 08:51] jayvdb commented on #1678
A small native bear to check .sh files would useful , as ShellCheck can be quite difficult to install.

We can then consider Travis -> Shell conversion later, in the nested languages project.

[2018-10-23 09:32] jayvdb commented on #595
The original report indicated that the json contained key `'exception'`.

We need to recheck that this key occurs, and find a small reproducible test file with this content in the json, and enhance the bear to detect this and give a useful result.

[2018-10-23 10:01] jayvdb commented on #736
We need someone to retest using CPDBear to reproduce the problem , and see if any of the bear or linter configuration can be used to avoid the problem.

[2018-10-23 10:42] jayvdb commented on #2723
Interestingly, goreturns link in `.ci/deps.go.sh` doesnt break on CI https://travis-ci.org/coala/coala-bears/jobs/444604555#L2140

[2018-10-23 10:43] jayvdb commented on #2723
Need to find the new links for each of these

[2018-10-23 13:06] ayan-b commented on #2723
Possible updated link for github.com/BurntSushi/toml/cmd/tomlv is https://github.com/BurntSushi/toml/tree/master/cmd/tomlv . I guess we may run `InvalidLinkBear` to catch these automatically. :sweat_smile:

[2018-10-23 14:45] #2718 closed

[2018-10-23 18:13] sangamcse commented on #2717
@aquatiko this task is reserved for GCI participants. Please find another newcomer issue.

[2018-10-23 19:12] #2715 closed

[2018-10-24 07:12] Vaibhav911 commented on #2723
I am new to open source coding.I would really like to be assigned to this issue. Thnx

[2018-10-24 10:14] kuroop opened #2729 "https://coala.io/#/languages - No bears"
Hi guys,

I was checking this page for bears after doing a basic setup of Coala and didn't find any listings. Is it supposed to be like this?

![screenshot from 2018-10-24 15-40-17](https://user-images.githubusercontent.com/8777623/47423805-98eb5200-d7a3-11e8-9897-2ee9b8ae0c25.png)

[2018-10-24 10:37] li-boxuan commented on #2729
We have an issue https://github.com/coala/coala-bears/issues/2554, but that one is closed, so I don't know about the current status. ping @jayvdb

Btw @kuroop coala is always written in a small 'c'. 😉

[2018-10-25 19:31] jayvdb commented on #2723
@Oxymoronica has started working on this task.  We'll assign it to them once they have accepted the org invite.

[2018-10-26 08:38] abhishalya commented on #1025
@jayvdb I was able to reproduce the error for this issue. The error occurs due to the removal of the `use_spaces` which should be assigned to a boolean value 'True' (if spaces are used) and 'False' (if tabs are used instead of spaces). The error does mention this in the error log.

[2018-10-26 10:02] abhishalya commented on #1025
@jayvdb Sorry for late response. This is the complete error:

[code]

Also I would like to mention that the `coala --non-interactive` produces the same error:

[code]

[2018-10-26 10:06] abhishalya commented on #1025
@jayvdb I think its not what you were expecting of. I guess the exception should be handled if the `use_spaces` is not defined in the `.coafile` for the SpaceConsistencyBear.

[2018-10-26 11:16] jayvdb commented on #1025
Great, thanks for confirming the problem still exists.  We'll schedule this to be worked on.

[2018-10-26 19:35] abhishalya commented on #2722
@jayvdb I checked this on Gitlab and I confirm that the Gitlab behaves the same as Github.

Using `http` in the issue url won't close the issue after the PR is merged, whereas if `https` is used as the issue url in the PR, it will close the corresponding issue automatically.

These are the links where I tried this:

Issue: https://gitlab.com/abhishalya/gitlab_playground/issues/1
MR-1: https://gitl

[2018-10-27 13:53] #2482 closed

[2018-10-27 16:45] li-boxuan commented on #2727
`difficulty/very-high` is mistakenly labeled?

[2018-10-27 16:46] jayvdb commented on #2727
Yes, thanks

[2018-10-27 20:34] palash25 commented on #2727
coala now uses something called `FileFactory` you can take a look at the code here, the docstrings are pretty self-explanatory https://github.com/coala/coala/blob/master/coalib/io/FileFactory.py

So instead of having actual file contents the file dicts have the filepaths-filefactoryobjects as key-value pairs and every FileFactory object can give you the raw contents of the file using the raw metho

[2018-10-28 09:03] bkhanale commented on #2443
I can fix this, @jayvdb

[2018-10-28 11:05] ayan-b opened #2735 "bears should not emit `default` language"
Following bears emit `default` as a language. Make changes in the corresponding bear files such that it does emit `default`.

* DocumentationStyleBear

[2018-10-28 11:18] sangamcse opened #2736 "RubySecurityBear: Make asciinema"

[2018-10-28 11:28] sangamcse opened #2737 "RubyFastererBear: Make asciinema"

[2018-10-28 11:32] sangamcse opened #2738 "GitRevertInspectBear: make asciinema"

[2018-10-28 11:34] sangamcse opened #2739 "HgCommitBear: Make asciinema"

[2018-10-28 11:38] sangamcse opened #2740 "BanditBear: Make asciinema"

[2018-10-29 01:02] li-boxuan commented on #2683
@RazvanMitrica Sounds good. This issue is reserved for GCI students though :)

[2018-10-29 11:52] monsij commented on #2740
What is the issue about @sangamcse

[2018-10-29 12:16] sangamcse commented on #2740
@monsij, this task is for GCI participants. The issue is to create an asciinema video of the BanditBear.

[2018-10-29 13:50] jayvdb commented on #2503
https://api.coala.io/ search for Diff

[2018-10-29 13:52] #2443 closed

[2018-10-29 14:06] jayvdb opened #2743 "JSONFormatBear: Implement max_line_length with default 0"
This is similar in nature to https://github.com/coala/coala-bears/issues/1754

https://github.com/coala/coala-bears/pull/2742 was a recent merge related to max line length for ipython files.
JSONFormatBear is a valid linter for ipython files, which are json with a different file extension and specific contents.   PEP8NotebookBear is the very specific linter for them, but JSONFormatBear is also use

[2018-10-29 15:48] #1167 closed

[2018-10-29 15:57] jayvdb commented on #2407
Also it should check they were not anonymous.  They need a username.  It should also check that the username matches someone on GitHub.

[2018-10-30 12:45] jayvdb commented on #2427
See https://github.com/coala/coala/issues/558 for the earliest issue about this.

Whaa, we dont .. so I have create a PR for that https://github.com/coala/coala/pull/5863

The easy version of this bear simply looks at the last character of each line and emits an error result whenever it is the line continuation operator for the language.

`ESLintBear` is a good example of how to get the requested

[2018-10-30 15:15] sunny-lan commented on #2407
Is it allowed to make web requests and check the HTML response? Or is there an existing api for asciinema?

[2018-11-02 02:50] jayvdb opened #2746 "JSComplexityBear coverage depends on output even when none exists"
Similar to https://github.com/coala/coala-bears/issues/2747 ,  test coverage is lost when coala/coala#5865 is used.

[2018-11-02 02:53] jayvdb opened #2747 "PycodeStyleBear coverage drops"
branch coverage line 76-77 is missing when coala/coala#5865 is used.

The lines are

[code]

And that makes sense -- as the coala patch prevents the bear processing when there is no linter output to be processed, so `result` will never be false any more.

[2018-11-02 02:54] jayvdb opened #2748 "SASSLintBear coverage depends on output even when none exists"
Similar to https://github.com/coala/coala-bears/issues/2747 ,  test coverage is lost when coala/coala#5865 is used.

[2018-11-03 06:13] #2740 closed

[2018-11-03 06:51] #2479 closed

[2018-11-03 07:11] jayvdb commented on #2169
Duplicate of https://github.com/coala/coala-bears/issues/1609

[2018-11-03 07:11] #2169 closed

[2018-11-03 07:12] jayvdb commented on #1609
The repo now has a bear-languages.yaml which can be used to populate it.

[2018-11-03 07:13] jayvdb commented on #1609
Readme should become a moban template

[2018-11-03 11:33] jayvdb commented on #1388
The temporary solution in 00103fed involved pinning radon to 1.4.0 .

radon is now 2.4.0

radon 1.4.0 is https://github.com/rubik/radon/tree/c1a100e13d , [depends on](https://github.com/rubik/radon/blob/c1a100e13dfbd7acc85cf025248e3475e2085647/setup.py#L21) `colorama>=0.3,<0.4` , which is now becoming a big problem as many other packages depend on colorama >= 0.4.

[2018-11-03 11:36] jayvdb commented on #1388
radon current [setup.py](https://github.com/rubik/radon/blob/d751411/setup.py) still depends on     `'colorama>=0.3,<0.4', 'flake8-polyfill',`

So both the flake8 problem and the colorama problem exist.  Upgrading the dependency will not solve anything.

[2018-11-03 14:08] XLAR-8 commented on #2739
please @sangamcse assign this to me and please can you describe issue a little bit more .

[2018-11-03 14:30] jayvdb commented on #1388
Example error https://files.gitter.im/coala/gci/SWIf/image.png

[2018-11-03 14:54] sangamcse commented on #2739
@XLAR-8, this issue is reserved for GCI participants.

[2018-11-03 14:57] sangamcse commented on #2738
@KVGarg, this issue is reserved for GCI participants.

[2018-11-03 19:03] XLAR-8 commented on #2739
@sangamcse yes i know.
@jayvdb assingned me to this.

[2018-11-04 00:31] why-does-ie-still-exist opened #2751 "CPDBear deperately needs updating"
**Pertinent files:**
[research.zip](https://github.com/coala/coala-bears/files/2545435/research.zip)

After messing around setting up a development environment for a absurdly long time, I was able to run CPDBear, and there are numerous problmes which I ran into:

- CPDBear imports sub-libraries that don't exist in `coalib` (they likely once did exist, but not anymore)

- CPDBear uses packages like

[2018-11-04 00:35] jayvdb commented on #2751
py.js contains

[code]

[2018-11-04 00:39] why-does-ie-still-exist commented on #2751
A example of me running the `coala --files py.js --bears CPDBear -V`:

[code]

[2018-11-04 00:55] GreenBayRules opened #2753 "RubySecurityBear: Runs into a JSON decode error"
When running the RubySecurityBear with the testfile, it runs into a JSON decode error.

`coala -b RubySecurityBear -f test.py -V`

    [WARNING][17:51:07] 'cli' is an internally reserved section name. It may have been generated into     your coafile while running coala with `--save`. The settings in that section will inherit implicitly to all sections as defaults just like CLI args do. Please chan

[2018-11-04 04:51] jayvdb commented on #2103
https://gitlab.com/coala/mobans/issues/2

[2018-11-04 06:49] jayvdb commented on #2739
It isnt reserved for GCI until it has the label. ;P

Yes, I did say @XLAR-8 should do this one.

[2018-11-04 09:34] donosco98 commented on #2723
Hi is the issue still open to work on,if yes
can you pls assign it to me.

[2018-11-04 10:13] #2743 closed

[2018-11-04 19:43] KVGarg commented on #2738
Ok

[2018-11-05 10:03] sangamcse commented on #2739
@XLAR-8 Have a look at asciinema of [GitCommitBear](https://github.com/coala/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py). This asciinema will also look same; the only thing that will change is you need to work on `mercurial` in place `git`.
IMO, create one dummy repo using `mercurial` and add `.coafile` to that. Then, add one bad commit there and run `coala`.

[2018-11-05 14:38] XLAR-8 commented on #2739
@sangamcse working on it

[2018-11-05 14:47] li-boxuan commented on #2472
Why not migrate this to coala/projects repo so that it has the potential to be a GSoC project?

[2018-11-07 04:14] #2683 closed

[2018-11-07 04:14] #2722 closed

[2018-11-07 16:16] IvanRibakov commented on #2729
Any news on this one? Trying to evaluate this framework but it's difficult to do without a way to see what languages are supported.

[2018-11-07 22:36] jayvdb opened #2756 "Generate scripts testability"
The generate scripts are poorly tested.

[2018-11-08 12:50] jayvdb opened #2760 "pycodestyle silently discarding warnings"
Whilst working on coverage issues, I found that if I require all pycodestyle lines match the regex, the following occurs.

[code]
https://travis-ci.org/coala/coala-bears/jobs/452210806

When spitting out the lines causing this, I find

[code]
https://travis-ci.org/coala/coala-bears/jobs/452214629

All are in docstrings.  The first is in bears/vcs/git/GitCommitBear.py for the `\d`

The second and t

[2018-11-09 12:36] #2427 closed

[2018-11-10 13:06] ayan-b opened #2763 "Jinja2Bear: Add support for indentation"
_i.e._,
[code]
is properly indented, whereas -
[code]
is not.

[2018-11-11 03:37] jayvdb commented on #2345
This issue reserved for Google Code-in task [4608875073372160](https://codein.withgoogle.com/dashboard/tasks/4608875073372160).

[2018-11-11 03:40] jayvdb commented on #2474
This issue reserved for Google Code-in task [4703372943818752](https://codein.withgoogle.com/dashboard/tasks/4703372943818752).

[2018-11-11 03:40] jayvdb commented on #2490
This issue reserved for Google Code-in task [4720083990478848](https://codein.withgoogle.com/dashboard/tasks/4720083990478848).

[2018-11-11 03:40] jayvdb commented on #1786
This issue reserved for Google Code-in task [4786912138100736](https://codein.withgoogle.com/dashboard/tasks/4786912138100736).

[2018-11-11 03:41] jayvdb commented on #875
This issue reserved for Google Code-in task [4832374132047872](https://codein.withgoogle.com/dashboard/tasks/4832374132047872).

[2018-11-11 03:41] jayvdb commented on #1481
This issue reserved for Google Code-in task [4857130625531904](https://codein.withgoogle.com/dashboard/tasks/4857130625531904).

[2018-11-11 03:47] jayvdb commented on #2407
This issue reserved for Google Code-in task [4994773925494784](https://codein.withgoogle.com/dashboard/tasks/4994773925494784).

[2018-11-11 03:48] jayvdb commented on #2717
This issue reserved for Google Code-in task [5017147953643520](https://codein.withgoogle.com/dashboard/tasks/5017147953643520).

[2018-11-11 03:49] jayvdb commented on #2371
This issue reserved for Google Code-in task [5109379524198400](https://codein.withgoogle.com/dashboard/tasks/5109379524198400).

[2018-11-11 03:53] jayvdb commented on #2473
This issue reserved for Google Code-in task [5202770081611776](https://codein.withgoogle.com/dashboard/tasks/5202770081611776).

[2018-11-11 03:54] jayvdb commented on #1497
This issue reserved for Google Code-in task [5265640483979264](https://codein.withgoogle.com/dashboard/tasks/5265640483979264).

[2018-11-11 03:55] jayvdb commented on #1831
This issue reserved for Google Code-in task [5341402884997120](https://codein.withgoogle.com/dashboard/tasks/5341402884997120).

[2018-11-11 03:57] jayvdb commented on #595
This issue reserved for Google Code-in task [5468594734366720](https://codein.withgoogle.com/dashboard/tasks/5468594734366720).

[2018-11-11 03:59] jayvdb commented on #2483
This issue reserved for Google Code-in task [5588084214202368](https://codein.withgoogle.com/dashboard/tasks/5588084214202368).

[2018-11-11 03:59] jayvdb commented on #1532
This issue reserved for Google Code-in task [5635494076481536](https://codein.withgoogle.com/dashboard/tasks/5635494076481536).

[2018-11-11 06:16] jayvdb commented on #2427
This issue reserved for Google Code-in task [4578673081450496](https://codein.withgoogle.com/dashboard/tasks/4578673081450496).

[2018-11-11 06:17] jayvdb commented on #2683
This issue reserved for Google Code-in task [4719605319729152](https://codein.withgoogle.com/dashboard/tasks/4719605319729152).

[2018-11-11 14:57] #2434 closed

[2018-11-12 02:51] jayvdb commented on #2650
This was done in https://github.com/coala/coala-bears/pull/2758 and https://github.com/coala/coala-bears/pull/2658

[2018-11-12 02:51] #2650 closed

[2018-11-12 02:55] jayvdb opened #2765 "Remove use of generic no cover"
The following bears use coverage's `no cover` functionality to avoid requiring test coverage.

[code]

In many cases this is because the author didnt try hard enough to add test coverage of those lines.

We should try to solve each of them.

[2018-11-12 02:56] jayvdb opened #2766 "CPDBear: Remove use of generic no cover"
See https://github.com/coala/coala-bears/issues/1618 for details

[2018-11-12 02:57] jayvdb opened #2767 "DocGrammarBear: Remove use of generic no cover"
See #1618 for details

[2018-11-12 02:58] jayvdb commented on #2765
Duplicate of https://github.com/coala/coala-bears/issues/1618

[2018-11-12 02:58] #2765 closed

[2018-11-12 03:46] jayvdb opened #2768 "HTTPSBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:49] jayvdb opened #2769 "JavaPMDBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:50] jayvdb opened #2770 "ESLintBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:50] jayvdb opened #2771 "AlexBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:51] jayvdb opened #2772 "LanguageToolBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:51] jayvdb opened #2773 "PySafetyBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:52] jayvdb opened #2774 "GitRevertInspectBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 03:52] jayvdb opened #2775 "VHDLLintBear: Remove use of generic no cover"
We want to remove all `#pragma: no cover` c.f. coala/coala-bears#1618

[2018-11-12 04:10] jayvdb commented on #1618
https://github.com/coala/coala/pull/5645 is an example of how to tests which cover `ImportError` code

[2018-11-12 04:15] jayvdb commented on #2763
The first one adds two space indentation.  That depends on the language of the generated file.

How should the language be determined, and the style of indentation choosen ?

[2018-11-12 04:16] jayvdb commented on #2763
(there are valid indentation features, but the originally stated problem is a nested language problem, and coala doesnt support that yet)

[2018-11-12 04:17] jayvdb commented on #2766
This issue reserved for Google Code-in task [5630027182899200](https://codein.withgoogle.com/dashboard/tasks/5630027182899200).

[2018-11-12 04:17] jayvdb commented on #2768
This issue reserved for Google Code-in task [5019741488939008](https://codein.withgoogle.com/dashboard/tasks/5019741488939008).

[2018-11-12 04:18] jayvdb commented on #2769
This issue reserved for Google Code-in task [6025976896028672](https://codein.withgoogle.com/dashboard/tasks/6025976896028672).

[2018-11-12 04:18] jayvdb commented on #2770
This issue reserved for Google Code-in task [5350730459250688](https://codein.withgoogle.com/dashboard/tasks/5350730459250688).

[2018-11-12 04:18] jayvdb commented on #2771
This issue reserved for Google Code-in task [6559832204115968](https://codein.withgoogle.com/dashboard/tasks/6559832204115968).

[2018-11-12 04:18] jayvdb commented on #2772
This issue reserved for Google Code-in task [5776331573821440](https://codein.withgoogle.com/dashboard/tasks/5776331573821440).

[2018-11-12 04:18] jayvdb commented on #2773
This issue reserved for Google Code-in task [6417210030424064](https://codein.withgoogle.com/dashboard/tasks/6417210030424064).

[2018-11-12 04:18] jayvdb commented on #2774
This issue reserved for Google Code-in task [4731281955880960](https://codein.withgoogle.com/dashboard/tasks/4731281955880960).

[2018-11-12 04:18] jayvdb commented on #2775
This issue reserved for Google Code-in task [5104957364633600](https://codein.withgoogle.com/dashboard/tasks/5104957364633600).

[2018-11-12 04:18] jayvdb commented on #2767
This issue reserved for Google Code-in task [6035317241937920](https://codein.withgoogle.com/dashboard/tasks/6035317241937920).

[2018-11-12 04:56] jayvdb commented on #1415
Disappeared.

[2018-11-12 05:07] #2748 closed

[2018-11-12 05:07] #2746 closed

[2018-11-12 05:07] #2747 closed

[2018-11-13 02:29] jayvdb commented on #1072
Note that when using tslint 5, `TSLintBearWithoutConfigTest.test_invalid_files` fails with the following on stderr: `No valid rules have been specified for TypeScript files`

[2018-11-13 02:36] jayvdb commented on #2723
Comment at https://github.com/coala/coala-bears/issues/2723#issuecomment-432195660 hasnt been analysed yet.

Also need to determine if gometalinter already supports goreturns.  If not , why not

[2018-11-13 06:09] jayvdb commented on #1070
I am also seeing an error with alex 3.1.0 https://travis-ci.org/coala/coala-bears/jobs/454318505

[2018-11-13 07:31] jayvdb commented on #1070
To reproduce the above, remove node_modules from the list of travis cached directories.

[2018-11-13 08:43] jayvdb opened #2777 "TextLint bear test failures"
When not using a cached node_modules, `TextLintBearTest.test_bad_alex_no_dead_link` fails with

[code]

https://travis-ci.org/coala/coala-bears/jobs/454318505

[2018-11-13 08:48] jayvdb commented on #1070
Whoops - the above comments were about TextLintBear, now at https://github.com/coala/coala-bears/issues/2777

[2018-11-13 10:39] jayvdb commented on #1072
5b98146 tests tslint-5

[2018-11-14 04:10] jayvdb opened #2783 "TSLintBear rules_dir"
The usefulness of the rules_dir is questionable.

Discussed at https://github.com/coala/coala-bears/pull/2779

Also it never had a useful test case, and the useless test case was removed in that PR.

[2018-11-14 04:30] #2777 closed

[2018-11-14 04:33] #1072 closed

[2018-11-14 04:54] PandaBoi commented on #2326
Id like to be assigned this issue if it is still open

[2018-11-14 09:09] #2406 closed

[2018-11-14 15:20] #1221 closed

[2018-11-15 09:47] li-boxuan commented on #2503
Unassigned because assignee is not able to use git properly and dismiss reviewers' suggestions/warnings.

[2018-11-15 11:54] ayan-b commented on #2763
True. :sweat_smile:  We can start off by considering jinja syntax only _i.e_, indenting logical statements, for loops, set etc., but avoiding those which prints into the generated file.

[2018-11-16 06:34] bnu123 commented on #2738
@sangamcse It doesn't show any label specifying GCI

[2018-11-16 19:12] sangamcse commented on #2738
Hey @KVGarg and @bnu123, this issue is not added in GCI task yet so it is open for all. Sorry for https://github.com/coala/coala-bears/issues/2738#issuecomment-435594142

[2018-11-17 17:38] ayan-b commented on #2753
_Another issue with RubySecurityBear_, it correctly identifies vulnerablities but while applying actions, it throws file not found error (`cannot be printed because it refers to a file that doesn't seem to exist`).

[2018-11-17 18:15] sangamcse commented on #2753
`RubySecurityBear` should be run on `ruby on rails` applications only.

[2018-11-18 01:06] jayvdb opened #2788 "Commit bear coverage drop"
70->exit coverage was lost in https://github.com/coala/coala-bears/pull/2786

[2018-11-18 03:13] #2768 closed

[2018-11-18 11:15] SerekKiri commented on #2739
@XLAR-8 I see that you are assigned. Are you still working on this?

[2018-11-19 06:03] KVGarg commented on #2738
Ask on gitter chat to get this issue assigned to you. 👍

[2018-11-20 16:01] Vaibhav911 commented on #2788
I would really like to work on this issue. Can someone assign me this?

[2018-11-20 16:06] li-boxuan commented on #2788
@Vaibhav911 This issue is reserved for GCI students. If you are not a GCI student, pick up another issue :)

[2018-11-20 16:36] Vaibhav911 commented on #2516
I would like to work on this one, can someone assign me this?

[2018-11-24 16:37] Naveenaidu commented on #2763
@jayvdb  I would like to be assigned to this issue.

[2018-11-26 12:42] #2767 closed

[2018-11-27 08:23] Joozty opened #2793 "PEP8Bear doesn't respect ignoring comment"
Maybe I am doing something wrong but ignoring comment in my file doesn't work.

Here is a very example of my `coala_test.py`:

[code]

When I run this command  `coala --bears=PEP8Bear -f coala_test.py` it wants me  to apply this patch:

[code]

Which doesn't make sense.

I am running `python3.6.6`, coala `0.11.0`, coala-bears `0.11.1`

Thanks for help.

[2018-11-27 09:52] li-boxuan commented on #1869
Seems `rehype-format` does not provide a CLI. PEP8Bear is an example where the linter does not have CLI. However, we cannot import javascript in python code. IMO it could be an upstream task, i.e. to write a wrapper for `rehype-format`.

[2018-11-27 13:57] li-boxuan commented on #2793
Possibly a duplicate of https://github.com/coala/coala/issues/3365

I am able to reproduce using coala `0.11.0`. This issue seems to have been solved some time ago because I cannot reproduce using coala master.

Could you try using the latest coala `master`? @Joozty

[2018-11-28 08:00] Joozty commented on #2793
@li-boxuan I can confirm the issue is not on master. Unfortunately, I had to use a `master` version of `coala-bears` too otherwise I had version conflict error.

Just for the record, my `requirements.txt` looks like this now:
``
git+https://github.com/coala/coala.git@master
git+https://github.com/coala/coala-bears.git@master
[code]

[2018-11-28 09:52] li-boxuan commented on #2793
@Joozty Sorry there is no concrete plan for a release in the near future. I would suggest using `master` version.

[2018-11-28 09:52] #2793 closed

[2018-11-28 14:50] sangamcse opened #2796 "cannot collect test class 'SkipTest' because it has a init constructor (pytest warning)"
Similar to issue https://github.com/coala/coala/issues/2884 but it is occurring for LanguageToolBearTest.py.

[2018-11-29 13:31] jayvdb commented on #1956
Duplicate of https://github.com/coala/coala-bears/issues/1012

Last good version was 0.8

[2018-11-29 13:31] #1956 closed

[2018-11-29 13:33] jayvdb opened #2798 "KeywordBear: Explain how language setting is used"
The language setting is only used to generate the diff correctly.  It is not used to influence where the keyword may appear.

[2018-11-29 14:14] Kawzeg opened #2799 "AnnotationBear uses deprecated LanguageDefinition"
LanguageDefinition is deprecated and AnnotationBear should use Language instead.

[2018-11-29 16:18] nishantsharma09 commented on #2798
Hi! Can I be assigned to this issue?

[2018-11-30 12:51] Kiy4h commented on #2411
Apparently, no. I ran `pycycle --here` in the repositories coala, coala-bears, and coala-quickstart, and there were no cycles found.

(I was using a virtual environment when running the command)

[2018-11-30 12:51] Kiy4h commented on #2411
Apparently, no. I ran `pycycle --here` in the repositories coala, coala-bears, and coala-quickstart, and there were no cycles found.

(I was using a virtual environment when running the command)

[2018-12-01 02:51] #2788 closed

[2018-12-01 03:47] #2774 closed

[2018-12-01 04:48] #2766 closed

[2018-12-01 06:06] #2773 closed

[2018-12-01 06:52] #876 closed

[2018-12-01 17:21] #2772 closed

[2018-12-01 17:52] #2775 closed

[2018-12-02 13:12] Kiy4h opened #2802 "LineContinuationBear: Ignore backslashes in strings automatically"
The line continuation bear should ignore line endings with backslash(es) in strings automatically.

[Example](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/Language.py#L290-L292):

[code]
Codes like this should be ignored.

[2018-12-03 02:46] Kiy4h opened #2805 "LineContinuationBear: Ignore backslashes in doctest strings automatically"
LineContinuationBear should ignore lines like [this](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationExtraction.py#L214) automatically:

[code]

[2018-12-03 03:01] Kiy4h opened #2806 "LineContinuationBear: Ignore backslashes in `from` imports inside doctest"
The bear should ignore the backslashes in `from` imports.

[Here's an example](https://github.com/coala/coala/blob/master/coalib/bearlib/languages/documentation/DocumentationComment.py#L260):

[code]

[2018-12-03 03:06] Kiy4h commented on #2802
Moved the issue about doctest here https://github.com/coala/coala-bears/issues/2805

[2018-12-03 03:11] Kiy4h opened #2807 "LineContinuationBear: Ignore backslashes in `with`"
There should be a *feature* in the line continuation bear to ignore backslashes used in `with` statements.

[2018-12-03 03:12] Kiy4h opened #2808 "LineContinuationBear: Ignore backslashes in `with`"
There should be a *feature* in the line continuation bear to ignore backslashes used in `with` statements.

[2018-12-03 04:14] Kiy4h commented on #2808
Duplicate of #2807
I think I had a slow internet connection.

[2018-12-03 04:14] #2808 closed

[2018-12-03 11:19] #2769 closed

[2018-12-04 02:21] jayvdb opened #2810 "Proposal: File encoding bear"
https://github.com/B3QL/pep263

[2018-12-04 15:10] CleverFool77 commented on #2739
I opened the PR before commenting here. Can you please assign this to me.

[2018-12-05 08:37] #2770 closed

[2018-12-05 11:32] CleverFool77 commented on #2369
I would like to take this issue. Please assign this to me.

[2018-12-06 15:58] #1415 closed

[2018-12-07 12:36] jayvdb commented on #2664
This is now breaking all builds.

[2018-12-07 12:36] jayvdb commented on #2664
Unassigning due to inactivity

[2018-12-07 12:38] jayvdb opened #2816 "Disable InferBear"
Due to https://github.com/coala/coala-bears/issues/2664 completely failing now, a quick workaround is to disable the opam & infer, so that travis CI doesnt try to set up the pre-reqs, and so that the coverage is still 100%

[2018-12-07 13:08] sladyn98 commented on #2816
One possible way would be:
1) Remove ```opam``` under packages in the travis.yml so that i does not build.
2) Remove ```.ci/deps.opam.sh``` under before_install.
3) Remove ```- ~/infer-linux64-v$INFER_VERSION``` Under installed linters which would thereby make the path redundant.Correct me if i am wrong on this one.

[2018-12-07 15:20] jayvdb commented on #2816
That will fail the 100% coverage requirement.

[2018-12-07 15:48] sladyn98 commented on #2816
Would adding them in the omit section of setup.cfg be a step in the right direction.Because then travis would not consider them for the test coverage.

[2018-12-07 15:51] jayvdb commented on #2816
setup.cfg is a generated file.

[2018-12-07 15:59] #1305 closed

[2018-12-07 16:08] sladyn98 commented on #2816
Executing Step 2 in the above comment would be one step taken in the right direction according to me.

[2018-12-07 16:21] jayvdb commented on #2816
You need to have green CI.  Otherwise we have another error.

[2018-12-07 16:36] sladyn98 commented on #2816
Should I try submitting a PR and checking or should I try it locally.

[2018-12-07 16:39] jayvdb commented on #2816
You havent indicated you know how to solve the 100% coverage part of the problem mentioned as part of this issue.

[2018-12-07 17:09] jayvdb commented on #288
We now have mandatory 100% code coverage on Windows https://github.com/coala/coala-bears/commit/f6119ad72929c174ccac55ce4a9879ee577ee26c

Bears which are not yet tested on AppVeyor are marked with `pragma nt: no cover`.  This could be used to document which ones *may* not work on Windows because we do not test them on Windows.

We should be making them all tested on Windows unless they depend on O

[2018-12-07 18:54] sladyn98 commented on #2816
Hey @jayvdb Could we try to do this ```opam reinstall -y core_kernel``` in the shell script. I googled a bit and i found this https://github.com/gfngfn/SATySFi/issues/46.

[2018-12-08 04:59] jayvdb opened #2818 "Node bears are not working on AppVeyor"
All node bears are being skipped

[2018-12-08 17:38] naveentvelu commented on #2504
I guess this is repo for gometalinter https://github.com/alecthomas/gometalinter.
It supports nakedret linter.

[2018-12-08 18:57] naveentvelu commented on #2583
@jayvdb Can I solve this?

[2018-12-09 03:09] naveentvelu commented on #2503
@li-boxuan Can I take up this issue?

[2018-12-10 03:40] jayvdb commented on #1343
Unassigned due to inactivity.
Im working on this now

[2018-12-10 03:43] jayvdb commented on #1849
Ubuntu doesnt include it https://packages.ubuntu.com/search?keywords=hadolint&searchon=names&suite=cosmic&section=all

It also isnt in openSUSE.

It is moderately easy to install using `curl`
https://github.com/bosondata/badwolf/blob/master/Dockerfile

It is in cabal http://hackage.haskell.org/package/hadolint

[2018-12-10 04:00] jayvdb commented on #1343
https://www.npmjs.com/package/dockerfilelint and https://www.npmjs.com/package/dockerlint both catch lowercase `run ...`.

dockerfilelint detects apt-get update and requires `rm -rf /var/lib/apt/lists/*` in the same layer. (dockerlint does not)

Neither require an EXPOSE or CMD , which dockerfile_lint does.

However dockerfile_lint is really hard to configure , as the default set of rules cant be

[2018-12-10 04:45] #2818 closed

[2018-12-10 05:06] jayvdb commented on #1343
https://github.com/replicatedhq/dockerfilelint supports a .dockerfilelintrc , which has an easy format for turning off individual rules.

https://github.com/redcoolbeans/dockerlint doesnt appear to have an option to disable rules.

[2018-12-10 05:20] jayvdb opened #2820 "Bear proposal: dockerfilelint"
https://github.com/replicatedhq/dockerfilelint is better than dockerfile_lint in some ways, and easier to set up than hadolint ( https://github.com/coala/coala-bears/issues/1849 )

We should add dockerfilelint

[2018-12-10 05:20] jayvdb commented on #1343
https://github.com/coala/coala-bears/issues/2820 created

[2018-12-10 05:20] #1343 closed

[2018-12-10 06:55] ajeetdsouza commented on #2820
Could I work on this?

[2018-12-10 06:55] ajeetdsouza commented on #2810
Could I work on this?

[2018-12-10 13:35] Joozty commented on #2793
@li-boxuan

It doesn't work for this input (even I use master version):
[code]

[2018-12-11 07:40] shashank-b opened #2821 "README.rst: Update the FAQ Link"
The link in the Installation section of the file README.rst can be updated to the latest link:
http://docs.coala.io/en/latest/Help/FAQ.html

This can be a suitable issue for newcomers.

[2018-12-12 07:41] ajupazhamayil commented on #2821
Updated README.rst, Please approve my PR.

[2018-12-12 07:48] naveentvelu commented on #2821
@ajupazhamayil You are not allowed to make PR's unless you are assigned to it.
It is against the Community Guidelines.

[2018-12-12 07:50] ajupazhamayil commented on #2821
I am sorry that i did not have information about that, So should I close this PR?

[2018-12-12 07:52] naveentvelu commented on #2821
No, wait for the coala developers to look into this. I am also new here :)

[2018-12-12 07:54] ajupazhamayil commented on #2821
Thank you for your reply. I will wait then :)

[2018-12-12 08:09] ajupazhamayil commented on #2821
Thank you for your reply. I will do in that way!

[2018-12-12 08:17] utkarsh2102 commented on #2821
What?
I don't get the reason, @shashank-b.
Why should it be done? Isn't it updated already?

[2018-12-12 16:41] li-boxuan opened #2826 "Support pylint >= 2.0 for PyLintBear"

[2018-12-13 11:49] li-boxuan commented on #2793
@Joozty It works for me. Did you try using a virtual environment?

Are you saying it works for
[code]
but not
[code]
?

[2018-12-13 13:30] utkarsh2102 commented on #2736
Hey,
Since GCI is over, can I take this up? 😅
Been wanting to do an asciinema task for so long :P

[2018-12-13 13:32] li-boxuan commented on #2736
@jayvdb Do we remove all gci labels for issues since GCI is over? Or are they reserved for next year's GCI?

[2018-12-13 17:46] naveentvelu commented on #2805
@jayvdb
To maintain a `flag` variable which has default value `false`. When a triple quoted string is encountered we can set the `flag` to `true`. And on the second encounter we can unset the `flag`.
If the `flag` is **set** (i.e flag = true) we can Ignore the backslashes.

[2018-12-14 06:05] utkarsh2102 commented on #2737
This is closed via #2752.
Please close this issue, @sangamcse @jayvdb.

[2018-12-14 14:00] #2737 closed

[2018-12-15 05:20] jayvdb opened #2829 "goreturns install fails"
[code]

[2018-12-15 10:46] jayvdb commented on #2516
Needs to be added to gometalinter before we will support it.

[2018-12-15 10:47] jayvdb commented on #2596
`goreturns` proposed upstream at https://github.com/alecthomas/gometalinter/issues/568

[2018-12-15 10:49] jayvdb commented on #1649
And once that is fixed, we should also propose it upstream in gometalinter , per https://github.com/coala/coala-bears/issues/2596 , otherwise we need to manage the dependencies which is difficult for go.

[2018-12-16 04:18] jayvdb opened #2830 "MarkdownBearTest.test_duplicate_headings failing"
MarkdownBearTest.test_duplicate_headings failing is failing because "per section" has been removed from the linter error message

[2018-12-16 15:07] jayvdb commented on #1849
Duplicate of https://github.com/coala/coala-bears/issues/640

[2018-12-16 15:07] #1849 closed

[2018-12-16 15:07] jayvdb commented on #640
Lots of notes at https://github.com/coala/coala-bears/issues/1849

[2018-12-16 15:12] jayvdb opened #2832 "Bear Proposal: whale-linter dockerfile linter"
https://github.com/jeromepin/whale-linter

[2018-12-18 02:00] Naveenaidu commented on #2820
Can I please be assigned to this issue.

[2018-12-20 16:31] li-boxuan commented on #2664
infer v0.7.0 is quite old, maybe a newer version would be a free lunch

[2018-12-22 09:11] frextrite opened #2833 "Broken URL in URLHeadBear.py"
The default URL currently being used to check for internet connectivity, ```http://216.58.218.174``` appears to be broken.

The ```HEAD``` request to this URL fails and hence the InvalidLinkBear, throwing an error ```[ERROR][14:16:23] The bear InvalidLinkBear does not fulfill all requirements. You are not connected to the internet.```

URL can be changed to ```1.1.1.1``` DNS IP by Cloudfare.

[2018-12-23 12:06] frextrite commented on #2833
Due to this error(as in the travis log) a couple of PRs are failing:
https://github.com/coala/projects/pull/693
https://github.com/coala/projects/pull/697

[2018-12-24 13:30] jayantsudo24 commented on #2833
Could you please assign this to me? @jayvdb, @li-boxuan

[2018-12-28 13:43] frextrite commented on #2833
Hi @jayantsudo24, I'd already pinged the maintainers for assigning this to me, once they review the bug and the affected files. You can find and work on other issues marked 'difficulty/newcomer' :smile:

[2019-01-01 13:45] rohanrajpal commented on #2821
Hi! Can I be assigned this issue?

[2019-01-03 08:49] sanchit48 commented on #1972
Can i work on this issue ?

[2019-01-03 17:20] tanvinerkar commented on #2821
Hey! Can I be assigned this issue? Do let me know so I could start working on it. Thanks!

[2019-01-03 18:06] sambhavkaul commented on #2441
Can I work on this issue, if it is still open ?

[2019-01-04 20:08] hdaugherty commented on #1755
Can I get assigned to this? I notice that [asciinema/asciinema#236](https://github.com/asciinema/asciinema/pull/236) is merged!

[2019-01-05 06:10] sanchit48 commented on #2833
@frextrite My PR build is also failing due to URLHead bear.

[2019-01-05 13:14] frextrite commented on #2833
@sanchit48 Can you mention the Pull Request that is failing?

[2019-01-05 13:18] sanchit48 commented on #2833
yes, here it is https://github.com/coala/community/pull/228

[2019-01-05 13:43] frextrite commented on #2833
I don't know if the whole build is failing due to this or not but found [this line](https://travis-ci.org/coala/community/jobs/475398307#L3375) where it throws the error

[2019-01-05 14:14] sanchit48 commented on #2833
Yes, URLHeadbear is having some issues. plz fix it

[2019-01-06 06:20] li-boxuan commented on #2180
I opened https://github.com/coala/coala-bears/issues/2826 a month ago and sorry I didn't notice this existing issue. Since someone is working on that issue, I'll close this old one to prevent duplicate work.

[2019-01-06 06:20] #2180 closed

[2019-01-06 18:16] ajeetdsouza commented on #2820
What should I name this bear, to avoid a naming clash with `DockerfileLintBear`?

[2019-01-07 12:16] mk1299 commented on #2810
I would like to work on this.

[2019-01-07 14:36] hdaugherty commented on #1755
Where is the docs would be the best place to put this info on asciinema?

[2019-01-07 15:59] arnav-mandal1234 commented on #2371
Can I take this issue?@jayvdb  @Makman2 @RaiVaibhav
It would be great if I get some insight on how to fix this bug.

[2019-01-08 03:16] li-boxuan commented on #2810
@mk1299 Sorry, could you find another issue to work on? Someone claims this issue before you.

@ajeetdsouza Ping me if you change your mind or don't have time to solve this.

[2019-01-08 05:12] makkoncept commented on #2810
Can I work on this?

[2019-01-08 05:15] li-boxuan commented on #2810
@makkoncept No, this issue is assigned to someone else.

[2019-01-08 13:41] li-boxuan commented on #2805
@naveentvelu Are you still keen on solving this issue? Let me know if not, then I'll reassign to @mk1299

[2019-01-08 14:45] naveentvelu commented on #2805
Yeah I will work on this issue. But I am having typhoid for past two days. Once i am okay i will make a PR.If this issue is to be solved very urgently then you can assign to someone else.

[2019-01-08 14:47] li-boxuan commented on #2805
Nope, not urgent :) Good luck

[2019-01-10 08:33] kapurm17 commented on #2159
@li-boxuan Can I work on this issue?

[2019-01-10 11:24] shashank-b opened #2838 "README.rst: Typo in the words `newcomers' guide`"
There is a link to newcomers' guide in README.rst, but it has been spelled as `newcomer guide`. To make it grammatically correct and to remain consistent with the rest of the docs and the website, it should be corrected.

This could be a suitable issue for newcomers.

[2019-01-10 12:10] siddhantkhandelwal commented on #2838
I would like to fix this as a newcomer

[2019-01-10 12:34] shashank-b commented on #2838
@siddhantkhandelwal, a maintainer would assign the issue to you soon. Meanwhile, you should go through the newcomers' guide if you haven't already.

[2019-01-10 13:05] shivank1234 commented on #2802
What this issue is about??

[2019-01-10 13:06] shivank1234 commented on #2807
What is this issue is about??

[2019-01-10 16:52] frextrite commented on #2480
What junk are you referring to?

According to this [Travis log](https://travis-ci.org/coala/coala-bears/jobs/468660495#L7088), line [7088](https://travis-ci.org/coala/coala-bears/jobs/468660495#L7088), no print statements have been emitted by ```.ci/generate_bear_requirements.py```

[2019-01-11 09:16] siddhantkhandelwal commented on #2838
Sure, will do!
Thanks!

[2019-01-12 10:57] divyanshu132 commented on #2821
@gitmate-bot is this issue still open?? can I take this!!

[2019-01-13 13:20] kapurm17 opened #2840 "RELEASE_NOTES.rst: Expired Link"
In the file, RELEASE_NOTES.rst , the link to the list of Major API changes, in the line 391, has expired and the list is not found.
The link needs to be updated.

[2019-01-14 09:18] sanchit-ahuja commented on #2840
@kapurm17 I would like to work on this issue as a newcomer. Thanks.

[2019-01-14 12:38] uds5501 commented on #2840
Would love to work on this! @kapurm17

[2019-01-14 16:41] kapurm17 commented on #2840
Hey @sanchit-ahuja @uds5501,
Please ask a maintainer to assign you the issue, after they've sent you the invite to the organisation!

[2019-01-15 12:20] rajdeepbharati commented on #2806
That would mean the above code should result in
[code]
Am I right @Kiy4h ?

[2019-01-15 13:59] Kiy4h commented on #2806
@rajdeepbharati No, LineContinuationBear doesn't change codes, they are linters. This linter protests if there's a wrong line continuation method. (e.g. using a backslash) Which means, there should be an option to ignore backslashes in `from` imports inside a docstring.

[2019-01-15 14:47] rajdeepbharati commented on #2806
Okay, so do we need to modify the run() method in [LineContinuationBear.py](https://github.com/coala/coala-bears/blob/master/bears/general/LineContinuationBear.py) to add this option?

[2019-01-16 01:40] Kiy4h commented on #2806
@rajdeepbharati Yeah. You should add an if statement or something like that

[2019-01-16 09:18] rajdeepbharati commented on #2806
Please assign me this issue

[2019-01-16 09:18] rajdeepbharati commented on #2807
I want to work on this

[2019-01-17 07:18] rajdeepbharati commented on #2807
_feature_ means that by default, the line continuation bear shouldn't ignore backslashes in `with`. It should ignore only when the user provides some command line arguments?

[2019-01-17 08:12] Kiy4h commented on #2807
@rajdeepbharati I think it should only ignore when we provide some command line arguments.
@ayan-b please tell me if you have other suggestions.

[2019-01-17 12:38] rajdeepbharati commented on #2807
I guess that parameter can be specified in the `.coafile`

[2019-01-17 13:02] Kiy4h commented on #2807
@rajdeepbharati Yup.

[2019-01-18 07:37] frextrite opened #2843 "Travis build failing due to old version of golang"
Travis build for [coala/coala-bears/#2836](https://github.com/coala/coala-bears/pull/2836) is failing with the following error:
[code]

This problem persists if an old verion of Go language is used according to this [issue](https://github.com/golang/lint/issues/421) which states that Go <= 1.8 is no longer supported.

Currently Travis CI testing is done on trusty, so either the latest version of g

[2019-01-19 05:16] pavanrkadave commented on #2830
Hi can i take up this issue? @jayvdb

[2019-01-19 11:59] kapurm17 commented on #2802
@li-boxuan I'm sorry! I'm a bit busy with my college these days..Will start working in 2-3 days..Will that be okay?