[2019-01-19 12:14] li-boxuan commented on #2802
@kapurm17 Sure, take your time :)

[2019-01-19 18:46] Anmolbansal1 commented on #2806
@jayvdb @li-boxuan Can I work on this issue?

[2019-01-20 02:37] li-boxuan commented on #2806
Assigned to @rajdeepbharati let me know if you are not going to do this

[2019-01-20 02:52] Anmolbansal1 commented on #2830
I want to work to this issue please assign this to me @li-boxuan

[2019-01-20 07:48] rajdeepbharati commented on #2806
I'm doing it 👍

[2019-01-20 09:44] li-boxuan commented on #2830
@pavanrkadave @Anmolbansal1 Please find other issues to work on :) Obviously, this issue has an assignee with an open PR pending review.

[2019-01-21 18:48] rajdeepbharati commented on #2412
That means, if possible, we should import from a module (folder having `__init__`)?

[2019-01-22 15:00] Mayank-gozu commented on #2840
I would like to work on this issue! @kapurm17

[2019-01-23 18:09] sambhavkaul commented on #2111
I want to work on this issue, please assign.

[2019-01-24 14:39] shashank-b commented on #2502
@li-boxuan, could you please assign this to me, if this is no longer reserved?

[2019-01-25 04:07] budukhyash opened #2846 "README.rst: Update the link for coala Usage"
The link for the [coala Usage](https://github.com/coala/coala-bears#usage) further navigates to [this](https://github.com/coala/coala#usage) which has no information about how to use coala. One can do either of the following:

- Update the link so that it navigates to the coala documentation.

- Add usage information in the README.rst file located [here](https://github.com/coala/coala).

Maintaine

[2019-01-27 05:52] mohit2872 commented on #2846
can you assign this issue to me?

[2019-01-27 05:52] mohit2872 commented on #2846
@jayvdb

[2019-01-28 10:38] areebbeigh commented on #2729
IMO, instead of just leaving the page broken till the back-end issue is fixed, it'd be much better to temporarily point to [Languages supported](https://github.com/coala/coala-bears#languages-supported) on this repository's readme.

Even better, if possible, embed the table on the page. Not very pretty, but it's better than a broken page.

[2019-01-30 06:47] #2816 closed

[2019-01-30 06:47] #2830 closed

[2019-01-30 08:00] #2833 closed

[2019-01-30 09:42] jayvdb commented on #2840
We have users still on 0.8.0 .  And API changes are important to keep a record of.  We should look through the commits for 0.8.0 for anything obviously like

It should be easy to re-create the list when we see some examples of what it was referring to.

[2019-01-30 09:45] jayvdb commented on #2843
Thanks for opening this @frextrite - initiative.

I raised an upstream issue in gometalinter, and they closed it saying go 1.9 was minimum supported, while we are using go 1.5 in CI.

The easiest fix is to bypass the exit code , and disable some more linters in CI as they no longer work in our CI, and hope the others work on go 1.5.

Another approach is to tell gometalinter to install all except t

[2019-01-30 09:54] #2739 closed

[2019-01-30 09:59] jayvdb commented on #1954
We should upgrade to 1.2.x, and ensure new features are activated, e.g. with new settings where applicable

[2019-01-30 10:20] areebbeigh commented on #2840
I browsed through the change logs for 0.8.0, seems like a [deprecate_settings](https://github.com/coala/coala/blob/fa8fe22562277762fd73ab3761ad1ec33263839a/coalib/bearlib/__init__.py#L15) decorator was introduced for backwards compatibility.

Should be possible to list API changes solely by making a list of all the deprecated settings?

[2019-01-30 10:21] rajdeepbharati commented on #2084
I would like to work on this

[2019-01-30 11:11] #2838 closed

[2019-01-30 11:16] areebbeigh commented on #2840
Okay so this is the list of all the commits with the keyword `deprecate` prior to the release:

https://github.com/search?p=1&q=deprecate+author-date%3A2016-08+repo%3Acoala%2Fcoala-bears&type=Commits

[2019-01-30 12:57] utkarsh2102 commented on #2843
@jayvdb, I think we should consider enabling the linters that we want.
That should fix the problem for now.
And meanwhile, we can think of upgrading to 1.9.
Thoughts?

[2019-01-31 02:00] jayvdb commented on #2480
I think this was improved last year as part of other tasks.  Find a merged PR from around the date of this issue , and see Travis logs of that PR.  very messy.

[2019-01-31 02:01] #2480 closed

[2019-01-31 17:52] sladyn98 opened #2847 "Travis CI logs fail due to failing pep8 tests."
https://travis-ci.org/frextrite/coala-bears/jobs/486981236#L4739.
Taking a look at the obove travis CI logs we can see that Pycodestyle bear complains with errors.
[`  38] ········by·GitHub·in·a·refs/pull/(\d+)/merge·git·remote·reference.
**** PycodestyleBear (W605) [Section: all.autopep8 | Severity: NORMAL] ****
!    ! W605 invalid escape sequence '\d'`

`[ 248] ····statement,·i.e.·within·the·ope

[2019-01-31 22:05] jayvdb commented on #2760
The first problem was solved upstream, breaking this repo as the second wasnt solved at the same time.

The second problem was raised as dup https://github.com/coala/coala-bears/issues/2847

[2019-01-31 22:06] jayvdb commented on #2847
Duplicate of https://github.com/coala/coala-bears/issues/2760

[2019-01-31 22:06] #2847 closed

[2019-02-02 03:19] jayvdb commented on #2843
Note earlier issue https://github.com/coala/coala-bears/issues/2829 about similar problems.  This is going to keep happening with go until we fix the underlying problem of the CI worker having a very old version of go.

Nominally assigned to @frextrite , but ill step in and fix all the breakages at the end of the weekend if there are not high quality fixes already ready by then.

[2019-02-02 05:16] jayvdb opened #2849 "openSUSE packaging"
c.f. https://github.com/coala/coala/issues/5972 for the coala task.

Collecting packages at https://build.opensuse.org/project/show/home:jayvdb:coala:python3-bears

I've found most of the top level dependencies.

Need to identify all the missing dependencies, and their sub-dependencies

[2019-02-02 07:08] frextrite commented on #2843
@jayvdb Actually what I'm doing doesn't involve upgrading golang. We'll still be using go v1.7.4 and it'll work. I'm upgrading the gometalinter package to the latest version and install the dependencies using the newer method and this fixes the problem.(The old method was using `gometalinter --install` which is now deprecated)

Initially, I thought of upgrading golang to the latest version, but th

[2019-02-02 14:02] frextrite opened #2851 "TextLintBearTest.py failing tests"
A couple of tests, `test_bad_ng_words_acronym_list_item` and `test_bad_unexpanded_acronym` in `TextLintBearTest.py` are failing primarily due to a typo.

[code]

Check [Travis log](https://travis-ci.org/coala/coala-bears/jobs/487845422#L4247) for further details

`area/ci`
`difficulty/low`

[2019-02-02 15:37] Naveenaidu commented on #2851
@frextrite  This should be a `difficulty/newcomer` issues. The above isssue deals with only typo errors. Apparently the error message has been [changed by the TextLint](https://www.npmjs.com/package/textlint-rule-unexpanded-acronym)(from stands to stand) which caused the above assertion error.

[2019-02-03 06:06] frextrite commented on #2851
I tried to traceback the origin where `stand` was being emitted instead of `stands` but could not find that any file. So, just a plus one level due to traceback difficulty. XD

[2019-02-03 09:07] Anmolbansal1 commented on #1954
@jayvdb can I work on it?

[2019-02-04 00:35] #2760 closed

[2019-02-04 00:42] jayvdb commented on #2851
This is not a bug.  It worked perfectly before, so an external factor has changed, as @Naveenaidu mentioned above.

[2019-02-04 05:39] #2843 closed

[2019-02-04 05:56] #2851 closed

[2019-02-04 06:06] #2371 closed

[2019-02-04 06:07] jayvdb opened #2853 "moban job is red"
A sync is required (see readme in https://gitlab.com/coala/mobans), but some of the moban differences will require more work.

[2019-02-04 07:02] jayvdb commented on #2853
See https://travis-ci.org/coala/coala-bears/builds/488356492

This job is allowed to fail on PRs on the coala & coala-bears repos only, but is a failure on master for these two repos.  The rationale for that is PR authors may be unprepared to tackle moban failures, especially in these two rather complicated repos.

The failure on master ensures that the developers & maintainers still notice the pr

[2019-02-04 15:54] frextrite commented on #2853
Digging up on moban atm. But I got a few queries,

This job *may* fail on PRs and *may* fail on master(if a PR merge breaks the template) but technically *must never* fail on master. Though currently it is failing and that needs to be fixed.

If moban fails, do a sync else :tada: right?

Developers and users generally are. No doubt here.

Currently `git diff --exit-code` returns a non-zero code. S

[2019-02-05 02:06] jayvdb opened #2857 "PySafetyBear broken by new release: TypeError: check() missing 1 required positional argument: 'proxy'"
https://travis-ci.org/jayvdb/coala-bears/jobs/488802415

[code]

[2019-02-05 06:40] bnu123 commented on #2738
@sangamcse Hi, due to exams, I was inactive, but now I am available. Can you guide me what actually I have to do in this issue. I created a file and then made a commit to that file, then I reverted the commit and used coala as `coala --files=Spam.txt --beard=GitRevertInspectBear --save`, and coala ran successfully, so I don't know what I've to do? do I need to make a bad revert, if yes then how ?

[2019-02-05 12:56] refeed commented on #1894
I still can't figure out how to change `cls.check_connection_url` through `run()` (https://github.com/refeed/coala-bears/commit/105e42c5e8a39a1847939f66e5ae8e018a371023#diff-fcec7e6f258847e1b81a0cfdededf041R34) since as far as I know `check_prerequisites()` will be called first before `run()` and I think it's quite impossible to do it right now without some changes on coala core. I think we can cl

[2019-02-05 12:59] Naveenaidu commented on #2857
@jayvdb
The above error occurs due to the recent change in the `Safety` package which has been release on [5th Feb](https://pypi.org/project/safety/#history) (Today). The new version comes with the added functionality to support proxies which the `Requests` module of python uses.

The commit which made these changes is [here](https://github.com/pyupio/safety/pull/181/files)

In order to fix the ab

[2019-02-05 13:50] ayan-b commented on #2853
@frextrite , It seems a sync is required. You may want to check https://gitlab.com/coala/mobans .

[2019-02-05 14:20] jayvdb commented on #2857
Yup, that is what we should do.

It might also be possible to set `proxy=None`, and that would be preferred way to indicate no proxy are requested.

[2019-02-05 15:15] sanchit48 commented on #2736
I would like to work on this issue.

[2019-02-05 15:33] jayvdb commented on #2736
@li-boxuan , should good to remove the gci label, on open issues.

[2019-02-05 16:17] #2857 closed

[2019-02-05 19:32] Akhelesh commented on #2826
For the latest pylint version passing 'null' for the rcfile flag causes pylint to search for a null file file which results in a 'file not found' OS error according to its implementation. Currently the PyLintBear passes a null rcfile if it isn't specified which fails pylint's execution, this https://github.com/coala/coala-bears/pull/2828 PR ensures a null rcfile is not passed if the user has not s

[2019-02-06 01:47] justinwalker4179 commented on #2798
I've looked over the KeywordBear file and can tell generally what all the functions are doing, but I don't know what you mean by language setting. This is my first issue and I'm still unclear on how things work overall. Can you give me any clarification?

[2019-02-06 04:00] jayvdb commented on #2849
See https://build.opensuse.org/project/subprojects/home:jayvdb:coala for subprojects for various types of bears

[2019-02-06 06:44] jayvdb opened #2861 "Add missing skips"
[   83s] ==================================== ERRORS ====================================
[   83s] ___________________ ERROR collecting tests/coalaBearTest.py ____________________
[   83s] tests/coalaBearTest.py:10: in <module>
[   83s]     class coalaBearTest(unittest.TestCase):
[   83s] tests/coalaBearTest.py:29: in coalaBearTest
[   83s]     @unittest.mock.patch('sys.version_info', tuple((2, 7,

[2019-02-06 06:53] jayvdb opened #2862 "AttributeError: module 'unittest' has no attribute 'mock'"
Seen on Python 3.7
[code]

[2019-02-06 06:56] jayvdb opened #2863 "NotImplementedError: Setting version is not implemented by RscriptRequirement"
[   83s] _________________ ERROR collecting tests/r/FormatRBearTest.py __________________
[   83s] tests/r/FormatRBearTest.py:1: in <module>
[   83s]     from bears.r.FormatRBear import FormatRBear
[   83s] bears/r/FormatRBear.py:20: in <module>
[   83s]     prerequisite_check_fail_message='Please install formatR for this bear '
[   83s] bears/r/FormatRBear.py:36: in FormatRBear
[   83s]     versi

[2019-02-06 08:26] jayvdb opened #2864 "nltk~=3.2 is not sufficient"
A recent change to the VCS bears used a feature of nltk not found in v3.2 ; correct minimum version needed.

[2019-02-06 08:39] jayvdb commented on #2864
@Anmolbansal1 , please finish https://github.com/coala/coala/pull/5971

This issue needs analysis, and then it will probably be a newcomer issue to make the actual change needed.

[2019-02-06 16:04] #2840 closed

[2019-02-06 17:39] frextrite commented on #2862
`unittest.mock.patch` gives AttributeError on all versions of python 2.7+

However if the tests are run by `pytest` the above error is not thrown. This was likely fixed in the latest pytest resulting in the above error.

[2019-02-06 18:44] areebbeigh commented on #2862
It's a simple fix with 2 changes, `from unittest.mock import patch` for Python 3.

This could be a newcomer issue. If not, I want to be assigned.

[2019-02-06 20:48] Akhelesh commented on #1203
@jayvdb Please assign this issue to me

[2019-02-07 01:29] #2806 closed

[2019-02-07 05:48] jayvdb commented on #2862
@frextrite , if you want to explore your `pytest` theory, the versions used can be found in the logs at https://build.opensuse.org/package/show/home:jayvdb:coala/python-coala-bears , and you can 'branch' that package and edit the .spec to remove the `rm tests/coalaBearTest.py` which I did as a quick hack.

[2019-02-07 05:50] jayvdb commented on #2862
@areebbeigh, that sounds like it might be the fix, but how do we prevent it from occurring again?  If you can think of a solution to that, this becomes a viable non-newcomer issue.

[2019-02-07 06:02] frextrite commented on #2862
@jayvdb We should go with the fix suggested by @areebbeigh, changing `import unittest` to `from unittest.mock import patch`.

This would a hardbound fix and it would never occur again. The old method being used in `coalaBearTest.py` was bound to fail in every version of python but pytest with its magic made it work somehow. The new import method would never fail as it is the recommended(only corre

[2019-02-07 08:11] jayvdb commented on #2862
But we use pytest, and it does this magic, and it doesnt work with the pytest version that distros currently provide even in their rolling release.  That means developers are likely going to try using the pytest from their OS and it will fail.

Someone can re-introduce this bad import and our CI wont fail.  Expecting people to follow guidelines doesnt work -- if it did, this import wouldnt exist.

[2019-02-07 08:59] areebbeigh commented on #2862
Stumbled upon this [here](https://pypi.org/project/pytest-mock/)"

This plugin monkeypatches the mock library to improve pytest output for failures of mock call assertions like Mock.assert_called_with() by hiding internal traceback entries from the mock module.

The following config in pytest.ini disables this plugin and the AttributeError is detected for the bad import:

[code]

[2019-02-07 09:19] frextrite opened #2866 "LineContinuationBear: Code coverage is not 100%"
`LineContinuationBear.py` Code coverage is 92%, should be 100%.

Lines 41 and 42 are never hit.

Travis build log> https://travis-ci.org/coala/coala-bears/jobs/489843826#L4301

difficulty/newcomer
area/tests

[2019-02-07 09:40] jayvdb commented on #2862
Lovely @areebbeigh .  Please check that setting on coala repo also, and then submit a MR to https://github.com/coala/mobans with last line `Related to https://github.com/coala/coala-bears/issues/2862` , adding it to the template for all coala python repos

[2019-02-07 12:00] frextrite commented on #2863
As indicated by the traceback, [this line](https://gitlab.com/coala/package_manager/blob/master/dependency_management/requirements/RscriptRequirement.py#L48) is the cause of error:

[code]

If a version string is supplied the above exception is raised. This workflow was introduced in [this issue](https://gitlab.com/coala/package_manager/issues/5). Thoughts?

[2019-02-07 12:29] areebbeigh commented on #2862
I think this might require a little more investigation. I'm running into strange behaviour now:

[coalaDeleteOrigTest.py](https://github.com/coala/coala/blob/3eaae8875055d5340b707adaa53c289dd6b96725/tests/coalaDeleteOrigTest.py) in the coala repo uses mock.patch in the same broken way as this but still passes when I run it with `nosetests`.

The line `from coalib import coala_delete_orig` for some

[2019-02-07 13:58] areebbeigh commented on #2862
After looking into the requirements and test behaviours I found (oddly):

`coala-utils==0.7.0` causes the tests to pass *with* bad imports.
`coala-utils==0.6.7` doesn't seem to have this issue. The tests behave as expected (i.e throw AttributeError for bad imports) in this case.

[This fix](https://github.com/coala/coala-bears/issues/2862#issuecomment-461336540) is still applicable but not for `co

[2019-02-08 01:01] jayvdb commented on #2862
@areebbeigh , you may be seeing an example of an import changing state.

i.e. if `from unittest.mock import patch` is done first, `from unittest import mock; mock.patch` may become valid afterwards but not before.  Just an idea.  I've seen it happen before.

[2019-02-08 01:16] jayvdb commented on #2863
We want the version in our metadata in bears repo, so we can describe the dependencies accurately, but unfortunately `dependency_management` doesnt know how to install specific versions for many types of requirements.

We also want `dependency_management` classes to indicate when they dont support versions.

iirc, this problem only appears when the dependency is missing.

It is annoying that it is

[2019-02-08 05:24] frextrite commented on #2863
Are these 2 the only bears throwing this error? In that case, we can remove the version string from both of them. Though we have other alternatives aswell:

1. implement the method to download the listed version(I believe this wasn't possible that's why a change was made to raise this exception)
2. undo the change which introduced this exception(not preferable though)
3. use `dependency_management

[2019-02-08 06:33] jayvdb commented on #2863
option 1, even if it is possible for Rscript, there will always be package managers which only support fetching/installing the current version.  Go is another one where this is a problem, likewise Julia.

option 2, no, we need this.

option 3, no, that isnt possible/appropriate , see https://github.com/coala/meta/issues/123

Please approach this like suggested in my last comment, which is the only

[2019-02-08 09:05] areebbeigh commented on #2862
It's `testfixtures` causing the problems. Turns out, coala-utils starting from 0.7.0 is using testfixtures therefore any import from coala-utils using testfixtures causes this behaviour. You've already created an issue: [Remove dependency on textfixtures](https://gitlab.com/coala/coala-utils/issues/47)  (Related: https://github.com/coala/coala/issues/5335)

So we only have a fix for tests not depe

[2019-02-08 09:46] jayvdb commented on #2862
Yup.  Great analysis.  I'll leave this assigned to you, and give you tasks related to getting coala-utils 0.8.0 released.
It depends on PyPrint being released, and that is almost done, but there are a few more things which should be done.

[2019-02-08 09:49] #2866 closed

[2019-02-08 10:57] Daronion commented on #2861
What does skip test exactly mean?
- should the test appear as done, or should it just not appear in the output?
- what happens to the coverage in the case of skipped tests?

[2019-02-08 12:51] Daronion commented on #2861
After further investigation I noticed that there **exists** a dependency check already in place. The problem is caused by the imports (happening at bear declaration time) taking place before the actual dependency check.

I thought of 2 possible solutions:

1. Each bear can define a function that imports its dependencies.
Before
[code]
After
[code]

2. We can use python decorators to avoid class de

[2019-02-08 13:38] jayvdb commented on #2861
@Daronion , see other test classes in the bears repo, and you should see a skip decorator used on them.  The log of errors probably contains quite a few different sorts of problems, so focus on MementoBear, PEP8NotebookBear, PySafetyBear, PyromaBear, EradicateBear, and others which have the same type of problem as those ones.

We'll move the clang and giturlparse ones to a new issue.

[2019-02-08 14:49] jayvdb opened #2869 "git-url-parse 1.2 support"
git-url-parse 1.2 has been released.  Our requirement should allow this version after it has been tested, and probably allow all future 1.x

[2019-02-08 14:51] jayvdb commented on #2869
And once that is done, also submit a new package version to https://build.opensuse.org/package/show/devel:languages:python/python-git-url-parse

[2019-02-08 15:48] #2853 closed

[2019-02-08 16:02] #2738 closed

[2019-02-08 16:50] rajdeepbharati opened #2870 "PyUnusedCodeBear: does not give error when importing with parentheses"
PyUnusedCodeBear does not give error when importing statements with parentheses

# Steps to Reproduce
1. Create a file containing an unused `import` statement with parentheses
for example,
[code]
2. run coala using `PyUnusedCodeBear`

# Actual Results
No error is shown
# Expected Results
An error should be shown regarding unused import

[2019-02-09 10:00] Anmolbansal1 commented on #2706
@li-boxuan I am interested in writing a bear. Please assign this to me.

[2019-02-09 15:08] frextrite commented on #2870
autoflake upstream [issue](https://github.com/myint/autoflake/issues/8)

[2019-02-09 15:13] frextrite commented on #2870
The above issue has a workaround using `isort`. This can be implemented in coala but it maybe a bit(a lot?) messy. Do we need to implement it @jayvdb?

[2019-02-10 07:35] iBvishal commented on #2846
HelloWorld! if this issue is still open I want to work on that.

[2019-02-10 11:09] rajdeepbharati commented on #2870
Using `isort` would mean coala would probably have to run another script in the background.

[2019-02-10 14:51] frextrite commented on #2863
@jayvdb Currently, the `generate_bear_requirement.py` gets the version number from each bears' `.py` file and then generates a curated list of requirements as `bear-requirements.yaml`.

In this [issue](https://gitlab.com/coala/package_manager/issues/5), the `NotImplementedError` exception was implemented for Go and Julia apart from R. Since Go and Julia, both do not support installation of a speci

[2019-02-10 15:01] frextrite commented on #2849
I would like to help but what exactly needs to be found here? A quick search at OpenSUSE [package finder](https://software.opensuse.org/find) shows pyroma package under `python3-bears` and also [python3-clang](https://software.opensuse.org/package/python3-clang?search_term=python3-clang)(libclang-py3)

[2019-02-10 15:02] Daronion commented on #2861
@jayvdb , I looked at other classes and found the generate_skip_decorator. I focused on MementoBear and noticed the following:
 it has a dependency on URLHeadBear, and URLHeadBear has a dependency on URLBear. All 3 tests (MementoBearTest, URLHeadBearTest, URLBearTest) fail because the last dependency (URLBear) requires aenum which doesn't exists so it should be skipped.

I tried adding the skip de

[2019-02-10 16:32] jayvdb commented on #2849
Most of the python bear linters have been packaged, or do exist

https://build.opensuse.org/project/show/home:jayvdb:coala:python3-bears

Other groups of linters can be found in sub-projects at https://build.opensuse.org/project/subprojects/home:jayvdb:coala

[2019-02-10 16:43] jayvdb commented on #2861
You need to ignore any test file where the failing import appears in the test suite.

The analysis that you are doing is useful, and you appear to be going in the right direction, but there are two types of import errors and you need to keep going until you understand them both.  Keeping looking through the list of errors, especially for  PEP8NotebookBear, PySafetyBear, PyromaBear, EradicateBear w

[2019-02-10 16:52] jayvdb commented on #2863
Well the YAML doesnt give a false expectation -- it only describes the bears.  Those entries are not redundant - they are the mechanism by which we will be able to create installers which can choose versions, or fail to install problematic versions.

Removing the version from the bear is not happening.  We are not going backwards.  Version metadata is incredibly important to be able to manage so m

[2019-02-10 16:57] jayvdb commented on #2849
https://build.opensuse.org/package/show/home:jayvdb:coala/python-coala-bears mostly works now, with the bear linters installed separately.

[2019-02-10 17:59] Daronion commented on #2861
I checked on each of the bears mentioned (I couldn't find the EradicateBear though, maybe you mean the eradicate module from PyCommentedCodeBear).

- PEP8NotebookBearTest:
[   83s] Traceback:
[   83s] tests/python/PEP8NotebookBearTest.py:2: in <module>
[   83s]     from bears.python.PEP8NotebookBear import PEP8NotebookBear
[   83s] bears/python/PEP8NotebookBear.py:2: in <module>
[   83s]     impor

[2019-02-10 18:20] jayvdb commented on #2849
There are unsolved issues about clang in bears and coala repos. I disabled those tests in the bears .spec

[2019-02-11 01:36] jayvdb commented on #2849
lots of workarounds in
https://build.opensuse.org/package/view_file/home:jayvdb:coala/python-coala-bears/python-coala-bears.spec?expand=1

[2019-02-11 01:51] jayvdb opened #2871 "Replace dep munkres3 with munkres"
https://github.com/bmc/munkres now has Python 3 support, so we dont need to use https://github.com/datapublica/munkres

openSUSE already has the former, doesnt have the latter (c.f. https://github.com/coala/coala-bears/issues/2849)

https://packages.ubuntu.com/cosmic/python3-munkres appears to also be the former.

[2019-02-11 01:58] 123vivekr commented on #2820
Is this issue still being worked on?

[2019-02-11 02:13] jayvdb commented on #2849
node packaging is quite problematic, so we might leave those until last.

The next big set is ruby, being collected at https://build.opensuse.org/project/show/home:jayvdb:coala:ruby-bears

- [x] brakeman
- [ ] csvlint
- [ ] fasterer
- [x] haml_lint
- [x] puppet-lint
- [x] reek (broken)
- [x] rubocop (broken)
- [ ] scss_lint
- [ ] sqlint
- [x] travis

[2019-02-11 07:51] areebbeigh commented on #2862
Needs a `status/blocked` @jayvdb

[2019-02-11 16:29] Naveenaidu commented on #2869
Working  to submit a new package version of git-url-parse to  https://build.opensuse.org/package/show/devel:languages:python/python-git-url-parse

[2019-02-11 18:55] jayvdb commented on #2849
https://build.opensuse.org/project/requests/home:jayvdb:coala:python3-bears has a list of changes being made to get fix versions or resubmit 'misc' repo packages into main repo

[2019-02-12 08:00] nishikeshKardak commented on #2870
Hey please assign me this issue I want to working on this issue.

[2019-02-12 09:23] frextrite commented on #2863
I was referring to the `version` argument passed during instantiation of `RscriptRequirement` as stated by [you](https://gitlab.com/coala/package_manager/issues/5#note_32635583).

PS: A detailed summary to follow up.

[2019-02-12 12:13] frextrite commented on #2863
In that case, we still need to have a version metadata somehow and the imports must not fail.

I dug further into `PackageRequirements.py` `RscriptRequirement.py` `ExecutableRequirement.py` and `DistributionRequirement.py` to solve the problem as per your guidelines, and here's what I found:

1. Basic version checking of a **package** cannot be implemented in `ExecutableRequirement` since it only

[2019-02-12 17:32] 123vivekr commented on #2329
@kriti21 Is this issue still being worked on?

[2019-02-13 02:46] jayvdb opened #2873 "YapfBearTest.test_allow_multiline_lambdas fails with yapf 0.24"
[code]

We should include support for 0.24, and the latest 0.26

[2019-02-13 02:50] jayvdb opened #2874 "XMLBearDTDUrlTest.test_valid_files fails with openSUSE libxml2-tools-2.9.9-158.2"
To reproduce, branch https://build.opensuse.org/package/show/home:jayvdb:coala/python-coala-bears , and edit the .spec to allow that test to run (I am deselecting it most of the time)

Error failed to load external entity "http://docs.oasis-open.org/dita/v1.0.1/dtd/concept.dtd" suggests that this is caused by the RPM build environment not having internet access.

[code]

[2019-02-13 02:56] jayvdb commented on #2874
[code]

One approach is to use test data which is already included in distro packages, but that depends on whether the xml2 library can find local copies of external URL dtds.

Alternatively we need a mechanism for skipping tests which depend on online resources.

[2019-02-13 07:18] jayvdb commented on #2329
The latest release of cmake isnt on pypi; see https://github.com/richq/cmake-lint/issues/28 , so this feature isnt possible atm

[2019-02-13 08:43] areebbeigh commented on #2873
The test is failing because yapf changed their column length splitting conditions.

Maybe it's just the test that should be modified to match yapf's changes?

[2019-02-13 09:15] jayvdb commented on #2873
The bear and tests should support multiple versions of the linter.

[2019-02-13 09:16] areebbeigh opened #2875 "Bear proposal: NPM package.json lint"
A linter for `package.json` files: https://github.com/tclindner/npm-package-json-lint

[2019-02-13 14:53] #2869 closed

[2019-02-13 15:31] jayvdb commented on #2862
Please take a look upstream to see if `testfixtures` is doing anything funky which might be causing this.

We are using an old pinned version of `testfixtures`, so the problem might be fixed in more recent versions.

Relying on an import sequence isnt 'safe'.

This could be an extension of https://gitlab.com/coala/bears/coala-pyflakes/issues/10 , as it is easy to determine that `unittest.mock` is

[2019-02-13 16:01] areebbeigh commented on #2862
The latest version for testfixtures (6.5.0) is the same.

Then I'll create a PR changing all the imports to the form below whereever necessary?
[code]

It can probably be fixed in all the cases. I'll look through it (including the core repo).

Should I open a separate issue on the coala repo for these imports or I can just refer this one in a PR?

[2019-02-13 16:06] areebbeigh commented on #2862
About preventing from the errored importing from passing the tests in the future I'd like to recap that it'll be taken care of as follows:

- An MR to the mobans repo has been made disabling monkeypatch for pytest.
- testfixture won't be a (non test) dependency anymore in coala-utils 0.8.0

[2019-02-13 16:28] #2796 closed

[2019-02-13 16:36] jayvdb commented on #2862
Yea, we only need one issue - you can do all the PRs.

Im not sure about this yet - it sounds like it is useful ...

And here is the real problem ... even if it is removed from coala-utils source, we still might do `import testfixtures` in the tests, and the problem can re-occur.

The problem in `testfixtures` needs to be found and fixed.

And a linter is still needed to catch this type of problem

[2019-02-13 17:56] 123vivekr commented on #2820
@ajeetdsouza Are you working on this?

[2019-02-13 18:51] jayvdb commented on #2863
Wrt to ExecutableRequirement, https://gitlab.com/coala/package_manager/issues/206 is a way to achieve that.

Almost all of the linters use a CLI.  However not surprisingly, formatr and lintr have an executable of `Rscript`, and JuliaLint is another case.

Slightly related, wrt adding generic metadata, the method we intend to use is https://gitlab.com/coala/package_manager/issues/159

wrt `Distribu

[2019-02-13 19:17] #1954 closed

[2019-02-14 06:02] yash-kedia commented on #2846
hey can this issue be assigned to me

[2019-02-14 21:36] jayvdb opened #2877 "Loosen pins based on openSUSE build 20190215"
[opensuse_tumbleweed_build_green_20190215.txt](https://github.com/coala/coala-bears/files/2866861/opensuse_tumbleweed_build_green_20190215.txt)

Attached is a build log of https://build.opensuse.org/package/show/home:jayvdb:coala/python-coala-bears , while green.

Identify the linter versions used, where the bear tests pass, and update the bear requirements to allow these versions.

The tests shou

[2019-02-14 21:37] jayvdb commented on #2877
Ignore pylint, which is covered by https://github.com/coala/coala-bears/issues/2826 , and also look for any other issues/PRs which are doing version bumps.

[2019-02-17 07:48] 123vivekr commented on #2207
Please assign this issue to me.

[2019-02-19 07:40] areebbeigh commented on #2873
Then we can check results depending on the version of yapf installed. I want to be assigned :)

[2019-02-19 09:55] #2610 closed

[2019-02-19 10:29] areebbeigh commented on #2862
Not an issue with testfixtures. Here's what's happening:
From [here](http://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html#the-submodules-are-added-to-the-package-namespace-trap) and https://github.com/Simplistix/testfixtures/issues/108

[code]
[code]

So it's just the way imports are dealt with in Python.

[2019-02-19 10:43] jayvdb commented on #2862
Yup, which is why we need a linter to protect against this part of the Python runtime.

[2019-02-20 04:04] goel-rachit598 commented on #2846
Can I be assigned this issue. @jayvdb

[2019-02-21 19:28] Akhelesh opened #2881 "Modify tests for URLHeadBear dependents to support user-agent header"
https://github.com/coala/coala-bears/pull/2879 PR  adds a user-agent header to the request made by URLHeadBear. The HTTPSBearTest and InvalidLinkBearTest cause the build to fail as they depend on the URLHeadBear.

**What to do:**
Add user-agent header used by the URLHeadBear to the requests made by these tests.

[2019-02-21 19:29] Akhelesh commented on #2881
@jayvdb Please assign this issue to me. It's related to the PR I am working on.

[2019-02-23 05:15] 123vivekr commented on #2207
@Makman2  Please assign this to me.

[2019-02-28 07:16] rrtheonlyone commented on #2306
Is this still a relevant issue?

I would like to take it up if so. Can assign me @jayvdb @Makman2

[2019-02-28 19:51] chay2199 commented on #2277
@Makman2 Please assign me this issue.

[2019-03-02 16:53] #1929 closed

[2019-03-02 16:53] Alexander-N commented on #1929
This has been fixed in isort.

[2019-03-02 23:10] Ishaan29 commented on #2483
@jayvdb @li-boxuan I would like to take up this issue , if not reserved ( since gci has been ended) 😄 👍

[2019-03-03 13:44] KVGarg commented on #2871
@jayvdb @li-boxuan I would like to work on this issue. Can anyone of you assign this to me ?

[2019-03-03 14:32] areebbeigh opened #2882 "PycodestyleBear always exits with only one result"
Sample code:

[code]
Expected PycodestyleBear output:

[code]

Actual output:

[code]

[2019-03-03 14:34] areebbeigh commented on #2882
This is because `process_output` parses only the first error reported by the linter - introduced [in this commit](https://github.githistory.xyz/coala/coala-bears/blob/master/bears/python/PycodestyleBear.py)

I would like to be assigned.

[2019-03-06 07:12] abhishalya opened #2885 "Travis build faliure on python3.4"
jsonschema has [dropped support for Python3.4](https://github.com/Julian/jsonschema/commit/2387d08e05bdd9d3a65a01eb9d0c97be8c43a6bd) as reported on [gitter](https://gitter.im/coala/coala?at=5c7d1667e1446a6ebe7e3baa) by @bkhanale.

The failure is [here](https://travis-ci.org/coala/coala-bears/jobs/502070559#L3448).

[2019-03-07 14:46] jyrodrigues opened #2886 "Website language search doesn't work"
On this url: https://coala.io/#/languages the search isn't working. Even the spinning wheel doesn't show.

I tested on both chrome (v 72.0) and firefox (v 65) on a Mac OSX 10.13.6

[2019-03-07 14:48] #2886 closed

[2019-03-09 15:22] rajdeepbharati commented on #2207
@khanchi97 are you still working on this? If not, then I'd like to do so

[2019-03-09 15:43] khanchi97 commented on #2207
Well, I am not working on it. You can take it. Maybe this ongoing PR https://github.com/coala/coala-bears/pull/2222 would be helpful for you :)

[2019-03-10 00:18] Ishaan29 commented on #2483
wrong reference , git was untraced ..

[2019-03-10 21:53] KVGarg commented on #2877
@jayvdb  `bear-requirements.txt` contains all linter packages, right ? There is no such package name that is not a linter or a validator

[2019-03-11 07:16] jayvdb commented on #2877
bear-requirements.txt contains all python dependencies, and they all need to be using openSUSE compatible versions.

e.g. aenum is not a validator or linter, but is a dependency.

[2019-03-11 16:02] AkshJain99 commented on #2735
@ayan-b what you actually trying to say do we need default or not?

[2019-03-11 16:04] ayan-b commented on #2735
It should not emit default as a language.

[2019-03-12 03:36] KVGarg commented on #2877
@jayvdb Would like to take up this issue :-)

[2019-03-12 08:10] KVGarg commented on #2877
Upgrading the version of `radon` to `3.4.1` is raising an error `pyprint 0.2.6 has requirement colorama~=0.3.7, but you'll have colorama 0.4.1 which is incompatible.` So, keeping it to its earlier version.

[2019-03-12 08:12] abhishalya commented on #2735
@ayan-b Ah, I guess he is pointing that the statement should be:

[2019-03-12 08:17] abhishalya commented on #2877
@KVGarg You don't have to upgrade the bears-requirements, we have to allow the requirements for the versions given here so that the build passes.

[2019-03-12 09:04] KVGarg commented on #2877
@abhishalya Correct me if I am wrong!

Say, `ApertiumLintBearTest` test is passed, then the corresponding bear(i.e ApertiumLintBear) class  has a variable [Requirements](https://github.com/coala/coala-bears/blob/master/bears/apertium/ApertiumLintBear.py#L28)  which needs to update requirements to allow these versions!
Also, If I'm going correct then these linter versions also needs to be updated i

[2019-03-12 09:11] ayan-b commented on #2735
@abhishaly Ohh, yeah, my bad.

[2019-03-12 11:58] abhishalya commented on #2877
@KVGarg Yep, and by update I mean modify or change (and not upgrade).

[2019-03-12 15:40] shivank1234 commented on #2885
What do we have to do here in a nutshell
@abhishalya ?

[2019-03-12 18:45] rajdeepbharati commented on #2207
Sure :)

[2019-03-13 08:26] AkshJain99 commented on #2306
Thanks for assigning

On Wed, 13 Mar 2019, 1:50 pm Boxuan Li, <notifications@github.com> wrote:

[2019-03-13 11:32] shivank1234 commented on #2882
Hey @areebbeigh  Are you working on this?

[2019-03-13 13:18] areebbeigh commented on #2882
@shivank1234 I need to be assigned first.

[2019-03-13 17:25] abhishalya commented on #2885
The internal dependency seems to be conflicting, one of the reasons maybe the one I mentioned in the issue. We need a workaround, finally the goal is to make CI green.

I would request you to work on your own fork before submitting a PR, since if you activate travis on your PR you could check the build status (without the need of creating a PR).

[2019-03-13 19:30] shivank1234 commented on #2885
Cool I'll work upon it

[2019-03-14 13:30] AkshJain99 commented on #2151
we have pylint bear for linting python code, why need pycheck bear?

[2019-03-14 13:33] AkshJain99 commented on #2151
and also if no one is working on this issue i would like to take this up , I know the solution to add this bear
@li-boxuan  or @Makman2  if you assign this to me i will open pr for this now only

[2019-03-14 16:13] chay2199 commented on #2151
@AkshJain99 Your doubt has already been discussed in the above thread. Please have a look.

[2019-03-14 17:36] AkshJain99 commented on #2151
@li-boxuan i have created a commit as soon as you assign me this issue i will open a pr
thanks

[2019-03-14 18:26] AkshJain99 commented on #2151
Thanks

On Thu, 14 Mar 2019, 11:07 pm Boxuan Li, <notifications@github.com> wrote:

[2019-03-14 20:18] KVGarg commented on #2877
@jayvdb Would like to take up this issue! Can you assign it to me ?

[2019-03-15 13:46] AkshJain99 commented on #2885
@abhishalya so did you find a solution to fix this ?
i too faced the travis failed

[2019-03-15 13:51] KVGarg commented on #2877
@jayvdb Changing version of `radon` from `1.4.0 to 3.0.1` was creating a `colorama` package conflict as it installs colorma 0.4.1 but requirement of package pyPrint is colorama<0.4
Also, YapfBearTest has been failing. I guess it is due to change in version.

Can you help me!! Created a PR for it already

[2019-03-15 13:55] bkhanale commented on #2877
@KVGarg Since the file provided in the issue statement passes the build, you can update the requirements as per the file. Has there been any recent change in the upstream repos? Since the build is quite new 20190215.

[2019-03-15 13:57] KVGarg commented on #2877
I have updated the requirements as per file, only then the bild is failing due to `radon` and `yapf`

[2019-03-15 13:58] abhishalya commented on #2885
@AkshJain99 No, I haven't worked upon it yet. I guess @shivank1234 wanted to work on this issue.

Where do you face this issue?

[2019-03-15 14:02] AkshJain99 commented on #2885
i got this issue while adding one bear, for python 3.5 and 3.6 its working  good but for python 3.4 itz not working

[2019-03-15 14:04] bkhanale commented on #2877
Ah, [this](https://github.com/rubik/radon/commit/f31a658a2528e3e2c8f43ec4cb93eb5916cc77f9) bumps up the colorama version in radon, it was a recent change. You can downgrade the version of radon in that case. Do this for all occurring conflicts, finally the build should be green.

[2019-03-15 14:05] KVGarg commented on #2877
Thnx @bkhanale I will downgrade the version of `radon` as well as for `yapf`

[2019-03-15 15:41] abhishalya commented on #2885
Ah, this should be closed via https://github.com/coala/coala-bears/pull/2890 @KVGarg.

[2019-03-15 18:15] KVGarg commented on #2877
Due to package `jsonschema` requirements version of `six` should be greater or equal to `1..11.0`
And currently, coala uses version `1.10.0`. There is a need of change of version of `six` in-order to get travis ci pass for Python3.4. What should we do now?

[2019-03-15 18:18] abhishalya commented on #2877
Let me fix that myself, then you could cherry pick my commit in your PR.

[2019-03-15 18:19] KVGarg commented on #2877
jsonschema has dropped the support for Python3.4 https://github.com/Julian/jsonschema/commit/2387d08e05bdd9d3a65a01eb9d0c97be8c43a6bd
Due to which i Guess its making travis ci red

[2019-03-15 18:21] abhishalya commented on #2877
Reference issue https://github.com/coala/coala-bears/issues/2885

[2019-03-15 19:35] KVGarg commented on #2885
@abhishalya Adding `six~=1.11.0` to bear-requirements.txt is making Travis CI a perfect green.
Have a look https://travis-ci.com/KVGarg/coala-bears/builds/104618212
But I guess adding a new dependency to `bear-requirements.txt` won't be accepted IMO.
I think this change is needed to be done in the coala-core repository because the error also says that there is a version conflict with dependency in

[2019-03-15 19:38] abhishalya commented on #2885
@KVGarg No, we can't do that. `six` is not our direct dependency (not coala or coala-bears). Its indirect.

[2019-03-15 23:36] KVGarg commented on #2885
After updating the versions of several packages acc. to openSuse Build log the error shouldn't have been raised because there many packages that has a requirement of `six>=1.11.0` but the package gets installed without satisfying this condition on travis CI. IDK why is this happening ?
HTTPolice, jsonschema, packaging etc. are dependencies that currently require `six>=1.11.0`.

[2019-03-16 04:16] PrajwalM2212 commented on #1782
@jayvdb @li-boxuan  Can I be assigned to this issue ?

[2019-03-16 06:28] KVGarg commented on #2885
After spending hours on it, I'm just able to find only one workaround to solve this problem -
`pip install six -U` in the `travis.yml`
packaging~=16.8 has a requirement of six (any version)
HTTPolice~=0.7.0 has a requirement of six~=1.10.0
jsonschema~=3.0.1 has a requirement of six~=1.11.0

`six>=1.11.0` isn't getting installed anywhere in the program by any dependency. The virtual env created alr

[2019-03-16 07:15] AkshJain99 commented on #2207
so @rajdeepbharati are you working on this ?
Do you have solution for this? , if not can i take up this issue?

[2019-03-16 08:54] AkshJain99 commented on #2207
so @rajdeepbharati are you working on this ?
Do you have solution for this? , if not can i take up this issue?

[2019-03-16 12:26] rajdeepbharati commented on #2207
@AkshJain99 you can take it up

[2019-03-16 12:27] AkshJain99 commented on #2207
Okay :)

On Sat, 16 Mar 2019, 5:56 pm Rajdeep Bharati, <notifications@github.com>
wrote:

[2019-03-16 18:51] AkshJain99 commented on #2207
@Makman2  can you assign this issue to me?

[2019-03-16 19:30] AkshJain99 commented on #2207
@li-boxuan I got through the issue I have also push a commit for that as soon as you will assign me the issue i will open a pr for this

[2019-03-17 13:43] KVGarg commented on #2885
@abhishalya did you find any solution to this problem?

[2019-03-17 13:59] abhishalya commented on #2885
Sorry I was busy with my classes. Besides your findings are incorrect. pip won't install a package unless its told. Creating a new virtualenv in python3.4 won't include six by default (I verified this myself). The six is being used by many of the requirements, and is being installed by one of them first. I'll experiment few things today and will let you know.

[2019-03-17 14:05] KVGarg commented on #2885
Yeah, it's not getting included. Few days back I created a new env for coala-bears at that time it included `six` now I created a new env and it's not including 😄 Maybe I used some diff. instruction to create a new env.

[2019-03-18 07:39] AkshJain99 commented on #2207
@li-boxuan ^^

[2019-03-18 07:51] Pihu1998 commented on #2763
Is this issue resolved?

[2019-03-18 13:58] rajdeepbharati commented on #2875
Would this be a linter bear?

[2019-03-18 14:37] rajdeepbharati commented on #2805
@naveentvelu are you still working on this?

[2019-03-18 14:46] rajdeepbharati commented on #2708
What should this bear be named?

[2019-03-18 17:22] ayan-b commented on #2763
@Pihu1998 there is an open PR #2803 .

[2019-03-18 17:39] Naveenaidu commented on #2763
@Pihu1998  I am still working on this :see_no_evil:  - The core issue is fixed by the PR #2803 - Waiting for the review from the maintainers.

[2019-03-19 10:50] Pihu1998 commented on #2763
@ayan-b  @Naveenaidu  Okay, thanks for the response!😃

<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=default3&tag=e8d474e3-5ac4-4260-8207-0985f33f73e7>
I’m
protected online with Avast Free Antivirus. Get it here — it’s free forever.
<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-

[2019-03-19 17:20] Makman2 opened #2894 "Requirement coala installed from requirements uses latest release, not latest master"
Currently `requirements.txt` specifies `coala` as a requirement using git-URL syntax. However, not the most recent master is taken from that URL for installation, but the most recent release on PyPI. There is much magic happening behind the scenes in `setup.py` that finally turns the git-URL of coala into a plain requirement as writing only
[code]
in the `requirements.txt` file.

The question is a

[2019-03-20 19:00] AkshJain99 commented on #2500
so @makman so at what extent we need to make it expandable here?

[2019-03-22 08:40] abhishalya opened #2895 "GitCommitBear: asciinema not available anymore"
The [`ASCIINEMA_URL`](https://asciinema.org/a/e146c9739ojhr8396wedsvf0d) in [GitCommitBear](https://github.com/coala/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L12) seems to be no longer working.

difficulty/newcomer

[2019-03-25 13:01] abhishalya commented on #2885
The `six >= 1.11.0` dependency is as follows:
[code]
Hence the dependency is third-order and idk why it gets ignores somehow. The `six` is never checked for `version >= 1.11.0`. To install `six >= 1.11.0`, I tried the following methods but the results were not satisfying:

1. Change the order of the requirements giving `nbformat` the highest priority.
2. Delete the cache on travis.
3. Use `pip ins

[2019-03-25 13:20] KVGarg commented on #2885
Satisfied with your research. I was able to figure out these findings and finded a workaround of either installing `six>=1.11.0` Or upgrading the current version of `six` using pip. Till now, I guess these are the only two possible solutions for making the CI green.

[2019-03-25 13:30] sladyn98 commented on #2885
@KVGarg  Upgrading the current version of `six`  resulted in a travis red.I tried it out in one of the builds but I am not too sure.IMO adding it to the bear requirements.txt seems a bit more sane option.

[2019-03-25 13:58] abhishalya commented on #2885
Upgrading `six` on travis is not a very good option since it has the most chance of breaking the function of other dependencies. We need to keep the version for six manually updated with the requirements in coala-bears (through which we could avoid breakages).

This seems a bit odd to me. Do you mean that `six 1.12.0` is incompatible? Could you like the build log here.

[2019-03-25 15:25] KVGarg commented on #2885
👍

[2019-03-26 13:09] li-boxuan opened #2898 "Create linter bear for Pyright"
https://github.com/Microsoft/pyright
a static type checker for python, written in typescript

[2019-03-26 16:46] Pihu1998 commented on #2895
Hi! newcomer here
I would love to work on this. Please can I be assigned this issue?

[2019-03-26 17:07] sladyn98 commented on #2895
@abhishalya we have this issue even in the projects repo where a student has a link to the asciinema and the link bear keeps complaining it is an ivalid URL.

[2019-03-26 18:07] abhishalya commented on #2895
@Pihu1998 You can ping `li-boxuan` or `jayvdb` on gitter room to assign you the issue.

@sladyn98 There are probably lot more invalid links in this repo itself. But I suppose as a newcomer issue, it is enough to get one asciinema working. Also, the projects repo is not updated with latest coala. Hence I guess the InvalidLinkBear is complaining.

[2019-03-26 20:05] KVGarg opened #2899 "Error while running Checkstyle Bear"
![image](https://user-images.githubusercontent.com/35761292/55029562-608cc000-5030-11e9-81cd-339b777fd62d.png)

Why we have been using `type(self)` to set a new class attribute?

[2019-03-27 06:24] Pihu1998 commented on #2895
@abhishalya  Yeah sure, Thanks!

[2019-03-27 17:30] chay2199 opened #2900 "travislintbear: SEE_MORE link has expired"

[2019-03-27 18:10] realJema commented on #2899
Could you try again and send the full image

[2019-03-27 18:42] KVGarg commented on #2899
@realJema https://pastebin.com/UTzJaimU

[2019-03-27 20:42] abhishalya commented on #2899
It should work fine, since Appveyor is running tests on this bear. So, maybe its just on your local system. Maybe an internet problem since it requires the jar file to be downloaded?

[2019-03-27 21:19] KVGarg commented on #2899
I checked it. The file is there in the path.

[2019-04-06 05:25] SimonZYC commented on #2900
Could someone assign it to me please?

[2019-04-06 05:30] SimonZYC opened #2902 "Errors while running SpaceConsistencyBear on.py"
I ran `coala --files=./\*.py --bears=SpaceConsistencyBear --save --json`. I used tabs in the python files. Errors:
[code]
So if we do not use spaces in source files, does that mean we can not run
SpaceConsistencyBear?

[2019-04-06 14:04] WeeBull opened #2903 "HaskellLintBear throws assertionFailure exceptions"
When running HaskellLintBear on the following code:

    wrapAsteroidP :: V2 Float -> V2 Float
    wrapAsteroidP p = fmap f p
      where f x = if (x < (-worldSize))
                  then x + (2 * worldSize)
                  else if (x > worldSize)
                       then x - (2 * worldSize)
                       else x

...we get the exception:

    [DEBUG][14:51:32] Running 'hlint --json

[2019-04-07 01:41] RuidongLiu commented on #2902
I'm a newcomer here, can I be assigned this issue, plz.

[2019-04-08 00:53] RuidongLiu commented on #2895
I made a new asciinema video for this issue. Can I be assigned to this issue?
thanks, https://asciinema.org/a/Iwab5uNXI4Zcbb3ouaPlBLoII

[2019-04-08 15:43] li-boxuan commented on #2902
As the first line explains,

use_spaces (from SpaceConsistencyBear) - True if spaces are to be used instead of tabs.

You need to provide that setting

[2019-04-08 15:43] #2902 closed

[2019-04-08 23:55] kaixiongg commented on #2882
Hey I would like to work on this issue if it is considered as a newcomer one.

[2019-04-13 18:32] KVGarg commented on #2881
@Akhelesh Please make changes in the created PR #2879  only! There is no need of creating a new issue for adding a test. The test has to be added in that PR only as its part of the issue #1203

[2019-04-15 10:56] shivank1234 commented on #2898
Can I take this one?

[2019-05-01 07:19] SimonZYC commented on #2651
Hi, the version of lxml is still 3.6.0 in master branch. The latest lxml is 4.3.3. Should we change it to 4.3.3 ?

[2019-05-11 16:35] bkhanale commented on #1113
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:35] bkhanale commented on #2370
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:35] bkhanale commented on #527
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:35] bkhanale commented on #1532
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:35] bkhanale commented on #2445
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:36] bkhanale commented on #1897
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:36] bkhanale commented on #502
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:36] bkhanale commented on #644
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-11 16:36] bkhanale commented on #2092
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-16 16:26] nishant-sachdeva commented on #2821
Is this issue closed or someone still working on it?

[2019-05-19 17:39] globefire commented on #2895
I am new to OSS, I found Coala interesting can I contribute somewhere?

[2019-05-22 13:54] jayvdb opened #2906 "Error fetching phpmd"
[code]

We need to find the version which was being installed, and then find another way of installing it.

[2019-05-22 14:28] jayvdb opened #2907 "remark"

[2019-05-23 06:18] jayvdb commented on #2863
Another approach is to add a requirement class for another R package manager.  https://rstudio.github.io/packrat/walkthrough.html looks like it supports versions.

[2019-05-23 08:48] jayvdb commented on #2863
Created  https://gitlab.com/coala/package_manager/issues/208 and https://gitlab.com/coala/package_manager/issues/209 as two additional ways this can be solved.

[2019-05-23 09:04] martin-sucha commented on #2729
I just hit this. @jayvdb which one is correct repo to report this issue? And where can I find documentation for the bears?

[2019-05-25 16:24] jayvdb commented on #1251
#1369 didnt solve this.

[2019-05-25 16:25] jayvdb opened #2908 "choco installed pmd doesnt work"
choco creates .exe shims to .bat files, and the pmd and cpd bears use `bash` which cant load .bat files.

[code]

[2019-05-25 16:37] jayvdb opened #2909 "csvlint fails on AppVeyor due to missing libcurl.dll"
[code]

[2019-06-02 06:28] abhishalya commented on #2906
The site seems to be offline (so is the project). Looking at https://github.com/phpmd/phpmd/releases, the latest release was at Jan, 2017 which needs to be installed via github source now.

[2019-06-02 06:42] abhishalya commented on #2909
Curl not installed? Or not added in path?

[2019-06-02 13:00] abhishalya opened #2911 "test-requirements.txt: ruamel.yaml install fails for Python 3.4"
Looking at https://pypi.org/project/ruamel.yaml:

I don't find `ruamel.yaml` in [mobans template](https://gitlab.com/coala/mobans/blob/master/templates/test-requirements.txt.jj2), so I guess this is project specific requirement.

[2019-06-04 14:25] abhishalya commented on #2885
Irrelevant now due to https://github.com/coala/coala-bears/pull/2910

[2019-06-04 14:36] abhishalya commented on #2911
Irrelevant due to https://github.com/coala/coala-bears/pull/2910

[2019-06-04 14:36] #2911 closed

[2019-06-09 13:34] jayvdb opened #2913 "RubySecurityBear failure"
On Ruby 2.6

[code]
https://ci.appveyor.com/project/jayvdb/coala-bears/builds/25149958/job/q0arqr4l0c3ln449

[2019-06-09 18:29] jayvdb opened #2914 "PowerShell formatter"
https://github.com/DTW-DanWard/PowerShell-Beautifier seems to be the best option

[2019-06-09 18:30] jayvdb opened #2915 "PowerShell linter"
https://github.com/PowerShell/PSScriptAnalyzer

[2019-06-09 18:32] jayvdb commented on #2914
https://github.com/StartAutomating/ScriptCop might also be worth looking at, but appears unmaintained.

[2019-06-09 18:43] jayvdb opened #2916 "PHPCodeSnifferBearTest fails on Windows due to line endings"
[code]

https://ci.appveyor.com/project/jayvdb/coala-bears/builds/25153020/job/xaquawe2t34l59a3

[2019-06-10 02:24] jayvdb opened #2917 "Terraform linter"
https://github.com/wata727/tflint

[2019-06-10 02:39] jayvdb commented on #2297
There is a choco package for this https://chocolatey.org/packages/vale

[2019-06-10 06:52] jayvdb opened #2918 "Create choco package for luacheck"
Due to problems regarding https://gitlab.com/coala/package_manager/issues/260 , the easiest approach for coala-bears is to create a package for 32bit luacheck, which can then be run in the 64 bit jobs.

This could be done by adding it to the choco `lua` package

https://github.com/rjpcomputing/luaforwindows/issues/126

Or creating a new choco package which depends on either the `lua` or `luarocks`

[2019-06-10 13:53] jayvdb opened #2919 "R bears fail on Windows"
The quoting of the filenames is causing problems on Windows.

[code]

https://ci.appveyor.com/project/jayvdb/coala-bears/builds/25167755/job/ol1aystbk99owyen

[2019-06-10 16:02] jayvdb opened #2920 "ShellCheckBear tests fail on Windows"
ShellCheck is emitting an extra result on Windows, breaking the tests.

[code]

[2019-06-11 01:01] jayvdb opened #2921 "CSSAutoPrefixBear: autoprefixer detection fails on Windows"
On Windows the autoprefixer check is failing

[code]

The following runs on the command line without error

[code]

[2019-06-11 01:54] jayvdb opened #2922 "AlexBear fails alex detection on Windows"
The `alex` package could not be verified. [WinError 2] The system cannot find the file specified

[2019-06-11 02:23] jayvdb opened #2923 "sqlint fails to compile on Windows"
Root of the problem is libpg_query doesnt compile on Windows.

Our Gemfile should deselect this gem automatically, or that should be done upstream in the gem or its deps.

[2019-06-11 02:43] jayvdb opened #2924 "elm-format fails on Windows"
[code]

It looks like the bear needs a language setting, and it also needs to check which version if neither elm.json or elm-package.json can be found.

[2019-06-11 03:40] jayvdb opened #2925 "elm-format tests fail on Windows"
[code]
https://ci.appveyor.com/project/jayvdb/coala-bears/builds/25185330/job/ab5vyu8usei0qpg2

[2019-06-11 04:05] jayvdb opened #2926 "SpellCheckBear doesnt work on Windows"
The test gives no clue why.

The tests and commit message in b3be8f36a and discussion in https://github.com/coala/coala-bears/issues/629 and https://github.com/coala/coala-bears/pull/747 also give no clues.

[2019-06-11 08:47] jayvdb commented on #2918
If luacheck doesnt need compiling, it might be possible to install https://chocolatey.org/packages/lua (which includes dependency LuaFileSystem) , and use its luarocks to install luacheck.  I thought I tried that and it failed, but I dont recall.

What I think we should *avoid* is the 64 bit builds switching to the 32 bit compilers to do 32 bit stuff pre-installing, and then switching back to 64 b

[2019-06-12 13:39] jayvdb commented on #1113
One way to approach this is to collect them all into a single requirements file, find any conflicts within the file (this bit still needs analysis), and then that file can be used as a [pip 'constraints' file](https://pip.pypa.io/en/stable/user_guide/#constraints-files) for any use of pip to avoid wrong versions being installed.

[2019-06-13 05:49] ashneg commented on #2898
Hey @li-boxuan ,if this issue is stale can you assign it to me

[2019-06-17 10:12] jayvdb commented on #2909
https://www.appveyor.com/docs/windows-images-software/

However `ffi` and compilation based dependencies often need more than just 'is the dll in the PATH'.  It needs to be the right version, *and* not conflict with a dll already loaded, *and* other problems.

Also this depends on https://github.com/brianmario/escape_utils , which needs a compiler, *and* it needs `make`, and its generated makefile

[2019-06-17 10:31] jayvdb commented on #2909
c.f. https://github.com/brianmario/escape_utils/pull/75 for some other Windows compilation problems.

[2019-06-19 18:08] jayvdb commented on #2914
PSScriptAnalyzer (c.f. https://github.com/coala/coala-bears/issues/2915) also includes a good formatter, but it doesnt support paths.  c.f. https://github.com/PowerShell/PSScriptAnalyzer/issues/775  But it should be good enough to wrap in a bear.

[2019-06-20 22:46] jayvdb commented on #2885
Problem still exists.  PR was wrong because bear-requirements.txt is generated from the metadata inside the bears.

test-requirements.txt is where we do fixes for our CI, working around pip oddities.  And that needs to be done in mobans repo so that the fixes are available in all our repos.  Issue raised there https://gitlab.com/coala/mobans/issues/110 , and has a PR.

[2019-06-21 03:12] abhishalya commented on #2885
Yep, I got that now :)

[2019-06-29 13:48] jayvdb commented on #2922
To debug I changes

[code]
to be
[code]

This needs to be done as part of this fix.

[2019-07-01 01:52] jayvdb opened #2929 "TextLintBear dependency on textlint-plugin-asciidoc-loose"
https://www.npmjs.com/package/textlint-plugin-asciidoc-loose is a compiled package, which is a build and security problem, especially considering it has not been maintained for three years.

It also has limited functionality https://github.com/azu/textlint-plugin-asciidoc-loose#limitation

https://www.npmjs.com/package/textlint-plugin-asciidoctor is better in every regard, and is a drop in replace

[2019-07-01 03:46] jayvdb commented on #2387
PHPLintBear is `php -l`, not related to http://www.icosaedro.it/phplint/

Adding phplint is a great idea.

[2019-07-01 03:47] jayvdb opened #2930 "PHPLintBear fails on Windows"
The regex used doesnt match on Windows, which cuts the lines into parts.

[2019-07-01 03:59] jayvdb commented on #2387
Potentially the current PHPLintBear could be renamed to something else, so that PHPLint can use the name PHPLintBear.

PHPLint is also called `phpl` so that also needs to be avoided if the current bear is being renamed.  `PHPCLILBear` ?  `PHPInternalLintBear`?

[2019-07-03 02:51] jayvdb commented on #1825
This has been working many times on Python 3.4 since bug was raised.  The problem likely related to something else that occurred, and infer is definitely prone to breaking for lots of reasons, but Python3 version has never been one of them.

Usually what happens is that Python 2 isnt available during the compile, and that is a dependency.

So you would need to do `pyenv global 2.7.14 3.4.3`.

Anyw

[2019-07-03 02:51] #1825 closed

[2019-07-03 02:55] jayvdb opened #2931 "Upgrade infer"
InferBear is using infer 0.7.0 , which is very old and requires a lot of hand holding to keep building.

It would be good if a newer version of infer was supported.

[2019-07-03 02:56] jayvdb commented on #2664
Travis doesnt support opam/ocaml.  TANSTAAFL.

Fixed in https://github.com/coala/coala-bears/pull/2910

I've created https://github.com/coala/coala-bears/issues/2931 for upgrading infer.

[2019-07-03 02:56] jayvdb commented on #2931
Historically the problem has been time to build was very high.  With https://github.com/coala/coala-bears/pull/2910, opam can have a full hour to do its thing, and then caching can be used so that builds are very quick normally.

[2019-07-04 03:38] abhishalya commented on #2906
It should be working now.

[2019-07-04 05:11] jayvdb commented on #2664
fwiw, https://github.com/facebook/infer/issues/325 and https://stackoverflow.com/questions/35157561/trying-and-failing-to-build-ocaml-package-javalib are where I got some of the hints on how to workaround this.  This one was very tricky.

[2019-07-06 11:20] frextrite opened #2932 "AttributeError: 'CheckstyleBear' object has no attribute 'checkstyle_jar_file'"
[code]

OS: Windows 10 build 18362.207

[2019-07-08 11:44] frextrite opened #2933 "JavaPMDBear wrong execution command on Windows"
[code]

`JavaPMDBear` is generating
[code]
command on windows.

The actual generated (and working) command should be (minus the bash prefix and pmd argument)
[code]

Windows 10 build 18362.207

[2019-07-16 08:53] jayvdb commented on #1384
This is solved partially by https://github.com/coala/coala-bears/pull/2910 because they can have their own jobs with one hour to build, instead of being part of a job which installs everything.

However I wasnt able to get the travis `language: haskell` working.

I tried adding `cabal install happy` after `cabal update` in `.ci/deps.cabal.sh`.

[2019-07-16 10:33] jayvdb commented on #2508
Those reasons have little relevance to this repository, as we do not use node_modules to build our product, and our package.json has no impact on the versions that our users would install.

If you want to have a lock file, please also add CI which ensures it is updated sensibly, and has readible diffs.  You will quickly find that then you need to control the npm version people use, otherwise the l

[2019-07-18 23:54] jayvdb commented on #2214
Duplicate of https://github.com/coala/coala-bears/issues/447

[2019-07-18 23:54] jayvdb commented on #447
Solved already because of a duplicate ;-(

[2019-07-18 23:54] #447 closed

[2019-07-21 07:08] #2929 closed

[2019-07-21 07:08] #2664 closed

[2019-07-21 07:08] #2930 closed

[2019-07-22 10:09] #2871 closed

[2019-07-22 14:05] areebbeigh opened #2936 ".ci/generate_bear_metadata.py: incorrect "overrides" value"
Running `moban` as `.ci/generate_bear_metadata.py` throws
[code]

This is because running `ci/generate_bear_metadata.py` sets `overrides: package-manager-requirements.yaml` whereas it should be `overrides: pm-requirements.yaml`.

Requires a simple change in:
https://github.com/coala/coala-bears/blob/afb068b11a634b9f869f5385337628284a42bab3/.ci/generate_bear_metadata.py#L461

[2019-07-24 02:15] jayvdb opened #2937 "CPDBear failing on Windows, both AppVeyor and Travis Windows"
Builds are consistently failing with four errors like

[code]
https://ci.appveyor.com/project/coala/coala-bears/build/job/tqv9oos3f43wspkt and https://travis-ci.org/coala/coala-bears/jobs/562576591

Almost certainly an error in the final phase of https://github.com/coala/coala-bears/pull/2910 , when I was culling unneeded stuff, which was masked by the caching.

[2019-07-24 02:22] #2873 closed

[2019-07-24 02:22] #2936 closed

[2019-07-24 02:24] jayvdb commented on #2937
Specifically it was caused by https://github.com/coala/coala-bears/pull/2910#discussion_r304716457 - the 'bash' was used to run `.ci/deps.coala-bears.sh`

[2019-07-24 03:26] jayvdb commented on #2937
Error is at https://travis-ci.org/jayvdb/coala-bears/jobs/562882047#L1195

[2019-07-29 01:28] jayvdb opened #2938 "Bear Proposal: pgsanity"
https://github.com/markdrago/pgsanity

[2019-07-30 03:00] abhishalya opened #2940 "lxml 4.4.0 dropped support for Python 3.4"
Need to cap below 4.4.0.

[2019-07-30 05:11] ryanleonbutler opened #2941 "Dependency [guess_language-spirit] incorrect in bear-requirements.txt on PyPi [0.11.1]"
Hi,
I am having issues installing coala-bears on my Ubuntu 16.04 LTS host. Essentially complaining about one specific dependency namely:
"ERROR: Could not find a version that satisfies the requirement guess-language-spirit~=0.5.2 (from coala-bears) (from versions: none)
ERROR: No matching distribution found for guess-language-spirit~=0.5.2 (from coala-bears)"
My environment details:
Python 3.7.3
p

[2019-07-30 07:28] ryanleonbutler commented on #2941
Works on Python v3.6, Python 3.7 is not supported.

[2019-07-30 07:30] #2941 closed

[2019-08-03 11:39] jayvdb commented on #2940
This should be done like https://github.com/moremoban/moban/commit/5e895b6a9e3a7b06c3cbd3ea651b197990366c33 , so that newer versions of Python are not effected.

Also the lxml dependency is special, and is managed in the .ci/deps.python-packages.ps1 for Windows so that it is installed with special flags.  That fix needs to be done in mobans repo, as lxml is important in all repos.

[2019-08-03 14:10] jayvdb commented on #2937
When logging memory addresses of the linter class (c.f. https://github.com/coala/coala/issues/6051), we see that the class of the linter object doing the download (and setting `checkstyle_jar_file`) has a different id to the class of the linter object which expects the attribute `checkstyle_jar_file` to exist.
[code]

[2019-08-03 14:36] jayvdb commented on #2933
Duplicate of https://github.com/coala/coala-bears/issues/2908

[2019-08-03 14:36] #2933 closed

[2019-08-03 14:50] jayvdb commented on #2937
Re CPDBear, the two alternatives at the moment are https://github.com/coala/coala-bears/issues/1663 or https://github.com/coala/coala-bears/issues/2908 .

[2019-08-03 16:34] jayvdb opened #2943 "phpmd error message change breaking CI"
https://ci.appveyor.com/project/jayvdb/coala-bears/builds/26448422/job/rlaneuwxk1i4lfwc#L1526

We had an issue in coala core to allow regex in our tests, to allow more flexibility for cases like that.

Probably worth doing that now, if not already nearly done, rather than trying to version check phpmd and expect different strings for different versions.

[2019-08-04 01:10] jayvdb commented on #2943
https://github.com/coala/coala/issues/5722 was the feature request

[2019-08-04 01:46] jayvdb commented on #2943
We could introduce a "temporarily disabled tests" to de-select individual tests which are failing.

[2019-08-04 01:49] jayvdb commented on #2940
Where is this breaking a build ?

[2019-08-04 03:56] jayvdb commented on #2943
Yup that works; the failing test isnt needed for coverage.

[2019-08-04 04:06] abhishalya commented on #2940
I saw it [here](https://travis-ci.org/coala/coala-bears/jobs/564987641#L892). Now it seems we have even more build failures.

[2019-08-04 13:06] jayvdb commented on #1476
This is now possible by custom rules in `.ci/get_tests.py`, which was added so that we could reach 100% coverage on AppVeyor while so many bears are still broken or not easily installable on Windows.

[2019-08-04 13:06] #1476 closed

[2019-08-04 16:33] jayvdb commented on #2940
Also triggered at https://github.com/coala/coala/pull/6054 . Annoying.

[2019-08-05 05:19] jayvdb commented on #2940
Temporary solution in https://gitlab.com/coala/mobans/merge_requests/135 , deploying to coala and coala-quickstart.

[2019-08-05 11:43] jayvdb commented on #2940
Cherry-picked https://github.com/abhishalya/coala-bears/commit/bf3b7a2ef692b0cc3665650fbb20072fd2870c79 onto https://github.com/coala/coala-bears/pull/2942 .  Note I needed to also update the pin in `bear-requirements.txt` and adjusted the commit message a little .

Feel free to create a PR with it and ill rebase on top of your PR.  Otherwise, your commit will show it was amended by me.  Up to you

[2019-08-05 12:08] jayvdb commented on #2940
The reason it was needed, despite the pre-install, is that tox on Unix is not using 'site-packages' so versions installed outside the tox venv are not visible inside, so tox tries to use an old pip to install lxml, and fails.
https://travis-ci.org/jayvdb/coala-bears/jobs/567832173

The minreqs templates should be implemented in all our repos, and will very likely reveal that our minimum versions a

[2019-08-05 12:11] jayvdb commented on #2940
We currently dont have support for dependencies for per-Python-version ('constraints'), and I suspect that is going to take a while, so we can revisit this problem whenever we find that <4.4.0 is causing some other bug.

[2019-08-05 14:35] jayvdb commented on #1123
.ci/deps.sh is dead.  Circle is dead.

But maybe `TERM=dumb` should be added to Travis CI somewhere .. ?

[2019-08-05 14:42] jayvdb commented on #1123
Already done.

[2019-08-05 14:42] #1123 closed

[2019-08-05 14:47] jayvdb commented on #1671
No longer needed as our Circle CI v1 config no longer works, and https://github.com/coala/coala-bears/pull/2493 isnt finished.

[2019-08-05 14:47] #1671 closed

[2019-08-05 14:51] jayvdb commented on #1776
Irrelevant in new Travis + tox setup

[2019-08-05 14:51] #1776 closed

[2019-08-05 14:52] jayvdb commented on #859
Now unnecessary, as Circle CI is not used, and Julia is working quite well on Travis + tox.

[2019-08-05 14:52] #859 closed

[2019-08-06 00:22] jayvdb opened #2944 "XMLBearDTDUrlTest.test_valid_files consistently fails on Travis Windows"
[code]

https://travis-ci.org/coala/coala-bears/jobs/567956795

Other times in fails with a timeout.  The timeout was increased to 120 for the above log result.

[2019-08-06 04:17] jayvdb commented on #2944
https://travis-ci.org/coala/coala-bears/jobs/568184854 - travis apt precise job timeout

[2019-08-06 05:14] jayvdb commented on #2944
More on travis apt

https://travis-ci.org/coala/coala-bears/jobs/568193156
https://travis-ci.org/coala/coala-bears/jobs/568193159

Seems like the host is having difficulties

[2019-08-07 03:47] abhishalya commented on #2940
No problem :+1:

[2019-08-07 07:37] #2908 closed

[2019-08-07 07:37] #2937 closed

[2019-08-07 07:37] #2940 closed

[2019-08-07 13:38] akshatkarani opened #2945 "DuplicateFileBear.py: Applying IgnoreResultAction gives error"
Applying `IgnoreResultAction` on results originating from `DuplicateFileBear` gives the following error
[code]
`IgnoreResultAction` should not even be applicable in this since `DuplicateFileBear` is a `GlobalBear`. The problem in the way result is yielded.

[2019-08-19 10:26] bkhanale commented on #502
Couldn't find a stable solution for this issue. The 'warnings' emitted by the remark-lint are inadequate also they are not in sync with the patches being offered by the tool. If something changes, we might still be able to fix this. But, I think we should get more bears for markdown.

[2019-08-22 01:28] jayvdb opened #2949 "HTMLLintBear use_spaces added without a default"
https://github.com/coala/coala-bears/pull/2073 breaks existing use of the bear by adding a setting without a default.

Before that PR, the tool was checking for spaces, so that should have been the default.

This broke projects repo.

[2019-08-22 04:01] jayvdb opened #2950 "LineCountBear fails for symbolic links"
In projects repo

[code]

[2019-08-22 05:25] jayvdb opened #2952 "InvalidLinkBear: Support markup for ignored broken urls"
Sometimes links are permanently broken, but they need to be preserved.

In markdown this could be achieved by requiring that they are rendered as code, i.e. surrounded in backticks

[2019-08-22 05:37] jayvdb commented on #2950
This became a problem because of https://github.com/coala/coala-bears/issues/1477 .

The error is actually truthful as the files do have zero lines, but it is misleading/confusing.

The justification in https://github.com/coala/coala-bears/issues/1477 for a non-zero default is reasonable -- even though it is a change of behaviour from the previous release.  While this is a regression, it is a by-p

[2019-08-22 05:49] #2949 closed

[2019-08-22 14:47] jayvdb opened #2954 "HgCommitBearTest: BitBucket hosting of hg repos ends June 1 2020"
https://bitbucket.org/blog/sunsetting-mercurial-support-in-bitbucket

If another mercurial host can be used for tests, that is an option, otherwise we can disable the tests and lower the required coverage to 0% (`.ci/generate_coverage_thresholds.py`), or....

Kill the bear!

label: un-bear-proposal

[2019-08-22 15:06] #644 closed

[2019-08-23 05:56] jayvdb commented on #2954
As part of this, we could also build an adhoc script to find dependencies which are hosted on bitbucket mecurial, so we can create upstream issues so that the maintainers have lots of time to prepare.

Three I know have issues already

- pygments
- ruamel.yaml
- regex

[2019-08-23 10:29] jayvdb commented on #2954
We may be able to switch the tests to https://sourcehut.org/blog/2019-08-21-sourcehut-welcomes-bitbucket-refugees/

Or GitLab hg might be available by then https://gitlab.com/gitlab-org/gitlab-ce/issues/31600

[2019-08-24 17:21] bkhanale commented on #2954
Can we do this once the GSoC work is completed?

[2019-09-01 09:34] abhishalya commented on #2894
I think the way it is right now is because after releasing new coala-bears we would require it to install the released version of the coala and not from master. Hence, wherever we need latest coala-bears we'd have to specify coala from master explicitly in requirements.

[2019-09-02 12:26] sharmapradyumn opened #2955 "Invalid Link"
### There is a issue in coala'a web page,In About section  the "Bears Documentation" button is not giving expected result of Bears Documentation.

# Steps to Reproduce

1.check the link of "Bears Documentation" button

# Actual Results
 when we click on "Bears Documentation" its redirect on  "LANGUAGES" section of website

# Expected Results
 when we click on "Bears Documentation" its must redirec

[2019-09-02 12:51] abhishalya commented on #2955
This is not the correct place for this issue, but anyways it has been already reported. Have a look at https://github.com/coala/coala-bears/issues/2632

[2019-09-02 16:21] sharmapradyumn commented on #2955
can you tell  me the correct place for this type of issue

[2019-09-03 04:40] KVGarg commented on #2955
@abhishalya I don’t think that we do a coala-bears api documentation as like coala repository has. Currently, we are having the coala-bears documentation on coala Webservices which we fetch and display it under Languages tab ( Broken for now )

[2019-09-03 04:43] KVGarg commented on #2955
Correct Place: https://github.com/coala/landing-frontend
Also an issue related to this has already been created. We are using coala Webservices for displaying the bears metadata documentation NOT the code

[2019-09-04 07:00] akshatkarani opened #2956 "travis: The command ".ci/check_moban.sh" exited with 1"
travis build is failing because template needs to be synced

[2019-09-07 14:41] #2956 closed

[2019-09-27 11:55] Dilshaad21 commented on #2846
I am taking this issue since no one has submitted any pr for this issue yet.

[2019-09-27 16:30] KVGarg commented on #2846
@Dilshaad21 You've already worked on a newcomer issue. Please follow the newcomers guide!

[2019-10-08 11:11] pranavmodx commented on #1846
Looks like @naivedyabansal is not working on this issue anymore. Can I take this up as my first newcomer issue?

[2019-10-09 13:48] harshraj22 opened #2958 "Update coala-bears README"
The README.md contains a dead image link that needs to be fixed. I would like to fix it up.

![Screenshot from 2019-10-09 19-14-33](https://user-images.githubusercontent.com/46635452/66487182-890a7200-eac9-11e9-9a9e-10717b88e30c.png)

[2019-10-11 08:08] Apoorv01017 commented on #2950
hello,
I want to work on this issue but I am new to open source can someone please guide me.

[2019-10-11 17:36] Apoorv01017 commented on #2882
hello
 can I work on this issue

[2019-10-12 15:44] Apoorv01017 commented on #2805
can I work on this issue?

[2019-10-13 16:16] KVGarg commented on #2882
A PR has already been created for it! Can you please look for a new newcomer issue. Thanks!

[2019-10-14 12:37] espatatis commented on #2932
@frextrite can you give a little more details about the issue ?

[2019-10-24 04:58] Apoorv01017 commented on #2802
Can I work on this issue

[2019-11-06 18:24] #2958 closed

[2019-11-06 19:30] shubhamabhang77 commented on #2895
I would like to get assigned to issue. I am a newbie. I would like to work on this.

[2019-11-13 19:29] sangamcse opened #2963 "RuboCopBear: caught error with --stdin flag"
Current bear runs `rubocop bad_file.rb --stdin --format=json --config .rubocop.yml` command which gave error saying `-s/--stdin requires exactly one path.`

Note: Didn't check with `rubocop(0.47.1)` but upgraded `rubocop(0.51.0)` gives error.

[2019-11-14 07:05] sangamcse commented on #2963
Looks like it is fixed but we haven't released the current version to pip.

[2019-11-14 07:05] #2963 closed

[2019-12-20 15:58] StanleySweet commented on #328
I created a version here, will probably make a PR at some point https://code.wildfiregames.com/D2490

[2019-12-29 11:38] Nishant-Ingle commented on #2846
@li-boxuan I would like to fix this issue

[2019-12-29 15:44] Purvanshsingh commented on #2304
Seems no one is working on this issue,
so can I take this issue?

[2020-01-18 18:33] daureg commented on #2601
The version is still outdated and as a result I can't install `coala-bears` in my project:
[code]

[2020-01-18 21:37] Zethson opened #2969 "Coala stuck at rstcheck"
My configuration:
[code]

The terminal is simply stuck at this stage and does not respond to anything. I've repeated it multiple times.

[2020-01-19 19:46] Imipenem opened #2970 "Coala bears requires Click version 6.6"
I noticed while trying coala and coala bears, that it requires Click 6.6.

However, I wanted to know if there's any possibility to work with Click 7.0 and coala?

[2020-01-22 20:10] ProPriyam commented on #2895
I would like to be assigned to this issue

[2020-01-23 15:05] abhishalya commented on #2895
@ProPriyam Invited, once ping me again once you accept.

[2020-01-23 22:11] ProPriyam commented on #2895
@abhishalya, i accept this issue

[2020-05-13 06:08] mbasil09 opened #2972 "Indentation Error on trying PEP8Bear."
All other files in this directory worked fine, on trying PEP8Bear on this results.py, I get an error

[code]

[2020-05-19 11:12] jonassmedegaard opened #2973 "licensecheck integration"
Hi,

I am the current author of licensecheck - cool that you use it here in your LicenseCheckBear :-)

Please note that licensecheck is no longer part of the Debian-specific devscripts project but an independent CPAN project <https://metacpan.org/pod/App::Licensecheck>.

There is now a --machine option for more reliable parsing, and I am open for suggestions to improve further the use of licensech

[2020-05-19 11:15] jonassmedegaard opened #2974 "Bear Proposal: Scancode-Toolkit"
https://github.com/nexB/scancode-toolkit/

[2020-05-25 14:57] mitchell-frost commented on #2955
Can I work on this?

[2020-05-25 15:04] mitchell-frost commented on #2972
I am new to coala. Can I work on this?

[2020-05-26 17:45] abhishalya commented on #2955
@mitchell-frost No, this is related to the webservices. We might need someone experienced to fix that whole thing.

@KVGarg can we fix the webservices? I'm not sure what is required. Iirc, it was a data issue..

[2020-05-26 18:49] KVGarg commented on #2955
Maybe there was some issues with docker container not having coala bears, or the issue was something else. I didn’t remember completely as it has been long time I have look on webservices.
Maybe this PR was a solution to that, https://gitlab.com/coala/landing/-/merge_requests/63.
I’m not getting enough time to get all the enhancements and improvements merged to coala so that newcomers can use it.

[2020-05-28 16:17] abhishalya commented on #2955
@KVGarg will check that our over weekend, if that PR is what we require then we should get it merged.

[2020-07-10 13:30] Karanjot-singh commented on #2441
Is this issue open? I would like to work on this! @jayvdb

[2020-09-16 00:19] eqj619 opened #2977 "Throughput Graph in readme.rst file does not show image."
Problem:
Throughput Graph in readme.rst file does not show image.

readme.rst Line 12
`|Throughput Graph|
`

readme.rst Line 184-186
[code]

host at this images is no longer available.
[code]

[2020-10-03 05:46] rohanrk commented on #2875
I'll gladly pick this up!

[2021-01-23 16:07] Nanu21 commented on #2665
@jayvdb Can I take this issue?

[2021-02-17 15:56] eli-halych commented on #502
I experienced a similar problem, probably the same one.

For me it said
[code]

I noticed that every linter wants a new line at the end of every file. So my README.md didn't have this new line. Once I added it, the problem disappeared.

[2021-02-24 21:29] gruns opened #2981 "install fails with pipenv under python 3.6, via pyyaml"
error:

[code]

to reproduce:

[code]

[2021-03-11 18:51] mithro opened #2982 "Consider adding SystemVerilog support by collaborating with Verible + Surelog"
SystemVerilog is a very popular hardware description language (HDL). Google is working on improving the ecosystem around this language, including developing linting and code fixing tooling. It would be awesome for SystemVerilog to be supported via coala.

The two primary projects are;
 * https://github.com/google/verible

 * https://github.com/alainmarcel/Surelog

We are also collaborating with th

[2021-03-13 11:49] anshalshukla commented on #2981
Hey @gruns, pipenv 2020.11.15 requires pip>=18.0, but coala-bears requires pip>9, <10, so if you try running this with the downgraded pip, it should work fine.

[2021-03-14 09:35] anshalshukla commented on #2981
I tried running it in virtualenv, and a similar error pops up there as well. This is particularly because the latest version of bandit(1.7) requires pyyaml >=5.3.1. So while installing the dependencies, it auto upgrades the pyyaml, causing this error.

[2021-03-17 19:15] anshalshukla opened #2985 "Fix Bandit version to 1.6.2 to fix CI"

[2021-03-18 16:31] #2985 closed

[2021-03-27 17:12] anshalshukla opened #2987 "Moban Sync"

[2021-04-03 09:58] msrijita18 commented on #2441
Is this issue open? I would like to work on this to complete newcomer's task for GSOC.

[2021-04-03 10:08] msrijita18 commented on #2304
Is this issue open? I would like to work on this to complete newcomer's task for GSOC.

[2021-04-04 13:06] msrijita18 commented on #2304
Is it fine now? I followed this https://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-7-review-process and this for rebasing https://api.coala.io/en/latest/Developers/Git_Basics.html#rebasing.
Thanks!

[2021-06-10 07:19] Mryanhehe opened #2992 "pkg_resources.ContextualVersionConflict"
head -n 1 /etc/issue : Ubuntu 18.04.2 LTS

Installing coala-bears resulted in this , which I havent seen before.

`/home/ubuntu/coala-tutorial# coala --files=src/\*.c --bears=SpaceConsistencyBear --save
[ERROR][15:12:25] There is a conflict in the version of a dependency you have installed and the requirements of coala. This may be resolved by creating a separate virtual environment for coala or r

[2021-07-11 13:11] bkhanale opened #2993 "language-check install breaking pipeline"
https://github.com/jxmorris12/language_tool_python seems to be a valid alternative, as language-check is not maintained now.

Related to https://github.com/myint/language-check/issues/25

[code]

[2021-07-11 13:13] abhishalya commented on #2993
Thanks @bkhanale for creating issue, @anshalshukla please have a look if we can make the switch as you mentioned previously. Also, it seems like it's a fork of the original project, so I believe it should be simple enough to make changes to the corresponding bears.

[2021-08-11 11:08] sherpa-lakpa commented on #2993
Hi! I fixed similar issue following below steps:

1. Setup openjdk-8-jdk
  - sudo apt install openjdk-8-jdk
  - sudo update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
2. Manually download file from https://languagetool.org/download/LanguageTool-3.2.zip
3. export LANGUAGE_CHECK_DOWNLOAD_HOST="file:///home/lakpa/Downloads/LanguageTool-3.2.zip"
4. pip install git+https://g

[2021-08-16 07:05] jakeantmann opened #2995 "https://coala.io/#/languages search broken"
I can't see any bears using the search function on https://coala.io/#/languages

When I load the page initially, I see the message "Sit tight! Catching all the bears" briefly flash across the screen. When I then try searching, I get no results. I've tried entering "python", "Python", "PEP8Bear" and "Bear" - nothing seems to happen, including after pressing enter. When I reload the page, I don't ev

[2021-08-27 13:31] bkhanale commented on #2993
@sherpalakpa18 Thanks, but I think it's better to change the upstream dependency instead of using language-check as it's not maintained anymore.

@errfanwadia do you want to have a go with this issue? There's a ref PR above which should also help you.

[2021-09-04 04:16] pranjii commented on #2304
Can I get this issue?

[2021-10-09 11:18] truthfool opened #2996 "Facing"

[2021-10-09 11:18] #2996 closed, assigned to nobody

[2021-10-09 11:55] truthfool opened #2997 "[HELP] Facing dependecy issue while installing requirements files of coala bears."
`
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. If you want to abort this run, you can press Ctrl + C to do so. To improve how pip performs, tell us what happened here: https://pip.pypa.io/surveys/backtracking
  Using cached cffi-1.12.0.tar.gz (453 kB)
  Using cached cffi-1.11.5.tar.gz (438 kB)
  Using cached

[2021-10-13 05:27] dante381 commented on #2895
I would like to work on this issue.

[2021-10-17 16:45] #2997 closed, assigned to nobody

[2021-10-19 17:33] truthfool opened #2998 "Dependency [guess-language-spirit] cannot be found."
While trying to install requirements of coala-bears I encountered this dependency issue.

`ERROR: Could not find a version that satisfies the requirement guess-language-spirit~=0.5.2 (from versions: none)
ERROR: No matching distribution found for guess-language-spirit~=0.5.2`

OS : Ubuntu 20.04
Python : 3.6.0
pip : 21.3

Also tried with lower versions of pip.

Source : https://pypi.org/project/gue

[2021-11-24 06:09] #2992 closed, assigned to nobody

[2021-12-03 03:31] weaversam8 commented on #2995
I've confirmed this remains an issue as of December 2021.

[2022-01-20 20:04] oneturkmen commented on #2995
Broken for me too :(

[2022-01-27 03:58] hmtbgc opened #2999 "Error when building 'typed-ast' from 'Development Setup Notes'"
hi, I am a newcomer.
I follow the steps from [Welcome to the Newcomers’ Guide!](https://api.coala.io/en/latest/Developers/Newcomers_Guide.html).
I try to set up my work environment, so I read [Development Setup Notes](https://api.coala.io/en/latest/Developers/Development_Setup.html).
I set up a virtualvenv, activate it and try to install coala from git. But when installing 'coala-bears', someting

[2022-02-05 07:21] #2999 closed, assigned to nobody

[2022-02-05 07:21] hmtbgc commented on #2999
Now is ok.

[2022-09-16 06:31] narkreeta opened #3001 "AttributeError: module 'collections' has no attribute 'Callable'"
**I am getting Attribute Error in windows**
![f_3N2atPrJyBZTVmdSkWfzGUcYDxQ5gb0R](https://user-images.githubusercontent.com/75584628/190571807-f152e880-b079-487f-92df-1620abb36ebc.png)