[2017-01-07 02:33] Abhi2424shek commented on #1260
@jayvdb can you share the link to the gci task for us pls..

[2017-01-07 07:25] jayvdb commented on #1260
The task for the ruby gem was created a few days ago, and is still unpublished, but here is the link https://codein.withgoogle.com/tasks/5746072943067136/

The task for the coala bear which uses the ruby gem has just been created so it is also unpublished, but again here is the link https://codein.withgoogle.com/tasks/6269128656551936/

[2017-01-07 07:33] Abhi2424shek commented on #1260
@jayvdb thanks we will just accept it when the task comes alive!

[2017-01-07 07:36] jayvdb commented on #1123
The answer is in the issue: "The output includes many lines which are reporting progress of downloads."

[2017-01-07 08:30] Techievena commented on #1256
Well I got this result
![coala](https://cloud.githubusercontent.com/assets/17270966/21740498/8a412d36-d4e1-11e6-8204-da998b1f9f1b.png)

[2017-01-07 08:32] Techievena commented on #1256
And also in documentation it is written supported languages as all

[2017-01-07 08:37] Techievena commented on #1256
I also think the fix I have applied is a hacky solution (Well I have not yet written a test case for it) , but it isn't the actual method I guess?

[2017-01-07 08:46] Abhi2424shek commented on #1260
@jayvdb the gems published;  link to repo: https://github/Abhi2424shek/img_checker

Install gem by: gem install img_checker

Check the gem: https://rubygems.org/gems/img_checker

[2017-01-07 10:43] Techievena commented on #1123
I am sorry but I don't see any progress of download . Well @Makman2 had helped me to spot out th progress of the download but I saw different output in  log. Well let me quote it from Gitter.

[2017-01-07 10:45] Techievena commented on #1123
![image](https://cloud.githubusercontent.com/assets/17270966/21741181/7ea550b6-d4f4-11e6-886d-54c8b150b4d1.png)

[2017-01-07 13:47] coala-bot opened #1273 ""List of checkers to ignore" in HTMLLintBear is confusing"
People confuse "checkers" with bears this needs to be rephrased

area documentation difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5870f17d9e6f00e74a08e2a4) by @sils

[2017-01-07 13:53] coala-bot opened #1274 "Improve description of KeywordBear"
Why does it check for comment ranges in the code, explain it a bit in the description . I'm getting inconsistent patch on different files. Description in comments.

Opened via [gitter](https://gitter.im/coala/coala/?at=5870f2bb5ffdeea7231a0615) by @aptrishu

[2017-01-07 14:01] aptrishu commented on #1274
Consider the test file

//#warning

we get this patch -
![sc1](https://cloud.githubusercontent.com/assets/22702242/21742207/ae56e192-d50f-11e6-957e-72d8f4d8af75.png)

Now for this test file

//#warning

we get this patch -
![sc2](https://cloud.githubusercontent.com/assets/22702242/21742213/c4b63a50-d50f-11e6-8634-4c4b8eed4fca.png)

.coafile -

language = C
bears = KeywordBear
files = javaji/check.

[2017-01-07 14:12] aptrishu commented on #1256
Check my comment on you PR.

[2017-01-07 14:28] satwikkansal opened #1275 "XMLBearDTDUrlTest test is failing"
coala version: `0.9.1`
coala-bears version: `0.10.0.dev999999`
`python 3.5.2  Ubuntu 16.04`
Installed test-dependencies from `coala-bears/test-requirements.txt`.

To reproduce:
Run `py.test -k XMLBearDTDUrlTest`

![screenshot from 2017-01-07 19-57-46](https://cloud.githubusercontent.com/assets/10217535/21742373/a3722a8a-d513-11e6-83df-2582b9edbbd4.png)

[2017-01-07 16:04] divyanshu-rawat commented on #1273
Can I work on this issue ?

[2017-01-07 16:16] sils commented on #1273
sure!

[2017-01-07 16:19] divyanshu-rawat commented on #1273
I am new here can you tell me how to proceed .

[2017-01-07 19:11] Makman2 commented on #1123
oh indeed I can't find those again, did circle change the behaviour of redirection?

@Techievena did you also look at the travis build logs?

[2017-01-07 19:51] Makman2 commented on #1270
Parsing bug for language-check filed upstream: https://github.com/myint/language-check/issues/31

[2017-01-07 19:56] Makman2 commented on #1270
Looks like a java update, we get something similar for infer:
[code]

[2017-01-07 20:10] Makman2 commented on #1270
ah `-ea` means early-access... Not cool to use that

[2017-01-07 20:39] Makman2 commented on #1273
http://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2017-01-07 20:45] Makman2 commented on #1275
This test works fine in our CI -> https://circleci.com/gh/coala/coala-bears/4777?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

We need a bit more background from you: Which coala version do you use? Did you try to update to latest `--dev` version? Did you update all dependencies? OS? Python version? Something else that could be important?

[2017-01-07 20:49] Makman2 commented on #1274
looks more like a bug to me, because it doesn't detect the second line^^

[2017-01-07 21:12] satwikkansal commented on #1275
@Makman2 Sorry, Just edited the description.

[2017-01-07 21:27] Makman2 commented on #1275
Also `requirements.txt` installed?

[2017-01-07 23:57] Techievena commented on #1123
Yeah I looked it's the same case over there @Makman2

[2017-01-08 06:36] namanyadav12 commented on #1275
The test fails on my laptop if the internet connection is not working or it is slow and results in timeout.
I guess that might be the problem.

[2017-01-08 08:20] satwikkansal commented on #1275
@namanyadav12 Thanks, I found what was causing the issue. My university's Ethernet connection uses proxy to filter pages and they blocked the url labeling as `inactive sites`. Tried it on other network and it worked. I should have tried that earlier before creating this issue :disappointed:  Anyways, closing the issue.

[2017-01-08 08:20] #1275 closed

[2017-01-09 00:30] Makman2 commented on #1123
@jayvdb I don't have something left then, maybe you got something?

[2017-01-09 13:26] sils commented on #1270
@nemaniarjun wanted to look into this, please report your findings here. It's critical to document what you do since this is urgent so it can be picked up by someone whenever he finds time.

[2017-01-09 14:05] nemaniarjun commented on #1270
The error is here.
The java version on our ci is

java version "9-ea"
Java(TM) SE Runtime Environment (build 9-ea+140)
Java HotSpot(TM) 64-Bit Server VM (build 9-ea+140, mixed mode)
We need to change the regex.

[2017-01-09 14:06] nemaniarjun commented on #1270
Started a PR at upstream.
Maybe look into why we are using the `-ea` version.

[2017-01-09 18:16] #1270 closed

[2017-01-09 23:19] jayvdb commented on #1235
@namanyadav12 , your last message here was 5 days ago. You have been working on https://github.com/coala/coala-bears/pull/1277 instead, which is quite distressing.  This bug is the *most* critical problem in the pre-release.

Can you get this bear working correctly? promptly?
If not, we need to revert https://github.com/coala/coala-bears/pull/1204 so we get back to a happy place.

[2017-01-10 05:00] namanyadav12 commented on #1235
@javydb i thought you said that was a problem with the docker.
And MarkdownBear always worked fine on my laptop and i wasn't able to reproduce the error .
I have created a pr  https://github.com/coala/coala-bears/pull/1280 with another test which checks the exact message as requested.

[2017-01-10 09:35] #892 closed

[2017-01-10 11:51] adtac opened #1283 "PyUnrunDoctestsBear: Detect doctests that are not actually run"
[code]

This will actually not fail tests because a linebreak is required between the english sentence and the doctest.

A nice security feature :)

[2017-01-10 11:54] coala-bot opened #1284 "Remove click workaround for dennis"
importance critical status blocked difficulty low

Related to https://github.com/coala/coala-bears/pull/1282/commits/f0e8955b541dc60107dadd0f05fae18091b4a634

Opened via [gitter](https://gitter.im/coala/coala/?at=5874cb75873d96e16d4c9022) by @sils

[2017-01-10 11:57] sils commented on #1283
this should be using the AnnotationBear but not until it has been refactored by @abhsag24

[2017-01-10 12:08] adtac commented on #1283
@NiklasMM suggested PyIgnoredDoctestsBear, which I think is better :)

[2017-01-10 12:31] Techievena commented on #1123
@jayvd should we close this issue?

[2017-01-10 13:09] coala-bot opened #1285 "Limit branch builds to master"
see http://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-build-pull-requests-merges-to-master-w-o-redunda

Opened via [gitter](https://gitter.im/coala/coala/?at=5874dd10300f220a66cd5985) by @sils

[2017-01-10 14:21] sils commented on #1285
Please see also https://github.com/coala/coala/issues/3516#issuecomment-271586779

[2017-01-10 14:21] sils commented on #1285
we want the same here

[2017-01-10 18:08] satwikkansal commented on #1239
Just wanted to discuss my approach to see if I'm going in right direction or not.
A typical usage of the `xsi:schemaLocation` attribute is of the form
[code]
Also, I came to know that it can even be used like this  `xsi:schemaLocation="http://www.w3schools.com note.xsd"`. So just skipping the the `1st` or `Every odd position link` (1st, 3rd, ....) may not be a good idea.
IMO we can find the namesp

[2017-01-10 18:30] ananyo2012 commented on #1260
@jayvdb Just being curious how are rubygems useful in the making of a bear? Also will this bear for serving its purpose for linting in any language or will it be ruby specific? Pardon me if I am wrong saying anything as I am not acquainted with coala-bears. I just seem to have a rough idea seeing the repository structure.

[2017-01-10 19:57] robbyoconnor commented on #1260
In the same way that rubocop is used. It provides a means to get the linter.
On 01/10/2017 01:31 PM, Ananyo Maiti wrote:

[2017-01-10 20:00] robbyoconnor commented on #1260
@ananyo2012, In the same way that rubocop is used. It provides a means to get the linter. It allows others outside of coala to use it as well.

[2017-01-10 20:18] ananyo2012 commented on #1260
@robbyoconnor Yes use outside coala as a gem is fine. I was asking with relation to use in coala-bears. rubocop works as a ruby linter only. So is this something as ruby specific or can we use it in generalized way?

[2017-01-10 20:33] robbyoconnor commented on #1260
@ananyo2012 the linter happens to be a Ruby script. The Image Linter can be used outside of Ruby -- it literally checks the image dimensions (for now). It could be extended to check image size as well.

[2017-01-10 23:36] nemaniarjun commented on #1260
@ananyo2012 coala has a LinterBear subclass. Which can run any executable and parse its output.
I assume that this is what @robbyoconnor will use for this bear.

[2017-01-11 01:35] robbyoconnor commented on #1260
@nemaniarjun is correct. That's the reason it's packaged as a gem.

[2017-01-11 01:39] jayvdb commented on #1260
fwiw, a working prototype is at https://github.com/coala/coala-bears/pull/1288

[2017-01-11 08:06] aptrishu commented on #1274
Actually it detects the second line but doesn't propose a patch for it.

[2017-01-11 13:11] Makman2 commented on #1274
that's what I wanted to say :P :tada:

[2017-01-11 13:32] Techievena commented on #1274
I think it shouldn't propose a patch at all. It has just got to find the position of the keyword. That's it.

[2017-01-11 13:37] Makman2 commented on #1274
@Techievena we offer the user a patch to remove the comment, that should happen for both todos in the example^^

[2017-01-11 15:16] #1256 closed

[2017-01-11 16:14] Naereen opened #1290 "InvalidLinkBear does not support percentage-encoded URLs"
Here is a simple demo:
![invalidlinkbear_does_not_support_percentage-encoded_urls](https://cloud.githubusercontent.com/assets/11994719/21856155/3e045cf2-d821-11e6-9d6a-89b1bd6947c2.png)

- The address in my example is `https://img.shields.io/badge/Maintained%3F-yes-green.svg` (which is valid: giving ![this badge](https://img.shields.io/badge/Maintained%3F-yes-green.svg)),
- But [`InvalidLinkBear`]

[2017-01-11 16:15] Naereen commented on #1290
It should be easy to fix.

[2017-01-12 01:23] Techievena commented on #1274
Well I'm getting this kind of result

[2017-01-12 01:23] Techievena commented on #1274
![image](https://cloud.githubusercontent.com/assets/17270966/21873317/c8615cac-d893-11e6-8d8e-9d51c253833b.png)

[2017-01-12 01:24] Techievena commented on #1274
![image](https://cloud.githubusercontent.com/assets/17270966/21873343/ed7f8c5c-d893-11e6-9527-31d41fa1d34d.png)

[2017-01-12 01:26] Makman2 commented on #1274
yes as you see you can't apply the patch for the second `#warning` comment

[2017-01-12 01:27] aptrishu commented on #1274
first one is same as mine.. and in second screenshot you also messed up a bit with coafile. :P

[2017-01-12 01:34] Techievena commented on #1274
@aptrishu No the coafile is actually the same. I've just copied the file. Actually both the results are different. The first one asks for a patch for Keyword `warning`. But when I'm searching for Keyword `#warning` it is searching for keyword `' '`. Well @Makman2 I got it we also got the KeywordBear to ask for a patch for the second line `#warning`. Will work on it. :smiley: . I just wanted to poi

[2017-01-12 01:48] aptrishu commented on #1274
yeah you gotta prefix `#warning` with a `\` .

[2017-01-12 05:29] jayvdb commented on #1113
https://pypi.python.org/pypi/PinRequirementsBear by @Adrianzatreanu looks interesting.

https://github.com/landscapeio/requirements-detector looks like it only goes one level deep, and doesnt catch indirect dependencies.  However it has some very useful logic, which can help if recusing through dependencies.

[2017-01-12 06:04] jayvdb commented on #1113
Note I would be suspicious of any solution which installs many sets of requirements and then uses `pip freeze` or similar to determine the dependencies.  Something like https://pypi.python.org/pypi/freeze-requirements will stablise the system somewhat, given that it is pinning all dependencies and also has a sorted list (sorted introduces stable order, which pip needs).  But that means we loose th

[2017-01-12 06:06] jayvdb commented on #1113
Another problem which has been hotfixed: https://github.com/coala/coala-bears/pull/1282 (and is probably the reason https://github.com/coala/coala/issues/3532 was created)

[2017-01-12 14:10] Makman2 commented on #1123
@jayvdb reopen if you think we missed something.

[2017-01-12 14:28] jayvdb commented on #1239
@satwikkansal , lovely analysis of the problem.

You're on the right track.  The original problem I encountered was with checkstyle ruleset, and it also has an `xmlns`.

[code]
See http://pmd.sourceforge.net/pmd-5.1.1/howtomakearuleset.html

I've just encountered another example of the problem, found by @Angga-XII in https://github.com/xiprox/WaniKani-for-Android in https://github.com/xiprox/WaniK

[2017-01-12 15:06] shrutishrm512 opened #1293 "Fix typo in AnnotationBear.py"
There is a typo in AnnotationBear.py file - "contatining" should be "containing" in docstring.
Difficulty - newcomer

[2017-01-12 15:28] Techievena commented on #1250
@jayvdb Can I work on this issue?

[2017-01-12 15:45] jayvdb commented on #1268
It isnt Python 3 compatible

[code]

And it isnt ready to be packaged on pypi, as the setup.py doesnt build the .c code
[code]

[2017-01-12 16:56] jayvdb commented on #1268
Note the last release was 1.31 2014-08-03 according to [the ChangeLog](https://sourceforge.net/p/flawfinder/code/ci/master/tree/ChangeLog), but there have been a few commits after that, until  2014-09-07.

The maintainer is on github: @david-a-wheeler .

There is a mostly unimproved fork on GitHub: https://github.com/Noospheratu/FlawFinder.new/commits/master that has mostly i18n improvements.

I d

[2017-01-12 19:32] satwikkansal opened #1296 "InvalidLinkBear doesn't check multiple links in a single line"
For the content of the file as:
`http://www.some.linkthatdoesnotexist.com/  https://www.google.com `

The output is:
[code]

But when switched the order
[code]

Nothing is detected

Difficulty - low

[2017-01-12 23:07] #1293 closed

[2017-01-13 00:43] coala-bot opened #1298 "bear-proposal mustache template language"
https://github.com/moodlehq/moodle-local_ci/tree/master/mustache_lint
not sure about this one:
https://github.com/acatl/try-mustache/blob/master/components/codemirror/addon/lint/lint.js

Opened via [gitter](https://gitter.im/coala/coala/?at=587822aa300f220a66df3304) by @jayvdb

[2017-01-13 00:52] Makman2 commented on #1296
uuh that's bad :/

[2017-01-13 09:40] jayvdb commented on #1284
Trying to understand the problem, the two ways we depend on click are via safety and dennis.

1. https://github.com/pyupio/safety/blob/master/setup.py#L13 : Click>= 6.0
2. https://github.com/willkg/dennis/blob/master/setup.py#L42 : Click== 6.6

And then click releases 6.7 on 2017-01-06 https://pypi.python.org/pypi/click

And pip was somehow seeing requirement `Click>= 6.0` first, and of course eve

[2017-01-13 10:52] jayvdb commented on #1235
We run all the tests on the docker, and they all pass.  So if the problem is on the docker , we need better tests.

fwiw, the coala-bears CI and the docker CI are both installing remark-lint@5.4.0 at the moment.
So changing package.json to require 5.4 has no effect on this bug.

[2017-01-13 12:28] coala-bot opened #1301 "pdf properties bear proposal"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=5878c801873d96e16d62b013) by @jayvdb

[2017-01-13 17:40] namanyadav12 commented on #1235
@jayvdb  sorry for sound like a noob here but if all the tests are passing on the docker and MarkdownBear doesn't that mean that no bug exists ?

[2017-01-13 18:56] #1274 closed

[2017-01-14 00:16] Makman2 commented on #1274
@Techievena that little patch did fix this issue? :D

[2017-01-14 00:17] Makman2 commented on #1274
btw could you make a test for this if possible? You can open up another issue for it^^

[2017-01-14 06:44] Techievena commented on #1274
![stbd-series-preview_157x157_157x157](https://cloud.githubusercontent.com/assets/17270966/21953022/06575cda-da53-11e6-972c-036606343756.jpg)

[2017-01-14 06:50] Techievena commented on #1274
This one perfectly fits in this @Makman2 :laughing: . Now I have taken up one medium and a low issue related to Java (and me being completely ignorant about the package system and all stuffs related to Java). Those issues will take some time. I promise I'll work on this as soon as I'm finished with them.

[2017-01-14 08:39] dracarys09 commented on #1217
@KirillZhingalov you still working on this issue ?

[2017-01-14 10:01] CosminIcatoiu commented on #1301
@jayvdb I`d like to try writing a bear. Can you explain me more detailed what this bear implies ? :)

[2017-01-14 15:15] jayvdb commented on #1262
I suspect that this will need to be solved in [`coala`](https://github.com/coala/coala), rather than in the bear.

[2017-01-14 15:23] coala-bot opened #1305 "Appveyor build does not install Ruby gems"
difficulty low importance medium

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587a4264dec171b811eb64f4) by @jayvdb

[2017-01-14 16:07] jayvdb commented on #1301
Are there any PDF file checkers?

From an Open Source perspective, the most critical part of the PDF properties/metadata to check is that the copyright/license related fields are either not set, or they match a required value.  i.e. Open Source repositories shouldnt have PDF files which are "All rights reserved".

There is also a wealth of information in the https://en.wikipedia.org/wiki/Extensibl

[2017-01-14 17:32] CosminIcatoiu commented on #1262
I would like to try this. From what i checked the changes have to be in ConsoleInteraction.py where some conditions have to be added. The only problem is that the message seems to be rather general so another one should be added if we want it displayed as @abit2 said. Should it be modified somewhere else, or changed in another way?

[2017-01-14 17:46] Makman2 opened #1306 "Write test for KeywordBear not offering all patches in results"
Write test for https://github.com/coala/coala-bears/issues/1274

So this problem never occurs again :)

[2017-01-14 17:54] coala-bot opened #1307 "Check copied files are identical copies of upstream"
https://github.com/fossasia/gci16.fossasia.org/issues/614 was raised due to ads appearing on the Github Pages site, and there was concern, initially at least, that this had occurred because someone had added something to a minified file that had been copied from upstream.
It would be good to check that any files that are copies of upstream are identical to a specified upstream URL.  This would als

[2017-01-14 18:16] Makman2 commented on #1262
Migrated to https://github.com/coala/coala/issues/3558

[2017-01-14 18:16] #1262 closed

[2017-01-14 18:17] Makman2 commented on #1262
or shall we keep this issue open to implement this feature in all bears?

[2017-01-15 06:53] vijeth-aradhya commented on #1307
@jayvdb I'd like to take this one up, but I just want to clear my doubts first -
We'll have to check **all** the repos in upstream for specific copies of URL (like the jQuery one above ^), and if they are present, then download and cache them in a file? Is my understanding correct? (I couldn't find any URL like that in `coala_utils` at least)
Thanks!

[2017-01-15 07:06] Techievena commented on #1251
Getting these `.jar` files from maven metadata

[code]

[2017-01-15 09:11] Techievena commented on #1251
Please tell me the use of install_command( ). Does it installs the package or returns a string displaying how to install the package. I am a bit confused.

[2017-01-15 12:25] #297 closed

[2017-01-15 13:05] jayvdb commented on #1251
I've created https://gitlab.com/coala/package_manager/issues/13 for MavenRequirement.

[2017-01-15 20:54] Makman2 opened #1311 ".coafile/coala/TODOS section/KeywordBear: Not working"
On my branch I use plenty of `FIXME`s, but coala detects none:
[code]
Also it fails when I change the coafile and rerun. After a second run it executes the section without errors, but with no results either^^

[2017-01-16 01:44] Techievena commented on #1311
@Makman2 I want to pick up this issue. Can you please share both the coafiles?

[2017-01-16 05:15] coala-bot opened #1313 "Evaluate using Python imagesize for ImageDimensionBear"
https://pypi.python.org/pypi/imagesize is a dependency of Sphinx, so it is already part of our dependencies (via rstcheck).  If it works as well/fast as the Ruby implementation, we should use that to reduce our dependencies.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587c56f0e836bf70104b9e3b) by @jayvdb

[2017-01-16 05:18] jayvdb commented on #1313
cc: @rhemon , maybe you want to try this after you've finished https://github.com/coala/coala-bears/pull/1288 for https://github.com/coala/coala-bears/issues/1260

[2017-01-16 08:11] coala-bot opened #1314 "Named arguments in execute_bear call in KeywordBearTest"
Use named keywords in execute_bear call in KeywordBearTest like `test_keyword_regex`

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=587c802011e7a7f61da08081) by @Techievena

[2017-01-16 12:47] Makman2 commented on #1311
It's the coafile from our core repo: https://github.com/coala/coala/blob/master/.coafile

[2017-01-16 13:02] Makman2 commented on #1314
Could you elaborate a bit more?

[2017-01-16 13:04] Makman2 commented on #1313
we would still need `imagesize` as an dependency though, so things don't break if sphinx decides (whyever) to use something else^^

[2017-01-16 13:21] Techievena commented on #1314
Sorry for being dumb. Its a writing mistake. @Makman2 Named arguments instead of Named keywords. Can you please edit the issue?

[2017-01-16 13:48] Techievena commented on #1251
PR submitted for https://gitlab.com/coala/package_manager/issues/13

[2017-01-16 14:37] jayvdb commented on #1313
@Makman2 , maybe I wasnt clear ... using Python package `imagesize` would remove the need for Ruby gem `img_checker`.

[2017-01-16 20:10] Makman2 commented on #1313
Ah okay cool :D

[2017-01-16 20:11] Makman2 commented on #1314
Could you still elaborate a bit more? :D

[2017-01-17 05:37] Techievena commented on #1314
Change this `with execute_bear(self.uut, 'F', text,` to this `with execute_bear(self.uut, filename='F', file=text,`

[2017-01-17 07:22] Abhi2424shek commented on #18
@sills pls

[2017-01-17 07:33] jayvdb commented on #18
@Abhi2424shek , do the GCI CI tasks on a Python project using PylintBear, then you should understand more.

[2017-01-17 07:35] Abhi2424shek commented on #18
Sure but the GCI is of but let me take a try for it, @jayvdb thanks for your response sir.

[2017-01-17 09:28] Techievena commented on #1311
@Makman2 getting this :worried:
![image](https://cloud.githubusercontent.com/assets/17270966/22014738/265989f8-dcc5-11e6-91ed-0ed587a70d56.png)
and finally it is detecting it
![image](https://cloud.githubusercontent.com/assets/17270966/22014799/53dafc2c-dcc5-11e6-9e66-4fd065a584b0.png)

[2017-01-17 09:29] sils commented on #1311
@Makman2 you should use `-V` to see the traceback, the second run is just cached because coala knows that there are no results so that's irrelevant.

[2017-01-17 09:30] Techievena commented on #1311
@sils How to fix what I'm getting?

[2017-01-17 09:31] sils commented on #1311
Try changing the language to `python 3` with a space or just python

[2017-01-17 09:32] Techievena commented on #1311
Thanks!!!

[2017-01-17 09:41] Techievena commented on #1311
![image](https://cloud.githubusercontent.com/assets/17270966/22015234/390221c6-dcc7-11e6-987b-9e16911b1de1.png)

[2017-01-17 13:05] SiddharthKumar02 commented on #1314
I'd like to get assigned to this issue

[2017-01-17 13:38] Makman2 commented on #1311
@sils there wasn't any traceback even with `-V`, I assume I've used a slightly older coala version not printing an error for an invalid language^^

[2017-01-17 13:39] Makman2 commented on #1311
Gets solved by https://github.com/coala/coala/issues/3585

[2017-01-17 14:50] #1311 closed

[2017-01-17 15:01] coala-bot opened #1316 "Coverage requirements pin is incorrect"
Right now it is pinned as `coverage~=4.2` which allows anything from 4.2-4.9. Probably should pin it as 4.2.0
difficulty/newcomer importance/medium

Opened via [gitter](https://gitter.im/coala/coala/?at=587e31cc11e7a7f61da9a342) by @Mixih

[2017-01-17 18:01] Mixih commented on #1316
taking thi
s as builds are broken atm

[2017-01-17 21:43] #1316 closed

[2017-01-17 23:50] jayvdb commented on #1290
Any solution needs to imclude tests that include `()` and `%`, and *must* only accept valid percent encoding values after the `%`.

[2017-01-18 00:45] jayvdb opened #1319 "InvalidLinkBear: cache link status"
Urls often appear frequently, esp. License urls in every source file for some licenses.

The status code for each Link should be cached

- per file
- across all files checked in one run
- across coala runs for a limited time period, configurable or managable using coala's existing cache flushing.

The easiest alternative is to do only 1 & 2 now by holding the status in memory, and create a new bug

[2017-01-18 00:55] Makman2 commented on #1319
yes definitely ;)

[2017-01-18 00:58] Makman2 commented on #1319
Not sure about this, when I only want to check invalid links, and invoke `coala --files=* --bears=InvalidLinkBear` a few times in a row, I don't expect coala to cache the links across those runs for me^^

[2017-01-18 00:59] Makman2 commented on #1290
xref https://github.com/coala/coala-bears/pull/932 , which already tries to ignore links with common format placeholders like `%s` or `%f`.

[2017-01-18 01:41] jayvdb commented on #1290
Also need to test that it verified the correct URL.

[2017-01-18 02:12] Techievena commented on #438
Are we going to implement all the 7 tools in this bear?

[2017-01-18 03:03] coala-bot opened #1320 "Bear proposal apertium-lint"
https://gitlab.com/jpsinghgoud/apertium-lint

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=587edaf3cbcb28177082d825) by @jayvdb

[2017-01-18 03:45] jayvdb opened #1321 "Bear proposal planemo lint"
https://planemo.readthedocs.io/en/latest/commands.html#lint-command

[2017-01-18 05:03] jayvdb opened #1322 "Linked webpage archiver"
Currently we have a bear that check for invalid links.

It would be good to also submit links to an archiving service like Internet Archive, so there is a backup when the site goes offline.

https://github.com/fossasia/gci16.fossasia.org/issues/922

As this is using external webservices being used in CI, requests should be batched at least per file if possible, and even potentially across CI runs

[2017-01-18 15:06] incorrectusername commented on #514
What else was needed in this ?

[2017-01-18 15:44] incorrectusername commented on #296
Can you assign me to this(though i can use cobot on gitter)? However I will be needing some help? This will be the first bear i will write.

[2017-01-18 17:27] Naereen commented on #1290
I am surprised that you don't use a parser specific to URL, instead of a hand-written regexp.
But maybe it's simpler (and quicker) that way.

[2017-01-18 19:46] Makman2 commented on #514
seems like it just wasn't continued^^

[2017-01-19 01:22] Techievena commented on #1250
I think solving https://github.com/coala/coala-bears/issues/1251 will be the first step for it?

[2017-01-19 02:02] jayvdb opened #1326 "Bear proposal docformatter"
https://github.com/myint/docformatter

[2017-01-19 02:35] coala-bot opened #1327 "Add Travis OSX job"
per @jayvdb's initiative

Opened via [gitter](https://gitter.im/coala/coala/?at=588025e5074f7be763eb516f) by @Mixih

[2017-01-19 02:41] jayvdb opened #1328 "bear proposal linty"
https://github.com/holtgrewe/linty is very old, and seems abandoned, but it could be converted to coalang as a native-ish bear. Would be a good gsoc ptoject, especially if the author is willing to co–memtor.

http://marc.info/?l=cfe-dev&m=133373203005003&w=2

[2017-01-19 03:11] adhikasp opened #1329 "Add configuration for ShellCheckBear for ignoring rules"
Currently, `ShellCheckBear` only support `shell` argument to specify target lint language.

The upstream shellcheck linter can ignore specific lint rules using `-e` flag ([see their wiki](https://github.com/koalaman/shellcheck/wiki/Ignore#ignoring-errors-in-one-specific-run)).

I think we could add extra argument in this bear to support the ignore rule flag.

Also I would like to work on this issu

[2017-01-19 15:29] #1112 closed

[2017-01-19 15:31] Makman2 opened #1331 "GitCommitBear/body_regex: Use re.fullmatch instead of re.search?"
I'm for using `re.fullmatch` to match the whole body of the commit. Currently you can work with anchors, but with the restriction that they work only on a single line, as `re.MULTILINE` is not activated for `body_regex`. Like for `shortlog_regex`, I would suggest to use `fullmatch` instead of `search`.

CC @nkprince007

[2017-01-19 18:46] Mixih commented on #1314
Why? It still works the way it is currently.... Is this a readability change?

[2017-01-19 19:14] incorrectusername commented on #514
If I have  understood the issue then we have to remove functionalities such as  r_keep_comments , r_use_arrows. Do we have to remove r_braces_on_next_line ?
Is there anything else than i would like to know . I think i can solve this.

[2017-01-19 21:45] Makman2 commented on #514
No don't remove them, allow the bear to "ignore" the settings.

And we want by default having sth like `r_use_arrows = None` and we just don't pass the argument to the R formatter. This applies for other settings as well, not only for `r_use_arrows`.

[2017-01-19 21:46] Makman2 commented on #1314
Yes it is @Mixih :+1:

[2017-01-20 07:05] #1314 closed

[2017-01-20 12:22] nkprince007 commented on #1331
I do agree to this.

[2017-01-20 13:13] marian-ald commented on #982
@Asnelchristian Could you give me some details how can this bear could be created? It would be my first bear, so I need some information :)

[2017-01-20 13:32] marian-ald commented on #1328
@jayvdb Could you give me some information about writing it? It didn't write a bear before so it would help me. :)

[2017-01-20 17:49] marian-ald commented on #982
Anyway, I'll try to make it :))

[2017-01-21 02:43] yukiisbored opened #1334 "GitConflictMarkerBear"
There should a bear to avoid left over git conflict markers to easily find these markers and avoid them from reaching production or being merged.

[code]

[2017-01-21 08:31] #1257 closed

[2017-01-21 08:31] #1258 closed

[2017-01-21 11:19] Techievena commented on #1250
This is a binary version of checkstyle https://sourceforge.net/projects/checkstyle/files/checkstyle/6.15/checkstyle-6.15-bin.zip. But shouldn't we now use MavenRequirement from dependency management to get checkstyle. MavenRequirement will completely solve this issue

[2017-01-21 11:22] Techievena commented on #1250
I don't get it how using a binary version will sort out this problem. Any help on this?

[2017-01-21 11:36] jayvdb commented on #1250
Once we upgrade dependency_management (Im working on it), we can add a `MavenRequirement`, but keep in mind that there is no voodoo - it is only metadata.  The code currently fetches checkstyle, and that needs to be deprecated.

[2017-01-21 11:38] Techievena commented on #1250
Can't we prevent that using is_installed( ) in Maven Requirement? @jayvdb

[2017-01-21 12:25] sils commented on #438
Not necessarily, this needs some thinking first, what makes sense and helps the users most?

[2017-01-21 18:00] Shade5 commented on #1321
Out of the following, what should be shown by coala? The INFO: ... and WARNING: ... ?
[code]

[2017-01-21 18:38] #1079 closed

[2017-01-21 20:50] #792 closed

[2017-01-21 21:04] meetmangukiya opened #1336 "Completely deprecate timeout and remove the unnecessary code"
https://github.com/coala/coala-bears/issues/1244

[2017-01-21 22:40] #1244 closed

[2017-01-21 22:46] jayvdb commented on #1250
https://github.com/coala/coala/pull/3605 is merged, so you can now use `MavenRequirement`.  Ya, the current download code can be skipped if it is already installed, but then you need to find the `.jar` file as it contains the .xml rulesets, so this issue could be more interesting. Have fun. ;-)

[2017-01-21 23:37] jayvdb commented on #1251
You may need to do a quick PR like https://github.com/coala/coala-bears/pull/1300 , to bring in the latest coala, or you could include a commit like that in your PR for this or for https://github.com/coala/coala-bears/issues/1250.

[2017-01-21 23:38] jayvdb commented on #1327
c.f. https://github.com/coala/coala/issues/3611

[2017-01-22 02:20] Mixih commented on #1000
@jayvdb status? do we still need to remove things?

[2017-01-22 02:22] Mixih commented on #1235
Does this bear work now? If not it is a critical bug which must be merged during the pre-release freeze.
CC @sils @jayvdb @namanyadav12

[2017-01-22 03:58] jayvdb commented on #1123
@Techievena , @Makman2 , which PRs was this?

[2017-01-22 04:48] Techievena commented on #1123
@jayvdb Actually the output log of `.ci/deps.sh` wasn't showing any download progress information.

[2017-01-22 04:52] jayvdb commented on #1123
Of course it does.
I think you forgot to start with a clean cache, which forces the downloads to occur again.

[2017-01-22 05:02] Techievena commented on #1123
@jayvd How to get a download log with clean cache. I don't find any command to get a ci log with clean cache.

[2017-01-22 05:06] jayvdb commented on #1123
Please stop pinging the wrong username.
Activate Travis in your own fork , where you can clear the cache yourself.
Likewise with CircleCI.

[2017-01-22 05:08] Techievena commented on #1123
Thanks!!! :smiley:

[2017-01-22 06:38] jayvdb commented on #1321
See http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html?highlight=severity#using-severities

[2017-01-22 06:51] jayvdb commented on #1000
Ya, we need to remove things from setup.py .
Ideally we fix the repos that depend on bears being automatically installed.
e.g. the docker, but it is broken atm due to https://github.com/coala/docker-coala-base/issues/87

[2017-01-22 07:12] Shade5 commented on #1321
So I map `WARNING` to 'MAJOR'
`INFO` to `INFO`
and `CHECK` to `NORMAL`?
I was unsure as planemo lint gives no line numbers.

[2017-01-22 07:26] Shade5 commented on #1321
I've created a bear that takes this
[code]
And gives this
[code]
What else should I add?

[2017-01-22 14:08] Shade5 commented on #1321
Please review https://github.com/coala/coala-bears/pull/1337

[2017-01-22 18:20] pratyushprakash commented on #1113
@jayvdb Just to be clear, the bear is required to report any mismatch between the dependencies listed in the requirements files and the dependencies of the dependencies listed in  said requirements files?

[2017-01-22 23:38] jayvdb commented on #1113
Correct.
Two levels deep (i.e. bear requirements vs requirements of the bears
requirements) would be 'enough' to solve most of the problems coala
enounters.
However the final solution needs to be recursive.

On Mon, 23 Jan 2017 01:20 Pratyush Prakash, <notifications@github.com>
wrote:

[2017-01-23 11:00] dracarys09 opened #1338 "InvalidLinkBear fails on URLs in Markdown link display text and target"
```[http://harelba.github.io/q/](http://harelba.github.io/q/)```
Markdown files have links generally in this form...
InvalidLinkBear ```[http://harelba.github.io/q/](http://harelba.github.io/q/)``` takes this as a link to check
However it should only check ```http://harelba.github.io/q/```

[2017-01-23 11:03] dracarys09 commented on #1338
The exact line in the markdown file was ```q's web site is [http://harelba.github.io/q/](http://harelba.github.io/q/). It contains everything you need to download and use q in no time.```

However coala output was

[code]

[2017-01-23 11:11] sils commented on #1338
what's the source line?

[2017-01-23 12:40] underyx opened #1340 "KeywordBear: Add support for suggesting substitutions"
As discussed already here: https://github.com/coala/coala-bears/issues/311#issuecomment-269778345

Substitutions could be stuff like

[code]

to make sure the same variable name is used, etc.

[2017-01-23 23:24] jayvdb commented on #1338
This was found as part of CI1 (See spreadsheet).
Which version of the docker image were you using?

https://github.com/harelba/q is the repo.

The line is https://github.com/harelba/q/blame/master/README.markdown#L6

The problem is the second url in `[http://harelba.github.io/q/](http://harelba.github.io/q/)`.

[2017-01-23 23:36] jayvdb opened #1342 "InvalidLinkBear: use library to extract links"
As we hit more corner cases for url extraction, our regex approach will be a limiting factor, and we should switch to using an external library. We would need to import our regression tests into the external library.

https://pypi.python.org/pypi/urlextract might be useful.

Or we may find a 'recursive' web scraper which handles file types of than .html.
I.e. there maybe a function in https://scra

[2017-01-23 23:42] jayvdb commented on #1338
I think we need to start looking beyond managing a complex regex internally.
https://github.com/coala/coala-bears/issues/1342

[2017-01-23 23:47] jayvdb opened #1343 "Compare npm dockerfile_lint and dockerfilelint"
We currently use [dockerfile_lint](https://github.com/projectatomic/dockerfile_lint)

The alternative, https://github.com/replicatedhq/dockerfilelint , looks interesting also.

Sort of c.f. https://github.com/coala/docker-coala-base/issues/89

[2017-01-24 04:55] dracarys09 commented on #1338
@jayvdb I used
[code]

[2017-01-24 06:25] dracarys09 commented on #1338
for reference go to regex101.com and use this as regex
((git\+|bzr\+|svn\+|hg\+|)https?:\/\/[^.:%\s_\/?#[\]@\\]+\.((?:[^\s()%\'"`<>|\\\[\]]+)|\([^\s()%\'"`<>|\\]*\))*)(?<!\.)(?<!,)
then use this as test string
[http://harelba.github.io/q/200](http://harelba.github.io/q/200)

This may be helpful in understanding the changes I made in my PR

[2017-01-24 09:55] sils commented on #1342
@maweki proposed once to make a proper parser for this instead of a regex. Using/improving an external library sounds gorgeous, we should make sure all our existing testcases pass.

[2017-01-24 13:04] underyx opened #1345 "PyDocStyleBear has conflicting checks enabled by default"
Both of these are checked by coala by default:

[code]

And both of these:

[code]

This, obviously, makes it impossible to pass checks with default settings.

See [pydocstyle's default checks docs](http://www.pydocstyle.org/en/latest/error_codes.html#default-checks) for what their configuration is.

[2017-01-24 14:51] maweki commented on #1342
The problem the regex parser had was/is, that it probably can't 100% correctly parse all valid urls according to the RFC I am too lazy to link here.

On the other hand, the InvalidLinkBear shoud, depending on both context and content, ignore urls. There was the example that the host might be example.com or localhost and can be ignored. Any url that has a scheme that is not one of http/https/ftp or

[2017-01-24 14:58] maweki commented on #1342
To take the example from https://github.com/coala/coala-bears/issues/1338, `http://harelba.github.io/q/](http://harelba.github.io/q/)` is basically the largest url (because this is all allowed) but the sensible shorter urls in markdown context would be the set of (`http://harelba.github.io/q/](http://harelba.github.io/q/)`, `http://harelba.github.io/q/](http://harelba.github.io/q/`, `http://harelb

[2017-01-25 06:18] Techievena commented on #1320
I am using this as output regex `r'(\w+[.]){2}(?P<severity>\w+): (?P<message>[^,]*), line (?P<line>\d+), column (?P<column>\d+)'`

for output:
[code]
but the bear is not displaying any result

[2017-01-25 06:54] Asnelchristian commented on #464
This issue is redundant check https://github.com/coala/coala-bears/issues/1255

[2017-01-25 06:54] #464 closed

[2017-01-25 09:56] #1338 closed

[2017-01-25 17:19] Makman2 commented on #1320
@Techievena The error is problably put into `stderr`, not `stdout`^^

[2017-01-25 18:54] Techievena commented on #1320
Thanks @Makman2 :smile:

[2017-01-26 00:28] jayvdb opened #1349 "Regression: InvalidLinkBear: URL trimmed at square brackets"
As a consequence of https://github.com/coala/coala-bears/pull/1347 , links like `https://google.com/search?a=[]&b=2` will no longer work.  That isnt a real example, but `=[]` is a very common approach for multivalue checkboxes.

The URL is now parsed as  `https://google.com/search?a=`.

[2017-01-26 01:19] Techievena commented on #1320
apertium_lint always demands the presence of a file named `config.json`. Should we generate the file `config.json` or issue a warning and leave it to the user to use a file `config.json`

[2017-01-26 01:28] Makman2 commented on #1320
@Techievena I really suggest you to read the linter docs ;)

[2017-01-26 12:17] yash-nisar commented on #823
Still on it @divyam3897 ?

[2017-01-26 12:27] yash-nisar commented on #527
Are you still working on this @amrandahvur ?

[2017-01-26 12:34] amrandahvur commented on #527
I am busy with my college projects as of now. Go ahead and take it up :)

On 26-Jan-2017 5:57 PM, "Yash Nisar" <notifications@github.com> wrote:

Are you still working on this @amrandahvur <https://github.com/amrandahvur>
?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/coala/coala-bears/issues/527#issuecomment-275376858>,

[2017-01-26 12:44] yash-nisar commented on #925
Ping @Nosferatul

[2017-01-26 13:34] divyam3897 commented on #823
@yash-nisar didn't get the time to hack on it. Feel free to assign it to someone else to make it done faster. I can review the commits, progress and help with my so far progress :)

[2017-01-26 14:06] yash-nisar commented on #823
I would like to work on this @Makman2 @sils

[2017-01-26 18:24] Techievena commented on #1320
Sorry for asking such vague questions @Makman2 . Actually I was misled to an old doc of Linter Bears and nothing was mentioned there. So after reading it I created the config_file in the bear but the problem with Apertium_Bear is that it doesn't takes --config as argument. Its format is `apertium_lint fileneme` and it returns error if more arguments are given. Also it searches for file named `conf

[2017-01-26 18:27] Techievena commented on #1320
I tried to  use path using `os.path` but it is taking path where the python package is installed in my system not my current directory. HELP !!!

[2017-01-27 00:06] Makman2 commented on #1320
This is bad. `@linter` does not support fixed file names yet. Especially not in the same directory as the code root. And I doubt whether we should add support for this, because such config files could be part of your project in a different context. Especially a name like `config.json`.

There are some possibilities, like
- If there's already a file called `config.json` (or any other user defined n

[2017-01-27 00:11] Makman2 opened #1351 "GitCommitBear: Enforce only a single newline between shortlog and body"
This is bad:
[code]

[2017-01-27 02:02] Techievena commented on #1251
Sorry @jayvdb I didn't get you.

[2017-01-27 20:16] aptrishu commented on #1345
So we should just disable one code ? D203 and D212?

[2017-01-27 20:36] aptrishu commented on #1345
I'm not able to reproduce it. is any of the two checks already disabled by default by pycodestyle?

[2017-01-27 21:04] aptrishu commented on #1345
By default we only check for D211..
[code]

[2017-01-27 21:05] #1255 closed

[2017-01-27 21:16] underyx commented on #1345
Oh I see, so the problem is that I added an ignore code myself (all public
whatevers must have a docstring) and that enabled the disabled-by-default
ones. Still should be fixed I think.

On Fri, Jan 27, 2017, 10:04 PM Rishav Kumar <notifications@github.com>
wrote:

[2017-01-27 21:21] aptrishu commented on #1345
So, there are no conflicting checks enabled by default. so what needs to be fixed ?

[2017-01-27 21:22] underyx commented on #1345
Users should not need to copy the default ignore list if they want to
ignore their own errors.

On Fri, Jan 27, 2017, 10:21 PM Rishav Kumar <notifications@github.com>
wrote:

[2017-01-27 21:26] aptrishu commented on #1345
Actually what happens is that as we add `--ignore` command, it overrides the default ignore list. we should use `--ad-ignore`..

[2017-01-27 23:56] #1331 closed

[2017-01-28 06:26] yash-nisar commented on #823
IIUC, the bear will check for copyright notices in all python files by running a simple regex search for strings like :
`Copyright 2014 <author>`
`Copyright (C) 2014 <author>`
CC @Makman2 @sils @jayvdb

[2017-01-28 08:52] aptrishu opened #1352 "Can't use nmedtuples in bears"
When I try to use namedtuples in bears this creates an error

[code]
Actually pickle requires namedtuples to be defined module global, but that is not always the right way to solve it.
Solution - maybe use pickle from dill ( https://github.com/uqfoundation)
or anything else ?

[2017-01-28 10:51] Makman2 commented on #823
imo this is up to you ;)

[2017-01-28 12:38] Makman2 commented on #1352
You need to define `__module__` on your named tuple to point to your current module when creating it dynamically. Python can't know where you generate your type^^ (we recently found out for linter bears...)

[2017-01-28 12:39] Makman2 commented on #1352
@aptrishu though how do you use your namedtuple?

[2017-01-28 12:40] jayvdb opened #1353 "GitCommitBear: regex matches keywords anywhere in the commit body"
Strangely, on Circle only:
[code]
https://circleci.com/gh/jayvdb/coala-bears/440

Builds of the same commit (e89fcae) on Travis and Appveyor didnt fail.
https://travis-ci.org/coala/coala-bears/builds/196123116
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.4992

[2017-01-28 13:35] nkprince007 commented on #1353
Strange :O
I've tested e89fcae on my system, with latest `coala-bears` and `python3.6`, showed no errors.
Could you retrigger the build once, so that we could confirm this issue?

[2017-01-28 15:08] aptrishu commented on #1352
@Makman2
Please take a look here.. https://github.com/coala/coala-bears/pull/1332/files#diff-cdac3a46c1e8f21576bf1cbd87170148R19

[2017-01-28 18:46] Makman2 commented on #1353
CC @nkprince007

[2017-01-28 18:49] Makman2 commented on #1353
Actually the issue makes sense, our regex searches for every keyword occurrence and checks the next word. In this case it's inside a normal sentence.

We need to define how issue references shall appear inside a commit body from layout perspective^^

[2017-01-28 20:02] nkprince007 commented on #1353
But that shouldn't appear, @Makman2, because we explicitly defined the regexp and it doesn't match the one we put in GitCommitBear. The reason why other builds didn't catch it up. :smile:

[2017-01-28 20:42] Makman2 commented on #1353
Also **fix requirement** in InvalidLinkBear to match
requests version used by coala.

This is the part of the commit message^^

[2017-01-29 01:11] jayvdb opened #1354 "Test XMLBear on Appveyor"
XMLBear is skipped on the Appveyor Windows builds.
There are dependencies that need to be installed/configured.

[2017-01-29 03:13] jayvdb opened #1355 "InvalidLinkBear: not easy to test"
In order to test InvalidLinkBear, especially the regex, there are lots of unnecessary values that need to be provided.

[code]
which outputted the following (before the recent regression).
`[(2, 'https://google.com/search?a=[]&b=2', 302)]`

For starters, the regex should be in the module scope, so it can be used as is.
The timeout should accept an `int`, and all of the params except the text shoul

[2017-01-29 04:54] nkprince007 commented on #1353
I understand that @makman2, the part I don't get is, why aren't other builds picking it up?

[2017-01-29 04:55] nkprince007 commented on #1353
I've even tried the same commit on my system. It isn't picking it up. I don't understand why only the circle build is behaving strangely.

[2017-01-29 05:41] jayvdb commented on #1353
Travis doesnt run GitCommitBear on PRs (my tracis build on my fork probably
failed) , and Appveyor doesnt do much at all.

On Sun, 29 Jan 2017 14:56 Naveen Kumar Sangi <notifications@github.com>
wrote:

[2017-01-29 07:14] jayvdb opened #1357 "GhcModBear should have a DistributionRequirement"
CabalRequirement and DistributionRequirement were created recently. Both should be used for GhcModBear.
(Edited to account for CabalRequirement already being present in GhcModBear)

[2017-01-29 07:18] jayvdb opened #1358 "HaskellLintBear should have a CabalRequirement"
CabalRequirement (and DistributionRequirement) was created recently. It should be used for HaskellLintBear.

[2017-01-29 07:20] jayvdb opened #1359 "ShellCheckBear should have a CabalRequirement"
CabalRequirement (and DistributionRequirement) was created recently. It should be used for ShellCheckBear.

[2017-01-29 07:50] nkprince007 commented on #1353
@jayvdb have you tried it locally? With the new bear installed?

[2017-01-29 08:37] arnab1896 opened #1360 "GitCommitBear should give an option to user to amend COMMIT_EDITMSG"
The GitCommitBear as of now only gives warnings and errors to users,
but does not have the functionality to give an option to user to amend.

So, on using the bear something like this should come up---->

***0.Amend File(s)***
***1.Do nothing***
***Enter number (Ctrl-D to exit):***

[2017-01-29 11:21] ankit01ojha commented on #1359
@jayvdb Could you tell me how this can be done?

[2017-01-29 12:42] Makman2 commented on #1353
definitely confirmed:
[code]

[2017-01-29 12:53] Makman2 opened #1361 "PMD external ruleset"
From @rpau

[2017-01-29 12:53] Makman2 commented on #1361
From @Makman2

[2017-01-29 12:54] Makman2 commented on #1361
From @rpau

[2017-01-29 13:09] nkprince007 commented on #1353
Probably some bug in the retrieval section, because I've tried it locally and it's not showing up, also why is it picking up that line though we explicitly specified last line only.

[2017-01-29 13:11] nkprince007 commented on #1353
Could you try `pip install -U .` after the .coafile update?

[2017-01-29 13:28] Makman2 commented on #1353
haha I know why it picks up the error:
[code]
yeah... the setting is called `body_close_issue_on_last_line` :3

[2017-01-29 13:29] Makman2 commented on #1353
anyway we shouldn't pick up the `fix requirement` part of the commit message^^

[2017-01-29 13:32] Makman2 opened #1362 "coafile: Rename `body_close_issue_last_line` to `body_close_issue_on_last_line`"

[2017-01-29 13:32] Makman2 commented on #1353
filed https://github.com/coala/coala-bears/issues/1362 for renaming the setting in our coafile

[2017-01-29 13:47] Makman2 commented on #1360
@arnab1896 maybe we should redesign the way how actions do work to support this nicely, check out the referenced issue for an idea of mine :+1:

[2017-01-29 17:28] Techievena commented on #1320
I have opened a Merge Request in apertium-lint repo https://gitlab.com/jpsinghgoud/apertium-lint/merge_requests/1 and had mailed the owner :	jpsinghgoud@gmail.com on Sat, Jan 28, 2017 at 6:19 PM(IST).

[2017-01-30 07:47] coala-bot opened #1365 "Linter bear for Fortran"
Opened via [gitter](https://gitter.im/coala/coala/?at=588eef8b1e4d4bd962adc87e) by @Shade5

[2017-01-30 12:33] gaocegege opened #1366 "Linter for scala 2.11"
We could support scala 2.11 based on scalastyle-2.11.

[2017-01-30 13:18] jayvdb commented on #1359
See https://gitlab.com/coala/package_manager/blob/master/dependency_management/requirements/CabalRequirement.py , and look for PipRequirement in the coala-bears repo for similar examples.

[2017-01-30 17:56] Udayan12167 opened #1368 "Add a coala run on the coala repository to the coala-bears ci and possibly a run of tests in coala."
This is to avoid breakages and bad merges.

[2017-01-31 06:15] jayvdb opened #1371 "Blacklist dockerfile_lint@0.2.5"
0.2.5 doesnt work; fixed in 0.2.6
See https://github.com/projectatomic/dockerfile_lint/issues/66

[2017-01-31 07:24] jayvdb opened #1372 "JSHintBear uses bear except"
JSHintBear contains `bool_or_str` and `bool_or_int` from ba798ec40b which use a bare except clause.  See https://github.com/coala/coala/issues/3660#issuecomment-276241654

[2017-01-31 09:35] jayvdb commented on #845
See also https://github.com/coala/coala-bears/issues/1199 .

[2017-01-31 09:35] jayvdb commented on #664
See also https://github.com/coala/coala-bears/issues/1199

[2017-01-31 12:31] yukiisbored opened #1375 "Bear proposal: TOMLValidatorBear"
For those who doesn't know what TOML is? It's [Tom's Obvious, Minimal Language](https://github.com/toml-lang/toml), obviously.

TOML is pretty nice for simplistic looking configuration files that doesn't require a lot of learning to start writing it.

Here's a linter that I found for TOML: https://github.com/BurntSushi/toml/tree/master/cmd/tomlv

[2017-01-31 13:19] #1372 closed

[2017-01-31 22:32] coala-bot opened #1379 "RLintBear: Add Requirement for R version"
[lintR](https://cran.r-project.org/package=lintr) is only available on R >= v3.1.1
i.e. not available for Ubuntu precise & [trusty](http://packages.ubuntu.com/trusty/r-base), which is R v3.0.2.  see error at https://travis-ci.org/jayvdb/coala-bears/jobs/196971135#L3630
Xenial is the first acceptable Ubuntu.
While rstudio's package for lintr does include min R version, that info is not accessible.

[2017-01-31 22:43] jayvdb commented on #1379
Note that even [lintr 0.2.0](https://cran.r-project.org/src/contrib/Archive/lintr/) requires R v3.1.1 .

[2017-01-31 23:32] jayvdb opened #1380 "cabal caching"
ea74d022e used a very basic & manual form of cabal cache checking.
There should be a way to avoid that.

cabal install should be able to check which dependencies are already installed.

Maybe there are more cabal install metadata dirs/files which needs to be preserved between builds.

cc: @vijeth-aradhya

[2017-02-01 02:22] coala-bot opened #1382 "Update references to coala-analyzer in RELEASE_NOTES.rst"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58914669c0f28dd8626b3820) by @jayvdb

[2017-02-01 02:23] coala-bot opened #1383 "Update references to coala-analyzer in MypyBear.py"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=589146bbe836bf7010b7707f) by @jayvdb

[2017-02-01 04:00] vijeth-aradhya commented on #1380
I had noticed `cabal` being there, but `cabal-install` had _not_ been installed.
IMHO, at least the `cabal-install` version should be at least what is mentioned in the commit and should be cached ^^ ( at least in Circle, `cabal-install` is not there, in Travis [here](https://github.com/coala/coala-bears/blob/master/.travis.yml#L20), I don't think it's the right version?! _it's using apt package to

[2017-02-01 06:24] #1362 closed

[2017-02-01 06:34] coala-bot opened #1384 "cabal-install times out regularly"
When building without cache, cabal-install regularly fails, and the build fails, the cache is still empty, and the build must be started again.
See https://travis-ci.org/jayvdb/coala-bears/jobs/197200323#L3189
Maybe there is some config option to increase the timeout.

Opened via [gitter](https://gitter.im/coala/coala/?at=589181842ff29dec06612390) by @jayvdb

[2017-02-01 08:42] Techievena commented on #1354
`lxml version==3.6.0` has binaries built for windows. Can fix dependency issues in https://github.com/coala/coala-bears/pull/1337 and https://github.com/coala/coala-bears/pull/1364 Should I commit this part first and then work on Testing XMLBear on Appveyor

[2017-02-01 09:03] jayvdb commented on #1354
Installing lxml on Windows is a tiny part of the problem.   It can be a separate commit, but it wont be merged until one of the bears is working.

[2017-02-01 09:40] m1guelpf commented on #1322
👍

[2017-02-01 10:02] jayvdb commented on #1380
We can install any version of cabal-install we need.
This issue is about working out why cabal-install wasnt checking its own cache first before fetching and building and installing packages that it already had.
It will be helpful to have all the `CabalRequirement` added to solve this issue, but not mandatory.

[2017-02-01 10:10] vijeth-aradhya commented on #1380
What about having `--avoid-reinstalls` flag so that it will not overwrite the installed version?

[2017-02-01 10:24] jayvdb commented on #1380
Try it?

[2017-02-01 10:44] incorrectusername commented on #1357
i have done changes [here](https://github.com/incorrectusername/coala-bears/commit/a6013a42218bf29ab5010dba5e367f9de39fbe05). Is there something more need to be done.
Just wanted to be sure that i'm going in right direction?

[2017-02-01 10:55] jayvdb commented on #1357
Correct direction. ;-)

[2017-02-01 12:50] ayushoriginal commented on #1383
Please assign this issue to me. I'm new in this organization and want to contribute here for a long time.

[2017-02-01 13:31] Vamshi99 commented on #1382
@jayvdb I think we should update references to coala?

[2017-02-01 14:43] jayvdb commented on #1382
yes, references to 'coala-analyzer' should be updated to 'coala'

[2017-02-01 19:07] #1382 closed

[2017-02-01 19:08] sils commented on #1357
@jayvdb @incorrectusername sorry to pull this up too late, didn't see this earlier but: that'd mean that both of those requirements would have to be installed while we only want one, right?

[2017-02-01 22:16] jayvdb commented on #1000
coala and the docker have been fixed to use `alldeps`.
coala-atom CI installs coala-bears, which may need fixing, but .. CircleCI is broken anyway: https://github.com/coala/coala-atom/issues/38
Presumably other editor plugin repos also need to be checked.

[2017-02-02 00:25] sils commented on #1235
@userzimmermann has this to

[2017-02-02 00:59] #1296 closed

[2017-02-02 01:53] userzimmermann commented on #1235
And when I call `remark` manually the following happens:

[code]

The rest of this issue might be related to that actual `remark` fail. I will further look into this...

[2017-02-02 03:08] jayvdb commented on #1235
Possibly node version?

[2017-02-02 07:06] jayvdb opened #1388 "radon depends on flake8"
See https://github.com/coala/coala-bears/issues/1228 for background on why this is a problem.

[2017-02-02 11:20] incorrectusername commented on #1357
@sils @jayvdb There's already one. Which one do we need? Cabal or distribution?

[2017-02-02 11:54] shrutishrm512 commented on #774
Examples can be added in AnnotationBear.py showing by applying the bear on any file then write errors which are coming(and also writing command with it. So is this correct way to add an example?

[2017-02-02 13:02] Vamshi99 commented on #1379
@jayvdb Is this commit correct? If not, please tell me the right way.

[2017-02-02 14:46] Makman2 opened #1389 "PerlCriticBear: Remove `if platform.system()` switch for Windows"
`@linter` supports now finding .bat and .cmd files without doing such an if.

so this should suffice:
[code]

[2017-02-02 14:47] Makman2 commented on #1389
This requires upgrading coala to the most recent version^^

[2017-02-02 14:48] Makman2 commented on #1389
\+ Please test whether it works properly manually by looking whether the tests for `PerlCriticBear` get executed! Our CI for Windows won't fail if not!

[2017-02-02 18:25] Nosferatul commented on #758
unassigned due to inactivity. If you want to be reassigned, ping!

[2017-02-02 19:26] Makman2 commented on #758
Doesn't look like this issue is solved yet^^

[2017-02-02 20:04] damngamerz commented on #1368
@Udayan12167 How can i fix this issue im new here!!
will reading this helps ?
https://github.com/coala/coala/wiki/Google-Code-In-Task-Use-coala
any other resources which can help me solve it please suggest :)

[2017-02-02 21:08] sahilarora535 opened #1392 "PEP8Bear: Missing whitespace around binary operator"
The whitespace around binary operator after running PEP8 bear is not fixed.
PS - Whitespace around binary operator is optional in PEP8, though the convention is that whitespace pe put.

[2017-02-03 02:49] Techievena opened #1393 "PycodestyleBear: Remove extra ' sign from Message"
The message displayed by PycodestyleBear contains an extra `'` sign at the end. Examples:
`E305 expected 2 blank lines after class or function definition, found 1'`
`E501 line too long (85 > 80 characters)'`. Fix the regex of PycodestyleBear.

[2017-02-03 03:29] Techievena opened #1394 "PycodestyleBear and LineLengthBear print redundant messages"
Result with PycodestyleBear:
![image](https://cloud.githubusercontent.com/assets/17270966/22578452/e5e791bc-e9ee-11e6-850c-09c96adf6b10.png)
Result with LineLengthBear:
![image](https://cloud.githubusercontent.com/assets/17270966/22578483/203b2b1c-e9ef-11e6-9c90-e55d2e10d060.png)

[2017-02-03 05:21] Techievena opened #1395 "PycodestyleBear: Ignore regex (^.*https?://)"
Like LineLengthBear, PycodestyleBear must also ignore the regex `^.*https?://` while considering line length.

[2017-02-03 07:10] adhikasp commented on #1395
Also it could be applied to MarkdownBear too. Maybe creating an option with default value set to ignore long HTTP link?

[2017-02-03 07:49] adhikasp commented on #1334
Hi, cool idea!
I'm interested to take on this issue. :construction_worker_man:

[2017-02-03 08:20] adhikasp commented on #1234
Just doing quick check with following test.json file

[code]

Used command `coala -b <BearName> -f test.json`

`ESLintBear` no error
`JSHintBear` no error
`HappinessLintBear` no error

`JSONFormatBear `show error, but doesnt specifically say duplicated key. The bear suggest to delete all duplicated keys except the last one (maybe because of the dict).

[code]

[2017-02-03 08:36] dracarys09 commented on #1383
@ayushoriginal  use cobot assign <issue_url> on gitter channel...  :smile:

[2017-02-03 10:47] sims1253 commented on #1217
unassigned due to inactivity

[2017-02-03 17:38] Makman2 commented on #1394
Yeah `PycodestyleBear` does also line-length-checking. We can't avoid this, and imo this is okay.

@Techievena some reason you really want to change it?

[2017-02-03 17:41] Makman2 commented on #1395
Definitely an optional setting :+1:

[2017-02-03 18:13] #1217 closed

[2017-02-03 18:42] Techievena commented on #1394
When running coala for the first time in large projects these redundant messages are really frustating. ( Got frustated today when running our coafile on apertium_lint and that is even a very small project) This redundancy is OK for small fixes but when if we are extend coala for project wide support we must remove these redundancies imo. :smile:

[2017-02-03 23:52] jayvdb opened #1402 "Bear proposal Ruby flog"
https://github.com/seattlerb/flog

difficulty/low

[2017-02-04 01:35] jayvdb commented on #1393
In 2555651 @sahilarora535 removed the `'` from the cli arg.  I am quite positive that is not correct.
The issue says "Fix the regex of PycodestyleBear."  I assume that there is a regression in either the regex, or ... ?  If it is a regression, we may need to back port the fix to 0.10

[2017-02-04 01:42] gaocegege commented on #1366
@jayvdb Hi, could we add a option `scala_version= 2.10 | 2.11` to solve this issue?

[2017-02-04 01:48] jayvdb commented on #1366
Firstly, this bear needs to move to using MavenRequirement, similar to https://github.com/coala/coala-bears/issues/1250 .

The user needs to be able to choose the jar, or choose the scala version (and then the bear finds the correct jar)

[2017-02-04 02:45] gaocegege commented on #1366
Got it.

[2017-02-04 06:52] jayvdb commented on #1123
The solution in 72dccb5 worked well for Travis, but .. had no effect on the apt-get commands that are occurring on Circle CI.  See https://circleci.com/gh/jayvdb/coala-bears/610 "bash .ci/deps.sh"

[2017-02-04 09:30] sims1253 opened #1405 "[Bear Proposal] Elvis Bear"
https://github.com/inaka/elvis

[2017-02-04 10:17] jayvdb commented on #1393
It is also possible that those inner quotes are not necessary.
Test cases are needed, so we can see that the problem has been fixed (https://github.com/coala/coala/issues/3648).

[2017-02-04 11:12] yukiisbored commented on #1334
@adhikasp It looks like you're new, have you tried doing the newcomer issues, first?

[2017-02-04 11:14] yukiisbored commented on #1334
Ah, I just found your [first PR](https://github.com/coala/coala-bears/pull/1396), please finish that one first before you do this one, thanks <3

[2017-02-04 11:37] Techievena commented on #1123
Sorry missed to look at Circle.

[2017-02-04 13:49] Makman2 commented on #1394
In this case you can just remove the `SpaceConsistencyBear`^^ Then you don't have redundant messages.

Imo this gets way better streamlined as soon as we have aspects (https://github.com/coala/cEPs/blob/master/cEP-0005.md).

[2017-02-04 13:59] jayvdb commented on #1123
Me too ;-)

[2017-02-04 21:14] sahilarora535 commented on #290
@Adrianzatreanu FYI Jade is now deprecated. It has changed to Pug. We should prefer a PugBear :dog:

[2017-02-04 22:11] jayvdb commented on #783
Apparently, there is xcode support: https://github.com/openframeworks/openFrameworks/wiki/openFrameworks-Coding-style-guidelines

[2017-02-05 00:56] sils commented on #1359
Shouldn't we rather have like a distribution requirement which knows that as a backup it can use the cabalrequirement instead of requiring both? I think this handling is wrong and will lead to our package management trying to install the package twice.

Related issues: https://github.com/coala/coala-bears/issues/1358 and I think there's more issues like this one.

[2017-02-05 02:12] gaocegege commented on #1250
Hi, I meet a problem when I'm working on https://github.com/coala/coala-bears/issues/1366

I have no idea how to get the local maven repository path. If we want to run the jar file we need to know the path to it, and I think different OSes have different path:)

[2017-02-05 03:27] jayvdb commented on #1359
A DistributionRequirement cant know anything. The installer (cib) controlled by a real person chooses the type of installation.
The bear provides the metadata. How to structure it to describe 'or' is something cib needs to do , quickly.

[2017-02-05 05:43] dracarys09 commented on #1393
@sahilarora535 as @jayvdb suggested... seems like those inner quotes are not necessary... so I tried something like...   ```arguments = [r'--format=%(row)d %(col)d %(code)s %(text)s']```
instead of ```arguments = [r"--format='%(row)d %(col)d %(code)s %(text)s'"]``` and it worked... but IMO this is probably just a hacky way to go about this.

[2017-02-05 05:56] coala-bot opened #1408 "Update the latest stable badge in readme to 0.10.0 from 0.8.0"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5896be7d46101c12098c3862) by @meetmangukiya

[2017-02-05 06:02] dracarys09 commented on #1393
@sahilarora535 for the discussion we had on your commit, I don't think that the ```text``` contains apostrophe of its own... It is also possible that the bug is not in PycodestyleBear but that is for you to find out...  :stuck_out_tongue:

[2017-02-05 07:20] Techievena commented on #1250
@gaocegege I was working on some other issues and will resume my work on this from now. Well I there are two possible ways we can fix this imo :smile:
1)Cache the jar files by some method
2)Change M2_HOME M2 and other path variables for maven to download jar files in path we wish for
__P.S.:There is an option -DoutputDirectory for mvn installation maybe we can make suitable changes in MavenRequire

[2017-02-05 08:47] sahilarora535 commented on #1393
@dracarys09 Things are weird this side. I replaced the arguments with this:
`arguments = [r'--format="%(row)d %(col)d %(code)s %(text)s"']`

I also turned on verbose to check what's going on behind the scenes. I get this message:
[code]
With `PycodestyleBear`, I get the following message: `E401 multiple imports on one line"`

I ran the same command mentioned in the debug message: `pycodestyle --fo

[2017-02-05 09:37] sils opened #1410 "Bear Proposal brakeman"
- brakeman

[code]

[2017-02-05 10:04] damngamerz commented on #1368
@Udayan12167 Can you please elaborate I couldn't understand the issue!!

[2017-02-05 10:39] sils commented on #1368
I think this is a medium difficulty one.

[2017-02-05 11:14] gaocegege commented on #1250
@Techievena I think `-DoutputDirectory` won't reuse the dependency in local maven repo. 🤔

[2017-02-05 13:46] Makman2 commented on #1393
Invoking from shell or directly executing a program is a difference. The shell takes over interpretation of quotes, not the OS. In this case it removes those quotes, you can test it easily with a little script:
[code]
And now invoke it with ` --format='%(row)d %(col)d %(code)s %(text)s'`. You'll see that the quotes are gone^^

[2017-02-05 13:47] Makman2 commented on #1393
So yes, just remove those quotes, that should solve it :+1:

[2017-02-05 14:14] dracarys09 commented on #1393
https://github.com/coala/coala-bears/issues/1393#issuecomment-277520844

@Makman2 I tried ```--format='%(row)d %(col)d %(code)s %(text)s This is sparta' and the output was like ```E231 missing whitespace after ','This is sparta'```. So basically whatever is after ```%(text)``` is also coming in the output. But if OS is interpreting this without both quotes then there shouldn't be one extra quote a

[2017-02-05 14:49] Makman2 commented on #1393
no they aren't removed because you don't execute inside a shell ;) The shell removes them and passes the args to the OS :+1:

[2017-02-05 15:32] dracarys09 commented on #1393
I think we need to reopen this then https://github.com/coala/coala-bears/pull/1401

CC @Makman2 @jayvdb @sahilarora535

[2017-02-05 19:01] sahilarora535 commented on #1393
Thank you @Makman2 @dracarys09 . Finally. Learnt a lot here! :smile:

[2017-02-05 20:27] Techievena commented on #1394
Sorry for late reply. Wasn't around here for last 2-3 days. But SpaceConsistencyBear is really an useful bear when we consider analysis of new projects imo. We shouldn't remove that. By the way great proposals at
https://github.com/coala/cEPs/blob/master/cEP-0005.md . :smiley: You should close this issue then. Looking forward to be a part of the team implementing this proposal.

[2017-02-05 21:38] Makman2 commented on #1394
Yes but I mean don't use both bears at once for now ;)

Let's keep this issue anyway open, maybe we find something we can easily integrate in our current system. As you're right, we are duplicating results here^^

[2017-02-06 06:34] sils commented on #1359
@jayvdb so shouldn't we implement the or before we start using it?

[2017-02-06 22:41] coala-bot opened #1414 "Appveyor should require 100% coverage"
Opened via [gitter](https://gitter.im/coala/coala/?at=5898fba900c00c3d4f0490ae) by @jayvdb

[2017-02-06 22:46] jayvdb opened #1415 "Require 100% coverage on Appveyor"
We had a windows regression in 0.10 because some bears stopped working, and started skipping.
Instead of skipping, the CI script should remove the bears&tests for known unsupported bears /uninstalled dependencies, similar to what the docker image does.

[2017-02-06 22:55] sils commented on #1414
duplicate of https://github.com/coala/coala-bears/issues/1415

[2017-02-06 22:55] #1414 closed

[2017-02-06 23:08] jayvdb commented on #1359
coala core would also be impacted. Raised https://github.com/coala/coala/issues/3713 about that.

[2017-02-07 01:45] Shade5 commented on #1354
https://github.com/coala/coala-bears/pull/1337 cannot be merged until this id fixed :cry:

[2017-02-07 06:01] jayvdb commented on #1393
I've checked the blame on that line, and it is @NiklasMM 's original code.
So, this isnt a regression, so it doesnt *need* to be backport, but a backport to 0.10 would be a nice thing to do.

[2017-02-07 06:15] jayvdb commented on #1393
Very strange.  I cant reopen https://github.com/coala/coala-bears/pull/1401 .  The re-open button is disabled. @sils, can you?

I havent seen this before, except where the branch was deleted, but .. it exists https://github.com/sahilarora535/coala-bears/tree/fix-py-code-style-bear

[2017-02-07 06:15] jayvdb commented on #1354
@shade5, do you know how to do it?

@techievena, if you havent figured it out, should I do it, since it is holding everyone up?

[2017-02-07 06:17] jayvdb commented on #1393
Maybe it is because there has been a force-push after the PR was closed, so it cant be re-opened in the same state.

@sahilarora535 , could you re-force-push ed6651b to that branch ?

[2017-02-07 06:39] sahilarora535 commented on #1393
@jayvdb I have done a re-force-push to the initial state to when the [PR](https://github.com/coala/coala-bears/pull/1401) was closed. Please check the [commit status](https://github.com/coala/coala-bears/pull/1401/commits)

[2017-02-07 06:49] jayvdb commented on #1393
Woot.  That solved it.  Re-opened.
Ok, now rebase and we can merge ;-)

[2017-02-07 06:54] Techievena commented on #1354
@jayvdb My exams are going on right on and I am not getting enough time right now. It's better you unassign me and do it, if it is holding up others.

[2017-02-07 06:56] adhikasp commented on #1408
Wait @zenara, I think you made a mistake of submitting Pull Request to *your own branch* (zenara/coala-bears) instead of coala branch (coala/coala-bears). You should create another PR to coala repository itself.

[2017-02-07 07:14] meetmangukiya commented on #1408
Also, note that the change has to be made to 0.10.0 since it has been released now

[2017-02-07 07:16] sahilarora535 commented on #1393
@jayvdb Yeah. I have rebased it, ready for merging. :smile:

[2017-02-07 07:47] #1393 closed

[2017-02-07 07:53] adrienverge opened #1417 "Most YAML documents use document starts (---)"
Hi,

I am the creator of yamllint, the linter coala uses for YAML.

Since #965 was merged three months ago, coala fails on many projects like Ansible, OpenStack and even yamllint itself, because coala doesn't accept document start markers (`---`) anymore.

Document start markers are commonly used, and required when declaring multiple documents in a single `.yaml` file (see [the spec](http://yaml.o

[2017-02-07 08:10] Shade5 commented on #1354
Nope, I tried to fix it in my pr, but couldn't figure out how to install the dependencies in windows

[2017-02-07 09:22] sils commented on #1393
reopening a PR is not possible if there was a push on the branch after.
Though I guess you figured

[2017-02-07 14:00] gs0510 commented on #1351
@arnab1896  Are you still working on this?

[2017-02-07 14:02] arnab1896 commented on #1351
Yes, I will be from 12th Feb, sorry.

[2017-02-07 14:02] arnab1896 commented on #1351
* I mean, yes I'm working on it

[2017-02-07 14:04] gs0510 commented on #1013
@dosarudaniel  Are you working on this?

[2017-02-07 16:21] gs0510 commented on #1013
From what I understand, I will have to add a to_kebabcase function to rom coalib.bearlib.naming_conventions file. Also, there is no uniform standard for some of the conversion for kebab case. For example, __Init__File__ is converted by some online kebab-case converters to -init-file-, some convert it to --init--file-- . What should we consider as a standard?

[2017-02-07 16:55] Makman2 commented on #1013
@gs0510 feel free to implement one that is reasonable for you :)

[2017-02-07 18:20] Makman2 commented on #1417
Agree.

So task is to use `None` as default value [here](https://github.com/coala/coala-bears/blob/master/bears/yaml/YAMLLintBear.py#L27) and if it's used, leave the config value for the rule, if `True` or `False` are passed, configure the rule with `True`/`False`.

[2017-02-07 18:20] Makman2 commented on #1417
Btw one can remove
[code]
and directly feed the value of `document-start` into the configuration dictionary^^

[2017-02-07 19:12] adhikasp commented on #1417
For reference, this fix would be very similliar with https://github.com/coala/coala-bears/pull/1335.

[2017-02-07 19:56] sahilarora535 commented on #1393
@sils Yeah. I checked  `git reflog`, deleted current branch, and make a branch from the original commit, the one before which the PR was closed, which solved the issue.

[2017-02-07 22:17] aptrishu commented on #1283
@sils How exactly are you suggesting to solve this with AnnotationBear ?

[2017-02-07 22:31] sils commented on #1283
@aptrishu annotationbear identifies comments right?

[2017-02-07 22:40] jmc-88 commented on #328
I'm assuming you mean GNU indent here, as I'm unaware of what GNU format is and couldn't find any pointers for it:

1. Yes, you want that. GNU indent is targeted at C source code (from the [manual](https://www.gnu.org/software/indent/manual/indent.html): "_indent: Indent and Format C Program Source_"), while clang-format supports several different languages.
1. GNU indent hasn't seen a release in

[2017-02-07 22:48] sils commented on #328
@jmc-88 thanks a lot for the analysis! Removing needs design as it's crystal clear why and what we want IMO.

With [cEP-0005](https://coala.io/cep5) we *will* actually want to turn most of those options into aspects long term even though it will be a lot of work.

[2017-02-07 22:53] aptrishu commented on #1283
yup. It does.

[2017-02-08 05:20] meetmangukiya opened #1418 "Discourage the use of verify_local_bear test helpers"

[2017-02-08 08:02] Shade5 commented on #1418
As makman2 suggested in https://github.com/coala/coala/commit/7f71c70d44dd26c1b334cd257f494f87984a4ba8
we can use the mock library to emulate an environment and then test the output with a regex.

[2017-02-08 09:50] NiklasMM opened #1419 "Bear idea: literal-objects sorter"
This idea just popped into my head:

I'd like my hard-coded objects/dicts to be sorted by key. Often I have something like:

[code]
These kinds of constructs exist in all kinds of languages and it would be nice to automatically sort them by key. The example above would look like this:

[code]
It would be nice, if we have a LiteralObjectSorterBear, which detects and fixes this. I don't know if ther

[2017-02-08 09:52] sils commented on #1419
yes, ideally we'd probably build another bear on top of the annotationbear that can detect the dict syntax basically and then build our bear on that generic info or so. Then we can reuse the dict stuff for other bears later as well.

[2017-02-08 11:09] ncoghlan commented on #1161
I just ran into a similar problem and came across this issue while investigating it. The approach I used to address it was including a trailing comment on the lines with VCS references that indicated what the "real" requirement used in the setup.py should be:

[code]

[2017-02-08 12:21] Makman2 commented on #1419
(looks like coAST stuff...)

[2017-02-08 15:34] sahilarora535 opened #1420 "Bear Improvement: Use `count lines of code(cloc)` in LineCountBear to enhance usability."
Coala does not have `cloc` bear. `cloc` is a command line utility which counts lines of code in a directory/file. This is the output when run on this repository:
[code]

[2017-02-08 15:57] Makman2 commented on #1420
Is https://github.com/coala/coala-bears/blob/master/bears/general/LineCountBear.py what you look for?

[2017-02-08 17:35] sahilarora535 commented on #1420
@Makman2 Actually `cloc` is a bit different. It, as the name suggests `count lines of code`, counts the lines of code per file, and gives a detail of code lines, comments, blank lines per language. The `LineCountBear` just count lines of code, without statistics. See the [first comment](https://github.com/coala/coala-bears/issues/1420#issue-206232264) on this issue for reference.

[2017-02-08 17:59] Makman2 commented on #1420
usecase?

[2017-02-08 18:24] sahilarora535 commented on #1420
@Makman2 Counting lines of code! I can't think of a better usecase. We have `LineCountBear`, when it can be simply done using `cat * | wc -l`, we should have this as well. What's say?

[2017-02-08 18:35] Makman2 commented on #1420
Thing is the `LineCountBear` does support a limit: https://github.com/coala/coala-bears/blob/master/bears/general/LineCountBear.py#L18

Not sure if it makes sense to restrict the complete amount of code from a specific language^^

[2017-02-08 18:37] meetmangukiya commented on #1420
I guess the limit forces the developer to make more modular and readable code

[2017-02-08 18:49] Makman2 commented on #1420
Yeah but this does not really work when you say "please write only 1000 LOC for python in your complete project" :3 That's what I wanted to say :)

[2017-02-08 19:27] #1417 closed

[2017-02-08 21:45] jayvdb commented on #1354
On Appveyor, you can fetch libxml2, libxslt, zlib and libiconv packages using nuget.

[2017-02-09 06:00] yash-nisar commented on #1395
This would be a newcomer issue IMO ? CC @Techievena

[2017-02-09 06:57] yash-nisar commented on #397
Are you still working on this @wimpykid26 ?

[2017-02-09 16:37] #1345 closed

[2017-02-09 20:07] Makman2 commented on #1395
Does pycode-style support ignoring certain lines/whatever content? If not we need to postprocess results, which probably could get quite difficult.

Btw this is at least `difficulty/low` imo.

[2017-02-10 08:39] Techievena commented on #1395
Sorry forgot that. You have to create a `ignore_regex` field first for PycodeStyleBear.

[2017-02-10 12:42] underyx commented on #1420
@Makman2 this would be useful: currently, we have a 1000 line limit on files, but with cloc, we could change it to like 500 actual lines of code, which would exclude blank lines, docstrings, comments, etc.

[2017-02-10 16:18] Makman2 commented on #1420
Shouldn't we then improve our bear by using cloc?

[2017-02-10 16:21] gs0510 commented on #1395
Can somebody assign this to me?

Thanks!

[2017-02-10 16:27] yash-nisar commented on #1395
You can now assign issues on your own by our coala bot `cobot` on gitter. Use `cobot assign link_to_the_issue` or `cobot help` for an exhaustive list of commands on our gitter channel. :)

[2017-02-10 16:33] underyx commented on #1420
That's also a possibility. It would also count hacks like `import os; os.setenv('FOO', 'BAR')` as two lines then.

[2017-02-10 16:46] Makman2 commented on #1420
sounds good. Let's improve our current bear :+1:

[2017-02-10 19:57] SanketDG opened #1426 "Integrate phpstan"
https://github.com/phpstan/phpstan

[2017-02-10 22:50] Mixih commented on #1249
0.10 Released

[2017-02-10 22:50] #1249 closed

[2017-02-11 05:21] meetmangukiya commented on #1420
Lets change the issue title, then?

[2017-02-11 10:27] gs0510 commented on #1395
pycodestyle does not support ignoring lines based on regexes. :( They have a default behaviour for ignoring URLs in multi-line comments/docstrings though. [https://github.com/PyCQA/pycodestyle/pull/243](Here) is the PR referencing this.

Is there a bear which I can look as an example for post processing results?

[2017-02-11 11:38] sahilarora535 commented on #1420
@underyx  @Makman2 @meetmangukiya title changed. This will improve the usability of the bear for sure. :smile:

[2017-02-11 13:43] Makman2 commented on #1395
As this is a linter bear, you have to take over parsing yourself by overriding `process_output`. Read up on [Linter Bears Advanced](http://api.coala.io/en/latest/Developers/Linter_Bears_Advanced.html#custom-processing-functions-with-process-output) in our docs how to do this and look for example at [XMLBear](https://github.com/coala/coala-bears/blob/master/bears/xml2/XMLBear.py).

There you can cr

[2017-02-11 14:11] underyx commented on #1420
I'd suggest leaving `max_lines_per_file` alone and adding `cloc` count checking only with a new `max_lines_of_code_per_file` option.

[2017-02-11 14:50] Makman2 commented on #1420
maybe we just have a flag `count statements=True/False`  (or similar) which then kicks in `cloc` or keeps the simple behaviour?

[2017-02-11 20:16] damngamerz commented on #1426
I would like to work on this bear proposal :smile:

[2017-02-11 22:55] jayvdb commented on #1419
Other easy languages to support are json and yaml, but both are better 'ordered' by declaring a schema which defines a preferred key order. But this feature could be easily added to https://github.com/legoktm/jsonchecker and yamllint as a way of prototyping for coala to pick up on implementation complexities that need to be considered in our design.

Note that in Python and most other dict impl, r

[2017-02-12 09:48] nsurampu commented on #1415
Can anyone tell me more about this issue? I may take this up

[2017-02-12 09:53] Adrianzatreanu commented on #1415
@jayvdb is this low or medium? Make up your.mind :D

[2017-02-12 12:09] coala-bot opened #1427 "StyleLintBear: Do not capture `filename`"
[code]
difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58a050691465c46a5654771e) by @meetmangukiya

[2017-02-13 00:02] jayvdb commented on #1388
Mostly note to self: A non-upstream approach might be create a dummy (empty) `flake8` package with an appropriate version to workaround the dependency requirements.  In a virtualenv, this would be fine.  However in a real environment, it would conflict with, and break, existing flake8, so a lot of care would be needed to ensure that it isnt possible for setuptools or pip to upgrade a proper flake8

[2017-02-13 15:03] aptrishu commented on #1419
@sils @jayvdb
I would rather do it with AST. We should not add this (dictionary range detection) functionality to AnnotationBear. AnnotationBear does too much, like it detects everything, no streamlined functionality.

[2017-02-13 15:16] NiklasMM commented on #1419
With AST, we would be limited to Python. I would rather have this be a language agnostic approach.

@jayvdb I agree, that we should use stable sorting, guaranteeing that double keys remain in the same order. Can you think of any other bugs this could introduce?

[2017-02-13 15:20] aptrishu commented on #1419
Actually No, I was talking about AST's in general.. We have an upcoming project (https://github.com/coala/coAST) . Integrating coala with ANTLR. So, we can do that for every language.

[2017-02-13 15:20] NiklasMM commented on #1419
Oh ok, I wasn't aware.

[2017-02-14 04:18] zenara commented on #1408
@adhikasp Hope it's right now. @meetmangukiya Updated to 0.10.0

[2017-02-14 10:49] gs0510 commented on #1395
pycodestyle can only tell whether or not a the number of characters exceed max line length or not. It does not tell what those lines actually contain. I don't know how I can use regex to ignore lines with URLs. :(

[2017-02-14 15:07] gs0510 commented on #1395
How does the bear show the code in the line number corresponding to the error?

In the output of the Pycodestyle if I use the flag --show-source I can get the accompanying line with the error, but I would not want to show it in the final output. For example,

4 80 E501 line too long (215 > 79 characters)
string = "https://www.longurlmaker.com/go?d=NWCQZNTFVUESFPIBTUYKDKEVKGDYWBYKXBAXOUDKOICUYKWRFU

[2017-02-14 17:41] Makman2 commented on #1395
You give `Result` the `affected_code` parameter which contains the `SourceRange` marking the affected piece of code.

Seems you have only `use_stdout=True` set (probably implicitly). `@linter` won't give you both then, stderr and stdout, but just stdout as a string. Then you don't need to unpack values:
[code]

[2017-02-14 19:37] #1389 closed

[2017-02-15 00:30] #35 closed

[2017-02-15 04:49] aptrishu opened #1431 "Get the range of Data Structures such as dict. , list/array from a code"

[2017-02-15 04:57] aptrishu commented on #1419
To be done after https://github.com/coala/coala-bears/issues/1431.

[2017-02-15 09:12] sils commented on #1419
I'm against using coAST for this. coAST won't be ready for ages and we have no idea if it ever will. Our Languages design is as modular as coala is and is sufficient for this usecase. I'm not saying we extend the AnnotationBear but we build on it: we build another bear that does annotations just like the AnnotationBear that depends on AnnotationBear and tells us about dicts in the code.

[2017-02-15 09:28] aptrishu commented on #1419
Agreed, I feel this..
So the idea right now is to build another bear which detects data structures such as dict, list/array..
It'll be dependent on AnnotationBear to take info of comments range to handle cases like

[code]

and then the sortingBear will be dependent on that Bear.

[2017-02-15 09:32] jayvdb commented on #1380
Im not sure the caching has been fully fixed.

[2017-02-15 10:32] jayvdb opened #1432 "PySafetyBear fails on Ubuntu precise"
See https://github.com/pyupio/safety/issues/35 .

When reading a `requirements.txt` file, the *ideal* exception to catch varies on the version of pkg_resources that is installed.  In all cases, `ValueError` is acceptable, however, as of setuptools 16 `RequirementParseError` was [introduced](https://github.com/pypa/setuptools/commit/cd79379c95051b94a7fa).

PySafetyBear is currenting using `Requirem

[2017-02-15 13:18] jayvdb opened #1433 "Circle Trusty fails installing php-codesniffer"
First reported at https://github.com/satwikkansal/coala-bears/commit/056f5cdfff553f4d6422e745d478ab1fc3ad59db#commitcomment-20889719 by @satwikkansal

Trusty builds on Circle, using xenial packages, reports:
[code]

[2017-02-15 15:52] Makman2 commented on #1419
the bear will do the same as coAST in principle...

why not making some kind of working prototype for Python in coAST? Maybe just use the built-in AST for now... just to get something there.

Damn let's drive it then :D

[2017-02-15 23:26] #1433 closed

[2017-02-16 14:12] jayvdb opened #1436 "Request wheels for all upstream Python packages"
In addition to coala dependencies without wheels (https://github.com/coala/coala/issues/3753), the following bear dependencies need wheels:

[code]
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.5301/job/s87hjtdtx99ah8kj

[2017-02-16 15:08] arnab1896 opened #1437 "JavaPMDBear needs a careful review"
The process of PMD installation isn't clear.

Here is another issue related to it that will be worked upon
once the process of PMD installation is clear.
------> https://github.com/coala/coala/issues/3639 <-------

[2017-02-16 23:23] jayvdb commented on #1380
The next commit resulted in nicely cached 10s installations of Haskell dependencies.
See https://travis-ci.org/coala/coala-bears/builds/202066799 and https://circleci.com/gh/coala/coala-bears/5452 .

[2017-02-16 23:23] #1380 closed

[2017-02-17 17:16] damngamerz commented on #1394
@Techievena I suggest we can simply '--ignore' that E501 Error in PycodestyleBear.So as to remove its redundancy with LinelengthBear.what say?I will be happy to work on this :+1:

[2017-02-17 17:41] damngamerz commented on #1437
I think we already have this issue.
https://github.com/coala/coala-bears/issues/651

[2017-02-17 18:04] Techievena commented on #1394
@damngamerz See this https://github.com/coala/coala-bears/blob/master/.coafile#L9 Also we can ignore certain lines using --ignore not any type of error.

[2017-02-17 18:14] damngamerz commented on #1394
@Techievena Im talking about PycodestyleBear we can ignore any type of error either creating a specific config, or adding ```--ignore``` tag in CLI https://pycodestyle.readthedocs.io/en/latest/intro.html#configuration

[2017-02-17 18:14] aptrishu opened #1440 "IndentationBear.py: Typo `whith` -> `with`"
https://github.com/coala/coala-bears/blob/master/bears/general/IndentationBear.py#L260

[2017-02-17 18:20] Techievena commented on #1394
Wait for @Makman2 's suggestion 😃

[2017-02-17 18:25] damngamerz commented on #1426
Tested phpstan!! The linter is good.
While converting it to bear I m having issues.
As phpstan is being installed through composer.
I Tried installing both composer and phpstan globally.
`
php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
php -r "if (hash_file('SHA384', 'composer-setup.php') === '55d6ead61b29c7bdee5cccfb50076874187bd9f21f65d8991d46ec5cc90518f447387fb9f76eba

[2017-02-17 19:23] IpshitaC commented on #1440
Hi! Can I please be assigned to this issue?

[2017-02-17 19:54] rohanraju97 commented on #1379
@jayvdb This issue is in the coala-bears repo while the file that needs to be changed is in the bear-docs repo. The bear-docs repo has a text file 'RLintBear' which can be corrected.

[2017-02-18 04:50] jayvdb commented on #1379
bears-docs is generated from the coala-bears repo

[2017-02-18 18:45] Makman2 commented on #1394
Problem is `Pycodestyle` should work with the default settings when used out-of-the-box imo. If someone only specifies the `Pycodestyle` bear, I don't want to disable common-sense default settings.

But yes, using `--ignore` is a workaround for the coafile to avoid result duplication :+1: The bear already supports the setting `pycodestyle_ignore`.

[2017-02-18 19:49] damngamerz commented on #1394
@Makman2 @Techievena Then i think this issue can be closed :+1: .But for this kind of situation one necessarily should have the specific knowledge about that bear.Cant we do something about this ?or maybe we can hard code to ignore E501 specifically for this issue and then add to documentation(which will not be a good option but can be one of the solution). What say any other suggestions?

[2017-02-18 21:17] Makman2 commented on #1394
that's what I want to avoid ;)

[2017-02-18 21:30] aptrishu commented on #1394
we need some tweaks with Results being printed. and I agree with @Makman2 , to remove duplication we should not change the default behaviour of pycodestyleBear.

[2017-02-18 21:34] aptrishu commented on #1394
Though I wonder how good that kind of tweak would workout with aspects. (logically)

[2017-02-18 21:34] #1440 closed

[2017-02-19 13:16] sgsh123 commented on #22
Hi,

I'm a little unclear about this issue. Does it require one to create a bear using the PHPMD library or does it require more than that?

[2017-02-19 14:42] yash-nisar commented on #22
We need a linter bear wrapping the PHPMD tool in it. See http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html for more details.

[2017-02-19 20:58] Makman2 commented on #1394
With aspects we won't have this problem any more, if one wants to check line-length, there will be only a single check in the whole repo for it. If we would use `PycodestyleBear` for other aspects, we would really hardcode the E501 ignore into it.

[2017-02-20 20:52] Makman2 commented on #1437
@arnab1896 why did you close? we need the same for PMDBear^^

[2017-02-20 21:14] damngamerz commented on #1252
Im trying to solve this issue.I have found 1 config which clears this error
`yamllint -d "{extends: default, rules: {indentation: {indent-sequences: whatever}}}" abc.yml`
And we have `yamllint_config` for using configuration files with YAMLLintBear.
with `indent-sequences: consistent` which is a default setting,hence the problem is with this particular setting.
Any thoughts about how to fix this?O

[2017-02-20 21:45] Makman2 commented on #1426
`whereis` is different from `which`, as it tries to find the given binary not only in the `PATH`. Though still it's weird that `which` can't find it. Do you use maybe the docker alias? That's why `which` may not find it^^

EDIT: Shouldn't be the problem, `which` then displays that it's an alias...

[2017-02-20 21:46] Makman2 commented on #1426
On the docker image of phpstan I've a valid path:
[code]

[2017-02-20 21:55] Makman2 commented on #1252
Can you confirm that this can be solved by upgrading `yamllint`? @damngamerz

[2017-02-21 18:50] damngamerz commented on #1426
@Makman2 by following those above commands even i have valid path.But its strange
i have added this to `~/.bashrc`
`alias phpstan='docker run -v $PWD:/app --rm phpstan/phpstan:0.6'`
still its not having valid path while invoking `which` in my CLI.Any thoughts ?

[2017-02-22 07:54] arnab1896 commented on #1437
@Makman2 ; isn't this the same as https://github.com/coala/coala-bears/issues/651?

[2017-02-22 15:10] damngamerz commented on #1252
@Makman2 The latest version of yamllint is 1.6 The bug still persists!! Tested on my local environment.
The only solution which i can think of is to particularly use this setting `coala --bears=YAMLLintBear -S yamllint_config=.yamllint --files=abc.yml
`
where `.yamllint` will have
[code]
Or else need to create an issue in yamllint repo about this bug.

[2017-02-22 18:11] waseem18 commented on #1427
Hi @meetmangukiya

I would like to know more about this issue. Can you please help me with it?

[2017-02-22 21:34] AGZ98 commented on #1218
I'm not exactly sure how to reproduce this error. I want to work on this, assignming myself. Any help on how to reproduce/where to go from there?

[2017-02-23 13:50] IpshitaC commented on #820
Could I take this up as a part of RGSoC @Udayan12167 ?

[2017-02-23 14:19] IpshitaC commented on #1419
@Udayan12167 can this be taken up for RGSoC?

[2017-02-23 15:30] IpshitaC commented on #1221
Hi! Is this assigned to someone? Can I take this up? @sils

[2017-02-23 15:36] IpshitaC commented on #1402
Hi @jayvdb, I would like to take this issue up. What exactly do I have to do here?

[2017-02-23 15:53] aptrishu commented on #1419
As a project ?
Won't fit I think.

[2017-02-23 16:10] sils commented on #1221
@Elgayar are you still working on this?

[2017-02-23 17:07] sils commented on #1221
@IpshitaC please evaluate the work of @Elgayar and see if you can reuse it in a meaningful way, it sucks to just throw away someones work. If you do give credit.

[2017-02-23 17:32] IpshitaC commented on #1419
cc @prachi1210

[2017-02-23 20:33] jayvdb commented on #1235
@userzimmermann , https://github.com/coala/coala/pull/3680 is merged.  I'm guessing you've got some intention to use `ShellCommandResult` here to better identify problems.

[2017-02-23 22:25] jayvdb opened #1444 "MarkdownBear failing on uncached builds"
The following four tests are failing on an uncached build:

1. MarkdownBearMaxLineLengthMessageTest.test_invalid_message:

2. MarkdownBearTest.test_valid_files:

3. MarkdownBearConfigsTest.test_valid_files:

4. MarkdownBearMaxLineLengthSettingTest.test_valid_files:

https://www.npmjs.com/package/remark-cli 3.0.0 was released 8 hours ago, but it is excluded due to the requirement `~2`

https://www.

[2017-02-23 22:41] jayvdb commented on #1444
https://travis-ci.org/jayvdb/coala-bears/builds/204753529 and https://travis-ci.org/jayvdb/coala-bears/builds/204751938 show the problem in the coala-bears repo , and https://travis-ci.org/jayvdb/docker-coala-base/builds/204757960 in the docker repo.

[2017-02-24 01:31] jayvdb commented on #1444
I've tried
* [remark v2 and remark-lint v5.0](https://travis-ci.org/jayvdb/coala-bears/builds/204789170) - green
* [remark v2 and remark-lint v5.1](https://travis-ci.org/jayvdb/coala-bears/builds/204774150) - green
* [remark v3 and remark-lint v5.4](https://travis-ci.org/jayvdb/coala-bears/builds/204794091) - red
* [remark v3 and remark-lint v6](https://travis-ci.org/jayvdb/coala-bears/builds/2047

[2017-02-24 04:43] #1444 closed

[2017-02-24 08:01] jayvdb opened #1448 "bear-requirements.txt is not included in the release package"
This should have been done as part of https://github.com/coala/coala-bears/issues/1000

[2017-02-24 17:16] meetmangukiya commented on #1402
@ipshitac you can assign an issue to yourself by `cobot assign <issue url>` for future purposes..
And AFA this issue is concerned, you are supposed to write a bear that wraps ruby flog, url in issue description, see api.coala.io for docs regarding writing bears

[2017-02-24 20:32] Makman2 commented on #1426
This is what I get:
[code]

What shell do you use? maybe your shell does not display aliases with `which`^^

[2017-02-24 20:40] Makman2 commented on #820
@IpshitaC coAST is a bit out of scope for a gsoc project, especially if you aren't that familiar with coala's bear system :)

[2017-02-24 20:49] damngamerz commented on #1426
@Makman2 Im using `bash` which is default shell for ubuntu.My setup is Ubuntu 16.04 LTS.Any Thoughts?Im stuck at this point.Cant go any further if the bear doesnt detect phpstan installation.

[2017-02-24 20:53] Makman2 commented on #1252
okay I've read a bit about this setting:

So the problem is that YAMLLint does mix up nested blocks with the indentation style with `-`. So in our configuration, the `- xxx` items need all indentation to pass the check. I'm not sure whether YAMLLint should distinct between normal nested items and `-` lists. @damngamerz but I think we should file an issue for them and discuss the behaviour :)

[2017-02-24 20:55] Makman2 commented on #1437
The documentation should be also available from the `PMDBear` if we document that inside code 👍

[2017-02-24 23:38] #1448 closed

[2017-02-25 03:54] IpshitaC commented on #820
Oh alright! Any suggestions as to what would be suitable for an RGSoC project on improving generic bear quality?

[2017-02-25 06:10] coala-bot opened #1452 "Upgrade restructuredtext-lint to 0.18 or 1.0"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58b11fb7de5049082211c65a) by @jayvdb

[2017-02-25 10:59] coala-bot opened #1453 "GitCommitBear: Create a ruleset called 'coala' that all coala repos can enable"
Opened via [gitter](https://gitter.im/coala/coala/?at=58b1639ade5049082212d95d) by @jayvdb

[2017-02-25 19:13] damngamerz commented on #1252
@Makman2 @hemangsk
The file `abc.yml` should be written in this way.
YAMLLintBear passes this file.
[code]
But theres some serious bug with
indentation setting
`indent-sequences:consistent` which is a `default` setting in yamllint.
In original `abc.yml`
it should have thrown error at line 3 and 11 telling us about indentation required(something like that).i.e. at
[code]
and
[code]
but it throws th

[2017-02-25 21:30] Makman2 commented on #820
@IpshitaC have you looked at our gsoc projects site? Maybe you find something that interests you regarding this topic :)

[2017-02-25 21:30] Makman2 commented on #820
Or you get a new idea by reading them ;)

[2017-02-25 21:32] Makman2 commented on #1252
@damngamerz could you provide the link here to your filed issue?

[2017-02-25 21:48] damngamerz commented on #1252
@Makman2 here https://github.com/adrienverge/yamllint/issues/39

[2017-02-25 21:58] Makman2 commented on #1426
Try to write the bear using `executable=phpstan`, and let's see how we get it to work and how we can install `phpstan` on CI. I'll try it then too on my machine :+1:

[2017-02-25 22:15] damngamerz commented on #1426
@Makman2 I have already written it! But im unable to test it cause coala is not able to detect the installation of phpstan.Here http://pastebin.com/eiqZJA5N
now while running
[code]
gives
[code]

[2017-02-26 06:11] yash-nisar commented on #803
Can I be assigned to this ? @Makman2 @Asnelchristian @sils

[2017-02-26 11:14] satwikkansal commented on #1453
Do you mean a setting like `coala_ruleset = True`, which will automatically enforce all the guidelines at https://coala.io/commit

[2017-02-26 11:59] meetmangukiya commented on #803
@asnelchristian assigning @yash-nisar if you are still working on the issue, assign yourself again :P

[2017-02-26 17:37] rubdos commented on #50
Hi people,
Does coala still want this? I know I do.

Does this still count? I'd suppose it does. If so, would it be better to have an external Bear for this? (Is that already possible?) In any case, in the end, I would love to have it in the official Docker image (gitlab ci)... Which would of course enlarge the Docker image by a huge amount.

[2017-02-26 18:12] rubdos commented on #50
Also: am I the best link between Rust and coala atm? Because I think that that link is very weak :D

[2017-02-26 18:13] sahilarora535 opened #1457 "Bear Proposal: Comment Removal Bear"
There should be a comment removal class of bear for every language, so that we can remove the comments if required. Also, there can be a generic bear, which can depend upon these specific bears.

This could work something like:
[code]
And would remove all comments in these languages.

[2017-02-26 18:13] rubdos commented on #611
See #50 for a linter (rust-clippy).

[2017-02-26 18:43] dracarys09 commented on #1420
unassigning myself because @sahilarora535 already made some progress with this and I'm a little busy with my exams and other issues...

[2017-02-26 19:54] Mixih commented on #1253
0.9 is over, this has been integrated into 0.10

[2017-02-26 19:54] #1253 closed

[2017-02-26 21:10] jayvdb commented on #1084
Many Travis builds are failing from a clean cache , and it appears this is the cause.
Note this only applies to Travis and Appveyor, as CircleCI already does this.

[2017-02-26 21:22] jayvdb commented on #1084
https://github.com/coala/coala-bears/pull/1459 should fix this.

[2017-02-26 22:16] jayvdb opened #1460 "setup_dependencies problem on Windows"
The [Appveyor build](https://ci.appveyor.com/project/coala/coala-bears/build/job/c9ca1wygut9y7eds) of https://github.com/coala/coala-bears/pull/1459 includes

[code]

[2017-02-27 00:41] jayvdb opened #1461 "Corrupted Jar files on Travis"
We've ended up with Jar files being downloaded from sf.net that java believes are corrupted.

[code]

https://travis-ci.org/jayvdb/coala-bears/jobs/205642306#L2585

The jar from maven also has problems:
https://travis-ci.org/jayvdb/coala-bears/jobs/205644853#L2586

[2017-02-27 02:40] IpshitaC commented on #1340
Could we address this as a part of our RGSoC project? Can you please elaborate a bit more on what needs to be done here?
@Udayan12167 @prachi1210

[2017-02-27 02:41] IpshitaC commented on #1355
Could we address this as a part of our RGSoC project? Can you please elaborate a bit more on what needs to be done here?
@Udayan12167 @prachi1210

[2017-02-27 02:42] IpshitaC commented on #1349
Could we address this as a part of our RGSoC project? Can you please elaborate a bit more on what needs to be done here?
@Udayan12167 @prachi1210

[2017-02-27 02:43] IpshitaC commented on #1203
Could we address this as a part of our RGSoC project? Can you please elaborate a bit more on what needs to be done here?
@Udayan12167 @prachi1210

[2017-02-27 02:43] IpshitaC commented on #1043
Could we address this as a part of our RGSoC project? Can you please elaborate a bit more on what needs to be done here?
@Udayan12167 @prachi1210

[2017-02-27 08:29] sahilarora535 commented on #1408
@zenara Are you still working on this?

[2017-02-27 10:59] rubdos commented on #50
@sils:

It does:
[code]

[2017-02-27 11:36] jayvdb commented on #1461
[green](https://travis-ci.org/coala/coala-bears/jobs/205156595) and [red](https://travis-ci.org/coala/coala-bears/jobs/205584113) builds have the same version of Java installed.

[2017-02-27 12:51] jayvdb commented on #1460
[Here](https://ci.appveyor.com/project/coala/coala-bears/build/1.0.5400/job/taisu6ocb3n4mi2s) here is another build with the same problem.
Again, there are some debug log entries for CheckstyleBear downloading, but none for ScalaLintBear.

[2017-02-27 12:53] jayvdb commented on #1460
Interesting that in both builds, CheckstyleBear and ScalaLintBear tests all pass.

[2017-02-27 13:08] jayvdb commented on #1460
Interesting ... it is trying to write to `C:\\Users\\appveyor\\AppData\\Local\\coala-bears\\coala-bears\\CheckstyleBear\\checkstyle-6.19.jar`.
This could be related to that build using a bash script on Windows, and some strange msys bug is arising.

[2017-02-27 13:22] jayvdb commented on #1460
Hmm. No.  The duplicated `..\\coala-bears\\coala-bears\\..` is happening outside of msys also.

[2017-02-27 15:09] jayvdb opened #1463 "CheckstyleBear: geosoft checks is incompatable with checkstyle 5+"
The last release that worked with [geosoft checks](http://geosoft.no/development/geosoft_checks.xml) was checkstyle 4.4 .
See http://checkstyle.sourceforge.net/releasenotes_old.html , where PackageHtml is replaced with JavadocPackage.

With later versions, the following results:

[code]

4.4 looks like:

[code]

[2017-02-27 15:47] jayvdb opened #1464 "CheckstyleBear: Failure to capture errors"
Since 9227382 (https://github.com/coala/coala-bears/pull/354), errors from checkstyle were ignored.

[2017-02-27 15:59] jayvdb opened #1465 "CheckstyleBear: Upgrade checkstyle"
The checkstyle used is 6.15 released 2016-01-31

See https://sourceforge.net/projects/checkstyle/files/checkstyle/ for releases with dates, up to 7.6 released today.
See http://checkstyle.sourceforge.net/releasenotes.html for release notes.

[2017-02-27 16:21] zenara commented on #1408
@sahilarora535 Yes

[2017-02-27 16:56] rubdos commented on #50
Useful for this issue: https://github.com/coala/coala/pull/3652

[2017-02-27 17:48] jayvdb commented on #1461
Same thing happening on Appveyor:
https://ci.appveyor.com/project/jayvdb17618/coala-bears/build/job/qmn37w76ingaenro

[2017-02-27 19:06] inishchith commented on #1383
@darkfist are you still working on this ?

[2017-02-27 19:13] Makman2 commented on #1426
ah wait I know... you can't use `.bashrc` as this is the bash shell environment, not your system environment! :D
`@linter` directly executes a program without shell, so it relies on the system defaults and paths. Maybe this link helps: http://unix.stackexchange.com/questions/26047/how-to-correctly-add-a-path-to-path

[2017-02-27 19:23] Makman2 commented on #1252
So now it should error correctly on the first `- xxx` element, am I right? @damngamerz

[2017-02-27 19:24] Makman2 commented on #1252
means our travis file is not written in good style ;)

[2017-02-27 19:28] damngamerz commented on #1252
yup it shows error now at our first `- xxx` i have checked it locally.It worth the update `1.6.1` @Makman2 :+1:
Travis is failing due to https://github.com/coala/coala-bears/issues/1084
So do i have to wait for travis-ci to be fixed before the PR gets merged?(Need all green ticks i guess).

[2017-02-27 20:17] damngamerz commented on #1426
@Makman2 Worked like a magic!! your magic is strong :wink:
I will make a PR soon :+1:

[2017-02-27 20:20] Makman2 commented on #1252
If this is the cause, then yes :+1:

[2017-02-27 21:17] Makman2 commented on #1203
this is not a huge issue to implement and has no gsoc scope.

[2017-02-27 21:22] Makman2 commented on #1453
hm this is coala specific, not sure we want to bother users with it. Maybe we should generally think about such a ruleset-concept which can be enabled differently?

[2017-02-27 21:23] Makman2 commented on #1453
(especially something like `coala_ruleset` will appear in the help of the bear implementing it)

[2017-02-27 21:35] Makman2 commented on #1427
@waseem18 what's exactly unclear to you?

[2017-02-27 21:36] Makman2 commented on #1218
@rhemon we also need your coafile to see which bears and settings were enabled by you^^

[2017-02-28 03:55] jayvdb commented on #1460
The cause of this problem is almost certainly https://github.com/coala/coala/issues/3803

[2017-02-28 12:26] jayvdb commented on #1194
Note that there are three left, all in clang bears.  So, make sure you have clang tests working before trying to assign yourself to this task, as it is hard if the clang bear tests are being skipped.

[2017-02-28 12:51] yashLadha opened #1469 "Installation Issue"
Whenever i try to launch the CLI it says like this.

?[33m[WARNING]?[0m[18:18:24] 'cli' is an internally reserved section name. It may have been generated into your coafile while running coala with `--save`. The settings in that section will inherit implicitly to all sections as defaults just like CLI args do.Please cha
nge the name of that section in your coafile to avoid any unexpected behavior.

[2017-02-28 12:52] yashLadha commented on #1469
Unable to run cli on windows 10

[2017-02-28 13:47] yash-nisar commented on #803
Works for me @sims1253 ,
**OUTPUT FOR GERMAN**:
[code]
**.coafile**
[code]
**linespots.md**
[code]

[2017-02-28 13:53] yash-nisar commented on #803
**OUTPUT FOR English - Great Britain:**
[code]
**.coafile**
[code]
**linespots.md**
[code]
I hope cobot doesn't shout `coala is always written in lower case c` while looking at the patch  :laughing:

[2017-02-28 13:54] yash-nisar commented on #803
The language code for German is `de`. Maybe that is where the error might have occurred. :smile:

[2017-02-28 14:03] yash-nisar commented on #1005
Ping @arghyatiger ! Still on it ?

[2017-02-28 14:04] yash-nisar commented on #1005
Ping @arghyatiger ! Still on it ?

[2017-02-28 15:40] rubdos commented on #611
https://github.com/coala/coala-bears/pull/1467 (rust-clippy merge request WIP)

[2017-02-28 17:43] yash-nisar commented on #693
I think this has been fixed @sils
[code]

[2017-02-28 21:03] AGZ98 commented on #1469
I think u figured it out. Please close the issue if u have?

[2017-02-28 21:17] satwikkansal commented on #1379
IMO you should use `check_prerequisite` to  check whether needed runtime prerequisites of the bear are satisfied (the version of R in your case)

[2017-03-01 02:20] Shade5 commented on #1366
Hey, still working on this?

[2017-03-01 02:27] Shade5 commented on #957
Hey, still working on this?

[2017-03-01 02:28] gaocegege commented on #1366
I think the issue is blocked. See https://github.com/coala/coala-bears/issues/1250 for more info :)

[2017-03-01 08:45] #1469 closed

[2017-03-01 09:46] #803 closed

[2017-03-01 09:47] #693 closed

[2017-03-01 09:47] Shade5 commented on #1117
Hey, still working on this?

[2017-03-01 09:49] Shade5 commented on #982
Hey, still working on this?

[2017-03-01 09:50] Shade5 commented on #596
Hey, still working on this?

[2017-03-01 09:51] Shade5 commented on #1073
Hey, still working on this?

[2017-03-01 09:55] yash-nisar commented on #1073
This hasn't been touched for 3 months. Can I take this up @meetmangukiya @aptrishu ?

[2017-03-01 10:00] yash-nisar commented on #635
Can I be assigned to this @meetmangukiya @Asnelchristian @aptrishu ? I'll try to accomplish this within a week. :smile:

[2017-03-01 11:45] sgsh123 commented on #63
Won't this issue require writing a Linter Bear as the tool already exists as another open source project?

[2017-03-01 12:55] meetmangukiya commented on #635
@yash-nisar sorry it seems @Asnelchristian has a PR up already, that is already almost ready :)

[2017-03-01 12:57] meetmangukiya commented on #635
https://github.com/coala/coala-bears/pull/1350

[2017-03-01 14:09] yash-nisar commented on #635
Okay, the PR doesn't have an issue reference so I thought this was untouched.

[2017-03-01 14:17] yash-nisar commented on #925
Can I get assigned to this one ? @meetmangukiya @aptrishu

[2017-03-01 14:18] yash-nisar commented on #754
I can do this @Makman2 @meetmangukiya @aptrishu .

[2017-03-01 15:37] yash-nisar commented on #1083
So should we ask the user to define the file naming convention instead ? @jayvdb @Makman2

[2017-03-01 15:48] Makman2 commented on #1083
this is already possible, though sometimes you want to rely on the default settings for your language without specifying the naming-convention-setting.

[2017-03-01 16:51] Makman2 commented on #1366
not necessarily imo :)

[2017-03-01 21:13] jayvdb commented on #1460
No, the problem still occurs after  coala/coala#3803 , so the next guess is a read related problem, but I have confirmed with https://github.com/coala/coala/issues/3820 that read related exceptions are being rippled up.
Maybe we need to check that the downloaded length is the same as the size given by the server.

I've also switched the URL to https://josm.openstreetmap.de/export/9749/josm/trunk/t

[2017-03-02 01:03] gaocegege commented on #1366
hmm I have no idea how to find the binary under maven.

@shaan15 You can take this issue :)

[2017-03-02 04:40] jayvdb opened #1470 "ramllint 1.2.4 and 1.3.0 broken"
ramllint released 1.2.4 with a new feature, and then also 1.3.0 with the same new feature.

https://github.com/QuickenLoans/ramllint/pull/52

The 1.2.4 release breaks our test suite.

Our dependency is currently ramllint ~1.2.2 .
1.2.3 is a compatible change.
1.2.4 is not.

[2017-03-02 08:29] jayvdb commented on #1470
The underlying issue is at https://github.com/QuickenLoans/ramllint/issues/53 . We need to blacklist 1.2.4 .

[2017-03-02 14:48] jayvdb commented on #1470
A dedicated upstream request for 1.2.4 to be somehow removed. https://github.com/QuickenLoans/ramllint/issues/56

[2017-03-02 18:18] saurabh-kumar-vit commented on #1371
Is this issue still open?

[2017-03-03 02:26] #1452 closed

[2017-03-03 06:17] jayvdb commented on #1285
This is also needed for Appveyor

[2017-03-03 07:15] jayvdb opened #1472 "gotype removed"
All builds failing with
[code]

[2017-03-03 07:21] jayvdb commented on #1472
So this would be caused by https://github.com/golang/tools/commit/f5a6ee1ea9f7b3a91e3e70dc1b9706886d0e0ae3
Review: https://go-review.googlesource.com/#/c/37657/

[2017-03-03 08:02] jayvdb commented on #1472
https://github.com/alecthomas/gometalinter/issues/91 is about the same problem, but they knew about it in advance.
cc @yukiisbored

[2017-03-03 08:05] jayvdb commented on #293
general Composer support is coming with https://gitlab.com/coala/package_manager/issues/34
Reusing this existing issue.

[2017-03-03 11:27] coala-bot opened #1473 "Create asciinemas directly from bear test files"
Bear tests have these `valid_files` and `invalid_files` usually and it should be possible to create an asciinema from these in principle. Of course, human-made asciinemas are probably better, but if a bear doesn't have an asciinema url, we could generate one using this technique

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58b9531a00c00c3d4fb449f2) by @adtac

[2017-03-03 12:13] sgsh123 commented on #63
I've been working on this issue and I'm unsure about how to get a corrected output as the documentation for Linter Bears only discusses regex outputs. Where can I get more information on this?

[2017-03-03 15:35] jayvdb commented on #1472
Do we try to re-implement this using a different command?  I see quite a few alternatives mentioned in the various issues about this deprecation.

Or deprecate the bear?
If we deprecate it, either we remove it from test coverage, or we need to create our own repo with the old code in it, as the original is gone and go [doesnt do versioning](http://zduck.com/2014/go-and-package-versioning/).

Or do

[2017-03-03 15:39] yukiisbored commented on #1472
I'm not quite sure with what's the best option here, `gometalinter` is experiencing the same problem as well.

[2017-03-03 15:42] yukiisbored commented on #1472
After browsing the repository, it looks like they moved it here: https://github.com/golang/go/blob/master/src/go/types/gotype.go

[2017-03-03 15:48] yukiisbored commented on #1472
Still have no idea how to use `go get` for that.

[2017-03-03 16:10] yukiisbored commented on #1472
The best decision that I can think of for now is to deprecate this bear, and use `go build -i`

[2017-03-03 16:11] jayvdb commented on #1472
If necessary, we can `git clone` the repo, and build the moved tool from the clone?

[2017-03-03 16:12] yukiisbored commented on #1472
@jayvdb Most likely that's the only option.

[2017-03-04 02:22] jayvdb commented on #1472
Can we create a copy of just the necessary files, and  put them in a repo, so it is quick to clone and go get also works?

[2017-03-04 05:21] jayvdb opened #1476 "Blacklist bears from CI"
With many bears in one repo, we regularly have CI breakages that effectively put a halt to all other development.  At least nothing can get merged, and then other breakages occur and are not easily spotted.

The tree needs to stay green.

A particularly difficult open case is https://github.com/coala/coala-bears/issues/1472 (gotype deleted).
But in the last week we've also had a four day red perio

[2017-03-04 07:22] jayvdb commented on #1415
There is a specific problem with x64 clang which doesnt occur on the `coala` repo, but does with most of the clang bears.  That is going to be a hard nut to crack.  It will require someone with a Windows machine, and a decent technical knowledge of windows.

[2017-03-04 07:39] jayvdb opened #1477 "Add min lines to LineCountBear"
It is especially useful to be able to reject files that have 0 lines by default, and explicitly exclude any files which are explicitly allowed to be 0 lines.

There are other scenarios where a higher minimum is a sensible default, and exceptions should be explicitly mentioned in the repository `.coafile`.

[2017-03-04 07:54] jayvdb opened #1478 "Add option to exclude blank lines from LineCountBear"
A simple way to make the line count more useful is to add an setting to exclude blank lines (i.e. containing only whitespace).
The setting should be disabled by default to be backwards compatible.

[2017-03-04 08:12] jayvdb commented on #1420
The current LineCountBear works for any file type, and without any external dependency.
It is basic, but it works well for a *very* large number of scenarios.

Bear metadata does not have the ability to have optional dependencies, so until that is fixed, it would be a **breaking change** to add *any* external dependency to `LineCountBear`.  It would break existing CI, because the new dependency wo

[2017-03-04 10:41] jayvdb commented on #1220
`radon` has McCabe complexity, but

* `radon` does not use the `mccabe` package (which flake8 uses), and the algorithm in radon is far from complete.
* `RadonBear` does not expose mccabe complexity settings for our users.  The bear only allows the more broad ranks created by `radon`. `radon` command line tool does allow actual control over which mccabe complexity , using its `--min` and `--max` co

[2017-03-04 10:58] jayvdb opened #1479 "Bear proposal: duplicate file detector"
A duplicate file detector will mostly be used to prevent problematic additions to a repo.

It probably needs to be a global bear.

coala might have all the info it needs for this, in its cache.  But the assumption that the entire repository is in memory is not a good idea.

Typically, the approach used is to compute a simple hash of each file, and then on collision do a more accurate comparison.

[2017-03-04 11:39] satwikkansal commented on #1326
As docformatter gives output in unified diff format, we should wait for the PR for https://github.com/coala/coala/issues/3733 to get merged.

[2017-03-04 12:50] Shade5 commented on #1366
Can I take over?

[2017-03-04 12:54] Shade5 commented on #957
Taking over

[2017-03-04 13:50] satwikkansal commented on #1476
@jayvdb

One possible way I can think of doing so is,
1. Add `BLACKLIST` flag in the bear's implementation.
2. Define commands to install CI dependencies for a bear in a set name `Install_dependencies`
3. Create a template for  `deps.sh` file.
4. Create a script for generating `deps.sh` using the template file and the above flags specified in the bears' implementaions. ( Taking care of blacklist s

[2017-03-04 14:22] satwikkansal opened #1481 "Bear proposal: Docker Label Inspector Bear"
**Docker Label Inspecto**r is a tool to help ensure you're providing your Docker images with the metadata they will need out in the wilds of the internet. It provides two useful tools; a label linter and a label validator.

More info :
https://github.com/garethr/docker-label-inspector

[2017-03-04 15:06] Makman2 opened #1482 "Bear proposal: Condition expression reordering with short-cuirciting"
Languages like python use short-circuiting, meaning condition evaluations do stop as soon as the result of further conditions is not necessary:

[code]

See

Some evaluations are more costly than others, so an optimized ordering of expression could yield to better overall performance.

[code]
So we get a discrete optimization problem to solve. Easiest is to try out every combination, in this case

[2017-03-04 16:47] Makman2 commented on #1476
1. I would call it `BLACKLISTED` :)
2. If users use the stable version, they won't get notified via the `BLACKLIST` flag or similar.

[2017-03-04 16:49] Makman2 commented on #1326
See also https://github.com/coala/coala-bears/pull/699 for a more generic approach.

[2017-03-04 16:50] Makman2 commented on #1479
This does happen currently anyway. `FileProxy` might solve this^^

[2017-03-04 22:07] jayvdb commented on #1479
Right, but a bear relying on that quirk would be very bad if coala is to be used in large projects (and get customers with serious money).

The FileProxy spec, and code that I have seen, would encourage bears to rely on the anti-pattern that the entire codebase being analysed can be accessed randomly in memory, which is terrible unless the time has been put into designing appropriate mechanisms to

[2017-03-04 22:32] jayvdb commented on #1479
re fdupes and findup, they are both available on Linux, but are they cross platform?
fdupes is C, so it should win on performance. But is fdupes portable to Windows? etc. etc.
findup is bash + python, so should be portable, but do they provide a Windows version?
If neither support Windows, is there a way to do the same on Windows?

[2017-03-04 22:54] sahilarora535 opened #1483 "Bear Proposal: Comment removal bear for C code."
In accordance with https://github.com/coala/coala-bears/issues/1457 , we need a comment removal bear for C code.

[2017-03-04 23:30] jayvdb commented on #1457
What is the use-case for removing comments?  Intentional obfuscation?  Something else?

The main use case I can think of is removing commented out code, which is *way* more complicated than simply removing all comments.

We need the [coala Languages definitions](https://github.com/coala/coala/tree/master/coalib/bearlib/languages/definitions) to be able to reliably understand comments.
Being able t

[2017-03-05 02:57] cemsbr commented on #847
I'm gettng, in Python code, `'classmethod' not found in dictionary (from token 'classmethod')`. The same happens with `staticmethod`. I wish I could, for example, put this words in a `.dict` file so they are ignored.

[2017-03-05 03:26] cemsbr opened #1484 "PyImportSortBear differs from isort"
Before and after applying the patch, `isort` gives different result. Are their default behaviors supposed to be the same?

[code]

[2017-03-05 08:36] meetmangukiya commented on #1484
The default settings of a bear are already decided when the bear was written, I think the defaults doesn't match with isort.

Though am not quite sure if we try to make the defaults the same as that of the tool?

[2017-03-05 08:38] meetmangukiya commented on #1457
One thing I can think of is minifying the source files

[2017-03-05 08:43] meetmangukiya commented on #1482
(Participating)

[2017-03-05 09:00] sahilarora535 commented on #1457
@jayvdb The task is, indeed complicated, and as @meetmangukiya suggested, the most important usecase would be minifying the source code. For instance, there are no bears which uglify javascript currently. There are also multiple levels of obfuscations, such as you need your code well indented but remove all the comment, or you want complete uglification, and removing comments is the first step in

[2017-03-05 09:11] jayvdb commented on #1470
Note this has been effectively fixed upstream.  '1.2.4' has been marked deprecated, and 1.2.6 should now be compatible with 1.2.2 .

Our dependency should now be updated to something like "~1.2.2 !=1.2.4" (maybe not exact syntax).

[2017-03-05 09:12] jayvdb commented on #1476
@satwikkansal , the requirements aspect of your post is a good medium term goal, but beyond scope of this issue.  There is already quite a bit of work done in https://github.com/coala/coala-bears/pull/1386 , It depends on a lot more effort occurring in the [dependency_management](https://gitlab.com/coala/package_manager/) repo.

If you take a look at the current problem (https://github.com/coala/c

[2017-03-05 09:21] sahilarora535 commented on #1420
@jayvdb There actually is a tool for counting lines of code, which is `cloc`. I agree that implementing LOC is a very difficult task, however, there are already tools for that. The first comment in this thread(https://github.com/coala/coala-bears/issues/1420#issue-206232264) has been produced by the tool [`cloc`](https://github.com/AlDanial/cloc). And you are right, maybe we should not play with t

[2017-03-05 09:34] jayvdb commented on #1457
There are good, and very complex, minifiers that we could wrap in a bear, if that is the objective.
No-one is going to use a comment removal bear for minification.  People who do minification, care about how minimal it is.  Their very best engineers invest time in the existing minifiers to squeeze extra bytes out of them, or reduce the computation time (so they can run it more frequently), or buil

[2017-03-05 10:52] jayvdb commented on #957
https://github.com/wysiib/linter-prolog is a red herring.  It is just a wrapper of the prolog compiler.
We do have other compiler wrappers, but they are not linters. c.f. CSharpLintBear , and issue https://github.com/coala/coala-bears/issues/1185 .

[2017-03-05 10:53] meetmangukiya commented on #957
@Asnelchristian unassigning due to inactivity

[2017-03-05 12:19] jayvdb commented on #957
Note there is a WIP at https://github.com/coala/coala-bears/pull/966

[2017-03-05 13:35] sahilarora535 commented on #1392
The `'ignore': pep_ignore` param in `options` for `autopep8` is causing the bug. When the key is removed from the options dictionary, the whitespace is added.
CC @SanketDG

[2017-03-05 15:27] sahilarora535 commented on #1392
Update: As @SanketDG suggested, this is an issue with `autopep8`. When passing an empty list in `'ignore'`, the Bear behaves unexpectedly. An issue has been filed in [`autopep8`](https://github.com/hhatto/autopep8/issues/315) regarding the same: https://github.com/hhatto/autopep8/issues/315

[2017-03-05 17:01] SanketDG opened #1485 "Look into yarn for CI"
Apparently yarn is the new replacement for npm, which is 2-3 times faster
https://www.berriart.com/blog/2016/10/npm-yarn-benchmark/

Migrating from `npm` to `yarn` is really easy.
https://yarnpkg.com/lang/en/docs/migrating-from-npm/

Since we cache our `node_modules` I am not sure if this will really help or not, but we might want to move to yarn at some point.

Also have a `yarn.lock` committed i

[2017-03-05 23:18] jayvdb commented on #1485
Not easy, and I already have a branch which does this.  Havent been able to merge due the continual red status of the tree

[2017-03-06 04:22] #1472 closed

[2017-03-06 05:17] jayvdb opened #1488 "gotype deprecated"
Following on from https://github.com/coala/coala-bears/issues/1472 , GotypeBear needs to be deprecated, or use the new stdlib gotype if possible, or something else.

[2017-03-06 06:57] jayvdb commented on #527
One part of this request is also solvable with https://github.com/coala/coala-bears/pull/1442

Another way to solve this, and IMO a more appropriate way, is to have a `.coafile` section which lints those files with explicit mentions in `files = `, and an error if any explicit filename (i.e. no globs) is not found.

[2017-03-06 07:00] #1252 closed

[2017-03-06 10:05] #514 closed

[2017-03-06 11:33] #1285 closed

[2017-03-06 18:54] Siddhartha1234 commented on #1405
@sims1253  I have been working on making this bear and talked with their team (They helped me out in many things ). Their CTO wanted to know which member of Inaka talked with you regarding this at fosdem .

[2017-03-07 03:24] jayvdb opened #1492 "remark-cli 3 not supported"
New releases of [remark-cli](https://www.npmjs.com/package/remark-cli) 3 and [remark-lint](https://www.npmjs.com/package/remark-lint) 6 do not work.

[2017-03-07 04:10] #1463 closed

[2017-03-07 08:43] jayvdb opened #1493 "Brear Proposal MakefileLintBear"
https://www.npmjs.com/package/make-lint

[2017-03-07 15:02] damngamerz commented on #293
@jayvdb In accordance with this patch https://gitlab.com/coala/package_manager/merge_requests/20
I will soon be creating a patch regarding appveyor ci.Anything else to be done along with this?

[2017-03-07 17:42] cemsbr commented on #1484
It seems that the bear uses only isort. IMHO, they should have the same defaults so projects that have been using isort can easily migrate to coala.

[2017-03-08 02:33] jayvdb opened #1495 "Add small file test files for each bear"
Moving along https://github.com/coala/coala/issues/2821 , we should know whether our bears handle small files containing:

1. 0 bytes
2. only a blank line
3. only a comment

Please pick one bear, and add tests for those three cases.

In the commit message, use "`Relates to <url>`" instead of Closes or Fixes

[2017-03-08 08:14] jayvdb commented on #1235
https://travis-ci.org/jayvdb/discourse_docker/builds/208883544 is a build using the 0.10 docker image; the markdown files are wiped out.

[2017-03-08 14:27] Techievena commented on #1250
Path to checkstyle.jar --> `os.path.join(os.environ['HOME'],'.m2','repository','com','puppycrawl','tools','checkstyle','6.15')` . May help in solving
https://github.com/coala/coala-bears/issues/1366

[2017-03-09 02:54] yash-nisar commented on #1493
https://github.com/segmentio/make-lint link on https://www.npmjs.com/package/make-lint is broken. :(

[2017-03-09 03:13] yash-nisar commented on #823
Can we rename is to LicenseCheckBear and create a new bear for checking Copyright ?

[2017-03-09 03:40] Makman2 commented on #823
If the issue is not completely solved, let's reopen it :)

[2017-03-09 03:48] yash-nisar commented on #823
So the milestone now would be to add CopyrightBear ?

[2017-03-09 03:56] jayvdb commented on #823
The existing external linter does both. The bear just needs improving.

[2017-03-09 03:59] yash-nisar commented on #823
We won't be able to create user defined regexes IIUC and will have to rely on the regex defined in the script. Is that okay ?

[2017-03-09 04:04] jayvdb commented on #823
Many very important codebases use this external tool, so we need to expose its functionality via coala as sensibly as possible.

If someone wants a different regex, they can write a RegexBear, or their own copyright bear. ;)

Or they can enhance the external tool and then improve our bear.

[2017-03-09 06:06] kaustubhhiware commented on #1334
I am interested to work on this.
Can I assign it to myself ? Or should I take on this after I've made some more merged PR's ? (I've only completed a `difficulty/newcomer` issue)

[2017-03-09 15:38] yash-nisar commented on #823
So, we should match the regex `*No copyright*` and display the output message `No copyright found` or similar if the user sets this `check_copyright` option as `True`. Is that what you imply @jayvdb ?

[2017-03-09 18:03] Makman2 commented on #823
I don't imply anything, but sounds reasonable 👍  :)

[2017-03-09 18:16] yash-nisar commented on #823
Well, I will have to override `process_output` in this case too and match regexes for license as well as copyright notice. :)

[2017-03-09 21:31] shreyans800755 commented on #1194
On running command: py.test -k c_languages
I get the the following output:

I've insert the following line at ClangASTPrintBearTest.py:29
import pdb; pdb.set_trace()
to get the exception. But terminal is not stopping at that point and passing all the test cases. Am I missing something while testing ?

[2017-03-09 22:06] ivange94 commented on #388
I should be unassigned. Can't find the time to complete this.

[2017-03-10 05:21] jayvdb commented on #1488
Finding a long term solution is hard because of our current CI.

[2017-03-10 11:14] jayvdb opened #1497 "Bear Proposal bundler audit"
split from https://github.com/coala/coala-bears/issues/1410

[2017-03-10 14:29] Makman2 commented on #1194
It's being skipped, that's why your `pdb.set_trace()` is never executed.

[2017-03-10 18:32] jayvdb commented on #1194
@shreyans800755 , See https://github.com/coala/coala-bears/issues/1194#issuecomment-283026090 .  As you do not have clang working, you should do https://github.com/coala/coala/issues/3374 instead.

[2017-03-10 22:23] coala-bot opened #1498 "Bear Proposal https://include-what-you-use.org/"
difficulty/medium

Opened via [gitter](https://gitter.im/coala/coala/?at=58c3277add08b4b859b34758) by @jayvdb

[2017-03-11 05:58] kaustubhhiware commented on #1498
The proposed bear should check for unused `#include`s in C and C++.

As suggested by @jayvdb on [gitter](https://gitter.im/coala/coala/?at=58c3277add08b4b859b34758), it should wrap [include what you use](https://include-what-you-use.org/)

Involved pre-processing could make it a difficult task.

[2017-03-11 12:35] incorrectusername opened #1499 "inaccurate results on search"
when searched for `html` on http://coala.io/#!/languages we get search results for language tag for java , python , etc.
even there is no html language tag with them.

[2017-03-11 12:42] nemaniarjun commented on #1499
I think this should be opened on the Gitlab Repo for landing. https://gitlab.com/coala/landing

[2017-03-11 12:44] incorrectusername commented on #1499
there it said `If you find an issue with this documentation, you can report it at the coala-bears repository.`
do i move it?

[2017-03-11 13:37] meetmangukiya opened #1500 "PythonPackageInitBear: Move class level doc string into `run` method so that coala gets correct metadata"

[2017-03-11 16:28] Udayan12167 commented on #1221
@IpshitaC ping! This issue is assigned to you. Please show some activity?

[2017-03-11 16:29] Udayan12167 commented on #1221
@IpshitaC Unassigning as you already did a newcomer issue.

[2017-03-12 09:31] #1379 closed

[2017-03-12 16:54] Makman2 commented on #1499
please move it :)
(and reference this issue so we don't miss something :+1:)

[2017-03-13 04:29] incorrectusername commented on #1499
Moved to https://gitlab.com/coala/landing/issues/34

[2017-03-13 04:29] #1499 closed

[2017-03-13 06:43] coala-bot opened #1508 "cabal packages failed to install"
From CircleCI:
[code]

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58c63fa8dd08b4b859c1f42e) by @meetmangukiya

[2017-03-13 08:21] jayvdb commented on #1508
Very likely the cause is the new release of [cmdargs 0.10.15](http://hackage.haskell.org/package/cmdargs-0.10.15)

[2017-03-13 14:50] sims1253 commented on #1405
I have no idea. I didn't write down any names unless personal contact was relevant for the thing. I fear they will have to ask around themselves :/

[2017-03-13 15:22] #1508 closed

[2017-03-13 15:54] NiklasMM opened #1510 "PyImportSortBear: known_third_party_imports not passed to isort"
The option `known_third_party_imports` for PyImportSortBear is documented and taken as a parameter of `run` but it is not passed to the wrapped tool `isort`. It should be passed as `known_third_party`.

Could be a great newcomer issue

[2017-03-14 06:09] #1084 closed

[2017-03-14 12:55] #1073 closed

[2017-03-14 13:52] meetmangukiya opened #1512 "PythonPackageInitBear: Use Diff.create to propose an empty python __init__.py file"
Currently blocked by: https://github.com/coala/coala/pull/3610

[2017-03-15 17:20] aptrishu opened #1516 "IndentationBear is buggy."
Test file
[code]
output
[code]
language Python

[2017-03-15 17:21] aptrishu commented on #1516
works(almost) for c++ code though.

[2017-03-15 17:45] userzimmermann opened #1517 "Try to provide class SomeBear(..., aspects=[...]) syntax via metaclass magic :)"
As proposed by me in https://github.com/coala/coala-bears/pull/1391

@sils I wonder if this is possible ;)

[2017-03-15 18:12] Techievena commented on #1517
Won't DETECT_ASPECTS and FIX_ASPECTS metadata be sufficient to link with the kind of aspects for the bear? We can use some metaclass approach surely after detecting the aspect for the bear.

[2017-03-15 18:23] Techievena commented on #1517
Moreover I think this issue fits better in core repo rather

[2017-03-15 18:59] rohanraju97 commented on #1365
Is there a proper linter tool for Fortran available online? I tried searching but couldn't find one.

[2017-03-15 19:02] userzimmermann commented on #1517
It's just an idea... Or course we can talk about that later after the actual functionality is implemented and first use `DETECT_ASPECTS` and `FIX_ASPECTS` :)

[2017-03-15 19:46] yashtrivedi96 commented on #1365
Not sure may be cleanscape Fortran lint.

[2017-03-15 20:34] parvmor commented on #1482
Hey, I would like to participate in establishing this bear.

I had the following idea in mind:

1. Firstly we would be using a LocalBear as analyzing multiple files at same time should not make any difference.
2.  We will start by finding all the lines with ' or ' and ' and ' in them.(Easy task :) )
3.  Then we can separate out the operands (we could use pyparse lib) and evaluate the time taken by

[2017-03-15 23:19] Makman2 commented on #1482
It does. Actually we have to analyze each function or more precise, each conditional expression. They may use performance information from functions not defined in the same module, maybe even not inside the same package.

Looks like you want to run the snippets. That is not always a good idea, there's code that shall not run when the overall program doesn't run. Like `file_io_result = delete_file(

[2017-03-16 05:44] parvmor commented on #1482
I was thinking of taking the operand and evaluating them first and then use their result for the second time in actual conditional place. So, what i wanted to preprocess was to first go through every file and parse out the operands from every conditional operator. This way we could get the time by not disturbing the flow of program. But sometimes we use short circuiting to our advantage, we would

[2017-03-16 06:18] abhsag24 commented on #1516
I think this is the reason: https://github.com/coala/coala-bears/blob/master/bears/general/IndentationBear.py#L72 IndentationBear had a hacky solution to the previous `LanguageDefinition` but it's not adapted to the new `coala` update, we don't use it anywhere so we don't get to know the problems

[2017-03-16 07:35] netman92 commented on #1103
What's the status here ? @rohanraju97

[2017-03-16 07:38] sils commented on #1103
I think @abhsag24 has ongoing work on this?

[2017-03-16 07:47] rohanraju97 commented on #1103
I worked on this for a while, but then started working on my gsoc project. I will do it once the application date for gsoc is crossed. If someone wants to take care of this issue in the meantime, I'll unassign myself. @sils I didn't know that. The issue didn't have any assignees when I saw it so I assigned it to myself.

[2017-03-16 08:33] abhsag24 commented on #1103
I did. Then @aptrishu took it into his own PR idk if it solves it
completely but it's a step in this direction

On 16-Mar-2017 1:17 PM, "Rohan Raju" <notifications@github.com> wrote:

I worked on this for a while, but then started working on my gsoc project.
I will do it once the application date for gsoc is crossed. If someone
wants to take care of this issue in the meantime, I'll unassign myself

[2017-03-16 09:19] aptrishu commented on #1103
Ok, I'll look into it, if my PR already solves it or not.

[2017-03-16 10:10] aptrishu commented on #1482
How do you propose to do that ?

[2017-03-16 10:15] aptrishu commented on #1482
@Makman2
We can easily retrieve the conditional statements and methods used in them using AST.
So, if I have code like
[code]
You are expecting users to input the cost of both functions, and the probability that they will short circuit ?
then we can evaluate each arrangement.

[2017-03-16 10:29] aptrishu commented on #1482
Also, there are several issues of optimization, Like
[code]

[2017-03-16 15:08] Makman2 commented on #1482
that's a different case though ;)

Don't know, ideally we don't require that and calculate it ourselves.

[2017-03-16 15:35] sinwar commented on #1432
@jayvdb I am not getting the issue completely.

I tried with ```ValueError``` which is showing that there is no attribute ValueError and ```RequirementParseError``` works well.

Should we add version of pkg_resources in requirements ?

[2017-03-16 17:59] Adrianzatreanu opened #1519 "MP3Check Bear"
Bear proposal: https://code.google.com/archive/p/mp3check/

[2017-03-16 21:24] Makman2 commented on #1519
awesome :D

[2017-03-17 08:25] aptrishu commented on #1103
https://github.com/coala/coala-bears/issues/1024 relevant ? @abhsag24

[2017-03-17 08:54] abhsag24 commented on #1103
yup this happens since annotationBear doesnt diferentiate between single line and multiline strings, It should get solved when  it correctly identifies.

[2017-03-17 17:00] meetmangukiya opened #1520 "HTML Tidy bear"
Opened here https://github.com/coala/bear-docs/issues/37

[2017-03-18 13:22] shreyans800755 commented on #1194
@jayvdb @Makman2
How can I fix clang problem and run the tests without skipping it ?

[2017-03-19 15:30] jayvdb commented on #1419
@Udayan12167 and I were talking about file sorting (i.e. the json/yaml implementation of this), as a type of problem that coala design doesnt have a good solution for. coala is very 'text diff' centric, which fails for binary files, can be a bit troublesome with varying EOLs, and also ends up with silly diffs for sorting of structured data, at least cases where most lines need to be reordered. In

[2017-03-19 16:54] Madhukar-SH commented on #845
@Adrianzatreanu Just a clarification, Should it be tweaked to upload only one bear?

Or is it that, we have to add a feature to upload one bear along with what is already there?

[2017-03-19 17:38] aptrishu commented on #1419
@jayvdb can you give an example of such a case?
and yes its easy to normally detect moved blocks/lines.
and so we need to extend our Diff ? also there are cases of extra newlines messing around which creates a problem in detecting moved blocks.

[2017-03-19 18:09] Madhukar-SH commented on #845
@sils Would be great if you could clarify the doubt since I have a solution ready.

I think it should be made to generate only one bear package and not retain the current feature of generating all packages
Am I right?

[2017-03-19 18:39] Nosferatul commented on #845
@vijeth-aradhya Are you working on this?

[2017-03-20 08:03] sils commented on #845
yes.

[2017-03-20 11:33] Madhukar-SH commented on #845
I have the solution ready, can anybody please assign it to me?
Because it's been 8 weeks since it was assigned and I don't see any pushes made

[2017-03-20 12:28] vijeth-aradhya commented on #845
Sorry, I got busy with `cib` and manager classes for awhile.
But yeah, @Madhukar-SH You can go ahead and apply your patch if you already have one :) Otherwise, I'll eventually do it because this will help in certain ways with `cib`!
Just let me know though! :)

[2017-03-20 12:44] Madhukar-SH commented on #845
@vijeth-aradhya  That's so nice of you, Can you please un-assign yourself from this?

[2017-03-20 16:48] Adrianzatreanu commented on #845
assigned @Madhukar-SH :)

[2017-03-20 20:22] kaustubhhiware opened #1523 "PEP8Bear : Linelength violating pep8 shown without error"
![image](https://cloud.githubusercontent.com/assets/11318551/24119929/e068a7b8-0dd8-11e7-9639-5e6ba04f9fa6.png)

In the above image, clearly the line length is more than pep8 standard (80), however no warning was displayed.

[2017-03-21 01:40] jayvdb commented on #1388
When Python 2 is requested, creating a virtualenv that uses Python 2 could be a solution, which is sort of https://gitlab.com/coala/package_manager/issues/25

[2017-03-21 01:40] jayvdb commented on #929
When Python 2 is requested, creating a virtualenv that uses Python 2 could be a solution, which is sort of https://gitlab.com/coala/package_manager/issues/25

[2017-03-21 08:31] coala-bot opened #1525 "YAMLLintBear detected syntax errors should be level MAJOR"
Currently syntax errors in the yaml are emitted at coala severity level 'normal'.  They should be severity 'major'.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58d0e4e92215a08f04aad4c9) by @jayvdb

[2017-03-21 08:50] #1478 closed

[2017-03-21 11:00] jayvdb opened #1526 "Move away from running setuptools shims to invoke Python linters"
setuptools created wrapper executable scripts depend on setuptools (actually `pkg_resources`), which exposes coala to whatever issues that may bring since we don't lock down the setuptools version, and it is generally unwise to pin the setuptools version as different versions as there are constantly new bug fixes , unintended regressions and intentional removal of features and support for various

[2017-03-21 11:46] adtac commented on #1368
In case you have difficulty parsing the title:

- run `coala` in the coala-bears CI
- run `pytest` on the coala repo in the coala-bears CI

[2017-03-22 05:23] yash-nisar commented on #1306
Can I do this ? This has been lying around for a while @Mixih @NiklasMM

[2017-03-22 05:27] Techievena commented on #1306
Its done. @yash-nisar Just needs a rebase and I think maintainers can cherry-pick or rebase this stuff.

[2017-03-22 05:29] yash-nisar commented on #1306
Oh I didn't go through the changes :P. Maybe someone should add a process/approved label then. :)

[2017-03-22 07:23] jayvdb commented on #608
At this stage, the problem is best resolved by upgrading to a later version of coala .
We've done a lot to improve the `PackageRequirement`, which seem to be at the heart of these errors, so if it isnt fixed, the new errors will be very different and hopefully much better errors.

[2017-03-22 07:23] #608 closed

[2017-03-22 09:57] Adrianzatreanu commented on #1136
i like this, we should have a SEE_MORE = "https//:.." for each bear.

[2017-03-22 13:03] Abhi2424shek commented on #1482
@Makman2 a suggestion maybe.
Checking for the conditional stmts, running the functions with these conditional stmts, recording time and piping it out to a file (as sometime the log will be large). Interchanging the positions and piping it out to the same file after a line. Then printing the file like for each function and calculating it's average. It would output the log as below: (this is for a s

[2017-03-22 15:09] jayvdb commented on #1359
Note Ubuntu xenial [ships 0.3.7](http://packages.ubuntu.com/search?suite=xenial&searchon=names&keywords=shellcheck)

[2017-03-22 15:43] jayvdb commented on #1235
Another example, in our own backyard : https://gitlab.com/yuki_is_bored/cobot/builds/12258827

[2017-03-22 17:35] rohanraju97 commented on #1136
To add an additional attribute like "SEE_MORE = ", I'll have to add them in the Bear.py file in the coala repo. Do I create a new issue for this in the coala repo?

[2017-03-22 18:31] Makman2 commented on #1482
why do you want to pipe it to a file? We can directly use the values returned by `timeit` or similar modules.

That's what I want to avoid, as stated from me:

We just have to execute each condition once :) If we know the execution times of each single condition, we can optimize the execution time without running them again (neglecting side effects).

[2017-03-22 18:36] jayvdb opened #1532 "Regex linter"
At the moment, this would probably need to be something like InvalidLinkBear, looking for regex within a file.

When "language in language" works, the bear would be passed only the regex.

https://github.com/thatch/regexlint - Pygments specific

https://github.com/myint/rstcheck/pull/26 - Embedded in RST, but algorithm there should be the good basis for a basic bear.

[2017-03-22 18:45] meetmangukiya commented on #1083
This can be better implemented and maintained this way IMO:
- Create a dict that contains extensions as keys and lambdas that accept filename as argument and return the standard naming convention compliant name
- Then try
[code]

This way there will be much less `if`s if we want to add other language supports in future :)

[2017-03-22 19:52] jayvdb commented on #1083
The default is currently `snake`.

Ideally, we change the default `file_naming_convention` to `None`, but then we have two paths forward if the user doesnt set a value

1. use `snake`, but warn the user that they should be explicit, and allow `auto` for the user to explicitly request that we guess the right convention
2. guess the `file_naming_convention`, and fall back to `snake` if not known
3.

[2017-03-22 20:40] Makman2 commented on #1083
maybe make use of the `language` setting?

[2017-03-23 05:59] yash-nisar commented on #1083
We have indirectly implemented 2 currently and the user can explicitly specify the `file_naming_convention` in the `language` setting of the `.coafile`. Now the main question is should we go with `snake` as the default one or set it to `None` ? CC @jayvdb @Makman2

[2017-03-23 06:05] coala-bot opened #1533 "FilenameBear: Add javascript file naming convention"
Add snake-with-hyphen naming convention
difficulty/low
type/feature
area/genericbears

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=58d3659f7b3f37e754276b39) by @yash-nisar

[2017-03-23 06:06] yash-nisar commented on #1083
Can be merged after https://github.com/coala/coala-bears/issues/1533

[2017-03-23 06:42] satwikkansal opened #1534 "Bear proposal : AndroidBear"
Apart from the IntelliJ and Eclipse bindings, Android's "lint" also has a CLI tool which can be wrapped to make AndroidBear.

http://tools.android.com/tips/lint/
http://tools.android.com/tips/lint-checks

[2017-03-23 08:27] jack17529 commented on #1220
@jayvdb  sir can you please explain what needs to be changed in the file ?

[2017-03-23 08:59] jack17529 commented on #1519
@Adrianzatreanu can you please explain in detail , because I want to work on this issue.

[2017-03-23 15:02] #1533 closed

[2017-03-23 15:09] jayfk commented on #1432
This should no longer be a problem. Safety now explicitly catches `ValueError`s: https://github.com/pyupio/safety/blob/master/safety/util.py#L84-L85

[2017-03-23 15:36] Makman2 commented on #1083
I'm for setting it to `None`, it's imo the better default behaviour.

[2017-03-23 15:37] yash-nisar commented on #1083
Roger that @Makman2 :)

[2017-03-23 15:56] #1137 closed

[2017-03-23 18:56] userzimmermann commented on #1136
@rohanraju97 Hi! Yes! That's a good first step :)

[2017-03-23 19:03] andreidinu commented on #1520
I would like to be assigned here.

[2017-03-23 21:54] jack17529 commented on #1240
@jayvdb is the issue over ?

[2017-03-23 21:56] jack17529 commented on #396
Can I assign this to me as I have not done anything in coala-bear

[2017-03-23 22:00] jayvdb opened #1537 "Travis node version warning for typescript and stylelint"
Node 4.1.2 is the default on Travis, and currently being used, and packages typescript and stylelint are complaining.

[code]

That probably means that there are bugs in lower versions, however there is always the chance that those bugs are avoided with coala wrapper which has a specific limited codepath into the linter.

[2017-03-23 22:30] jayvdb commented on #1485
Note that due to https://github.com/coala/coala-bears/issues/1537, yarn needs `--ignore-engines` on Travis, and possibly elsewhere.

[2017-03-23 23:04] Makman2 commented on #396
Cause of https://github.com/coala/coala/issues/2898.

[2017-03-23 23:05] Makman2 commented on #396
@jack17529 feel free to break this issue up into several smaller issues for each bear you find you can improve :+1:

[2017-03-24 04:02] Abhi2424shek commented on #1482
We should depend on tests to execute the condition. Then we would not need to interchange the position.

[2017-03-24 13:00] jack17529 commented on #691
Any big developers working on this ?

[2017-03-24 13:30] coala-bot opened #1538 "bear proposal https://github.com/shurcooL/markdownfmt"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58d51f882f7d097c1068caf2) by @jayvdb

[2017-03-24 15:56] Makman2 commented on #1482
Not a bad idea. Though then the performance relies then on test conditions, we need to take care of that somehow^^

Don't understand that, the whole issue is about doing so :)

[2017-03-25 00:25] #1479 closed

[2017-03-25 10:34] coala-bot opened #1539 "Add bears using the aboutcode suite"
http://www.aboutcode.org/ seems pretty nice, it's important for companies to know about the origins of their code, potential license breaches etc. - we should do a bear out of that.

CC @fneu @seblat this might be a useful selling point for GitMate as well.

Opened via [gitter](https://gitter.im/coala/coala/?at=58d647cd08c00c092a1399bd) by @sils

[2017-03-25 10:57] coala-bot opened #1540 "FilenameBear: Allow different cases for the `file_naming_convention` setting"
Do a `.lower()` before looking in the dict

Opened via [gitter](https://gitter.im/coala/coala/?at=58d64d2f5982df9373a7dd60) by @adtac

[2017-03-25 14:32] RohanVB opened #1542 "Markdownbear isn't working as intended"
https://github.com/coala/coala-atom/pull/47

The patch deletes the entire README file

How to reproduce?:
Clone the coala-atom repo
Run `coala`

[2017-03-25 15:39] yash-nisar commented on #1540
Hey, I'm already working on it and I think we don't need an issue for this separately. This can be addressed in my PR [here](https://github.com/coala/coala-bears/pull/1530/commits/69816354efb22f47d6a1342bee63a7a9def2ea77). CC @adtac @kaustubhhiware

[2017-03-25 15:43] kaustubhhiware commented on #1540
In that case, this issue can be closed. My PR can be closed as well.

[2017-03-25 16:41] #1540 closed

[2017-03-25 17:27] meetmangukiya commented on #1542
This is critical :O

[2017-03-25 17:29] meetmangukiya commented on #1542
Seems like a duplicate https://github.com/coala/coala-bears/issues/1235

[2017-03-25 17:31] #1542 closed

[2017-03-25 17:33] jack17529 commented on #1542
@RohanVB  don't post duplicate bugs otherwise BIG developers gonna get mad at you :+1:

[2017-03-25 17:54] Makman2 commented on #1083
I would use `auto` in that case, it confuses the user if we directly choose a non-fitting convention for the given language.

[2017-03-25 17:59] RohanVB commented on #1542
Sorry, couldn't find that issue. Thanks guys :D

[2017-03-25 19:51] sils commented on #1542
FWIW duplicate issues happen all the time, when in doubt rather post an issue than not posting it. Also those "big developers" usually don't get mad, we acknowledge that everyone including us has his or her flaws but the most important bit is improving ourselves and for that we need to be able to give each other honest feedback. We tell you if we think you can do something better and we hope that

[2017-03-25 20:07] Mixih commented on #455
@arafsheikh it seem that you are not working on this currently. I am reassigning the issue because another person has shown interest and I do not see a pr here.

[2017-03-25 21:46] shreyans800755 commented on #1519
I've created basic skeleton, and will try to add more options that are available in mp3check. It might take some time as there are lot of options available with mp3check.
Just to clear some doubts:
For testing this bear, which file should I be using ? I mean, to commit the file in tests/mp3/test_files/<file_name>.mp3 as open source, I need a file that is free and open source already, right ?

[2017-03-26 08:01] jack17529 commented on #691
[ ] 1. write a python code to make URL with xmln(s|s:\S+)= directly in front invalid.
[ ] 2.//domain.com/img/logo.png should be tried with http and https and make a Python code.

Can't understand xml point can someone please elaborate?

[2017-03-26 08:03] jack17529 commented on #691
please assign me this if I am right.

[2017-03-26 08:20] yash-nisar commented on #1035
Duplicate of https://github.com/coala/coala-bears/issues/455

[2017-03-26 08:31] yash-nisar commented on #1035
Maybe we close the earlier one :)

[2017-03-26 08:36] coala-bot opened #1544 "Sphinx rejects YapfBear.run docstring"
See https://travis-ci.org/coala/coala-bears/jobs/215163400
Unexpected indentation error while parsing docstring of YapfBear
importance/high

Opened via [gitter](https://gitter.im/coala/coala/?at=58d77d767ea420cc42074329) by @yash-nisar

[2017-03-26 08:37] yash-nisar commented on #1544
The above build failure was of another user.
This is my build failure -> https://travis-ci.org/coala/coala-bears/jobs/215158145

[2017-03-26 09:59] jack17529 commented on #929
http://python-future.org/translation.html

[2017-03-26 11:00] jack17529 commented on #1388
I am already working on vulture integration with flake8 maybe I can help you with it.

[2017-03-26 12:31] jayvdb commented on #288
Which bears?

[2017-03-26 12:37] satwikkansal opened #1545 "Bear proposal: GitStatsBear"
Sometimes a user may just want to know statistics about his project like
- General statistics: total files, lines, commits, authors, project name, project version
- Activity statistics: commits by hour of day, day of week, hour of week, month of year, year and month, and year.
- Author statistics: list of authors (name, commits (%), first commit date, last commit date, age), author of month, autho

[2017-03-26 13:09] satwikkansal opened #1546 "Bear Proposal: ProjectInfoBear"
On similar lines to https://github.com/coala/coala-bears/issues/1545, we can have a Generic bear that can
- Calculate statistics like
  - Size of the project, number of files in the project, average file size
  - Languages used in the project, language-percentage analysis of the project, Lines of code
  - Directory structure, maximum depth, directory-size-analysis, etc
- Optionally, use other gene

[2017-03-26 13:44] jayvdb commented on #1544
Recent release of https://pypi.python.org/pypi/yapf . Due to our caching, this is probably the first time we test the new version, so i guess upstream bug.

Try building with only release

[2017-03-26 13:49] #1035 closed

[2017-03-26 13:50] yash-nisar commented on #1544
A new RubocopBear error has peeped in. See https://github.com/coala/coala-bears/pull/1547

[2017-03-26 16:45] Vamshi99 commented on #455
Is this responsible for failing of builds in https://github.com/coala/coala-bears/pull/1409 ? 😟
https://travis-ci.org/coala/coala-bears/jobs/214619678#L3510-L3524

[2017-03-26 16:51] yash-nisar commented on #455
Nope @Vamshi99 , this issue is an enhancement to the testing API of bears so there isn't supposed to be any problem. :)

[2017-03-26 17:32] yash-nisar commented on #1013
This can be closed. @Mixih @meetmangukiya

[2017-03-26 17:57] #1013 closed

[2017-03-26 18:11] jack17529 commented on #1526
1. Looks like a line of code.
2. Using sys.executable with the module flag for python runtime.
3. The linter which require python 2 using sys.executable .

Please tell weather I understand it right @jayvdb ?

[2017-03-26 18:34] sils commented on #288
we'll find out after adding the PLATFORM attribute on a case by case basis

[2017-03-26 18:37] sils commented on #288
blocked by https://github.com/coala/coala/issues/4003

[2017-03-26 20:22] coala-bot opened #1548 "rubocop 0.48 breaks CI"
There was a new release yesterday at https://github.com/bbatsov/rubocop#cops which is probably causing build failure too.
upstream
importance/high

Opened via [gitter](https://gitter.im/coala/coala/?at=58d822fb0e4137042ab22e92) by @yash-nisar

[2017-03-26 20:23] yash-nisar commented on #1548
See https://travis-ci.org/coala/coala-bears/jobs/215295261

[2017-03-27 00:29] jayvdb commented on #288
I dont like that approach. Why should platform matter? I consider that to be reason to reject a bear, or is a high priority bug that we need to fix, even if it is upstream. It will be automatic rejection after https://github.com/coala/coala-bears/issues/1415 is finished.

We should ensure two developers on different OS see identical errors. IMO that is a huge benefit of coala.

Proper code analysi

[2017-03-27 05:37] sils commented on #288
Aren't there already some bears that only support linux upstream? I'm not sure though.

[2017-03-27 13:49] jack17529 commented on #115
Anything remaining  after this commit?

[2017-03-27 13:57] jack17529 commented on #264
Sorry can't find file coalib.misc.ContextManagers ?
Should I need to make one , please elaborate?

[2017-03-27 14:28] jack17529 commented on #264
So @Uran198  we have make a source code for change_dir and use it the places you have mentioned in the links. Am I right ?

[2017-03-27 14:37] Strajk opened #1549 "KeywordBear: lookaheads doesn't work"
Lookaheads in KeywordBear seems to not work

Repo to replicate https://github.com/Strajk/coala-regex-bug

There are [2 rules](https://github.com/Strajk/coala-regex-bug/blob/master/.coafile)
* First is using lookahead, and coala do not find anything (regex checked via [Regex101](https://regex101.com/r/oWUdiW/1/) )
* Second is simple regex, and coala correctly finds the problem (just for reference)

[2017-03-27 14:49] jack17529 commented on #1192
@yash2696  are you still working , or we should unassign you?

[2017-03-27 16:29] coala-bot opened #1550 "generate_bear_requirements: Don't exit with 0 on error"
See build https://travis-ci.org/coala/coala-bears/jobs/215563097#L3509

Opened via [gitter](https://gitter.im/coala/coala/?at=58d93dd3408f90be665f7ffc) by @Makman2

[2017-03-27 16:41] satwikkansal opened #1551 "Bear Proposal: NamingConventionBear"
Similar to `FileNameBear`, we can have a `NamingConventionBear` that detects `unconventional_identifierNames` in the codebase and can also fix them based on the user's preferred naming-convention.

[2017-03-27 16:45] satwikkansal commented on #1551
Also, we need to take into account [Language-specific conventions](https://en.wikipedia.org/wiki/Naming_convention_(programming)#Language-specific_conventions) before reporting a variable name as problematic.

[2017-03-27 17:32] Uran198 commented on #264
IIRC `change_directory` should be already implemented, but it probably moved to some other place. One should look around to find it. Also the lines in the links changed, and there might be some other places where the change is needed not mentioned in the description.

[2017-03-27 18:25] jack17529 commented on #264
So I need to look for the already defined function change_directory function and use it at all places in coala-bears?

[2017-03-27 20:12] jack17529 commented on #1549
So according to you regex in coala has bug?

[2017-03-27 21:18] jayvdb commented on #1550
We have the `git diff --exit-code` as a safety net in the CI, so this is low priority.

[2017-03-27 22:05] Makman2 commented on #1551
That looks like we need ASTs for this - see [coAST](https://github.com/coala/coast) (part of gsoc).

[2017-03-27 22:05] jayvdb opened #1552 "Remove Python 3.4.0 support"
https://pypi.python.org/pypi/yapf#python-versions says it supports only 3.4.1+.
coala currently supports 3.4.0, but will fail to install because of the dependency on yapf.

Should coala also reject 3.4.0?

[2017-03-27 22:10] Makman2 commented on #1549
It seems you regex is not correctly formed, I tried it on your example without using a bear, and it doesn't match. But it works if you omit the ending `$` -> `content:?\s\"\\.+\"`
Bears do not use the `re.MULTILINE` flag which allows `$` matching at each end of a line (instead at end of complete string/file).

[2017-03-28 02:42] jayvdb commented on #1548
Looking at  https://github.com/coala/coala-bears/pull/1547, it seems pinning to 0.47.1 solves the problem?

[2017-03-28 04:15] yash-nisar commented on #1548
Yes, I've backported to the previous version. :tada:

[2017-03-28 04:31] satwikkansal commented on #1551
@Makman2 I think to start with, this can be done without AST's as well.

The basic idea is to detect unusual identifier names in a file

Example: `Uncoventional_variableName`

So no matter which language it is (or even if it's just a plain text file), this type of naming is unconventional and should be reported by the bear. This can be done based on `regex` matching and if the name doesn't match a

[2017-03-28 05:58] jayvdb commented on #1544
Ah, we are talking about this line in the logs
[code]
That comes from `sphinx-build`, and the build is using 1.3.5.

For some reason our `docs-requirements.txt` pins [Sphinx](https://pypi.python.org/pypi/Sphinx) at 1.3.5.  Sphinx's last update was 1.5.3 on 2017-02-26.

coala's [`docs-requirements.txt`](https://github.com/coala/coala/commit/a0d817851978) and document's [`docs-requirements.txt`](htt

[2017-03-28 06:35] jayvdb commented on #1544
Comparing a good and bad log

Installing `docs-requirements.txt` is identical
[code]

And `requirements.txt` is also almost identical, except for the `coala` version.
[code]

Very curious.

[2017-03-28 06:48] jayvdb commented on #1544
The bug is in https://github.com/coala/coala/commit/017bcfc2 .
cc @Flap-Py

[2017-03-28 07:25] NiklasMM opened #1553 "Bear Proposal: GitlintBear"
[Gitlint](https://pypi.python.org/pypi/gitlint) is a tool similar to our native GitCommitBear.

Since it operates on project scope it could be a nice reference implementation of [global linter bears](https://github.com/coala/coala/pull/3652).

Documentation can be found [here](https://jorisroovers.github.io/gitlint/)

[2017-03-28 07:56] coala-bot opened #1554 "upgrade Sphinx to same version used in other coala repos (1.4.9) or higher"
That is the version used by the coala and documentation repositories.
Spawning from https://github.com/coala/coala-bears/issues/1544#issuecomment-289671506
status/blocked on ^ bug

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58da17287ea420cc4211d4e1) by @jayvdb

[2017-03-28 09:01] Strajk commented on #1549
@jack17529 seems so, or at least it's not working as expected (by me :) )

@Makman2 thanks for willing to help, but [even removing $ doesn't work for me...](https://github.com/Strajk/coala-regex-bug/commit/d8fad5ed6e2878216cdc97d5e1cfdd6896bd8749)

`docker run -ti -v $(pwd):/common --workdir=/common coala/base coala --ci` still finds just `forbid-pink-color-in-styles`

any ideas?

[2017-03-28 10:59] satwikkansal opened #1557 "InvalidLinkBear: Add context for owl datasources and rdf schema urls"
Similar to https://github.com/coala/coala-bears/issues/1239 but for [Ontology Web Langauge](https://www.w3.org/TR/owl-ref/)

[2017-03-28 11:06] satwikkansal opened #1558 "InvalidLinkBear: Make the url context global"
The context determined from the url should be cached and applicable across the project files.
See https://github.com/coala/coala-bears/pull/1297#issuecomment-284311114

[2017-03-28 14:24] Makman2 commented on #1549
Ah maybe you have to also double escape `\` (as you have to do in python for regexes), because we interpret them too:
[code]

[2017-03-28 14:26] Makman2 commented on #1551
Sounds good :+1:

[2017-03-28 15:41] yash-nisar commented on #1365
The link -> https://stellar.cleanscape.net/products/fortranlint/ @rohanraju97

[2017-03-28 15:44] coala-bot opened #1560 "Declare min ruby version for RubySyntaxBear"
It was removed in 346ac8364
status/blocked on a version being added to DistributionRequirement constructor.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58da84c98e4b63533d7142de) by @jayvdb

[2017-03-28 16:07] rohanraju97 commented on #1365
I saw this. It's not a simple downloadable tool like the other linter tools used by coala. It isn't available as a package either.

[2017-03-28 16:34] jayvdb commented on #1544
The relevant part of the docstring is:

[code]
            call_func_that_takes_a_dict(
                {
                    'key1': 'value1',
                    'key2': 'value2',
                }
            )
[code]
            call_func_that_takes_a_dict({
                'key1': 'value1',
                'key2': 'value2',
            })
[code]

The irony is that we want this badly formatted

[2017-03-28 17:12] Strajk commented on #1549
@Makman2 Looks like ASCII art, but works!!!! 🎉  🎉  🎉

[2017-03-28 17:16] shreab373 commented on #1560
hey, i've for this issue to be assigned to me, but what should be the min version in the gemfile?

[2017-03-28 17:18] #1549 closed

[2017-03-28 18:56] coala-bot opened #1561 "Remove triple backticks from RST"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58dab1e78bb56c2d1151262f) by @jayvdb

[2017-03-28 19:45] rohanraju97 commented on #1136
@userzimmermann My PR got merged. Now do I change all these files in a single commit? I guess not.

[2017-03-28 21:37] Makman2 commented on #1549
Glad it worked :)

[2017-03-28 21:56] Makman2 commented on #1365
Is this proprietary? If so I'm not so sure we get license problems with that (or at least we need to take care properly)^^ Also I would like to support open-source software if possible over commercial products, especially if the website looks like from being from 1990...

EDIT: It really is old it seems, I've seen on the "Operation" link that a document supports "Internet Explorer 4 or higher / Ne

[2017-03-28 21:59] Makman2 commented on #1365
There's a linter integration for Atom: https://github.com/AtomLinter/linter-gfortran
It uses the `gfortran` compiler. Maybe we can look at how they are doing things :+1:

And there's also Forcheck: http://www.forcheck.nl/downloads.htm
And it's GPL ;)

[2017-03-29 02:17] #1544 closed

[2017-03-29 02:17] #1561 closed

[2017-03-29 05:34] meetmangukiya commented on #1136
@rohanraju97 if you wish, you can :) Or just create an issue for that with all the bears as checkmarks and then maybe we can add to some bears at a time and get it running into bears eventually.

[2017-03-29 06:51] RJ722 opened #1564 "Add option of adding whitelist file for vulture in VultureBear"
How VultureBear currently executes vulture:
`
vulture file1.py file2.py ...
`   (All the files in that particular directory - Please have a look [here](https://github.com/coala/coala-bears/blob/3cb9b148adc0dda51ac890188b38fd968f6058fd/bears/python/VultureBear.py#L37) )

For whitelisting stuff (functions, classes, variables), we have an option to execute:
```vulture <file.py> <whitelist.py>```
wher

[2017-03-29 06:55] RJ722 commented on #1564
IMHO, we have two options:
* change the way we call vulture individually for
* whitelist file could be made available as a command line feature.

CC: @jendrikseipp

[2017-03-29 07:26] jack17529 commented on #1564
@RJ722  but this is already solved , there is no need to open the same issue there in vulture repository, and also here and that too already solved in vulture.

According to me this seems useless , Please don't open issues already been solved in some other repositories as this is rude to maintainers .

Please close it.

[2017-03-29 09:17] jack17529 commented on #1194
@shreyans800755  well to skip ,you need to change the code in your own repo and run.
Only easy if you have already red the code.

Although here clang is an essential so sorry you can't remove it.
Sorry try  a newcomer issue first.

[2017-03-29 09:37] #1470 closed

[2017-03-29 09:45] jack17529 opened #1566 "Bear on gnuplot repository"
gnuplot is the best way to plot graphs on algorithms and analyze them.
Thus we should have a bear on it.

[2017-03-29 11:31] RJ722 commented on #1564
According to me this seems useless , Please don't open issues already been solved in some other repositories as this is rude to maintainers .
Please close it.

@jack17529, I did check the existing issues, I didn't found any!

[2017-03-29 12:03] jack17529 commented on #1564
@RJ722 , you basically don't know how vulture works and you are filing issues and also referencing them :|
I firstly though you are intelligent and you know what you are doing and have already red the code of vulture repo but now you sound very rude.
This issue too does not makes any sense first see how vulture evaluates vulture repository.
I have also pointed out here - https://github.com/jendrik

[2017-03-29 12:05] jack17529 commented on #1564
Are you doing this under pressure of GSOC 2017 @RJ722
Then please stop this.

[2017-03-29 12:30] adtac commented on #1564
@jack17529 could you please not be rude to other users? This is hardly the first time you're going out of your way to call others out (in an impolite manner).

[2017-03-29 12:32] RJ722 commented on #1564
I'm sorry! Didn't meant so
I just meant to point out that I couldn't find any issue already submitted.

Then please stop this.

What is your point?

[2017-03-29 12:45] Adrianzatreanu commented on #1564
@RJ722 please ignore jack's rude comments. They are not constructive, they are meaning to intimidate you and we do not accept this behaviour.

@jack17529 i would like to ask you to stop harassing other contributors as you are right now, because you have crossed the line.

[2017-03-29 13:44] jack17529 commented on #1564
Sorry but I also once tried this before but it was not constructive so jaydb closed both my issues , because he knew those don't make any sense.

[2017-03-29 13:45] yash-nisar commented on #1119
Can we remove status/blocked since https://gitlab.com/coala/package_manager/merge_requests/4 has been merged ? @jayvdb

[2017-03-29 13:52] yash-nisar commented on #295
Duplicate of https://github.com/coala/coala-bears/issues/1553 @NiklasMM

[2017-03-29 13:55] jack17529 commented on #1564
Although , I am sorry to everyone here , but what I told was truth .
If this issue is reported legit , I will make a patch on it and apologies by PM.

[2017-03-29 14:31] jack17529 commented on #1564
This proves that I am right he is opening issues carelessly see this - https://github.com/jendrikseipp/vulture/issues/32

[2017-03-29 14:39] sims1253 commented on #1564
This is not going anywhere nice so I locked the discussion.
@RJ722 This is not directed at you and I am sorry for this to happen. Opening issues, even if they are duplicates or based on a misunderstanding, is never a bad thing. Worst case, someone will point you do the other issue or documentation. Don't feel demotivated by this. Drop by [in our chat](coala.io/chat) if you have any questions or co

[2017-03-29 18:11] sils commented on #1553
duplicate of https://github.com/coala/coala-bears/issues/295#issuecomment-290096625 we should continue the discussion there IMO

[2017-03-29 18:11] #1553 closed

[2017-03-29 20:24] #1464 closed

[2017-03-30 06:01] NiklasMM commented on #295
Came over from #1553 where I proposed to add GitlintBear.

Two arguments to support this:

* It would be a nice reference implementation of the new global linter bear functionality.
* People who already use `gitlint` have it easier to transition to coala.

[2017-03-30 06:11] jayvdb commented on #1465
[6.19](http://checkstyle.sourceforge.net/releasenotes.html#Release_6.19) is the last of the 6.x series, released 2016-05-29, and containing many bugfixes after 6.15 which we currently use.

There are three (3) backwards compatibility breakages between 6.15-6.19 mentioned in the release notes, but two appear to be only Java API breakages, and https://github.com/checkstyle/checkstyle/issues/2204 mod

[2017-03-30 11:22] jack17529 opened #1568 "Calling Vulture using Global Bear"
Vulture can be merged with Global Bear in order to call it for a directory.
Currently Vulture can only be used for single python file.

Implementing this the only issue that can happen is that Global bear only support Python version >= 3.4

[2017-03-30 12:03] jack17529 commented on #1415
@Adrianzatreanu  can you help me:-
1. Test which bear uses clang - Need to check the clang version before installing clang. I think this have been reported already.
2. Test which bear don't work on windows.

Can someone tell me weather I am in the right direction or not.

[2017-03-30 13:24] yash-nisar commented on #28
Duplicate of https://github.com/coala/coala-bears/issues/634 so can be closed. :)

[2017-03-30 13:28] yash-nisar commented on #293
Can be closed since https://gitlab.com/coala/package_manager/issues/34 has been merged. @jayvdb

[2017-03-30 13:58] yash-nisar commented on #1554
@jayvdb Could you remove the status/blocked since the bug https://github.com/coala/coala-bears/issues/1544#issuecomment-289671506 has been resolved ?

[2017-03-30 14:37] damngamerz commented on #293
@yash-nisar still composer needs to be added in CI i will create a PR soon for that.
But i guess before that I need this to be merged https://github.com/coala/coala-bears/pull/1386 specifically for travis-ci.

[2017-03-30 14:39] yash-nisar commented on #293
okay :)

[2017-03-30 14:54] jack17529 commented on #899
@Makman2 @jayvdb  we can make a function that asks user how to interpret the code according to tabs or spaces and then execute the function in SpaceConsistencyBear seems too easy.
If you like then please assign this to me as for me cobot is not working.

[2017-03-30 15:37] johnnyczhong commented on #1221
I've tried to have cobot assign this issue to me with no success and it looks like it hasn't gone addressed for over a month. Can I ask that someone assign this newcomer task to me? Thanks!

[2017-03-30 17:17] SanketDG commented on #840
unassigned due to unactivity

[2017-03-30 17:18] SanketDG commented on #864
unassigned due to inactivity

[2017-03-30 17:19] SanketDG commented on #873
unassigned due to inactivity

[2017-03-30 17:19] SanketDG commented on #874
unassigned due to inactivity

[2017-03-30 17:20] SanketDG commented on #875
unassigned due to inactivity

[2017-03-30 17:20] SanketDG commented on #876
unassigned due to inactivity

[2017-03-30 17:23] SanketDG commented on #1046
unassigned due to inactivity

[2017-03-30 17:33] SanketDG commented on #1167
unassigned due to inactivity

[2017-03-30 17:44] SanketDG commented on #1427
unassigned due to inactivity

[2017-03-31 21:35] sils commented on #1568
I'm pretty sure this is a dupe, we already have it somewhere

[2017-03-31 21:35] #1568 closed

[2017-03-31 22:10] userzimmermann commented on #1136
@rohanraju97 The second option of @meetmangukiya sounds very appropriate :)

I already added `SEE_MORE` it to my new `YANGBear` :) https://github.com/coala/coala-bears/issues/1428

[2017-03-31 23:49] #1083 closed

[2017-04-01 06:07] karansingh1559 commented on #874
Can anybody assign me this issue?

[2017-04-01 08:30] satwikkansal opened #1571 "QuotesBear : Change CAN_DETECT to CAN_FIX"
`CAN_DETECT = {'Formatting'}` to `CAN_FIX = {'Formatting'}` as the bear "Checks and corrects the quotation style."

difficulty/newcomer

[2017-04-01 08:46] SanketDG commented on #874
@karansingh1559 you are assigned!

Feel free to https://coala.io/chat if you have any questions

[2017-04-01 10:44] Jakod96 commented on #1571
Can i please get assigned?

[2017-04-01 11:08] satwikkansal commented on #1571
@Jakod96 I don't have the rights please ask on our gitter channel, someone will definitely assign you :)

[2017-04-01 11:23] karansingh1559 commented on #1560
Can anybody assign this to me?

[2017-04-01 12:39] satwikkansal opened #1572 "deps.cabal.sh: Circle CI build failing"
See  https://circleci.com/gh/satwikkansal/coala-bears/26?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

PR for which the build is failing : https://github.com/coala/coala-bears/pull/1297

Failure report
[code]

[2017-04-01 15:10] userzimmermann opened #1573 "aspectsYEAHBear"
Based on @Techievena's great idea from https://github.com/coala/coala/issues/4039#issuecomment-290886365 , we should grow the `aspectsYEAHBear` that checks if the terms *aspect* and *aspects* are always written lowercase according to https://github.com/coala/cEPs/issues/69 , just like the `coalaBear` does it for the term *coala*: https://github.com/coala/coala-bears/blob/master/bears/general/coala

[2017-04-01 15:40] userzimmermann commented on #1573
The `aspectsYEAHBear` could also check if **aspectsYEAH** is always written correctly :)

@coala/aspects-developers Opinions?

[2017-04-01 15:43] Asnelchristian commented on #1573
yep it should, and we should probably implement Grammar( or Spelling)
aspect for the this

2017-04-01 16:40 GMT+01:00 Stefan Zimmermann <notifications@github.com>:

[2017-04-01 15:44] Asnelchristian commented on #1573
annotating the its(aspectsYEAHBear)  results right away

2017-04-01 16:43 GMT+01:00 Christian Asnel Ngoulla <ngoullasob@gmail.com>:

[2017-04-02 09:03] jayvdb commented on #1564
So, to get back on topic, this is because VultureBear is a GlobalBear.

That is intentional, as vulture needs all filenames otherwise vulture doesnt work properly.

So, we need a better way of informing vulture of the whitelist. e.g. `--whitelist foo.py`. So this is an upstream problem at the moment. It is still a valid issue in this repo, as we need to track the upstream problems.

[2017-04-02 09:37] satwikkansal commented on #1340
Suggesting patches and taking user input to create patches seems to be related to the functionalities discussed in https://github.com/coala/coala/issues/1021 .

Imo, we can make a `SubstitiutionBear` for this issue (and it looks more of like a find and replace functionality using regexes)

[2017-04-02 12:32] yash-nisar opened #1575 "Circle CI failure for sphinx 1.4.9"
[code]

See https://circleci.com/gh/yash-nisar/coala-bears/19 for more info.
type/bug

[2017-04-02 13:09] satwikkansal opened #1576 "Bear proposal: TextlintBear"
[textlint](https://github.com/textlint/textlint) is a linting tool for text and markdown.

Also, see this nice discussion for “Interactive fix” functionality in textlint which might be related to https://github.com/coala/coala/issues/1021.

[2017-04-02 15:06] yashtrivedi96 opened #1577 "calculate percentage line of comment in a file"
Bear proposal

[2017-04-02 16:11] userzimmermann commented on #1573
@Asnelchristian Something like `Spelling.aspectsYEAH` :)

[2017-04-02 16:24] satwikkansal opened #1578 "Bear Proposal: PyEnchantBear"
[PyEnchant](https://pythonhosted.org/pyenchant/) is a spell checking library for Python, based on Enchant library. PyEnchant provides multiple spelling suggestions for an incorrectly spelled word, which can be useful when we have the "Multiple fixes offering" functionality ready as discussed in https://github.com/coala/coala/issues/1021

[2017-04-02 18:13] jayvdb commented on #1492
Starting a new build : https://travis-ci.org/jayvdb/coala-bears/builds/217838232

[2017-04-02 18:41] #1329 closed

[2017-04-03 04:47] jayvdb commented on #1392
Thx @sahilarora535 for raising the bug upstream; I've marked this as blocked on upstream.

[2017-04-03 07:55] wooorm commented on #1492
Hi! 👋 This page provides more info on [releases for remark-lint](https://github.com/wooorm/remark-lint/releases).

[2017-04-03 11:47] kaustubhhiware opened #1579 "Installing from source fails"
While installing from source, the following error log is faced :

[code]

I've reinstalled python3 and all pip3 packages, but the error appears only while installing coala-bears from source.

The local repo is in sync with the latest commit `5b5d7de`

[2017-04-03 13:05] satwikkansal commented on #1453
Just want to check if I'm thinking in right direction or not.

If it's coala-specific, we already have it in some section in our .coafile. I can't understand why would we need to enable it differently.

Or is the issue about adding functionality to define rulesets (combination of settings for a bear) and letting anyone use them.
Something like  `commit_rules = coala`
and this ruleset is some combi

[2017-04-03 22:08] Mixih commented on #1492
Update: the bear itself doesn't try empty the files anymore which is a plus. However, we will need to update the default configuration options to reflect the changes in https://github.com/wooorm/remark-lint/releases/tag/6.0.0 . It looks like we just need to make the changes outlined there.

[2017-04-03 22:40] insanicly commented on #840
Hi, if I understand this issue correctly, we wanted all coala-analyzer words to the coala in documentations.

But it seems that for example:

DESCRIPTION.rst

there is a link "http://coala-analyzer.org" and when I change it to "http://coala.org" it redirects into wrong page. I can correct this link as "http://coala.io" or something else but I can't decide if it is wrong or something unnecessary.

[2017-04-04 04:58] jayvdb commented on #1572
If I understand correctly, the main repo CI [passed on Circle CI](https://circleci.com/gh/coala/coala-bears/5948), and passes on Travis CI, so either it is

- a caching problem, which the main repo will also encounter when its cache is lost, or
- because you have your containers set to be 14.04 (trusty), whereas the main repo circle CI uses 12.04 (precise).  That isnt to say this bug isnt a real p

[2017-04-04 07:25] jayvdb commented on #1572
The [next build](https://circleci.com/gh/jayvdb/coala-bears/656) failed with a timeout.  Trying again..

[2017-04-04 08:42] satwikkansal commented on #1572
Setting the container image to 12.04 (precise) worked for my PR.
 https://circleci.com/gh/satwikkansal/coala-bears/29

[2017-04-04 08:56] jayvdb commented on #1572
Ok, my next 12.04 build passed.  And Travis passes, so I think we can assume that this is a 14.04 problem.  I'm doing a 14.04 build of master [now](https://circleci.com/gh/jayvdb/coala-bears/658), which should fail with the same problem you encountered.

[2017-04-04 09:19] jayvdb commented on #1575
That looks a little strange!  why `t`?

If it isnt happening on Travis, my guess is that the cause is there are different versions of `coala` installed, and the recently added `@wraps` for https://github.com/coala/coala/issues/3946 is the cause.

[2017-04-04 10:36] shreyans800755 commented on #1577
@yashtrivedi96 I think we can use _**cloc**_ for this purpose, instead of writing custom bear.

[2017-04-04 10:45] jayvdb commented on #1572
Interesting, my 14.04 Circle build also passes.

[2017-04-04 11:06] satwikkansal commented on #1572
I re-triggered the build [now](https://circleci.com/gh/satwikkansal/coala-bears/32) on 14.04 without cache. Let's see what happens

[2017-04-04 12:08] userzimmermann commented on #1573
@coala/aspects-developers So! Thanks to @Techievena we now have the `aspectsYEAH` aspect:

https://github.com/coala/coala/pull/4049
https://github.com/coala/coala/blob/master/coalib/bearlib/aspects/Spelling.py#L12

Time for the `aspectsYEAHBear`! @pratyushprakash

[2017-04-04 12:16] satwikkansal commented on #1572
Phew.. It's successful. Wonder why it wasn't successful the previous time I tried to rebuild without cache. I think this issue is resolved now :) Thanks for the help.
Maybe it's better to document this in the guides somewhere so that others can benefit from it when similar problem occurs.

[2017-04-04 12:32] #1525 closed

[2017-04-04 13:31] yash-nisar commented on #1572
So, can this be closed now @satwikkansal ?

[2017-04-04 14:25] #1517 closed

[2017-04-04 16:06] shreyans800755 commented on #1577
Since this bear supports all the languages, should I place it in bears/general/ directory ?

[2017-04-04 16:08] yashtrivedi96 commented on #1577
sure:)

[2017-04-04 16:46] satwikkansal commented on #1572
@yash-nisar Okay. My build is now successful, and no issues occur with any of the 12.04 or 14.04 image, so closing this issue. Thanks @jayvdb for helping.

[2017-04-04 16:46] #1572 closed

[2017-04-04 17:26] satwikkansal opened #1580 "Git_Basics.rst: Ambiguity in the usage of "coala/coala-bears""
The phrase "coala/coala-bears" has been repeatedly used to mean two different things
1. Reference to https://github.com/coala/coala-bears,
2. As a short notation for representing "coala/coala and coala/coala-bears".

difficulty/newcomer area/documentation

[2017-04-04 20:41] jayvdb commented on #1575
In [this Travis build](https://travis-ci.org/coala/coala-bears/jobs/218470349), `coala-0.11.0.dev20170404120542` is installed, which is of course after https://github.com/coala/coala/commit/017bcfc2195f was merged with `@wraps.

[2017-04-04 22:17] coala-bot opened #1581 "MarkdownBear should only use `lint=` if `max_line_length` is set"
Not using `lint=` will allow MarkdownBear to be used without the lint plugin, which means we may be able to support older versions of remark, but without the plugin functionality.

Unfortunately `max_line_length` is set to `80` by default, which was almost certainly a breaking change.
Either we:

1. consider that a bad default and use None as the default, but then need to investigate what happens

[2017-04-04 22:19] jayvdb commented on #1492
We may be able to support old and new versions, by making the use of `remark-lint` options, ala https://github.com/coala/coala-bears/issues/1581

[2017-04-05 02:08] coala-bot opened #1582 "Add bear for Checker Framework"
https://checkerframework.org/ https://github.com/typetools/checker-framework/
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58e451968fcce56b20cecffc) by @jayvdb

[2017-04-05 06:02] yash-nisar commented on #1575
I've tested for the same version `coala-0.11.0.dev20170404120542` for [this circleci build](https://circleci.com/gh/yash-nisar/coala-bears/34?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link), but still no success. @jayvdb

[2017-04-05 06:12] NiklasMM commented on #1581
Yes, I had to set another value to `None` through the ´.coafile` and found out that `key = \0` does exactly that, which means it can be used to set non-`None` default values to `None`.

[2017-04-05 08:45] coala-bot opened #1583 "Create linterbear for Xquery"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58e4aebd7ea420cc423cecff) by @Shade5

[2017-04-05 09:25] satwikkansal commented on #1581
If I understood correctly, the issue is related to supporting both the old and new versions of remark-lint and remark-cli.

Is it a good idea to set the default value of `max_line_length` to 0 for MarkdownBear (which will mean unsetting it as long as the user doesn't provide a non-default value). And when value other than 0 is provided we run the bear with lint plugin (if possible)

[2017-04-05 11:49] #1239 closed

[2017-04-06 13:38] SanketDG opened #1584 "PyUnusedCodeBear: Implement remove_unused_variables"
The remove_unused_variables is implicitly passed on:
https://github.com/coala/coala-bears/blob/master/bears/python/PyUnusedCodeBear.py#L33

should be implemented as a setting in `run()`

[2017-04-06 14:34] SanketDG opened #1585 "integrate php-cs-fixer"
https://github.com/FriendsOfPHP/PHP-CS-Fixer

[2017-04-06 18:12] jayvdb commented on #1326
Err, `docformatter --in-place` would be more efficient and less error prone that parsing unified diff.

[2017-04-06 18:29] #1408 closed

[2017-04-06 18:46] satwikkansal commented on #1326
```docformatter --in-place``` actually modifies the file directly before prompting the user.

Ah, did you mean,
- Keeping a copy of the `original_file`
- Running the `docformatter --in-place`
- In the `process_output` reading the original file contents.
- Rewrite the original file to the earlier version (the version before `docformatter --in-place` was run)
- Passing the new contents read to the `

[2017-04-06 18:55] #1465 closed

[2017-04-06 22:33] Makman2 commented on #1453
I think I meant this. I remember that adding a setting to `GitCommitBear` would complicate things in terms of consistency and redundancy (because when defining a ruleset, you don't need to provide other settings).

I'm not sure what's the best approach to rulesets currently, so @satwikkansal feel free to try different possibilities and post them here ;)

[2017-04-06 22:36] Makman2 commented on #1326
This behaviour is not easy to implement with `@linter` (while avoiding reinventing the wheel), and I would rather use the `unified-diff`. Less I/O + more functionality for `@linter` imo.

[2017-04-07 11:20] coala-bot opened #1586 "Fix package.json closing bracket indentation"
difficulty/low importance/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58e775e1f22385553d1a1533) by @jayvdb

[2017-04-07 16:29] shreab373 commented on #1584
Hello! i'm a newbie, could help me out a little in solving this? :)

[2017-04-07 16:38] adhikasp commented on #1584
Hi @shreab373
Basically you should modify PyUnusedCodeBear to take additional setting named `remove_unused_variables` from coafile. If you need an example, the variable `remove_all_unused_imports` value is already taken from setting (hint, see the `run()` arguments).

[2017-04-07 17:36] shreab373 commented on #1584
@adhikasp thanks for helping!

could you also explain this syntax https://github.com/coala/coala-bears/blob/master/bears/python/PyUnusedCodeBear.py#L18  ??

[2017-04-07 19:15] vijeth-aradhya opened #1588 "Bear Proposal: Clippy (Linting) support for Rust"
[It](https://github.com/Manishearth/rust-clippy) looks pretty stable now.

[2017-04-07 19:41] Mixih commented on #1588
looks like a dup of https://github.com/coala/coala-bears/issues/50 . Please ping if it isn't

[2017-04-07 19:41] #1588 closed

[2017-04-07 20:12] vijeth-aradhya opened #1589 "Bear Proposal: Add SwiftLintBear"
[This](https://github.com/realm/SwiftLint) has an auto-correct option to automatically fix the errors/warnings as well.

[2017-04-07 21:09] SanketDG commented on #1584
@shreab373 Its just a parameter to a function that's annotated as boolean and default value is set to `False`

you have to create another parameter of the given name with the same annotations and default values :)

[2017-04-08 10:10] jayvdb opened #1591 "green test runner"
On 823d44f, this is the output of https://github.com/CleanCut/green
[code]

[2017-04-08 10:49] jayvdb opened #1592 "Running pytest on multiple cores fails"
Like https://github.com/coala/coala/issues/4061 , and probably largely due to that, multiple core support added on 350082ad5d doesnt work. `pytest -n 3` has errors and failures (after taking a *very* long time to set up):

[code]

[2017-04-08 10:53] jayvdb commented on #1592
While this is blocked, the errors can likely be fixed before multiple cores are enabled.  The problem is the test setup and teardown are not written with test concurrency in mind.

[2017-04-08 10:56] jayvdb commented on #1575
Note using Circle trusty by default is https://github.com/coala/coala-bears/issues/869

[2017-04-08 12:37] yash-nisar commented on #1575
Didn't get you @jayvdb ?

[2017-04-08 16:08] incorrectusername commented on #1586
I think this should be labelled as `difficulty/newcomer` instead of `difficulty/low`.

[2017-04-08 20:46] userzimmermann opened #1593 "PyUnusedCodeBear produces wrong patches"
As can be seen here: https://github.com/coala/coala/pull/4070#pullrequestreview-31709702

The imported classes `Taste` and `TasteError` are unused, but the suggested patch only splits the import:

[code]