[2016-02-15 03:40] AbdealiJK opened #1 "Add rultor"
@sils1297 could you please do this ?

[2016-02-15 08:33] sils1297 commented on #1
Can't you just copy a basic config from coala-atom or so?

[2016-02-16 13:22] AbdealiJK commented on #1
I still get:

[code]

[2016-02-16 14:44] sils1297 commented on #1
should be solved

2016-02-16 14:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-16 15:19] #1 closed

[2016-02-17 05:31] AbdealiJK opened #3 "Add circleci, codecov and rultor"
Add circleci, rultor and codecov

 - Circleci needs to be enabled on their website
 - Codecov needs to be enabled (maybe also ass a secret token on circleci?)
 - Add pypi pushing in rultor - Needs that secret key thing to be done

[2016-02-17 17:52] AbdealiJK commented on #3
@sils1297 could you do this by tomorrow ?

[2016-02-17 17:53] sils1297 commented on #3
circleci is enabled, codecov should work when you add the command as usual, if it doesn't ping me. I'll do PyPI until tomorrow 2 PM UTC.

[2016-02-18 10:02] sils1297 commented on #3
- [x] circle
- [x] codecov
- [ ] rultor

[2016-02-18 10:37] sils1297 opened #5 "Move bears here"
all bears should be moved into this repository, ideally todayish

[2016-02-18 10:38] sils1297 opened #6 "Add issue labels"
We at least want the difficulty labels and some others to categorize issues in this repository. @AbdealiJK can you do that?

[2016-02-18 10:39] sils1297 opened #7 "Make coala-bears PyPI package"
@AbdealiJK needs to get me at least a basic setup.py, then I can register a PyPI package and solve #3

[2016-02-18 10:40] sils1297 opened #8 "Move bear related issues to this repository"
after the move

[2016-02-18 10:40] sils1297 commented on #8
depends on #6

[2016-02-18 10:41] sils1297 commented on #3
basic rultor stuff is there, rest can be implemented in #7

[2016-02-18 10:41] #3 closed

[2016-02-18 10:42] sils1297 opened #9 "Make each bear an own PyPI package"

[2016-02-18 11:10] AbdealiJK commented on #6
I didn't have access the last time I checked

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎18-‎02-‎2016 16:08
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: [coala-bears] Add issue labels (#6)

We at least want the difficulty labels and some others to categorize issues in this repository

[2016-02-18 11:12] sils1297 commented on #6
Check again, if you don't have access now that's a github bug.

[2016-02-18 15:27] AbdealiJK commented on #9
For the record - I'm against this.
It's just way too many bears :(

[2016-02-18 15:28] sils1297 commented on #9
you'd rather group them?

[2016-02-18 15:47] AbdealiJK commented on #9
I would.
But I don't know how ...
Grouping based on language seems redundant because people would use only 1 specific tool for a language.
For eg: People using pep8 won't use pylint and flake8

-----Original Message-----
From: "Lasse Schuirmann" <notifications@github.com>
Sent: ‎18-‎02-‎2016 20:58
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gma

[2016-02-18 16:32] sils1297 commented on #9
groups by languages make sense IMO but the borders are fuzzy, we might have C tools and tools that support C and Java because they have similar syntactic elements. The only atomic unit we can come up with is a bear which is why I think we should make each bear available individually - though we *definitely* should have an automated process for releasing them.

[2016-02-18 22:55] Makman2 commented on #9
we should part them, if someone wants to use a specific - let's say - C-linter, he doesn't want to get all C-linters just because we group all bears together that operate on C. Even though we get many bears, why should this be a problem? Everyone gets a unique name, it's up to PyPi to handle this (and I really believe that shouldn't be a problem ;D).
I'm in for additional grouping of bears into pa

[2016-02-18 22:55] Makman2 commented on #9
Yeah I know this requires quite some packaging and publishing infrastructure, but I believe it's worth the effort^^

[2016-02-19 03:13] AbdealiJK commented on #9
Then do we keep all these bears together in a single repo or in different ones ?

-----Original Message-----
From: "Mischa Krüger" <notifications@github.com>
Sent: ‎19-‎02-‎2016 04:25
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala-bears] Make each bear an own PyPI package (#9)

Yeah I know this requires quite some pa

[2016-02-19 05:17] #6 closed

[2016-02-19 09:17] Makman2 commented on #9
I would keep them here, then we need the deployment infrstructure only once and we have a single address when we need to deal with bears -> this repo :)

[2016-02-19 11:53] #7 closed

[2016-02-19 12:09] sils1297 commented on #9
We definitely need something smart, we cannot do a development release of 50 packages if only one of them changes.

[2016-02-19 12:14] sils1297 commented on #9
So we could make rultor look at the git commits since master when doing a merge and just releasing bears that have changed. And each bear should get an own directory or something. That could work.

[2016-02-19 12:15] nishant-mor opened #11 "SwiftLint for Swift"
we can use https://github.com/realm/SwiftLint

[2016-02-19 14:40] #5 closed

[2016-02-20 17:02] AbdealiJK opened #14 "Add OSX and Windows (Travis, Appveyor)"

[2016-02-21 11:42] #14 closed

[2016-02-21 15:00] sils1297 opened #18 "PyLintBear: Use checker/rule as origin"
_From @sils1297 on February 11, 2016 13:19_

this way the user can even ignore one pylint rule individually.

If a newcomer wants to do this please ask us, this description isn't the best one... or just look in `Lint.py` and `CheckstyleBear.py` which actually does this.

_Copied from original issue: coala-analyzer/coala#1408_

[2016-02-21 15:01] sils1297 opened #19 "RadonBear throws exceptions"
_From @sils1297 on February 18, 2016 14:10_

[code]

_Copied from original issue: coala-analyzer/coala#1578_

[2016-02-21 15:02] sils1297 commented on #19
_From @AbdealiJK on February 19, 2016 4:41_

Another exception:

[code]

[2016-02-21 15:02] sils1297 opened #20 "shellcheck bear"
_From @sils1297 on February 18, 2016 0:45_

https://github.com/koalaman/shellcheck

_Copied from original issue: coala-analyzer/coala#1564_

[2016-02-21 15:02] AbdealiJK opened #21 "bug: PHPLintBearTest.test_run fails on test"
_From @aayn on February 19, 2016 13:58_

All other tests pass. Only this one fails.

# Steps to reproduce
1. Run `py.test`.

# Actual results

![phpbear](https://cloud.githubusercontent.com/assets/9693267/13177206/a1782c90-d73d-11e5-8358-a14509127b3f.png)

# Expected results
Test should pass.

# Additional info

Output to some commands:
![phpv](https://cloud.githubusercontent.com/assets/9693267/13

[2016-02-21 15:02] AbdealiJK commented on #21
_From @sils1297 on February 19, 2016 14:10_

@aayn can you try running `./coala -c /dev/null -b PHPLintBear -f bears/tests/php/**/phplint_test1.php -L DEBUG` from coala root?

[2016-02-21 15:02] AbdealiJK commented on #21
_From @aayn on February 20, 2016 6:4_

Here you go:
![sdb](https://cloud.githubusercontent.com/assets/9693267/13194853/db8ab438-d7c5-11e5-97cc-f444bb09d8f5.png)

[2016-02-21 15:02] AbdealiJK commented on #21
_From @sils1297 on February 20, 2016 11:45_

what does `php -l bears/tests/php/test_files/phplint_test1.php` give?

[2016-02-21 15:02] AbdealiJK commented on #21
_From @aayn on February 20, 2016 11:50_

This:
![phpl](https://cloud.githubusercontent.com/assets/9693267/13196529/285aa734-d7f6-11e5-94da-0349805af79f.png)

[2016-02-21 15:02] AbdealiJK commented on #21
_From @sils1297 on February 20, 2016 11:51_

interesting, I get

[code]

with PHP 5.6.17

[2016-02-21 15:02] AbdealiJK commented on #21
I get:
[code]

with `5.5.9-1` ... which means that only his specific version has this issue ? (As I have a lower version and @sils1297 has a higher one)

@aayn This is a fedora if I remember correct ? Have you changed your php configs anywhere ?

[2016-02-21 15:02] sils opened #22 "Detect messy code in PHP"
_From @sils1297 on February 17, 2016 15:37_

https://github.com/phpmd/phpmd

either that can be used directly or the lib it uses.

_Copied from original issue: coala-analyzer/coala#1555_

[2016-02-21 15:03] sils1297 opened #23 "Julia bear integration"
_From @sudheesh001 on February 14, 2016 18:57_

Julia is a high-level, high-performance dynamic programming language for technical computing, with syntax that is familiar to users of other technical computing environments.

It looks like there's a linter available here https://github.com/tonyhffong/Lint.jl

_Copied from original issue: coala-analyzer/coala#1482_

[2016-02-21 15:03] sils1297 commented on #23
_From @AbdealiJK on February 16, 2016 11:42_

@niraj8 are you still working on this ?

[2016-02-21 15:03] sils1297 commented on #23
_From @niraj8 on February 16, 2016 13:23_

@AbdealiJK I have read the docs for writing a Bear and gone through other Bears in the repo, but I haven't written any code yet. I'll work on it today.

[2016-02-21 15:03] AbdealiJK opened #24 "RadonBear throws exceptions"
_From @sils1297 on February 18, 2016 14:10_

[code]

_Copied from original issue: coala-analyzer/coala#1578_

[2016-02-21 15:03] AbdealiJK commented on #24
Another exception:

[code]

[2016-02-21 15:03] AbdealiJK commented on #24
_From @sils1297 on February 21, 2016 15:2_

This issue was moved to coala-analyzer/coala-bears#19

[2016-02-21 15:04] AbdealiJK commented on #24
closed as copy of https://github.com/coala-analyzer/coala-bears/issues/19

[2016-02-21 15:04] #24 closed

[2016-02-21 15:05] sils opened #25 "German sample in LanguageToolBearTest isn't good german"
_From @sils1297 on February 14, 2016 16:57_

A german newcomer will probably get that right easily :)

difficulty/newcomer
area/bears
type/test

_Copied from original issue: coala-analyzer/coala#1473_

[2016-02-21 15:05] sils1297 opened #26 "PyImportSortBear add more args"
_From @AbdealiJK on February 10, 2016 20:42_

https://github.com/timothycrosley/isort/wiki/isort-Settings

known first and third party imports needs to be added to PyImportSortBear

_Copied from original issue: coala-analyzer/coala#1403_

[2016-02-21 15:05] sils1297 opened #27 "ESLint Bear"
_From @sils1297 on February 10, 2016 17:2_

http://eslint.org/docs/user-guide/formatters/#json

The json output even contains fixes - let's take this it's awesome.

_Copied from original issue: coala-analyzer/coala#1399_

[2016-02-21 15:05] sils1297 commented on #27
@sudheesh001 please use the json output as documented at http://eslint.org/docs/user-guide/formatters/#json , sample output properly formatted at http://pastebin.com/arTMxXq6 .

It'll give a neat output with instructions on how you can fix the problem so you can create a diff automatically and fix it for the user.

[2016-02-21 15:05] sils1297 commented on #27
You'll want to set the result origin to `ESLintBear (<rule>)` I think

[2016-02-21 15:06] sils opened #28 "CSSCombBear"
_From @sils1297 on February 10, 2016 16:29_

http://csscomb.com

_Copied from original issue: coala-analyzer/coala#1398_

[2016-02-21 15:06] sils1297 commented on #28
_From @AbdealiJK on February 16, 2016 6:35_

We *could* write it to a temporary file, let csscomb fix that and read it back - but that's really really ugly.
i suggest we wait until https://github.com/csscomb/csscomb.js/issues/451 is done.

Blocked by https://github.com/csscomb/csscomb.js/issues/451

[2016-02-21 15:06] sils1297 opened #29 "Bear: Check for broken links"
_From @AbdealiJK on February 10, 2016 16:25_

Owing to the numerous broken links we have https://github.com/coala-analyzer/coala/issues/1383 https://github.com/coala-analyzer/coala/issues/1350 it would be really awesome if we could make a bear which tests whether a markdown or rst file has any broken links

We could simply use the URL regex which will be able to give us a lost of links. After whic

[2016-02-21 15:06] sils1297 commented on #29
heh, that's neat :) really neat!

[2016-02-21 15:06] sils1297 commented on #29
_From @SanketDG on February 10, 2016 16:59_

Regarding sending the requests, will we stick to `urllib2` or use `requests`?

[2016-02-21 15:06] sils1297 commented on #29
_From @AbdealiJK on February 10, 2016 17:1_

@SanketDG either would be fine IMO
As long as it works

On Wed, Feb 10, 2016 at 10:29 PM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-02-21 15:06] sils1297 commented on #29
_From @SanketDG on February 13, 2016 7:32_

I am planning to do the following:

First of all I am checking every line against a regex pattern to filter out the urls, along with the line numbers.

I am checking if the status code is not `20x`, then:

- If code is `40x` or `50x`, display the `The link is invalid. Returns <code>`
- If code is `30x`, display the diff with the updated redirect url.

No

[2016-02-21 15:06] sils1297 commented on #29
That sounds sane and awesome!

2016-02-13 8:32 GMT+01:00 Sanket Dasgupta <notifications@github.com>:

[2016-02-21 15:06] sils1297 commented on #29
_From @AbdealiJK on February 13, 2016 11:46_

e.reason sounds good to me

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎13-‎02-‎2016 13:02
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] Bear: Check for broken links (#1396)

I am planning to do the following:
First of all I am checking ever

[2016-02-21 15:06] sils1297 commented on #29
_From @AbdealiJK on February 14, 2016 14:51_

@Redridge mentioned on gitter -

[2016-02-21 15:06] sils1297 opened #30 "InferBear"
_From @sils1297 on February 9, 2016 23:23_

http://fbinfer.com/ - works on Objective-C, Java, or C code and seems to do quite some cool stuff. I'm not sure where we want to put it as it doesn't really belong in one of the language folders, maybe in the c_languages...

This is a simple wrapper if infer is done properly it should be simple to do.

_Copied from original issue: coala-analyzer/coala#13

[2016-02-21 15:06] sils1297 commented on #30
_From @NalinG on February 10, 2016 7:26_

Hi, so we need to make a bear using infer to do stuff that infer does.
Please correct me if I am wrong

[2016-02-21 15:06] sils1297 commented on #30
_From @AbdealiJK on February 10, 2016 7:27_

Nalin, thats exactly what needs to be done

On Wed, Feb 10, 2016 at 12:56 PM, Nalin Goel <notifications@github.com>
wrote:

[2016-02-21 15:06] sils1297 commented on #30
_From @NalinG on February 10, 2016 7:34_

I would like to work on this bug, can you assign it to me.

[2016-02-21 15:06] sils1297 commented on #30
_From @NalinG on February 10, 2016 12:23_

Is it better to discuss here or on the gitter channel ?

[2016-02-21 15:07] sils1297 opened #31 "Add errcheck bear for Go"
_From @sudheesh001 on February 9, 2016 5:44_

Following up with #1267
Breaking that issue into smaller bugs as recommended by @sils1297 for indiahacks

http://dominik.honnef.co/posts/2014/12/an_incomplete_list_of_go_tools/

_Copied from original issue: coala-analyzer/coala#1335_

[2016-02-21 15:07] sils1297 opened #32 "XML Bear"
_From @sils1297 on February 7, 2016 16:8_

apparently I did https://github.com/coala-analyzer/coala/commit/20fdbd88f3d638365776e75f7af9f01e6d18af29 not sure how good this is reusable

_Copied from original issue: coala-analyzer/coala#1309_

[2016-02-21 15:07] sils1297 commented on #32
_From @yash14123 on February 9, 2016 2:8_

Can you explain this a little bit more?

[2016-02-21 15:07] sils1297 commented on #32
_From @Makman2 on February 9, 2016 3:44_

This issue is about implementing a new bear that scans through XML files. For this purpose @sils1297 used the python built-in `xml` module inside his commit.
What actual analyze routines this bear shall implement is up to its writer :)

[2016-02-21 15:07] sils1297 opened #33 "Code Duplication Bear"
_From @sils1297 on December 22, 2015 13:32_

Would be nice to have a code duplication bear for other languages than C. https://github.com/codeclimate/codeclimate-duplication provides that for some languages, would be awesome to integrate with that.

_Copied from original issue: coala-analyzer/coala#1158_

[2016-02-21 15:07] sils opened #34 "DocumentationFormatBear"
_From @Makman2 on December 16, 2015 23:34_

The documentation extraction routines are ready now, what needs to be done next:
1. documentation parsing machinery:
   This should work with regexes or similar. Also this shall be configured for each language inside a coafile!
2. documentation reassembling:
   Shouldn't be problematic using the current `DocumentationComment` class. Just a nice function

[2016-02-21 15:07] sils1297 commented on #34
actually it would be nice to do things like add/remove periods after the end of a parameter description or capitalize/uncapicalize the first char of a description. This way we can get rid of https://github.com/coala-analyzer/coala/issues/173 in the same run.

[2016-02-21 15:07] sils opened #35 "JSONFormatBear: Parse exception message"
_From @sils1297 on December 13, 2015 13:31_

Would be a nice feature to show line and column automatically, instead of having it in the message:

`This file does not contain parsable JSON. 'Expecting property name enclosed in double quotes: line 2 column 7 (char 8)'`

_Copied from original issue: coala-analyzer/coala#1130_

[2016-02-21 15:08] sils1297 commented on #35
_From @SanketDG on January 27, 2016 19:5_

What is the intended behaviour for this? What do you mean by:

[2016-02-21 15:08] sils1297 commented on #35
_From @Makman2 on January 27, 2016 19:18_

@SanketDG I think @sils1297 means parsing the message to extract the position where the JSON style error occurred. So you get a result with position values and the message would just be `Expecting property name enclosed in double quotes`. @sils1297 Did I understand that right?

[2016-02-21 15:08] sils1297 commented on #35
Yes. To express it more complicated but IMO exact, the exception contains
that info in the message as text, we want it as result metadata.
On 27 Jan 2016 20:18, "Mischa Krüger" <notifications@github.com> wrote:

[2016-02-21 15:08] sils1297 commented on #35
@jjsg hey, need help?

[2016-02-21 15:08] sils1297 commented on #35
Until further notice I'm assuming you're not interested anymore, simply ping me otherwise.

[2016-02-21 15:08] sils1297 commented on #35
_From @jjsg on February 15, 2016 8:25_

@sils1297 hey i m little slow, but working on it

[2016-02-21 15:08] sils opened #36 "Make LocalBearTestHelper robust"
_From @AbdealiJK on December 8, 2015 13:31_

Currently, `LocalBearTestHelper` simply checks if there are results that are yielded or not.
Would be considerably better is we give it a list of line, cols where the result should yield in a given file.

_Copied from original issue: coala-analyzer/coala#1111_

[2016-02-21 15:08] sils1297 commented on #36
@AbdealiJK I think we should support both, it's nice to have those simple tests sometimes IMO

[2016-02-21 15:08] sils1297 commented on #36
_From @AbdealiJK on December 8, 2015 13:59_

Yes, i meant it as an optional thing

On Tue, Dec 8, 2015 at 7:18 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-21 15:08] sils1297 commented on #36
The helper should also create the actual files so it can be used well with linters that use file input.

[2016-02-21 15:09] sils1297 opened #37 "annotation bear"
_From @sils1297 on November 13, 2015 13:28_

a bear that takes the language definition and annotates each line with simple properties like "from here to there is a comment", "from here to there is a string" and so on. This is intended to be used by other bears for simpler analysis functionality

_Copied from original issue: coala-analyzer/coala#1040_

[2016-02-21 15:09] sils1297 commented on #37
_From @AbdealiJK on December 12, 2015 5:45_

I think we may want a abstracted AST bear ?
Something that just creates ASTs (using pre existing packages) and let's each bear do things with them.

[2016-02-21 15:09] sils1297 commented on #37
The idea with this one was more simple, a real universal AST isn't really viable so the idea was that we have some light annotations here and provide some graphs and other language independent representation at other places so some algorithms might use different abstractions. Or we could try making an extensible AST later.

[2016-02-21 15:09] sils1297 opened #38 "Clone Decection: Make variable/constatn/function a property of the CVs"
_From @sils1297 on July 24, 2015 14:10_

_Copied from original issue: coala-analyzer/coala#867_

[2016-02-21 15:09] sils1297 opened #39 "ClangCodeCloneDetectionBear: Add switch/case support"
_From @sils1297 on June 11, 2015 18:40_

Counting conditions for clang currently ignore that which is bad.

_Copied from original issue: coala-analyzer/coala#652_

[2016-02-21 15:09] sils1297 commented on #39
So the way to do this would be to count the condition with the `Is condition` CC and the bodies with the `In condition` CCs so nested things are recognized right.

[2016-02-21 15:10] sils1297 opened #40 "indentation bear"
_From @sils1297 on February 5, 2015 16:43_

shouldn't be that complex, usually you only have to look at brackets (and strings and commits because you should ignore brackets there.) and colons or so. I think we can do a pretty generic algorithm for that.

_Copied from original issue: coala-analyzer/coala#225_

[2016-02-21 15:10] sils1297 commented on #40
depends on #250

[2016-02-21 15:10] sils1297 commented on #40
#250 is in review and work can be build upon that

[2016-02-21 15:10] sils1297 commented on #40
similar to our matlabindentationbear

[2016-02-21 15:10] sils1297 commented on #40
see https://github.com/coala-analyzer/coala/blob/master/bears/matlab/MatlabIndentationBear.py for initial approach, something like that could work well for basic indentation checking. We then need to add things like correct bracket positions and stuff like that, should be possible.

[2016-02-21 15:10] sils1297 commented on #40
_From @AbdealiJK on February 16, 2016 11:46_

@sils1297 why not use a language specific linter in such cases ? Writing your own logic is tiresome and not required IMO
Like `indent` for C languages
PEP8 does this for python
PHP lint does it for php
etc etc

[2016-02-21 15:10] sils1297 commented on #40
because having one indentation engine that is usable for lots of languages
would be awesome, remember the goal of coala is not to just wrap linters
but also allow creation of new routines for new languages. That also makes
it very easy to at least provide some basic indentation support for
whatever languages users demand.

2016-02-16 12:46 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-21 15:10] sils1297 commented on #40
_From @Makman2 on February 16, 2016 17:36_

agreeing with @sils1297. Even though we focus on providing functionality by implementing linters, self-written bears need utilities for code-analysis :)

[2016-02-21 15:10] sils1297 commented on #40
_From @Redridge on February 18, 2016 18:31_

As @sils1297 said, this requires much more planning than I initially thought. I say better leave it for now.

[2016-02-21 15:10] sils1297 commented on #40
Can you share your experiences and drafts so we can build on it the next
time?

2016-02-18 19:31 GMT+01:00 Alexandros Dimos <notifications@github.com>:

[2016-02-21 15:10] sils1297 commented on #40
_From @abhsag24 on February 21, 2016 12:21_

decisions:
1.  will take `indent_types` , and comments as dict parameters , where the key is a `start_indent` and value is an `end_indent` , for comments the key and value pair are useful for multi-line comments, where key can be start of comment and value the end.
2. Languages like python can have `end_indent` as None.
3. Basic structure to be initiall

[2016-02-21 15:10] sils1297 commented on #40
_From @Redridge on February 21, 2016 13:5_

Here is my draft from when I tried it.
https://github.com/Redridge/coala/commit/ca8df0cbdb2e885d77e948a838386c9e3eed0da4

It is able to:
- Get the dict out of .coalang files using LanguageDefinition
- Indent C files without comments or missleading strings (with ';', '{', '}' int them)

I don't know if it is of much help though

[2016-02-21 15:12] sils1297 opened #41 "Bear for R"
_From @AbdealiJK on February 16, 2016 12:45_

We can use lintr - https://github.com/jimhester/lintr

_Copied from original issue: coala-analyzer/coala#1534_

[2016-02-21 15:12] sils1297 commented on #41
_From @nishant-mor on February 16, 2016 13:8_

But it is not available on apt-get or npm.

[2016-02-21 15:12] sils1297 commented on #41
_From @AbdealiJK on February 16, 2016 13:10_

Where is it available then ?

[2016-02-21 15:12] sils1297 commented on #41
_From @AbdealiJK on February 16, 2016 13:13_

lintr seems to be in cran - https://cran.r-project.org/web/packages/lintr/README.html

[2016-02-21 15:12] sils1297 commented on #41
_From @nishant-mor on February 16, 2016 16:21_

@AbdealiJK
It is written in R and needs to be installed inside R as a package. there is no executable which can be put into bear.
Any other method to execute this ?

[2016-02-21 15:12] sils1297 commented on #41
_From @AbdealiJK on February 16, 2016 16:23_

@nishant-mor Im nor sure.

 - you can run the R terminal and run it maybe ?
 - or you could find another linter (I couldnt find any other surprisingly)

You may want to check `SublimeLinter-contrib-R` and see what theyve done

[2016-02-21 15:12] sils1297 commented on #41
_From @nishant-mor on February 16, 2016 16:25_

https://github.com/AtomLinter/linter-lintr   => Atom package , can this be used ?

[2016-02-21 15:12] sils1297 commented on #41
_From @AbdealiJK on February 16, 2016 16:26_

@nishant-mor thats a plugin for an editor - it uses `lintr` internally.
It won't be of much use

Although, you could read and check how they use `lintr` to get results (to display in atom)

[2016-02-21 15:12] sils1297 commented on #41
_From @AbdealiJK on February 17, 2016 17:31_

Hey, that PR has been pushed now.
You can do ` -e 'library("lintr")' -e 'lint("{filename}")'` as arguments now

[2016-02-21 15:13] sils1297 opened #42 "Appveyor not installing go dependencies"
_From @AbdealiJK on February 15, 2016 13:50_

https://ci.appveyor.com/project/sils1297/coala/build/1.0.3270

Says:
[code]

_Copied from original issue: coala-analyzer/coala#1503_

[2016-02-21 15:13] sils opened #43 "Use golang dependency manager to go get the dependencies"
_From @sudheesh001 on February 15, 2016 13:10_

Similar to how we have `requirements.txt` for `pip` and `package.json` for `npm` we can also have a file holding the dependencies for golang

_Copied from original issue: coala-analyzer/coala#1501_

[2016-02-21 15:13] sils1297 commented on #43
Thought about that too, is there already a file format designed for that?

[2016-02-21 15:13] sils1297 commented on #43
_From @sudheesh001 on February 15, 2016 13:38_

I think `godep` takes a `json` in a specified format, i'll fix this once #1499 lands into master

[2016-02-21 15:13] sils1297 commented on #43
#1499 has landed :)

[2016-02-21 15:13] sils1297 commented on #43
_From @AbdealiJK on February 19, 2016 14:24_

not fixed yet :( Goopfile didnt work as expected in circleci

[2016-02-21 15:15] sils opened #44 "Cleanup GoReturnsBearTest by removing unnecessary information"
_From @sudheesh001 on February 15, 2016 19:48_

the GoReturnsBearTest contains the following which needs to be removed

[code]

Put the good_files in the same line like the bad_files

[code]

Also correct GoReturnsBear's `run()` documentation to show `using goreturns` instead of `using gofmt`

difficulty/newcomer

_Copied from original issue: coala-analyzer/coala#1516_

[2016-02-21 15:15] sils1297 commented on #44
_From @satyamamrev on February 16, 2016 7:39_

I want to contribute to this

[2016-02-21 15:15] sils1297 commented on #44
_From @sudheesh001 on February 16, 2016 8:24_

@satyamamrev You could get started with http://coala.readthedocs.org/en/latest/Users/Install.html#installing-coala-from-source

Here are the contribution guidelines http://coala.readthedocs.org/en/latest/Getting_Involved/README.html

[2016-02-21 15:15] sils1297 commented on #44
_From @AbdealiJK on February 21, 2016 11:22_

@satyamamrev is doing this in https://github.com/coala-analyzer/coala/pull/1533

@sils1297 he needs to be added to the org

[2016-02-21 15:15] sils1297 commented on #44
Invitation pending to satyamamrev and hypothesist

2016-02-21 12:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-21 15:16] sils1297 opened #45 "Naming scheme for test classes using verify_local_bear"
_From @AbdealiJK on February 17, 2016 19:58_

The naming of classes and functions in tests should be normalized.
Specially those using `verify_local_bear` where the names are as bad as `ProseLintBear1Test`, `ProseLintBear2Test`, etc

_Copied from original issue: coala-analyzer/coala#1560_

[2016-02-21 15:16] sils1297 commented on #44
Assigning @hypothesist since he accepted the invitation.

[2016-02-21 15:17] sils1297 opened #46 "Puppet Bear for linting puppet files"
_From @sudheesh001 on February 14, 2016 18:49_

bears/configfiles
difficulty/low

https://github.com/rodjek/puppet-lint

_Copied from original issue: coala-analyzer/coala#1480_

[2016-02-21 15:17] sils1297 commented on #46
_From @sudheesh001 on February 15, 2016 10:17_

@gitmate-bot assign @sudheesh001

[2016-02-21 15:17] sils1297 commented on #46
nope, doesn't work that, though in the future gitmate will analyse statistics and auto assign people if they worked a lot on issues with similar labels :)

[2016-02-21 15:17] sils1297 opened #47 "checkstyle.jar: Download it as requirement-install-step"
_From @Makman2 on February 13, 2016 22:33_

I would propose for a clean requirement-install-handling to populate `./setup.py` with two new commands, e.g. `install-test-requirements` and `install-requirements`. These two commands shall do the pip install via `pip3 install -r requirements.txt` (or `test-requirements.txt`) and also allows to handle custom install steps like the checkstyle.jar downloa

[2016-02-21 15:17] sils1297 commented on #47
_From @AbdealiJK on February 14, 2016 4:40_

I think the better way to do it would be to add a install-requirements form each bear and let each bear handle it individually

Something like `check_prerequisites` we add a `install_prerequisites`.
Here the bear can do whatever it wants.
We can also add helper functions to run `pip`, `npm`, `gem` commands to make it easier.

This would also help in htt

[2016-02-21 15:17] sils1297 commented on #47
_From @Makman2 on February 14, 2016 22:15_

Not a bad idea^^

[2016-02-21 15:17] sils1297 opened #48 "setup.py downloads possibly evil file via unsecured connection"
_From @sils1297 on February 11, 2016 13:40_

I got this comment on my blog recently:

And I think we should think about that. We're downloading checkstyle.jar there which shouldn't be evil. Compiling it from source though sounds like to be avoided IMO.

_Copied from original issue: coala-analyzer/coala#1410_

[2016-02-21 15:17] sils1297 commented on #48
_From @AbdealiJK on February 11, 2016 13:42_

Bear binary would solve this to some extent.

On Thu, Feb 11, 2016 at 7:10 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-21 15:17] sils1297 commented on #48
Yes that is related though it only moves the problem to some other script.

[2016-02-21 15:17] sils1297 commented on #48
_From @Makman2 on February 11, 2016 14:30_

To solve that cleanly imo we have two options:
1. Don't download the .jar, implement prerequisites for the bear to require the .jar and java. If it's not installed it's the users fault and he needs to install the packages on his platform himself. Since we don't install java itself on that way, this would be a viable solution.
2. If we want to install the

[2016-02-21 15:18] sils1297 opened #49 "GoVetBear - skip condition invalid"
_From @AbdealiJK on February 9, 2016 3:20_

I have ubuntu 14.04 and was trying to get all the tests in coala to work for me.
I noticed that GoVetBearTest kept failing and found out that in GoVet the skip condition is set to `go`.
This is not right because that isn't the correct thing to check. I had `go` installed but not `go vet`.

I had to install `golang-go.tools` to get the `vet` package in `g

[2016-02-21 15:18] sils1297 commented on #49
_From @AbdealiJK on February 9, 2016 5:43_

The skip condition to be to check if `go help vet` returns 0 or not

[2016-02-21 15:18] sils1297 commented on #49
_From @NalinG on February 9, 2016 10:11_

Hi, I would like to work on this issue.
I checked the GoVetBear.py file but is just called the self.lint method.
Do we have to change the lint method or I am missing something.

Thank You

[2016-02-21 15:18] sils1297 commented on #49
_From @AbdealiJK on February 9, 2016 10:30_

The ship condition is in GoVetBearTest
The @SkipIf checks for go, not for go vet

-----Original Message-----
From: "Nalin Goel" <notifications@github.com>
Sent: ‎09-‎02-‎2016 15:41
To: "coala-analyzer/coala" <coala@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala] GoVetBear - skip condition invalid (#1329)

Hi, I would

[2016-02-21 15:18] sils1297 commented on #49
@NalinG please work only on one newcomer issue, we don't have a lot of them because they take a lot of work to create.

[2016-02-21 15:18] sils1297 commented on #49
_From @NalinG on February 9, 2016 18:41_

Sorry for the trouble.
I will take care in the future.

[2016-02-21 15:18] sils1297 commented on #49
no problem

[2016-02-21 15:18] sils1297 opened #50 "Add rust-clippy bear for rust support"
_From @sudheesh001 on February 8, 2016 19:19_

Rust clippy is one of the linters for `rustc` the Rust programming language.
https://github.com/Manishearth/rust-clippy#usage

It gives the linter warning in the following format
[code]

_Copied from original issue: coala-analyzer/coala#1324_

[2016-02-21 15:18] sils1297 commented on #50
@sudheesh001 does it support another output

[2016-02-21 15:18] sils1297 commented on #50
_From @AbdealiJK on February 9, 2016 1:44_

You may want to try `rustc` and `cargo` as Atom and Sublime already made that plugin and it'd be much easier to implement (as we have the regex) - https://github.com/AtomLinter/linter-rust and https://github.com/oschwald/SublimeLinter-contrib-rustc

http://atomlinter.github.io/ is a list of all available atom linters

[2016-02-21 15:18] sils1297 commented on #50
_From @sudheesh001 on February 13, 2016 8:16_

I think this can be parked for some time, `rust-clippy` works only on the nightly builds of `rustc`, Do we really want to download the binaries / compile rustc as a part of our build procedure to run this ? I've asked Manish, the repo owner for `rust-clippy` for a workaround to this.

[2016-02-21 15:18] sils1297 commented on #50
@sudheesh001 can you give a link to the upstream bug?

[2016-02-21 15:18] sils1297 commented on #50
_From @sudheesh001 on February 13, 2016 13:2_

@sils1297 Its not a bug, its in their documentation itself https://github.com/Manishearth/rust-clippy#usage for the nightly only support

[2016-02-21 15:19] sils1297 opened #51 "clang doesn't find stddef.h"
_From @sils1297 on December 3, 2015 14:2_

A bug related to all clang bears.

https://stackoverflow.com/questions/19642590/libtooling-cant-find-stddef-h-nor-other-headers/23314921#23314921

_Copied from original issue: coala-analyzer/coala#1104_

[2016-02-21 15:19] sils1297 commented on #51
it works for me with `clang_cli_options=-I,/usr/lib/clang/3.7.0/include`, but that's version specific, maybe we can bake something from that

[2016-02-21 15:19] sils1297 commented on #51
related bug: https://github.com/drothlis/clang-ctags/issues/5 , though they have no solution yet. Maybe we could solve that in the cindex? I'm still waiting for the python3 clang bindings to appear as a pip package.

[2016-02-21 15:19] sils1297 commented on #51
We're not far from using the clang bindings package. That'll make things simpler.

[2016-02-21 15:19] sils1297 commented on #51
I hope...

[2016-02-21 15:19] sils1297 commented on #51
I need to retest that as we're using the clang bindings now.

[2016-02-21 15:19] sils1297 opened #52 "feature: Make PyLintBear global"
_From @sils1297 on July 6, 2015 12:44_

Shouldn't be that hard actually, add `{file}` to the msg pattern and parse it. Attention: that msg pattern may contain any signs dependent on the platform, so we probably want some multi-char delimiter like `PYLINT_PATH_DELIM` for seperating it from the rest, anyone using a PYLINT_PATH_DELIM in his path is hereby declared stupid and coala-hostile :)

_Copied

[2016-02-21 15:19] sils1297 commented on #52
_From @AbdealiJK on July 6, 2015 12:46_

if this is done - the PIPE needs to be changed to tmpfile also

On Mon, Jul 6, 2015 at 6:14 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-02-21 15:19] sils1297 commented on #52
_From @Makman2 on November 8, 2015 22:24_

@sils1297 Maybe move to 0.4?

[2016-02-21 15:20] sils1297 commented on #52
we wanted this only for the new bear design didn't we? I don't see why we still need this...

[2016-02-21 15:20] #52 closed

[2016-02-21 15:21] sils1297 opened #53 "set up requires.io correctly"
_From @sils1297 on February 11, 2016 17:24_

doesn't seem to work

_Copied from original issue: coala-analyzer/coala#1421_

[2016-02-21 15:21] sils1297 commented on #53
it sends PRs now but they suck. Needs some further config anyway, maybe I'll just let it send me mails.

[2016-02-21 15:21] sils1297 commented on #53
This needs complete new setup for this repository.

[2016-02-21 15:27] sils1297 opened #54 "hlint for haskell"
_From @sils1297 on February 18, 2016 0:49_

this one suggests fixes sometimes with hints, awesome!

_Copied from original issue: coala-analyzer/coala#1565_

[2016-02-21 15:27] sils1297 commented on #54
https://hackage.haskell.org/package/hlint#readme

[2016-02-21 15:29] sils1297 opened #55 "Add a README"

[2016-02-21 15:32] sils1297 opened #56 "Move test dir to root level"
difficulty/low

[2016-02-21 16:26] #29 closed

[2016-02-21 16:28] sils1297 opened #58 "InvalidLinkBear: Don't include trailing | in URL"
We shouldn't do that because rst uses this style for links: `|http://url/|` and the last `|` is matched by the current regex.

[2016-02-21 16:29] sils1297 opened #59 "InvalidLinkBear: Show URL that doesn't work"
This way the user can check if it even matched it right or it's a bug.

[2016-02-21 17:06] sils1297 commented on #55
should contain badges and stuff just like the one for coala

[2016-02-21 18:28] sils1297 opened #60 "YAML : yaml-js"
new bear needed for YAML validation, possibly using yaml-js

[2016-02-21 18:29] sils1297 opened #61 "SQL - sqlint"
New bear for SQL would be nice possibly using sqlint

[2016-02-21 18:45] sils1297 opened #62 "awk linting using `gawk --lint`"

[2016-02-21 18:49] sils1297 opened #63 "Validate CSVs against schema"
https://github.com/digital-preservation/csv-validator

[2016-02-21 18:51] sils1297 opened #64 "scala linter"
we should have one: https://github.com/mcandre/linters#scala

difficulty/low

[2016-02-21 19:33] SanketDG opened #65 "Modify .gitignore to reflect this repo"
Remove redundant things and modify things that were `coala` specific to `coala-bears` specific

[2016-02-21 19:34] sils1297 commented on #65
anything specific?

[2016-02-21 19:41] SanketDG commented on #65
`coala.egg_info` should be `coala_bears.egg-info`. In general, it should be `*.egg_info/`

`coala.1`, `org.coala_analyzer.v1.service` should be removed.

This should also be done for the `coala` repository for bear specific things.

[2016-02-21 21:40] SanketDG opened #68 "ConsoleInteraction: change color to cyan for tabs and spaces"
For increased visibility.

[2016-02-21 21:40] #68 closed

[2016-02-21 22:27] #56 closed

[2016-02-21 22:52] sils1297 commented on #60
rather use https://pypi.python.org/pypi/yamllint since it's on pypi

[2016-02-21 23:00] SanketDG opened #71 "Ignore test-requirements.txt in py.test"
`test-requirements.txt` gets picked up by `py.test` because of the `test-` prefix. This should be avoided.

[2016-02-21 23:21] sils1297 commented on #71
cool, can be ignored in setup.cfg , a happy newcomer can do this ;)

[2016-02-22 02:12] AbdealiJK opened #72 "Better error messages on test fail"
All LocalBearTestHelpers based classes have horrible test messages. Earlier we had caught the case when the bear's output is None, and printed that it was none with the bear's message queue. But now, with the `Lint` class, we would love to have the `command`, `stdout_output`, and `stderr_output` shown even if the bear did not return None (as we need to see what command was executed.)

 1. I sugges

[2016-02-22 02:57] AbdealiJK commented on #62
Do people actually write complete programs using awk ? I thought it's only used intermittently in bash programs.
If we don't have an awk specific file - this wouldn't be useful, as there wont be any file we can use it on

[2016-02-22 09:11] sils1297 commented on #72
neat!

2016-02-22 3:12 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-22 10:35] #41 closed

[2016-02-22 10:35] #58 closed

[2016-02-22 10:35] #61 closed

[2016-02-22 10:35] #72 closed

[2016-02-22 13:29] AbdealiJK opened #75 "GitCommitBear - displays "HEAD commit has no message" though there is one"
Very few people are able to understand the current messages.
We should make it simpler.

[2016-02-22 15:27] sils1297 opened #77 "Codecov doesn't have reports on master"
I sent out a support request:

Awaiting response.

[2016-02-22 15:29] sils1297 commented on #55
Codecov badge is tracked at https://github.com/coala-analyzer/coala-bears/issues/77, for now we'll leacve this out.

[2016-02-22 15:40] sils1297 commented on #77
CC stevepeak , assuming this is a codecov problem.

[2016-02-22 15:40] sils1297 commented on #77
@stevepeak

[2016-02-22 16:06] stevepeak commented on #77
Not sure why caused this issue... but the database trigger did not create a branch record for master, which is super odd. I manually added the branch so now reports are visible on master.

Thanks!

[2016-02-22 16:07] sils1297 commented on #77
@tushar-rishav can you confirm that and make a newcomer bug?

[2016-02-22 16:08] sils1297 commented on #77
@stevepeak thanks for the fast response!

[2016-02-22 16:19] stevepeak commented on #77
@sils1297 I'm reviewing the db code now. Its very straight forward, confused why this happened. Thanks for pinging me on this :+1:

[2016-02-22 16:21] sils1297 commented on #77
Sure!

@stevepeak so https://codecov.io/github/coala-analyzer/coala-bears is not our master report, it may be the one I pointed you to because that was the master at that time but we'd rather have the current one... will it update correctly on the next fastforward?

[2016-02-22 16:22] sils1297 commented on #77
/me has a PR to merge actually :) https://github.com/coala-analyzer/coala-bears/pull/78

[2016-02-22 16:23] stevepeak commented on #77
It should update when the next commit comes through. Can you ping when when you submit one? I'll check back shortly to verify. Thanks!

[2016-02-22 16:23] #55 closed

[2016-02-22 16:26] sils1297 commented on #77
PR merged, build queued at https://circleci.com/gh/coala-analyzer/coala-bears/102 , done in approx. 5 minutes I guess.

[2016-02-22 16:39] tushar-rishav opened #80 "Add codecov badge to README.rst"
[codecov](http://shields.io/) badge is missing from `README.rst` . Add a badge with [https://codecov.io/github/coala-analyzer/coala-bears](https://codecov.io/github/coala-analyzer/coala-bears) as target.

[2016-02-22 16:41] sils1297 commented on #77
From slack

@stevepeak so the master sync doesn't seem to work: https://circleci.com/gh/coala-analyzer/coala-bears/102
I get the right report on https://codecov.io/github/coala-analyzer/coala-bears?ref=a435c7a8df1e7728ccfca7e5fdc80de3b393842e but not on https://codecov.io/github/coala-analyzer/coala-bear

[2016-02-22 17:14] sils1297 commented on #77
ok we consider this solved, assuming it'll update in the future.

[2016-02-22 17:14] #77 closed

[2016-02-22 17:15] sils1297 commented on #80
just as in the readme for the coala repo

[2016-02-22 17:47] #60 closed

[2016-02-22 19:39] siddhanjay commented on #80
As I am new here , can I take up this issue ?

[2016-02-22 19:40] ravinimmi commented on #33
@sils1297 I want to do this.

[2016-02-22 19:41] sils1297 opened #81 "ClangComplexityBear"
should be easy to use the clang ast to calculate cyclomatic complexity

[2016-02-22 19:43] sils1297 commented on #80
@siddhanjay I've invited you to the org, please accept and confirm, then I can assign you.

[2016-02-22 19:49] siddhanjay commented on #80
@sils1297 I have accepted the invitation

[2016-02-22 19:56] sils1297 commented on #80
@siddhanjay awesome - it's yours! Welcome :) You can get help at https://gitter.im/coala-analyzer/coala

[2016-02-22 19:57] Redridge commented on #81
How do you get the clang ast?

[2016-02-22 19:58] Redridge commented on #54
solved here https://github.com/coala-analyzer/coala/issues/1565

[2016-02-22 19:58] #54 closed

[2016-02-22 19:59] sils1297 commented on #81
look at ClangASTPrintBear for sample code on iterating over the clang ast.

[2016-02-22 20:08] sils1297 commented on #75
Something like this?

HEAD Commit has no message -> HEAD commit message lacks a body

[2016-02-22 20:13] Makman2 commented on #75
Wait this is actually wrong, `HEAD commit has no message` means the commits message is really empty!

[2016-02-23 00:01] Adrianzatreanu commented on #65
I think this fixed what you asked for, and i referenced a commit to this issue :)

[2016-02-23 06:03] AbdealiJK opened #84 "Add __version__ to bears"
In `bears.__init__.py` we should add the variable `__version__` as thats a common way to check the version.

We just have to import `Constants` and do `__version__ = Constants.VERSION`

[2016-02-23 06:07] AbdealiJK opened #85 "help(bears) isnt very helpful"
Currently `import bears` followed by `help(bears)` is not very useful. It just gives a list of modules inside. We should ideally have a description of coala/coala-bears there too.

I think we need to add a doc-comment  in bears.__init__.py which gives better information.

We could also use this in the `setup.py` maybe ?

[2016-02-23 07:19] ravinimmi commented on #33
@sils1297 What do you think about [simian](http://www.harukizaemon.com/simian/index.html). Its free for open source projects. But it needs java for it to run.

[2016-02-23 10:43] sils1297 commented on #33
I'd rather avoid shipping bears with coala that pull in proprietary
software. At least I am very idealistic about coala and by default we
definitely should not ship with anything proprietary.

2016-02-23 8:19 GMT+01:00 Ravi Kumar Nimmi <notifications@github.com>:

[2016-02-23 11:20] AbdealiJK opened #88 "Change appveyor badge in readme"
The appveyor badge shows:

[code]
We recently changed from sils1297's account to an account named "coala"
So, it needs to be changed appropriately

[2016-02-23 12:05] #59 closed

[2016-02-23 12:23] sils1297 commented on #75
@Makman2 please get to the bottom of this, this is apparently no newcomer bug but an actual issue that needs investigation.

[2016-02-23 13:41] Makman2 commented on #75
See https://circleci.com/gh/coala-analyzer/coala-bears/120

[2016-02-23 13:47] AbdealiJK commented on #75
The link youve given says the commit has long lines ?

On Tue, Feb 23, 2016 at 7:11 PM, Mischa Krüger <notifications@github.com>
wrote:

[2016-02-23 13:59] Makman2 commented on #75
oh yeah this is the wrong one :O thanks
but then I can't find the old one any more where it says "No commit message" ...

[2016-02-23 14:02] Makman2 commented on #75
Ah found!
https://circleci.com/gh/coala-analyzer/coala-bears/109
for commit https://github.com/coala-analyzer/coala-bears/commit/3cb17432361df8b6db9f820c9edd06c089b4efd6

[2016-02-23 15:37] ravinimmi commented on #26
@sils1297 Please assign me.

[2016-02-23 15:39] sils1297 commented on #26
@ravinimmi you're way beyond newcomer status, we'd like to ask you to leave this and other newcomer issues to actual newcomers because we struggle to come up with enough newcomer issues.

[2016-02-23 15:39] AbdealiJK commented on #26
Hi @ravinimmi I notice you've already solved a few issues. Could you do some difficulty/low issues now ?
We normally prefer it when people only do 1-2 newcomer issues

[2016-02-23 15:43] ravinimmi commented on #26
@sils1297 @AbdealiJK  Ok, got it.

[2016-02-23 15:44] ravinimmi commented on #64
@sils1297 Please assign me.

[2016-02-23 15:52] Redridge commented on #81
Should this be able to suggest ways to reduce the cyclomatic complexity? If not I would like to give it a try.

[2016-02-23 15:55] sils1297 commented on #81
not for now, would be neat to have a general markdown tutorial in the debug
message of the result or so

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-23 16:52 GMT+01:00 Alexandros Dimos <notifications@github.com>:

[2016-02-23 16:01] sils1297 commented on #64
@ravinimmi done! :)

[2016-02-24 01:27] ravinimmi opened #92 "Correct path for config file in YAMLLintBearTest.py"
YAMLLintBearTest.py gives relative path of the config file which will not be available in YAMLLintBear. Tests cases were passing because yamllint ignored incorrect config file. Give absolute path of config file.

[2016-02-24 01:59] AbdealiJK opened #94 "Add .swp in gitignore"
.swp files (swap files) are made by many editors. We should ignore these files.

[2016-02-24 02:31] AbdealiJK commented on #62
Assigning @SanketDG as he's working on it

[2016-02-24 02:36] AbdealiJK opened #95 "Testing docs"

[2016-02-24 02:39] #95 closed

[2016-02-24 04:04] AbdealiJK opened #97 "Language tool provides results in detected language"
This is a pretty cool feature of LanguageTool
[code]

So, what happened is that the LanguageTool detected that file as french (It's code ... it would've gotten confused) and gave the output as french. We want it to always give the output in english, as coala doesnt have multiple language support at the moment.

I think we need to set the `mother_language` somewhere.

[2016-02-24 04:13] AbdealiJK opened #98 "Add spell check bear (for RST files)"
We should get a bear just for spell checks specifically in RST files.

We can either make a new bear - or add options in LanguageToolBear.

Currently LanguageToolBear is irritating because it has no options. It detects things like `Too much whitespace at the beginning of line` which is required in our docs when writing code (`WHITESPACE_RULE`).
Also, it also gives errors about starting line with s

[2016-02-24 06:17] AbdealiJK opened #99 "verify_local_bear - Tuple with 1 element problem"
A lot of people are making mistakes here. We should throw an error and fix this. I find `InvalidLinkBearTest`, `JSONFormatBearTest`, `JSHintBearTest` and many others have it wrong - I do not know how the tests are passing !

[2016-02-24 09:17] AbdealiJK opened #101 "Bear for vala"
We want a bear for Vala. It'd be good for gnome (considering we have a builder GSoC project proposed)

[2016-02-24 09:19] AbdealiJK commented on #97
It's called `--mother-tongue`

[2016-02-24 09:23] AbdealiJK opened #102 "LanguageTool - add more args"
LanguageTool has some nice args:

--language - We already use this
--mother-tongue - The language in which it gives out the result
--disable List of rules to disable
--enable List of rules to enable
--ignore-lines Ignore lines that match this regular expression

We already have an ignore regex in LineLengthBear - we should add one here too.
Also, the enable/disable and mother-tongue is needed in h

[2016-02-24 09:24] AbdealiJK commented on #98
Marking as blocked as args given in https://github.com/coala-analyzer/coala-bears/issues/102 are required to check whether we can disable enough rules to work properly for our rst files.

[2016-02-24 10:09] #99 closed

[2016-02-24 11:15] #65 closed

[2016-02-24 12:42] #92 closed

[2016-02-24 13:43] AbdealiJK commented on #102
On further reading - it seems `--disable` is the only one that's worth it.

 - `--enable` doesnt really do anything (maybe...) - Ive opened https://github.com/myint/language-check/issues/23 to check on that.
 - `--ignore-lines` happens only for the cli tool, not if we use LanguageTool directly from python modules
 - `--mother-tongue` can be auto detected using `locale` module - no need to expose a

[2016-02-24 14:42] Makman2 opened #105 "Bear for Dart"
I like Dart somehow since last time I stumbled upon it, looks like a python for javascript or so :)
https://www.dartlang.org/

[2016-02-24 14:44] sils1297 commented on #105
is there a linter we can use?

[2016-02-24 14:52] nishant-mor commented on #105
@sils1297 https://github.com/dart-lang/linter

[2016-02-24 15:20] AbdealiJK commented on #8
Done.

[2016-02-24 15:20] #8 closed

[2016-02-24 15:21] AbdealiJK commented on #9
Conversation on IRC (freenode #distutils)

[code]

[2016-02-24 20:00] #80 closed

[2016-02-24 22:00] Adrianzatreanu commented on #105
I would like to get assigned for this :)

[2016-02-24 23:37] AbdealiJK commented on #105
https://github.com/jonkirkman/sublime-dart-linter/blob/master/dartlint.py is a good reference

[2016-02-24 23:58] AbdealiJK commented on #105
I'd suggest `dartanalyzer` (https://github.com/dart-lang/sdk/tree/master/pkg/analyzer) as it comes in built with the dart sdk. Also, other plugin writers seem to prefer it.

[2016-02-25 00:00] AbdealiJK commented on #98
I got LanguageToolBear to work on rst files - but it isnt a good solution. I had to disable all rules that interfere with coding practices we have.
Ideally we want something that's smart enough to get the test stuff from rst syntax directly.

[2016-02-25 02:49] AbdealiJK opened #107 "InvalidLinkBear: Find sections"
It'd be nice if we can detect links like `http://doc.owncloud.org/server/8.2/admin_manual/#installation` and check if the `#installation` is actually a valid `id` in the page.

The way to do this would be to download the page and ask BeautifulSoup to find with a specific `id`.

Note: This may not work for a lot of links - for example if a website uses AngularJS the content won't be loaded by `requ

[2016-02-25 03:01] AbdealiJK commented on #107
Maybe we can autodetect certain cases like if it has AngularJS or if it does some custom handling ? (I don't think it'd work 100% of the time - but would be helpful in some cases)

[2016-02-25 07:57] ravinimmi opened #108 "JSHintBearTest not working properly."
Tests are passing even if i interchange valid and invalid files https://github.com/coala-analyzer/coala-bears/blob/master/tests/js/JSHintBearTest.py#L25 .

[2016-02-25 08:05] AbdealiJK commented on #108
Just tried it locally, if I move test_file1 and test_file2 to valid_files
and it failed.
Could you explain steps to reproduce in more details ?

On Thu, Feb 25, 2016 at 1:27 PM, Ravi Kumar Nimmi <notifications@github.com>
wrote:

[2016-02-25 08:14] #108 closed

[2016-02-25 08:34] AbdealiJK opened #109 "PerlCritic: No arg named config"
PerlCritic gives an exception when using a config - It says no arg named `--config` exists.

Our test for config files is bad. hence we didnt catch this.

We need to remove this config

[2016-02-25 08:37] AbdealiJK commented on #109
@sudheesh001 (just checked, seems like you wrote that part) - Is the config parameter actually there ? Am I missing something ? My `perlcritic` doesn't have it

[2016-02-25 08:47] ravinimmi commented on #109
I think it should be replaced with '--profile' instead of '--config' http://search.cpan.org/~thaljef/Perl-Critic-1.126/bin/perlcritic

[2016-02-25 08:54] AbdealiJK opened #110 "prepare_file for configs in tests doesnt work"
The issue here is that the `with` statement is wrapping the creation of the class. Not the running of the class.

So, when we do
[code]
The file in `config_file` exists only when pytest is collecting for the unittests to run. NOT when it is actually running the unittest.

Not sure how we fix this. Possible solution in using `pytest`'s fixtures.
The other (not so nice) solution is again use `test_f

[2016-02-25 09:46] #97 closed

[2016-02-25 09:46] #102 closed

[2016-02-25 13:40] ravinimmi opened #111 "Reduce requests timeout for InvalidLinkBear."
For this link http://coalaisthebest.com, test is always failing for me.

[2016-02-25 14:17] Makman2 commented on #111
Is there already a default timeout for `InvalidLinkBear`?

[2016-02-25 14:19] sils1297 commented on #111
If there is it's inherited, we don't set one. We could provide it as a
setting.

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-25 15:17 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-25 14:21] SanketDG opened #112 "XMLBear: Also yield Results from stderr"
Currently the XMLBear only parses results from stdout, it also should parse results from stderr.

[2016-02-25 14:25] #32 closed

[2016-02-25 14:26] SanketDG commented on #111
What should be the ideal timeout set for the requests?
Since `py.test` times out in > 35s, should it be 35s. I am not sure of the right thing to do here.

[2016-02-25 14:29] ravinimmi commented on #111
35s is for all the tests right? I would suggest < 2s for each request.

[2016-02-25 14:37] SanketDG commented on #23
@niraj8 Ping. Please report whether you are still working on this?

[2016-02-25 14:43] Makman2 commented on #111
I think 2s is a bit short, would suggest 5s. Sometimes there are slow servers or your own infrastructure hangs a bit :)
And yeah like @sils1297 suggested we should use a setting for that, so if users encounter timeout problems they can manually set it. :+1:

[2016-02-25 14:43] sils1297 commented on #111
A timeout of several seconds does not sound acceptable to me.

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-25 15:43 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-25 14:49] Makman2 commented on #111
Alright due to gitter I'll also vote for 2sec :+1:

[2016-02-25 15:02] SanketDG commented on #111
@ravinimmi Could you fetch https://github.com/SanketDG/coala-bears/commit/5bdaa369275f7a8679673bcbd052a49f83eb0e08 and run the tests and see if its okay right now?

[2016-02-25 15:19] Makman2 commented on #62
awk has some weird syntax and I was told it's not used that often any more. Also you normally use a few search statements embedded inside scripts, what makes the extraction quite difficult. Not worth the effort for a few lines of linting (for us and the one who needs to extract the actual awk expressions).

Accepting patches.

[2016-02-25 15:19] #62 closed

[2016-02-25 15:19] sils1297 commented on #51
at least I had no problems with this anymore

[2016-02-25 15:19] #51 closed

[2016-02-25 15:20] sils1297 commented on #101
if there is no vala linter out there this might be quite challenging, I think there are some drafts or something? I don't know. Needs info.

[2016-02-25 20:21] ravinimmi commented on #111
@SanketDG It is still failing for me. Are all the tests passing on your machine?

[2016-02-25 21:49] Makman2 opened #114 "0.1 release"
We should release as soon as possible a stable version for coala. The bears are in fact declarable as stable (they already were inside coala as stable). Users should be already able to install bears without `--pre` in pip^^

[2016-02-25 22:16] ravinimmi commented on #111
@SanketDG The problem is only on my machine I think. timeout isn't working for me. Maybe @sils1297 could check.

[2016-02-26 00:56] AbdealiJK commented on #111
Which OS and system do you have ? Also what's your internet speed ? Are you
inside a proxy ? Do you use some sort of VPN or are you inside a vagrant or
virtualbox ?

On Fri, Feb 26, 2016 at 3:46 AM, Ravi Kumar Nimmi <notifications@github.com>
wrote:

[2016-02-26 01:51] Makman2 commented on #111
@AbdealiJK His timeout-parameter is not working it seems. For me tests do succeed and the timeout is working properly. I think this is a local problem on his machine^^ Though a timeout is needed anyway :D

[2016-02-26 02:41] AbdealiJK commented on #111
Then which version of requests and python are you using @ravinimmi  ?

Also, just a note - the 35 seconds is for each test in pytest. (The DbusTest takes about 15 seconds on some computers) And we increased it to 35 as appveyor was timing out a while back

[2016-02-26 08:10] ravinimmi commented on #111
@AbdealiJK I am on Mac 10.11.3.
- Internet Speed : 16Mbps
- No proxy, vagrant or virtualbox
- Python 3.5.1
- pip 8.0.2
- requests==2.9.1

[2016-02-26 08:15] AbdealiJK commented on #111
Hm - I seem to be using the exact same stack as you except I use Ubuntu.

Maybe this a Mac specific thing ? Can anyone with a Mac check it out ?

On Fri, Feb 26, 2016 at 1:40 PM, Ravi Kumar Nimmi <notifications@github.com>
wrote:

[2016-02-26 09:10] ravinimmi commented on #111
@SanketDG @AbdealiJK Ok, I got the problem on my machine. Actually the DNS lookup was taking a lot of time(I think requests doesn't take this into account. Maybe it is a safe thing?). I was using the default DNS server. After changing to google's DNS server 8.8.8.8 it worked. All the tests are passing :)

[2016-02-26 10:18] sils1297 opened #115 "autogenerate JSHint config from settings"
difficulty/medium ?

[2016-02-26 10:30] AbdealiJK commented on #115
This is actually pretty easy - we have the `config_file` function so we just need to figure out a list of jshint configs and map them appropriately (Check markdown bear - does something similar)

[2016-02-26 10:33] sils1297 commented on #115
yeah the only problem here is that we need to generate XML or something
like that but I agree that it's pretty doable. But I think jshint is
important. We should also file bugs for other bears to do that.

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-26 11:30 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-02-26 10:33] sils1297 opened #116 "Autogenerate checkstyle config"
difficulty/low

[2016-02-26 13:25] SanketDG commented on #111
@ravinimmi Hey congrats, but I still think a timeout of 1s is necessary.

[2016-02-26 13:28] ravinimmi commented on #111
@SanketDG yup, its necessary.

[2016-02-26 14:46] sils1297 opened #118 "formatr"
http://yihui.name/formatR/

[2016-02-26 23:13] Adrianzatreanu commented on #11
You want a linter bear for swift?

[2016-02-26 23:18] sils1297 commented on #11
Yeah why not?
On 27 Feb 2016 12:13 a.m., "Zatreanu Adrian-Gabriel" <
notifications@github.com> wrote:

[2016-02-27 03:40] AbdealiJK opened #119 "Use http://httpstat.us/ in InvalidLinkBearTest"
http://httpstat.us/ is a super neat website to test all error codes.
Would be standardized to check them with it - http://httpstat.us/

[2016-02-27 04:34] SanketDG commented on #119
@AbdealiJK Anything wrong with `http://httpbin.org`?

[2016-02-27 09:41] Adrianzatreanu commented on #11
It wasnt a matter of why, it was a matter of : "is this what you asked?" as this issue was described pretty vague, and i wanted to ask to be sure :)

[2016-02-27 09:42] Adrianzatreanu commented on #11
Well id be glad to help if you'd let me then :)

[2016-02-27 09:58] sudheesh001 commented on #11
Assigned it to you @Adrianzatreanu

[2016-02-27 10:39] #111 closed

[2016-02-27 11:00] sils1297 opened #120 "Rename IndentBear to GNUIndentBear"

[2016-02-27 11:01] sils1297 commented on #120
we're working on some generic indentation so we should be clear on this

[2016-02-27 11:45] #105 closed

[2016-02-27 12:21] #64 closed

[2016-02-27 14:02] arafsheikh opened #121 "Implement cppcleanBear"
https://github.com/myint/cppclean

`difficulty/low`

[2016-02-27 15:50] SanketDG commented on #23
Please assign this to me.

[2016-02-27 16:20] AbdealiJK commented on #118
Out of curiosity why is important medium ? Does someone want to use this bear ?

[2016-02-27 16:43] sils1297 commented on #118
Yeah I know someone who wants so it's kind of a "customer request" if you can say this for OS projects. Secondly, R is used in research a lot and we want to bring coala to researchers as they're the ones who potentially do research on static code analysis.

[2016-02-27 20:22] Adrianzatreanu commented on #11
I was planning on writing this on linux. I didnt expect it not to be able to be installed on it ;p seems all the install methods are for mac os only.. my bad ;( if this is only for mac osx users to fix, please unassign me and sorry :)

[2016-02-27 20:26] #121 closed

[2016-02-28 10:27] sils1297 commented on #11
this is not doable on linux? Do we want it?

[2016-02-28 14:11] AbdealiJK opened #125 "README.rst: Mention the python versions we support"
Currently our readme just says `pip install coala-bears`. As we know, this is invalid. We need `pip3`. People are getting confused. We should change it or mention the versions we support like how `coala` does.

[2016-02-28 15:24] SanketDG opened #126 "add timeout parameter in verify_local_bear"

[2016-02-28 16:19] Makman2 opened #127 "CMake bear"
Are there tools to lint CMake files?

My best friend told me it would be nice to have :3

[2016-02-28 16:29] sils1297 commented on #127
sure it would, did you query duckduckgo?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-02-28 17:19 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-02-28 17:51] Nosferatul commented on #84
I'd love to do that !

[2016-02-28 17:52] sils1297 commented on #84
@Nosferatul awesome! Go ahead!

[2016-02-28 18:15] sils1297 commented on #19
@rubik hey, apparently radon throws some exceptions at us. I see one of them is a SyntaxError, which makes sense we can catch that, the other is pretty weird, is radon running some of our code?!

[2016-02-28 18:16] sils1297 commented on #19
CC @Makman2 @AbdealiJK from coala for investigation

[2016-02-28 18:33] #23 closed

[2016-02-28 18:33] #126 closed

[2016-02-28 18:54] #112 closed

[2016-02-28 19:51] SanketDG commented on #22
@madminions are you still doing this? A yes or no should be fine. :)

[2016-02-28 19:56] madminions commented on #22
Yes. I was reading doc the other day. Do I have any time limit for this issue ?

[2016-02-28 19:57] sils1297 commented on #22
No we don't, but if nothing happens for some time we sometimes check up on the people.

[2016-02-28 22:25] Makman2 commented on #127
https://github.com/richq/cmake-lint
:D

[2016-02-28 22:25] Makman2 commented on #127
and
https://pypi.python.org/pypi/polysquare-cmake-linter/0.0.5

[2016-02-29 05:21] AbdealiJK commented on #45
Was fixed in https://github.com/coala-analyzer/coala-bears/commit/f8ba231d49c41269deb8a5f09ca2a894b05f010a

[2016-02-29 05:21] #45 closed

[2016-02-29 07:37] rubik commented on #19
Thanks for pinging me, I'll investigate. Radon just performs static analysis and doesn't run any code.
The error is this one:
https://github.com/coala-analyzer/coala/blob/3165f3a890eeec346fcdb24bda463440951a6fe6/coalib/results/TextRange.py#L32

It appears that in some results the end position is less than the start position, which is weird indeed. Can I see the code that's triggering the error?

[2016-02-29 08:57] sils1297 commented on #19
FWIW coala will never work on python 2 though the analyzed code may be written in python 2. Do we have to spawn a python2 interpreter for radon in those cases?

[2016-02-29 09:04] AbdealiJK commented on #19
@sils1297 - I'm unable to reproduce this. What did you run the bear on to get this ?

When I run it on coala it doesn't give this error.

[2016-02-29 09:08] sils1297 commented on #19
@AbdealiJK that's a good question I gave pretty moch not the info we need for reproducing it :P for the second thing some python 2 or syntactically wrong python code should do.

I think I ran it on flask master. Could you try that?

[2016-02-29 10:48] rubik commented on #19
@sils1297 Yes, a SyntaxError is always caused by Python 2 code or wrong syntax altogether. Radon can run on both Python 2 and 3, so that's not a problem. However, if one wants to analyze Python 2 code, Radon must be run with Python 2. I'll see what happens on Flask master.

[2016-02-29 11:06] #84 closed

[2016-02-29 11:17] rubik commented on #19
Just ran `coala` on Flask master. I got no errors. I used this `.coafile`:
[code]

[2016-02-29 11:20] AbdealiJK commented on #19
I did the same, not able to reproduce.

On Mon, Feb 29, 2016 at 4:47 PM, Michele Lacchia <notifications@github.com>
wrote:

[2016-02-29 11:24] sils1297 commented on #19
I had

[code]

from a fresh cloned repository, i.e. no built files yet. Am definitely getting those errors for that.

[2016-02-29 11:28] sils1297 commented on #19
using those version of coala/bears:
* coala-0.4.2.dev20160228185014
* coala-bears-0.1.0.dev20160229110544

[2016-02-29 11:29] sils1297 commented on #19
radon (1.2.3)

[2016-02-29 11:33] sils1297 commented on #19
running it on e7d548595e8f2f03fb58c827bef8abae2f84aa59

[2016-02-29 13:00] SanketDG commented on #30
@NalinG still working on this? We want to make sure you are still interested.

[2016-02-29 13:07] SanketDG opened #130 "Bear for pydocstyle"
https://github.com/PyCQA/pydocstyle

[2016-02-29 13:13] sils1297 commented on #30
@NalinG removing assignment as you seem to be unreachable (we pinged you on another bug as well)

[2016-02-29 14:21] rubik commented on #19
Ok, I got it. Sometimes the end position has `None` in the column field. That causes the error, as can be seen from this example:
[code]

Since Radon cannot know the end column (it parses the AST), I suggest that when an end position has a `None` value in the column field, this is automatically set to `0`.

[2016-02-29 14:25] sils1297 commented on #19
@rubik thanks for looking into this! So essentially Radon gives us a source range with a defined start and an undefined end column while we require all sourceranges to be completely defined. Any idea on what would be the most meaningful source range in that case? Replace `None` by `min(start.column, 0)` or something?

[2016-02-29 16:44] #130 closed

[2016-02-29 18:13] aditigupta96 commented on #125
Can I work on this bug?

[2016-02-29 18:14] Adrianzatreanu commented on #125
Sure

[2016-03-01 07:16] mr-karan commented on #85
I would like to work on this.

[2016-03-01 07:19] AbdealiJK commented on #85
@mr-karan aren't you already working on https://github.com/coala-analyzer/coala-bears/issues/71 ?

[2016-03-01 07:25] mr-karan commented on #85
Yes I am. I'll be completing #71 in a bit.

[2016-03-01 09:03] abhsag24 opened #133 "Mock tests for InvalidLinkBear"
So right now the tests for InvalidLinkBear connects to the internet, instead of this  we should mock the requests, in order to make the tests faster and avoid failures in case of an unstable internet connection

[2016-03-01 11:32] abpnd12 commented on #26
please assign this to me

[2016-03-01 11:35] AbdealiJK commented on #26
Ive invited you to the org. We can assign you once youve joined

[2016-03-01 11:55] sils1297 commented on #26
@AbdealiJK who?

[2016-03-01 11:57] AbdealiJK commented on #26
@abpnd12 had commented on this saying he wanted to do it (I still have the mail) ... I think he deleted the comment ?

[2016-03-01 12:06] mr-karan opened #135 "Inclusion of venv in .gitignore"
Most of us work on `virtualenv` in Python but `.gitignore` has no `venv/` listed.

I know `venv` name is not compulsory to use but since Node, Bower etc have their packages listed under a fixed directory name so just a suggestion, if making `venv` a standard name for virtual environments in our project makes it easier for other people as well we can maybe add it to .gitignore.

[2016-03-01 15:23] arafsheikh commented on #133
This would be nice, since `InvalidLinkBearTest` runs the slowest among all tests. One way to do this will be starting a HTTP server inside the test. If this is approved I would like to work on it.

[2016-03-01 15:25] #125 closed

[2016-03-01 15:30] AbdealiJK commented on #133
I think a simpler version is just overwrite `requests.head()` temporarily during the test to give what ever sattus code and stuff we want ?

[2016-03-01 15:53] sam09 commented on #115
Hey. I see that this issue is assigned to no one. I would like to work on it, if that's cool

[2016-03-01 15:53] AbdealiJK commented on #115
@sam09 Ive assigned this to you

[2016-03-01 15:56] Makman2 opened #137 "GitCommitBear: body_line_length shall be 72 and not 73"
The standard git commit guidelines suggest wrapping the body at 72 chars. So just replace the default of 73 with 72.

[2016-03-01 15:58] AbdealiJK commented on #137
Needed in `coala` too

[2016-03-01 16:18] rubik commented on #19
Exactly. Radon does not provide an end column, so `min(start.column, 0)` seems reasonable.

[2016-03-01 16:35] sils1297 commented on #19
@rubik thanks, with that we can work. What is the reason this happens anyway?

[2016-03-01 16:57] rubik commented on #19
That's because Radon parses the AST, and each object in the tree has a line/column position. However, that's referring to the start position, while it's not possible to know the end position in the source code, since different code expressions could produce the same AST.
Just adding/removing spaces around operators modifies the end position, but the AST of that expression is always the same.

In t

[2016-03-01 17:04] Makman2 opened #138 "LuaBear"
Linter integrations for Lua.

[2016-03-01 18:49] arafsheikh commented on #133
Halfway fixing this I've realized that it's best for the tests to run online. Not all requests can/should be run locally, and for simplicity it won't be a good idea to have few test online and others offline.

[2016-03-01 19:24] mr-karan opened #141 "SCSSBear"
Integrate a SCSS Linter Bear.

https://github.com/brigade/scss-lint

[2016-03-02 00:56] #94 closed

[2016-03-02 07:16] abpnd12 commented on #26
@AbdealiJK thank you for adding me, I'm still having issues while playing with the code so I deleted the comment . I'm sorry if it created any issue.

[2016-03-02 07:20] AbdealiJK commented on #26
@abpnd12 Well, it's better not to delete stuff - rather comment again (otherwise it gets confusing)

And, do you still want to be assigned to this issue ?

[2016-03-02 07:23] abpnd12 commented on #26
not now, I'm having problems while understanding the code

[2016-03-02 07:30] sam09 commented on #115
@AbdealiJK This is what i thought of doing
By adding all the jshint options to the signature of run function of JSHintBear we can access the options in the bear (Like Markdownbear). When .jshintrc is not specified, it will generate it automatically.

What do you think?

[2016-03-02 07:32] AbdealiJK commented on #115
@sam09 That sounds like a good plan.

Btw - check out the `config_file` function in `Lint` which should help you out to make a temporary `.jshintrc` file. (I don't think jshint has cmd line options for all the options in jshintrc)

[2016-03-02 07:47] sam09 commented on #115
@AbdealiJK Thanks

[2016-03-02 08:18] #71 closed

[2016-03-02 09:33] sam09 commented on #115
@AbdealiJK I don't get the ``config_file`` function. It just returns ``None``.

[2016-03-02 09:37] sam09 commented on #115
I have implemented something like ``MarkdownBear`` where I have all the configs stored in an object. The part that remains is to create a temporary .``jshintrc`` file.

[2016-03-02 09:57] sils1297 commented on #115
http://coala.readthedocs.org/en/latest/API/coalib.bearlib.abstractions.html#coalib.bearlib.abstractions.Lint.Lint.config_file

[2016-03-02 16:02] mr-karan opened #143 "Bootstrap Linter Bear"
Integrate HTML linter for Bootstrap projects

https://github.com/twbs/bootlint

[2016-03-02 16:02] AbdealiJK commented on #143
@mr-karan assigning you

[2016-03-02 16:07] SanketDG commented on #138
https://github.com/philips/lualint

[2016-03-02 16:10] SanketDG opened #144 "Linter for erlang"
https://github.com/inaka/elvis

difficulty/low

[2016-03-02 20:42] hypothesist opened #145 "variableCasing_bear"
Would be cool to have a bear that automatically applies camelCasing or snake_casing depending on what the user decides is the norm.

Would apply to classes, functions, variables. Renaming files would be nice too.

[2016-03-03 01:36] AbdealiJK commented on #145
Is this for a specific language ? Or generic for all languages ?

[2016-03-03 02:36] #141 closed

[2016-03-03 04:34] sam09 commented on #115
@sils1297 @AbdealiJK I have tried ``config_file`` but i can't really get it working. Currently I have implemented it by creating a json file. However it is as persistent and not temporary.

[2016-03-03 04:37] AbdealiJK commented on #115
@sam09 the `config_file` function is something you need to override in the Linter. It should get the sections and give out a list of lines you want in the file. the `generate_config_file` function then uses this to create a temporary file and send it to the `{config_file}` in `arguments`.

[2016-03-03 04:54] SanketDG opened #146 "One function for checking prerequisites"
Currently there are two functions, one in `/home/sanket/coala-bears/bears/CheckPrerequisites.py` and another that exists as a `classmethod` in some bears. They should be merged into one function, that can be used for all bears.

[2016-03-03 04:54] hypothesist commented on #145
That's the thing: it should be language independent when you look at it from the outside, but technically it's language dependent: each language has its own syntax, so there's no universal way to know which is a variable and which is a keyword.

[2016-03-03 05:01] AbdealiJK commented on #145
You may want to check out the coalang stuff.
It aims to define a structure for languages to find out keywords and so on.
It seems to be the first step to do this. Using that you'd be able to
figure out whether a name is a class name, variable name, etc and then
applying the styling becomes simpler

On Thu, Mar 3, 2016 at 10:24 AM, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-03-03 05:53] SanketDG commented on #47
I am interested in doing this.

The first thing to do would be to add the two commands `install-test-requirements` and `install-requirements`. This is relatively easy, but what I don't understand is how the checkstyle.jar download comes in these two commads, do you mean by `install-requirements`, all possible requirements, even requirements from specific bears like `checkstyle.jar` and `scalastyle

[2016-03-03 06:15] AbdealiJK commented on #47
For `npm` if you have a `package.json` in the directory, it automatically uses that when you do `npm install`
For `gem` you normally use `bundler` and a `Gemfile` with it

[2016-03-03 09:04] theaverageguy commented on #144
On it. :)

[2016-03-03 09:07] theaverageguy commented on #63
What am I supposed to do here?

[2016-03-03 09:53] sils1297 commented on #144
@theaverageguy have you got a newcomer patch accepted btw.? I'll assign you but we don't recommend working on that much stuff in parallel especially if you haven't yet merged your first patch.

[2016-03-03 09:55] sils1297 commented on #63
Writing a bear that does the validation.

[2016-03-03 10:05] theaverageguy commented on #144
I made two PRs already. Just problems with naming of commits. Please check PR #147 now.

[2016-03-03 10:06] theaverageguy commented on #144
One beginner and one low difficulty btw :)

[2016-03-03 10:15] sils1297 commented on #144
Making PRs is not the problem, getting them accepted can sometimes be challenging.

[2016-03-03 11:14] theaverageguy opened #149 "setup.py PEP8 format errors"
![m](https://cloud.githubusercontent.com/assets/9817962/13492619/2827f9ac-e15f-11e5-9b84-e60a488fd12f.png)

difficulty/beginner

[2016-03-03 11:18] AbdealiJK commented on #119
I didn't know we already did something similar. Closing this

[2016-03-03 11:18] #119 closed

[2016-03-03 11:22] theaverageguy opened #150 "ScalaLintBear.py PEP8 format errors"
![m](https://cloud.githubusercontent.com/assets/9817962/13510722/e4dc41cc-e1b7-11e5-9969-ae0dcac1a008.png)

Difficulty/beginner

[2016-03-03 11:24] sils1297 commented on #149
sorry what is this about, could you be more concrete? Why doesn't coala detect those issues?

[2016-03-03 11:25] AbdealiJK commented on #149
Right, how are you running pep8 ?  Arent we already checking pep8 for every PR ?

[2016-03-03 11:28] theaverageguy commented on #149
I was testing pep8 and I happened to be in my local directory for coala-bears. I tested pep8 --first setup.py and I got these two format errors.
The file has a couple of errors regarding proper spacing and printing(as mentioned). Other files like those in css folder don't have such issues. It should be consistent and can be used as a beginner issue.

[2016-03-03 11:30] theaverageguy commented on #149
![m](https://cloud.githubusercontent.com/assets/9817962/13493025/6c5980d0-e161-11e5-9732-a61ca5f4f263.png)

[2016-03-03 11:34] AbdealiJK commented on #149
So, I do not think this is an issue.
We;re using 80 char instead of79 char everywhere in our code (and our PEP8Bear is configured to use that)
Regarding the module level import, I am guessing `autopep8` which is what we use instead of `pep8` doesnt check for them. We use `PyImportSortBear` instead (although its not there in circleci at the moment - we have an issue for this already)

So, I'm closi

[2016-03-03 11:34] #149 closed

[2016-03-03 11:37] AbdealiJK commented on #150
This seems like the exact same errors you've gotten for `setup.py` in https://github.com/coala-analyzer/coala-bears/issues/150 . Have you mixed up the screenshots ?
I can't see line 15 being an issue about module level imports

[2016-03-03 12:35] SanketDG commented on #47
@AbdealiJK I knew of those. What I was saying, was if npm and bundler can take in `package.<bearname>.json` and `Gemfiles.<bearname>` like you propose.

[2016-03-03 12:38] AbdealiJK commented on #47
Apparently not
http://stackoverflow.com/questions/25991082/use-different-filename-for-npm-than-package-json

We *could* just make a temp dir, move it there and install stuff and then
move everything back ?
In bundler you can set an env variable it seems
http://stackoverflow.com/questions/4976132/can-i-rename-my-gemfile-to-gemfile-rb

On Thu, Mar 3, 2016 at 6:05 PM, Sanket Dasgupta <notifications@g

[2016-03-03 13:09] AbdealiJK commented on #116
So, right now checkstylebear just uses the google style guide by default. The style guide according to CheckStyle is supposed to be in XML.

We want to allow users to make their own style guide with params from the coafile.

Similar to https://github.com/coala-analyzer/coala-bears/issues/115

[2016-03-03 13:29] srisankethu commented on #37
@sils1297 Can you assign me to this if you are not working on it

[2016-03-03 13:31] AbdealiJK commented on #37
@srisankethu this is a pretty complicated issue (and I have a feeling itll depend on coalang again)
I know that he isnt working on this atm, so Im assigning you

Please share your method of how you plan to do ti before attempting to code it though - as I think this may be a bit complicated

[2016-03-03 14:09] tushar-rishav opened #151 "Bear for Clojure"
[jonase/eastwood](https://github.com/jonase/eastwood) seems to be promising.

[2016-03-03 15:29] srisankethu commented on #37
@AbdealiJK Thank you

[2016-03-03 17:32] AbdealiJK opened #153 "Add shellcheck tests for OSX"
We added shell check in https://github.com/coala-analyzer/coala-bears/pull/139 But the testing is only for Linux.

Apparently shellcheck is available in homebrew.
So, this should be pretty simple, where we just need to add the appropriate command in `.ci/deps.osx.sh`

A newcomer with a OSX computer should be able to do this easily

[2016-03-03 17:38] #20 closed

[2016-03-03 18:35] aditigupta96 commented on #151
I would like to work on this issue.. Can you assign this to me?

[2016-03-03 18:36] tushar-rishav commented on #151
@aditigupta96 Sure!

[2016-03-03 19:48] mr-karan opened #154 "Scaffold a New Bear"
This is a feature proposal. Currently to make a new linter bear, the user has to manually create files in `bears/`, `tests/` directory and add external modules in `package.json` / `requirements.txt` etc.
A scaffolding tool which would automate the boring task would be nice to have. A basic framework I thought would be :

[code]

Note :  `-r` can be for `requirements.txt` ; `-p` for `package.json`

[2016-03-03 21:17] Makman2 commented on #146
Do we really need `CheckPrerequisites`? I don't think we actually need to invoke the program^^

[2016-03-03 21:18] Makman2 commented on #146
@SanketDG and could you search for all bears manually redefining `check_prerequisites` and post them here?

[2016-03-03 21:22] Makman2 commented on #145
yeah though a universal AST would be the best choice (but we don't have one, coAST has still not advanced). Especially if you don't have kewords that signal a new variable like `var` in javascript or `Dim` in VB. In C you just have `type variable_name`, that's a bit more difficult^^
@AbdealiJK btw our coalang stuff isn't so advanced^^ there's some minor stuff^^

[2016-03-03 21:26] Makman2 opened #155 "XML validation via XSDs"
I don't know whether existing linter-bears already support this, but this would be a nice feature (like in https://github.com/coala-analyzer/coala-bears/issues/63).

I hope there's no issue for this already...

[2016-03-03 21:28] Makman2 commented on #150
@theaverageguy please supply a complete screenshot, so we can see the actual commands to reproduce this (though we have coala, but anyway :+1:)

[2016-03-03 21:32] Makman2 commented on #154
very cool idea. We could extend this issue to a general-purpose-assistance tool for such tasks.

Proposal for the message: Supplying local/weblinks to our tutorials for bear-writing.

[2016-03-03 21:42] SanketDG commented on #146
Do I really need to do it manually? Pretty sure a simple grep could give what I want:

[code]

[2016-03-03 21:47] Makman2 commented on #146
No git grep suffices, just for having them inside this issue^^

[2016-03-03 21:50] theaverageguy commented on #150
Sorry about the image, changed it. Please take a look.

[2016-03-03 21:55] sils1297 commented on #155
We have an issue for validating XML against scheme
On 3 Mar 2016 10:26 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-03-03 22:21] Makman2 commented on #150
@theaverageguy are these all issues? before there were 2 :O

[2016-03-04 06:48] sam09 commented on #115
@AbdealiJK  I have tried using the ``{config_file}`` function but somehow it does not work. Instead I called the ``generate_config_file`` function and then gave the tempfile as argument and everything looks fine. I have been trying for a day now. Shall open a PR with what I have done?

[2016-03-04 06:59] AbdealiJK commented on #115
Sure

-----Original Message-----
From: "Sam Radhakrishnan" <notifications@github.com>
Sent: ‎04-‎03-‎2016 12:18
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala-bears] autogenerate JSHint config from settings (#115)

@AbdealiJK I have tried using the {config_file} function but somehow it does not work. Instead I called

[2016-03-04 10:28] hypothesist commented on #145
@AbdealiJK as @Makman2 pointed out and from what I saw in the code, coalang is still in its early stage. So I think I'll start with developing that (as that way the features useful for variable casing bear can be used in other bears too) and it should make this easy.

[2016-03-04 10:30] sils1297 commented on #145
that'd be awesome :)

[2016-03-04 10:51] AbdealiJK commented on #145
Awesome :)

On Fri, Mar 4, 2016 at 4:00 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-04 13:55] AbdealiJK commented on #154
Nice :)

I think this should come under `coala` repo and part of the bear binary though.

[2016-03-04 13:58] sils1297 commented on #154
I'd rather make it interactive than ask the use4r to put stuff via parameters in there
i.e. coala-start-bear
and it greets you and asks you things
and generates the class from that

[2016-03-04 15:28] Adrianzatreanu commented on #27
@sudheesh001 Hey. Seems you have submitted no PR in the past 12 days, and this https://github.com/coala-analyzer/coala/pull/1438 had no update on the past 15 days :) Are you still working on this, do you need some help?

[2016-03-04 15:30] AbdealiJK commented on #27
@Adrianzatreanu He had mentioned that he's going to continue this after some exams. He mentioned this 2 days ago on gitter

[2016-03-04 18:16] Makman2 commented on #154
one could do it like `git --interactive / -i` :)

[2016-03-04 18:16] Makman2 commented on #154
(so supplying an argument meaning you want interactive mode)

[2016-03-05 06:36] tushar-rishav commented on #110
@AbdealiJK Could you elaborate "collecting for the unittests to run...actually running the unittest" ? Are you implying that py.test performs two step process. First collecting all the tests files and then actually run the tests?

[2016-03-05 06:41] AbdealiJK commented on #110
@tushar-rishav yes, it is a two step process

[2016-03-05 06:57] tushar-rishav commented on #110
@AbdealiJK Cool. Could you elaborate why py.test is ignoring the config_file while running the test? Umm is py.test sort of caching the test files in first step and then using those in second step? I guess not, because that would not be the cause for missing data from config_file. Some more thoughts please?

[2016-03-05 07:01] AbdealiJK commented on #110
So, in the first step it just goes through all files and checks which classes are children of `unittest.TestCase`. Once it collects all these classes it uses them one by one and runs them. It must be creating objects out of the classes i guess.
The thing is that when it is collecting the classes, the `with` statement where the `config_file` is created has already completed executing. So, the temp

[2016-03-05 07:09] AbdealiJK commented on #133
@arafsheikh I think the better method is still to just override requests.head - you can do anything with it

We can alwats have a few tests with a real website too

[2016-03-05 07:26] tushar-rishav commented on #110
@AbdealiJK Ah If py.test stores the instances then how about if we bind the conf_file to the class itself and pass that class variable as an argument to settings. Something like
[code]
Might work? Umm the bad thing is we are calling `verify_local_bear` twice.

[2016-03-05 07:28] AbdealiJK commented on #110
I do not see how that will help ... `conf_file` is just a string ... the file would still get deleted

[2016-03-05 07:33] abhsag24 commented on #133
I think its best to keep all tests offline, this one breaks ci too in a lot of cases, where the test times out some times resulting in a test failure, and it is a problem especially for newcomers, AFAIK keeping test offline would be more reliable since we would know exactly when the bear should yield a result and when it shouldn't  and not depend on a different server(which could be down sometimes

[2016-03-05 07:36] tushar-rishav commented on #110
@AbdealiJK Yes it's just the name of the file. So will the files be deleted even if it's reference count is non zero? I guess when first time `with`block is executed, we get a temp file path and lines. Now once the block is executed the temp file would be deleted because it's not being referenced anywhere. My doubt is will the files get deleted even if we create a new reference to it? I think unle

[2016-03-05 07:41] AbdealiJK commented on #110
No, that's not how `prepare_file()` works. We wrote that btw (You can check out ContextManagers)
We delete the file in the `finally` - i.e. when the control gets out of the `with` block.

Also, as I mentioned before, the `conf_file` variable is just a string. There are no reference counters for strings in python. Strings are immutable types in python.

[2016-03-05 09:19] AbdealiJK opened #157 "dart sdk - use the cache"
We cache the dart sdk folder, but we keep reinstalling it without checking if it's installed already in circleci.

[2016-03-05 10:16] arafsheikh commented on #133
@AbdealiJK How can you override requests.head from within the test?

@abhsag24 We've got tests for `http://httpbin.org/status/***` and some real websites. The httpbin.com tests can be replicated offline but I thought it's best to leave the normal website tests intact.

[2016-03-05 10:19] AbdealiJK commented on #133
just do:

[code]
This way your temporarily changing the value and later ti will be set back to the original value

[2016-03-05 10:24] abhsag24 commented on #133
@arafsheikh  i think there's no problem ethically speaking, in mocking these requests, they are just a bunch of valid and invalid links :D

[2016-03-05 10:26] sils1297 commented on #133
could we possibly start using a proper mocking library? We're mocking in
some places but not really clean...

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-05 11:24 GMT+01:00 Abhay Raizada <notifications@github.com>:

[2016-03-05 10:30] arafsheikh commented on #133
@AbdealiJK How will the bear know if the current run is a normal run or a test? Can we pass custom arguments in `verify_local_bear`?

@abhsag24 You are right. Those tests don't make sense.

[2016-03-05 10:34] AbdealiJK commented on #133
@arafsheikh the mocking will NOT be done in the bear. It will be done in the Test.
You cannot use `verify_local_bear` in this case. You'll have to write a custom unittest.TestCase or use the LocalBearTestHelper directly.

[2016-03-05 10:43] arafsheikh commented on #133
@AbdealiJK Whatever we do, at some point the `run()` method of the bear will be executed and will query the `status_code`. I don't understand how we'll stop the bear from using that status_code without making the bear aware of the test.

[2016-03-05 10:47] abhsag24 commented on #133
@arafsheikh as @sils1297 you could use the requests-mock library, it has some cool contextmanagers, which can help you give your own headers and whatnot and as long as you make requests from those contextmanagers everything should be fine :D

[2016-03-05 10:50] sils1297 commented on #133
requests-mock sounds good!

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-05 11:48 GMT+01:00 Abhay Raizada <notifications@github.com>:

[2016-03-05 11:38] arafsheikh commented on #133
Something on similar lines?
http://pastebin.com/ETbnvdkB

[2016-03-05 11:42] sils1297 commented on #133
that'd work fine IMO

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-05 12:38 GMT+01:00 Sheikh Araf <notifications@github.com>:

[2016-03-05 12:02] abhsag24 commented on #133
@arafsheikh but that beats the point doesn't it? what @AbdealiJK was to stub the `requests.head` function since that is well a tested function in their library we don't need to test that,  while `get_status_code_or_error(url)` is a function that is written within the InvalidLinkBear class so overwriting that method means that method never gets tested?IMO you should go with as @AbdealiJK suggested

[2016-03-05 12:04] sils1297 commented on #133
using the requests mocking would be cleaner because of that indeed

[2016-03-05 12:27] #143 closed

[2016-03-05 12:31] AbdealiJK opened #158 "Move BootLintBear to html folder"
BootLintBear is currently in `bears/bootstrap`. We don't normally make modules for frameworks. As it parses html we should move it to `bears/html`.

[2016-03-05 12:34] AbdealiJK commented on #133
I was about to post the same thing that @abhsag24  posted.
I also think verify_local_bear can't be used. We're trying to overload it to do a complicated task - which was not why it was created.

[2016-03-05 12:55] AbdealiJK commented on #127
Assigned you @nishant-mor

[2016-03-05 13:09] SanketDG commented on #120
@coderx1 are you still working on this?

[2016-03-05 13:17] coderx1 commented on #120
Hi,

I am not yet comfortable with the process of git, I will try to brush up my
git knowledge so that I can put my time efficiently.
You can assign the task to others I will get back to you guys soon, I need
to work on git.

Thanks for cooperation
Sandeep
On 05-Mar-2016 6:39 PM, "Sanket Dasgupta" <notifications@github.com> wrote:

[2016-03-05 13:28] Adrianzatreanu commented on #27
ok then :)

[2016-03-05 13:31] SanketDG commented on #120
@coderx1 Sure, take your time. Just checking up on you. If you are stuck, in regards to this issue, come to gitter.

[2016-03-05 14:30] Adrianzatreanu commented on #137
unassigned due to having already fixed a newcomer issue :)

[2016-03-05 15:17] srisankethu commented on #37
How do I approach this issue(some idea)

[2016-03-05 15:40] AbdealiJK commented on #37
I'm not sure myself.
@sils1297 @Makman2 could you help out ?

[2016-03-05 15:42] sils1297 commented on #37
@srisankethu I'd recommend you rather try to take on a difficulty/low bug like writing a simple bear or so, IIRC you're rather new to coala. One difficulty of this issue is that we can't give you an idea on how to approach it because we don't know. That's part of the task.

[2016-03-05 15:43] sils1297 commented on #37
@abhsag24 might want to take this on since he's working on something related which actually might go well together with this idea

[2016-03-05 15:57] mr-karan commented on #154
Some progress :
https://gist.github.com/mr-karan/51d3009d4ef0ccccecbc

![screencast from 03-05-2016 09-06-09 pm](https://cloud.githubusercontent.com/assets/5689132/13548520/418cc818-e318-11e5-8e69-02601cd3fc50.gif)

[2016-03-05 16:18] Adrianzatreanu commented on #157
i feel guilty

[2016-03-05 16:19] srisankethu commented on #37
@sils1297 Okk

[2016-03-05 16:54] Makman2 commented on #110
ha I was right! Occurred in some PR too, so can confirm that :+1:

[2016-03-05 16:56] Makman2 commented on #110
So the only solution is to move the functionality into `verify_local_bear` that takes care of that inside `setUp()` and `tearDown()`.

[2016-03-05 17:18] Adrianzatreanu opened #161 "setuptools problem - creates requires.txt"
It seems that when im trying to use setuptools to install coala-bears as a dependecy, it doesnt find ``requirements.txt`` .After further investigation, when im building coala-bears with ``./setup.py sdist bdist`` , it has ``requires.txt`` in it, instead of ``requirements.txt`` .

[2016-03-05 17:44] Adrianzatreanu opened #162 "Add MANIFEST.in"
I think we should have a MANIFEST.in that includes the files and that might solve some issues when installing coala-bears as a dependency.

[2016-03-05 18:11] #162 closed

[2016-03-05 18:34] AbdealiJK commented on #161
AFAIK
The `install_requires` creates the requires.txt - its meant to be there.
It has the same data as requirements.txt because we read it in the setup.py and set it to be the same
The requirements.txt is not being copied because there's no MANIFEST

This is expected behaviour

[2016-03-05 18:35] Adrianzatreanu commented on #157
ill try working on this, even though i remember i tried doing all these and it failed miserably, but ill try again now :)

[2016-03-05 18:48] coderx1 commented on #120
Nah,
Except you the other people on Gitter are not helpful.,I will practice git
on my account by making some test repo, Also I am researching on some of
the GSoC projects cuz I want to bag one project this summer. So it will
take time, It will be better if you assign the bug to other person,
Thanks :)

On Sat, Mar 5, 2016 at 7:01 PM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-03-05 18:54] sils1297 commented on #120
Hey, would you mind telling us if we're not helpful? We don't bite and we actually want to be helpful so if you're telling us that'd be helpful :)

[2016-03-05 19:16] Adrianzatreanu commented on #157
Hm how exactly are we to check if its already installed?
Check if it exists at that path already?

[2016-03-05 19:18] AbdealiJK commented on #157
Just do `dartlint -v` ? or `dart -v` ? and see if the exitcode is 0 or not

On Sun, Mar 6, 2016 at 12:46 AM, Zatreanu Adrian-Gabriel <
notifications@github.com> wrote:

[2016-03-05 19:24] Adrianzatreanu commented on #157
well for some reason it would have a != 0 exit code even if the command existed, so i tried a different approach. what do you think?

[2016-03-05 19:52] coderx1 commented on #120
Lasse, Thanks for all your help and cooperation. :)

On Sun, Mar 6, 2016 at 12:24 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-05 19:53] #157 closed

[2016-03-05 22:20] #138 closed

[2016-03-06 04:53] AbdealiJK opened #169 "Add flake8 bear"
Flake8 is awesome.

Some features Ive found it has that we can benefit from:
 - It checks module/class/function name conventions
 - It tells if a particular piece of code is not compatible with a python version
 - it tells if the `or` or `and` or `+` is at the beginning of the second line instead of the end of the first line

These are just some features on first glance. I'm sure there are many mo

[2016-03-06 04:54] AbdealiJK commented on #169
Note that flake8 also has a documentation comment plugin which we can use

It also checks if all documentation comments are "Imperative" ! Which is awesome.

[2016-03-06 05:11] SanketDG commented on #169
Can you point out which plugin does this? Currently `PyDocStyleBear` does this too.

[2016-03-06 05:18] AbdealiJK commented on #169
Er, It's one of these plugins:
[code]
my guess is pyflakes ?

[2016-03-06 08:08] hypothesist commented on #145
I have a question: isn't it mandatory for us to ask the user if he wants to change this variable or not for each violation? For instance say he uses Gtk+. It uses a lot of underscores. But if the user wants camelCase for his variables (and says so in the coafile), we can't change the library functions' names.

So my solution is: for each new variable (this is important: it doesn't make sense to as

[2016-03-06 08:23] abhsag24 commented on #145
@hypothesist that'd be pretty  cool IMO :)

[2016-03-06 09:04] AbdealiJK commented on #145
@hypothesist It makes sense to add exceptions into the coafile as a setting rather than asking them ...
Its change-able easily and persists across multiple runs (You can't expect them to do it every time they run coala)

[2016-03-06 09:05] hypothesist commented on #145
Hmm, yeah. I'll also add globs there so that they can ignore multiple names at once (something like `g_*` would prevent flagging anything related to Gtk+ automatically)

[2016-03-06 10:15] Adrianzatreanu opened #170 "Move apt-get command"
Right now, we have a `` $ sudo apt-get `` command that is in the Lua section in the .ci/deps.sh file.
This should be moved along with the other `` $ sudo apt-get `` commands in the same file.

[2016-03-06 11:26] hypothesist commented on #145
Another problem: consider the file

[code]
The problem here is that the bear would apply `abc_def -> abcDef` properly on both lines, but the `hij_klm` won't change unless you run coala again due to diff conflicts.

I have a solution that will finish the whole file in one run, but that will need the user's permission for each line where there is a violation (and if the user by mistake chooses to no

[2016-03-06 11:28] abhsag24 commented on #133
@arafsheikh sorry but assigning this to myself, since its kind of important and we need a fix soon , maybe you can try taking up something else? :)

[2016-03-06 11:34] hypothesist commented on #145
Also, when this is the case, what warning message should be displayed? Does `There are conflicting name changes. Run coala multiple times to automatically resolve this` sound okay?

[2016-03-06 11:41] sils1297 commented on #145
Ah I get your problem. You shouldn't deal with this, actually it'd be good if @fneu could take care of this in coala, dealing with changes in the same line in the Diff class generically.

[2016-03-06 11:43] hypothesist commented on #145
Cool, but as of now, I'll push variable casing bear? I think it's complete :) Once @fneu solves that it's just a line or two of change.

[2016-03-06 11:45] sils1297 commented on #145
@hypothesist you should just push out a patch for each variable name change where the base file should be the original one! Always the original. coala will take care of the rests and your bear will later not need any changing, coala will just calculate offsets within the line if it changed.

[2016-03-06 11:49] hypothesist commented on #145
@sils1297 I know, I just meant the warning message (and the code accompanying it to determine if we should give a warning). We should let the user know that some variables have not been changed. Once @fneu finishes it, we'll just remove that (because at that time it will work seamlessly).

[2016-03-06 11:52] sils1297 commented on #145
IMO you shouldn't give a warning at all.

[2016-03-06 14:12] #127 closed

[2016-03-06 14:20] sils1297 commented on #37
Ok, we probably want:

1. A bear that creates sourceranges to determine which regions are comments
2. A bear that creates sourceranges to determine which regions are strings, depends on the comment marking
3. Other bears dependent on those that search for other useful stuff

So in the end if somebody only needs to know which are comments he just depends on 1 and we don't need to run the whole chai

[2016-03-06 16:11] srisankethu commented on #169
Can you assign this to me, if no one is working on it?

[2016-03-06 17:40] sils opened #173 "Trigger new build automatically on master"
it'd be neat if we could make a POST to `https://registry.hub.docker.com/u/coala/base/trigger/c020631d-8bec-44e1-8b2b-f4f69784139f/` on every master build so the `coala/base` image gets rebuilt automatically

[2016-03-06 19:30] aachiritoaei commented on #30
Can I be assigned? I would like to work on it.

[2016-03-06 22:12] Nosferatul opened #175 "Add jruby lint bear"
i think a bear for jruby would be cool to have!
https://github.com/jruby/jruby-lint

[2016-03-06 22:13] Adrianzatreanu commented on #175
all yours then

[2016-03-06 23:26] Nosferatul commented on #175
I didn't find any linter, also last update of https://github.com/jruby/jruby-lint was 3 years ago. I wanna be unassigned.

[2016-03-06 23:48] Adrianzatreanu opened #176 "Objective C linter"
i found this linter: http://oclint.org/
seems it works, ive tested it on my machine: i suggest downloading the archive
and exporting the /bin/ manually; the `make` takes too long

[2016-03-06 23:48] Adrianzatreanu commented on #176
seems this is how you run a c++ file for example `` $ oclint sample.cpp -- -c``

[2016-03-06 23:52] Nosferatul commented on #176
I wanna try!

[2016-03-07 02:39] AbdealiJK commented on #173
I'm a little against this. Because stuff is going to happen to another repo based on this repo. (Repo dependency?)
Repos should be atomic units and should only interface with one another with package managers.

If we want to officially support it - I think we should just move that Dockerfile here and setup docker to build whenever we push to this repo (https://docs.docker.com/docker-hub/github/)

[2016-03-07 10:17] sils1297 commented on #175
see https://github.com/jruby/jruby-lint/issues/16

[2016-03-07 10:21] sils1297 commented on #173
The docker repo pulls coala from pypi not from this repo.

[2016-03-07 12:36] #133 closed

[2016-03-07 13:23] AbdealiJK opened #180 "requests_mock: Move to test-requirements"
requests_mock is used for testing InvalidLinkBear.

It's currently in requirements.txt
We should move it to test-requirements.txt

[2016-03-07 13:53] sils1297 commented on #88
release relevant, this can't stay like this

[2016-03-07 15:28] #88 closed

[2016-03-07 21:36] #118 closed

[2016-03-07 23:39] mr-karan opened #183 "Rust Linter"
I'd like to work on a new bear for linting Rust code

https://doc.rust-lang.org/book/compiler-plugins.html#lint-plugins

[2016-03-08 09:51] abhsag24 opened #184 "InvalidLinkBear: Distinguish bad connection from Broken Link"
so sometimes InvalidLinkBear yields results when we have a bad internet connection, but the links used were alright.

[2016-03-08 09:52] AbdealiJK commented on #184
Give examples please

On Tue, Mar 8, 2016 at 3:21 PM, Abhay Raizada <notifications@github.com>
wrote:

[2016-03-08 09:53] sils1297 commented on #184
uhm the InvalidLinkBear has a connection check in the prerequisites check
and should thus detect a broken connection, can you elaborate?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-08 10:51 GMT+01:00 Abhay Raizada <notifications@github.com>:

[2016-03-08 09:55] abhsag24 commented on #184
so the InvalidLinkBear checks the connection only when its instantiated after that if a connection is lost or is unstable, it does have a problem in distinguishing the bad connection from a broken link

[2016-03-08 10:04] AbdealiJK commented on #184
So we should have a max tries config in coafile and fail if it doesnt work
after max tries ?

On Tue, Mar 8, 2016 at 3:25 PM, Abhay Raizada <notifications@github.com>
wrote:

[2016-03-08 10:15] abhsag24 commented on #184
@AbdealiJK but if the connection is permanently lost it would again yield a result though it shouldn't though it would improve our results on an unstable connection.

we could also  just  improve the message clarifying that it's either a `broken link or a bad connection`

[2016-03-08 10:36] AbdealiJK commented on #184
I think if its a bad connection we shuld use `self.err()` and give a
warning rather than a result.
Giving a result message with "or bad connection" isnt a good idea imo

On Tue, Mar 8, 2016 at 3:45 PM, Abhay Raizada <notifications@github.com>
wrote:

[2016-03-08 11:34] #135 closed

[2016-03-08 15:17] tushar-rishav commented on #175
For reports on technical problems such as the use of undefined methods/variables,  [ruby-lint](https://github.com/YorickPeterse/ruby-lint) seems promising,
For reports on style check stuffs [rubocop](https://github.com/bbatsov/rubocop) looks good,
Finally there is this pacakge called [laser](https://github.com/michaeledgar/laser). It's quite old though. So  we might wanna go with the first two? @s

[2016-03-08 15:19] sils1297 commented on #175
We should definitely take rubocop, that looks like it can do lots of cool stuff.

[2016-03-08 15:20] sils1297 commented on #175
ruby-lint too :) Awesome, maybe close this one and open issues for rubocop and ruby-lint?

[2016-03-08 15:21] sils1297 commented on #175
that is if we decide to not use jruby lint, we can have that too

[2016-03-08 18:14] Makman2 commented on #183
Did you see #50?

[2016-03-08 18:29] sils1297 commented on #183
Is this a dupe? If yes close it.
On 8 Mar 2016 7:14 p.m., "Mischa Krüger" <notifications@github.com> wrote:

[2016-03-08 21:57] Makman2 commented on #183
Marking this as duplicate of #50.

[2016-03-08 21:57] #183 closed

[2016-03-09 06:44] #27 closed

[2016-03-09 06:57] sudheesh001 opened #188 "Remove extra comma in ESLintBear"
[code]
should be
[code]

[2016-03-09 07:27] Nosferatul opened #189 "Add ruby lint bear using rubocop."
https://github.com/bbatsov/rubocop

[2016-03-09 08:05] mr-karan commented on #189
Can I work on this ?

[2016-03-09 08:24] tushar-rishav commented on #189
We already have similar issue opened at https://github.com/coala-analyzer/coala-bears/issues/175. Maybe we can work on rubocop and ruby-lint once we've come to a conclusion with the former one?
Shall we close the old issue?
@sils1297

[2016-03-09 08:31] tushar-rishav commented on #188
@sudheesh001 Seriously? :smile:

[2016-03-09 08:35] sudheesh001 commented on #188
haha seriously :smile:

[2016-03-09 08:57] sils1297 commented on #189
@tushar-rishav IMO we should close #175 and open a new one for ruby-lint (not jruby-lint!)

[2016-03-09 09:11] tushar-rishav opened #190 "Add ruby-lint bear"
For reports on technical problems such as the use of undefined methods/variables and analysing similar stuffs we should have bear using https://github.com/YorickPeterse/ruby-lint

[2016-03-09 09:12] tushar-rishav commented on #175
Closing in favor of https://github.com/coala-analyzer/coala-bears/issues/189 and https://github.com/coala-analyzer/coala-bears/issues/190

[2016-03-09 09:12] #175 closed

[2016-03-09 09:13] tushar-rishav commented on #189
@mr-karan As asked, you've been assigned.

[2016-03-09 09:28] mr-karan commented on #189
Issue with the bear:
'''
while true
  do_something
end

until false
  do_something
end
'''
![second](https://cloud.githubusercontent.com/assets/5689132/13630796/2400ab6a-e607-11e5-84f8-626d5eb37400.png)

'''
unless success?
  puts 'failure'
else
  puts 'success'
end
'''

![first](https://cloud.githubusercontent.com/assets/5689132/13630785/205b4056-e607-11e5-8a22-cf026ceaa1ca.png)

[2016-03-09 09:38] sils1297 commented on #189
@mr-karan can you make a PR and discuss it there? This issue is not related to the task but to your particular implementation and the discussion thus doesn't belong here, nobody is able to help you because you didn't share the code :/

[2016-03-09 13:08] RPraneetha commented on #188
Correct me if I am wrong, but isn't the file name ESLintBearTest,py?

[2016-03-09 13:10] sils1297 commented on #188
yes, this is about the test indeed :)

[2016-03-09 18:33] arafsheikh opened #196 "JSLint Bear"
http://javascriptlint.com/index.htm

The linter can be downloaded via `npm`. (See: http://stackoverflow.com/a/8872851)

`difficulty/low`

[2016-03-09 18:53] sils1297 commented on #196
Is there an advantage over jshint and eslint?
On 9 Mar 2016 7:33 p.m., "Sheikh Araf" <notifications@github.com> wrote:

[2016-03-09 19:02] arafsheikh commented on #196
It follows a different standard than JSHint.

A) Passes JSHint out of the box - fails JSLint

[code]

B) Passes Both JSHint and JSLint

[code]

Reference: http://stackoverflow.com/a/10763615

[2016-03-09 19:04] mr-karan commented on #196
JSHint is actually a fork of JSLint but I don't see any advantage to use this. In fact it is non configurable

[2016-03-09 19:19] arafsheikh commented on #196
@mr-karan I guess you're right, it's not very configurable.
Also it hasn't been updated in two years.

@sils1297 Should I close this?

[2016-03-09 19:26] Makman2 commented on #196
@arafsheikh sure if you think the tool is not worth it :+1:

[2016-03-09 19:29] #196 closed

[2016-03-09 21:35] mr-karan commented on #190
I'd like to take this up

[2016-03-09 21:53] sils1297 commented on #190
Assigned

[2016-03-10 13:03] Uran198 commented on #38
Is it about wrapping methods from [here](https://github.com/coala-analyzer/coala-bears/blob/master/bears/c_languages/codeclone_detection/CloneDetectionRoutines.py) into class?

[2016-03-10 13:06] sils1297 commented on #38
Yes, making the design around there a bit more OO.

[2016-03-10 13:07] Uran198 commented on #38
Ok, I'll work on this one.

[2016-03-10 13:40] yland commented on #39
I would like to work on this task.

[2016-03-10 13:44] sils1297 commented on #39
Cool!

[2016-03-10 15:22] arafsheikh opened #201 "Add TSLint Bear"
TypeScript support.

[2016-03-10 15:38] vivek425ster opened #202 "Tests are failing"
Attached is the log when I ran py.test
http://pastebin.com/f5MEsZDF

[2016-03-10 16:08] vivek425ster commented on #170
@Adrianzatreanu
Where do we need to move it ?

[2016-03-10 16:18] SanketDG commented on #170
@vivek425ster yes, right on!

[2016-03-10 16:27] Makman2 commented on #202
Could you please share also which commandos you used to get coala-bears and how do you executed the tests? If you use a virtual environment or similar please also post the commandos used for setup,  activation etc. :)

Which platform do you use btw?

[2016-03-10 16:28] mukeshmk commented on #180
I would like to be assigned to this.
I have already started working on this, I did make a few mistakes but I will correct it shortly.

Thank You.

[2016-03-10 16:46] vivek425ster commented on #202
@Makman2 Hi,
I am working on ubuntu14.04 x86-64.
I followed these instructions to install coala-bears.
http://coala.readthedocs.org/en/latest/Users/Install.html#installing-coala-from-source
I din't use virtual environment. I installed it directly using sudo.
I executed it using `py.test  --resultlog`
and this is the initial line:
 `platform linux -- Python 3.4.3, pytest-2.9.0, py-1.4.31, pluggy-0.

[2016-03-10 17:15] Makman2 commented on #202
I see you don't use all plugins we need, like coverage.
Please do `sudo pip3 install -r test-requirements.txt --upgrade` inside the coala-bears repo to install all test-requirement an re-execute tests.
Tried on ubuntu 14.04 latest packages (except kernel upgrades), but can't reproduce.

[2016-03-10 17:37] sils1297 commented on #38
@Uran198 sorry I looked too briefly through this, actually the idea here was to take the existing CountVector class (CV = CountVector) and introduce a property that tells the user wether a CountVector is for a constant, function or a variable.

[2016-03-10 17:41] Makman2 commented on #202
could you again provide the complete log? with commando and also the plugins, so just everything?

[2016-03-10 17:47] vivek425ster commented on #202
The complete log which is present in stdout: http://pastebin.com/uK5FAxHd
The log as a result of py.test --resultlog=logfile : http://pastebin.com/mJRGARUW

[2016-03-10 17:57] sils1297 commented on #38
Just putting methods into a class as static methods is usually not very useful...

If you still want to take this, take a look at the `ClangCountVectorCreator`, there I did some name mangling to determine what's a constant and what not (`self.count_identifier("#" + tokens[0].spelling)`), this is about making this an actual property.

If you don't want to do this task anymore I can totally understa

[2016-03-10 18:01] Makman2 commented on #202
alright I got your output now, this is for npm packages. Though that's an npm issue, e.g. executing bootlint itself using `bootlint --version` yields:
[code]

[2016-03-10 18:12] Makman2 commented on #202
Alright you need to also install `nodejs-legacy` and then install your node packages. Then this should work :+1:

[2016-03-10 18:16] sils1297 commented on #202
@Makman2 the issue is that tests should be skipped automatically! If they
aren't the bears won't have proper error messages as well

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-10 19:12 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-10 18:17] vivek425ster commented on #202
@Makman2
I installed `nodejs-legacy` using `sudo apt-get install nodejs-legacy`
Still 7 tests are failing.
Also should i add `nodejs-legacy` in the deps.sh file or package.json ?

[2016-03-10 18:51] Makman2 commented on #202
no `nodejs-legacy` is an aptitude package, not an npm package :)
and `deps.sh` is for our CI, you don't need to modify it since it works already :+1:

@sils1297 test skipping is not the issue here. the executables do exist but somehow they don't start because `node` seems not to be found (though it exists too). This is a dependency problem inside Ubuntu, as stated in my linked issue^^

[2016-03-10 18:58] Makman2 commented on #202
@vivek425ster btw please add again your test output, I can't see what tests are still failing :+1:

[2016-03-10 19:20] Makman2 opened #208 "Move `bears.natural_language.MarkdownBear` to a new "markdown" folder"
Markdown is an own language specification, though you write texts in it, this doesn't really belong to natural language^^

[2016-03-10 19:21] Makman2 opened #209 "Move `bears.natural_language.reSTLintBear` to a new "rst" folder"

[2016-03-10 23:41] AbdealiJK commented on #202
We don't check in bears if the programming language is installed. Ie if java or node or ruby or r is not installed ... Tests will fail.
We only check for the package. We discussed this earlier and decided it's the package managers role to install all deps of a linter.
The reason for this confusion is a name conflict between an existing package node and the nodejs in Ubuntu. So this is a big in Ubu

[2016-03-11 02:40] AbdealiJK opened #210 "Run sphinx in circleci"
A LOT of people seem to be making the mistake of using markdown in the doc comments inside bears.

We can add the sphinx compile to docs command in coala-bears too so that circleci fails when there are warnings in the docs (like coala has it right now)

[2016-03-11 05:12] AbdealiJK commented on #155
I'm marking this as a duplicate as we already have `XMLBear` using `xmllint`

[2016-03-11 05:12] #155 closed

[2016-03-11 05:13] AbdealiJK commented on #155
The earlier issue is at https://github.com/coala-analyzer/coala-bears/issues/32

[2016-03-11 05:34] vivek425ster commented on #202
@Makman2 http://pastebin.com/ZseqmqME

[2016-03-11 05:50] AbdealiJK commented on #202
Here's my analysis:

 - GoVetBear: This is a known issue (https://github.com/coala-analyzer/coala-bears/issues/49) and should be fixed. If you want it to pass for now, install `golang-go.tools` using apt-get
 - ProseLintBear: This is another issue I've faced before. This happens when you use the 0.12.x version of nodejs (which is used in Ubuntu's apt-get). nodeJS has come up to v5.x.x and it would

[2016-03-11 05:54] AbdealiJK commented on #202
@vivek425ster Have you installed various web technologies in your laptop ?
I remember xmpp using the port 8081 and maybe that is clashing with LanguageTool ?
Or have you used port 8081 for anything else at all that you know of ?

[2016-03-11 06:27] Uran198 commented on #38
@sils1297 I found where you're doing mangling, but I couldn't found where you use it. Maybe it's not needed at all?

[2016-03-11 06:28] #170 closed

[2016-03-11 07:29] hypothesist opened #211 "GitCommitBear should search for the .git directory recursively"
Currently it assumes that the git root is the same as the `.coafile` directory, which may not necessarily be true always: consider an example where the user wants coala only for a part of a bigger project.

It currently relies on `get_config_dir()`, which is basically what should be changed.

[2016-03-11 07:31] AbdealiJK commented on #211
The better way to do this may just be to use `git rev-parse --show-toplevel`
http://stackoverflow.com/questions/957928/is-there-a-way-to-get-the-git-root-directory-in-one-command

It does  `realpath` though it seems.

[2016-03-11 07:33] hypothesist commented on #211
Is running system commands a good idea? The user may not have `git` in their `$PATH` (which, while rare, is still possible).

[2016-03-11 07:34] hypothesist commented on #211
Simply `isdir(path + ".git")` and keep going back?

[2016-03-11 07:34] AbdealiJK commented on #211
@hypothesist If you notice, gitcommitbear already has a git command (https://github.com/coala-analyzer/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L10). It also has a check_prerequisite of `git` being in the path (https://github.com/coala-analyzer/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L12)

[2016-03-11 07:35] hypothesist commented on #211
Wow, that's really nice. Never knew about it.

[2016-03-11 07:45] sils1297 commented on #155
@AbdealiJK this is not a duplicate, the existing bear checks for valid XML, this one shall validate if the given XML complies to a given schema!

[2016-03-11 07:50] AbdealiJK commented on #155
From what I understand `xmllint` checks if the file is valid based on the schema mentioned in the DOCTYPE. Which is the most natural thing...

You can even specify an arg `dtdvalid` if you want to manually specify a schema. (Which is not there yet in the bear)
If that's what you wanted, then you can reopen it and modify title to add args to the XMLBear ?

[2016-03-11 07:50] sils1297 commented on #155
it's another issue, can you open a new one?

[2016-03-11 07:54] AbdealiJK opened #212 "Add args to XMLBear"
Related to https://github.com/coala-analyzer/coala-bears/issues/155

We should have args to manually specify the doctype of the XML schema
Also other args should ave configs.

Basically: More configs the better !

PS: Markdown Bear s an example

[2016-03-11 08:12] sils1297 commented on #38
@Uran198 it's used in `CloneDetectionRoutines.exclude_function` at least.

[2016-03-11 08:13] sils1297 commented on #38
Other than that I don't think it's used yet.

[2016-03-11 10:10] #190 closed

[2016-03-11 14:57] #38 closed

[2016-03-11 15:22] AbdealiJK opened #217 "pypi time out"
http://www.rultor.com/t/7628-195392435

PyPi seems to time out frequently in rultor.
Maybe we can do something about it ? (happens frequently)

[2016-03-11 15:26] sils1297 commented on #217
ask on #distutils?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-11 16:22 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-11 16:21] #146 closed

[2016-03-11 17:22] tushar-rishav commented on #151
@aditigupta96  Hey. Still interested in working on this?:)

[2016-03-11 18:21] #210 closed

[2016-03-11 18:24] Makman2 commented on #155
So is this a duplicate now or not? I can't find the "old" issue that describes this bug^^

[2016-03-11 18:25] sils1297 commented on #155
well it kind of is because there's a way to do that with a bear we already have, thus #212

[2016-03-11 18:53] Makman2 commented on #211
If `git` is not present in path where should coala find it? We expect any tool currently to be inside `PATH`. Imo this is totally legitimate.

Currently `GitCommitBear` does not assume that it's inside the project root, it works also in subdirectory of the project-root. But not before the root. I think we already have an issue somewhere where `GitCommitBear` shall be able to specify a working dire

[2016-03-11 19:03] Makman2 commented on #211
Though this wouldn't be complicated: Just add another option, `working_directory`, if this one's specified run the command inside the specific working directory (just passing `cwd` or similar to the invocation).

[2016-03-11 21:10] aditigupta96 commented on #151
Sorry,I am unable to devote time to this bug as I am not getting time to
understand coala bears.I would like to work with coala after the GSOC
period. Hope you would understand.

Regards,
Aditi

On Fri, Mar 11, 2016 at 10:52 PM, Tushar <notifications@github.com> wrote:

[2016-03-11 21:11] sils1297 commented on #151
@aditigupta96 hey, that's totally fine! You're always welcome here :) We wish you the best for your GSoC application to another org!

[2016-03-12 02:55] AbdealiJK commented on #217
I attempted asking on # distutils - didn't get any response.

http://stackoverflow.com/questions/14219499/pypi-server-response-500 suggests specifying the pypi server name and index name ? Can try that ...

[2016-03-12 05:11] AbdealiJK opened #221 "Skip condition for FormatR bear"
The skip condition doesnt check if formatR is installed or not. Only checks if R is installed.
Should be added.

[2016-03-12 05:19] AbdealiJK opened #222 "Skip condition for JuliaBear"
The JuliaLintBear only checks if julia is installed ... not if the Lint plugin is installed.

[2016-03-12 05:24] aditigupta96 commented on #151
Thank you for the cooperation :)

On Sat, Mar 12, 2016 at 2:41 AM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-12 07:31] iamgroot42 opened #223 "Setup doesn't assert requirement of python3 correctly"
Running the setup with python2 gives the following error message:

`Traceback (most recent call last):`
`  File "setup.py", line 8, in <module>`
`    from urllib.request import urlopen`
`ImportError: No module named request`

One of the imports depends on python3 ; yet, it is placed before the check for 'python_version'.

Submitting a PR to fix the same.

[2016-03-12 09:12] mr-karan opened #225 "Tests/ESLintBear: Unnecessary import"
[`from coalib.misc.ContextManagers import prepare_file`](https://github.com/coala-analyzer/coala-bears/blob/master/tests/js/ESLintBearTest.py#L5) isn't used anywhere. Why is this imported then?

[2016-03-12 10:03] sils1297 commented on #225
cool can be removed then

[2016-03-12 10:33] #223 closed

[2016-03-12 10:59] #201 closed

[2016-03-12 12:22] AbdealiJK commented on #225
Why is  PyUnusedCodeBear (or whatever it is named) not detecting these ?

[2016-03-12 12:24] sils1297 commented on #225
because it's a third party import I think and may have side effects?

[2016-03-12 12:24] sils1297 commented on #225
we may need to configure the `*_party` things

[2016-03-12 13:12] arafsheikh opened #231 "Cyclomatic complexity of JS code"
https://www.npmjs.com/package/complexity-report can be used.

[2016-03-12 13:13] arafsheikh commented on #231
If approved I would like to work on this.

[2016-03-12 13:24] #30 closed

[2016-03-12 16:23] #189 closed

[2016-03-12 19:04] mr-karan commented on #222
Hold till https://github.com/coala-analyzer/coala/issues/1874 is resolved

[2016-03-12 19:04] mr-karan commented on #221
Hold till https://github.com/coala-analyzer/coala/issues/1874 is resolved

[2016-03-12 19:26] #231 closed

[2016-03-14 08:04] #221 closed

[2016-03-14 11:43] AbdealiJK commented on #169
@SanketDG https://pypi.python.org/pypi/flake8-docstrings is the plugin with docstring checks

[2016-03-14 13:57] #225 closed

[2016-03-14 18:46] jarifibrahim opened #240 "InvalidLinkBear: Implement timeout setting and raise default timeout to 2secs"
The `InvalidLinkBear` has a timeout of 1 sec which causes a number of links to fail on executing `coala invalidlink`. The timeout period should be atleast 5 sec.

[2016-03-14 18:52] sils1297 commented on #240
@SanketDG do you agree? Then this is newcoer.

[2016-03-14 18:53] Makman2 commented on #240
coala-bears doesn't have an `invalidlink` section, this issue should be migrated to coala^^

[2016-03-14 18:54] sils1297 commented on #240
@Makman2 the bear needs changing, not the coafile

[2016-03-14 18:55] Makman2 commented on #240
at least `coala invalidlink` does not apply here. Anyway: Don't we have already an issue for using a setting for the timeout? (searching...)

[2016-03-14 19:02] Makman2 commented on #240
No can't find it any more

[2016-03-14 19:05] Makman2 commented on #240
@jarifibrahim the better approach here is imo to supply a setting to the bear for the timeout, so you can manually adjust it. We had a discussion about the timeout and agreed on 2secs (though it's only 1 now...), changing it doesn't solve the backgound issue (there could be people that need 10secs due to an even worse internet connection).
@sils1297 do you agree changing this issue to "InvalidLink

[2016-03-14 19:10] sils1297 commented on #240
yeah implement a setting and probably take 2 for default?

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-14 20:05 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-14 19:26] aachiritoaei commented on #151
I would like to try it!

[2016-03-14 19:38] sils1297 commented on #151
assigning @rupak0577 as per discussion on gitter :)

[2016-03-14 23:21] SanketDG commented on #240
^ :+1:

[2016-03-14 23:55] SanketDG commented on #21
I just tested this using `phpbrew` in `5.6.16` and the tests pass.

[2016-03-15 01:59] AbdealiJK commented on #161
@Adrianzatreanu I'm closing this as it seems to be expected behaviour.
Reopen if you think it should not be closed

[2016-03-15 01:59] #161 closed

[2016-03-15 02:00] AbdealiJK commented on #114
Made a milestone and triaging bugs which I think should be included in that milestone.

[2016-03-15 02:05] AbdealiJK commented on #184
@SanketDG can you solve this quick-ish ?
This is a pretty important bug and I am marking it for milestone v0.1

[2016-03-15 02:07] AbdealiJK commented on #21
@aayn Are you still able to reproduce this ?
I am thinking that this is a bug in the `yum` package then ?

[2016-03-15 07:31] sils1297 commented on #75
@Makman2 did you manage to find out what's wrong here yet?

[2016-03-15 15:38] djkonro commented on #208
Please assign me to this task. I want to work on it.

[2016-03-15 16:27] Makman2 commented on #75
not yet, I think we should postpone this issue^^

[2016-03-15 17:38] AbdealiJK opened #243 "GitCommitBear: Check for imperative"
https://github.com/PyCQA/pydocstyle/blob/master/src/pydocstyle.py#L1613

pydocstyle does a really interesting simple check to check whether a docstring begins with an imperative word or not.

We should do this. It would probably help us a lot. (lots of newcomers make this mistake)
They basically check if the first word ends with `s` or not. (They ignore `ss`). Although this seems simple, pydocstyl

[2016-03-15 17:41] sils1297 commented on #243
hm, this wouldn't catch `Removed something` which is way more usual than `Removes something`. People would also use `Removing something`.

[2016-03-15 17:43] sils1297 commented on #243
i.e. commit messages are quite something else than doc comments, where you don't write in past tense e.g.

[2016-03-15 17:48] AbdealiJK commented on #243
True, but it's a start.
If we want a better / more complicated way - NLTK is the way

[2016-03-15 17:49] sils1297 commented on #243
hey that could be fairly easy with nltk, I guess it's childsplay for them

[2016-03-15 17:52] sils1297 commented on #243
http://stackoverflow.com/questions/30016904/determining-tense-of-a-sentence-python

[2016-03-15 19:25] djkonro commented on #208
I would like to know if this change should make both within coala and coala-bears

[2016-03-15 19:30] abhsag24 commented on #208
@djkonro only within the bears, there should be no `MarkdownBear` inside of the coala repo, also you would need to change the import statement inside of tests

[2016-03-16 08:43] #115 closed

[2016-03-16 09:59] #208 closed

[2016-03-16 10:11] AbdealiJK commented on #53
@sils1297 what are the issues you faced btw ?
Do we still want it ?

[2016-03-16 10:41] mr-karan commented on #243
This is a neat solution http://www.clips.ua.ac.be/pages/pattern-en#modality

[2016-03-16 10:56] AbdealiJK commented on #243
That does look cool :+1:

On Wed, Mar 16, 2016 at 4:11 PM, Karan Sharma <notifications@github.com>
wrote:

[2016-03-16 12:33] mr-karan commented on #243
Ah sadly no Python3 support  :-1:

[2016-03-16 13:50] sils1297 commented on #53
the commit messages of requires.io suck, that's all. Plus a few usability
things which made me pressing wrong buttons.

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-16 11:11 GMT+01:00 AbdealiJK <notifications@github.com>:

[2016-03-16 14:20] aachiritoaei opened #247 "Add PMDBear"
I've found this tool and its java code analyzer is pretty nice, I think a bear should be written for it.

https://pmd.github.io/pmd-5.4.1/index.html

[2016-03-16 14:20] aachiritoaei commented on #247
If approved, I would like to work on this.

[2016-03-16 14:23] AbdealiJK commented on #247
Ive already assigned you :P

On Wed, Mar 16, 2016 at 7:50 PM, Alexandru-Adrian Achiritoaei <
notifications@github.com> wrote:

[2016-03-16 16:33] Makman2 commented on #243
can we use 2to3 tool?

[2016-03-16 16:35] Makman2 commented on #53
If you don't like the commit message we just cherry-pick it out of the PR and change it accordingly, closng the PR from requires.io then^^

[2016-03-16 17:52] sils1297 commented on #53
then we can also just let us send an email :( I'd love if it could file an
issue

Sincerely,

Lasse Schuirmann

contact@viperdev.io
http://viperdev.io/

2016-03-16 17:35 GMT+01:00 Mischa Krüger <notifications@github.com>:

[2016-03-16 18:19] Makman2 commented on #53
why not? :D

[2016-03-17 11:34] MayankVachher commented on #120
@sils1297, I would like to assign this task to myself.

[2016-03-17 11:37] sils1297 commented on #120
@MayankVachher actually this one's kind of relevant, could you submit a PR within the next hour or so and then work with us to get it accepted today? If this doesn't work out with your plans I'd rather recommend you take another issue which is totally fine. (We want to do a release today and name changes are better in this release than in the next one as we want to get more stable over time.)

[2016-03-17 11:43] MayankVachher commented on #120
@sils1297 Sure.

[2016-03-17 12:09] #240 closed

[2016-03-17 12:51] #109 closed

[2016-03-17 14:04] #212 closed

[2016-03-17 16:25] #120 closed

[2016-03-17 18:40] vivek425ster opened #251 "XMLBear: Results are shown as log messages"
https://asciinema.org/a/6nt1tuju6hv0b1l5ga8zsdgv7

[2016-03-17 19:00] Adrianzatreanu opened #252 "bear for vint"
https://github.com/Kuniwak/vint?

[2016-03-17 20:43] #158 closed

[2016-03-17 22:25] #252 closed

[2016-03-17 23:42] sils1297 opened #259 "docs don't build - really"
[code]

[2016-03-17 23:42] sils1297 commented on #259
not ok!

[2016-03-17 23:48] sils1297 opened #260 "docs: Improve readme by far"
what we have in the release notes is better than the readme :(

[2016-03-18 01:21] AbdealiJK commented on #259
Were we not testing this in circleci ?

[2016-03-18 05:19] SanketDG opened #261 "Add args for pydocstyle"
http://pydocstyle.readthedocs.org/en/latest/usage.html#cli-usage

[2016-03-18 07:58] sils1297 commented on #259
we should but locally it didn't build, I released anyway as docs are online

[2016-03-19 12:23] Uran198 opened #264 "Use coalib.misc.ContextManagers.change_directory where possible"
Related to https://github.com/coala-analyzer/coala/issues/1314.
Locations:

- https://github.com/coala-analyzer/coala-bears/blob/master/tests/vcs/git/GitCommitBearTest.py#L157
- https://github.com/coala-analyzer/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L43

[2016-03-19 12:51] abhsag24 commented on #264
@Uran198  i guess you meant  https://github.com/coala-analyzer/coala-bears/blob/master/tests/vcs/git/GitCommitBearTest.py#L198
and
https://github.com/coala-analyzer/coala-bears/blob/master/bears/vcs/git/GitCommitBear.py#L54

[2016-03-19 12:57] Uran198 commented on #264
@abhsag24 Thanks! I edited the issue description.

[2016-03-19 19:26] Uran198 commented on #81
@Redridge Are you still working on this or can I try to do it?

[2016-03-20 05:41] abhsag24 commented on #180
@mukeshmk are you still solving this issue? if you need any help do reach us on [gitter](https://gitter.im/coala-analyzer/coala)

[2016-03-20 11:19] Redridge commented on #81
@Uran198 you have my blessing

[2016-03-20 14:13] sils1297 commented on #251
is this a bugfix? Do we want a backport?

[2016-03-20 14:19] vivek425ster commented on #251
@sils1297 It is a bug fix

[2016-03-20 14:31] sils1297 commented on #251
reopening for backporting

[2016-03-20 15:39] abhsag24 opened #267 "GitCommitBear should display by how much the shortlog is long"
so right now GitCommitBear just displays that the shortlog of HEAD commit is too long, though it'd be cool if it would display `Shortlog of HEAD commit is longer than limit by x characters`

[2016-03-20 15:57] Makman2 commented on #267
I usually use an editor that displays me the margin there. But yeah this is definitely useful.

[2016-03-20 16:01] SanketDG commented on #267
Better:

If my shortlog is 90 chars and the `shortlog_length` is 79 chars,

[code]

[2016-03-20 16:06] SanketDG opened #268 "BootLintBear: coverage reporting sometimes erratic"
Sometimes coverage drops down

https://codecov.io/github/coala-analyzer/coala-bears/bears%2Fhtml/BootLintBear.py?ref=02700c84465cb097d0d1a2d15a26a186601c2ad8

[2016-03-20 16:26] Uran198 commented on #81
OK, so the approach here would be to calculate it for each module and display it. But, as for the general markdown tutorial, what should it contain? Something about, that recommended number is 10 and when it is higher there have to be a good reason for it?

[2016-03-20 16:39] sils1297 commented on #81
yeah calculate the complexity and let the user specify one (or several for minor, normal, major) threshold(s)

[2016-03-20 18:26] jarifibrahim commented on #267
Can someone assign this to me?

[2016-03-20 19:51] jarifibrahim commented on #261
Add all the command line options?

Please assign this to me.

[2016-03-20 20:49] sils1297 commented on #261
well those which are useful to the user

[2016-03-20 21:44] #267 closed

[2016-03-20 22:39] sils1297 opened #270 "JSHintBear isn't usable by default anymore"
[code]

I think this is related to the changes from @sam09

[2016-03-20 22:51] #39 closed

[2016-03-21 05:45] vivek425ster commented on #259
https://circleci.com/gh/coala-analyzer/coala-bears/781
It is showing that in the circleci as well.
But why circle ci is not failing ?

[2016-03-21 06:04] AbdealiJK commented on #259
It seems `python setup.py docs` isnt giving out an exitcode of the commands
it runs.

On Mon, Mar 21, 2016 at 11:15 AM, vivek425ster <notifications@github.com>
wrote:

[2016-03-21 09:54] sam09 commented on #270
The default argument for ``esversion``  in  ``bears/js/JSHintBear.py`` is set to 5. I think we need to set it to 3. IMHO is could be a newcomer issue.

[2016-03-21 10:20] sils1297 commented on #270
Can you describe a bit more why this is needed and how it fixes the issue, what esversion is anyway for this to be newcomer suitable?

[2016-03-21 10:34] AbdealiJK commented on #270
basically ES is ECMAScript (something like the parent of JS - like there's ANSI-C, C+11 etc norms and various implementations of C compilers like gcc, mingw, etc.). ES's latest version is 5 and most codes do not follow ES5 yet.
@sam09 says the default version sohuld be 3 (Im guessing because that's the most popular one ?)

The reason it's newcomer is because you need to change the version somewher

[2016-03-21 10:35] sils1297 commented on #270
I think we rather want an es version argument that defaults to three and set es3 implicitly?

[2016-03-21 10:36] tushar-rishav commented on #151
@rupak0577 Hey. Still interested in working on this issue? We've seen no updates so far. :)

[2016-03-21 10:37] AbdealiJK commented on #270
Right. That is assuming it is a redundant arg ... maybe there is some
meaning to why they have 2 things for that.
Needs investigation IMO

On Mon, Mar 21, 2016 at 4:05 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-03-21 10:50] sils1297 commented on #259
that should be quickly fixed, can somebody take it? Add the exitcode and correct the docs in two different commits.

[2016-03-21 10:52] sam09 commented on #270
I just found out that ``es3 `` is an option that has been deprecated and will be removed in the next major release of JSHint. So i guess we should remove that.

[2016-03-21 14:41] vivek425ster commented on #259
@sils1297 Please assign this to me.

[2016-03-21 16:13] mr-karan opened #275 "Add gotype bear"
https://godoc.org/golang.org/x/tools/cmd/gotype

^ I would like to add a `GoTypeBear`

[2016-03-21 16:29] abhsag24 commented on #275
this seems cool :)

[2016-03-21 20:27] #259 closed

[2016-03-21 21:38] #275 closed

[2016-03-21 22:37] #75 closed

[2016-03-21 23:29] sils1297 commented on #188
Unassigning due to inactivity, @RPraneetha ping us if you're still working on this

[2016-03-21 23:44] sils1297 commented on #180
unassigning due to inactivity, ping us if you're actually still working on it

[2016-03-22 07:43] AbdealiJK commented on #270
Seems like the default version is 5 now.
http://stackoverflow.com/questions/15642903/complete-list-of-default-values-for-jshint-options
https://github.com/jshint/jshint/blob/master/examples/.jshintrc#L45

This is expected behaviour umo

[2016-03-22 07:45] AbdealiJK commented on #270
It seems like the thing you got is not even a result ... it has line set to 0.
I think jsint is giving a log message "es version is 5 by default" and that's being converted to a Result wrongly

[2016-03-22 09:01] mr-karan opened #280 "Add CSSAutoPrefixBear"
https://github.com/postcss/autoprefixer

^ Would like to do this

[2016-03-22 10:05] sils1297 commented on #270
exactly

[2016-03-22 13:44] #280 closed

[2016-03-22 14:25] sam09 commented on #270
Okay... But the ``es3`` attribute should still be removed cause it is deprecated... But maybe that should be a different issue

[2016-03-22 17:53] mr-karan opened #282 "bears/css: Add PostCSSBear"
https://github.com/postcss/postcss

A Bear for support for PostCSS plugins.

[2016-03-22 20:53] manojpandey commented on #153
Adding `brew install shellcheck` should do the job !

[2016-03-23 08:40] mr-karan commented on #222
Are you working on it ? @SanketDG

[2016-03-23 10:37] #209 closed

[2016-03-23 14:25] rupak0577 commented on #151
@tushar-rishav @sils1297  I tried but did not get far so probably you can assign someone else.

[2016-03-23 14:51] #222 closed

[2016-03-23 14:53] tushar-rishav commented on #151
Assigning to myself until someone else shows interest in this. Otherwise I shall implement it by next week.

[2016-03-23 14:54] tushar-rishav commented on #151
@aachiritoaei Hey! Still interested? :-)

[2016-03-24 09:58] mr-karan commented on #22
bump. @madminions still on it ?

[2016-03-24 10:01] mr-karan commented on #144
bump @theaverageguy what's the status ?

[2016-03-24 10:04] mr-karan commented on #98
Do we want something like [this](http://docutils.sourceforge.net/docs/dev/hacking.html#id3) ?

[2016-03-24 12:53] AbdealiJK commented on #98
Um, so that's *something* about docutils.
Could you elaborate on how that is related to this ?

PyPI says:

formats

On Thu, Mar 24, 2016 at 3:34 PM, Karan Sharma <notifications@github.com>
wrote:

[2016-03-25 16:12] #81 closed

[2016-03-25 22:33] Adrianzatreanu commented on #176
@Nosferatul you still working on this?

[2016-03-25 22:35] Adrianzatreanu opened #288 "Mention which bears don't run on Windows"
It seems that some works don't work on Windows. I think it is worth mentioning in the documentation of each bear if it's known for sure that it won't work under a specific OS (such as scripts).

CC @SanketDG as you said this in a comment :P

[2016-03-25 23:43] Nosferatul commented on #176
Still working, I have some problems with dependencies.

[2016-03-26 06:11] madminions commented on #22
Yeah. Give me some time!

[2016-03-26 14:00] sils1297 commented on #22
@madminions sorry, we just check up at times, especially if there's no activity within 20ish days in 80% of the cases the contributor vanished. You can take as long as you need we just sometimes want to check if you're still there. I hope that's ok.

[2016-03-26 18:40] Adrianzatreanu opened #289 "Haml bear"
https://github.com/brigade/haml-lint found this

[2016-03-26 18:44] Adrianzatreanu opened #290 "Pug Bear"
Seems Jade is a language to write templates for HTML.
https://www.npmjs.com/package/jade-lint

[2016-03-26 22:21] Makman2 opened #291 "GLSL bear"
Are there even linters out there for GLSL?

[2016-03-26 22:21] Makman2 opened #292 "HLSL bear"
Though this is DirectX and thus Windows specific, this is one of the standard-languages used for shader programming. I think we should support this (if there are linters out there) :)

[2016-03-27 04:49] SanketDG commented on #36
What would be the best way to specify the line and column numbers for each invalid file?

[2016-03-27 05:03] SanketDG opened #293 "Support composer?"
Composer has a lot of linting utilities
https://packagist.org/search/?q=lint&orderBys%5B0%5D%5Bsort%5D=downloads&orderBys%5B0%5D%5Border%5D=desc

Could we add support for them?

[2016-03-27 05:05] SanketDG commented on #293
I'll only add the corresponding linters if we choose to add support for composer.

[2016-03-27 05:08] SanketDG opened #294 "lint for travis yaml config file"
https://github.com/pwmckenna/node-travis-lint

[2016-03-27 05:12] SanketDG opened #295 "gitlint"
https://github.com/jorisroovers/gitlint

[2016-03-27 05:20] AbdealiJK commented on #293
I thought composer is a package manager for php ... What do you mean by  supporting it?

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎27-‎03-‎2016 10:33
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Subject: [coala-bears] Support composer? (#293)

Composer has a lot of linting utilities
https://packagist.org/search/?q=lint&orderBys%5B0%5D

[2016-03-27 05:21] AbdealiJK commented on #36
Simple list of line,col tuple?

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎27-‎03-‎2016 10:19
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala-bears] Make LocalBearTestHelper robust (#36)

What would be the best way to specify the line and column numbers for each invalid file?

[2016-03-27 05:32] SanketDG commented on #293
Could we use the linters from composer? Preferably ones with cli tools.

I am asking if we could support composer the same way we support npm?

And now I have answered my own question.

[2016-03-27 05:53] AbdealiJK commented on #293
For completeness: Yes we can :)
We don't really care about package managers in general... As long as the executable is in the path

-----Original Message-----
From: "Sanket Dasgupta" <notifications@github.com>
Sent: ‎27-‎03-‎2016 11:02
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>
Subject: Re: [coala-bears] Support composer? (#293)

Co

[2016-03-27 06:21] SanketDG commented on #36
So something like:
[code]

[2016-03-27 10:13] abhsag24 commented on #36
@SanketDG @sils1297  i have an `assertRange`  function iin  #227 that does exaclty this

[2016-03-27 15:24] Makman2 commented on #295
Does it support something different from our current `GitCommitBear`?
Not sure if it also contains special style specs like "dot-at-end-of-shortlog" and stuff^^

[2016-03-27 15:26] Makman2 commented on #36
I think we should check against `Results`, then we can check for everything yielded, like severity etc.

[2016-03-27 15:59] SanketDG commented on #295
sample error:

[code]

[2016-03-27 17:26] Makman2 commented on #295
maybe we should use gitlint instead of our self-coded gitcommitbear? Not sure...
@sils1297 @AbdealiJK opinions?

[2016-03-27 17:54] sils1297 commented on #295
Their stuff looks pretty trivial, I think we can do better with our bear
and talk to them, maybe they'd be interested to join their stuff into
coala? (They're usual ly not but they seem to spend most of their
development time on stuff coala has rather than useful functionality)
On 27 Mar 2016 19:26, "Mischa Krüger" <notifications@github.com> wrote:

[2016-03-27 22:54] Makman2 commented on #295
cool. so do we want to integrate it together with our bear?

[2016-03-28 08:28] sils1297 commented on #295
no just make our bear better than gitlint :P

2016-03-28 0:54 GMT+02:00 Mischa Krüger <notifications@github.com>:

[2016-03-28 09:06] mr-karan commented on #294
This linter has inconsisten error messages.

[code]
`value for "install" section is empty, dropping`

[code]

`syntax error: (<unknown>): could not find expected ':' while scanning a simple key at line 13 column 1`

The line and col number is missing in the first error message

[2016-03-28 09:06] sils1297 commented on #294
It probably has *linting* and *parsing error* messages

[2016-03-28 09:09] mr-karan commented on #294
Yep that's the case. Would make things difficult with regex

This is a good alternative: https://github.com/travis-ci/travis-yaml

[2016-03-28 09:18] mr-karan commented on #291
Yep, `glslangValidator` https://github.com/KhronosGroup/glslang

[2016-03-28 09:27] mr-karan commented on #290
I'd like to take this up!

[2016-03-28 09:38] Adrianzatreanu commented on #290
Hey @mr-karan we are currently trying to save some bears for the workshop you are holding in a few months, and this is quite an easy one. However, I can't stop you, it's up to you to decide and let me know if you want to get assigned! :)

[2016-03-28 09:43] mr-karan commented on #290
Ah, cool. No probs

[2016-03-28 09:45] Adrianzatreanu commented on #290
Great then, no worries :)

[2016-03-28 12:13] Adrianzatreanu commented on #169
Hey @srisankethu are you still working on this? Its been a while :)

[2016-03-28 13:28] Adrianzatreanu commented on #144
Unassigned due to inactivity.

[2016-03-28 13:30] Adrianzatreanu commented on #35
Unassigned due to inactivity

[2016-03-28 15:02] srisankethu commented on #169
@Adrianzatreanu Yes ! It's been a while still checking on it :+1:

[2016-03-28 15:07] Adrianzatreanu commented on #169
All yours then :)

[2016-03-28 16:12] Makman2 commented on #295
then the objective changes:
We want to implement all gitlint features ourselves, so we can still add stuff on our own :+1:

[2016-03-28 16:13] Makman2 commented on #291
cool :+1: :)

[2016-03-28 17:28] srisankethu commented on #169
having problem with flake8 config file. I haven't checked whelther it is existing or not whelther while writing the bear. I have put a message to them! I will complete this !

[2016-03-28 17:29] Adrianzatreanu commented on #169
I wish you the best of luck, if you need help, feel free to message us on gitter.

[2016-03-28 19:18] Adrianzatreanu commented on #33
@ravinimmi it's been a while, you still on this :) ?

[2016-03-28 19:21] Adrianzatreanu commented on #18
Hey, @ASHUGITTY you still on this? :)

[2016-03-28 22:12] ravinimmi commented on #33
@Adrianzatreanu @sils1297 Sorry for the delay. I am not currently working on this. Please unassign.

[2016-03-29 14:19] mr-karan opened #296 "Flow Bear"
Add support for http://flowtype.org/ ?

[2016-03-30 08:13] mr-karan opened #297 "Add Haskell ghc-mod Bear"
Add [ghc-mod](https://hackage.haskell.org/package/ghc-mod) support for `coala-bears`

[2016-03-30 08:16] mr-karan opened #298 "Add haxelint Bear"
Add [haxelint](https://github.com/mcheshkov/haxelint) bear

[2016-03-30 08:19] AbdealiJK commented on #298
Wow, I've never even heard of haxe until now

[2016-03-30 08:19] mr-karan opened #299 "Add Lint support for Nim"
[Nim](http://nim-lang.org/) has `nim check` tool for lint support.

[2016-03-30 08:45] mr-karan opened #301 "Add xo bear"
[XO](https://github.com/sindresorhus/xo)

Would be cool to have this?

[2016-03-30 08:50] AbdealiJK commented on #301
I'm wondering if we should add so many js linter bears ?
If they provide no added advantage to eslint or jshintrc, isn't it better not to add it ?

[2016-03-30 08:50] abhsag24 opened #302 "Bear for documentation"
we have an rst bear, but we can't use it since it doesn't handle Sphinx syntax, it'd be nice to have bear that can work with both, and could also be used for inline documentation as well :)

[2016-03-30 08:51] AbdealiJK commented on #301
In fact XO documentation says

[2016-03-30 08:53] AbdealiJK commented on #302
One possible method is to just run the `sphinx` make command we do in our
docs and search for Warnings and Errors using regex or something.

We could ask the user for which Makefile to use also ? Or which command to
run to build sphinx docs ?

On Wed, Mar 30, 2016 at 2:20 PM, GitMate <notifications@github.com> wrote:

[2016-03-30 08:54] AbdealiJK commented on #302
This is kind of related to https://github.com/coala-analyzer/coala-bears/issues/98

[2016-03-30 08:54] mr-karan commented on #301
Yep I did read that, but I was thinking from *more the merrier* point of view. I can close this if you want.
And yes, we should work on making ESLint bear better (by providing an easy way of adding more plugins)

[2016-03-30 08:59] AbdealiJK commented on #301
I agree with *more the merrier* but if this is just ESLint with a different set of default configs, then I don't see much point in it.
What exactly does XO bring to the linters ? Why was it even created ?

From the readme:

So, it seems like just a set of default configs for eslint.

@sils1297 could you take a call ?
I'm wondering if we should have a method to have different "sets" of default conf

[2016-03-30 09:05] sils1297 commented on #301
I have no idea, sounds to me like eslint does the job and we should rather give it sane defaults and do the settings guessing properly.

[2016-03-30 09:06] AbdealiJK commented on #301
Closing then as XO adds no new analysis functionality to coala.

[2016-03-30 09:07] #301 closed

[2016-03-30 13:39] Adrianzatreanu opened #303 "Remove clang installation"
right now a ton of stuff fails tests due to clang, we might temporarily remove it to see if it is the problem?

[2016-03-30 16:50] Makman2 opened #305 "Reactivate clang tests on windows"
Appveyor introduced LLVM x64, but tests are currently deactivated as the tests hang due to the x64 DLL version of the clang library.

[2016-03-30 16:52] Makman2 opened #306 "ClangASTPrintBearTest: Introduce timeout"
https://github.com/coala-analyzer/coala-bears/blob/master/tests/c_languages/codeclone_detection/ClangASTPrintBearTest.py#L55

Currently the queue would block permanently^^

[2016-03-30 16:56] Makman2 commented on #303
LLVM x64 was installed on the appveyor servers, and this is the cause of the problem. Hotfix already on its way on https://github.com/coala-analyzer/coala-bears/pull/304.
Closing in favor of https://github.com/coala-analyzer/coala-bears/issues/305 then.

[2016-03-30 16:56] #303 closed

[2016-03-30 20:06] sils1297 commented on #243
So one would use nltk for that?

[2016-03-30 20:24] tushar-rishav commented on #243
Since we are interested in first word after `:` we can just use `nltk.word_tokenize` to get list of words and finally get the word next to first occurrence of `:` in the list. Something like this maybe?

[code]

[2016-03-30 20:29] sils1297 commented on #243
I think we can just let nltk look at all words and if any non imperative mooded word is in there fail it?

[2016-03-30 20:34] tushar-rishav commented on #243
Why not fix the commit and show the message? I am thinking of why not make this bear more flexible. At coala we check for imperative, but maybe at some other orgs they might have different requirements. Why not let user feed the `grammar/rule` and then we check if the grammar is applicable with commit msg. Of course we will have default grammar as imperative mood

[2016-03-30 20:37] sils1297 commented on #243
Imperative is like *the* standard, you mean automatically adapting the tense? coala can't fix the commit message :/

[2016-03-30 20:43] tushar-rishav commented on #243
Is it? Wasn't aware of that. :+1:
Hm yeah, that'd be tricky. Changing commit would require to open an editor and stuff with an automation. Cool. I guess it's pretty clear then.
Can I work on this if we've come to the conclusion? :D

[2016-03-30 20:44] sils1297 commented on #243
Conclusion:

- no automatic change because coala doesn't support it
- just check the first line for imperative tense using nltk

[2016-03-30 20:45] tushar-rishav commented on #243
Awesome. Assigning myself :+1:

[2016-03-30 20:58] tushar-rishav commented on #151
@mr-karan Assigned you based on gitter chat. Feel free to ask if stuck. :+1:

[2016-03-30 21:37] Adrianzatreanu commented on #18
unassigning due to inactivity.

[2016-03-30 21:45] Adrianzatreanu commented on #44
unassigning due to numerous contributions?

[2016-03-31 09:56] sims1253 commented on #137
assign me

[2016-03-31 09:58] Adrianzatreanu commented on #137
all yours.

[2016-03-31 09:59] seblat commented on #188
i take this one!

[2016-03-31 10:01] sals1275 commented on #306
I would like to try to solve this issue.

[2016-03-31 18:56] sils opened #311 "KeywordBear: Add optional regex_keyword param"

[2016-03-31 18:57] sils opened #312 "KeywordBear: Detect words for ci/cs keywords"
Make sure separators like `,#./` are around the word and change docs accordingly I guess?

difficulty/low

[2016-03-31 18:57] rubdos commented on #311
I merely suggested on some form of word detection, but regex variants are easily made too, I suppose. :)

[2016-03-31 19:02] rubdos commented on #312
`.,#/:<>;\\n\r`, you have more of them? Better make a good list :-)

Or I could do the reverse, split on everything but [a-zA-Z0-9] + characters in the actual thing we search for?

[2016-03-31 19:22] #137 closed

[2016-03-31 19:22] #188 closed

[2016-03-31 19:22] #260 closed

[2016-03-31 19:22] #306 closed

[2016-04-01 05:05] abhsag24 commented on #302
@AbdealiJK  sphinx make command is a good starting point, but i guess we can do more with this,
especially in the inline docs, we can:
- [ ] Check params in documentation to match the params in the function
- [ ] enforce that `return` is in docs if return/yield is there in the function
- [ ] spell check and grammar as stated earlier

[2016-04-01 10:37] sils1297 commented on #302
Wouldn't we be able to do that stuff generically with the generic documentation algorithms @Makman2 has started?

[2016-04-01 11:13] SanketDG commented on #302
@sils1297 which documentation algorithms exactly?

[2016-04-01 11:15] AbdealiJK commented on #302
This is not for the inline documentation in the code.

This is for running on the .rst files in docs folder.
IIRC we cannot run ReSTBear on those because there are lots of sphinx
specific syntax which gives invalid results.

On Fri, Apr 1, 2016 at 4:43 PM, Sanket Dasgupta <notifications@github.com>
wrote:

[2016-04-01 12:27] rubdos commented on #312
`.,#/:<>;\\n\r`, you have more of them? Better make a good

[2016-04-01 17:40] tushar-rishav commented on #243
@sils1297 @AbdealiJK  Hey. There has been some drawbacks in determining parts of speech using *nltk*. So when I was going through nltk docs (and writing some tests) I found that the way nltk handles parts of speech is bit not accurate. Um with some research I came across the fact that nltk was trained with Wall Street journals and similar other journals data. And they don't have a lot of imperativ

[2016-04-01 18:03] tushar-rishav commented on #243
Another approach (which is fairly complex and probably also not generic) is using Regex in Chunking. So it works like we define patterns which is basically a sequence of part-of-speech tags. We then use the defined patterns to chunk the phrase and do processing. IMO this would be an overkill. I like the former approach. It's simple.

[2016-04-01 18:06] Makman2 commented on #243
In fact we could support a custom git-command action, *but*: I don't want coala to alter my commit message as this changes the commit history, imo everyone should decide on its own to change the message actually and how to alter the history^^

[2016-04-01 18:08] tushar-rishav commented on #243
@Makman2 Yeah so It won't alter the commit message. It'd just report if commit message is acceptable or not. If not acceptable then just fail. I think that's what we wanted in first place?

[2016-04-01 18:09] Makman2 commented on #243
@tushar-rishav yeah, just wanted to state that I'm not a fan of interrupting my git workflow :D

[2016-04-01 18:11] tushar-rishav commented on #243
@Makman2  Yeah.  :+1:  :D

[2016-04-05 22:05] sils opened #317 "chktexbear fails to run"
Running `py.test -k Latex` on archlinux with chktex v1.7.4 yields:

[code]

Can somebody reproduce?

[2016-04-06 06:58] Uran198 commented on #33
Codeclimate uses it's own configuration file, so should we reuse their file, or try to present settings via coala? I thinks the second variant is more preferable, but I cannot figure out how to handle settings thresholds for each language. One way, is to use `dict` for that, but in that case would the settings be straight forward?

[2016-04-06 08:23] sils1297 commented on #33
Ideally the user never notices he's using something else in the back so we want the user to be able to set stuff via the coafile. I don't understand your problem with it fully though.

[2016-04-06 11:27] Uran198 commented on #33
Codeclimate seems to be unable to work without the configuration file. We can try creating this file before it's run and deleting afterwards, but I'm not sure that this is a good idea.

[2016-04-06 11:31] AbdealiJK commented on #33
We already do that, check the `config_file` and `generate_config_file` in
Lint

On Wed, Apr 6, 2016 at 4:57 PM, Attila <notifications@github.com> wrote:

[2016-04-06 12:26] Uran198 commented on #33
@AbdealiJK Thanks, but it seems I can't use that ones, cause file has to have specific name i. e. `.codeclimate.yml`.

[2016-04-06 12:28] sils1297 commented on #33
@Uran198 I think you should add a param to Lint to make that possible instead of reimplementing it

[2016-04-06 12:50] Uran198 commented on #33
@sils1297 Yes, that's nice.
Although there are still several details, I want to discuss:
- Unlike `coala` `codeclimate` configures paths that it's excludes, so to make it work I'll have to from all possible paths extract the ones that need checking.
- The bear has to be both linter and `GlobalBear` it seems. There are no examples of such, so I'm not sure if it's OK to do it. While doing so, I'll n

[2016-04-06 14:40] Adrianzatreanu commented on #33
as i know this has also been around for a couple of days (mostly weeks) and it supports quite a few languages: https://github.com/coala-analyzer/coala-bears/pull/263/commits/796e4e57b431a49a6a88a437da129a871c7217ee but it wasn't attached to any issue

[2016-04-10 19:33] #243 closed

[2016-04-11 11:15] srisankethu opened #321 "LocalBearTestHelper: Missing doc_string for ``execute_bears``"
Update doc_string [here](https://github.com/coala-analyzer/coala-bears/blob/master/tests/LocalBearTestHelper.py#L20) area/documentation difficulty/newcomer

[2016-04-11 18:59] Makman2 opened #322 "`verify_local_bear`: Allow to input strings directly instead of pre-splitting them"
We permanently do something like this:
[code]
Completely boilerplate and should be removed.

[2016-04-11 19:19] Makman2 opened #323 "Implement new tests using `check_results`"
We definitely need better tests for our bears using `LocalBearTestHelper.check_results`.

This is some "ongoing" issue, feel free to implement better tests for a single bear and referring to this issue (not fixing it, just referring! :D)

[2016-04-13 13:39] sils1297 opened #324 "FindBugs integration"
Hey, can somebody write a linter for this? @mr-karan ? This is strategically important and would need a proper linter with good configurability.

[2016-04-14 07:34] Uran198 commented on #33
So, would we want both code duplication checking routines?

[2016-04-14 07:54] sils1297 commented on #33
I'd close this for now, PMD is way easier for us right now and we have to go through all languages and determine what we need for them at some point anyway. With all the problems of this and us having something already...

[2016-04-14 08:43] sils1297 opened #325 "ruby bears are badly documented"
[code]

[2016-04-14 08:44] sils1297 commented on #325
they are actually the same... really?!

[2016-04-14 08:45] sils1297 commented on #325
apparently rubylintbear doesn't exist anymore was that renamed?

[2016-04-14 08:50] #325 closed

[2016-04-14 10:21] Makman2 commented on #325
yes I think so^^

[2016-04-14 11:22] Makman2 opened #326 "CMakeLintBear: Implement parameters"
CMakeLint mainly needs filters, we should definitely support them besides the config file.
See https://github.com/richq/cmake-lint

[2016-04-15 16:46] Uran198 commented on #33
I'm closing this for now in favour of https://github.com/coala-analyzer/coala-bears/pull/263

[2016-04-15 16:46] #33 closed

[2016-04-16 19:28] srisankethu commented on #169
I did not find a direct method to catch the errors in Flake8. The method from its StyleGuide are printing these errors and returning the number of errors. We need to use their ``QueueReport`` but i did not get how to use it! Should i stick to doing something like ``executable=flake8`` instead of importing ``flake8``

[2016-04-16 19:34] Adrianzatreanu commented on #312
is this still being worked on :) ?

[2016-04-16 19:34] Adrianzatreanu commented on #176
hey, need some help? it's been some time, message us on gitter if you need help, we're happy to help you

[2016-04-16 19:36] Adrianzatreanu commented on #22
@madminions you still working on this? We're all happy to help you on [our gitter channel](https://gitter.im/coala-analyzer/coala), just drop by and ask us anything :)

[2016-04-16 19:49] Makman2 commented on #169
@srisankethu I've found only a single method inside that class: https://github.com/PyCQA/flake8/blob/master/flake8/reporter.py#L120

[2016-04-16 20:03] sils1297 commented on #22
@mr-karan btw. this should go into your milestone

[2016-04-18 18:37] sils1297 opened #328 "clang-format integration"
http://clang.llvm.org/docs/ClangFormat.html

Do we want that? How does it relate to just GNU format?

status/needs design

[2016-04-18 20:36] sils1297 opened #329 "ClangBear throws exception"
[code]

type/bug difficulty/low I guess

[2016-04-20 12:41] srisankethu commented on #169
I have my exams in 2 days. I will resume work after May10. I made some progress with the issue but feel free to unassign me if its urgent. I am done with the bear but need to write tests.

[2016-04-21 09:26] sils1297 opened #332 "Improve documentation for all bears"
It'd be super awesome to have someone going through all bears and improve their documentation such that:

- It is clear what the bear does without looking up anything on top on the internet.
- All results clearly point out what's wrong and ideally have the additional_info field set with a long description about it.
- All offered features are easily accessible.
- No linter specific config file must

[2016-04-21 09:28] sils1297 commented on #332
if a bear is completely revamped and got merged that may be indicated at https://docs.google.com/spreadsheets/d/1ZJTe1nFsWuKxVdRgHOlpKNI1cLHb4QgY7aAq9tOaa9w/edit#gid=0

[2016-04-21 20:52] sils1297 opened #334 "LineCountBear: Make it useful"
Let's give LineCountBear a purpose and warn if a file is too big!

I have a commit ready but somebody needs to change tests for it to work.

difficulty/low

[2016-04-21 20:58] Makman2 commented on #334
yeah that's actually a usecase! :D

[2016-04-21 21:02] sils1297 commented on #334
it is! Don't make the fault and activate it in the coafile as gitmate doesn't have the setting yet and will yield lots of results :P I did that :/

[2016-04-21 22:39] sils1297 opened #335 "integrate haxe-checkstyle"
looks like something new we don't have yet: https://github.com/HaxeCheckstyle/haxe-checkstyle

difficulty/low

[2016-04-21 22:40] sils1297 opened #336 "Swift Bear"
Do we have something for swift yet? IIRC we planned something. How avbout https://github.com/sleekbyte/tailor

difficulty/low

[2016-04-22 09:36] sils1297 opened #337 "GitCommitBear: Detect revert commits"
And make sure they have a reason! Reverts *always must have a reason*.

difficulty/low

[2016-04-22 12:50] AbdealiJK commented on #336
Closing this as it's a duplicate of https://github.com/coala-analyzer/coala-bears/issues/11

[2016-04-22 12:50] #336 closed

[2016-04-22 12:51] AbdealiJK commented on #11
As @sils1297 mentioned in https://github.com/coala-analyzer/coala-bears/issues/336 we could use https://github.com/sleekbyte/tailor if swiftlint is complicated.

[2016-04-22 12:53] AbdealiJK commented on #11
@SanketDG why is this blocked ? Please give a reason if you add that label

[2016-04-22 12:57] AbdealiJK commented on #295
To be clear here ... gitlint is MIT, so can we just copy their code without mentioning them ?

[2016-04-22 12:58] AbdealiJK commented on #293
Closing this then

[2016-04-22 12:58] sils1297 commented on #295
We can copy and relicense under AGPL as MIT is GPL compatible. We should mention it in commit message and with a comment in the code. IANAL though but AFAIK that should be sufficient.

[2016-04-22 13:00] AbdealiJK opened #338 "Remove `es3` config in JSHint"
It's deprecated and we don't need it because there's a `es_version`

As discussed in https://github.com/coala-analyzer/coala-bears/issues/270

difficulty/low

[2016-04-22 13:56] SanketDG commented on #11
@AbdealiJK sorry about that, but we had a discussion on https://github.com/coala-analyzer/coala-bears/pull/177. Looks like `swift` is not ready for `linux`. `tailor` uses java to parse code, so I think that can be used.

[2016-04-22 16:48] sils1297 commented on #332
They should also all have the LANGUAGES attribute set! coala understands that now.

[2016-04-22 16:57] sils1297 opened #340 "All bears should be configurable"
A user should be able to configure every aspect of all bears through coala settings.

We should document common settings so they work cross-bearish.

This is a meta issue, please file sub issues!

Assigning @AbdealiJK so he can make it happen (even if it only means kicking other people in the ass so they do it) as he seemed ok with being assigned to this :)

[2016-04-22 16:58] sils1297 commented on #332
See also https://github.com/coala-analyzer/coala-bears/issues/340 for other stuff that should happen.

[2016-04-23 00:43] AbdealiJK opened #341 "Support easy_install"
Apparently travis container build does not support pip3. It suggests to use easy_install instead.

coala-bear's deps don't work with easy_install. But coala does.
Do we want it to be compatible ?

Error from travis build using easy_install: https://travis-ci.org/coala-analyzer/coala-html/builds/125156449

Errors when doing it locally:
[code]

[2016-04-23 09:09] sils1297 commented on #341
@AbdealiJK is that complicated?

[2016-04-23 10:13] AbdealiJK commented on #341
I have no clue :)
The issue is with the scalastyle stuff, so I think easy_install cannot
install things from wget (in setup.py) for some reason. No idea why,
haven't checked it out.

I actually came across a work around where we can simply do:
[code]
So, we could actually close this I think and recommend that ...

On Sat, Apr 23, 2016 at 2:39 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2016-04-23 13:57] AbdealiJK commented on #341
Closing as accepting patches: not important, easy to install pip and then coala. So basically pip is a dependency of coala - which is alright.

[2016-04-23 23:02] sils1297 opened #342 "tests failing"
due to d4aa35e9c79884161cca226d3c1ed1112348e9f7

doing a few commits on coala that enable us to set a project directory

[2016-04-24 00:14] sils1297 commented on #341
forgot to close huh?

[2016-04-24 00:14] #341 closed

[2016-04-24 19:46] sils1297 commented on #342
fix on the way

[2016-04-24 19:46] #342 closed

[2016-04-25 07:35] sils1297 opened #345 "CPPLintBear: Use () as default arg for select/ignore params instead of []"
difficulty/newcomer

[2016-04-25 08:22] sils1297 commented on #114
this was released

[2016-04-25 08:22] #114 closed

[2016-04-25 08:52] sils1297 commented on #340
Let's get this for the following bears for now:

- [ ] CheckstyleBear
- [ ] ESLintBear
- [ ] FormatRBear
- [ ] GNUIndentBear
- [ ] HTMLLintBear
- [ ] RuboCopBear

[2016-04-25 10:46] jarifibrahim opened #347 "make a codecov.yml"

[2016-04-25 11:03] sils1297 opened #348 "YAMLLintBear doesn't work on travis yml"
[code]

difficulty/low probably

[2016-04-25 14:05] #347 closed

[2016-04-25 14:56] Makman2 opened #352 "GnuIndentBear: Use `shlex.split` instead of `from shlex import split ... split(...)`"
So only import the module and use the module explicitly in the `split` call:
[code]

[2016-04-25 15:23] sils1297 commented on #348
hm actually I can't reproduce this anymore

[2016-04-25 15:23] #348 closed

[2016-04-25 15:40] sils1297 commented on #332
FWIW I did a hell lot of doc improvement on linter bears that were migrated to the new linter, this issue should be doable for the release.

[2016-04-25 16:34] #345 closed

[2016-04-25 17:54] #261 closed

[2016-04-25 18:40] tushar-rishav opened #355 "HaskellLintBear.py: Imports should be in alphabetical order"
Imports must be sorted aplhabetically
bears/haskell/HaskellLintBear.py

[2016-04-25 18:43] sils1297 commented on #355
this should happen everywhere, best to use PyImportSortBear with the latest isort for that and do it all at once, set up a gitmate check

[2016-04-25 20:54] Makman2 opened #357 "GofmtBear: Allow to use simplify flag"
See https://golang.org/cmd/gofmt/
"The simplify command"

[2016-04-25 21:04] Makman2 opened #358 "GoVetBear: Implement all flags"
https://golang.org/cmd/vet/

[2016-04-25 21:25] Makman2 opened #359 "DockerfileLintBear: Implement use of rule files"
https://github.com/projectatomic/dockerfile_lint#extending-and-customizing-rule-files

[2016-04-25 22:16] sils1297 commented on #358
CC @AbdealiJK can you help as part of https://github.com/coala-analyzer/coala-bears/issues/340

[2016-04-25 22:16] sils1297 commented on #357
CC @AbdealiJK , can you help as part of https://github.com/coala-analyzer/coala-bears/issues/340 ?

[2016-04-26 01:26] AbdealiJK commented on #355
Note that there are a few places where this is not applicable, because in some places order of import matters. Example setup.py

[2016-04-26 03:07] AbdealiJK opened #363 "Coffeelintbear - Use --format=raw"
--format=raw is actually JSON.
Let's use that instead of CSV

[2016-04-26 03:20] AbdealiJK commented on #26
Removing newcomer as it's blocking https://github.com/coala-analyzer/coala/issues/1529

[2016-04-26 13:34] sils1297 opened #365 "GitCommitBear: Check for "wip" at staart of commit message"

[2016-04-26 13:35] sils1297 commented on #365
@AbdealiJK this could be a fun 5 minute feature for this release?

[2016-04-26 13:37] AbdealiJK commented on #365
I really need to get going and I still have Checkstyle, Rubicop, etc etc etc

[2016-04-26 15:01] #26 closed

[2016-04-26 15:01] #334 closed

[2016-04-26 15:01] #338 closed

[2016-04-26 15:01] #363 closed

[2016-04-26 18:26] Uran198 opened #366 "Add bear to calculate Halstead complexity measures"
Probably, using `clang AST` for that. For example usage of it, you can look at `ClangASTPrintBear` and `ClangComplexityBear`

[2016-04-27 04:29] AbdealiJK commented on #340
Seems like we already have full support for html_lint.py - It has only 1 arg (--disable)

[2016-04-27 23:51] #365 closed

[2016-04-28 01:40] AbdealiJK opened #372 "RuboCop: Add configs"
Part of https://github.com/coala-analyzer/coala-bears/issues/340

Assigning @abhsag24 as he said he was interested on gitter.

[2016-04-28 01:41] AbdealiJK opened #373 "GNUIndent: Add more configs"
Part of https://github.com/coala-analyzer/coala-bears/issues/340

Assigning @rubdos as discussed on gitter.

[2016-04-28 01:43] AbdealiJK opened #374 "ESLintBear: Add more configs"
@tushar-rishav Would you like to do this ?

From my understanding, **most** of the configs are already in JSHIntBear we just need to check the JSON syntax in ESLint and write the config for this
It's going to be used in coala-html, so it makes sense for you to do it ?

[2016-04-28 01:46] AbdealiJK opened #375 "CheckstyleBear: Add more configs"
As discussed earlier, it may be difficult to get all the configs into coala - there are waay too many.
Also, the XML structure for configs is slightly confusing + complicated (atleast for a python guy like me)

It would be awesome if some Java/Android guru does this.

Currently we support common checkstyle settings like Google, Sun, Eclipse, Android-Linter, etc.

It would be awesome to have this.

[2016-04-28 01:48] AbdealiJK opened #376 "FormatRBear: Add configs"
Need to implement configs in the `tidy_source` function of this R package.

This seems really easy actually ! Just get configs and put it into the "arguments" of the Linter.

[2016-04-28 07:51] rubdos commented on #373
How wait, I thought you meant "GNU style indentation", not "GNUIndent". Never heard of that one, although for me it's okay if you want me to do it :P

[2016-04-28 07:53] tushar-rishav commented on #374
@AbdealiJK Sure! I shall have a look but it might not be possible to give
time to this for a week. At present, have end semesters going on. :(

On Thu, Apr 28, 2016 at 7:13 AM, GitMate <notifications@github.com> wrote:

[2016-04-28 07:53] rubdos commented on #312
This will get worked on whenever my schedule allows this... Just be sure to ping me now and then. I started adding these kind of github and gitlab issues to my Thunderbird Lightning task list now though, that should help.

[2016-04-28 08:26] AbdealiJK opened #378 "Mention all languages in README"
Someone had suggested this before, but we had decided not to do it because it would make the readme too long.

We should make a table and mention all the Languages that we support so that the readme does not get too long. It looks good because it shows we have a LOT to offer and it is vital info in the README.

Example : https://github.com/guinslym/pyexifinfo#supported-filetype-read-only looks so

[2016-04-28 11:10] #247 closed

[2016-04-28 15:46] AbdealiJK commented on #373
You could make a new issue for the style indentation (making a bear for it) but this one is required too

-----Original Message-----
From: "Ruben De Smet" <notifications@github.com>
Sent: ‎28-‎04-‎2016 13:21
To: "coala-analyzer/coala-bears" <coala-bears@noreply.github.com>
Cc: "AbdealiJK" <abdealikothari@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [coala-analyzer/coala-bears] G

[2016-04-28 22:26] sils1297 opened #386 "CPDBear might show lines out of range for the file"
given a code clone where one occurrence doesn't have the same amount of lines as the other the CPDBear will attempt to show nonexisting lines, we should do something about this!

type/bug

[2016-04-29 09:57] Adrianzatreanu opened #387 "Decapitalize a word"
In the README we have a link to ``GETTING INVOLVED section`` in the ``About`` section and the capitalization annoys me, especially because the section's name isn't capitalized. Could someone change it to ``Getting Involved``?

[2016-04-29 10:10] AbdealiJK commented on #374
@tushar-rishav shouldn't be a problem, assigning you.

[2016-04-30 09:17] Adrianzatreanu commented on #25
why is this a type/test?

[2016-04-30 09:49] AbdealiJK commented on #25
Because it's a sentence that needs to be changed in a test file

[2016-04-30 14:58] Uran198 opened #388 "Add bear for astyle"
It's lightweight and supports a lot of languages: http://astyle.sourceforge.net/

[2016-04-30 15:06] sims1253 opened #389 "Have bears analyzing for security"
A lot of people at the Linuxwochen were asking if coala can do some security related analysis.

[2016-04-30 15:21] AbdealiJK commented on #388
Hasn't been updated since December 2014 though -
https://sourceforge.net/projects/astyle/files/

I don't know how popular it is - if it is still popular we should support it

On Sat, Apr 30, 2016 at 8:28 PM, GitMate <notifications@github.com> wrote:

[2016-04-30 15:24] AbdealiJK commented on #389
Security related analysis is a whole new sphere. It's not easy and most of
the times it isn't possible to do it with static analysis tools.

OWASP is the de-facto place to look for security related information. It
has a list of security analysis tools:
https://www.owasp.org/index.php/Source_Code_Analysis_Tools

Note: PMD already does some security analysis !

On Sat, Apr 30, 2016 at 8:36 PM, GitMa

[2016-04-30 15:42] sils1297 commented on #389
I think we really should look into this, coala is great for non real-time stuff and security and other analysis is totally important IMO

[2016-05-02 13:15] sils1297 opened #391 "coala -B on GNUIndentBear has a param diff_severity"
CC @Makman2

[2016-05-02 15:16] Makman2 commented on #391
I don't see it :O
[code]

[2016-05-02 17:22] sils1297 commented on #391
Hm, I definitely do get it for

'0.2.0'

diff_severity: No description given. (Optional, defaults to '1'.)

[2016-05-02 19:52] Makman2 commented on #391
Indeed, now it's there for me too even in the dev version. Weird...

[2016-05-02 19:52] Makman2 commented on #391
--> confirmed

[2016-05-02 20:34] Makman2 commented on #391
It's a coala issue, migrated to https://github.com/coala-analyzer/coala/issues/2102

[2016-05-02 20:34] #391 closed

[2016-05-04 11:22] sils1297 opened #395 "Software security analysis"
IMO we should build on our broad coverage and get some more advanced stuff. There are tools for that and https://www.checkmarx.com/2014/11/13/the-ultimate-list-of-open-source-static-code-analysis-security-tools/ provides a nice list. We should take a look at such tools a bit more IMO and integrate them well.

@mr-karan wanna do one? :)

[2016-05-04 11:28] sils1297 commented on #324
@mr-karan any progress?

[2016-05-04 16:22] Uran198 opened #396 "Possibly bug in calculating diffs"
When running coala with following `.coafile`:
[code]
the `py.py` content:
[code]
coala proposes two diffs instead of one, which doesn't feel right. Here are the diff. First:
[code]
Second:
[code]
Somehow I think this should be only one diff.
The problem may be with `PEP8Bear`, so that's why I'm opening it here.

[2016-05-04 17:38] Makman2 commented on #396
We use `Diff.split_diff()` to part up a single big diff. Indeed your example demonstrates that sometimes this is weak^^
Maybe it's possible to group issues that belong together inside a diff with PEP8?

[2016-05-04 17:49] Uran198 commented on #396
It may be a problem not only with PEP8. By the way, @Makman2 can you reproduce this. There is still a chance that I have outdated coala version or something.

[2016-05-04 18:36] sils1297 commented on #396
No this is definitely the case, we sadly can't do more than either split the diff or not split it at all. Well,we could allow say 2ish lines unchanged for the hunks to remain in the same diff?

This definitely applies to other bears too

[2016-05-06 00:32] AbdealiJK opened #397 "Add better message for PyImportSortBear"
https://github.com/timothycrosley/isort/issues/422

It would be neat for us to read the corrected output and give a messgae like `import x not sorted correctly`

Possibly for us it'd be like:
[code]
Where a,b,c,d,x are all the imports whose location is being changed in that Result

[2016-05-06 00:33] AbdealiJK commented on #397
Note that this can be done by simply parsing the diff and a regex for the changed lines maybe ?

[2016-05-06 13:12] sils1297 commented on #389
see also https://www.checkmarx.com/2014/11/13/the-ultimate-list-of-open-source-static-code-analysis-security-tools/

[2016-05-06 13:12] sils1297 commented on #395
migrated to https://github.com/coala-analyzer/coala-bears/issues/389

[2016-05-06 13:12] #395 closed

[2016-05-06 13:13] sils1297 commented on #388
astyle was quite popular IIRC, it supports more languages than we do right now so maybe this is a quick and nice thing?

[2016-05-06 13:13] sils1297 commented on #378
@Adrianzatreanu progress?

[2016-05-07 08:28] Adrianzatreanu commented on #378
not yet, mentioned when i took it that im doing it if its not urgent, been a long week, can surely give it a try today :) starting right away!

[2016-05-07 08:54] Adrianzatreanu commented on #378
https://github.com/coala-analyzer/coala-bears/wiki/all-languages-prototype is the progress, waiting for feedback.

[2016-05-07 10:57] #378 closed

[2016-05-08 14:39] sils1297 opened #400 "Verilog linting"
Apparently linting languages like VHDL and Verilog is hard and there's *some* tools available which all suck a lot. We'd be doing those users a favour by wrapping them (like I did at the conf with the VHDL linter) and writing own analysis for it.

This one's about finding at least a simple linter for verilog and wrap it so users can enjoy all the coala benefits from it, including the language inde

[2016-05-08 15:15] sims1253 commented on #400
http://www.veripool.org/wiki/verilator

[2016-05-08 20:39] Adrianzatreanu commented on #47
ping @SanketDG :p i know youre there, pinging in case you forgot about the issue :D

[2016-05-08 20:39] Adrianzatreanu commented on #176
unassigning due to inactivity.

[2016-05-08 20:40] Adrianzatreanu commented on #22
unassigning due to inactivity.

[2016-05-08 20:50] sils1297 commented on #400
[code]

just pulled the verilog example from wikipedia :/

[2016-05-09 04:09] mr-karan commented on #400
Can confirm, Reproduced:
[code]

[2016-05-09 05:54] SanketDG commented on #47
Yeah this is kind of big. It will require some time and planning :smile: \
I'll pick this up after GSoC.

If anybody else is interested, its up for grabs.

[2016-05-09 06:35] sils1297 commented on #400
@mr-karan can you try it with the first flip flop example on english wikipedia?

[2016-05-09 09:45] sils1297 commented on #400
btw. there's alsso https://github.com/manucorporat/linter-verilog/blob/master/lib/init.coffee

[2016-05-09 13:40] Makman2 commented on #47
feel free to retake then :)

[2016-05-09 14:28] mr-karan commented on #400
@sils1297 The flip flop [example](https://en.wikipedia.org/wiki/Verilog#Example) worked.

[2016-05-09 14:34] mr-karan commented on #400
This is an alternative, we can use: http://iverilog.icarus.com/

[2016-05-09 14:43] sils1297 commented on #400
@mr-karan wanna make a quick linter with verilator? That's a simple regex.

[2016-05-09 19:29] sils1297 commented on #400
I filed http://www.veripool.org/issues/1058-Verilator--Verilator-internal-fault-when-trying-to-run-on-any-file upstream which is the reason I can't use this.

[2016-05-09 22:22] sils1297 opened #402 "coala -A doesn't show PerlCriticBear"
coala -A doesn't show PerlCriticBear, is there something wrong? Seems that this one wasn't migrated to the new linter yet but it should still appear!

[2016-05-09 22:34] sils1297 opened #404 "PerlCriticBear output is ugly"
[code]

We should make the regex better and migrate this to the new linter. Also I feel like PerlCriticBear offers more info that we could throw into the additional_info field. @Makman2 can you maybe look into that as this is basically a migration to the next gen linter?

difficulty/low

[2016-05-09 22:42] sils1297 opened #405 "InvalidLinkBear: Don't include enclosing " in URL"
It fails on this one: `"https://help.github.com/articles/using-keyboard-shortcuts/"`, it detects `https://help.github.com/articles/using-keyboard-shortcuts/"` as a link which gives a 404

@SanketDG can you patch this really quick?

difficulty/low

[2016-05-10 07:57] #405 closed

[2016-05-10 10:29] sils1297 opened #407 "CI Fails: Timeout"
[code]

@AbdealiJK any idea? :/

[2016-05-10 10:59] sils1297 commented on #402
Missing `__init__.py`, making PR now.

[2016-05-10 10:59] sils1297 commented on #402
this'll be backported

[2016-05-10 11:23] sils1297 opened #410 "CPDBear: Increase minimum tokens to 20"
difficulty/newcomer

[2016-05-10 11:26] sils1297 opened #411 "Can't run ESLintBear"
[code]

[2016-05-10 11:33] sils1297 commented on #407
having a fix that is already acked

[2016-05-10 11:33] #407 closed

[2016-05-10 11:44] AbdealiJK opened #412 "Check versions in package.json"
We use ~2.3.0 for eslint , maybe we should use ~2.3
`~2.3.0 => 2.3.0 or 2.3.x (x>0) ..... ~2.3 => 2.3 or 2.x (x>3)`

From pep440:
[code]

First, we need to check if the same is true for nodejs ...

[2016-05-10 11:49] sils1297 commented on #411
Having an old version, updating helps.

[2016-05-10 11:49] #411 closed

[2016-05-10 11:51] sils1297 commented on #412
nope: https://docs.npmjs.com/misc/semver#tilde-ranges-123-12-1

[2016-05-10 11:54] sils1297 commented on #397
Sounds like a wontfix to me TBH, effect vs. time needed

[2016-05-10 11:56] sils1297 commented on #251
backport happened

[2016-05-10 11:56] #251 closed

[2016-05-10 11:57] sils1297 commented on #53
not so sure anymore if we still want this...

[2016-05-10 12:28] #402 closed

[2016-05-10 12:31] AbdealiJK commented on #373
@rubdos A polite reminder about this, still working on it ?

[2016-05-10 12:31] AbdealiJK commented on #372
@abhsag24  A polite reminder about this, still working on it ?

[2016-05-10 12:32] AbdealiJK commented on #374
@tushar-rishav A polite reminder about this, still working on it ?

[2016-05-10 12:41] Makman2 commented on #53
I think we do that quite well manually^^

[2016-05-10 12:42] #53 closed

[2016-05-10 12:57] AbdealiJK commented on #412
Oh, I see. That's really confusing >_<

Then your commit is indeed correct

[2016-05-10 13:09] abhsag24 commented on #372
@AbdealiJK  yes:) home now so expect a PR very soon :P

[2016-05-10 13:25] tushar-rishav commented on #374
@AbdealiJK Yes.Next after sending PR to update coala-html tonight.

[2016-05-10 17:09] mr-karan commented on #400
@sils1297 Verilator is giving troubles in my system as well.
Does this seem normal behaviour for a bad file?
`%Error: Command Failed /usr/local/bin/verilator_bin --lint-only flip_flop.v`

[2016-05-10 17:13] sils1297 commented on #400
Always full output, this isn't helpful

[2016-05-10 17:21] mr-karan commented on #400
[code]

[2016-05-10 18:49] sils1297 commented on #400
Some wiki examples are erroneous IIUC, check the syntax ^^
On 10 May 2016 19:21, "Karan Sharma" <notifications@github.com> wrote:

[2016-05-11 02:18] AbdealiJK opened #417 "PyImportSortBear - Support try/catch"
From: https://github.com/timothycrosley/isort/issues/421

Handling imports inside try/catch is not supported by isort. This would be a neat way toa dd more functionality that isort users want, and add more value to the PyImportSortBear.

[code]

The issue is that isort pushed things like the unittest try/catch imports (above) below all the sections, while if may be a good idea to actually detect w

[2016-05-11 02:22] AbdealiJK commented on #417
Also, I agree with the comments in that issue mentioning that try/catches can get really complicated.
But if we have a check to ensure that it's a simple one, we can use it. Or we can mention the [confidence to be low](https://github.com/coala-analyzer/coala/issues/1145) for such results.
Either way, we should have a config to turn it on/off in case there is an ugly try/catch that we don't catch c

[2016-05-11 08:10] mr-karan commented on #400
@sils1297 I delibrately changed the example and made it as an example of `bad file`. verilator is abruptly ending as the last line of output says `Command Failed`. The bear is also giving an issue because of that, log here:

[code]

[2016-05-11 09:06] Uran198 commented on #329
How to reproduce, or it throws it on every run?

[2016-05-11 09:11] sils1297 commented on #329
I think I was running ClangBear on https://github.com/mapsme/omim

[2016-05-11 12:14] #412 closed

[2016-05-11 13:08] SanketDG opened #419 "InvalidLinkBear: Improvements"
- [x] do not yield a diff of the 301 if there is a large difference between the two urls (362596b)
- [x] for 4xx,only yield 404 and 410. (c4a95f6)
- [x] have a ignore regex list to ignore certain urls (d402bf5)

[2016-05-11 18:09] rubdos commented on #373
@AbdealiJK Have not worked on this yet. If it is more urgent then my schedule permits me, I am afraid you would better assign it to someone else... As I said earlier:

It's  just not that I can set this as a priority at the moment :)

[2016-05-11 18:48] #400 closed

[2016-05-11 19:59] Makman2 commented on #373
Feel free to take it up when you like, until then I unassign it from you :)

[2016-05-13 20:37] sils1297 commented on #11
@arafsheikh time to look into this? Having a linter for swift using tailor would be neat and easy.

This is not blocked as tailor can be used.

[2016-05-13 20:48] arafsheikh commented on #11
I'll look into it first thing tomorrow morning.

[2016-05-13 20:48] sils1297 commented on #374
Ping @tushar-rishav

[2016-05-13 20:50] sils1297 commented on #372
Ping.

[2016-05-13 20:51] sils1297 commented on #373
@Redridge interested to help out here?

[2016-05-13 20:51] sils1297 commented on #376
@AbdealiJK time to do this yourself?

[2016-05-13 21:07] sils1297 commented on #389
see also http://www.dwheeler.com/essays/static-analysis-tools.html

[2016-05-13 21:13] tushar-rishav commented on #374
Hm I remember this.
Presently, I've been stuck with implementing file tab in coala-html. The prototype version was hard coded. Been fixing that. :+1:

[2016-05-14 10:28] sils1297 commented on #410
This was done

[2016-05-14 10:28] #410 closed

[2016-05-14 11:17] #386 closed

[2016-05-14 15:55] sils1297 opened #427 "Upgrade coala"
Apparently when we upgrade coala, CI fails for Python 3.3.

See https://github.com/coala-analyzer/coala-bears/pull/423

[2016-05-14 18:47] #37 closed

[2016-05-14 19:37] abhsag24 opened #429 "AnnotationBear: Distinguish between single-line and multi-line strings"
needs to take care of the special case when single-line strings can be treated like multi-line by escaping newline

[2016-05-15 08:36] adireddy commented on #335
Just saw this... if you need any help integrating haxe-checkstyle do let me know. Thanks.

[2016-05-15 09:12] sils1297 commented on #335
Hey, great!

CodeClimate is a commercial, proprietary product, their goal is to provide code analysis as a service - as a product. coala is a tool (and a nonprofit community with no commercial background) that tries to improve the way static code analysis is written in a sustainable way. (Wrapping other tools is avoiding redundancy, coala is made for making algorithms natively and not having to wr

[2016-05-15 09:12] sils1297 commented on #298
Apparently haxe-checkstyle is derived from this and *better*. Closing this thus :)

[2016-05-15 09:12] #298 closed

[2016-05-15 09:17] sils1297 opened #430 "reek integration"
seems nice: https://github.com/troessner/reek

[2016-05-15 09:18] sils1297 opened #431 "ember watson"
https://github.com/abuiles/ember-watson seems a bit strange but may even provide fixes

[2016-05-15 09:26] sils1297 commented on #335
FWIW with coala integration your tool can be used through coala. That means:

- You can write one config for all languages in your project, lint everything with one command.
- Combine your algorithms with ours. Sometimes we provide generic stuff like spacing and can autocorrect that.
- Editor plugins for GEdit, Vim, Atom, Sublime if I didn't forget anything.
- GitMate support (something like code

[2016-05-15 09:33] sils1297 commented on #335
@adireddy just browsed the docs, it's an awesome tool and seems to have a good coverage for the language including stuff like cyclomatic complexity. Neat! I think you have no way to provide fixes for those issues you detect do you?

[2016-05-15 10:08] AbdealiJK commented on #427
I backtraced the issue, and found the reason to be that `CheckStyleBears` is the only linter which needs `create_arguments` to have `self`. When executing the bear, the bear is asking the Section for a non-optional config named `self`. This is causing the error to be thrown.

I am not sure what changes have been added in the new coala version ... So, I'm not sure why it didnt happen before. We sho

[2016-05-15 10:13] AbdealiJK commented on #427
Oh right. This only happens in py3.3
I wonder why ? This should actually fail for all of them.
@Makman2 ?

[2016-05-15 10:22] sils opened #432 "Add link to install instructions in missing prerequisites messages"

[2016-05-15 10:22] sils1297 commented on #432
not only to the tool

[2016-05-15 10:53] sils1297 opened #433 "FlawFinder integration"
Neat stuff: http://www.dwheeler.com/flawfinder/

area/lintbears difficulty/low

[2016-05-15 11:13] adireddy commented on #335
Thanks @sils1297.

You are right. It doesn't provide fixes for the issues as of now.

[2016-05-15 11:32] sils1297 commented on #335
@adireddy cool, we'd still love to have it. Let us know if you're working on it so we don't do the same.

[2016-05-15 11:40] sils1297 commented on #432
Bluntly assigning @Adrianzatreanu as this is a very simple thing but related to your project which then will automate the installation, right?

[2016-05-15 11:43] arafsheikh opened #435 "Ruby web application security scanner bear"
https://github.com/thesp0nge/dawnscanner

[2016-05-15 11:45] Adrianzatreanu commented on #432
I guess so.

[2016-05-15 12:12] Makman2 commented on #427
hmm @AbdealiJK that was your change :D
The only problem is you need the logging. As the bear currently is broken, we should remove the log and add an issue / fixme to readd it again. Then we can change `known_configs` to a class/staticmethod and we are good to go :+1:

[2016-05-15 12:13] Makman2 commented on #427
Logging is generally a problem in coala and in my new linter design, need to do look at it too soon ...

[2016-05-15 13:45] #11 closed

[2016-05-15 13:46] sils1297 commented on #396
I have introduced a `distance` parameter in coala that allows seperating diffs only if they're further away than n lines, we should make use of this in various bears.

[2016-05-15 14:12] sils1297 commented on #427
This was fixed with a fix at coala :)