[2016-10-11 01:32] jayvdb commented on #889
I'm not sure how big this bug is.  It looks quite bad ; maybe these releases should be blacklisted.
Or maybe it is possible to turn off displaying the source on all recent versions, which may help.

[2016-10-11 02:17] jayvdb commented on #889
Dup of #317

[2016-10-11 02:17] #889 closed

[2016-10-11 02:18] jayvdb commented on #317
A more complete analysis is at #889 ; essentially it is chktex 1.7.3-5 , and is now fixed.
And Circle CI precise images dont encounter this because they are 1.7.2.

[2016-10-11 02:19] jayvdb commented on #317
I'm not sure how big this bug is. It looks quite bad ; maybe these releases should be blacklisted.
Or maybe it is possible to turn off displaying the source on all recent versions, which may help.

[2016-10-11 02:26] jayvdb commented on #317
Ok, it is easy enough to avoid the source line which appears to be the only problem, and it wasnt being used anyway.
Using `chktex --format='%k %n in %f %l: %m^M^L' ~/tmp/bad.tex` does the trick.

[2016-10-11 08:08] jayvdb commented on #317
I've posted more info at https://savannah.nongnu.org/bugs/?49000#comment2 , and cc'd the Debian package maintainer in the hope that they push out a new version, ideally as a security update.

[2016-10-11 08:35] sils commented on #887
Nice there should be a parameter mktmpfileargs or something like that where we can pass a file extension

[2016-10-11 08:39] sils commented on #802
But this would be a bug in the deprecation then, is this still failing with an exception @sims1253 ?

[2016-10-11 11:08] jayvdb commented on #869
Note I havent been able to find a way to reduce the time spent in `.ci/deps.sh` on trusty, vs precise.
Including xenial for Julia causes most of the additional time.
As a result, we may as well install the other deps from xenial.
If increased build times are a problem, the main project can continue to use precise, and devs can use trusty occasionally to check it keeps working.
The real fix for #85

[2016-10-11 12:48] #321 closed

[2016-10-11 13:09] #761 closed

[2016-10-11 17:15] manu-chroma commented on #860
Tried testing this error and InvalidLinkBear parsed link correctly,

Test file: ``error_file.txt``
'http://coala.io'
'http://fojg.cc'

Tried executing this command
``coala --files=test_error.txt --bears=InvalidLinkBear``
[code]

[2016-10-11 17:45] jayvdb commented on #887
Note that while #890 fixes the problem for the test suite, there is still the possibility that someone uses a non-standard C/C++ file extension , in which case CPPCheckBear silently discards the file because `cppcheck` also silently discards the file if it is not recognised.
I am digging into this a little bit, as I believe this is a bug best fixed upstream in `cppcheck`.

[2016-10-11 17:49] jayvdb commented on #317
btw, the resource I used for `--format` string was https://www.nongnu.org/chktex/ChkTeX.pdf .  I didnt see it documented in the `--help` anywhere.

[2016-10-11 19:55] underyx commented on #860
I'm reading this in an email on my phone so I'm not sure, but isn't it
because you are using apostrophes instead of backticks there?

On Tue, Oct 11, 2016, 7:16 PM Manvendra Singh <notifications@github.com>
wrote:

[2016-10-11 20:09] jayvdb commented on #887
I was wrong.  It does process all files, essentially as C if unrecognised.  The problem is that the two types of cppcheck errors that our current `bad_file` emits are "BufferOverrun" and "MemoryLeak".
These two checkers both bail out without any debugging info, both because `new char[10];` isnt valid C, and the relevant code is not entered due to `Path::isCPP` conditions.

That said, there is stil

[2016-10-12 01:52] jayvdb commented on #169
My suggestion on how to handle the Flake8Bear/PEP8Bear/PyFlakesBear configuration (and I welcome ideas from others on this messy situation, cc @underyx ) is ....

`Flake8Bear` use the existing options `pep_select` and `pep_ignore`, the same as `PEP8Bear`.

`Flake8Bear` then adds new options `pyflakes_select` and `pyflakes_ignore` (which would be shared with `PyFlakesBear` when it is created).

And

[2016-10-12 02:00] sims1253 opened #891 "[Bear Proposal] LinespotsBear"

[2016-10-12 08:19] jayvdb opened #892 "[Bear Proposal] gettext localisation file linter"
I dont know what are good tools for this.

Here are some possible tools:
- https://github.com/pedromorais/gettext-lint ( unmaintained )
- https://pypi.python.org/pypi/Babel (supports several formats, but is only a parser, not a linter.)
- https://github.com/willkg/dennis

[2016-10-12 08:21] sils commented on #892
Nice indeed, I had that in mind as well. We might want to lint proper internationalization as well, checking for some common pitfalls.

[2016-10-12 08:22] jayvdb commented on #892
https://github.com/nijel/weblate is a Python project that has a Web UI.  It does some checks, so could have dependencies that are usable for this.

[2016-10-12 08:24] sils commented on #860
Yes, this is about backticks specifically. Single quotes are already
handled, backticks apparently not.

[2016-10-12 08:32] jayvdb commented on #892
`dennis` looks like a good lint tool to be the first bear.
Ignoring rule W302 (translation same as source) seems to make its error output list reasonable.

[2016-10-12 09:27] manu-chroma commented on #860
oh sorry, I confused backticks with apostrophes here.

[2016-10-12 10:07] #488 closed

[2016-10-12 12:16] abhsag24 opened #893 "Remove TestHelpers"
since they are already shifted to coala we dont need them anymore.
also migrate issues related to them
A simple search shows:
https://github.com/coala/coala-bears/issues/466
https://github.com/coala/coala-bears/issues/323
https://github.com/coala/coala-bears/issues/36

[2016-10-12 12:30] abhsag24 commented on #466
This issue was moved to coala/coala#2860

[2016-10-12 12:30] #466 closed

[2016-10-12 12:31] abhsag24 commented on #323
This issue was moved to coala/coala#2861

[2016-10-12 12:31] #323 closed

[2016-10-12 12:31] abhsag24 commented on #36
This issue was moved to coala/coala#2862

[2016-10-12 12:31] #36 closed

[2016-10-12 14:23] Makman2 commented on #891
you got a link? @sims1253

[2016-10-12 15:15] sims1253 commented on #891
added

[2016-10-12 16:13] jayvdb commented on #892
https://github.com/phpmyadmin/localized_docs/pull/2 has examples of some real problems that `dennis` catches.

[2016-10-12 19:02] pjhampton commented on #861
Hey @underyx & @sils

I would love to take this forward. Can you please assign me?

[2016-10-12 19:06] Mariatta commented on #481
Is this still open? Can I work on this?

Thanks :smiley:

[2016-10-12 19:08] Asnelchristian commented on #481
well @jjhonson seems to be working on it

[2016-10-12 19:09] Mariatta commented on #481
cool no prob :) I'll keep looking. Thanks for the quick reply.

[2016-10-12 19:11] jjhonson commented on #481
I am working on it ... just confirming.  Turning a very easy project into a hard one but I'll get it figured out.  Thanks for your patience

[2016-10-12 19:20] Asnelchristian opened #895 "YapfBear: Make asciinema"
@Mariatta  are you interested?

[2016-10-12 19:20] sils commented on #861
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-10-12 19:23] Mariatta commented on #895
yes please :+1:

[2016-10-12 19:43] jayvdb opened #896 "CPPLintBear should error when use_spaces is False or indent_size is not 2"
`cpplint` only performs indentation checking using 2 spaces, according to https://google.github.io/styleguide/cppguide.html#Spaces_vs._Tabs

`use_spaces=False` must emit an error
`indent_size` must be set to 2, otherwise emit an error

[2016-10-12 20:03] jayvdb opened #897 "DartLintBear should error when use_spaces is False or indent_size is not 2"
dartanalyzer only performs indentation checking using 2 spaces, according to https://github.com/dart-lang/dart_style/issues/261

`use_spaces=False` must emit an error
`indent_size` must be set to 2, otherwise emit an error

[2016-10-12 20:31] jayvdb opened #898 "CheckstyleBear should error when use_spaces is False or indent_size is not 2"
If `checkstyle_configs = Google`, indentation checking using 2 spaces, according to https://google.github.io/styleguide/javaguide.html#s4.2-block-indentation

`use_spaces=False` must emit an error
`indent_size` must be set to 2, otherwise emit an error.

[2016-10-12 20:47] jayvdb opened #899 "GofmtBear and SpaceConsistencyBear defaults are incompatible"
`GofmtBear` uses tabs for indentation and spaces for alignment, with 8 space tabs, and can not be altered.
`SpaceConsistencyBear` uses spaces for indentation by default.  If if it is configured to use tabs, i should make exactly the same changes as `GofmtBear`.

So using both together is either problematic (and should emit an error), or redundant processing (and should emit a warning).

[2016-10-13 03:56] jayvdb commented on #892
Dennis should wait until https://github.com/willkg/dennis/pull/82 is released.

[2016-10-13 06:30] #895 closed

[2016-10-13 07:29] jayvdb opened #901 "[Bear Proposal] rst2rst"
https://pypi.python.org/pypi/rst2rst - prettifies reStructuredText

[2016-10-13 07:31] jayvdb commented on #901
May want to add py35 support to rst2rst

[2016-10-13 09:08] jayvdb opened #902 "[Bear Proposal] rstcheck"
[Write a bear](http://docs.coala.io/en/latest/Developers/Writing_Bears.html) for https://pypi.python.org/pypi/rstcheck to check [reStructuredText](https://en.wikipedia.org/wiki/reStructuredText).

[2016-10-13 09:34] jayvdb opened #903 "[Bear Proposal] AsciiDoc linter"
coala has Markdown and reStructuredText.  AsciiDoc is the other major format that is not yet supported.

According to http://www.methods.co.nz/asciidoc/faq.html#_asciidoc_sometimes_generates_invalid_output_markup_why , `a2x` might be a good validator.

[2016-10-13 09:47] Makman2 commented on #895
wow nice one :+1: :D

[2016-10-13 13:18] #317 closed

[2016-10-13 13:18] #887 closed

[2016-10-13 13:21] jayvdb commented on #859
The 'fix' was a good workaround, but the problem remains somewhere upstream, and means we cant use this PPA until it is found and fixed.

[2016-10-13 14:32] jayvdb commented on #869
I've switched `coala/coala-bears` Circle CI to using trusty.  Revert if anything goes wrong or build times are excessive.

[2016-10-13 14:34] sils commented on #869
can you trigger another build? (Not a rebuild, that won't pick up the new settings)

[2016-10-13 14:48] jayvdb commented on #869
Done.

[2016-10-13 15:09] jayvdb commented on #869
And failed.
[code]
Investigating on my Circle CI.

[2016-10-13 15:11] sils commented on #869
then please put the builds back to the old setting

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 13 October 2016 at 17:09, John Vandenberg <notifications@github.com>
wrote:

[2016-10-13 15:12] jayvdb commented on #869
Done.

[2016-10-13 16:54] manu-chroma commented on #860
Test for this bug should be added in https://github.com/coala/coala-bears/blob/master/tests/general/InvalidLinkBearTest.py#L72 if I'm not wrong.

Also, should the test be added in a new commit ?

[2016-10-13 17:08] Asnelchristian commented on #860
nope.. it should be  in the same commit

[2016-10-14 03:56] sourabhtk37 commented on #902
An rstcheck need to done right to all .py files?

[2016-10-14 04:14] jayvdb commented on #902
No. On [reStructuredText](https://en.wikipedia.org/wiki/reStructuredText) files.
See `bears/rest/` for one existing reStructuredText bear.

[2016-10-14 06:31] jayvdb commented on #869
Note I rebuilt my commit without cache and the build was green: https://circleci.com/gh/jayvdb/coala-bears/144
So I have started a rebuild without cache : https://circleci.com/gh/coala/coala-bears/3434 to see if that was the problem.

[2016-10-14 07:28] jayvdb commented on #869
And it failed without cache.

[2016-10-14 17:53] adtac opened #906 "InvalidLinkBear: allow sftp protocol"
http://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml if you're feeling good :P

Not sure how much sftp is used, but I've seen it once or twice

[2016-10-15 00:24] #481 closed

[2016-10-16 03:45] cassella opened #908 "Wrong url for scspell in bears/natural_language/SpellCheckBear.py"
This bear requires scspell3k from pip, but the docstring references the pypi page for the older scspell:

https://pypi.python.org/pypi/scspell

Instead it should be

https://pypi.python.org/pypi/scspell3k

[2016-10-16 08:25] sils commented on #908
Thanks for reporting @cassella . Marking this as newcomer suitable.

[2016-10-16 17:56] manu-chroma opened #910 "Need doc_string in InvalidLinkBearTest.py"
doc_string needs to be added for the  ``class InvalidLinkBearTest(unittest.TestCase)``
- Need to state that the tests are mocked and just return the int conversion of the last three chars of the URL as status code.

[2016-10-16 22:23] coala-bot opened #911 "Make a Good Settings Naming Scheme (allow_... vs. check_... etc.)"
See discussion at https://github.com/troessner/reek/issues/920#issuecomment-254071973

@Asnelchristian has worked on this in the past and this is *super* important. Also CC @fneu and @seblat - this is a major usability deal and we might want to do surveys with people and stuff like that to validate we're going into the right direction. We should have a cEP for this and then implement it very very

[2016-10-16 22:27] sils commented on #911
One major point of confusion seems to be that a lot of **tools** that we wrap **offer different Checks** and stuff like that whereas **our concept of Bears is more like a concept of checks itself** - it makes no sense to turn off/on checks with settings, however they should be used to  configure them. I think we should be very aware of that difference and we may need to come up with some core chan

[2016-10-17 03:12] aptrishu commented on #798
I would like to be assigned as the assignee is no longer interested.

[2016-10-17 04:36] sils commented on #798
Thanks for the info @mwang14 if there's any work you already did it would be helpful if you could share it! @aptrishu go ahead :)

@mwang14 could you fill coala.io/newform ? It should be done in a minute or so and would help us a lot.

[2016-10-17 09:38] #908 closed

[2016-10-17 15:21] mwang14 commented on #798
@sils just filled it out 👍

[2016-10-17 18:38] gs0510 commented on #898
Can you assign this task to me?

[2016-10-17 19:33] gs0510 commented on #847
I have a few questions:
1. scspell has an English dictionary that is references for checking "good words". So the first requirement is fulfilled IMO.
2. For both inclusion/exclusion it is not as simple as adding settings to the bear is it? sc-spell will not check for regexes in the code. Do I write code to ignore warnings that are related to the regex?

[2016-10-17 19:42] gs0510 commented on #358
I would like to be assigned to this!

[2016-10-17 20:16] gs0510 commented on #358
https://golang.org/cmd/vet/ has ~ 20 flags. I shall be using this as a reference: http://docs.coala.io/en/latest/Developers/Writing_Linter_Bears.html#adding-settings-to-our-bear. In this doc the settings are added to create_arguments function. If I were to see RuboCopBear, it adds all the params to generate_config and then uses that as a config file to create_arguments. What will be the best way t

[2016-10-17 20:45] sils commented on #358
what wrong with doing as you described? :confused"

[2016-10-17 21:15] gs0510 commented on #358
Um nothing.Just asking what will be a better suggestion. Adding the flags to create_arguments function or adding the flags to generate_config function?

[2016-10-17 21:26] sils commented on #847
Why can't we add settings for inclusion/exclusion to the dict?

[2016-10-17 21:32] sils commented on #358
depends on if your bear needs a configuration file or accepts the arguments
via CLI arguments

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 17 October 2016 at 23:15, Gargi Sharma <notifications@github.com> wrote:

[2016-10-17 21:35] gs0510 commented on #847
From what I have understood, if I were to add regex to the settings, the underlying package( scspell in this case) that is doing the spell check should also support a flag or should have a provision wherein it ignores errors that matches the regex. If that is the case, how does adding a setting suffice? Also, the flag scspell provides is --override-dictionary=/path/to/dictionary_file.txt, I'm not

[2016-10-18 07:57] sils commented on #847
You can filter the results with python code e.g. or generate such a dictionary file. Think from the users perspective, what would be the easiest way to use this. And then think about ways to make this happen even if scspell doesn't have that functionality yet - we can build it around and/or file an issue upstream at their repo.

[2016-10-18 15:39] #860 closed

[2016-10-18 15:39] #910 closed

[2016-10-19 03:44] amrandahvur commented on #556
Please Assign me this

[2016-10-19 12:20] arush0311 commented on #432
Can I take this?

[2016-10-19 12:55] sils commented on #432
@Adrianzatreanu @arush0311 sure, I think the most important thing to address is that the Bear class should generate the installation instructions from the DEPENDENCIES metadata

[2016-10-19 12:55] sils commented on #432
though @fneu might have a word to say

[2016-10-19 12:56] sils commented on #432
he's about to refactor it. At least he's saying it...

[2016-10-19 13:08] fneu commented on #432
No objections from me. Dependency checking will stay in the requirements. I'm not touching those kinds of messages.

@sils I'm busy driving to Harburg, the GitMate Hangouts call later and our meetup this evening.
I want the cib stuff done this week. I now there will be GitMate feedback so I'm counting on Sunday.

[2016-10-19 13:18] sils commented on #432
but the commands won't be generated by the classes, right? I think it makes sense to wait for your changes and then get as much info as possible about installation and ideally a doc link from whatever you do. E.g. if your function can make sure that an APT package does the job maybe we can generate a URL to the package or so.

[2016-10-19 13:59] fneu commented on #432
Commands for checking will be generated by the classes. For system packages I.e. by `shutil.which()` as we don't care who provides it in that case.

[2016-10-20 07:32] amrandahvur commented on #556
@Makman2 I have added the ``spacecase`` convention and have also written the corresponding tests. I still am having trouble with the "tests" though. Could you please review ? Thanks :)

[2016-10-20 09:18] Makman2 commented on #556
@amrandahvur see comment in PR. Btw if you have issues that are related to your PR, post there, as this issue is just for discussion about the task (ideally) :)

[2016-10-20 19:12] sils commented on #898
@jayvdb shouldn't we rather use like "google" as base and then modify according to the given settings?

[2016-10-20 20:07] #556 closed

[2016-10-21 06:37] amrandahvur commented on #758
I would like to be assigned to this issue however I need some details on exactly what I have to implement and change.

[2016-10-21 09:58] sils commented on #758
basically: add the testcase to the tests, see it fail, then change the regex to make it pass

[2016-10-21 09:59] sils commented on #758
thanks for picking this up! CC @SanketDG if you need further help, he wrote that thing

[2016-10-22 06:50] jayvdb opened #918 "Authors section of README.rst duplicated"
[code]

The problem is that there is an "Authors" section and it is duplicated.

This problem is part of the patch at https://github.com/coala/coala-bears/pull/904 , which may be abandoned in an unmergable state.

[2016-10-22 06:57] jayvdb opened #919 "Incorrect indent in RELEASE_NOTES.rst"
[code]

The problem is that there is an extra space (` `) in the second line of

[code]

The `for` should be aligned under the first character of the first line of the list item.

This problem is part of the patch at #904 , which may be abandoned in an unmergable state.

[2016-10-22 07:16] pranav16255 commented on #874
What exactly do we have to do to fix this issue ?

[2016-10-22 08:09] sils commented on #874
install https://asciinema.org and make an asciinema of running the bear showing off a few features (asciinema is that video like thing we have on coala.io right on the top)

[2016-10-22 08:09] sils commented on #874
though @PR0han is already assigned

[2016-10-22 08:15] jayvdb commented on #919
(Waiting for a response from @sourabhtk37)

[2016-10-22 08:15] jayvdb commented on #918
(Waiting for a response from @sourabhtk37)

[2016-10-22 11:12] nemaniarjun commented on #919
I am an absolute newbie, can i try this?

[2016-10-22 15:32] amrandahvur commented on #758
I think the testcase for the placeholder ``%s`` to be ignored is to be added in ``test_link_ignore_regex(self)`` function in InvalidLinkBearTest.py right ? Also, how do i actually add it ? Does it have to be added in the list of ignored_URLS ??
[code]
Also, for seeing it fail, I simply run this InvalidLinkBearTest.py right ?
I am sorry but I am taking some time to get accustomed to this.

[2016-10-22 17:19] Makman2 commented on #758
yeah just add one or two samples to the `ignored_URLs` list, each of them gets tested in the test file^^

[2016-10-22 17:42] amrandahvur commented on #758
Ok, Just a small lil thing, If I add ``http://www.%s.com`` the tests still pass, I guess I am writing it the wrong way here (I have also tried other alternate ways of writing it). How do I use this placeholder within a string ? If possible, Could you give me one example of such a test case?

[2016-10-22 18:12] Makman2 commented on #758
wait wait wait, you just substitute the `ignored_URLs` string with `apple.splitlines()`, whereas `apple` is not defined and you don't want to substitute. `ignored_URLs` is a test string where every link on every line is tested against the InvalidLinkBear whether it ignores these links correctly / yields no results on these.

-->
[code]

If your regex works right, then yes the tests shall pass (wit

[2016-10-22 18:18] amrandahvur commented on #758
Oh, Okay, I guess the regex already written before works perfectly fine then. Because ``http://www.%s.com`` doesn't show up any error. This means I shall make a PR with one or more such tests only. My PR wont include changes in regex then :)
@Makman2

[2016-10-22 18:19] Makman2 commented on #758
sure do this :+1:

[2016-10-22 18:45] amrandahvur commented on #758
I will be sending a new corrected PR, realized my mistake

[2016-10-22 18:53] amrandahvur commented on #758
It turns out I did not know how to run test cases and interpreted wrongly. Will send an updated PR soon.

[2016-10-22 19:10] amrandahvur commented on #758
Is ``http://www.sub.com/Hello%World`` to be ignored too ?? @Makman2
I have fixed ``http://www.%s.com`` though

[2016-10-22 19:11] Makman2 commented on #758
no, it shall not be ignored :)

[2016-10-22 19:12] Makman2 commented on #758
I would say only common C format placeholders shall be ignored (like `%f`, `%s` etc).
See http://www.cplusplus.com/reference/cstdio/printf/

[2016-10-23 11:40] jayvdb opened #923 "YAMLLintBear does not like .travis.yml due to missing start/end"
Many yaml files have no need for start and end markers.  It should be an option to disable `document-start` and IMO it should be disabled by default

[code]

[2016-10-23 11:51] jayvdb opened #924 "MarkdownBear: Add remark-validate-links plugin"
`remark` has many plugins.  One is remark-validate-links , that checks that the local files exist relative to the markdown file.

[2016-10-23 12:01] jayvdb opened #925 "MarkdownBear: config_file is ignored"
`remark` has a lot of options, many not supported by MarkdownBear.  It should be possible to supply a config file.

The simplest approach is that when a config file is provided, all other options are ignored.

[2016-10-23 12:07] jayvdb opened #926 "MarkdownBear: use remark-lint to report meaningful messages"
Using the revised output of remark is helpful for tidying the markdown automatically, however that means there are no descriptions of the problems.

The remark-lint plugin reports error messages.

When in CI mode, and the tidying of the file is useless, and descriptive messages are critical.

e.g. https://github.com/imsky/PocketEuler/blob/master/.travis.yml

[2016-10-23 12:19] jayvdb commented on #924
See https://github.com/imsky/PocketEuler/blob/master/.travis.yml for an example

[2016-10-23 12:21] jayvdb opened #927 "[Bear Proposal] CSV linter"
There are CSV linters in at least three languages, and based on a very quick look the usefulness of them is roughly in this order:

- https://github.com/theodi/csvlint.rb
- https://github.com/Clever/csvlint
- https://www.npmjs.com/package/csvlint

[2016-10-23 12:21] jayvdb commented on #63
See also https://github.com/coala/coala-bears/issues/927

[2016-10-23 18:51] jayvdb opened #928 "YapfBear.check_prerequisites isnt reachable"
YapfBear.check_prerequisites emits a warning that `Yapf only supports Python 2.7 and Python 3.4+`.

Except it isnt possible, as coala supports only python 3.4 or later, and wont install on lower versions.

[2016-10-23 18:56] jayvdb opened #929 "Python bears are misrepresenting their Python 2 and 3 support"
Many of the Python bears include:

[code]

Firstly, do other language bears in coala also describe language versions?  While Python 3 is a big jump, so is the difference between K&R C vs C11.

However that is not really correct, anyway.  Most just run an executable script that may exec either python2 or python3, but not both, and the bear doesnt even know which one it is exec'ing.

e.g. PyLintBear

[2016-10-23 19:12] kerstin commented on #25
The English sample in that file doesn't look like correct English either. ;P

[2016-10-23 19:16] Cosmopal commented on #25
At least I think I do @jayvdb , I know a bit of it. Enough to correct that out. As I see it is copied from google translate, which is generally not a good idea.

[2016-10-23 19:24] kerstin commented on #25
Maybe the English sentence should get fixed first though. German native speaker here, btw.

[2016-10-23 19:27] kerstin commented on #25
(I'd suggest removing "Jedermann" in any case as it's gendered language.)

[2016-10-23 19:28] Cosmopal commented on #25
@kerstin ok, will do so tomorrow

[2016-10-24 12:20] sils commented on #902
@jayvdb writing a bear is usually difficulty/low not newcomer. Was there a particular reason you chose newcomer?

[2016-10-24 12:28] jayvdb commented on #902
Sorry

[2016-10-24 15:47] #919 closed

[2016-10-25 18:55] jayvdb commented on #898
@sils , checkstyle *will* error if indent is not 2 spaces or tabs are used.  It is *not* configurable.

[2016-10-25 19:05] jayvdb commented on #898
Well, `checkstyle` is configurable, but we are not giving it a custom config file.  We are giving it *the* google configuration.  To allow overrides, we would need to create a custom config file, using the google xml file as the basis.  That sounds like a large chunk of work, and is unlikely to be done quickly, so this is best handled as a bug fix for the current problem, and create a enhancement

[2016-10-26 11:06] adtac opened #934 "Simplify YapfBear python version check"
https://github.com/coala/coala-bears/blob/master/bears/python/YapfBear.py#L181

`if sys.version_info < (3,4):`

[2016-10-26 12:49] kerstin commented on #25
I've submitted a fix because I don't see this getting done anymore based on no or slow reactions by would-be Hacktoberfest contributors.

However, it would have been really helpful if the gitmate-bot message/your particular contributing rules had already been mentioned or linked to from the beginning (_especially_ for newcomers coming in through the Hacktoberfest tag)... I'm now being told to do x

[2016-10-26 12:53] kerstin commented on #25
(But please check gitmate-bot's message in the linked PR first. #935)

[2016-10-26 12:54] sils commented on #25
@kerstin we do have a lot of newcomer issues and it's very hard to maintain them. We try to avoid duplicate assignments by making sure people are assigned to the issues they work on.

The stuff GitMate tells you should ideally be linked from the newcomers guide as well, but it's a good idea to put this "checklist" in there as well. We should pick that up. Do you have any other suggestions on how w

[2016-10-26 13:03] kerstin commented on #25
Hey @sils, it could very well be that how you do things works fine for regular contributions because for these, would-be fixers will be folks who are already familiar with the project (most likely), and they'll be browsing the issues after having had a look around.

With the Hacktoberfest tag though, people just go through GitHub search for the tag and might not even check out the entire project &

[2016-10-26 13:10] kerstin commented on #25
I'll check back in in November and redo the commit so it follows the guidelines _if_ it hasn't been picked up by anyone else until then in any case. As said above: if anyone else wants to do the PR until then to fill their Hacktoberfest quota to get a shirt from DigitalOcean, I'm happy to let them reuse my suggested changes. ^^

[2016-10-26 16:24] jayvdb commented on #934
I think this is a dup of https://github.com/coala/coala-bears/issues/928

[2016-10-26 18:49] aptrishu commented on #934
You should close https://github.com/coala/coala-bears/issues/928 . @jayvdb
This issue was a duplicate. :P

[2016-10-26 18:49] aptrishu commented on #928
This issue is solved I think.
https://github.com/ragnerok/coala-bears/pull/1

[2016-10-26 18:52] adtac commented on #934
@jayvdb not exactly the same, but I guess they can be merged into one issue. I'll close this.

[2016-10-26 18:52] #934 closed

[2016-10-26 19:30] jayvdb commented on #928
No quite.  Please read *this* issue carefully.  It is broader than the other issue.

[2016-10-27 06:07] jayvdb commented on #859
While we have a workaround due to 13046dea1d , this is still a problem upstream and should be tracked as using these PPAs will be necessary in the future.

[2016-10-27 09:47] jayvdb commented on #896
The solution for this should look quite similar to https://github.com/coala/coala-bears/pull/917 , which should help a newcomer .

[2016-10-27 09:51] #601 closed

[2016-10-27 10:00] sils commented on #541
@jayvdb I'll add support for objective C and C, I'm not sure what to do about those android/iOS specific things.

[2016-10-27 10:13] sils commented on #859
@jayvdb btw. can we switch our builds now? Or did you even already do it?

[2016-10-27 10:28] jayvdb commented on #859
That is answered at https://github.com/coala/coala-bears/issues/869#issuecomment-253729075 : I have no idea why it failed.

[2016-10-27 11:05] ragnerok commented on #928
Yeah so I only have to change this
return 'Yapf only supports Python 2.7 and Python 3.4+'

to
return 'Yapf only supports Python 3.4+' and change the if statement too right
and could you please also tell me the mistake in my previous commit message .
PS I am a noob so any help will be appreciated ! Thanks

[2016-10-27 11:10] jayvdb commented on #929
https://github.com/coala/coala-bears/pull/698 added `python_version`, so that can now be used to invoke the correct runtime.

[2016-10-27 11:12] jayvdb commented on #928
@ragnerok , please try to run this bear on Python 3.3.

[2016-10-27 11:13] sils commented on #928
according https://github.com/google/yapf#python-versions they don't support python 3.3 @jayvdb

[2016-10-27 11:14] sils opened #940 "Markdown parsing issues"
_From @plaindocs on October 27, 2016 11:9_

I've just opened https://github.com/wooorm/remark-lint/issues/103 -- not sure where the best place for this bug is.

_Copied from original issue: coala/bear-docs#16_

[2016-10-27 11:15] sils commented on #940
@plaindocs this is an upstream issue indeed. Thanks for filing it at remark! Let's keep this open to update the minimum remark version when he fixes it.

[2016-10-27 11:25] jayvdb commented on #940
Note that this is likely also solved by https://github.com/coala/coala-bears/issues/926 .

remark emits the most parsable markdown, choosing to add some unnecessary escaping to ensure most readers can parse it correctly.

The lint plugin finds problems, rather than reporting every prettifying/solidifying changes that remark makes to the markdown.

[2016-10-27 11:52] jayvdb commented on #928
@sils : from the issue description ... "Except it isnt possible, as coala supports only python 3.4 or later, and wont install on lower versions."

`YapfBear.check_prerequisites` is *unreachable*.  It needs to be burnt with fire, not fiddled with.

[2016-10-27 12:22] sils commented on #928
Right, only check if yapf is available and be done.

[2016-10-27 12:42] jayvdb commented on #929
Hmm, another complication is that `PipRequirement` is using `sys.executable`, which `coala` will only know the dependency is "installed" if it has also been installed into the Python 3 runtime being used to execute `coala`.  Which is confusing if the user wants to run a bear with a Python 2 linter configuration.

[2016-10-27 12:44] jayvdb commented on #928
@sils, does `PipRequirement.is_installed` need to be called, or is that checked automatically?

[2016-10-27 13:11] sils commented on #928
I actually wanted that to happen automatically. There's an issue somewhere - but @fneu was working on a refactoring of the requirement stuff so that was postponed a bit. He's rather busy with lots of stuff...

[2016-10-27 18:35] coala-bot opened #942 "GitCommitBear: Make the regex match message more verbose"
[code]

This can be written a bit better.

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=581248eb806316005dc87338) by @meetmangukiya

[2016-10-27 18:37] meetmangukiya commented on #942
For reference, https://github.com/coala/coala/pull/2900#issuecomment-256719293

[2016-10-27 19:42] Makman2 commented on #934
@jayvdb as the other issue is a bit broader and this is just a little codestyle issue, wanna reopen this one?
then @ragnerok can at least get something merged :)

[2016-10-28 13:16] Adrianzatreanu opened #945 "Wrong imports on some bears"
It should use param_conversion and not param_convertion on some bears, as it was renamed in coala-utils

[2016-10-28 13:33] hwmrocker opened #946 "please improve specification of string ranges in AnnotationBear run docstring"
It would be nice to have a better documentation how the string source range is returned and if they include the quotation marks or not.

[2016-10-28 13:42] sils commented on #946
CC @abhsag24

[2016-10-28 15:31] #945 closed

[2016-10-28 18:04] drjod commented on #435
Hi, we gave up here. It's more difficult than we thought. The main difficulty seems to be that the drawn scanner works with directories and the lint bear, we had in mind, works with files. It looks reasonable to change the level from low to intermediate difficulty.

[2016-10-28 18:41] sils commented on #435
@drjod thanks for trying and the info! Let us know if you want to pick something else.

[2016-10-29 08:58] #906 closed

[2016-10-29 09:13] coala-bot opened #952 "make lizzard bear https://pypi.python.org/pypi/lizard"
Opened via [gitter](https://gitter.im/coala/coala/?at=581468297b15d16e55bf0cc3) by @sims1253

[2016-10-29 13:09] #918 closed

[2016-10-29 13:37] #25 closed

[2016-10-29 14:50] jayvdb commented on #901
Note that it hasnt been maintained in quite a while, and the travis tests for 2.7 are also failing https://github.com/benoitbryon/rst2rst/issues/28 .

[2016-10-29 15:28] #927 closed

[2016-10-29 22:06] Adrianzatreanu opened #955 "Rename CsvLintBear to CSVLintBear"

[2016-10-29 22:07] Adrianzatreanu opened #956 "Make CsvLintBear actually catch all errors"
The regex only catches errors that are on rows, not those that are on columns or title, regex should be modified accordingly.

[2016-10-30 10:56] Adrianzatreanu opened #957 "Prolog bear"
Im not entirely sure but i think we should have a prolog bear, and i found this: https://github.com/wysiib/linter-prolog

looks quite easy, but it requires apm (atom package manager), it looks quite nice :D

[2016-10-30 10:59] stefanbalas commented on #955
I will also rename CsvLintBearTest to CSVLintBearTest

[2016-10-30 11:32] Adrianzatreanu commented on #823
hey @divyam3897 still on this :D ?

[2016-10-30 11:54] divyam3897 commented on #823
@Adrianzatreanu yes, stuck on few things which I am unable to figure out :( . I should commit what I am trying ? Though I have been trying to understand the workflow of the bears by going throught the bears and docs. Sorry, its taking too long :(

[2016-10-30 12:39] NiklasMM opened #959 "[Bear Proposal] Jinja2 Bear"
It would be cool to have a bear that can process [Jinja2](http://jinja.pocoo.org/docs/dev/) files.

Unfortunately there is no linter that could be wrapped, so the bear would have to be implemented from scratch.

I found a set of best practices/conventions over at the [Chromium Project](https://www.chromium.org/developers/jinja). See also [this](https://stackoverflow.com/questions/4246789/jinja2-co

[2016-10-30 13:16] #819 closed

[2016-10-30 13:29] Makman2 commented on #823
Just visit us on gitter, there we can help you :)

[2016-10-30 13:29] Adrianzatreanu commented on #815
ping @Flap-Py

[2016-10-30 13:31] Adrianzatreanu commented on #798
@aptrishu hey, you still on this?

[2016-10-30 13:36] Adrianzatreanu opened #961 "CSVLintBear has no REQUIREMENTS"
it has no value for REQUIREMENTS

[2016-10-30 13:37] Makman2 commented on #819
@Adrianzatreanu what about

[2016-10-30 13:38] Adrianzatreanu commented on #743
agreed.

[2016-10-30 13:39] Adrianzatreanu commented on #749
ping @underyx :p

[2016-10-30 13:39] Flap-Py commented on #815
Is the fileproxy done. I was waiting for that. And also can I get a sort of walk-through about how to use it?

[2016-10-30 13:39] Adrianzatreanu commented on #596
ping @mr-karan

[2016-10-30 13:39] Adrianzatreanu commented on #571
unassigning due to long inactivity

[2016-10-30 13:42] Adrianzatreanu commented on #819
you gave your statement as a no, i think "no" too and lasse has no opinion on it, so .. didnt do it.

[2016-10-30 14:24] Makman2 commented on #819
ah okay yeah :3

[2016-10-30 14:29] #897 closed

[2016-10-30 15:00] underyx commented on #749
@Adrianzatreanu fixed in https://github.com/coala/coala-bears/commit/14ba8643232c2cf15569cd347fdd02c1b5625bd2, closing

[2016-10-30 15:00] #749 closed

[2016-10-31 06:49] aptrishu commented on #798
I was/am busy with my exams. I have started solving this issue today. I'll submit the PR soon. :+1:

[2016-10-31 09:54] mr-karan commented on #596
I'd do it once i have some free time but i don't really know when. Maybe a week or so? If anyone else wants to take this, please do so I'll unassign myself else will complete in next few days.

[2016-10-31 16:19] chauffer opened #964 "Markdown `text does not comply to the set style` should suggest patches"

[2016-10-31 16:52] #964 closed

[2016-10-31 16:52] chauffer commented on #964
Duplicated issue; already solved by upgrading coala.

[2016-11-01 08:24] #955 closed

[2016-11-01 08:24] #956 closed

[2016-11-01 08:24] #961 closed

[2016-11-01 08:25] sils opened #967 "CSVLintBear: Get line and (text) column of the issue"
Right now it just associates the result with the file and shows more info in additional_info, that's really bad :/ Having good result info is critical.

CC @stefanbalas

[2016-11-01 10:10] sils commented on #879
yeah that looks like an issue indeed

[2016-11-01 10:32] #942 closed

[2016-11-01 10:46] wimpykid26 commented on #952
Hi!, Can I work on this?

[2016-11-01 10:54] wimpykid26 commented on #952
The aim is to only show the analyzed information right?

[2016-11-01 12:47] coala-bot opened #968 "Bear for assembly"
http://www.pcorner.com/list/ASSEMBLY/ALINT.ZIP/INFO/

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=58188ee8cde075e656094f7f) by @adtac

[2016-11-02 00:20] sahildua2305 commented on #571
@Adrianzatreanu please assign this to me :)

[2016-11-02 00:34] sahildua2305 commented on #967
@sils since it uses `csvlint`, I'm not sure how we can change this behaviour. Can you give me some pointer for this?

[2016-11-02 10:32] Vutsuak16 opened #971 "VultureBear"
The VultureBear doesnt come with the regualr coala installation, same applies for some other bears too.
My output to `coala --show-bears --filter-by-language Python` doesnt show all the bears mentioned in the Git repository https://github.com/coala/coala-bears/tree/master/bears

The output -:
![capture](https://cloud.githubusercontent.com/assets/10365536/19925348/9b476d48-a115-11e6-9904-6b68701cf7

[2016-11-02 11:13] Makman2 commented on #971
After installing coala-bears:
[code]
`VultureBear` does appear in the list :)

What version of coala and coala-bears do you have installed? For coala-bears you can check that with
[code]

[2016-11-02 12:10] Vutsuak16 commented on #971
I am using bears version -
0.7.0

[2016-11-02 16:57] sils commented on #967
I have no idea. Asl @stefanbalas . I bet csvlint already has the info and outputs it and we just discard it!

[2016-11-02 22:15] Makman2 commented on #971
`pip3` installs by default the most recent stable release, which is currently 0.8.0 for both, coala core and coala-bears. *But*: most recent master is pushed onto pypi, you just need to install with the `--pre` flag :)
[code]

I think the issue is solved :) If you have still questions, just post comments though it's closed or get onto our gitter channel :)

[2016-11-02 22:15] #971 closed

[2016-11-04 09:58] coala-bot opened #972 "Add bear for go-metalinter"
https://github.com/alecthomas/gometalinter#go-meta-linter-

Opened via [gitter](https://gitter.im/coala/coala/?at=581c5bd431c5cbef43b520cb) by @adtac

[2016-11-04 09:59] adtac commented on #972
this is a terrific bear that provides a all-in-one support for all go related things

[2016-11-04 13:08] sims1253 opened #973 "Create asciinemas"
This is a list of all the bears that don't have an asciinema so far:

[2016-11-04 13:12] sims1253 commented on #973
obsolete as we create issues for every single bear

[2016-11-04 13:12] #973 closed

[2016-11-05 08:58] #475 closed

[2016-11-05 10:50] #923 closed

[2016-11-05 13:25] Makman2 opened #976 "appveyor hangs due to NLTK modules not available for download"
NLTK data needs to be cached. For circleCI this already happens.

[2016-11-05 16:56] #571 closed

[2016-11-05 17:55] #976 closed

[2016-11-06 03:23] rafidaslam opened #979 "YAMLLintBear: Wrong argument "--config""
There is a wrong argument in `YAMLLintBear.py`

[code]

At line 53, `--config` there should be `--config-file`, because there is no `--config` argument in yamllint.

Probably the unit test passed because `coala` didn't return any warning (zero code), however if I check it manually using `yamllint`, it will returns:
[code]

[2016-11-06 11:18] #898 closed

[2016-11-06 13:31] Nosferatul commented on #979
Thx for the report!

[2016-11-10 07:41] AsnelChristian opened #982 "SASSLintBear"
https://github.com/sasstools/sass-lint
Seemingly scss-lint won't be maintain in a near future, this is an alternative for that.

[2016-11-10 12:46] #959 closed

[2016-11-10 19:47] Nosferatul commented on #825
Please tell us when do you want to work on something.

[2016-11-10 19:49] srisankethu commented on #825
@Nosferatul I took this up after discussion on the https://gitter.im/coala/coala-bears

[2016-11-11 13:08] NiklasMM opened #986 "[BearProposal] PyCodestyleBear"
The existing PEP8Bear is a nice tool to have when demoing coala, because of it's auto fixing capabilities.

However it has a couple of drawbacks (mosts stemming from the underlying tool autopep8) which make it hard to adopt in practise:

* The set of errors it discovers is not equal to the set of errors discovered by pep8, which makes it confusing for people transitioning from pep8 oder flake8.
*

[2016-11-11 13:08] jayvdb commented on #558
A per-language suitable default would be a good start.  e.g. Makefiles demand tabs.  All credible Go requires tabs.  Logtalk is similar to Go. These should not default to `use_spaces = True`.

[2016-11-12 09:25] jayvdb commented on #815
Something I found while doing https://github.com/rocky/python-filecache/pull/3 , it is possible to know that the EOLs are inconsistent while using universal new lines mode.
The file handle contains an attribute `newlines` that provides a list of the EOL markers found while reading the file.  If the file has only a single consistent EOL, it will have only one value in `newlines`.  If there are inco

[2016-11-13 11:02] meetarora29 commented on #979
I would like to do this. Please assign me this :)

[2016-11-13 11:08] SanketDG commented on #979
@meetarora29 You are assigned!

[2016-11-13 12:35] coala-bot opened #989 "GitCommitBear false positive"
https://github.com/coala/coala/pull/3001#issuecomment-260183590

type bug

Opened via [gitter](https://gitter.im/coala/coala/?at=58285e1b65485ebc678c74f2) by @sils

[2016-11-13 12:49] #979 closed

[2016-11-14 14:45] coala-bot opened #993 "AnnotationBear doesn't recognize closed strings always"
See discussion linked below for more details

Opened via [gitter](https://gitter.im/coala/coala/?at=5829ce1545c9e3eb4337ee60) by @sils

[2016-11-14 15:16] coala-bot opened #994 "Grammar issue in AnnotationBear.py"
"Language to be whose annotations are to be searched." is pretty weird

difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5829d53f65485ebc6793f1dd) by @sils

[2016-11-14 15:44] nemaniarjun commented on #967
I can take this up.

[2016-11-15 06:20] Yomojet commented on #994
Get me Assigned please

[2016-11-15 08:32] sils commented on #994
@Yomojet there you go! Welcome!

[2016-11-15 08:34] Yomojet commented on #994
Appreciated!

On 15-Nov-2016 2:02 PM, "Lasse Schuirmann" <notifications@github.com> wrote:

[2016-11-15 10:22] sils opened #998 "JavaPMDBear is not found"
_From @rpau on November 15, 2016 10:6_

Hi,

When I run

coala --show-bears --filter-by-language java

The JavaPMDBear not appears in the list. Any suggestion?

CPDBear
CheckstyleBear
FilenameBear
InferBear
InvalidLinkBear
KeywordBear
LineCountBear
LineLengthBear
SpaceConsistencyBear
coalaBear

_Copied from original issue: coala/bear-docs#21_

[2016-11-15 10:22] sils commented on #998
Interesting, which release? (coala -v)

[2016-11-15 10:25] rpau commented on #998
The last one (0.8.1). Finally, I have realized that CPDBear is the JavaPMDBear.
So, I should put a comment in the documentation and remove the JavaPMDBear entry.

Another related issue... and I do not know if it is the right place. I am trying to run coala, without asking feedback, and only showing the patches (without applying them). Reading the code..
I think it is

default_actions = *: ShowPatc

[2016-11-15 10:29] sils commented on #998
Hi,

CPDBear is not JavaPMDBear. PMD essentially ships with two tools, one does analysis and the other one copy and paste dedection (CPD).

I think none of them provide a way to automatically fix the issue. The default_actions setting is correct, we're planning on making "show the patch and show the results whenever a patch isn't available" the default behaviour for `coala-ci` for version 0.9 beca

[2016-11-15 10:32] sils commented on #998
I think if you were to "add support for showing patches for CPDBear" you'd probably be close to solving the halting problem ;P

[2016-11-15 10:32] sils commented on #998
Which OS are you on anyway?

[2016-11-15 10:37] rpau commented on #998
MacOS

Ok, so..definitely, what I would like to do is to run the JavaPMDBear, and get a list of the printed issues. How could I proceed?

Thanks a lot

[2016-11-15 10:43] sils commented on #998
So to get the list of issues, just run `coala-ci`, can you give the output of `coala -I -V --bears JavaPMDBear --files "**.java"` assuming you have java files in a pastebin?

[2016-11-15 10:50] rpau commented on #998
Hi,

Thanks a lot for the ``coala-ci``.

The output of `coala -I -V --bears JavaPMDBear --files "**.java"`

[code]

[2016-11-15 10:52] sils commented on #998
Ok, to fix this do a `pip install coala_utils==4.8 -U` - did you by chance install a development version of coala or something that gave you a newer coala-utils version? If not we should be deeply worried that other users are affected too :/

[2016-11-15 11:03] rpau commented on #998
After that, which is 0.4.8

[code]

However, after reinstalling 0.4.9 it shows the `JavaPMDBear`. It is a first step :-)
But now:
[code]
Another question (sorry if there are two much). There is a way to define a python component in the config to perform a given action when an issue is found (for example, to produce a report)? Or coala waits after everything is processed?

[2016-11-15 11:17] sils commented on #998
actions are indeed modular, ATM though you have to put them into the coala source code and you can't "link them in dynamically" because there has not been demand for that.

If you want to produce a report, I suggest running `coala-json` and produce the report from the JSON output.

[2016-11-15 11:22] sils commented on #998
Ok I found the issue, when installing PMD via brew it provides a `pmd` binary, on unix systems it provides a `run.sh` binary. This was already fixed for the CPD bear (same binary is used) because it's more popular. So this *is * actually a bug in that bear.

[2016-11-15 11:31] rpau commented on #998
Ok thanks a lot

[2016-11-15 11:36] sils commented on #998
I have a commit that should fix it, will push it within ~5mins. I hope we can merge it today so you can use the prerelease to get your stuff done!

[2016-11-15 11:42] sils commented on #998
See #999 - in case you want to help getting this merged, review comments are appreciated :)

[2016-11-16 06:15] jayvdb opened #1000 "Bear dependencies should be optional dependencies in setup.py"
It should be possible to install this package without any bear dependencies.

setup.py shoukd use extras for each Python dependency that bears use.
And then an additional extra "alldeps" which includes all bear deps.
Once done, people should migrate to using pip install `coala-bears[alldeps]` and then we can remove them from the default deps.

Or we could create a coala-bears-minimal package which

[2016-11-16 08:44] sils commented on #1000
I guess they won't be installed by default then?

[2016-11-16 13:39] #998 closed

[2016-11-16 14:17] coala-bot opened #1001 "Tests don't pass!"
They only pass on CI because of caching. Delete your `~/.local/share/coala-bears` directory and you'll see a number of bears failing because some stuff has been updated.

importance critical, must be fixed for the release.

Opened via [gitter](https://gitter.im/coala/coala/?at=582c6a5cdf5ae96645654c17) by @sils

[2016-11-16 16:58] #993 closed

[2016-11-17 10:03] #946 closed

[2016-11-17 10:04] coala-bot opened #1005 "QuotesBear: Add force_preferred_quotation option"
Currently it just ignores strings that have the wrong quotation because they have the quote inside the string. There should be an option to detect and correct that too!

Opened via [gitter](https://gitter.im/coala/coala/?at=582d80a0e462097a305e9171) by @sils

[2016-11-17 10:05] coala-bot opened #1006 "AnnotationBear is still not recognizing nasty strings correctly"
[code]

CC @abhsag24 as he claimed to have solved that :P

Opened via [gitter](https://gitter.im/coala/coala/?at=582d80fbdf5ae966456b5e34) by @sils

[2016-11-17 10:10] abhsag24 commented on #1006
:O will look into it today, i ran the quotes bear before making the PR though? it had no issues for me :( .

[2016-11-17 10:13] sils commented on #1006
really? Am I doing something wrong :/

[2016-11-17 10:42] #986 closed

[2016-11-17 11:26] sils opened #1008 "Markdown bear table settings"
_From @plaindocs on November 15, 2016 13:26_

Looking at the table settings in the markdownbear,

This detects either all (aligned?) pipes, or no pipes at all. How can I turn the setting off so either is fine?

_Copied from original issue: coala/coala#3009_

[2016-11-17 11:33] sils commented on #1008
see https://github.com/wooorm/unified-engine/blob/master/doc/configure.md and https://github.com/coala/coala-bears/blob/master/bears/markdown/MarkdownBear.py I'm not sure remark can do this.

https://github.com/coala/coala-bears/issues/926 will probably solve this, maybe it'll have to be a new bear.

[2016-11-17 11:53] jayvdb opened #1009 "InvalidLinkBear: pip VCS URL parser"
InvalidLinkBear should skip or understand `git+https://github.com/jayvdb/coala-quickstart@gh_39`, which is [pip vcs support](https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support).

https://travis-ci.org/mamat-rahmat/GitGutter/builds/176631745#L241

[code]

cc @mamat-rahmat

[2016-11-17 12:05] sils commented on #1009
it should at least cut off everything from the @ right?

[2016-11-17 12:22] sils commented on #765
CC @jayvdb I recall him filing some similar issue lately

[2016-11-17 12:33] sils commented on #1006
nope, I still seem to be able to reproduce that exactly

[2016-11-17 12:57] jayvdb commented on #765
https://github.com/coala/coala/issues/3014

[2016-11-17 16:57] jayvdb commented on #1009
ya, there are a few ways to handle this.

The simplest is to require that `@` and other special chars used by pip vcs URLs are percent encoded; if they are found raw, they are assumed to be not part of the URL.  This is likely to be in conflict with how URLs normally appear in files, as typically coders write `percent_encode('https://.../...@...')` and cutting at the `@` will be an incorrect URL.

[2016-11-17 18:32] abhsag24 commented on #1006
@sils the error is caused due to this line https://github.com/coala/coala-bears/blob/master/tests/c_languages/codeclone_detection/ClangASTPrintBearTest.py#L39

[2016-11-17 19:45] NiklasMM commented on #989
I did some poking around. This is the shortlog in question: `requirements: Upgrade coala-utils to latest `

It all depends on the dash. If I take out the dash, `Upgrade` is correctly tagged as a VBP (present, non-3rd-person verb). But with the dash it's a VBD (past verb).

Looks like a nltk quirk we can't do much about :-/

[2016-11-17 20:04] sils commented on #1006
So can we get it fixed? :)

On Nov 17, 2016 7:32 PM, "Abhay Raizada" <notifications@github.com> wrote:

[2016-11-17 20:11] abhsag24 commented on #1006
yes i opened the PR! :D  it works locally for me now

[2016-11-17 20:12] abhsag24 commented on #1006
![image](https://cloud.githubusercontent.com/assets/8532031/20405700/4ea82b18-ad30-11e6-9e9d-fe85fe9e22b6.png)

[2016-11-18 10:48] Makman2 opened #1011 "Improve InvalidLinkBearTest"
Because of the last bug with newer `requests` versions, [this issue](https://github.com/kennethreitz/requests/issues/3698) was filed and there was an answer posted with some suggestions on how we should use `requests_mock`:

https://github.com/kennethreitz/requests/issues/3698#issuecomment-261408527

[2016-11-18 15:47] jayvdb opened #1012 "AnnotationBear: Mandatory parameter language breaks old coala"
The `.coafile` on coala branches releases/0.8 and releases/0.7 (and presumably earlier releases) causes the following error on CircleCI, because of language:

[code]

Probably related is that an earlier command is doing `pip install coala-bears colorama==0.3.6 --pre -U`, which drags in `coala_bears-0.9.0.dev20161117113755-py3-none-any.whl`, which in turn drags in `coala-0.9.0.dev20161118131029` ,

[2016-11-18 17:08] mamat-rahmat opened #1013 "kebab-case naming support"
Will FilenameBear support kebab-case? See [this wiki](https://en.wikipedia.org/wiki/Letter_case#Special_case_styles)

There isn't a single widely-accepted name for this case convention analogous to snake_case or camelCase. But, Lisp has used this convention for decades as described in [this wiki](https://en.wikipedia.org/wiki/Naming_convention_(programming)#Lisp).
[More Discussion](http://software

[2016-11-18 23:40] Makman2 commented on #1013
looks sane, why not :)

[2016-11-19 00:05] coala-bot opened #1015 "re-indent autoflake.fix_code invocation in bears/python/PyUnusedCodeBear.py according to pep8"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=582f973ce712c9a11884f386) by @jayvdb

[2016-11-19 00:19] jayvdb opened #1016 "PyUnusedCodeBear.remove_all_unused_imports must default to False"
PyUnusedCodeBear.remove_all_unused_imports was introduced in https://github.com/coala/coala-bears/pull/991 without a default.

Without a default, it will cause a failure for existing coala implementations using PyUnusedCodeBear when they upgrade.

[2016-11-19 00:21] sils commented on #1016
I already did set it to false by default (merged 30 mins ago), builds are passing again.

[2016-11-19 00:21] #1016 closed

[2016-11-19 00:45] coala-bot opened #1017 "checkstyle bear should load xml files from checkstyle package"
difficulty/medium

Opened via [gitter](https://gitter.im/coala/coala/?at=582fa08fb563b5516c399519) by @jayvdb

[2016-11-19 00:51] coala-bot opened #1018 "InvalidLinkBear: change complex regex to use re.VERBOSE mode"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=582fa204238757566cc4e7ed) by @jayvdb

[2016-11-19 00:54] jayvdb commented on #1018
https://github.com/coala/coala-bears/pull/932/commits/f32dc3dd701c7e57b3 includes lots of lovely documentation of the quite complex regex, so it is easier to hack.  This should be done as a separate task. which doesnt introduce functional changes.

Then it is easier to review a patch which has functional changes.

[2016-11-19 00:59] jayvdb commented on #1009
It would be good if https://github.com/coala/coala-bears/issues/1018 and https://github.com/coala/coala-bears/issues/1011 are merged first.

[2016-11-19 01:03] sils commented on #1011
@Makman2 didn't you already solve this with https://github.com/coala/coala-bears/commit/93d0ece50d30d0986ad8013bfc4942cd41bc188b ?

[2016-11-19 01:11] sils commented on #1011
ok apparently not

[2016-11-19 12:29] amrandahvur commented on #1018
@jayvdb In this PR, I should just let the regex use ``re.VERBOSE`` mode (without documentation) right ? and then put the documentation through my old PR https://github.com/coala/coala-bears/pull/932 ?
Also, the complex regex we are talking about refers to which one ? ``The one implemented currently`` OR ``The one I am trying to implement`` (for fixing https://github.com/coala/coala-bears/issues/75

[2016-11-19 13:04] jayvdb commented on #1018
No. The current regex is complex, and should be documented using `re.X` mode.

[2016-11-19 13:06] dosarudaniel commented on #1015
Hello! I would like to work on this bug.

[2016-11-19 13:28] Adrianzatreanu commented on #44
unassigning due to inactivity

[2016-11-19 13:31] Adrianzatreanu commented on #873
unassigning due to inactivity

[2016-11-19 14:14] Adrianzatreanu commented on #840
unassigned due to inactivity

[2016-11-19 14:20] Makman2 commented on #1018
Let's just append comments like this instead of using `re.X`:
[code]

[2016-11-19 14:25] amrandahvur commented on #1018
Cool, So, what should be done finally? :nerd_face:

[2016-11-19 14:42] ionutzzu12 commented on #896
i want to be assigned, please

[2016-11-19 14:52] mihai-burduselu commented on #44
Assign me this!

[2016-11-19 14:52] OctavianGuzu commented on #840
Assign me this please!

[2016-11-19 15:00] OctavianGuzu commented on #44
Assign me this!

[2016-11-19 15:32] sils commented on #840
Hey @OctavianGuzu ,

We recommend to not do newcomer issues anymore because they take us more time to file than to fix them - let other newcomers can have a few as well. The next level for you are the [low difficulty issues](http://tinyurl.com/coala-low) - you can now dive into whatever you want. Let us know if you need help or have any special interests - there's a lot of stuff going on and usual

[2016-11-19 15:33] sils commented on #44
Both of you are already assigned to another newcomer issues. We only have a limited number of them and they take a lot of time to review etc, consier doing a coala.io/low issue instead if you want more!

[2016-11-19 15:42] #1006 closed

[2016-11-19 18:05] dosarudaniel commented on #1013
I would like to work on this issue.

[2016-11-19 18:26] coala-bot opened #1024 "QuotesBear fails to process multi line strings in the same line correctly"
difficulty low, CC @abhsag24

Opened via [gitter](https://gitter.im/coala/coala/?at=58309946e712c9a118894049) by @sils

[2016-11-19 18:27] sils commented on #1024
maybe have a `namedtuple("CodeAnnotation", "start_delimiter_range end_delimiter_range content_range full_range")`?

[2016-11-19 18:29] sils commented on #1024
We don't have to worry about backwards compatability *if* we do this by tomorrow because then we're releasing the AnnotationBear and the first set of bears that use it into the wild. IMO we shouldn't worry about that

[2016-11-19 21:45] #1015 closed

[2016-11-20 03:55] jayvdb commented on #945
Related new issue https://gitlab.com/coala/coala-utils/issues/15 , to add a wrapper with the old name.

[2016-11-20 05:12] #902 closed

[2016-11-20 10:43] Lidilidian opened #1025 "AssertionError"
i've got this error when i remove 'use_spaces' from SpaceConsistencyBear in .coafile

[code]

[2016-11-20 10:48] jayvdb commented on #1025
This occurs when you use `coala-ci`?

[2016-11-20 12:11] Lidilidian commented on #1025
yes mr @jayvdb

[2016-11-20 13:32] jayvdb commented on #1025
Could you edit the title and first post of this issue to explain the command you used to see this error

[2016-11-20 13:33] jayvdb commented on #1025
And then retry with the latest code from master, because `coala-ci` has just recently been deprecated.

[2016-11-20 15:32] jarifibrahim opened #1026 ""Start ignoring" ignores too much"
Moved from - https://github.com/coala/coala/issues/2898

[code]
Running PEP8Bear on this doesn't produce any results for some reason (it should flag lines 1 and 5). However this works properly:
[code]

[2016-11-20 16:11] jarifibrahim commented on #1026
Closing as the bug actually exists in `coala` https://github.com/coala/coala/issues/2898

[2016-11-20 16:11] #1026 closed

[2016-11-20 21:57] coala-bot opened #1027 "Switch bears to Languages"
The test of coala-bears will fail with the latest coala! They have to be adapted. CC @abhsag24

Everything should get a lot simpler.

Opened via [gitter](https://gitter.im/coala/coala/?at=58321c58e712c9a118901451) by @sils

[2016-11-21 01:44] sils commented on #1027
Hey @abhsag24 I think I really need your help here. That commit already kind of fixes annotation bear but it doesn't remove the LanguageDefinition usage yet - ideally that one is removed, like in https://github.com/coala/coala/commit/1df342f084e98043f3525abaacb20bfcee5ede56

[2016-11-21 05:44] jayvdb opened #1028 "[Bear Proposal] rst-lint for PYPI README.rst"
Python package [`restructuredtext_lint`](https://pypi.python.org/pypi/restructuredtext_lint) has a command line program `rst-lint`, which can be used to verify that `README.rst` uses correct syntax for use on PYPI.

[2016-11-21 05:50] Mixih commented on #1028
Assign me please.

[2016-11-21 10:08] coala-bot opened #1029 "Remove `pytest_funcarg__cov`"
From test output: `WC1 None pytest_funcarg__cov: declaring fixtures using "pytest_funcarg__" prefix is deprecated and scheduled to be removed in pytest 4.0.  Please remove the prefix and use the @pytest.fixture decorator instead.` so we gotta do somethin'!

Opened via [gitter](https://gitter.im/coala/coala/?at=5832c7a4e712c9a11893483f) by @sils

[2016-11-21 10:54] sils commented on #1027
doing the change of the tests here to make it API compatible: https://github.com/coala/coala-bears/pull/1030

[2016-11-21 10:54] sils commented on #1027
but the actual change is still needed

[2016-11-21 13:26] underyx opened #1031 "Bear for checking if requirements.txt version specifications are pinned"
This is just something that came to my mind while thinking about what else we could use the `Python Requirements` language for, other than PySafetyBear.

The setting `pin_requirements_to` could take the values `major` / `minor` / `patch` and the bear would warn if your version specification is not strict enough.

[2016-11-21 16:34] jayvdb opened #1034 "Checkstyle with style google fails with CheckstyleException"
The current checkstyle fails with `CheckstyleException`: cannot initialize module TreeWalker - Property 'excludeScope' in module ParameterName does not exist, please check the documentation

[code]

The xml is as follows (and does include  `excludeScope`)
[code]
[code]

The other styles do not have this `excludeScope`:
[code]

[2016-11-21 16:48] jayvdb commented on #1034
See also https://github.com/coala/coala-bears/issues/1017 , for one way to ensure they are not out of sync.

[2016-11-21 16:51] jayvdb opened #1035 "Error in execute_bear doesnt show error"
e.g. for https://github.com/coala/coala-bears/issues/1034, this is the `py.test` output, which isnt very helpful:

[code]

[2016-11-21 17:05] jayvdb commented on #1017
The `checkstyle.jar` includes `google_checks.xml` and `sun_checks.xml`.

[2016-11-22 07:48] coala-bot opened #1037 "GitCommitBear: Handle GitHub PR merge commits like "Merge 34dfae3 into 0fa5fae""
See https://travis-ci.org/coala/coala-html/builds/177870719 which is of commit https://github.com/coala/coala-html/commit/a73c96395c3ba4afbe4474b04144cfce7 "Merge 34dfae3 into 0fa5fae" that is not in the [PR 88 commits](https://github.com/coala/coala-html/pull/88/commits).

Opened via [gitter](https://gitter.im/coala/coala/?at=5833f8377f83e6c97719ed07) by @jayvdb

[2016-11-22 09:16] jayvdb commented on #1037
After playing a little, I am not confident that this is GitHub's way of handling more than two PRs stacked on top of each other.

When two PRs are stacked on top of each other, GitHub nicely handles them as a single series.  If the second one is merged using the big green button, GitHub will close both PRs.

However for three PRs stacked together, it creates an extra merge commit.

[2016-11-22 10:09] jayvdb commented on #1037
And after the first two PRs are merged, the third PR still contains an extra unnecessary `Merge 6684653 into 9ce8f0a` commit (which fails the GitCommitBear).  There is nothing to rebase the underlying commit [9ce8f0a](https://github.com/coala/coala-html/commit/9ce8f0a59e6347d5c35b136924f68f2d28f92bd0) is merged into `master` already.

unrelated to the bear, pushing the commit to a new branch allow

[2016-11-22 10:25] sils commented on #388
@ivange94 any progress here?

[2016-11-22 10:42] ivange94 commented on #388
I have actually looked at this just once. Sorry if I am blocking anyone but
I am really interesting in completing this. I'll be traveling for a
conference 4th December and it was so sudden hence I was not prepared and I
am trying to rush things now. I did not even have a passport. Then I have
internships too. But I will secure sometime and complete this before the
end of the week. I have already d

[2016-11-22 10:46] sils commented on #388
thanks!

[2016-11-22 11:05] jayvdb commented on #1037
So, GitHub merge commits are added to 3+ neatly stacked PRs, and it is this unseen merge commit that is being sent to CI.

One aspect of this is that this extra unseen commit **cannot** be removed.  Merging the commits in the two previous PRs doesnt fix the third PR.  The third PR still believes it needs to have a merge commit.

IMO that is a bug in GitHub.  They have good voodoo, and this is an e

[2016-11-22 11:37] #1017 closed

[2016-11-22 11:37] #1034 closed

[2016-11-22 12:50] meetmangukiya commented on #861
I would like to do this one..

[2016-11-22 12:52] meetmangukiya commented on #861
What I was thinking is.. I check the last two commit shortlogs...
If they match, then I'll check deeper one more level... until they don't match.
And then print the number of commits that were same ?

[2016-11-22 12:57] jayvdb commented on #861
Ya, I think that is sensible, and is valid even if the previous commit is merged.

[2016-11-22 16:31] meetmangukiya commented on #861
Ya, we will have to assume that it is rebased with `upstream/master `

[2016-11-22 16:32] meetmangukiya commented on #861
Ohh.. I missed the _branch off point _ from the issue title.

[2016-11-22 16:37] underyx commented on #861
@meetmangukiya how about this then? :D

[2016-11-22 17:02] sils commented on #388
setting importance to high because this adds missing auto frmatting correction for some languages.

[2016-11-22 17:50] #1031 closed

[2016-11-22 19:19] coala-bot opened #1043 "Use KeywordBear for compatability"
Opened via [gitter](https://gitter.im/coala/coala/?at=58349a3c2db95267046a91b1) by @sils

[2016-11-23 02:25] jayvdb opened #1044 "Generate bear-requirements.txt from metadata in the bears"
Many of the bears have `PipRequirement` metadata.
It would be lovely to have a script that can generate a `requirements-bears.txt` file from all of those bears.

That file might be included in the main `requirements.txt`, which would be a small step towards https://github.com/coala/coala-bears/issues/1000 .

[2016-11-23 09:32] sils commented on #504
@Asnelchristian any progress? Important stuff.

[2016-11-23 09:32] sils commented on #374
@tushar-rishav any update?

[2016-11-23 09:34] #817 closed

[2016-11-23 10:40] sils commented on #504
this is done!

[2016-11-23 10:40] #504 closed

[2016-11-23 10:40] sils commented on #504
18178789a24aeeb27753a57309d857716346f991

[2016-11-23 11:00] tushar-rishav commented on #374
Unfortunately, I may not be able to work on this at present. If needed
someone can take over and unassign me.

On 23-Nov-2016 15:02, "Lasse Schuirmann" <notifications@github.com> wrote:

@tushar-rishav <https://github.com/tushar-rishav> any update?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/coala/coala-bears/issues/374#

[2016-11-23 12:07] jayvdb commented on #815
While waiting for a perfect solution, a decent solution is to have a `dos2unix` 'linter' bear.
The 'quickest' mode is modifying the files in-place -- need to see if there is a way to only update timestamps if the file was modified.

[2016-11-23 14:06] Mixih opened #1046 "Warning in RELEASE_NOTES.rst"
rst2html throws a warning in the RELEASE_NOTES.rst file:
`RELEASE_NOTES.rst:351: (WARNING/2) Duplicate explicit target name: "here".`

[2016-11-23 15:37] coala-bot opened #1047 "Elaborate on SpellCheckBear"
From the package. The bear doesn't advertise that.

Opened via [gitter](https://gitter.im/coala/coala/?at=5835b7b6b07a1fd348316bd2) by @sils

[2016-11-23 15:50] coala-bot opened #1048 "swift directory has no `__init__.py`"
That means people won't be able to use TailorBear because it's not distributed.

type/bug importance/high needs backport !

Opened via [gitter](https://gitter.im/coala/coala/?at=5835bad9cc0ea2cf7788371a) by @sils

[2016-11-23 16:00] jayvdb commented on #1048
The bug is https://github.com/pypa/setuptools/issues/97

[2016-11-23 16:03] sils commented on #1048
so this is a workaround, still it gets the issue solved for our users so IMO let's ship it ASAP?

[2016-11-23 16:05] jayvdb commented on #1048
Noting two prior occasions of this problem: #1049 & #1050 .

I suspect the best approach is for setup.py `install` to create these `__init__.py` , and for `.gitignore` to ignore them.

[2016-11-23 16:09] coala-bot opened #1051 "New bear PythonPackageInitBear to ensure subdirectories with Python files have an __init__.py"
see https://github.com/coala/coala-bears/issues/1048

Opened via [gitter](https://gitter.im/coala/coala/?at=5835bf49c790e0ec5621cff9) by @jayvdb

[2016-11-23 17:20] Mixih opened #1052 "Critical: Error in RELEASE_NOTES.rst"
There is a rst ERROR in this file.

rst2html output:
`RELEASE_NOTES.rst:113: (ERROR/3) Unexpected indentation.`

Coala reSTLintBear output:
[code]

[2016-11-23 17:22] Mixih commented on #1052
I'm fixing this error right now

[2016-11-23 17:26] adtac opened #1053 "Update the number of supported langauges in README"

[2016-11-23 17:27] adtac commented on #1053
Or we could look into writing a cron job to do this like every day.

[2016-11-23 17:54] #1052 closed

[2016-11-24 00:16] jayvdb commented on #861
Actually, `git log` can search the logs for you. See the help for relevant command line arguments.

[2016-11-24 06:03] Mixih opened #1055 "Critical: Fix empty bear test in generate_packageTest.py"
Since SwiftBear has been made find-able, there are no empty bears left. This made the coverage fail because the empty bear fail condition at line 120 wasn't being exercised. We need to write a test to test this condition, or fix the existing one.

see line 120
[code]
Code coverage fail reason was `line 120 didn't jump to line 116 because the condition on line 120 was never false`

[2016-11-24 06:10] Mixih commented on #1055
Wasn't this the original empty bear test?
Line 137:
[code]

[2016-11-24 06:34] Mixih commented on #1055
Error found: the file it generates is not valid bear format, thus negating the test.
`NO_BEAR_PATH = os.path.join('bears', 'BadBear', 'NoBearHere.py')`
but it globs for `*Bear.py`

[2016-11-24 07:17] meetmangukiya commented on #861
I didn't find a way to find the branch off commit...

But I think I can do it this way:
1. `git log --pretty=%h <currrent branch>`
2. `git log --pretty=%h master`
3.  Check from the head commit hash backwards until I find matching hashes, thats the branch off point.
4. Then I check for duplicates until that hash only and not all the *commits*

[2016-11-24 07:21] #1055 closed

[2016-11-24 07:49] #1048 closed

[2016-11-24 09:30] underyx commented on #861
Would this help? https://git-scm.com/docs/git-merge-base

[2016-11-24 10:07] meetmangukiya commented on #861
How does this look?
[code]

[2016-11-24 16:09] meetmangukiya commented on #861
Another possible approaches:
1. I think https://git-scm.com/docs/git-merge-base#_discussion_on_fork_point_mode might help regarding that issue
we can use `git merge-base --fork-point <current branch> master` and `git merge-base --fork-point <current branch> origin/master` and see whichever one is later and check until that commit
The problem would occur, when it is being ran on master branch

2. o

[2016-11-24 16:23] meetmangukiya commented on #1051
I would like to try to write this bear.

[2016-11-24 23:29] Nosferatul opened #1057 "LocalBearTestHelper: delete unused import `collections`"

[2016-11-25 03:04] Mixih commented on #1037
We could detect this magical merge with a regex and just check the last message in the log. Only problem is that regular merge comments would slip(we aren't supposed to use those) would slip detection. Will we need to be able to tell apart these magical merges? Also, could this be a edge case int he way Travis handles builds?

[2016-11-25 03:17] Mixih commented on #1029
Is this issue still present? how do we reproduce it?

[2016-11-25 03:24] Mixih commented on #1028
We seem to already have this bear: https://github.com/coala/coala-bears/blob/master/bears/rest/reSTLintBear.py . Please clarify if this is incorrect.

[2016-11-25 05:20] jayvdb commented on #1037
the Committer for these merges is GitHub, so that can be used to help isolate them from other similar commits.

IMO we (coala) dont actually want to allow this type of Merge commit to be accepted ; but we need to give an accurate error message explaining what is wrong with the commit, not obscure and confusing messages about the commit message being too long and not matching the regex.

Maybe we h

[2016-11-25 05:41] jayvdb commented on #1028
ah yes, whoops ;-)

[2016-11-25 05:41] #1028 closed

[2016-11-25 07:19] atemafac commented on #1046
hello , please i will like to have more information concerning this issue.

[2016-11-25 07:24] atemafac commented on #1057
please i will need more information on this issue.

[2016-11-25 07:31] sils commented on #1029
Just run the tests

[2016-11-25 07:35] Mixih commented on #1046
Welcome to the community!
Please make sure you have followed the Newcomer's guide and the Development setup guide before working on an issue.
Make sure you fork the repository and make a new branch for your modifications. Never develop on master.

Ok so to break the one-liner down:
`RELEASE_NOTES.rst:                                             351:`
^This part tells what the file is called and wh

[2016-11-25 07:51] Mixih commented on #1029
Not showing in the tests as of build 9344

[2016-11-25 08:02] Mixih commented on #1057
@atemafac didn't you already request an issue?

[2016-11-25 09:07] atemafac commented on #1046
from what i have here in my pc the number of lines of codes ends at 264. i cloned it 3 days ago.  what i am i to do now that i dont yet have the complete file.

[2016-11-25 09:19] #1029 closed

[2016-11-25 09:20] sils commented on #1029
I'll see if I can reproduce, maybe it's tied to having the latest pytest or so

[2016-11-25 14:29] Mixih commented on #1046
1) Make sure you are in the correct repo. Coala also has one.
2) Follow the instructions for rebasing in https://docs.coala.io/en/latest/Developers/Git_Basics.html

[2016-11-26 11:52] jayvdb opened #1062 "Windows installation broken"
Seems to be an upstream issue, so I raised the bug in setuptools.
https://github.com/pypa/setuptools/issues/861

Probably also need to notify the `safety` maintainer.

[2016-11-26 18:14] jayvdb commented on #1062
If the requirement is changed to `setuptools<=28.8.0`, we see the following error:

[code]

[2016-11-26 22:46] Mixih commented on #1062
This has been temporarily patched by coala/coala#3119. Keep this issue open until upstream updates and we can remove the hotpatch.

[2016-11-27 02:48] jayvdb commented on #861
Inspecting multiple commits is out of scope for GitCommitBear.  It should be done in GitMate, which is already looking at multiple commits, and/or in another tool (I am interested in a `git coala` which would do this).

[2016-11-27 02:48] #861 closed

[2016-11-27 02:49] jayvdb commented on #757
Inspecting multiple commits is out of scope for GitCommitBear.  It should be done in GitMate, which is already looking at multiple commits, and/or in another tool (I am interested in a `git coala` which would do this).

[2016-11-27 02:49] #757 closed

[2016-11-27 04:07] #1009 closed

[2016-11-27 09:26] coala-bot opened #1063 "Fix InvalidLinkBear test"
see https://github.com/coala/coala-bears/pull/1019/files#r89686114

Opened via [gitter](https://gitter.im/coala/coala/?at=583aa6aa73abd79c55a01b02) by @sils

[2016-11-27 14:36] Mixih commented on #1063
Should be pretty simple, just add a loop with splitlines for each test

[2016-11-27 14:54] rafidaslam commented on #1063
Yup

[2016-11-27 15:04] #1063 closed

[2016-11-27 15:06] coala-bot opened #1065 "package.json says it is version 0.8.0"
Released coala-bears is now into 0.9.x series, and master should not be saying it is 0.9.x

Opened via [gitter](https://gitter.im/coala/coala/?at=583af6898255fe6b76d48ded) by @jayvdb

[2016-11-27 21:32] coala-bot opened #1069 "use textwrap for docstylebear"
!

Opened via [gitter](https://gitter.im/coala/coala/?at=583b50cf1dec193f14f8baff) by @sils

[2016-11-28 04:08] Mixih commented on #1062
Upstream has patched. @jayvdb @sils How should we remove the hotpatch?

[2016-11-28 05:22] jayvdb commented on #1062
Revert the patch should be enough.
IMO it isnt worthwhile listing this or any other broken setuptools version as incompatible; there are too many to list, especially .0 releases.

[2016-11-28 05:37] jayvdb commented on #1065
Will anything break if we delete this line?

[2016-11-28 08:51] sils commented on #1062
nice :) I agree if it works, just revert the patch

[2016-11-28 10:01] #1018 closed

[2016-11-28 12:13] jayvdb opened #1070 "AlexBear fails with alex@4.0.1"
We should upgrade the linter dependency, but the tests fail.

See https://circleci.com/gh/jayvdb/coala-bears/179

[2016-11-28 12:15] jayvdb opened #1071 "ESLintBear fails with eslint@3.11.0"
We should upgrade the linter dependency, but the tests fail.

See https://circleci.com/gh/jayvdb/coala-bears/179

[2016-11-28 13:26] jayvdb opened #1072 "Support tslint 5"
package.json requires `~3`, so v4 is not being tested (it passes).
We should investigate whether we should test against v4

[2016-11-28 15:18] #1062 closed

[2016-11-28 20:03] #825 closed

[2016-11-29 12:11] srisankethu commented on #794
@souravsingh Wanna do it? Or can I take it over?

[2016-11-29 12:48] sils opened #1073 "Elm Linting"
There's a few elm linting and formatting tools out there that we can integrate.

I'm thinking about using elm for [the new gitmate](https://gitlab.com/gitmate/gitmate-2/) so we probably wanna have elm linting :)

So... which tools are best?

[2016-11-29 12:48] sils commented on #1073
- https://github.com/avh4/elm-format for auto formatting

[2016-11-30 11:03] BrainBuzzer opened #1075 "JSONFormatBear: Add advanced asciinema"
The coala bear JSONFormatBear does not have a proper asciinema.

[2016-11-30 12:26] #1075 closed

[2016-11-30 15:48] sounak98 commented on #1047
I'll take this up.

[2016-11-30 15:50] sils commented on #1047
yours!

[2016-11-30 17:17] sounak98 commented on #1057
I can take this up.

[2016-11-30 18:15] bekicot opened #1077 "rubocop bear - Use .rubocop.yml as default config if the file exist."
I use rubocop bear as the linter. But it seems it ignores default .rubocop.yml file.
here is the coafile configuration
[code]

There is 2 issue i found.
1. i did try to not use `rubocop_config` and it doesn't pick up default rubocop config, although it exist in the root project directory
2. I also try add `rubocop_config` and set the value to default rubocop config file, it doesnt pick up the rule

[2016-11-30 18:46] arghyatiger commented on #1046
i would like to work on this issue. i read all the developing instructions for joining coala.

[2016-11-30 19:59] LWJensen commented on #1053
I can take this issue for now, just to update until a consistent solution is written.

[2016-11-30 20:12] sils commented on #1053
Hi! Welcome to our community and thank you for your interest!

I have sent you an invitation to join our community. This is needed so we can coordinate tasks with you and make sure no two persons are working on the same thing. If you can't find the mail, you should be able to join us at http://github.com/coala-analyzer/!

We'd love to be able to help you when problems occur. Just join us on [our g

[2016-11-30 20:13] aptrishu commented on #1046
There you go. :) @arghyatiger

[2016-11-30 20:33] Mixih commented on #1057
@sounak98 Aren't you already working on a newcomer issue? If you are and have finished, check out a difficulty/low issue!

[2016-11-30 20:37] Nosferatul commented on #1053
@LWJensen go ahead!

[2016-11-30 22:39] Makman2 commented on #1077
1. The rubocop-bear does not pick up the `.rubocop.yml` automatically. If you don't specify a config file, the bear is meant to generate one on its own, taking more specific settings like `max_class_length`, `max_method_length` or `variable_naming_convention` from the coafile (you can lookup those in the bear description).
2. That's weird, it seems the args are correctly generated for rubocop. Cou

[2016-11-30 22:54] bekicot commented on #1077
@Makman2 The first one is kind of feature request. As coala should use the rubocop default config.

Here is the content of rubocop.yml
[code]

[2016-12-01 00:32] Mixih opened #1078 "Documentation: Title underline too short"
here are a whole bunch of files that have title underlines which are too short.
[code]
cross-post from coala/bear-docs#23

[2016-12-01 00:36] Mixih commented on #1078
CC @adtac Is this a problem with the gen code? or are people writing improper doc strings?

[2016-12-01 00:36] Adrianzatreanu commented on #1078
"too short"? something @adtac hears everyday :)

[2016-12-01 01:30] CormacGG commented on #1057
Hi, I would like to try this one out :)

[2016-12-01 02:20] Mixih commented on #1057
I don't think you're assigned to anything else so sure@CormacGG

[2016-12-01 02:22] Mixih commented on #1057
@CormacGG wait.... I can't assign you until you join the group. Goto the gitter(https://gitter.im/coala/coala) and type `hello world`

[2016-12-01 02:38] CormacGG commented on #1057
Okay, just joined

[2016-12-01 06:01] #1047 closed

[2016-12-01 06:52] nemaniarjun commented on #1077
I can take up the First Request, make RuboCopBear check the present directory for rubocop.yml
Is that to be done?

[2016-12-01 07:13] #1078 closed

[2016-12-01 07:15] adtac commented on #1078
@Mixih yeah it was a tiny issue with the generator code. Fixed it :+1:

@Adrianzatreanu haha very funny; but hey, I at least hear it everyday ;)

[2016-12-01 07:29] sounak98 commented on #1073
I'll take this up?

[2016-12-01 09:25] sils commented on #1073
yes please :)

[2016-12-01 10:41] Makman2 commented on #1077
@bekicot I would decline the first issue as a feature request (sorry :3), because coala's idea currently is to be the one and only interface for all codestyle tools. Especially the workaround is very easy, just specify `.rubocop.yml` as the `rubocop_config`. Also it would clash a bit with the current "feature" of coala to generate it's own rubocop-yml-file which you can assemble using settings ins

[2016-12-01 17:19] arsalansaad commented on #840
can i work on this?

[2016-12-01 18:19] wisn opened #1079 "The bear HaskellLintBear raised an exception"
I've used HaskellLintBear to linting https://github.com/wisn/elm-reactor/

Here is the log
https://travis-ci.org/wisn/elm-reactor/builds/180417562

The build result is green, but the bear HaskellLintBear raised an exception.

It seems HaskellLintBear have a problem
[code]

I've collected the traceback information:
[code]

I think `TypeError: Can't convert 'NoneType' object to str implicitly` is th

[2016-12-01 20:30] Makman2 commented on #1079
Thanks for the report, appreciate it :+1:

[2016-12-01 23:27] CormacGG commented on #1057
Could I be assigned to this now?

[2016-12-02 06:36] arghyatiger commented on #1046
solved the issue and created a pull request . please review @aptrishu

[2016-12-02 06:46] yukiisbored opened #1081 "GofmtBear: Add advanced asciinema"
The coala bear GofmtBear does not have a proper asciinema.

`gofmt` is a command line tool that automatically solves formatting / styling issues to the absolute coding style that Go has.

I'm planning to use a working code as the sample where it's filled with mixed indentation (spaces and tabs), semicolons and demonstrate how gofmt formats the code automatically and correctly to the absolute Go co

[2016-12-02 10:11] yukiisbored commented on #1081
Also, I request myself to be assigned to this task. Thanks.

[2016-12-02 19:55] Makman2 commented on #1057
sure :)

[2016-12-02 20:01] bekicot commented on #1077
Here is the content of the rubocop.yml
[code]
https://github.com/jekyll/jekyll-admin/blob/master/.rubocop.yml

As you can see there is inherited rules come from
https://github.com/jekyll/jekyll/blob/master/.rubocop.yml

[2016-12-02 20:20] Makman2 commented on #1077
I mean one of your code files you try to lint/analyze :)

[2016-12-02 22:43] #1081 closed

[2016-12-03 15:07] arghyatiger commented on #1024
i would like to work on this issue !

[2016-12-03 15:09] arghyatiger commented on #1005
i would like to work on this issue.

[2016-12-03 16:32] jayvdb opened #1083 "FilenameBear: default naming convention should be language specific in some cases"
Each language has different naming conventions that are very widely accepted.

- python: snake
- javascript: snake with hyphens
- java: pascal

If it is too controversial to add this to the bear, setting the better default could be done in [coala-quickstart](https://github.com/coala/coala-quickstart), or quickstart could detect the predominate style.  This problem came up regularly in the GCI lint

[2016-12-03 21:16] aptrishu commented on #1005
Assigned. :+1:

[2016-12-03 21:18] arghyatiger commented on #1005
I'll get on it right away !

[2016-12-04 11:36] jayvdb commented on #1083
See https://github.com/bartvandebiezen/file-name-conventions for some collected notes on this topic.

[2016-12-04 15:34] coala-bot opened #1084 "CI: checkstyle.jar should be downloaded in dependencies phase"
When building without a cache, checkstyle.jar doesnt exist until the unit test, making the test susceptible to network problems, such as occurred on https://circleci.com/gh/coala/coala-bears/4242

difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=584437896b32e8704984e758) by @jayvdb

[2016-12-04 16:26] jayvdb commented on #1012
`KeywordBear` added a dependency on  `AnnotationBear` in 1da70cde , and `AnnotationBear` has always had this mandatory non-defaulted parameter `language`.

PR https://github.com/coala/coala-bears/pull/884 , closing issue https://github.com/coala/coala-bears/issues/761 .

[2016-12-04 16:31] jayvdb commented on #774
We should note that currently AnnotationBear requires extra non-defaulted parameters like `language`, which will break old `.coafile` as happened in https://github.com/coala/coala-bears/issues/1012

[2016-12-05 07:42] nikhilsingh291 commented on #928
Is this issue still available?  I'm a newcomer.

[2016-12-05 08:16] jayvdb commented on #928
Previous attempts were https://github.com/coala/coala-bears/pull/936 and https://github.com/coala/coala-bears/pull/937 - repository deleted.

@nikhilsingh291 , make sure you follow http://api.coala.io/en/latest/Developers/Git_Basics.html , especially creating a branch : do not use "master" for your development - that is the most common mistake .  And then when you are ready to commit, also read ht

[2016-12-05 09:16] SarthakNijhawan commented on #1084
Can I get assigned to this issue ?

[2016-12-05 10:10] nikhilsingh291 commented on #928
@jayvdb I tried installing bears on python 3.3. Bears already checks for python 3.4 or greater. So  there is no need of this YapfBear.check_prerequisites function. Should I delete the whole check_prerequisites function? Suggest.

[2016-12-05 10:28] jayvdb commented on #928
Yes, delete the whole `check_prerequisites`.

[2016-12-05 12:38] #1051 closed

[2016-12-05 13:06] coala-bot opened #1089 "PythonPackageInitBear : Propose an empty init file as a patch"
Opened via [gitter](https://gitter.im/coala/coala/?at=5845666ab4ffd59e38e9d83f) by @meetmangukiya

[2016-12-05 13:15] amrandahvur commented on #527
What difficulty level is this ? (low or medium) ?

[2016-12-05 13:19] amrandahvur commented on #836
Please assign me this, I would like to give it a try

[2016-12-05 13:36] meetmangukiya commented on #1089
Remove - Bear proposal.
Add - enhancement/feature label instead

[2016-12-05 13:37] meetmangukiya commented on #1083
`coala` itself doesn't use snake case for filenaming :worried:

[2016-12-05 13:58] amrandahvur commented on #1089
Details ?

[2016-12-05 14:17] sils commented on #527
low-ish. You'll have to work out what's the best thing to write here before writing it ;)

[2016-12-05 15:01] SarthakNijhawan commented on #1084
@jayvdb How do I figure out , like where to start looking for problems ? I'm totally new to this kind of problem solving . Thanks .

[2016-12-05 15:10] Nosferatul commented on #1084
use grep -r 'checkstyle.jar' in your local repo. find where is used and change it. I hope it will help you

[2016-12-05 16:05] #928 closed

[2016-12-05 17:36] SarthakNijhawan commented on #1084
I had already found the file though where the filename happens to be . But I was a bit confuse to make any corrections further , like how do I get to know that it is right ..... should I directly pull off the PR for the same.

[2016-12-05 18:52] jayvdb commented on #1084
#1094 is way off ; this problem is that the CircleCI build process needs to pre-fetch checkstyle.jar before the test suite is run.
I suggest that you do a [newcomer](http://coala.io/newcomer) issue first.

[2016-12-05 18:55] SarthakNijhawan commented on #873
@Adrianzatreanu , assign me this

[2016-12-05 18:57] jayvdb commented on #873
Can we leave these asciinema tasks for the [GCI](https://github.com/coala/coala/wiki/Google-Code-In) participants, please?

[2016-12-05 18:58] SarthakNijhawan commented on #896
assign me this?

[2016-12-05 19:00] SarthakNijhawan commented on #1084
@jayvdb Sure.

[2016-12-05 19:01] jayvdb commented on #896
See https://github.com/coala/coala-bears/pull/917 for a similar problem which has already been solved.

[2016-12-05 21:52] jayvdb opened #1095 "AnnotationBearTest: Missing test case for coalang without needed attributes"
It only has a test case for missing spec, rather than a test for existing coalang spec with missing attributes.
https://github.com/coala/coala-bears/blob/master/tests/general/AnnotationBearTest.py#L126

[2016-12-06 01:19] jayvdb commented on #1095
Quite important as it helps understand options for https://github.com/coala/coala-bears/issues/1012

[2016-12-06 01:29] Makman2 commented on #1089
When `PythonPackageInitBear` detects a missing `__init__.py`, it shall propose a new empty `__init__.py` as a patch.

[2016-12-06 01:30] Makman2 commented on #1083
it's just about defaults, coala would obviously not stick to the python default :)

[2016-12-06 10:18] jayvdb opened #1098 "XMLBear: style specifications"
xmllint actually implements quite a few style specifications, but these need to be enabled via command line arguments, which should be exposed to the coala configuration.

If the user has chosen a style in the configuration, the style messages from the bear should be treated as "MAJOR" severity errors.

[2016-12-06 10:21] jayvdb opened #1099 "XMLBear: Add severity to messages"
XMLBear emits all messages at the same severity "NORMAL", however the underlying linter has errors, warnings and it emits formatted XML which the bear is treating as gospel when in fact its formatting is terrible.
(with some caveats: https://github.com/coala/coala-bears/issues/1098)

MAJOR should be for errors, and maybe some of the more critical warnings, NORMAL for all other warnings, and INFO f

[2016-12-06 11:55] yukiisbored commented on #1099
May I take this one?

[2016-12-06 11:56] sils commented on #1099
@yukiisbored sure!

@jayvdb why is this medium and not low difficulty?

[2016-12-06 12:06] jayvdb commented on #1099
medium, because the unit tests are going to need to be revised quite a bit to properly test the new severities.

[2016-12-06 13:05] amrandahvur commented on #527
@sils Can I be assigned this instead of https://github.com/coala/coala-bears/issues/836 ?
This seems more interesting and doable to me as of now.

[2016-12-06 13:43] sils commented on #527
ok

[2016-12-06 14:15] amrandahvur commented on #1089
Propose as in ``ask the user if he wants to create the empty __init__.py file`` ?
Or just ``create the empty __init__.py file and let the user know about it`` ?

[2016-12-06 15:03] underyx opened #1102 "QuotesBear: Does not suggest patch for a specific line"
There's no patch suggested for this line to change quotes to `'`:

[code]

[2016-12-06 15:13] underyx opened #1103 "QuotesBear broken by Python triple quotes"
This is a bad suggestion:

[code]

type/bug

[2016-12-06 16:03] sils commented on #1103
oh yes, @abhsag24 was working on fixing this already

[2016-12-06 16:05] sils commented on #1102
CC @abhsag24 can you try to reproduce?

[2016-12-06 16:08] sils commented on #1005
the bear needs an option, something like `force_preferred_quotation`. If set to true it should correct e.g. "asd ' asd" to 'asd \' asd' (which it currently doesn't)

[2016-12-06 16:36] meetmangukiya commented on #1089
Ask the user if he wants to create it @amrandahvur

On Tue, Dec 6, 2016 at 7:45 PM, Madhur Tandon <notifications@github.com>
wrote:

[2016-12-06 16:50] amrandahvur commented on #1089
I would like to give this a shot :D

[2016-12-06 17:12] meetmangukiya commented on #1089
@amrandahvur am not sure it is possible to fix this now...
Blocked by https://github.com/coala/coala/issues/3123

Someone add Label status/blocked

[2016-12-06 17:15] amrandahvur commented on #1089
Aah, I see, Ok, :+1:

[2016-12-07 01:56] jayvdb opened #1104 "QuotesBear rejecting valid docstrings"
When adding this file
[code]

We see this error:

[code]

@underyx also reported something similar with this required change:

[code]

[2016-12-07 06:56] dracarys09 commented on #44
I would like to get assigned to this.

[2016-12-07 09:08] sils commented on #44
there you go

[2016-12-07 10:07] SarthakNijhawan commented on #896
@jayvdb I ran through #917 , I understood the code but I dont know , wat exactly is the whole code doing in the background , so can u throw some light on it .

[2016-12-07 10:12] SarthakNijhawan commented on #896
Though I understood that we need to add a check regarding the invalid config for using spaces and indent size according to the standards , but still not getting the gist .

[2016-12-07 12:19] dracarys09 commented on #44
I need some clarification

a = ['import "errors"', '',
     'func F() (*MyType, int, error) { return nil, 0, errors.New("foo") }']
b = ['package main', '', 'import "os"', '',
     'func main() {', '\tf, _ := os.Open("foo")', '}']

Instead of 'a' and 'b' variable names are 'good_file1' and 'good_file2'

(1) Should I remove those lines ?

[2016-12-08 09:08] svx opened #1106 "InvalidLinkBear: Ignore multiple urls"
Hi,

question, we are using coala for running multiple checks against our documentation, is there an easy way to tell  InvalidLinkBear to ignore various links like for example 127.0.0.1, localhost:8080 etc ?

We tried that with:
[code]

Thing is, this is getting 'messy' if you have more than a couple of links and at least for us, it is also not working well, yet :)

Thanks !

[2016-12-08 09:41] sils commented on #1106
Hi, I don't think there's an option but we should certainly introduce one, I'm looking into the source right now.

[2016-12-08 09:43] sils commented on #1106
Ok, there's definitely no such thing but it's probably easy to implement:

@svx what would be your ideal way to configure this?

[2016-12-08 09:56] svx commented on #1106
@sils I guess there are different options, personally I would like to do that in my .coafile, so that I have all configuration in one place, maybe something like:

[code]

[2016-12-08 10:07] sils commented on #1106
maybe allow a list of globs instead of the regex? Like `http://coalaisthebest.com/**` or `http://coalaisthebest.com/*/index.html` and allow it to be ]comma separated?

[2016-12-08 10:17] svx commented on #1106
Yeah that would be awesome !

[2016-12-08 10:19] sils commented on #1106
Ok, this is super simple to implement, add the setting and use coala's fnmatch function to match the URL in line 52 of InvalidLinkBear.py. @svx interested in helping out?

As soon as the fix is on master, it'll be available as a prerelease on pypi so you can use it right ahead even without a major release.

[2016-12-08 10:23] svx commented on #1106
@sils I am more than willing to contribute nice docs and a asciinema, unfortunately I do not speak python but if I can help in another way let me know !

[2016-12-08 10:25] sils commented on #1106
Cool, we'll get it done within a week or so I guess. Ping me if not, I'll then take care of this but ATM I'm too busy ;)

[2016-12-08 10:27] sils commented on #1106
Assiging @dracarys09 due to interest on gitter.

[2016-12-08 10:49] dracarys09 commented on #1106
@sils Can you  please guide me a little about how to reproduce this issue and what is needed to be changed to solve this issue ?

[2016-12-08 10:52] svx commented on #1106
Nice ! Awesome ! Cool !

[2016-12-08 11:12] sils commented on #1106
@dracarys09 just add a setting to the InvalidLinkBear as described in the discussion. Ask on gitter if you need more info, I'm busy with other stuff right now.

[2016-12-08 18:42] Nosferatul opened #1109 "AnnotationBear.py: Remove unneeded space after opening paranthesis"

[2016-12-08 19:04] dracarys09 commented on #1106
@sils @Mixih as we discussed earlier, I figured out a way to use coala's fnmatch function to solve this.
The only thing I don't understand is if someone mentions ```links_to_ignore``` in .coafile how to pass the same in find_links_in_file() method in InvalidLinkBear.py

Present Code : ```find_links_in_file(file, timeout, link_ignore_regex)```
Required Change : ```find_links_in_file(file, timeout,

[2016-12-08 20:49] jayvdb commented on #1109
On gitter it was established that this is a parsing problem in coala, and so should be fixed there.
[December 8, 2016 11:28 PM](https://gitter.im/coala/coala?at=58498a35be9d43bc63359db8)

[2016-12-08 20:49] #1109 closed

[2016-12-09 09:25] hemangsk commented on #1102
Hey @underyx, I'm unable to reproduce the error with this line..
If the masked keynames are just strings wrapped in double quotes , can't see why the patch won't get displayed in that case.

[code]

[2016-12-09 10:30] Makman2 commented on #1106
Please read bear docs on how to define/receive settings from a coafile, https://api.coala.io/en/latest/Developers/Writing_Bears.html#communicating-with-the-user

[2016-12-09 11:51] underyx commented on #1102
We got in touch, trying to figure out something. Tested these cases:

[code]

[2016-12-09 12:29] hemangsk commented on #1102
Steps for reproduction we figured,
1. Create a file with the case that breaks, as @underyx has mentioned ^,

[code]
with whitespaces intact.

2. .coafile should read something like,
[code]

3.  Run coala,
[code]

4. After applying this patch, this comes,
[code]

5.  Press 0 for Do nothing, and this is the output,
[code]
To observe,
1. _No correction preview_
2. _No option to apply patch_

[2016-12-09 12:33] sils commented on #1102
Oh, I bet there's a patch inside coala but coala isn't able to merge the patches in the same run because they're in the same line. Our diffing has only limited smartness (though: good luck trying to find a smarter one out there! Most diffs don't work within the same line at all.) So this is most likely an issue with the `__add__` method of the `Diff` object in the coala repository. Workaround: un

[2016-12-09 12:34] adtac commented on #1102
@hemangsk I couldn't reproduce this:

[code]

see the last prompt where `Apply patch` is still present. BTW the coafile is:

[code]

[2016-12-09 12:36] underyx commented on #1102
@adtac do you have 8 spaces or 4 spaces indentation there?

[2016-12-09 12:37] adtac commented on #1102
@underyx 4. Just tried with 8 spaces - holy shit, how is this even possible!

[2016-12-09 12:54] adtac commented on #1102
@sils how do you explain the difference between 4 spaces and 8 spaces?

[2016-12-09 13:07] jayvdb opened #1110 "Dependency libclang-py3 shared with coala"
Currently we have one package `libclang-py3` which is listed in both the coala and coala-bears `requirements.txt`.

This makes it difficult to modify, due to our CI, as a change in one requirements.txt will be ignored/conflicted once the other package is installed.

e.g. at the moment Circle CI in coala does

1. coala tests
2. install coala-bears
3. run `coala --ci`

When changing the version for

[2016-12-09 14:11] #1110 closed

[2016-12-09 16:32] adtac commented on #892
@jayvdb that PR seems to have been merged. Removing status/blocked if that's okay with you.

[2016-12-09 17:09] adtac commented on #1089
And this should ideally not create `__init__.py` files for every directory. Only ones that have one other `.py` file IMO.

[2016-12-09 17:10] adtac commented on #1089
Or another file deeper down in a sub-directory, of course.

[2016-12-09 18:03] meetmangukiya commented on #1089
@adtac the bear by itself, suggests the directories *containing python
files* to have an `__init__.py` file. So say if there was a directory
containing just c++ files, then the bear wouldn't tell the user that it
needs a init file...

On Fri, Dec 9, 2016 at 10:40 PM, Adhityaa Chandrasekar <
notifications@github.com> wrote:

[2016-12-09 21:20] Nosferatul commented on #994
@Yomojet are you working on this?

[2016-12-09 21:30] #1057 closed

[2016-12-09 21:33] Nosferatul commented on #994
Unassigned because the long period of absence

[2016-12-10 09:38] Flap-Py commented on #892
I would like to work on this. Please assign me.

[2016-12-10 12:45] jayvdb opened #1112 "GitCommitBear: Require the commit message body contains a URL pattern"
[Writing Good Commits](https://api.coala.io/en/latest/Developers/Writing_Good_Commits.html) requires a URL.

We should have a bear that checks this.

[2016-12-10 12:53] jayvdb opened #1113 "Check requirements against requirements of all dependencies"
Due to the way pip works, without a proper dependency graph, the version installed is not deterministic unless our versions are identical to the versions of our dependencies.

All requirements files should be in sync.  A bear needs to check this.

[2016-12-10 13:51] jayvdb commented on #1113
See https://github.com/coala/coala/issues/3200 and https://github.com/coala/coala/issues/3183 for the types of problems that should be avoidable.

[2016-12-10 14:55] #1053 closed

[2016-12-10 14:55] #1099 closed

[2016-12-10 22:30] CormacGG commented on #994
Awesome
Thanks :)

[2016-12-11 01:20] nkprince007 commented on #1112
Assign this to me

[2016-12-11 01:27] jayvdb commented on #1112
Could you join the gitter channel, so we can add you to the org, and assign you to this issue

[2016-12-11 03:53] arush0311 commented on #432
@sils Just a clarification there are two types of dependencies system and bear. Do we have to show a message for both?

[2016-12-11 10:44] sils commented on #432
closing this in favour of https://github.com/coala/coala/issues/3219

[2016-12-11 10:44] #432 closed

[2016-12-11 10:49] sils commented on #432
it shouldn't matter for deps if it's a local or global bear @arush0311

[2016-12-11 11:04] arush0311 commented on #432
So only system deps should be checked?

[2016-12-11 11:06] sils commented on #432
I don't get you

[2016-12-11 11:07] arush0311 commented on #432
same here :laughing:

[2016-12-11 11:15] arush0311 commented on #432
I mean do the dependencies in in BEAR_DEPS need to be checked also (checking if the required bears are also installed?)

[2016-12-11 13:35] sils commented on #432
certainly! As described in the new issue

[2016-12-11 14:43] Flap-Py commented on #892
So this is about linting .po and .pot files. Am I correct?

[2016-12-11 16:52] dracarys09 commented on #1106
@Makman2  Thanks a lot...

[2016-12-12 03:52] jayvdb commented on #892
Correct. There are several existing tools, and we probably want to analyse all of them, and possibly implement all of them if they provide different errors (and I believe they do).
I know dennis is especially good for translation strings which [include html](https://github.com/willkg/dennis/blob/master/dennis/translator.py#L595).

[translate-toolkit](http://docs.translatehouse.org/projects/transla

[2016-12-12 06:21] CormacGG commented on #994
I've been looking through the file, and cannot find that sentence anywhere.

[2016-12-12 08:08] namanyadav12 commented on #1098
Can i be assigned this issue ?

[2016-12-12 09:13] Makman2 commented on #1098
Why explicitly `MAJOR`?

[2016-12-12 09:14] sils commented on #994
@CormacGG true, thanks for your help. Apparently someone corrected this without adding a note to this issue. This is solved.

[2016-12-12 09:14] #994 closed

[2016-12-12 12:20] Flap-Py commented on #892
So I tried to make linter bear using Dennis. I went through https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html
Till now what I can think of is http://pastebin.com/tG1RBUZK
Now first am I going in right?
Further I needed help with the `add ignore comment` option.

[2016-12-12 15:03] jayvdb commented on #892
Yea, that looks good.

I am not sure what you mean with "`add ignore comment` option" .

The remaining problem is that `W302: unchanged: Makes sure string is actually translated` is not like the other warnings.  unchanged translations cant be fixed by a technical person; it requires finding someone who can write that language, which isnt always solvable.

There are two ways to approach this.
Eithe

[2016-12-12 15:27] jayvdb commented on #1098
So the relevant `xmllint` args are:

* `--c14n` : save in W3C canonical format v1.0 (with comments)
* `--c14n11` : save in W3C canonical format v1.1 (with comments)
* `--exc-c14n` : save in W3C exclusive canonical format (with comments)

And this *may* also be relevant

* `--oldxml1` : use XML-1.0 parsing rules before the 5th edition

These are format W3C specs, rather than style guidelines.
A use

[2016-12-13 03:58] jayvdb opened #1117 "Bear Proposal: phan for php"
https://github.com/etsy/phan

See also https://phabricator.wikimedia.org/T132636 and https://www.mediawiki.org/wiki/Continuous_integration/Phan

Specially, https://github.com/wikimedia/mediawiki/tree/master/tests/phan is the Wikimedia config.  Ideally that is used as an example of the amount of configuration needed for a large project.

[2016-12-13 10:50] Flap-Py commented on #892
By `add ignore comment` I meant that on lint error, we have 3 choices,
[code]

[2016-12-13 16:01] jayvdb opened #1119 "hlint minimum version 1.9.1 not recorded"
HaskellLintBear should say that the `hlint` minimum version is 1.9.1, due to the use of the `--json` argument.

Needs either https://github.com/coala/coala/issues/3237 or https://github.com/coala/coala/issues/3236 fixed first.

[2016-12-13 19:39] Nosferatul commented on #311
@rubdos are you still on it?

[2016-12-13 19:39] Nosferatul commented on #312
@rubdos ?

[2016-12-13 19:58] Nosferatul commented on #337
@ujas800 are you working on it?

[2016-12-13 19:58] Nosferatul commented on #358
@gs0510 are you working on it?

[2016-12-13 19:59] Nosferatul commented on #388
@ivange94 ping

[2016-12-13 20:00] Nosferatul commented on #455
@arafsheikh ping

[2016-12-13 20:01] Nosferatul commented on #794
ping @souravsingh

[2016-12-13 20:02] Nosferatul commented on #847
ping @gs0510

[2016-12-13 20:13] jayvdb commented on #1084
`setup_dependencies` uses `Bear.download_cached_file`, which expects to find the `checkstyle.jar` file in `.local/share/coala-bears/` (on unix) and similar on Windows.

`.ci/deps.sh` currently includes:

[code]

which now emits:

[code]

Changing those commands to `coala --ci` should fix the problem.

However http://packages.ubuntu.com/xenial/checkstyle installs the same .jar to /usr/share/java/ch

[2016-12-14 04:20] coala-bot opened #1122 ".coafile: add PycodestyleBear"
It should be run after PEP8Bear, and will find problems not found by the older PEP8Bear

difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5850c89a7a58ca60554da729) by @jayvdb

[2016-12-14 04:33] coala-bot opened #1123 "Reduce the length of the output of .ci/deps.sh"
The output includes many lines which are reporting progress of downloads.
This makes the log file large without adding much information.  If possible, keep some download progress information, but less frequently, so the log is smaller.

difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=5850cb880da034021ba8c585) by @jayvdb

[2016-12-14 04:45] jayvdb commented on #1037
The solution/consensus of https://github.com/coala/coala/pull/3206 is that `coala` should skip checking these merge commits on the PR only (not on the push).
So GitCommitBear should emit a warning, but otherwise ignore these commits.

[2016-12-14 04:52] jayvdb commented on #1112
As noted at https://github.com/coala/coala-bears/pull/1115/files#r92322299 (which could disappear)..

Enabling this feature is going to cause gitmate to reject any "multiple commits PR" where each commit does not have an issue linked. i.e. it is going to reject quite a few of our commits. e.g. coala/coala@ea48d66 coala/coala@49f8884 coala/coala@49f441b . coala/coala@39b0a17 .
Are we ready for this

[2016-12-14 11:19] Flap-Py commented on #892
I came up with http://pastebin.com/bXM0uGkD
I wanted to confirm
- In metadata attribute Language, what to put? (right now I have `{"po", "pot"}` there.
Also how shall I send pull request for this. Is it like put the bear.py file in `coala-bears/bears` folder and push it? or something else.
thanks :)

[2016-12-14 11:56] SarthakNijhawan commented on #1084
@jayvdb I understood the issue , but can u explain like how is the .ci folder related to prefetching of the .jar file . Thnks

[2016-12-14 11:57] jayvdb commented on #892
Looks good so far.
Put the code in `bears/gettext/DennisBear.py` , create a `__init__.py` in the same directory (see other dirs).
Create a unit test in `tests/gettext/DennisBearTest.py` (see other test files).

Create a branch, commit it, push it, PR it.  See http://coala.io/newcomer and http://api.coala.io/en/latest/Developers/Git_Basics.html, especially the commit message guideline.

[2016-12-14 12:06] Nosferatul commented on #311
Unassigned because of inactivity

[2016-12-14 12:07] Nosferatul commented on #312
Unasigned because of inactivity

[2016-12-14 12:08] Nosferatul commented on #337
Unassigned because of inactivity

[2016-12-14 12:09] Nosferatul commented on #358
Unassigned because of inactivity

[2016-12-14 12:10] Nosferatul commented on #794
Unassigned because of inactivity

[2016-12-14 12:48] Nosferatul commented on #35
Check `bears/js/JSONFormatBear.py` line 42. repr(str(err)) - will return a string containing a printable representation of an object. repr(str(err)) = `Expecting property name enclosed in double quotes: line 2 column 7 (char 8)`
Instead that line, print only `Expecting property name enclosed in double quotes.` get the number of the line, column and char and parse them.

[2016-12-14 12:56] Nosferatul commented on #63
Read http://api.coala.io/en/latest/Developers/Writing_Bears.html before doing this

[2016-12-14 13:06] Nosferatul commented on #116
Check http://checkstyle.sourceforge.net/checks.html and https://github.com/coala/coala-bears/pull/156/files

[2016-12-14 13:28] Nosferatul commented on #211
Check bears/vcs/git/GitCommitBear.py, follow the instructions ^.
https://docs.python.org/2/library/os.html#os-file-dir - getcwd

[2016-12-14 13:32] Nosferatul commented on #289
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:33] Nosferatul commented on #290
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:33] Nosferatul commented on #291
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:33] Nosferatul commented on #292
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:33] Nosferatul commented on #294
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:35] Nosferatul commented on #296
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:35] Nosferatul commented on #299
Check http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html before this

[2016-12-14 13:44] Nosferatul commented on #311
Check bears/general/KeywordBear.py . Add optional param to `run` method( optional means that the param should have a default value, something like `regex_keyword = "Default"`)

[2016-12-14 15:37] jayvdb opened #1125 "Remove star imports"
Replace the following `*` imports with explicit imports, to help prepare for https://github.com/coala/coala/issues/3066

[code]

[2016-12-14 15:41] jayvdb opened #1126 "Remove unused imports in tests"
Remove the following unused imports, to help prepare for coala/coala#3066

[code]

[2016-12-14 15:45] jayvdb opened #1127 "Remove unused imports in bears"
Remove the following unused imports, to help prepare for coala/coala#3066

[code]

[2016-12-14 21:37] jayvdb commented on #1084
OK, looking at the log of https://circleci.com/gh/coala/coala-bears/4242 , here is what went down.

[code]

Worth noting, is that the problematic https://circleci.com/gh/coala/coala-bears/4242 had only one VM, not the required two.

I believe this is something to do with that, see:

[code]

[2016-12-14 23:32] jayvdb opened #1131 "[Bear Proposal] Check circle.yml cache_directories are directories"
They should all end in a trailing `/`, to ensure they are a directory.  Currently one is not a directory, which will be resolved by https://github.com/coala/coala-bears/pull/1130 .

Travis CI (see https://github.com/coala/coala/issues/3191) requires they are directories, and will pre-create them, which means any files in this list

1.  will need to delete the pre-existing directory with the same n

[2016-12-14 23:52] Makman2 commented on #1131
so what about a `CircleCIBear` which checks all relevant aspects for CI, not only those directories?

[2016-12-14 23:52] Makman2 commented on #1131
(same for TravisCI :+1:)

[2016-12-15 00:41] Mixih commented on #1131
Can I take this? Also, @makman2 can you specify what params in the circle file you want checked?

[2016-12-15 03:12] iamprakashom commented on #1127
I am working on this.

[2016-12-15 03:41] jayvdb commented on #1131
This is a specific problem, and if we run circle and travis together, we should ensure the two sets of cached directories are identical in each configuration yaml.

For Travis, we have https://github.com/coala/coala-bears/issues/294 : https://github.com/pwmckenna/node-travis-lint.

We should also have a generic Yaml schema validator (http://www.kuwata-lab.com/kwalify/ looks ok, but dead and has kn

[2016-12-15 03:43] jayvdb commented on #1127
Could you please follow http://coala.io/newcomer (come onto gitter...)

[2016-12-15 03:57] jayvdb commented on #1131
Another more recently maintained yaml schema validator is Haskell https://notabug.org/pharpend/yaml-schema

[2016-12-15 04:14] iamprakashom commented on #1127
I am on it :smile:
joined gitter too.

[2016-12-15 04:46] jayvdb opened #1134 "GitCommitBear: Require the commit message body contains a valid issue reference"
Following on from https://github.com/coala/coala-bears/issues/1112 , some users may want the commit log to not contain a URL, but use the `#123` syntax.

Also, BitBucket [only supports](https://confluence.atlassian.com/bitbucket/resolve-issues-automatically-when-users-push-code-221451126.html) `#123` or `issue 123`, and doesnt support URLs.

[2016-12-15 04:46] jayvdb commented on #1112
Interesting; [BitBucket commit issue linker](https://confluence.atlassian.com/bitbucket/resolve-issues-automatically-when-users-push-code-221451126.html) doesnt appear to support links, and my limited testing of it confirms this.  I've created https://github.com/coala/coala-bears/issues/1134 about that.

[2016-12-15 06:40] andreidinu commented on #1122
I'd like to be assigned here.

[2016-12-15 06:46] Mixih commented on #1122
you're on this issue.

[2016-12-15 10:42] iamprakashom commented on #1126
I am on it. Please assign it to me.

[2016-12-15 10:51] ivange94 commented on #388
AStyleLintBear wipes out the contents of the file. Right now I just have a simple implementation without a lot of options set. But everytime I run the bear and select auto apply patch, the contents of the file get wiped. Actually this is what I was having the first time I tried this and I talked to @Makman2 on gitter. And he said what is happening is that the astyle linter automatically changes th

[2016-12-15 13:26] jayvdb commented on #1126
No. Next you should do a low difficulty task.

[2016-12-15 13:36] Techievena commented on #1126
Where to get these files??

[2016-12-15 13:38] Techievena commented on #1126
Sorry for the above silly question I figured it out. Can I be assigned this issue??

[2016-12-15 14:09] jayvdb commented on #1104
IMO we need one or two more parameters.
At least `preferred_docstring_quotation`, and probably `preferred_triple_quotation`.

[2016-12-15 14:38] Makman2 commented on #1131
@Mixih nothing specifically (okay at least the directory thing mentioned here), it was just an idea to extend this single lint-feature into a generic bear for all CircleCI related which is possible to check.

[2016-12-15 14:40] Makman2 commented on #388
`@linter` tries to read a corrected version of the file from stdout, but there's none, that's why it wipes the file. Use stderr if this is the correct stream.

Btw: you can't use redirects, piping and other shell features, as shell-execution is disabled for security reasons.

[2016-12-15 16:02] jayvdb opened #1136 "Every linter bear should include a URL to the linker website"
The following bears do not include a URL

[code]

[2016-12-15 16:03] jayvdb commented on #1136
IMO we should add a Bear attribute for the primary URL for automated "See here for more info" links in the docs.

[2016-12-15 16:12] jayvdb opened #1137 "Conflicting use of setting language"
LanguageToolBear has a parameter `language` for ISO code, and it was previously called `locale` but that is now deprecated.

Other bears now use `language` for programming language names defined in coalangs.

[2016-12-15 16:17] jayvdb opened #1138 "AlexBear docstring should mention it is English language only"
See https://www.npmjs.com/package/alex

Also the docstring should include a link to https://www.npmjs.com/package/alex , as a temporary solution for https://github.com/coala/coala-bears/issues/1136 .

[2016-12-15 16:27] jayvdb opened #1139 "ProseLintBear docstring should mention it is English language only"
Even the website doesnt mention this. See https://github.com/amperser/proselint/issues/636

Also the docstring should include a link to https://github.com/amperser/proselint , as a temporary solution for #1136 .

[2016-12-15 17:16] mamakancha commented on #1125
Hi. I would like to give this one a try.

[2016-12-15 17:36] mamakancha commented on #1125
@jayvdb  I can't seem to find the python files with names **BearTestHelper.py** and **LocalBearTestHelper.py** in tests/
Can you help me with this problem? May be I am missing out on something.

[2016-12-15 17:37] jayvdb commented on #1084
A similar problem occurred on Travis

https://travis-ci.org/coala/coala-bears/jobs/184291987#L4117

Gotta admit, im not sure what is happening here.

@mixih , maybe your download cached file rewrite could help here, as it used requests.

[2016-12-15 17:58] jayvdb commented on #1084
Note I am getting regular errors for the CheckstyleBear on py36 . https://travis-ci.org/coala/coala-bears/jobs/184309859

[2016-12-15 18:03] mamakancha commented on #1125
@jayvdb I opened these files, Could not find any star imports in any of them. What should I do?

[2016-12-15 18:09] mamakancha commented on #1125
@jayvdb How to know which explicit imports should be used?

[2016-12-15 23:40] jayvdb commented on #1000
right, which will speed up installation and reduce headaches for all.

[2016-12-16 05:34] jayvdb opened #1144 "Travis CI lintr broken"
3df3defa9 added Travis CI support, which worked on PRs and forks, but [failed on master](https://travis-ci.org/coala/coala-bears/builds/184440565).

Relevant log
[code]

The lack of information there was being solved in https://github.com/coala/coala-bears/pull/1121 , but that went in an incorrect direction.

Creating a more detailed log now...

[2016-12-16 06:11] jayvdb commented on #1144
A [verbose log](https://travis-ci.org/jayvdb/coala-bears/jobs/184450770#L1982) shows the problem is `/usr/bin/ld: cannot find -lgfortran` , which is because it was removed after a64b815f8 before the final version of the commit.

[2016-12-16 06:13] jayvdb commented on #1144
Re-adding gfortran [should work](https://travis-ci.org/jayvdb/coala-bears/builds/184454840).

[2016-12-16 06:27] jayvdb opened #1145 "Create CI helper script to delete cache"
As seen in https://github.com/coala/coala-bears/issues/1144 , caching can be a problem.
Whenever a part of the CI files are modified, the cache directories should be deleted early in the build process.

Deleting the cache in the PR only is better for the CI build times than deleting the cache in the CI system, which makes all PRs take longer, and the CI cache entries need to be regularly deleted u

[2016-12-16 08:46] jayvdb commented on #1122
Note this task includes fixing any of the smaller fixes needed for the PycodestyleBear linter to pass.

Any big ones should be separated into separate issues.

[2016-12-16 09:21] SarthakNijhawan commented on #896
@jayvdb Please check , if there's a need for some more modifications or changes ... in the commit ?

[2016-12-16 10:13] jayvdb commented on #896
You have a correct solution.
It is not optimal, but I suggest that you start a pull request, and we'll discuss it further.
Very briefly,
Instead of indenting many existing lines, use
[code]

And your test cases should use `self.assertRaisesRegexp`

[2016-12-16 10:45] #1144 closed

[2016-12-16 11:31] Makman2 commented on #1125
Delete those start imports, run tests or just try to import those files in python interpreter and see what's missing in the errors

[2016-12-16 14:52] jayvdb commented on #1112
I like the fact the current implementation uses the actual github/gitlab rules, and that should be the default.

However, the origin site should be automatically detected, using `.git/config`.

Then someone can activate a more specific pattern if they want to.

[2016-12-16 20:49] dracarys09 commented on #1134
@jayvdb I would like to work on this...

[2016-12-17 04:01] iamprakashom opened #1148 "README.rst: link is broken in 'Getting Involved' section"
Link for [`Getting In Touch`](http://coala.readthedocs.io/en/latest/Help/Getting_In_Touch.html) and [`newcomer guide`](http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html) is broken.

I think it should be updated with [this](http://docs.coala.io/en/latest/Help/Getting_In_Touch.html) and [this](http://coala.io/newcomer) respectively.

[2016-12-17 06:39] arush0311 commented on #1123
Can I do this? I may need some help.

[2016-12-17 08:49] andreidinu commented on #1122
@jayvdb I cant fix this. I tried some indentation methods but I didnt really solve it.
[code]

[2016-12-17 09:24] dracarys09 commented on #1134
@jayvdb @Makman2 What we could do for this is give a setting say ```issue_reference_type``` values can be ```full_url``` or ```short_url``` and check accordingly. If short_url is given ```short_url``` can match ```#123``` type or ```issue 123``` type whereas if  full_url is given ```full_url``` will match full issue urls.
What are your thoughts on this ?

[2016-12-17 09:50] cosmin004 commented on #1138
Assign me to this issue.

[2016-12-17 10:38] jayvdb commented on #1084
Somehow your patches were mixed up.  This issue is quite difficult, and the answer isnt obvious yet.

[2016-12-17 10:38] jayvdb commented on #896
Could you try doing the pull request again.

[2016-12-17 10:51] GeorgeMD commented on #1139
Hi, I'd like to be assigned this issue.

[2016-12-17 11:32] jayvdb commented on #1134
Imo this should be blocked on the other issue

[2016-12-17 11:40] dracarys09 commented on #1134
@jayvdb which other issue are you referring to ?

[2016-12-17 11:51] jayvdb commented on #1123
You have two open PRs. Please finish them first.

[2016-12-17 11:53] jayvdb commented on #1134
See this issue description.

[2016-12-17 11:55] #1139 closed

[2016-12-17 12:00] userzimmermann commented on #1136
Thanks to @GeorgeMD's https://github.com/coala/coala-bears/issues/1151 the `ProseLintBear` can be removed from the list.

[2016-12-17 12:18] AnaDenisa commented on #873
Hello! Please assign me to this :)

[2016-12-17 12:21] GeorgeMD commented on #1123
I'd like to work on this issue.

[2016-12-17 12:24] jayvdb commented on #1123
Could first suggest here how this might be solved.

[2016-12-17 12:33] dracarys09 commented on #1134
For now I'll find some other issue to work on then...

[2016-12-17 12:34] andreiraduta1101 opened #1152 "Rename PycodestyleBear to PyCodestyleBear"

[2016-12-17 12:36] sils commented on #1152
use http://api.coala.io/en/latest/coalib.bearlib.html?highlight=deprecate#coalib.bearlib.deprecate_bear

[2016-12-17 12:41] userzimmermann commented on #1152
@sils I insist on `PyCodeStyleBear` :P

[2016-12-17 12:55] GeorgeMD commented on #1123
Add arguments for quiet to any command that accepts it. Like -q for pip install, apt-get install, wget, also --silent for npm install, curl.
Maybe redirect go get and opam to /dev/null as I wasn't able to find a parameter to give less output.

[2016-12-17 13:05] #1126 closed

[2016-12-17 13:35] #1138 closed

[2016-12-17 14:36] cosmin004 commented on #312
Assign me to this issue.

[2016-12-17 14:38] Makman2 commented on #1134
@dracarys09 anyway the issue is blocked, I like the idea :+1: You should allow to combine those values, like
`issue_reference_type = short_url | full_url` or  (which is maybe better as we can reuse the coala `typed_list` type) `issue_reference_type = short_url, full_url` :)

[2016-12-17 15:00] dracarys09 commented on #1134
@Makman2 yeah but some users would want to go for ```short_url``` type while others might prefer ```long_url``` type. By default we can check for the presence of any of these two types as you suggested if user does not give any of the settings otherwise we can check for the user defined setting.  😄

[2016-12-17 15:05] SarthakNijhawan commented on #896
one doubt I had regarding the "create_argument" method , it was given that the kwargs we give to the former are somehow extracted as settings for the lint , so how is it done ?

[2016-12-17 15:13] sils commented on #312
we decided with @cosmin004 and @Adrianzatreanu that this issue is stupid and nobody needs it

[2016-12-17 15:13] #312 closed

[2016-12-17 15:16] cosmin004 commented on #326
Assign me to this task.

[2016-12-17 15:51] sils commented on #1152
Renaming is not possible as windows doesn't distinguish casing. This won't work and lead to loads of problems.

[2016-12-17 15:51] #1152 closed

[2016-12-17 17:46] Makman2 commented on #1134
yeah right haven't said something else :) But by default no check shall happen, so if a user wants to have at least a reference and he doesn't care whether it is a short or long url, we should allow to supply `issue_reference_type = short_url, long_url`, as omitting the setting completely means the user doesn't care whether any issue reference appears at all^^

[2016-12-17 17:53] Makman2 commented on #1123
please don't silence package managers output completely, we activated (okay I activated it) again on purpose, because when debugging dependency and package problems you need those logs. Also the package installer scripts normally succeed, so you don't see it in the log responsible for testing our stuff (which fails way more often).

[2016-12-17 17:56] Makman2 commented on #896
See also https://github.com/coala/coala/issues/2573

[2016-12-17 18:04] jayvdb commented on #1123
@GeorgeMD , as per issue description, this issue is mostly about wget/curl type commands, and we need to use more sophisticated command line arguments that `--silent`.

Just yesterday, https://github.com/coala/coala-bears/commit/42036f95c8 was merged to increase the amount of information emitted by package managers.  We want more high quality information, and less low quality information.

Downloa

[2016-12-17 18:25] Mixih opened #1155 "InvalidLinkBear does not detect all 40x series errors"
Currently it only does 404 and 410 errors. All 404-500 series error codes are errors.

[2016-12-17 18:30] jayvdb commented on #294
https://github.com/pwmckenna/node-travis-lint uses https://github.com/pwmckenna/node-travis-ci to fetch lint results from the Travis CI web API.
And the Travis CI web API is likely to be using https://github.com/travis-ci/travis-yaml anyway, so yes we should be using the Ruby linter, not the Node wrapper.

[2016-12-17 19:17] Mixih commented on #294
I'm taking this for now. I'll be using travis's package then

[2016-12-17 19:22] dracarys09 commented on #1134
yeah got your point...thanks for suggesting...hope that this issue gets unblocked soon...

[2016-12-17 19:44] ashwani99 opened #1157 "README.rst: link to usage instructions for cib is broken"
In the [Installation](https://github.com/coala/coala-bears#installation) link for [cib usage instruction](http://coala.readthedocs.io/en/latest/Developers/Bear_Installation_Tool.html) is broken.

[2016-12-17 19:59] jayvdb commented on #1155
No, not all 404-500 error codes are permanent errors.

[2016-12-17 20:04] Mixih commented on #1155
yeah mistake. Only 406, 405, and 408 were added

[2016-12-17 20:33] #1157 closed

[2016-12-17 20:40] jayvdb commented on #1155
Actually, none of them are IMO 100% errors which should be called errors.  However they are often errors, and, since we allow URLs to be ignored, it is a good default to reject them.

405 (Method Not Allowed) and 406 (Not Acceptable) are content negotiation, based on the *server*'s logic, and a simple fetcher cant know whether there are other acceptable content requests which would be acceptable.

[2016-12-17 22:45] ashwani99 opened #1159 "README.rst: Few links are broken"
Documentation links to [newcomer's guide](http://coala.readthedocs.io/en/latest/Developers/Newcomers_Guide.html) and [writing bears](http://coala.readthedocs.io/en/latest/Developers/Writing_Bears.html) are broken. These should be replaced by [this](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html) and [this](http://api.coala.io/en/latest/Developers/Writing_Bears.html) respectively.

[2016-12-17 23:52] Mixih commented on #1155
Hmm, ok so we omit 408, and add severity mappings. Are the extra features worth the extra complexity that it brings?

[2016-12-18 03:42] jayvdb commented on #1155
What caused this issue to be raised?  Did someone have a link which was HTTP 405,6,8?

[2016-12-18 07:44] jayvdb opened #1161 "setup.py fails if requirements.txt contains VCS links"
[pip vcs support](https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support) causes
[code]

While we probably never want to be using VCS support in released versions, it may be useful in dev cycles, and it should be possible in POC/WIP PRs.

See https://github.com/coala/coala-bears/pull/1147#issuecomment-267805351

[2016-12-18 08:22] SarthakNijhawan commented on #896
@Makman2  Yea , sure .

[2016-12-18 08:51] DanRadulescu962 commented on #1161
Can I take this issue?

[2016-12-18 11:11] jayvdb commented on #1161
Note that this task is not about installing dennis.
An acceptable solution needs to change setup.py to parse `requirements.txt` and add `dependency_links` parameter to the `setup` invocation.

[2016-12-18 13:00] coala-bot opened #1167 "Create asciinema for PythonPackageInitBear"
difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58568889c02c1a3959810df9) by @meetmangukiya

[2016-12-18 13:26] sils opened #1169 "Commits to backport"

[2016-12-18 14:12] coala-bot opened #1170 "Activate python 3.6 build in travis.yml"
See coala repo on how it's done. difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58569955e7bdfe4e296c0d09) by @sils

[2016-12-18 14:18] jayvdb commented on #1170
not easy.  See https://github.com/coala/coala-bears/pull/1133#issuecomment-267396925

[2016-12-18 15:08] userzimmermann opened #1172 "PycodestyleBear doesn't work on Windows"
Don't know yet if the problem comes from **coala** or **coala-bears**. Opened copy at https://github.com/coala/coala/issues/3322

[code]

[2016-12-18 15:20] userzimmermann commented on #1172
@sils @NiklasMM Still investigating... Maybe related to the `@linter` decorator

[2016-12-18 15:27] userzimmermann commented on #1172
It's the `@linter`. Opened https://github.com/coala/coala/issues/3323

[2016-12-18 16:34] #967 closed

[2016-12-18 20:23] Mixih commented on #1155
yeah, in a test case. It seems like a few those might have been nice to add though on a second look they aren't really permanent link errors like this bear is supposed to detect.... So I guess this is a won't fix

[2016-12-18 20:23] #1155 closed

[2016-12-18 20:46] #44 closed

[2016-12-18 20:46] #1106 closed

[2016-12-19 03:23] jayvdb commented on #1170
xref https://github.com/coala/coala/issues/3289

[2016-12-19 08:47] jayvdb commented on #1134
Just remembered that loklak project requires a `Fixes #123` at the beginning of the shortlog.
See https://github.com/loklak/loklak_server/pull/866/commits .

[2016-12-19 10:18] jayvdb commented on #1134
Hmm, `Fixes #123` at the beginning of the shortlog can already be done with `shortlog_regex`.  The regex would need to contain the long list of available prefixes like `(Fixes|Closes|...)`, but often people only want a subset of the supported keywords, usually only `(Fixes|Closes)` which isnt too complicated.

[2016-12-19 12:17] Makman2 commented on #1134
Hm maybe we can add convenience support, though I wouldn't concentrate on shortlogs yet^^

[2016-12-19 12:33] jayvdb commented on #1112
https://github.com/coala/coala-bears/pull/1115 has all the code we need, with lots of features, but the way they are enabled in the settings needs a bit of design.

When we look at https://github.com/coala/bear-docs/blob/master/docs/GitCommitBear.rst , we see most of the settings are either `body_` or `shortlog_`.

There is already `shortlog_regex`, which can be used to require `Fixes #123`, and o

[2016-12-19 15:28] Makman2 opened #1176 "QuotesBear: Missing case"
Following case is not detected correctly:
https://github.com/coala/coala/blob/Makman2/quotes-bear-fail/tests/processes/ProcessingTest.py#L204

On branch `Makman2/quotes-bear-fail`.

Locally it's not detected either:
[code]
Section responsible for quotes is `python`. (See our coafile at `coala/coala`)

[2016-12-19 18:09] SarthakNijhawan commented on #896
@jayvdb can u briefly explain ... like why r we preferring ...`assertRaisesRegex()`, particularly in this case ?

[2016-12-19 18:30] SarthakNijhawan commented on #896
Is it something related to the fact ... that the kwargs that I added explicitly to the `create_arguments `method are not directly implemented in the return arg tuple of the former .....
Please correct me ...if it sounds rubbish ... 😛

[2016-12-19 18:41] SarthakNijhawan commented on #1170
@jayvdb , Hey , i would like to work on this .

[2016-12-19 20:05] ashwani99 commented on #1148
Is this issue still open? Can I try this?

[2016-12-19 22:28] Mixih commented on #1170
@SarthakNijhawan Ok, you're on. This issue is ill defined and requires investigation into why it's happening. That will be your responsibility.

[2016-12-20 00:47] #1159 closed

[2016-12-20 03:42] Mixih opened #1177 "Enable reSTCheckBEar on README.rst"
....Otherwise pypi renders broken stuff

[2016-12-20 03:49] yukiisbored opened #1179 "MarkdownBear doesn't check for trailing spaces"
It looks like MarkdownBear only checks for trailing spaces on headings. For some reason it doesn't check trailing spaces on normal text even with styles.

Before:
[code]

After:
[code]

Here's the proposed patch:
[code]

[2016-12-20 04:38] SarthakNijhawan commented on #1170
@Mixih Ok , I'll look into it properly .... Thanks .. 😃

[2016-12-20 06:34] abhsag24 opened #1180 "SpaceConsistencyBear: Remove Windows carriage return"
it is an ugly `^M` that crops up if you use vim on windows and most of the other editors without configuration as well. if `allow_trailing_whitespaces = False` we should replace this character as well.
More on carriage return [here](http://unix.stackexchange.com/questions/32001/what-is-m-and-how-do-i-get-rid-of-it)

[2016-12-20 12:01] #1177 closed

[2016-12-20 12:33] yukiisbored opened #1181 "MarkdownBear: Line length is not being enforced"
The linter used by MarkdownBear (remark) can be configured to enforce the line length. It should be enabled because it's part of the linter's feature.

[2016-12-20 13:04] Mixih commented on #1181
Yeah, we should add another param to the bear. At the very least, the default configuration should be enabled.

[2016-12-20 13:08] namanyadav12 commented on #1181
Hi, Can i be assigned this isssue.

[2016-12-20 14:00] jayvdb commented on #896
asserRaisesRegex is more precise than assertRaises.

[2016-12-20 14:06] SarthakNijhawan commented on #896
Ok , so should I use setUp() and tearDown() framework to write test cases , or keep using verify_local_bear()

[2016-12-20 14:27] Mixih commented on #896
setUp()/tearDown are not test cases. They run functions before and after each test case respectively. Don't write actual test code there, only code needed to setup and cleanup

[2016-12-20 14:33] SarthakNijhawan commented on #896
No no ...I didnt mean that ... I know wat they do ...actually in CPPLintBear ....verify_local_bear methods are used to generate test-cases .....so I was asking that whether should I create new test-cases by subclassing localbeartesthelper or not ...

[2016-12-20 16:28] Mixih opened #1182 "Enable reSTCheckBear on all rst in this repo"
rst files are clean and ready for this implementation.

[2016-12-20 19:01] nkprince007 commented on #1112
coala/coala#3255 contains issue related to the aforementioned naming conflicts. And we definitely do need to have a naming scheme section in [Writing Bears](https://api.coala.io/en/latest/Developers/Writing_Bears.html) ASAP.

[2016-12-21 02:15] Makman2 commented on #1180
hm carriage return is default on windows. It's quite unusual to see a simple line feed in text files on windows^^
Actually vim is responsible not to print `^M`

Don't want to turn down this issue, I'm just not sure whether we should handle it like you want^^

[2016-12-21 02:17] Makman2 commented on #1179
Could you point out where the trailing whitespaces are? In github markdown you just can't see them :3

[2016-12-21 02:51] yukiisbored commented on #1179
Sure..
Before:
[code]
After:
[code]

Note:
`~` Trailing whitespace

[2016-12-21 03:34] abhsag24 commented on #1180
@Makman2 hmm i get what you mean. Any suggestions though? those files look awfully ugly on linux.

[2016-12-21 06:26] jayvdb opened #1184 "Superfluous capturing groups"
`coala-quickstart --ci` is emitting lots of superfluous capturing group warnings

See https://travis-ci.org/jayvdb/Aurora/builds/185683597

[code]

[2016-12-21 12:22] Makman2 commented on #1184
Let me fix that quickly, we should get rid of those warnings^^

[2016-12-21 13:01] jayvdb opened #1185 "CSharpLintBear does not give mcs all cs files together"
CSharpLintBear is only given each file individually, which means it cant find other components in the same project.

This results in MAJOR errors like the following on [antonpup/Aurora](https;//github.com/antonpup/Aurora).

[code]

This makes CSharpLintBear unusable for any serious C# project where the code is split across multiple files.

https://github.com/coala/bear-docs/blob/master/docs/CSharp

[2016-12-21 13:35] jayvdb commented on #1185
As mcs is just a compiler, just running it on the files is unlikely to produce useful results.
I almost think this bear should be deleted, and replaced with proper static analysis tools which do exist in the mono project.

[2016-12-21 14:11] jayvdb commented on #1185
Another build shows [`'mono-winforms' is already installed.`](https://travis-ci.org/jayvdb/Aurora/builds/185754115#L194), but also [the log](https://clbin.com/5oL80) includes:

[code]

So it isnt finding system libraries either.
Using `xbuild` is the better approach to getting compilation working, but that isnt the goal of a linter.

[2016-12-21 16:08] Makman2 commented on #1180
If you use git or other VCSes there should be configurations to change checkout and commit behaviour regarding newline conventions.
If you make cross-system work without something like a VCS and with tools that are (sadly :/ ) not smart enough to handle \r\n , it's bad luck imo, sorry :(

I would vote for a wontfix, this is something we should discuss at Microsoft :P :P

[2016-12-21 16:10] Makman2 commented on #1179
but the trailing whitespace after `## Banana~` gets removed?

[2016-12-21 22:57] Makman2 commented on #1185
That cries for a GlobalBear. We (probably I ... :/ ) should get global-bear support done for linter^^

[2016-12-22 01:34] jayvdb commented on #1185
fwiw, `VultureBear` is already a `GlobalBear` linter.

Maybe this bear can be made sort of useful by being a `GlobalBear`.

On my machine, running mcs on all .cs files in https://github.com/coala/coala-bears/issues/https;//github.com/antonpup/Aurora results in only

[code]

The main reason this is so small is that compiling multiple files together turns off the linker.

This helps for some cases,

[2016-12-22 08:54] jayvdb commented on #1000
There are actually two sets of bear dependencies.

Direct imports

`bears/python/PEP8Bear.py` and `bears/python/PEP8NotebookBear.py` imports `autopep8` directly.
`bears/natural_language/LanguageToolBear.py` imports `guess_language` and `language_check` directly.
`bears/python/PyCommentedCodeBear.py` imports `eradicate` directly.
`bears/general/InvalidLinkBear.py` imports `requests` directly.
etc

[2016-12-22 10:33] jayvdb commented on #1125
Unassigning due to no pull request after 7 days.
@mamakancha , let us know if you're intending to finish this soon, and you can be re-assigned if nobody else has started it.

[2016-12-22 11:37] ankit01ojha commented on #1167
I want to work on this issue, can you please tell me how to proceed and assign me.

[2016-12-22 13:57] meetmangukiya commented on #1167
@ankit01ojha checkout https://asciinema.org/

We'd like to demonstrate the use of PythonPackageInitBear.

[2016-12-22 15:46] #686 closed

[2016-12-22 15:46] Makman2 commented on #1179
Very weird, looks like inconsistent behaviour in `remark`... could you try to execute `remark` with the right arguments yourself and see whether the same result occurs? If so we should file an upstream bug^^

[2016-12-22 15:50] Makman2 commented on #1185
Okay so what do you suggest? It seems that making it a GlobalBear would be at least a step forward.

[2016-12-22 16:13] Makman2 commented on #1000
how would I install optional packages for a bear (or even all bears if I want to) conveniently?

[2016-12-22 21:25] Makman2 commented on #1112
I believe you mean configured remotes inside `.git/config`, I think we should not look at those remotes, that is imo not really important^^ Just extract links from the commit and see whether it contains a valid issue reference.

[2016-12-22 21:29] jayvdb commented on #1112
A valid issue reference URL depends on the hostname of the issue tracker, which is why locating the remote helps auto-detection of the auto-closing functionality.  Also GitHub and GitLab support different sets of keywords for auto-closing.

[2016-12-22 21:57] jayvdb commented on #1000
See `SomeProject[foo, bar]` in https://pip.pypa.io/en/stable/reference/pip_install/#requirement-specifiers

For all bears, `pip install coala-bears[alldeps]` as mentioned in the issue description.

We can make as many extras as we like, with as many overlapping subsets as we want.

e.g. bear specific extras

`pip install coala-bears[bear1,bear2,etc]`

and language specific extras

`pip install coa

[2016-12-22 23:46] jayvdb commented on #1044
This task has now been loaded into GCI as https://codein.withgoogle.com/tasks/6276537751961600/ . It may take a little while to be published.

[2016-12-22 23:52] vijeth-aradhya commented on #297
I'm still new to Coala but I would like to work on this since I have recently learnt Haskell. I have written a couple of parsers and a Scheme Interpreter using Haskell, and it would be interesting to write a LintBear for `coala-bears`

[2016-12-23 00:22] vijeth-aradhya commented on #1125
@jayvdb I'm new to `Coala` and I would like to be assigned to fix this issue

[2016-12-23 00:31] yukiisbored commented on #1179
I don't think that's the case since remark has it's own option to remove trailing whitespaces.

[2016-12-23 00:40] vijeth-aradhya commented on #1125
@jayvdb I have the dependencies :+1: I'm just waiting to be assigned :smiley:

[2016-12-23 00:52] jayvdb commented on #1179
This is likely an issue with our remark settings.  There are many other open issues related MarkdownBear, which probably are all due to our settings.

[2016-12-23 05:19] ankit01ojha commented on #1167
@meetmangukiya I have got invite :D and though I am not familiar with uses of python package InitBear can you please tell me what uses you want to demonstrate.

[2016-12-23 06:56] jayvdb commented on #1167
Look at the code for that bear, and its unit tests. That is its features.

[2016-12-23 07:42] yukiisbored opened #1190 "Remove deprecated tests.LocalBearTestHelper"
`tests.LocalBearTestHelper` is deprecated in favor of `coalib.testing.LocalBearTestHelper`. There's a ton of tests that still uses `tests.LocalBearTestHelper`.

Here's a list of files that uses `tests.LocalBearTestHelper`
- [ ] tests/c_languages/CPPCheckBearTest.py
- [ ] tests/c_languages/CPPCleanBearTest.py
- [ ] tests/c_languages/CPPLintBearTest.py
- [ ] tests/c_languages/CSecurityBearTest.py
-

[2016-12-23 08:48] jayvdb opened #1192 "CheckstyleBear docstring of mandatory settings"
https://github.com/coala/coala-bears/pull/917 add `use_spaces: bool=True, indent_size: int=2`.

These should be documented.
The documentation [here](https://github.com/coala/bear-docs/blob/master/docs/CheckstyleBear.rst) is generated from the docstring.

Use the same wording being developed at https://github.com/coala/coala-bears/pull/1165

[2016-12-23 09:13] jayvdb opened #1193 "Block use of LocalBearTestHelper.assertRaises"
`unittest.assertRaises` is always lazy, and should be avoided.
`unitest.assertRaisesRegexp` should be used instead.

Maybe `LocalBearTestHelper` can issue a error whenever `assertRaises` is used.
If not, .coafile could add  `assertRaises(` to KeywordBear.

[2016-12-23 09:17] jayvdb opened #1194 "Replace assertRaises with assertRaisesRegex"
`unittest.assertRaises` is always lazy, and should be avoided.
[`unitest.assertRaisesRegex`](https://docs.python.org/3/library/unittest.html#unittest.TestCase.assertRaisesRegex) has an extra parameter to check the exception message, and should be used instead.

It is only used in six test files:

[code]

The `CheckstyleBearTest` case overlaps slightly with https://github.com/coala/coala-bears/issu

[2016-12-23 09:17] jayvdb commented on #1193
Blocked by https://github.com/coala/coala-bears/issues/1194

[2016-12-23 09:22] jayvdb opened #1195 "Remove deprecated tests.BearTestHelper"
Use of `tests/BearTestHelper.py` should be replaced, and the file deleted.

[code]

[2016-12-23 09:48] SarthakNijhawan commented on #1170
@Mixih How should I get started with travis CI, like how does it work and all other stuff related to it, provided this is gonna be my first experience with any CI . 😛

[2016-12-23 10:00] jayvdb commented on #1170
Firstly, please do not mention this issue in your commit message until you have a solution.  We dont want this issue to be full of commit mentions that are only you learning the ropes.
Secondly, lets chat on gitter (instead of here on GitHub), and then update this issue with our investigation along the way.

[2016-12-23 10:01] SarthakNijhawan commented on #1170
Ok, srry. I'll keep that in mind.

[2016-12-23 10:48] ankit01ojha commented on #1167
@meetmangukiya assign me this issue.

[2016-12-24 02:44] Makman2 commented on #1000
ah sorry seems I've missed that in the text :)

[2016-12-24 02:47] Makman2 commented on #1112
omg yes obviously, I've totally missed that you can shortcut issues
[code]

[2016-12-24 04:11] jayvdb commented on #1170
Can you provide a summary of your initial investigation.

[2016-12-24 04:47] SarthakNijhawan commented on #1170
I tried rebuilding the 3.6 again and again..but it doesn't seem to fail .Rather the 3.4 is failing for CheckstyleBear. Here is the link https://travis-ci.org/SarthakNijhawan/coala-bears/jobs/186406078

[2016-12-24 05:08] jayvdb commented on #1170
So it is consistently `CheckstyleBear`, which downloads a large JAR file.   That is probably the problem.

To be honest this might be fixed by https://github.com/coala/coala/issues/3332 .

[2016-12-24 05:47] jayvdb commented on #1180
Agree with @Makman2 in general, that this should be dealt with using the VCS level.

(Another approach is a GitAttributesBear, which aggressively requires that .gitattributes is kept up to date.)

However, sometimes DOS eols are accidentally added on Linux. e.g. https://github.com/discourse/discourse_docker/pull/312

But DOS eols are appropriate on DOS, if the VCS will auto-fix them, so a bear can

[2016-12-24 05:47] #1180 closed

[2016-12-24 05:50] jayvdb opened #1199 "Move generate_package.py to a helper script"
As noted on https://github.com/coala/coala-bears/issues/1000 , there is not much in "bears" except plugins.  If we can empty out "bears" of everything not loaded via setuptools entry points, all dependencies belong to each plugin, and there is no developer API in "bears", so no need for API backwards compatibility, only user settings backwards compatibility.

Removing all python files from the top

[2016-12-24 05:56] jayvdb commented on #1185
I'd suggest running `mcs **.cs` on Aurora in our docker image, to see if that is the same as my results above.  If it works like that, a `GlobalBear` is a good "quick win".
IMO it should also be renamed, as it isnt a conventional linter, and nobody is seriously using this yet, except on single .cs file projects, ... which isnt serious ;-)

[2016-12-24 06:10] jayvdb commented on #1185
Switching to `xbuild` would solve problems like https://github.com/antonpup/Aurora/pull/269 .
Whether we use `mcs **.cs` or `xbuild`, this is essentially a `BuildBear`, or at least a`CompileBear`.  Do we have any other bears which do compilation?

[2016-12-24 11:58] Techievena commented on #1190
Please assign me this issue!!!!

[2016-12-24 12:03] Techievena commented on #1190
Is there any shortcut to replace the term or should I do it manually ?????

[2016-12-24 12:42] jayvdb commented on #1190
Global search and replace should do it.

[2016-12-24 12:44] #1127 closed

[2016-12-24 12:59] jayvdb commented on #1125
This is a bit odd, but if @vijeth-aradhya  can do https://github.com/coala/coala-bears/issues/1195 , and @Techievena does https://github.com/coala/coala-bears/issues/1190 , this problem magically disappears.

[2016-12-24 14:26] #1190 closed

[2016-12-24 14:35] coala-bot opened #1203 "InvalidLinkBear: fake the user-agent"
e.g. https://github.com/wikimedia/pywikibot-core/blob/2702690/pywikibot/comms/http.py#L256

Opened via [gitter](https://gitter.im/coala/coala/?at=585e87ce7a3f79ef5d981e5b) by @jayvdb

[2016-12-24 15:14] ivange94 commented on #388
@Makman2 as per your suggestion on gitter, I tried different combinations of use_stderr and use_stdout but it still did not work. When I run the bear, and select apply patch. The contents of the file still get wiped. They are replaced with the message "Formatted file_name.cpp"

[2016-12-24 16:11] jayvdb opened #1205 "JSONFormatBear cant handle a BOM"
needs to strip the BOM before loading, or other alternatives.
http://stackoverflow.com/questions/13156395/python-load-json-file-with-utf-8-bom-header

Found during [GCI CI2 task](https://travis-ci.org/GnarledHarpy06/Aurora/builds/186522902#L174) , processing [antonpup/Aurora](https://github.com/antonpup/Aurora/blob/b5afde5/Project-Aurora/kb_layouts/Corsair/layout.intl.json)
https://clbin.com/jJAxw

[2016-12-24 16:31] Makman2 commented on #388
@ivange94 did you use `use_stdin`?

[2016-12-24 16:34] Makman2 commented on #1185
Sounds good.

Then let's call it `CSharpSyntaxBear`, as the compiler only emits (usually) syntax problems.

not that I know of^^

[2016-12-24 16:36] Makman2 commented on #1180
Agree :+1:

[2016-12-24 16:38] Mixih commented on #1194
I'll grab this for now...

[2016-12-24 16:39] abhsag24 commented on #1180
@jayvdb @Makman2 do we need an issue for this new bear? :P

[2016-12-24 16:46] Makman2 commented on #1180
@abhsag24 you can file one, but I think the issue should come with some design, as I have currently no idea how and where this should work :)

[2016-12-24 16:48] jayvdb commented on #1180
@abhsag24 , already exists see https://github.com/coala/coala-bears/issues/1000

[2016-12-24 17:03] ivange94 commented on #388
@Makman2 Yes. This is what I did https://github.com/ivange94/coala-bears/commit/acdbf910bf658cc12e1d2b87b9df331fed0caed8. Still not working.

[2016-12-24 18:19] sils commented on #1205
this should be solved in coala

[2016-12-24 18:20] sils commented on #1203
What's the usecase?

[2016-12-24 18:21] sils commented on #1185
Yes @Makman2 we need that support desperately, there are already like 3 bears that do it manually and this one's next

[2016-12-24 18:26] jayvdb commented on #1194
@Mixih this is a GCI task.

[2016-12-24 18:27] sils commented on #693
@AbdealiJK why mark it blocked?

[2016-12-24 18:30] jayvdb commented on #1205
This can also be handled by creating a BOMBear , like the [EOLBear](https://github.com/coala/coala-bears/issues/815), because 99% of the time they are added by Microsoft tools and they are unnecessary junk.

[2016-12-24 18:32] jayvdb commented on #1203
[gitter December 24, 2016 9:31 PM](https://gitter.im/coala/coala?at=585e86be058ca9673788708d)

[2016-12-24 18:44] sils opened #1207 "Make a BOMBear that detects BOMs"
They're usually junk :) This is similar to the [EOLBear](https://github.com/coala/coala-bears/issues/815).

[2016-12-24 18:44] sils commented on #1207
probably needs some work on coala first if done properly

[2016-12-24 18:44] sils commented on #1205
created https://github.com/coala/coala-bears/issues/1207 for the BOMBear

[2016-12-24 19:09] #1195 closed

[2016-12-24 19:15] jayvdb commented on #1125
Completed with those two PRs.  Nicely done.

[2016-12-24 19:15] #1125 closed

[2016-12-24 19:47] jayvdb commented on #1000
blocked on https://github.com/coala/coala-bears/issues/1044

[2016-12-24 22:31] vijeth-aradhya commented on #297
IMO `ghc-mod` will be much more than a LintBear

[2016-12-25 00:42] AbdealiJK commented on #693
I think I misclicked it at some point of time

[2016-12-25 02:51] Mixih opened #1208 "Sort requirements.txt alphabeticaly"
....Otherwise it's hard to read

[2016-12-25 03:19] jayvdb commented on #1208
Breaks blame and causes conflicts and will be 'deleted' in #1000.

[2016-12-25 03:19] #1208 closed

[2016-12-25 03:36] jayvdb commented on #815
And there are some file format which should be DOS EOL even in a Unix repo, such as Batch files. c.f. review comments on https://github.com/loklak/loklak_server/pull/904

[2016-12-25 03:39] jayvdb opened #1209 "GitAttributesBear"
.gitattributes needs aggressive maintainance to ensure tools work correctly.
c.f. https://github.com/coala/coala-bears/issues/815#issuecomment-269108882

[2016-12-25 04:10] jayvdb commented on #1184
Another example of it appearing; https://travis-ci.org/fossasia/gci16.fossasia.org/builds/186540995#L458

[2016-12-25 04:22] #1182 closed

[2016-12-25 04:43] jayvdb commented on #1184
And in our docs : https://travis-ci.org/coala/coala-bears/jobs/186609019#L4049

[2016-12-25 09:31] #1170 closed

[2016-12-25 09:42] yukiisbored commented on #1044
Can I do this one, desu?

[2016-12-25 15:06] #1184 closed

[2016-12-25 15:07] Makman2 commented on #1194
@jayvdb you can assert for the message with `assertRaises`:
[code]

[2016-12-25 16:10] jayvdb commented on #1194
That isnt being done in `coala-bears`, and it is bad practise to use a context manager outside the with anyway.
This is a GCI task, so the write up needs to be simple, suitable for people without python knowledge even, and context managers is out.

[2016-12-25 16:21] #1044 closed

[2016-12-25 17:03] sils commented on #1044
The issue or the task @yukiisbored ? The task doesn't seem to be published yet, any maintainer can assign you the issue here if/when you want.

[2016-12-25 17:04] sils commented on #1044
whoops sorry GitHub didn't update the issue when I wrote my comment apparently

[2016-12-25 17:32] sils opened #1211 "Inspect superfluous capturing groups"
[code]

[2016-12-25 17:33] jayvdb commented on #1211
dup of https://github.com/coala/coala-bears/issues/1184

[2016-12-25 17:33] #1211 closed

[2016-12-25 17:49] sils commented on #1211
ah it's already fixed, that's how I didn't ifnd it :+1:

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 25 December 2016 at 18:33, John Vandenberg <notifications@github.com>
wrote:

[2016-12-26 01:13] Mixih commented on #1208
ah ok

[2016-12-26 01:14] Mixih commented on #1000
#1044 complete. Pending implementation on ci

[2016-12-26 03:11] jayvdb opened #1212 "PEP8NotebookBear: requirement nbformat>=4.1"
https://github.com/coala/coala-bears/pull/1042 (specifically https://github.com/coala/coala-bears/pull/1042/commits/7b48519ec7b92fecd459fc889751b7f7565d30c5) changed the requirement from `nbformat>=4.*` to `nbformat>=4.1`, with the same change occurring with the `PipRequirement` in `PEP8NotebookBear.py`.

note https://pypi.python.org/pypi/nbformat v4.2 has been released since then.

This is the on

[2016-12-26 03:12] jayvdb commented on #1000
A lot of auditing  required between requirements.txt and the generated version; e,g. https://github.com/coala/coala-bears/issues/1212

[2016-12-26 04:35] jayvdb commented on #1000
And `PipRequirements` (all of package_management) is not ready for this.  See https://gitlab.com/coala/package_manager/issues/6

[2016-12-26 11:04] Abhi2424shek commented on #18
@Adrianzatreanu can you give a more detailed description please

[2016-12-27 03:19] Mixih commented on #1037
add setting `ignore_magic_github_merge_commit` to dectect and ignore the commit if present...

[2016-12-27 17:05] Asnelchristian commented on #562
This was done :p

[2016-12-27 17:05] #562 closed

[2016-12-27 19:52] dracarys09 opened #1217 "In GitCommitBear.py change :param regex: to :param shortlog_regex:"

[2016-12-28 14:50] dracarys09 commented on #1134
@jayvdb @Makman2  In ```check_issue``` method there is a parameter ```require_url``` and it's value can be ```short_ref```, ```long_ref``` which is already checking for short and full references. I think we should just add one more method say ```check_shortlog_issue_reference``` to check issue reference in shortlog. Rest we can do by making some modifications in ```check_issue``` method...

[2016-12-28 16:16] Makman2 commented on #1134
right no extra setting, but the shortlog check should also happen in `check_issue`, otherwise stuff gets messy. In fact the issue check for the body could happen already in `check_body`, but it makes sense to keep `check_issue`^^

[2016-12-29 09:56] ivange94 commented on #388
@Makman2 not sure how to proceed as using use_stdin, use_stdout, use_stderr, didn't help.

[2016-12-29 15:27] Makman2 commented on #388
I'm looking at it today :+1:

[2016-12-29 15:29] rhemon opened #1218 "Risky whitespace modification suggested by HTMLLintBear"
While doing fixes in code to add coala to uikit I have found that it is requesting modification of a HTML data attribute, which seems too risky for a MAJOR error.

Error Message:
[code]

[Code](https://github.com/uikit/uikit/blob/develop/tests/core/switcher.html#L220):
[code]

[2016-12-29 16:03] coala-bot opened #1219 "InvalidLinkBear default timeout too low"
difficulty newcomer

Opened via [gitter](https://gitter.im/coala/coala-bears/?at=586533dbc02c1a3959c68348) by @jayvdb

[2016-12-29 16:09] jayvdb commented on #1219
It is currently 2.  It should be at least 15.

[2016-12-29 16:31] jayvdb opened #1220 "Add Python mccabe complexity bear"
This is one often ignored part of flake8 (https://github.com/coala/coala-bears/issues/169), and can be easily run as a native bear.

See `JSComplexityBear` for example on outputting the results; would be good to do it consistently.

[2016-12-29 17:43] jayvdb commented on #1037
@sils, I know this violates the "coala looks at the current commit; gitmate looks at them all" rule, but ... what if we followed the first sha in "Merge deadbeaf1 into deadbeaf0", which appears to always give us the commit that we want.

[2016-12-29 18:07] Makman2 commented on #388
See gitter:

When astyle detects stdin, it outputs stuff to stdout. This is how `create_arguments` has to look like to start a default astyle run, no need for shell :)
[code]

[2016-12-29 18:14] sils commented on #1037
@jayvdb how 'bout a small script that people can run on travis that'd checkout deadbeef1, run coala, check out the merge again?

[2016-12-29 18:20] dracarys09 commented on #1134
@Makman2  I have one more doubt... this might sound silly... since the changes should be made to ```check_issue``` but ```check_issue``` is written by @nkprince007 which is present at https://github.com/nkprince007/coala-bears/commit/8835efa3e36c081a3e59189ae8544fec81d76513

and this method is not yet merged in coala-bears repo... What should I do ?

[2016-12-29 18:37] Makman2 commented on #1134
Don't rely on his commit and introduce `check_issue` on your own. Depending on which commit gets merged faster, the responsible person has to fix merge conflicts

[2016-12-29 19:23] Elgayar opened #1221 "MatlabIndentationBear.py: Add asciinema"
The coala bear MatlabIndentationBear.py does not have an asciinema.

[2016-12-29 19:29] dracarys09 commented on #1134
But his commit has some code which I think is really useful. Shouldn't it be wrong if I directly use that code ?

[2016-12-29 19:51] #1181 closed

[2016-12-29 20:40] ivange94 commented on #388
Wow @Makman2 thanks. I was starting to think of submitting a pull request for astyle that implemented the switch we needed then use latest version of astyle in our bear. lol

[2016-12-29 21:58] Makman2 commented on #1134
in this case you should rebase onto his commit. To do so you should checkout his branch via `git fetch origin pull/<ID-of-pull-request>/head:<some-branch-name>`, branch of your own and work on that. But remember that he might change his commits^^

[2016-12-29 23:19] karansangha commented on #1219
I would like to work on this!

[2016-12-30 01:57] jayvdb commented on #926
So, the introduction of `remark-lint>=5.1.0` was done in #1204.

Rather urgently, we need to test what happens with remark reformats and remark-lint emits an error.  I expect both will happen, resulting in duplication of sorts, which may be confusing.

[2016-12-30 09:12] hemangsk opened #1225 "CSSLintBear: Error while adding ignore comment"
Steps for reproduction:

1. Create file style.css
[code]
2. Execute `coala --bears CSSLintBear --files style.css`
[code]
It is asking for the parameter 'language' from the user and then if there is no language found with name `css`, it returns
[code]

I've been thinking about a few things we can improve here,

- Better message while asking language,
Instead of
[code]
Something like
[code]

- The E

[2016-12-30 09:38] #1219 closed

[2016-12-30 11:17] dracarys09 commented on #1134
@Makman2 I think his commit is in final stages as he just updated his PR with unit tests and all and I thing his commit will be merged in 3-4 days... Can I resume working on this after his commit gets merged and meanwhile start working on some other issue ?

[2016-12-30 11:39] KirillZhingalov commented on #1217
Here only need to change the line 96?
And that's all?

[2016-12-30 12:49] dracarys09 commented on #1217
@KirillZhingalov yes that's all... would you like to work on this ?

[2016-12-30 12:53] KirillZhingalov commented on #1217
Yes, of course)

[2016-12-30 12:56] dracarys09 commented on #1217
ask on gitter with a link to this issue... our maintainers will assign you...  :smile:

[2016-12-30 13:24] sils commented on #1205
Related: https://gitlab.com/coala/coala-utils/merge_requests/28

[2016-12-30 13:37] dracarys09 commented on #694
@SanketDG  still working on this or should I go ahead and add a test case ?

[2016-12-30 13:53] dracarys09 commented on #311
@Nosferatul @sils All we need to do is to add a setting called ```regex_keyword``` and check all words in a file which matches this regex... So basically we need to modify the run function of KeywordBear...Am I on the right track ?

[2016-12-30 14:37] underyx commented on #311
I think it would be nice by the way if we could plan the configuration
format in a way that would be extensible to also support substitutions
later.

On Fri, Dec 30, 2016, 2:53 PM Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-30 14:52] dracarys09 commented on #311
we can have ```regex_keyword``` for finding certain keywords and each time a match happens we can prompt a user if he wants to change that word with something else or not... how does this sound ?

[2016-12-30 15:14] underyx commented on #311
The use case I had in mind was auto-replacing wrongly written stuff when
running with coala -a, and sharing information via the coafile across a
team about how things are written correctly.

On Fri, Dec 30, 2016, 3:52 PM Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-30 15:26] dracarys09 commented on #311
@underyx IMO the problem with using coala -a is even if we use regex to detect some wrongly written stuff, how will we know what should be the 'correct' phrase to replace the wrong phrase with ?

[2016-12-30 16:02] Makman2 commented on #1134
@dracarys09 sure :)

[2016-12-30 16:07] Makman2 commented on #694
@adtac don't we test that already?

[2016-12-30 16:18] adtac commented on #694
@Makman2 I don't think so. At least when I filed the issue, there wasn't any particular test with both. I just quickly took a glance and it still doesn't seem to have one. I dunno, if I'm wrong, we can close this.

@dracarys09 let's just wait to see if this issue is still valid.

[2016-12-30 16:23] Makman2 commented on #694
https://github.com/coala/coala-bears/blob/master/tests/general/InvalidLinkBearTest.py#L79

There I see different links referring to "valid" and "invalid"^^

[2016-12-30 16:46] underyx commented on #311
It should be specified in the coafile. As an example you could replace
'anything = logging.getLogger()' with 'logger = logging.getLogger()' to
have standard naming.

On Fri, Dec 30, 2016, 4:26 PM Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-30 16:51] dracarys09 commented on #694
@adtac  I thinks @Makman2 is right about this... ```valid_file``` has all valid links whereas ```invalid_file``` has invalid links... So we should close this issue right ?

[2016-12-30 17:15] dracarys09 commented on #311
@underyx so finally what we would like to do is to find keywords using the regex specified in ```regex_keyword``` and each time a match occurs replace it with whatever is specified in coafile. So basically there should be two settings specified in coafile ```regex_keyword``` and ```replace_keyword```.
Is that it or do you want to add something more to this ?

[2016-12-30 17:43] Mixih opened #1228 "PyFlakes bear dependency conflict in latest coala bears"
`[ERROR][17:33:55] There is a conflict in the version of a dependency you have installed and the requirements of coala. This may be resolved by creating a separate virtual environment for coala or running `pip install "pyflakes!=1.2.0,!=1.2.1,!=1.2.2,<1.4.0,>=0.8.1"`. Be aware that the latter solution might break other python packages that depend on the currently installed version.`

[2016-12-30 18:03] #1228 closed

[2016-12-30 18:21] underyx commented on #311
Oh, to be clear, the scope of this issue is still just the regex keyword
functionality. I'll have to open a new issue about the replace/patch
suggestion feature. I just wanted to mention it in case we could save time
later by planning for it now.

On Fri, Dec 30, 2016, 6:15 PM Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-30 19:17] dracarys09 commented on #311
@underyx so what's the point of just matching some keywords and not doing anything ?

[2016-12-30 19:57] dracarys09 commented on #311
I would like to work on this... however IMO there should be one more issue for the functionality that we discussed here... :smile:

[2016-12-30 20:03] sils commented on #1225
Ah damn, coala doesn't know how to make single line comments in CSS, does that even exist?

[2016-12-30 20:19] hemangsk commented on #1225
Those CPP style `/* */` do work in CSS

[2016-12-30 20:21] hemangsk commented on #1225
Lets patch the bear  🚀  can I work on this ?

[2016-12-30 20:30] sils commented on #1225
it's actually not the bear but a coala builtin mechanism, ignoring results is totally independent of the bear, do a `git grep Ignore` and you'll find an IgnoreResultAction or something

[2016-12-30 20:48] hemangsk commented on #1225
Oh okay so I get the picture.. IgnoreResultAction uses (comment_delimiter) attribute, and in CSS.py [here](https://github.com/hemangsk/coala/blob/master/coalib/bearlib/languages/definitions/CSS.py) we have the `multiline_comment_delimiter` but not the comment_delimiter.
We can add option in IgnoreResultAction.py use `multiline comment delimiters` if `comment delimiter` attribute do not exist in th

[2016-12-30 21:13] underyx commented on #311
The point is to warn that 'anything = logging.getLogger()' is wrong. It's
easier to implement just this warning so let's just start with that.

On Fri, Dec 30, 2016, 8:57 PM Abhijeet Dubey <notifications@github.com>
wrote:

[2016-12-30 21:43] hemangsk commented on #1225
Moving the discussion to [coala/coala](https://github.com/coala/coala/issues/3441)

[2016-12-30 21:43] #1225 closed

[2016-12-30 23:25] sils commented on #1102
@adtac can you evaluate (and ideally fix this) further soon? (That is assuming you got better by now/soon :/)

[2016-12-31 05:36] adtac commented on #694
That's what I mean - there's no single file with both valid and invalid links. That is there is no file like

[code]

Every link in `valid_file` is valid (ignore lines like the template one; they aren't actually links). Every link in `invalid_file` is invalid.

[2016-12-31 05:37] adtac commented on #1102
Yeah, feeling a bit better now. I'll try to find why this is happenning.

[2016-12-31 09:53] sils commented on #694
What's the problem with that?

On Dec 31, 2016 6:36 AM, "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

[2016-12-31 15:35] namanyadav12 commented on #924
Hey , Assign this is to me. I recently worked on https://github.com/coala/coala-bears/issues/1181 in which i had to add remark-lint plugin to MarkdownBear, so i guess this will be easy for me.

[2016-12-31 18:52] jayvdb opened #1231 "reSTLintBear tests do not run on pip<9"
`PipRequirement.is_installed('restructuredtext_lint')` fails, as the package name is actually `restructuredtext-lint`, and https://github.com/pypa/pip/issues/3976 was only fixed in pip 9.0.0.

See https://gitlab.com/coala/package_manager/issues/8 for the generic problem.

[2016-12-31 20:21] jayvdb commented on #1000
Now, the only requirements needed by coala-bears is `coala`.  I think it would be good if we kept it that way.

I've done most of the fixes to pip requirements (see pending PRs from me), and then will PR a "switch to using generated bear-requirements.txt".

There are then some extra GCI tasks I can create to improve setup.py and the requirements generator.

[2017-01-01 01:05] #1231 closed

[2017-01-01 05:14] dracarys09 commented on #694
@adtac some time back I added a test case in PR for https://github.com/coala/coala-bears/issues/1106
Check this : https://github.com/coala/coala-bears/blob/master/tests/general/InvalidLinkBearTest.py#L208
I think that would suffice...

[2017-01-01 08:34] #1212 closed

[2017-01-01 08:39] jayvdb commented on #1000
Not quite solved.

[2017-01-01 10:48] dracarys09 commented on #311
@underyx I have one more doubt... Do we still want to keep existing setting ```keywords``` because if we are introducing a setting ```regex_keyword``` it can already take care of matching the exact words (which is done currently using ```keywords```). So my point is that a user can do the following :
```regex_keyword = word1|word2|word3``` and so on instead of ```keywords=word1, word2, word3```
an

[2017-01-01 12:09] jayvdb commented on #1037
Well that is basically when I was hoping coala would do, simply because it is needed by every single github+travis project that wants to activate the `GitCommitBear`.  What makes it ugly is that it is only needed on pull requests.

If it is a script, every single `.travis.yml` needs to include that before running coala, complicating **our** docs.
And the script cant use any libraries, otherwise us

[2017-01-01 12:40] jayvdb commented on #1113
https://github.com/coala/coala/pull/3444 is another example.

[2017-01-01 12:55] sils commented on #1037
Ok so let's make this an optional setting, naming it so people surely find it when spotting for keywords like travis or github

/me feels like selling his soul

[2017-01-01 15:30] jayvdb opened #1234 "Add JSON duplicate checker"
https://github.com/legoktm/jsonchecker

[2017-01-01 15:32] coala-bot opened #1235 "MarkdownBear doesn't work anymore"
It always wants to empty all my files, something's horribly wrong here.

This issue was found by @nutella25 and I can reproduce it.

type bug importance critical needs backport

Opened via [gitter](https://gitter.im/coala/coala/?at=5869210eaf6b364a291b8189) by @sils

[2017-01-01 15:33] sils commented on #1234
possibly our JSONFormatBear does that, it parses the JSON into a dict, that should eliminate duplicate keys

[2017-01-01 15:34] jayvdb commented on #1234
jsonchecker also does duplicate value checking, which `dict` doesnt.

Need to check if JSHint, or one of our existing bears, does this.

[2017-01-01 18:13] dracarys09 commented on #1217
@KirillZhingalov you can refer http://api.coala.io/en/latest/Developers/Writing_Good_Commits.html to update commit message in your PR...

[2017-01-01 20:12] sils commented on #1235
my fault, wrong remark installed... we have to do something against this.

[2017-01-02 01:26] jayvdb commented on #1235
Yea, the docker is broken for MarkdownBear : https://travis-ci.org/jayvdb/docker-coala-base/builds/188134615#L9730 .  The cause is `>=` syntax in `package.json`.
I'm testing a fix.
The simple workaround is to edit the `.travis.yml` to add `npm install -g remark-lint`

[2017-01-02 01:41] jayvdb commented on #1235
An easier workaround is to replace `coala/base:0.9` (which defaults to `coala/base:latest`) with `coala/base:0.9` which uses the released version, which shouldnt have this bug.

[2017-01-02 05:18] sils commented on #1235
![latest-pre](https://cloud.githubusercontent.com/assets/5716520/21584840/3490cab8-d0b3-11e6-9b01-dd72600576dd.png) the `latest` docker version should be the same as 0.9, I always trigger both when I rebuild the release and since latest is pulled by default it shouldn't be the prerelease, right?

[2017-01-02 10:02] #829 closed

[2017-01-02 13:46] #1122 closed

[2017-01-02 15:11] adtac commented on #1102
@sils so I tried debugging this a bit. First, it's not an issue with QuotesBear - the results are yielded properly and there's nothing the bear could do. Poor bear.

The issue is with `Diff`. It's not doing inline diffs reliably. Still looking into it, but this bug is completely different now. I propose moving this to coala (but not until I find what the actual bug is - gimme sometime and I'll mov

[2017-01-02 15:13] adtac commented on #694
@sils problem with what? Didn't get you there. I meant to say we should have a test with both.

@dracarys09 ah didn't notice that test; this issue can now be closed.

[2017-01-02 15:13] #694 closed

[2017-01-02 16:05] vijeth-aradhya opened #1238 "VultureBear.py: <filename> should not be used in output_regex"
**filename** is not included in the supported_names and hence I feel this should not be used.

[2017-01-02 16:06] #1238 closed

[2017-01-02 17:03] coala-bot opened #1239 "InvalidLinkBear: reduce severity of first link in XML xsi:schemaLocation attribute"
`xsi:schemaLocation` 's first value is often declarative namespaces and are HTTP 404
e.g. `xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0•http://pmd.sourceforge.net/ruleset_2_0_0.xsd"` - the first link is 404 - the second should exist.
difficulty/medium

Opened via [gitter](https://gitter.im/coala/coala/?at=586a87c6c02c1a3959dc0d37) by @jayvdb

[2017-01-02 17:25] jayvdb opened #1240 "InvalidLinkBearTest: timeout tests are invalid"
`test_variable_timeouts` uses setting `timeout`, which is not valid as the setting in the bear is called `network_timeout`.

Also it isnt clear that these tests actually do anything especially useful, particularly not anything to do with timeouts as the timeout value is not being used.

[2017-01-02 17:44] jayvdb commented on #1220
Oh RadonBear does this?

[2017-01-02 18:04] vijeth-aradhya commented on #1220
Yup I think so
It says it computes `McCabe’s complexity` on it's [page](https://pypi.python.org/pypi/radon)
Should I close this issue?

[2017-01-02 18:47] vijeth-aradhya commented on #1104
`QuotesBear` is only correcting the single line strings right now. Do you suppose that we need to add single line docstrings as well with `preferred_docstring_quotation` or `preferred_triple_quotation`?

[2017-01-02 19:15] jayvdb commented on #1240
`requests_mock` does support timeouts being set, but doesnt attempt to do a delay, but that would at least confirm the value in the Setting is making it through to the `requests` call.

getsentry also doesnt support it: https://github.com/getsentry/responses/pull/115

https://httpbin.org/delay/3 should work; and can probably be done without network using `pytest-httpbin`.

[2017-01-02 19:47] sils commented on #1240
it uses [network_timeout](https://github.com/coala/coala-bears/pull/877/commits/f72c246f9967d498660668512cd8f99eae7589fe#diff-c4521389f8a26d35c040551df14b3557R257) and it asserts that timeout is called through the mock.

[2017-01-02 20:30] jayvdb commented on #1240
Ah I see.  The use of `return_value=response(status_code=200)` is confusing, as that definitely isnt testing a timeout, and a inner func `response` isnt needed as the return_value is constant for all mocked call.

But I see now the tests are just verifying the setting is passed through, and are doing that ok, so I've updated the title.

We need mocked or httpbin tests for what happens when there i

[2017-01-02 21:16] Mixih commented on #1240
So a proper timeout test? The risk of that is that it will hold up the test until the link times out, unless we the httpbin with timeout.

[2017-01-02 21:27] jayvdb opened #1244 "InvalidLinkBear: timeout setting not deprecated"
https://github.com/coala/coala-bears/pull/877 renamed `timeout` to `network_timeout` without deprecation.

[2017-01-02 23:44] Mixih opened #1245 "Backports for 0.9.2"
The following pulls need backport documentation/backports for the bears 0.9.2 release:
- [x] aa76d08a1877669f5925805556f38320cc91838d 120bed08cc7562e5a2ab9f6bd645c3d4fca18439
~~(needed: the pyflakes pin)~~
- [x] 0c8c48e671ee2366a4002b79146b9896a0ace814  InvalidLinkBear.py: Increase default_timeout value
~~- [ ] (when completed) https://github.com/coala/coala-bears/pull/1100~~ moved to 0.9.3 since

[2017-01-03 00:01] Mixih commented on #1245
wait, pyflakesbear is new this round and thus we dont need the pyflakes backport right(since the radon fix should have fixed the issue)?

[2017-01-03 03:26] meetmangukiya commented on #1244
Oh.. my bad, wanna wait until someone picks up, or I deprecate it and make a PR?

[2017-01-03 03:39] jayvdb commented on #1245
The uncontrollable part of the pyflakes problem was between autoflake(pyflakes) and radon(flake8).
autoflake pinned their pyflakes, which temporarily solved out problem.

[2017-01-03 03:42] Mixih commented on #1244
pick it up.... It's important for release

[2017-01-03 04:39] jayvdb commented on #1228
Copying https://github.com/coala/coala-bears/issues/1245#issuecomment-270047696 here:

autoflake pinned their pyflakes to 1.3, and we followed suite, which only temporarily solved our problem.  The real problem was radon, which depended on flake8 without any version spec, and different versions of flake8 have different pinned versions of pyflakes.

[2017-01-03 04:46] meetmangukiya commented on #1244
This should be difficulty/newcomer, it is just one line :/

[2017-01-03 04:54] meetmangukiya commented on #1240
Yeah, the timeout is passed correctly, checked via `pdb` and also the tests verify it, I think we can rely on `requests` to take care of the rest, being a popular library :/

[2017-01-03 07:40] coala-bot opened #1247 "HTMLLintBear should have options for enabling/disabling features individually"
Right now the user has to look up the list of "checks" at the tool upstream to pass that list to a disable setting. We should compile that automatically and have properly readable options for every single of those.

Opened via [gitter](https://gitter.im/coala/coala/?at=586b5565c02c1a3959dfa867) by @sils

[2017-01-03 15:21] Makman2 commented on #1240
imo current tests do suffice :+1:

[2017-01-03 16:05] Mixih opened #1249 "0.9.3 backports"
Issue to track shas of commits that need to be backported
- [ ] (when completed) https://github.com/coala/coala-bears/pull/1100
  moved from https://github.com/coala/coala-bears/issues/1245
0.9.2 had to be released to fix an install failure.

[2017-01-03 16:06] Mixih commented on #1245
completed two issues moved.

[2017-01-03 16:06] #1245 closed

[2017-01-03 20:07] jayvdb commented on #626
Note that there is a system-wide `coafile` which can be used to set this globally on a machine (VM).

[2017-01-03 20:31] jayvdb opened #1250 "CheckstyleBear: use binary checkstyle if it exists"
The bear is currently downloading http://sourceforge.net/projects/checkstyle/files/checkstyle/6.15/checkstyle-6.15-all.jar , even if checkstyle is installed in the system.

Fedora 25 packages checkstyle 7.1.1, and includes a bash script `checkstyle`
Ubuntu xenial+ has 6.15, and includes a bash script `checkstyle`.  trusty as 5.6.
openSUSE has 4.3 and 5.8 available

There is a slight problem with v

[2017-01-03 20:38] jayvdb commented on #626
c.f. https://github.com/coala/coala-bears/issues/1250

[2017-01-03 20:39] jayvdb opened #1251 "Locate Java dependencies using maven metadata"
There are at least two Java dependencies where the Fedora and Ubuntu packages provide maven metadata that could be used to find the jar files

- pmd : https://github.com/coala/coala-bears/issues/804
- checkstyle : https://github.com/coala/coala-bears/issues/1250 (https://github.com/coala/coala-bears/issues/626)
We probably need a new `MavenRequirement` in http://gitlab.com/coala/package_manager/ ,

[2017-01-03 20:51] hemangsk opened #1252 "YAMLLintBear interprets indentation as whitespace"
YAML files such as configuration for travis have nested settings requiring indentation. YAMLLintBear currently doesn't know about any such scenarios.

Steps to reproduce
1. File abc.yml
[code]

2. coala --bears YAMLLintBear --files abc.yml
[code]

But as we can see `global` is a setting for `env`, and it should be indented.

Additonal Info
yamllint version 1.6.0

[2017-01-04 03:50] jayvdb commented on #1235
unfortunately this issue doesnt include a travis log to confirm which image was broken.

I tested in 0.9 again, and it worked: https://travis-ci.org/jayvdb/sails-docs/builds/188711823

[2017-01-04 09:16] jayvdb commented on #1252
What version of yamllint do you have installed?

[code]
(which is also weird because where did the "too few spaces before comment" warning disappear to?)

[2017-01-04 09:19] hemangsk commented on #1252
I mistakenly added the wrong version of file, its supposed to be without any comments,
 sorry I'll just correct it in a sec!

[2017-01-04 09:23] hemangsk commented on #1252
Done 👍

[2017-01-04 10:55] jayvdb opened #1253 "PycodestyleBear doesnt work"
Because there is no direct listing of pycodestyle in the requirements.txt, the pycodestyle script is not installed.
See https://s3.amazonaws.com/archive.travis-ci.org/jobs/188749380/log.txt

This was fixed in d8be55a98d3fd8 , but needs backporting

[2017-01-04 11:05] jayvdb commented on #1181
Note that this was implemented using remark-lint, which was bug https://github.com/coala/coala-bears/issues/926

[2017-01-04 11:06] jayvdb commented on #1235
See also https://github.com/coala/coala-bears/issues/926

[2017-01-04 11:31] sils opened #1255 "http://stylelint.io/"

[2017-01-04 11:34] sils commented on #1255
related: https://github.com/CSSLint/csslint/issues/626#issuecomment-270292514

[2017-01-04 11:53] sils commented on #1235
So we may want to try reverting https://github.com/coala/coala-bears/pull/1204/commits/57dbcc422bacece92d80310793147601b2deacd1

[2017-01-04 15:48] namanyadav12 commented on #1235
Oh sorry for the troubled caused.

[2017-01-04 16:17] namanyadav12 commented on #1235
Will the problem solve if I change "remark-lint": ">=5.1.0" to "remark-lint": "~5.1.0"

[2017-01-04 17:40] jayvdb commented on #295
IMO we should offer it as an option.  It is nice, with many [rules](http://jorisroovers.github.io/gitlint/rules/) that GitCommitBear doesnt have.

Having it provides a backup if ever our bear doesnt do what the user want, and/or they want a versatile & light-weight solution (i.e. can be added as a git hook, which coala is too heavy for).

[2017-01-04 17:59] jayvdb commented on #1235
No.  That was a problem with the docker.
I suggest you add more unit tests, and not use good files and bad files; instead, inspect the returned values to ensure they are exactly what they should be.

[2017-01-04 18:37] namanyadav12 commented on #1235
Ok

[2017-01-04 18:48] hemangsk commented on #1252
yammlint version is 1.6.0

[2017-01-04 18:53] hemangsk commented on #1252
[code]

[2017-01-04 19:08] aptrishu opened #1256 "Output appropriate message if the language given in input is not valid/not supported for KeywordBear"
If I put this in .coafile

`[Default]
language = anything
bears = KeywordBear
files = javaji/test.cs
use_spaces = yeah
file_naming_convention = pascal
keywords = \#warning`

and run `coala -V` , I get this

`Traceback (most recent call last):
  File "/home/rishus23/venv/coala/lib/python3.4/site-packages/coalib/bears/Bear.py", line 240, in   execute
    return [] if result is None else list(result)

[2017-01-04 19:11] aptrishu commented on #1256
![coala_post](https://cloud.githubusercontent.com/assets/22702242/21655337/a04f9404-d2df-11e6-8627-f22b1c7ec14b.png)

[2017-01-04 19:12] aptrishu commented on #1256
![coala_post](https://cloud.githubusercontent.com/assets/22702242/21655383/c7c64bd6-d2df-11e6-8100-d12911b1dc88.png)

[2017-01-04 19:15] jayvdb opened #1257 "Generate package.json"
Each coala bear that uses Node.js should include a `NpmRequirement` to describe any Node dependencies.

For example, [TSLintBear](https://github.com/coala/coala-bears/blob/master/bears/typescript/TSLintBear.py) includes:

`REQUIREMENTS = {NpmRequirement('tslint', '3')}`

[package.json](https://github.com/coala/coala-bears/blob/master/package.json) also includes `"tslint": "~3"`.
This is unnecessar

[2017-01-04 19:21] jayvdb opened #1258 "Generate Gemfile"
Each coala bear that uses Node.js should include a `NpmRequirement` to describe any Node dependencies.

For example, [PuppetLintBear](https://github.com/coala/coala-bears/blob/master/bears/configfiles/PuppetLintBear.py) includes:

`REQUIREMENTS = {GemRequirement('puppet-lint', '2')}`

[Gemfile](https://github.com/coala/coala-bears/blob/master/Gemfile) also includes `gem "puppet-lint"`.
This is unn

[2017-01-04 20:14] nemaniarjun commented on #1255
CSSComb already has an issue. https://github.com/coala/coala-bears/issues/28
So old :p

[2017-01-05 05:13] jayvdb commented on #1228
Note that using pyflakes 1.4 is quite important, specifically for an AST change in Python 3.6 ( https://github.com/PyCQA/pyflakes/pull/80 )

[2017-01-05 09:59] jayvdb opened #1259 "ImageCompressionBear"
`git-lint` (https://github.com/coala/engagement/issues/59) has a few linters for file formats that are not supported by coala, especially non-optional image compression detection for PNG and JPEG.

They are built using shell scripts that can be found in https://github.com/sk-/git-lint/tree/master/scripts/custom_linters , wrapping commonly used binaries.

`jpegtran-linter.sh`: `The file size can be

[2017-01-05 10:37] Makman2 commented on #1259
ooh that's cool :)

[2017-01-05 10:38] Makman2 commented on #1259
though we don't have support for binary files yet, it was planned that `FileProxy` gets support for that^^

[2017-01-05 10:43] jayvdb commented on #1259
The `FileProxy` code I saw would be completely useless for this, as it was universal line based.  That is actually why I objected to its prior design.

[2017-01-05 10:43] jayvdb commented on #1259
I have created a GCI task for this : https://codein.withgoogle.com/tasks/4815242129309696/ (unpublished)

[2017-01-05 10:56] Makman2 commented on #1259
and still maintaining a univer-newline version^^

[2017-01-05 10:58] sils commented on #1259
FWIW if we use optimage there won't be the possibility of using the coala in-memory files because omtimage works a lot with the file system directly.

[2017-01-05 10:59] Makman2 commented on #1259
and yes right, have forgotten that fact...

[2017-01-05 11:01] jayvdb opened #1260 "ImageDimensionBear"
c.f https://github.com/coala/coala-bears/issues/1259

https://github.com/fossasia/gci16.fossasia.org/issues/239 was a feature request to add an image size linter.
FOSSASIA contributor @Abhi2424shek  created the tool in https://github.com/fossasia/gci16.fossasia.org/pull/467 .

History of it is split between https://github.com/fossasia/gci16.fossasia.org/commits/3ba48810d46416f32267c3f99f4d9498ac13

[2017-01-05 11:10] robbyoconnor commented on #1260
@jayvdb -- that script would need to be radically refactored to handle non-square dimensions...I have a few ideas on how to do this. I'll work on it later today.

[2017-01-05 11:14] robbyoconnor commented on #1260
[The current script](https://github.com/fossasia/gci16.fossasia.org/tree/gh-pages/scripts/image_checker.rb) is highly specialized for FOSSASIA's GCI16 site -- I could probably make this more generic and package it up as a gem. I do not think this should be a GCI task -- students need to work on harder things right now...I'll help out with this one.

[2017-01-05 11:16] robbyoconnor commented on #1260
What would be REALLY cool with this bear existing is that it can actually resize the images for you!

[2017-01-05 11:28] Abhi2424shek commented on #1260
Is there a task for it @jayvdb

[2017-01-05 11:31] robbyoconnor commented on #1260
@Abhi2424shek -- if you wanna work on this -- I'll help you out -- the main reason I did what I did and rewrote it was I saw a lot of repeated code. I'd like that to remain.

As far as stuff I did to it - a lot of my work was simply DRY'ing up the code and bringing it in-line with the ruby style guide.

[2017-01-05 11:32] robbyoconnor commented on #1260
As far as license, it'd have to be GPL. It's a derivative work.

[2017-01-05 11:38] robbyoconnor commented on #1260
@jayvdb -- that work?

[2017-01-05 11:42] Abhi2424shek commented on #1260
@robbyoconnor @jayvdb can I sir, but I think it's more good to create a repository and where we three of us (myself, @ankitrgadiya and @robbyoconnor) could code together and create the ruby gem there for this issue.

[2017-01-05 13:23] Techievena commented on #1123
There is a line in the file `python setup.py --help`. Do we need it?
And I just wanted to ask if this would do?
Adding --progress=bar to wget statement and adding -q to unzip statement and also we can silent `sudo apt-get -y update`

[2017-01-05 14:03] coala-bot opened #1261 "Document the language versions we support on CI"
Opened via [gitter](https://gitter.im/coala/coala-bears/?at=586e522caf6b364a2933aab8) by @jayvdb

[2017-01-05 16:34] Techievena commented on #1123
Can I work on this?

[2017-01-05 16:36] Techievena commented on #1123
Also we can use grepping to remove certain lines

[2017-01-05 18:39] abit2 opened #1262 "provide a default value when a settings-question is left empty"
http://pastebin.com/jkPW92mA

it should be something like this:
Please provide a value for `use_spaces` (True or False), when you don't enter something, the default is `True`:

To reproduce the problem just skip the use_space without giving any boolean value.

[2017-01-05 20:40] fneu opened #1263 "SpaceConsistencyBear: Add Newline to EOF"
Do **not** just propose to delete the last freaking line :joy:

currently happening at https://github.com/coala/documentation/pull/380

![spectacle n32509](https://cloud.githubusercontent.com/assets/7591685/21696716/8616366e-d38f-11e6-94a5-3a59dbc700c2.png)

[2017-01-05 20:47] aptrishu commented on #1263
There is an issue related to it https://github.com/coala/coala/issues/2006 . Also a PR on gitlab.

[2017-01-05 20:50] fneu commented on #1263
Ah gotcha, so this is a problem with the diff presentation and not the SpaceConsistencyBear itself. I'm gonna go ahead and close this, then.

[2017-01-05 20:51] #1263 closed

[2017-01-05 21:41] #311 closed

[2017-01-05 21:47] sils commented on #1255
Somebody needs to investigate the tool, check if it's useful for us, if it is, use [this tutorial](https://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html) to integrate it into coala

[2017-01-05 21:50] dracarys09 commented on #1255
I would like to work on this issue...

[2017-01-06 02:41] Techievena commented on #1256
I want to work on this

[2017-01-06 07:58] Techievena commented on #1256
cobot assign #1256

[2017-01-06 11:53] coala-bot opened #1266 "Linter for elixier see https://github.com/rrrene/credo difficulty/low"
Opened via [gitter](https://gitter.im/coala/coala/?at=586f85249d4cc4fc5381bb13) by @nemaniarjun

[2017-01-06 12:46] yash-nisar commented on #1148
The links have been fixed and so this can be closed. :)

[2017-01-06 17:51] rhemon opened #1268 "CSecurityBear depends on python2"
CSecurity bear has python2 as a dependency, as when I tried removing python-base package from the docker image it failed. https://travis-ci.org/rhemon/docker-coala-base/builds/189439040#L9262

[2017-01-06 17:58] jayvdb commented on #1268
This bear is provided by `[flawfinder](https://github.com/coala/coala-bears/issues/1268)`, which is installed from apt-get on CircleCI and TravisCI.

[2017-01-06 19:28] dracarys09 commented on #1255
This tool has some promising reviews, I'm also trying my hand at it... IMO I think we should write a bear using this tool... I'm going ahead with this task...

https://code.facebook.com/posts/879890885467584/improving-css-quality-at-facebook-and-beyond
https://github.com/stylelint/stylelint/blob/master/docs/user-guide/articles.md
https://css-tricks.com/stylelint/

[2017-01-06 20:39] Makman2 commented on #1148
yes this is fixed :+1:

[2017-01-06 20:39] #1148 closed

[2017-01-06 21:30] Makman2 opened #1270 "master build broken"
Empty commit on recent master:
https://github.com/coala/coala-bears/pull/1269
-->
https://travis-ci.org/coala/coala-bears/builds/189635508

[2017-01-06 23:20] jayvdb commented on #1270
Looks like an upstream problem in language check pacKage
[code]

And something wrong with Infer also.

[2017-01-07 02:04] Techievena commented on #1123
Please help me to point out which lines to remove in this log file https://circleci.com/gh/coala/coala-bears/4765?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link