[2017-09-01 06:57] #2028 closed

[2017-09-03 04:04] refeed commented on #1905
Okay, seems like a good idea, I just updated the PR to split URLBear to URLBear and a new bear called URLHeadBear..

[2017-09-03 14:55] #1998 closed

[2017-09-04 16:37] #1723 closed

[2017-09-04 20:02] JavidY commented on #1192
hi @jack17529  ,

I'd like to work on it.Can you assign it to me ?

[2017-09-05 13:56] jayvdb commented on #1917
@prakashdanish a URL has a length, so the end column can be derived from the start column.

[2017-09-06 10:34] #2009 closed

[2017-09-07 18:38] userzimmermann opened #2031 "GitCommitBear: Exception on empty commit message body"
When there is only a shortlog but no further body in the commit message, the following happens:

[code]

[2017-09-07 18:43] userzimmermann opened #2032 "Give birth to the YANGBear"
[YANG](https://en.wikipedia.org/wiki/YANG) models wanna be invaded by coala Bears, too ;) #1428 is already trying to help them

[2017-09-07 21:00] nanspro commented on #1917
i would like to work on this issue if possible?

[2017-09-07 21:00] nanspro commented on #1917
@jayvdb

[2017-09-09 09:37] yukiisbored commented on #1849
I actually can't find the time to work on this, so it's up for grabs

[2017-09-10 11:14] kislaysr commented on #1979
can I work on this issue?

[2017-09-10 12:46] prashantksharma commented on #1966
Hey,
I have made the necessary changes:
https://github.com/prashantksharma/coala-bears/commit/8ce44129fa477edec346ca6f90677a92b5e724d3
But, since I am not assigned the issue tell me how I can be assigned this issue.

[2017-09-10 13:06] prashantksharma commented on #1966
I have made the necessary changes with reference to this issue and created a pull request https://github.com/coala/coala-bears/pull/2035 .Please review. Thank You!

[2017-09-10 19:12] SanketDG commented on #1966
@prashantksharma You may want to get assigned first to avoid any conflicts, but since in this case, the issue has been staying stale for a long period of time, I'll assign you,

[2017-09-11 04:29] prashantksharma commented on #1966
@SanketDG  Thank you!
Yes, I do understand that I need to get assigned first.I did ask for re-assignment in the main channel on gitter.I did not know which maintainer to ask for re-assignment.But, as you said the issue has been staying stale for a long period of time(22 days).This is very-minor issue.Thats why I resolved it and raised a PR.Will follow the protocol from now onwards.
Now, that I hav

[2017-09-11 04:49] stellargo commented on #1900
Hey, so we want to write a new bear called HTTPSBear which uses URLBear to convert all http links to https if and only if the website has one and is the same?

[2017-09-11 07:23] stellargo commented on #2026
@Makman2 so the basic idea is to add --include-path to optional settings, right?

[2017-09-11 12:31] prashantksharma commented on #1966
@SanketDG  @yash-nisar Could you please review this PR https://github.com/coala/coala-bears/pull/2035. Thanks!

[2017-09-11 12:40] prashantksharma commented on #2004
@Raman1121 Are you still working on it?

[2017-09-11 16:15] SanketDG commented on #1966
Nope, no need. Just wait for someone to review your PR.

[2017-09-11 21:28] Makman2 commented on #1900
Maybe the equality-check for the https and http version is optional, but yes.

[2017-09-14 17:56] prashantksharma commented on #1965
@csdeshpande19 , Hey are you still working on it?

[2017-09-14 18:04] prashantksharma commented on #1965
@yash-nisar  The last activity of the previous assignee was on 6 Aug, which is a month old.If you can asssign me this issue. I have already corrected this issue and raised a PR https://github.com/coala/coala-bears/pull/2039.

[2017-09-17 04:45] prakashdanish commented on #1917
@nanspro I'm working on this issue.

[2017-09-18 21:25] Makman2 commented on #1965
Looks indeed like the old PR went stale. Reassigning and closing old one 👍

[2017-09-20 17:07] stellargo commented on #2026
@Makman2 Would be great if you could review my PR https://github.com/coala/coala-bears/pull/2037 when you have time :)

[2017-09-21 18:06] Makman2 commented on #2026
@stellargo ping me on the PR, I'll review once I'm back in a couple of days 👍

[2017-09-21 19:58] vaibhavsingh97 commented on #1849
@yukiisbored Hi! I am interested to resolve this issue. Can you guide me with necessary resources 😄

[2017-09-21 20:02] vaibhavsingh97 commented on #1900
I am interested to solve the issue. can you please guide me 😄

[2017-09-24 23:15] Makman2 opened #2042 "TravisLintBearTest: Close opened test files properly"
py.test gives warnings on https://circleci.com/gh/coala/coala-bears/7126 like
[code]
To not rely on ref-counting for object destruction (which isn't anyway an official feature in Python to allow custom destructors), we should close the file manually by using a with-context:
[code]

[2017-09-24 23:36] Makman2 opened #2043 "XMLBearTest fails on AppVeyor"
See https://ci.appveyor.com/project/coala/coala-bears/build/1.0.7662/job/2pf6yc8u9gq0c0mo

[2017-09-25 02:16] sanketnavin commented on #1627
This issues seems stale. Can I get assigned to this issue?

[2017-09-25 02:39] yukiisbored commented on #1849
@vaibhavsingh97 You can read the coala documentation on how to create a bear. http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html. If y

[2017-09-25 04:47] sanketnavin commented on #2042
Can you assign me to this issue?

[2017-09-25 14:12] Makman2 opened #2045 "XMLBearTests: Write better tests using `check_result`"
The current tests are actually very bad, they break sometimes in CI and it's hard to fix them as the tests are too simple. We need to assert for results.

[2017-09-25 14:13] Makman2 commented on #2045
Assigning you @yash-nisar, you're our bear-testing and writing expert ;)

[2017-09-25 14:14] Makman2 opened #2046 "XMLBear: Regex swallows results when using different flags of xmllint"
I've found out that the tests show different reporting behaviour of xmllint. For example one of the simple invalid-xml-tests produce following xmllint output:
[code]
As you see there are two context lines, which we don't need in coala. Hence the final `.*\n.*\n` inside the parsing regex:
[code]
However, when e.g. using the dtd-validation, this swallows results, as then no context lines are present

[2017-09-25 14:15] Makman2 commented on #2046
I want to have better tests before we fix this to be sure this doesn't sneak in again.

Blocked by https://github.com/coala/coala-bears/issues/2045

[2017-09-25 14:33] Makman2 opened #2047 "PHPMessDetectorBearTest: Close opened test files properly"
py.test gives warnings on https://circleci.com/gh/coala/coala-bears/7126 like
[code]
To not rely on ref-counting for object destruction (which isn't anyway an official feature in Python to allow custom destructors), we should close the file manually by using a with-context:
[code]

[2017-09-25 14:34] Makman2 opened #2048 "TextLintBearTest: Close opened test files properly"
py.test gives warnings on https://circleci.com/gh/coala/coala-bears/7126 like
[code]
To not rely on ref-counting for object destruction (which isn't anyway an official feature in Python to allow custom destructors), we should close the file manually by using a with-context:
[code]

[2017-09-25 14:36] Makman2 opened #2049 "KeywordBearTest: Use `assertEqual` instead of `assertEquals`"
Appears e.g. in https://circleci.com/gh/coala/coala-bears/7124?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link:
[code]

[2017-09-25 14:36] Makman2 opened #2050 "DuplicateFileBearTest: Use `assertEqual` instead of `assertEquals`"
Appears e.g. in https://circleci.com/gh/coala/coala-bears/7124?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link:

[code]

[2017-09-25 16:09] Makman2 commented on #2043
The error happens due to a conversion fail with the settings that use `path_or_url`. It fallbacks to `path` which then raises an error because `setting.origin == ''` (empty string):
[code]
And inside the testing machinery this gets swallowed and reported as no results are returned, but bear operated normally (which is just wrong in this case).

What's interesting that this happens only on Windows.

[2017-09-25 16:14] Makman2 commented on #2043
Found out why it works on Linux systems:
This condition is `True` there inside `setting.__path__()`:
[code]

[2017-09-25 21:13] Makman2 commented on #2043
It seems that filenames passed as settings inside `verify_local_bear` go through the settings-machinery in coala and single escape characters get removed. Once a Windows path with backslashes reaches the above snippet, it has no backslash characters any more and that doesn't look like a path any more for sure, failing the check, and trying to retrieve `origin`, which fails as it's not getting set

[2017-09-25 21:43] Makman2 commented on #2043
It appears that libxml2 had a recent update affecting xmllint. There's another error appearing that might occur because of changed error messages. Because errors seem to be made for human eyes, the bear is currently not in the state to catch that properly. Thus deactivating the affected test-case is in my opinion right now the best option. https://github.com/coala/coala-bears/issues/2045 and https

[2017-09-26 04:16] jayvdb commented on #2043
The title of this issue says AppVeyor (Windows), but the first message of this issues says circleci (Ubuntu).

Is this problem only on AppVeyor?  Or is it cross platform?
This is critically important as libxml2 isnt a well maintained part of the Windows/AppVeyor ecosystem, so the problem might be due to issues that can be solved there.

[2017-09-26 17:23] Makman2 commented on #2043
Oh sorry I've put the wrong link into the issue description. Corrected :+1:

[2017-09-26 18:20] Makman2 opened #2052 "XMLBearTest: Paths passed as settings are not escaped"
This results in test fails on Windows/AppVeyor, because coala removes the single backslashes that appear in Windows paths. They have to be escaped to mean a proper path.

[2017-09-26 18:25] Makman2 opened #2053 "XMLBearTest: Test for invalid file for RelaxNG test fails on AppVeyor"
It seems that due to a recent update of libxml2 the messages have changed and the regex doesn't match any more.

From discussions on https://github.com/coala/coala-bears/issues/2043#issuecomment-332022652 I would recommend to disable the test.

[2017-09-26 18:27] Makman2 commented on #2043
Those were all errors currently that lead to a fail on AppVeyor, I've split up those into separate issues:
- https://github.com/coala/coala-bears/issues/2052
- https://github.com/coala/coala-bears/issues/2053

[2017-09-26 18:27] #2043 closed

[2017-09-27 02:16] sthkindacrazy commented on #2050
can I work on this deprecation issue?

[2017-09-27 04:00] urohit011 commented on #2049
I would like to fix it, please assign me this.

[2017-09-28 18:40] #2052 closed

[2017-09-28 20:17] menukaNaya commented on #1999
@akspr7
Are you still working on this issue...

[2017-09-28 20:20] menukaNaya commented on #1981
@jayvdb
Can you please explain liitle bit more about this issue...
Thank you!

[2017-09-28 20:58] Makman2 commented on #1981
Those are additional addons we could possibly implement into our bear.

[2017-09-28 20:59] Sandaruwanims commented on #1972
@Raman1121 are you still working on this issue?

[2017-09-29 00:47] jayvdb opened #2059 "Uncached build breaks on OCaml easy-format 1.3.0"
My uncached build breaks at `opam.sh`, while linked to OCaml for Facebook infer

[code]
https://travis-ci.org/jayvdb/coala-bears/jobs/280950401 of https://travis-ci.org/jayvdb/coala-bears/builds/280950398

https://opam.ocaml.org/packages/easy-format/easy-format.1.3.0/ 1.3.0 was released August 7, 2017 , so that may be the cause.

[2017-09-29 00:50] jayvdb commented on #2059
The relevant change in 1.3.0 is exactly the type of thing which could break the compilation.
https://github.com/mjambon/easy-format/pull/15

Recommend pinning to the old version.

[2017-09-29 00:55] jayvdb commented on #2059
Note it also failed the same way on Circle https://circleci.com/gh/jayvdb/coala-bears/819

[2017-09-29 01:00] jayvdb commented on #2053
Hold up ... how can this be a test problem when it only occurs on one platform??

[2017-09-29 01:03] jayvdb commented on #2059
The problem may have been a dirty cache, so I have started a truly uncached build on CircleCI https://circleci.com/gh/jayvdb/coala-bears/821

[2017-09-29 07:36] menukaNaya commented on #1951
In this document (https://github.com/coala/coala-bears/blob/master/bears/js/JSStandardBear.py)
there is a function named as "create_arguments". Do i need to change this into camelcase.
Becuase in https://standardjs.com/rules.html it says to do like that.
But then it will affect for the other documents also where this function is used.

Thank you!

[2017-09-29 13:50] Makman2 commented on #2053
The problem is I don't know where it actually comes from. On my Linux system the tests do pass with a higher libxml version than on AppVeyor. And the XMLBear isn't really in the mood imo to provide reliable tests (see https://github.com/coala/coala-bears/issues/2046). So I decided to disable the test so we get the CI running again, as this issue didn't appear to me to be nicely fixable soon (but i

[2017-09-29 13:55] Makman2 commented on #1951
No no you should document the available "rules" that standardjs exposes in the bear, but not apply them to our repo.

[2017-10-01 03:48] rupav commented on #1671
@jayvdb  I would like to work on this. Can you guide me where to start looking ? I am new to this .

[2017-10-01 12:17] #2049 closed

[2017-10-02 11:42] jayvdb commented on #1671
It is unblocked now.  Read coala/coala#4137 .
If you understand that, this task is about repeating that task on the https://github.com/coala/coala-bears repo.
If you do not understand that, pick a different issue that you do understand.

[2017-10-02 13:16] rupav commented on #1671
@jayvdb  I am taking up this issue, although its new to me :) .

[2017-10-03 09:44] Psirus opened #2062 "JSONFormatBear complains about number representation"
Let's say I have a file `test.json` for a simulation I'm running,
[code]
Now, when I run `coala -b JSONFormatBear --files=test.json`, it wants to change the number to `2.34e-05`, which is of course mathematically equivalent. But I often have an intuition about numbers in a certain "exponent", changing that is often not helpful. Consider `"length": 3.2e-3` as 3.2mm, when coala applies the patch it

[2017-10-03 12:49] Makman2 commented on #2062
Ah so you want to keep those "natural" 10^3-step units. We could write support for that :)

[2017-10-03 13:15] Psirus commented on #2062
Yes, either engineering-notation ("10^3-steps") or just "leave my numbers alone"-mode ;)

[2017-10-04 17:08] aashraybhandar1 commented on #2062
Can someone guide how to proceed with this one?

[2017-10-05 09:17] aashutoshrathi opened #2065 "CheckStyleBear is not Working"
[code]

This timeout occured when I tried to apply patches.

[2017-10-05 09:38] SanketDG commented on #2065
Are you sure this is not an internet/proxy issue, I see that the connection is getting timed out when its downloading the jar file

[2017-10-05 11:43] aashutoshrathi commented on #2065
Oh, sorry I fixed it.

[2017-10-05 14:09] #2065 closed

[2017-10-05 14:10] Makman2 commented on #2065
Though the message is quite bad... we should fix it.

[2017-10-05 14:11] Makman2 opened #2066 "CheckstyleBear: Unreadable traceback for user when checkstyle.jar download fails"
For example a timeout causes this --> https://github.com/coala/coala-bears/issues/2065

Would be better to have a simple error message printed.

[2017-10-05 16:11] jayvdb commented on #2062
I think a "leave numbers alone" mode is better for this bear at this stage, as it is a fairly generic bear.
In the future, for better format control, we should create a JSON-Schema bear.

[2017-10-07 01:43] prakashdanish commented on #2062
Any body assigned to this? I would like to take it up

[2017-10-07 04:26] stellargo opened #2067 "Addition of DS_Store to .gitignore"
DS_Store should be ignored in coala-bears just like it is already being ignored in coala.

[2017-10-08 17:20] ai-coder commented on #2062
what should solution look like? The exponent part should be retained in every number or separate option should be kept?

[2017-10-10 18:48] aashraybhandar1 commented on #1741
Where is use_spaces used?

[2017-10-11 13:24] sils opened #2070 "test issue"

[2017-10-11 13:24] #2070 closed

[2017-10-11 13:25] sils opened #2071 "test issue"
area/aspects difficulty/newcomer

[2017-10-11 13:26] #2071 closed

[2017-10-13 14:22] #1500 closed

[2017-10-13 18:53] shahidikram0701 commented on #2050
I want to work on this issue.

[2017-10-13 23:22] sils opened #2074 "Document how to run generate_packages.py"
We should document that. It's important to run it with `python -m bears.generate_packages` from projet root because otherwise imports won't work

[2017-10-13 23:27] sils opened #2075 "Generate AUR packages for every bear"

[2017-10-14 06:27] Psirus commented on #2062
I've briefly looked into this and it seems that the bear is basically just decoding and then reencoding with the JSON module from the standard library. [This SO question](https://stackoverflow.com/questions/1447287/format-floats-with-standard-json-module) discussed a couple of options, mainly monkey-patching or using the external `simplejson` library. If either option would be okay, or you have a

[2017-10-14 22:46] acashmkj commented on #1999
@akspr7 are you still working on this issue ?

[2017-10-15 00:30] Makman2 commented on #2050
@Dumidu921 are you working on this issue?

[2017-10-15 00:34] Makman2 commented on #2062
I think the built-in library provides everything we need. We have to extend the `JSONDecoder` and `JSONEncoder` classes. `JSONDecoder` has to parse numbers in a more advanced way. Instead of just converting them to an int/float which misses representational data, we could implement a simple yet more complex type storing representational data (maybe as a string). The `JSONEncoder` has to be made sm

[2017-10-15 00:41] Makman2 commented on #2062
Though just seeing, it seems that `simplejson` is actually doing exactly this, it might take over the work for us and simplifies this task^^

[2017-10-15 01:20] Makman2 commented on #2074
Where? On installation?

[2017-10-15 13:50] Makman2 commented on #2067
Unassigned due to inactivity.

@cristianossd please assign to an issue before working on it :+1:

[2017-10-16 16:20] #1290 closed

[2017-10-16 21:28] RaiVaibhav commented on #840
@insanicly  are you still working on this

[2017-10-16 21:29] RaiVaibhav commented on #874
@karansingh1559  are you still working on this

[2017-10-17 05:40] insanicly commented on #840
hi @RaiVaibhav, no not working since the issue has no description and no answer to my question above.

[2017-10-17 05:50] swapagarwal commented on #836
@sils Maybe we can use this? https://github.com/awslabs/git-secrets

[2017-10-17 09:02] menukaNaya commented on #1999
Yes.

On Sun, Oct 15, 2017 at 4:16 AM, acash mkj <notifications@github.com> wrote:

[2017-10-17 19:08] omgitsjoao commented on #1534
The Android Studio does not include `ANDROID_HOME` env var by default, the user needs to do it to use external tools not integrated by AS, so to use the `lint` executable, the user will need to put the path `ANDROID_HOME/tools/bin` on the `PATH` so lint is usable, usually Android devs puts the `ANDROID_HOME` as soon as AS is installed, since it is widely used.

[2017-10-17 21:37] Makman2 commented on #1534
So seems there are many different ways to export those linting binaries. Looks like we have to write custom requirement classes accounting for the most popular ones^^

[2017-10-19 05:21] RaiVaibhav commented on #2067
@cristianossd first use corobo bot on gitter to assign yourself.

[2017-10-19 09:35] adtac commented on #1283
@sils Still blocked?

[2017-10-19 09:51] aptrishu commented on #1283
review please :P https://github.com/coala/coala-bears/pull/1332

[2017-10-19 10:11] nvzard commented on #2067
Can I assign myself this issue ?

[2017-10-19 11:58] adtac commented on #1283
Clicked on the link, it took a good 2-3 seconds to load. Immediately realized it's *that* PR :D

*silently goes back to something else without reviewing*

[2017-10-19 12:42] prnvdixit commented on #2067
@Makman2 There are already 3 PRs https://github.com/coala/coala-bears/pull/2068, https://github.com/coala/coala-bears/pull/2072, https://github.com/coala/coala-bears/pull/2076 for this issue 😛 - Can we merge any patch to this issue please?....  Just close this issue 😃 - Though the contributor to the last approved PR https://github.com/coala/coala-bears/pull/2072 hasn't ```yet``` assigned himself 😟

[2017-10-19 12:45] RaiVaibhav commented on #2067
First PR was mine 😜   Seriously its becoming a mess

[2017-10-19 12:50] stellargo commented on #2067
@prnvdixit Seems starightforward, 2068 is closed so leave that. 2076 is the one that should be reviewed since it is assigned to the author :)

[2017-10-19 12:52] prnvdixit commented on #2067
@stellargo But 2072 is the reviewed and approved one and 2076 still needs changes 😛

[2017-10-19 13:35] Makman2 commented on #2067
If approved, the approved one gets merged, doesn't make sense otherwise.

[2017-10-19 16:07] nvzard commented on #2067
I made @cristianossd  the author of this commit.

[2017-10-22 21:21] #2067 closed

[2017-10-23 16:53] cornu-ammonis commented on #1638
So with the Gixy thing moved to another issue, what would address this one?

[2017-10-24 01:51] yukiisbored commented on #1638
@cornu-ammonis This one uses the actual nginx program which has linting capabilities

[2017-10-24 10:41] Psirus opened #2078 "Make CppCheckBear a GlobalBear"
Let's say I have a function `f`, defined in `f.cpp` and used in `g.cpp`. If I run `cppcheck` just on `f.cpp`, it will tell me `[f.cpp:1]: (style) The function 'f' is never used.`. If I run cppcheck on the whole directory, that message disappears, because it sees that the function is being used after-all. However, in coala, these messages also appear, because, presumably, coala runs cppcheck on eac

[2017-10-24 15:21] blazeu commented on #872
happiness now uses [eslint v3](https://github.com/JedWatson/happiness/blob/8d99bc3eb3eab22b61ed1cbda8acaba4ee59e54a/package.json#L22).

eslint-plugin-import also has [` "eslint": "2.x - 4.x"`](https://github.com/benmosher/eslint-plugin-import/blob/98acd6afd04dcb6920b81330114e146dc8532ea4/package.json#L59) which might indicate that they're supporting eslint v3 as well.

[2017-10-24 16:01] Makman2 commented on #2078
`CppCheckBear` is currently configured as a `LocalBear`, meaning it works like you said. We can change it to be a `GlobalBear` and adapt it a bit to pass all files at once.

[2017-10-24 16:03] Psirus commented on #2078
If that doesn't break the usecase of someone else, great!

[2017-10-25 09:26] co-robo opened #2079 "Create linter for gindent"
http://gindent.cvs.sourceforge.net/viewvc/gindent/
Opened by @jayvdb at [gitter/coala/coala-bears](https://gitter.im/coala/coala-bears?at=59f058b981cd9a5d7e9fb3f8)

[2017-10-25 16:30] co-robo opened #2080 "Add ISSUE_TEMPALTE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala` repository for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f0bc3bd6c36fca31968354)

[2017-10-26 06:36] stellargo opened #2081 "Add feature for including path systems"
In CPPCleanBear, add support for mentioning '--include-path-system' which basically designates all header files found in these directories as "system" includes.

[2017-10-26 06:37] stellargo commented on #2081
This issue is only for '''GCI''' students (difficulty/low i guess)

[2017-10-26 10:13] adtac opened #2083 "CSS: Identify missing whitespace between class name and brace"
I was just reviewing and found that SpaceConsistencyBear did not detect the whitespace inconsistency in:

[code]

(Hint: it should be `classname {`, not `classname{`)

Not sure if SpaceConsistencyBear is the right bear for this (maybe create a new bear just for this :P), but I think this is worth detecting.

[2017-10-26 18:17] co-robo opened #2084 "Add support of `MalformedComment` in DocGrammarBear."
Add support of `MalformedComment` in DocGrammarBear. For reference see how it's being used in DocumentationStyleBear.
difficulty/low initiatives/gci
Opened by @damngamerz at [gitter//damngamerz](https://gitter.im//damngamerz?at=59f226c6f7299e8f5336f56c)

[2017-10-27 07:08] RaiVaibhav commented on #1876
@gaocegege working on issue?? I would like work on it

[2017-10-27 07:09] gaocegege commented on #1876
I am not on it, good luck to you :)

[2017-10-27 07:12] RaiVaibhav commented on #1876
@gaocegege  aah i noticed you made a PR, just curious to know why you close the PR ??

[2017-10-27 07:18] gaocegege commented on #1876
https://github.com/coala/coala-bears/pull/1873 is trying to fix the problem but I have no idea if it works well by adding the `\`.

[2017-10-27 10:24] underyx opened #2085 "PySafetyBear fails with an exception due to changes in upstream data format"
The format of https://raw.githubusercontent.com/pyupio/safety-db/master/data/insecure_full.json has been changed, which triggers this exception:

[code]

[2017-10-27 13:14] RaiVaibhav commented on #2085
I would like to give it a try

[2017-10-27 20:10] RaiVaibhav commented on #1876
@gaocegege  please unassign yourself so that i can assign my self

[2017-10-28 03:39] prnvdixit commented on #1876
@RaiVaibhav It's in GCI task list too... 😟

[2017-10-28 03:41] mohitkyadav commented on #1951
@menukaNaya Are you working on this?

[2017-10-28 03:46] RaiVaibhav commented on #1876
@prnvdixit can you send list of all gci task

[2017-10-28 03:47] prnvdixit commented on #1876
See header of coala/gci channel 😄

[2017-10-28 03:48] RaiVaibhav commented on #1876
Ok thanks

[2017-10-28 08:00] RaiVaibhav commented on #2085
@underyx Need information how did you gets the error log??, I run the PySafetyBear on my `requirement.txt` file its running fine

[2017-10-28 08:13] underyx commented on #2085
@raivaibhav you need to add a vulnerable package version to your requirements as the error is triggered while creating a result. I think bottle==0.10.0 should work.

[2017-10-28 14:17] urohit011 commented on #2078
I would like to work on this.

[2017-10-28 14:28] Makman2 commented on #2078
Then, get yourself assigned ;)

[2017-10-29 06:24] corona10 opened #2089 "JavaErrorProneBear: Add JavaErrorProneBear"
[Error-Prone](https://github.com/google/error-prone) is a static analysis tool for Java that catches common programming mistakes at compile-time. It is developed by Google.

Let's add it.

[2017-10-29 11:16] userzimmermann opened #2092 "Pygmented AnnotationBear"
Instead of further complicating the `AnnotationBear` with https://github.com/coala/coala-bears/pull/1332 it should first be simplified by using `Pygments` lexers instead of custom parsing for extraction of comment and string ranges from source code

This is also related to https://github.com/coala/coala/issues/4775

[2017-10-29 11:23] userzimmermann commented on #2092
https://gist.github.com/userzimmermann/f43c4d1ae001ddc78bca5ce827bca8f1 shows my proof of concept for this

@aptrishu @Makman2 What do you think about it?

[2017-10-29 20:07] Makman2 commented on #2092
That looks good, so in principle we use step-by-step pattern matching to assign to the parsed ast elements of pygments our `SourceRange` and other classes. I'm fine with that :)

[2017-10-30 05:57] RaiVaibhav commented on #2085
I think there are two ways to solve the problem either by change in their `development` of `setup.py` file or either solve in our Bear File
[code]

[2017-10-30 12:42] co-robo opened #2099 "Bear Proposal: template-lint"
https://www.npmjs.com/package/template-lint for http://aurelia.io/ templates
Opened by @jayvdb at [Gitter](https://gitter.im/coala/gci?at=59f71e200cef4fed2ebc8a78)

[2017-10-30 19:54] sotanishy commented on #2099
So we just make a new linter bear called AureliaBear that runs template-lint?

[2017-10-31 03:27] co-robo opened #2101 "Bear Proposal: NullAway"
https://github.com/uber/NullAway
see also Bear Proposal for Checker Framework.
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala-bears?at=59f7ed8551915d962afb4af1)

[2017-10-31 06:37] jayvdb commented on #2085
These database files were updated 29 days ago https://github.com/pyupio/safety-db/tree/master/data

And safety 1.6.1 was released 11 days ago.

[2017-10-31 10:19] co-robo opened #2102 "Add a non-mocked test to PySafetyBearTest"
difficulty/low
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala-bears?at=59f84e3419147ac32318e1c7)

[2017-10-31 11:48] co-robo opened #2103 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
label: difficulty/low  initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im/coala/coala?at=59f862f94ff065ac1899d4d1)

[2017-10-31 14:40] #1999 closed

[2017-10-31 15:58] #872 closed

[2017-10-31 16:28] aashraybhandar1 commented on #2083
Should a new bear be written ?

[2017-10-31 16:34] adtac commented on #2083
@aashraybhandar1 That's up to you. Feel free to discuss it with others.

My opinion: yes, a new bear for this would be nice (unless there's already a CSS bear that can perform this; check for this before you start writing a new bear, if you go down that route). SpaceConsistencyBear is kinda generic, and this is CSS-specific.

[2017-10-31 21:06] sotanishy commented on #2099
When I run the bear I get this error message:
The bear AureliaLintBear does not fulfill all requirements. 'template-lint' is not installed.

I installed template-lint, and I don't know why I get this error.

[2017-10-31 23:02] Makman2 commented on #2099
Without opening a PR and some logs, nobody is able to help ;)

[2017-11-01 01:23] sotanishy commented on #2099
@Makman2
Is it OK to open a PR when my work is not complete at all?

[2017-11-01 04:21] RaiVaibhav commented on #2099
@sotanishy  same mistake by me use `virtualenv` as some packages are moving to `dist-packages` and some to `site-packages` of your system `Python` packages,so package `AureliaLintBear` needs may be in different directory so its better to use `virtualenv`

[2017-11-01 09:42] supriyanta commented on #2050
I would like to work on it.assign me in i....

[2017-11-01 15:00] gaocegege opened #2106 "Add a new global bear to integrate with maintainer"
From @jayvdb

[Maintainer](https://github.com/gaocegege/maintainer) is a tool to generate AUTHORS, CONTRIBUTING, and CHANGELOG for your GitHub repository.

[2017-11-01 16:18] Makman2 commented on #2099
@sotanishy try to complete it as much as possible. It's totally fine to submit a PR to get some specific help :+1:

[2017-11-01 16:18] Makman2 commented on #2050
Unassigned due to inactivity.

[2017-11-01 18:33] RaiVaibhav commented on #2050
@supriyanta  assign yourself first

[2017-11-01 19:47] RaiVaibhav commented on #2050
Just to the log of `$ bash .ci/tests.sh (0)` you will get the `warning` there.

[2017-11-01 21:01] sotanishy commented on #2099
@RaiVaibhav Thank your for your advice, but it didn't work...
I ran [this code](https://pypkg.com/pypi/dependency-management/f/dependency_management/requirements/NpmRequirement.py) for template-lint and is_installed method returned True, but I still keep getting this error.

[2017-11-02 00:05] #2047 closed

[2017-11-02 00:49] co-robo opened #2108 "Bear Proposal copyright check bear"
difficulty/high importance/high
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala/maintainers?at=59fa6ba151915d962afb631e)

[2017-11-02 01:12] #2085 closed

[2017-11-02 10:09] swapagarwal commented on #1825
@userzimmermann Did you find a solution?

[2017-11-03 07:37] co-robo opened #2110 "Trailing spaces in comment made by PEP8Bear's "Add Ignore comment""
Opened by @Jar-win at [Gitter](https://gitter.im/coala/cobot-test?at=59fc1cd6f7299e8f5367e89b)

[2017-11-03 08:38] co-robo opened #2111 "Bear Proposal: .editorconfig validator"
cc @satwikkansal
Opened by @jayvdb at [Gitter](https://gitter.im/coala/gci?at=59fc2b0e0cef4fed2ebcbbd7)

[2017-11-03 09:06] Passionatecricketer commented on #2050
@supriyanta You still working on this issue?

[2017-11-03 14:09] jayvdb commented on #2074
That should be `python -m bears.generate_package` , not plural, and I dont think it is necessary.

@sils, [this should have fixed it](https://github.com/coala/coala-bears/commit/624f4de100ca7b9967bf1c1ee14132992982a990)

[2017-11-03 18:11] sils commented on #2074
We'll, there's imports on the top of the file that won't work because that line is after those imports happen

[2017-11-03 23:29] jayvdb commented on #2074
The imports at the top of the file require that the package `coala-bears` is installed.  Nothing else, afaik / afaics.

[2017-11-04 01:13] Makman2 commented on #2110
Could you provide a sample so we can reproduce?

[2017-11-04 04:45] jayvdb commented on #840
There are no mentions of `coala-analyzer` anywhere in this repository.
https://github.com/coala/coala-bears/search?utf8=%E2%9C%93&q=coala+analyzer&type=

[2017-11-04 04:45] #840 closed

[2017-11-04 14:55] sagar-cenation opened #2112 "issue with installing coala-bears"
Collecting coala-bears
  Downloading coala-bears-0.11.1.tar.gz (118kB)
    100% |████████████████████████████████| 122kB 21kB/s
Collecting coala~=0.11.0 (from coala-bears)
  Downloading coala-0.11.0.tar.gz (2.3MB)
    100% |████████████████████████████████| 2.3MB 8.4kB/s
    Complete output from command python setup.py egg_info:
    coala supports only python 3.4 or later.

    -------------------

[2017-11-04 20:51] #2112 closed

[2017-11-05 03:42] jayvdb opened #2115 "Bear Proposal: augeas roundtrip validator"
https://github.com/hercules-team/augeas allows configuration files (many formats) to be edited.
To do this, they need to be parsable by the "lenses" that it has, which is often a saner subset of the language of the file format.

A bear could make sure that the file contents always are parsable.

[2017-11-05 06:10] parthboricha commented on #2111
Can this issue be elaborated a bit?

[2017-11-05 06:19] jayvdb commented on #2111
Please follow our http://coala.io/newcomer process

[2017-11-05 13:06] jayvdb commented on #1946
We already have a check in the `.ci/` scripts to check whether the build is occurring on CI.
[code]

[2017-11-05 13:08] jayvdb commented on #1946
https://github.com/coala/coala-bears/issues/2006 is an example of why - it fails regularly on forks, and wastes the shared 'coala' build cycles.
Documentation was just amended to discourage circle builds.

[2017-11-05 18:28] palash25 commented on #2111
@jayvdb does this have to be a native bear or a linter bear?

[2017-11-06 03:57] RaiVaibhav opened #2116 "Travis CI fail- Errno::ENOENT: No such file or directory @ rb_sysopen -"
https://travis-ci.org/RaiVaibhav/coala-bears/jobs/297629326#L2928
https://travis-ci.org/coala/coala-bears/jobs/296590398

[code]

[2017-11-06 04:51] jayvdb commented on #2116
@bekicot @yukiisbored , any idea what is happening here?

[2017-11-06 05:02] bekicot commented on #2116
Will test tonight

[2017-11-06 14:07] satwikkansal commented on #2111
Parser for `.editorconfig` files can be found at https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/info_extractors/EditorconfigParsing.py

[2017-11-06 14:11] satwikkansal commented on #2111
Moreover, we can also validate the ".editorconfig" against the existing ".coafile" do detect any inconsistency in terms of style preferences.

[2017-11-07 08:21] Jar-win commented on #2110
@Makman2  Sure,
**.coafile**:
[code]
**Test Python File:**
[code]

**coala arguments**
[code]
Extra Whitespace at line 2. (before the ignore comment)
[code]

[2017-11-07 10:08] aashraybhandar1 commented on #1981
How do we proceed to include that? Do we have to create a new bear where we have to include the two packages mentioned above?

[2017-11-07 10:13] aashraybhandar1 commented on #1946
Can someone guide how to proceed with this issue?

[2017-11-09 11:18] co-robo opened #2117 "Update Rubocop to 0.51.0"
Required to support `haml-lint` `0.27.0` for https://github.com/coala/coala-bears/pull/1914
Opened by @IpshitaC at [Gitter](https://gitter.im/coala/coala?at=5a04399ad6c36fca31f5f101)

[2017-11-09 11:22] jayvdb commented on #2117
I think this is a duplicate of https://github.com/coala/coala-bears/issues/2116 ?

[2017-11-09 11:26] IpshitaC commented on #2117
@jayvdb Oh alright! Should I then just raise a PR with [these changes](https://github.com/coala/coala-bears/pull/1914/commits/bfb8c2fc3d06da19653c029ed22207d70b8b05ea), referencing https://github.com/coala/coala-bears/issues/2116 only?

[2017-11-09 11:30] jayvdb commented on #2117
Just the `rubocop` version change, referencing #2116.  Thanks.

[2017-11-09 11:31] IpshitaC commented on #2117
Sure! :+1:  I'll just raise the PR. Should I close this issue then?

[2017-11-09 12:55] #2116 closed

[2017-11-09 15:35] khanchi97 opened #2119 "Language: Add tag on bears: Localbear or Globalbear"
One should be able to search `localbears` or `globalbears` on this page https://coala.io/#/languages

[2017-11-09 15:38] gureks commented on #2110
Hey
I was figuring out the problem here.
So the bug here comes from [Line 57 of IgnoreResultAction](https://github.com/coala/coala/blob/012cd76de55ffee89339b9f629315dc3b9eb47d5/coalib/results/result_actions/IgnoreResultAction.py#L57)
I can't assign the issue to myself as it is not tagged as difficulty/low
Please add the label so that I can assign it to myself and fix it.

[2017-11-09 22:01] Makman2 opened #2120 "KeywordBear.check_keywords: Indent parameters correctly"
4 spaces relative to parameter reference `:param name_of_param:`.

If you don't know what that means, just follow the documentation style of other functions in the same file ;)

[2017-11-09 23:28] Makman2 commented on #2031
This is blocking another PR, taking over.

[2017-11-10 04:13] #2031 closed

[2017-11-10 10:48] khanchi97 commented on #2078
@urohit011 are you still working on it?

[2017-11-10 10:50] khanchi97 commented on #2119
@Makman2 what do you say about this?

[2017-11-10 12:22] userzimmermann commented on #2117
@jayvdb @RaiVaibhav @IpshitaC Can you please help me see the actual connection to #2116 ? :)

[2017-11-10 13:23] userzimmermann commented on #2106
Hey @gaocegege :) `maintainer` is a great tool! But `coala` is about analysis and fixing inappropriate stuff found during the analysis, if possible. So bears based on `maintainer` should not just create files. They should first check if existing files are correct or missing and then fix or create them if the users wants it

[2017-11-10 15:14] RaiVaibhav commented on #2117
Close this issue, Now need of this issue

[2017-11-10 15:19] userzimmermann commented on #2117
@RaiVaibhav Thanks for explaining :)

So I'm closing this issue since it was solved by https://github.com/coala/coala-bears/pull/2118

[2017-11-10 15:19] #2117 closed

[2017-11-10 15:21] gaocegege commented on #2106
It is a good suggestion. I will update my PR.

[2017-11-10 17:56] newbazz commented on #1754
I would like to work on this issue if no ones working.

[2017-11-10 18:18] gureks commented on #2110
PR ready to be reviewed and hence, merged :smile:

[2017-11-10 19:20] RaiVaibhav commented on #2110
@gureks  can you check the requested changes

[2017-11-10 21:02] Makman2 commented on #2078
Unassigning due to inactivity.

[2017-11-10 21:21] Makman2 commented on #2119
Not sure this is actually useful. If you want to lint something, you don't care whether it's a local or global bear, it's imo implementation detail (it only controls the parallelization).

[2017-11-11 06:49] khanchi97 commented on #2119
Maybe it would be helpful for coala-developers for some queries.

[2017-11-11 18:48] gureks commented on #2110
@RaiVaibhav changes have been amended.

[2017-11-11 20:37] nealkarpe commented on #2110
Hey.
According to my understanding, you want to move the ignore comment to the left. Eg. In this example, you want to move the spaces before "# Ignore PEP8Bear".

If I'm not wrong, shouldn't this be called removal of _leading_ spaces rather than removal of _trailing_ spaces?

Just wanted to point it out as I had some difficulty understanding the issue! :smiley:

[2017-11-11 21:03] supriyanta commented on #2050
Yes

[2017-11-11 23:24] nealkarpe commented on #2048
@Makman2 I think this can be kept up for grabs again! :grinning: (Unassigned due to inactivity)

[2017-11-11 23:47] Makman2 commented on #2119
Hmm maybe... However as a developer I would always look into the relevant .py file where the bear resides, then I've everything what I need.

I don't want to turn down the idea, i just want to discuss it if it's really worth it and useful, and also not confusing :) for example instead of this local/global bear info only, we maybe want to extend this idea to some nice developer interface for everyt

[2017-11-11 23:53] Makman2 commented on #2048
Unassigning due to inactivity.

[2017-11-12 06:23] khanchi97 commented on #2119
Yeah, it's a good idea.Let see what will be sorted out from this discussion thread.IMO we should implement this.

[2017-11-12 12:27] jayvdb commented on #2048
Re-assign.  Close the PR before unassigning.

[2017-11-12 21:09] Makman2 commented on #2048
Haven't seen the PR^^ (thought just commits were done without a PR)
Thanks for attaching the reference there @jayvdb :+1:

[2017-11-12 21:23] Makman2 commented on #2119
So generally I have no problem with some online dev info, however for me it wouldn't worth it to implement some fancy website stuff, as that's what GitHub's for (at least for me). Every information is inside the relevant Python file, and if you can read Python you usually don't have a problem (+ the bear guides in this case).

However, some ideas anyway what could be presented as info for a bear:

[2017-11-12 23:24] Makman2 commented on #1754
Unassigning due to inactivity.

[2017-11-12 23:43] Makman2 commented on #2083
`SpaceConsistencyBear` is as far as I know not aware of languages and syntax, it's meant for simple spacing stuff.

[2017-11-13 03:53] gaocegege commented on #2106
Hi, I have a question about the implementation. I want to to check if the file `Authors.md` exists in the directory. But it seems that I can not get the path of the directory from the linter.

Is there a general solution for this use scenario?

[2017-11-13 13:36] blazeu commented on #2083
CSSComb is [able to do this ](https://github.com/csscomb/csscomb.js/blob/dev/doc/options.md#space-before-opening-brace) but the option is not available in our [CSSCombBear](https://github.com/coala/coala-bears/blob/1ea886ab9dac649179ab8d6bea490dcc9ad1dd1f/bears/css/CSSCombBear.py)

[2017-11-13 18:58] userzimmermann commented on #2106
@gaocegege Best general solution would be to handle this via `maintainer` itself ;) It surely already has a way of determining the repo root...

[2017-11-13 19:00] userzimmermann commented on #2106
@gaocegege And...! Luckily just came to my mind ;) `maintainer` based bears shouldn't be `linter` bears. They don't work on arbitrary files. They deal with constant set of specific files. So basing them on `GlobalBear` would be more suitable IMO

[2017-11-13 19:59] Makman2 commented on #2083
Then let's implement it there :)

[2017-11-13 20:11] RaiVaibhav commented on #2083
Can I give it a try?

[2017-11-13 22:10] blazeu commented on #2083
Sure, also you can probably add all other missing settings in our `CSSCombBear` if there's any ;)

[2017-11-14 01:26] gaocegege commented on #2106
@userzimmermann I tried to define it as a global bear. And IMO the global bear runs on multiple files and I failed to run the command in the root path of the directory.

I will have a try, again.

Thanks for your suggestion.

[2017-11-14 09:44] userzimmermann commented on #2106
@gaocegege Take a look at the `GitCommitBear` code. It's also a `GlobalBear`

[2017-11-14 12:05] gureks commented on #2120
Can you please elaborate a bit?

[2017-11-14 13:35] blazeu opened #2126 "InvalidLinkBear: Some url marked as broken because the bear uses HEAD request"
e.g https://clbin.com returns `404` with HEAD request

[2017-11-14 13:38] jayvdb commented on #2126
That is more a bug in clbin.com , rather than the bear.
We should find a replacement for https://clbin.com .

I guess we could have an override list to use GET instead of HEAD.

[2017-11-14 13:45] blazeu commented on #2126
sprunge.us returns `405` with HEAD request, it only allows `GET, POST`

[2017-11-14 13:45] SanketDG commented on #2126
http://termbin.com/ is another one, but not nearly as minimal

[2017-11-14 13:48] RaiVaibhav commented on #2083
@blazeu I think the settings included in CSScombBear is best in its own the,creator have taken care of all , some missed but I think only 1-2, also some `config` not incuded are not included and IMO it not needed for ex- `element-case`, `sort order`, `template`
I need your suggestion whether to consider [tab-size](https://github.com/csscomb/csscomb.js/blob/dev/doc/options.md#tab-size) or not , I a

[2017-11-14 14:02] RaiVaibhav commented on #2083
Till then I am fixing current issue.

[2017-11-14 14:10] blazeu commented on #2083
Yeah, fix this issue first, that can go in another PR.

Now I think about it there's something off with putting all the settings inside the bear. [ESLintBear](https://github.com/coala/coala-bears/blob/master/bears/js/ESLintBear.py#L49-L52) uses external files or the default .eslintrc to [configure it](https://eslint.org/docs/user-guide/configuring).

csscomb also [behaves like that](https://github

[2017-11-14 14:13] RaiVaibhav commented on #2083
ohk

[2017-11-14 14:14] blazeu commented on #2126
That works `200 OK` :tada:

[2017-11-14 14:18] blazeu commented on #2083
@Makman2 What do you think? Should we remove/deprecate the config from CSSCombBear?

[2017-11-15 11:54] aashraybhandar1 commented on #1534
Can someone guide me how to write tests for this bear ? Also should an option for various checks be provided?

[2017-11-15 13:56] Makman2 commented on #1534
@aashraybhandar1 see other test files :+1:

Definitely :+1:

[2017-11-15 13:56] Makman2 commented on #2083
Why? :O

[2017-11-15 14:08] blazeu commented on #2083
Looking at [ESLintBear](https://github.com/coala/coala-bears/blob/master/bears/js/ESLintBear.py#L49-L52) it has no bear config other than `eslint_config` which is the file containing the actual eslint config.

IMO it's better that way so we can stop adding new config to our bear everytime the upstream linter has a new config.

[2017-11-15 16:27] mridubhatnagar commented on #2050
Hey @supriyanta.
Congrats on raising your PR in the community.
In my opinion we can amend the commit message a bit.

We can replace this and have something like

deprecated.

[2017-11-15 17:12] Makman2 commented on #2083
But then we shouldn't deprecate the option, right?

However we want to convert people using coala's settings system so it's easier to use multiple bears at once without diving into special configuration syntaxes of other tools. We only have those options to have simple full compatibility with those tools + people can easily migrate to coala with existing config files.

[2017-11-15 20:49] supergr35 commented on #2126
ix.io is minimal and returns a `200 OK`

[2017-11-15 20:54] Mixih commented on #2126
Paste service discussion should move to another issue. This is specifically about the broken head requests. IMO this is a won't fix and we just change the link.

[2017-11-15 21:27] SanketDG commented on #2126
If some website does not return `200` but has a homepage, then its broken by design.

Maintaining a `GET` only list seems terse too.

Does this stop any actual bear from functioning? If not, its just trivial.

[2017-11-15 22:51] blazeu commented on #2083
Ah, that's where you guys are going, I see.

[2017-11-15 23:32] Makman2 commented on #2083
Exactly. For example `use_spaces` is a very common option that is used by many bears at once.

[2017-11-16 00:08] Makman2 commented on #2126
This would be a viable to solution so users have a workaround for those situations. But indeed, pages not returning valid responses for `HEAD` requests should be generally avoided if possible^^

[2017-11-16 13:21] jayvdb commented on #2126
Also the message is bizare:

`Broken link - unable to connect to https://clbin.com (HTTP Error: 404)`

How does it get a 404 error if it was unable to connect ... :/

[2017-11-16 13:27] jayvdb opened #2128 "URLBear: link_ignore_list syntax unnecessarily complicated"
https://github.com/coala/projects/pull/397/commits/20dcfafc327bf7a3b

It shouldnt be necessary to append `/**` ; that should be implied.
It shouldnt be necessary to prepend `https://` ; that should be implied with a default protocol setting, or at most `//` should be required to imply http *and* https to check both work.

[2017-11-16 13:30] co-robo opened #2129 "bear Proposal https://github.com/yegor256/xcop"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala-bears?at=5a0d9305ba39a53f1aa9196f)

[2017-11-16 13:32] Makman2 commented on #2128
Yeah for the list I also would expect that plain domains work :+1:

[2017-11-16 15:04] co-robo opened #2130 "Bear Proposal: Prettier"
https://github.com/prettier/prettier
Opened by @blazeu at [Gitter](https://gitter.im/coala/coala-bears?at=5a0da909614889d4758b6101)

[2017-11-17 02:11] blazeu opened #2131 "MarkdownBear: Not outputting the correct output"
remark is now version 8.
We are still stuck in version 3 and there's a bug ~> https://circleci.com/gh/coala/coala-atom/150

Related: https://github.com/coala/coala-bears/issues/1492

[2017-11-17 02:15] jayvdb commented on #2131
Upgrading is #1492 .

Is this issue about fixing the current bear with the currently supported remark?
What is the bug in the current bear with the currently supported remark?

[2017-11-17 02:32] blazeu commented on #2131
Unfortunately the bug does not happen on my local machine but see [Gitter](https://gitter.im/coala/coala?at=5a0e407b51915d962afc18d7).

[2017-11-17 02:42] blazeu commented on #2131
Built successfully using `remark-cli@~4` `remark-lint@~6` ~> [CircleCI](https://github.com/blazeu/coala-atom/commit/5136b247097bc1cae4eb2c48155b8936351ccf25)

My fork: https://github.com/blazeu/coala-atom/commit/5136b247097bc1cae4eb2c48155b8936351ccf25

And yes I've tried installing `remark@~^3.2.3` and the bug did not happen. I've gone as far as removing all my global npm packages and reinstallin

[2017-11-17 15:35] Makman2 opened #2132 "Rename `DuplicatefileBearTest.py` to DuplicateFileBearTest.py`"
The casing is wrong.

[2017-11-18 10:43] aashraybhandar1 commented on #2128
How to proceed with this issue?

[2017-11-19 13:05] co-robo opened #2135 "Set setup.py url = http://coala.io/"
difficulty/newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=5a1181aff257ad9109b396a0)

[2017-11-20 16:40] #2083 closed

[2017-11-21 22:18] solutusimmensus commented on #2128
Let me check I understand the requirements correctly:
* when the link starts with '//', ignore all links matching that link with prepended 'http:' and 'https:':
 _//example.com should ignore links http://example.com and https://example.com_
* when the link ends with '/', ignore all links starting with that link (possibly can be combined with the above):
_http://example.com/ should ignore links lik

[2017-11-21 22:56] Makman2 commented on #2128
I (and many browsers) do not see any difference in a link ending with a slash or not (browsers usually expand links to contain a final slash). So that's something we shouldn't distinguish resulting in different casrs.

[2017-11-21 23:03] Makman2 commented on #2128
Not for all links, but I'm not aware of the exact rules*

[2017-11-21 23:12] solutusimmensus commented on #2128
Our **Globbing** parser, which is used in **URLBear**, does differentiate between paths ending with slash and without slash:
[code]

Should I fix Globbing, use different parser, or automatically append slash in matched URL as workaround?

[2017-11-23 10:39] netman92 commented on #1103
What's the status here, please? @rohanraju97 @sils

[2017-11-23 14:01] aptrishu commented on #1103
cc @userzimmermann , new AnnotationBear will fix it.

[2017-11-24 10:43] userzimmermann commented on #1103
@aptrishu We can go with https://github.com/coala/coala-bears/pull/1332 first and later think again about `pygments` and https://github.com/coala/coala-bears/pull/2096 for some simplification... As long as the `AnnotationBear` does what it should :)

cc @netman92

[2017-11-24 17:12] aashraybhandar1 commented on #2129
Which output format would be ideal for writing the linter bear if the output generated by the command line tool is something like :
Input file:
[code]
Output of command line tool:
[code]

[2017-11-26 17:04] aashraybhandar1 commented on #2129
@jayvdb
When using stdout the output to stdout is  `Is a directory @ io_fillbuf - fd:7 /`.It's some kind of error related to ruby. I couldn't understand what exactly it is from https://stackoverflow.com/questions/12292658/what-is-gets-is-a-directory-error-message could you help me proceed with this?

[2017-11-26 22:07] Makman2 commented on #2128
This is totally excepted from globbing, your pattern does not match the first URL because it doesn't contain the trailing slash (or any other wildcard).

yes that would be ideal imo. However, please lookup somewhere what are the rules here when this should be done (get some inspirations from browsers if possible ;) )

[2017-11-27 10:49] solutusimmensus commented on #2128
After a quick research, it works like this:
If you input an URL without trailing slash in the browser's address bar and it can't get server response, it tries for the same URL with trailing slash. Browsers can handle URL to directories with and without trailing slashes, but URLs pointing to files **can't** end with slash.

However, the server may treat such endpoints differently. I've written a mi

[2017-11-27 19:47] Makman2 commented on #2128
I guess you mean that endpoints having some kind of extension, like `mycloud.com/user/mrT/fileA.txt`.

Hmm... I would rather say this case doesn't exist 😅 For this I would rather wait on issue reports from users to see whether such a feature is wanted/needed^^

[2017-11-27 21:14] realslimshanky commented on #1755
Could you please elaborate the requirement of this issue?

[2017-11-28 12:04] co-robo opened #2144 "Don't require a `--files` flag if we're running only global bears"
Opened by @adtac at [Gitter](https://gitter.im/coala/coala-bears?at=5a1d50cd540c78242d5a517c)

[2017-11-28 14:35] yashraj-Dhanuka commented on #2135
corobo assign #2135

[2017-11-28 16:53] LifetimeAlone commented on #2120
Seems like the issue has already been solved:
https://github.com/coala/coala-bears/commit/06d1636f601a4d727fc0481edd7feef87b155d89

[2017-11-28 18:15] RJ722 commented on #2120
Yes, seems like it, the doc string indentation was fixed along with https://github.com/coala/coala-bears/issues/1797

Some maintainer would soon close this issue. @LifetimeAlone, you may can find other newcomer issues here: https://coala.io/new

[2017-11-28 20:04] Makman2 commented on #2120
Yeah a rushed cherry-pick without looking at the original PR which unacked that commit actually. Too late, it's done.

[2017-11-28 20:04] #2120 closed

[2017-11-28 21:51] Makman2 commented on #2135
@yashraj-Dhanuka this only works in gitter ;) Also this issue is currently assigned and quite new, so I would advise to rather pick a different issue ;)

[2017-11-28 21:52] Makman2 commented on #2144
@adtac shouldn't this issue go to `coala/coala`?

[2017-11-28 22:17] damian1996 commented on #2062
I explored what I could do with simplejson or JSONDecoder & JSONEncoder. In my opinion work which is needed to make is very similar in both options.
However, I had a problem. I tried the following approach.
In the current solution it is created the corrected version, which is compared with input json file through diff.
In my attempt I tried to change the corrected version by keeping input floats a

[2017-11-29 00:34] adtac commented on #2144
Oh yes, my mistake.

[2017-11-29 06:10] co-robo opened #2145 "PULL_REQUEST_TEMPLATE.md: Change cobot to corobo"
Opened by @Vamshi99 at [Gitter](https://gitter.im/coala/corobo?at=5a1e4f5771ad3f87364249ca)

[2017-11-29 10:08] yashraj-Dhanuka commented on #2135
@Makman2
Thankyou for your advice sir , but sir assigned user is inactive on this iss,ue for a long time.
Hope you can reassign this issue to me

[2017-11-29 13:51] mridubhatnagar commented on #2145
Good @yashraj-Dhanuka. As you have claimed this issue first and then have raised a PR. :+1:

[2017-11-29 14:07] Makman2 commented on #2135
9 days and he has a PR that's approved. Please pick a different issue ;)

[2017-11-29 16:48] mridubhatnagar commented on #2135
@yashraj-Dhanuka instead of quickly hopping on to new issues. You can do the requested changes on the Pull Requests that you have raised. In order to get those pull requests merged :)

[2017-11-30 04:34] mridubhatnagar commented on #2145
@yashraj-Dhanuka are you a Google Code In participant?

[2017-11-30 05:57] yashraj-Dhanuka commented on #2145
@mridubhatnagar no, i am not a google code-in participant , but i have my eyes on getting selected in GSOC and work for this community

[2017-11-30 06:05] mridubhatnagar commented on #2145
See the tasks having gci tags explicitly are meant *ONLY* for the gci participants.
So, you can work on any other issue that does not have a GCI tag.

On gitter do corobo unassign link to this issue. And you'll be unassigned.

[2017-11-30 14:22] Makman2 commented on #2144
Migrated to https://github.com/coala/coala/issues/4928

[2017-11-30 14:22] #2144 closed

[2017-11-30 15:10] Makman2 commented on #2062
I would recommend to submit a PR for such detailed questions instead of discussing implementation on the issue, then we get the whole picture^^

[2017-11-30 16:53] Makman2 commented on #1966
Unassigning due to inactivity.

[2017-12-02 09:49] sangamcse commented on #2004
@Raman1121 What is the status of the issue??

[2017-12-02 18:12] Makman2 commented on #2004
Unassigning due to inactivity.

[2017-12-03 15:14] bhavishyagopesh commented on #1953
@prachi1210 If you allow can I work on this?

[2017-12-03 15:20] prachi1210 commented on #1953
@bhavishyagopesh Go ahead

[2017-12-04 07:13] sibasish14 commented on #1167
I want to work on this issue and I'm a beginner, so can you please suggest me how to proceed.

[2017-12-04 09:07] mridubhatnagar commented on #1953
@bhavishyagopesh assign yourself to this issue.

[2017-12-04 09:11] newbazz commented on #1005
I would like to work on this issue.

[2017-12-04 09:14] newbazz commented on #1005
![image](https://user-images.githubusercontent.com/25884863/33544645-951626ba-d901-11e7-814c-c6dd7caa5318.png)
theres already a param `preffered_quotation` then why cant we use as force_preferred.

[2017-12-04 09:41] bhavishyagopesh commented on #1953
@mridubhatnagar I don't have the access to do so, (i.e. `corobo assign <issue>` won't help)

[2017-12-04 09:46] mridubhatnagar commented on #1953
yes, corobo is down as of now. Later you can do it. Or someone who has the access will do it.

[2017-12-04 12:48] bhavishyagopesh commented on #1950
@sils I'm trying to debug this(but unable to reproduce this behaviour...) could you tell what did you run...like did you pass `-S max_line_length=10` or you passed some config-file. thanks

[2017-12-04 14:37] newbazz commented on #1005
I am still not clear about this issue, I had a thought of how to solve it but it has some loopholes in it.

[2017-12-04 14:47] aptrishu commented on #1005
what do you need help with?

[2017-12-04 16:19] Makman2 commented on #1167
You're assigned @sibasish14 ;)

[2017-12-04 16:25] sibasish14 commented on #1167
@Makman2, as I mentioned I'm a beginner....
So how do i proceed?

[2017-12-04 16:28] sibasish14 commented on #1167
And thanks for assigning me @Makman2 :)

[2017-12-04 16:36] Makman2 commented on #1167
You can now solve the issue. Maybe the newcomer guide answers your questions on how to generally proceed when addressing issues^^

[2017-12-04 17:15] sils commented on #1950
most likely I used `-S` but it shouldn't matter. Weird thing is I'm getting two errors for the same line with different limits.

[2017-12-05 05:56] sibasish14 commented on #1167
@yash-nisar, do I have to add an asciinema URL....that's it??
If yes, then which URL?

[2017-12-05 07:15] yash-nisar commented on #1167
You have to create one, see our existing bears with asciinema URLs.

[2017-12-05 07:57] sibasish14 commented on #1167
Oh got it! So I need to create one that shows the usage of PythonPackageInit Bear and then add that link to the bear. Am I correct?

[2017-12-05 08:17] sibasish14 commented on #1167
Should I use the "PythonPackageInitBearTest.py" file to show the usage?

[2017-12-05 10:32] bhavishyagopesh commented on #1950
@sils So I found from where two errors are coming, the first is usual bear error but the second is coming from inside of phpcs(Actually phpcs has `LineLengthSniff.php` which classifies line having more than 80 chars as warning and >100 as error(that's why the second error)) -- [here](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/src/Standards/Generic/Sniffs/Files/LineLengthSniff.php#L16

[2017-12-05 14:15] khanchi97 opened #2150 "Add pylamaBear"
https://github.com/klen/pylama

[2017-12-05 14:19] khanchi97 opened #2151 "Add PyCheckerBear"
http://pychecker.sourceforge.net/

[2017-12-05 14:56] RaiVaibhav commented on #2151
I got confused by reading `Wrapping Up` https://www.blog.pythonlibrary.org/2012/06/13/pyflakes-the-passive-checker-of-python-programs/

 `PyCheckerBear` is not fast if we compare it to `PyFlakes` but more accurate than `PyFlakes`(which currently `coala` has)

Easy Comapare https://www.blog.pythonlibrary.org/2011/01/26/pychecker-python-code-analysis/

[2017-12-05 15:25] khanchi97 commented on #2151
Well, @RaiVaibhav I think it depends on the users.let say If someone wants to use `Pyflakes` or `Pylint` then I think these linters should be available for him We can not say to user that "`Pyflakes` is almost doing same as `Pylint` so you can use `Pylint`" Acc. to me it can be the case 😉

[2017-12-05 15:47] Makman2 commented on #2151
Once [aspects](https://github.com/coala/cEPs/blob/master/cEP-0010.md) will arise, this redundancy will be cleaned up :+1:

[2017-12-05 15:48] Makman2 commented on #1167
No just put the link into the appropriate field inside the bear.

[2017-12-05 17:55] damian1996 commented on #2150
Can I work on this issue? :)

[2017-12-05 18:25] #1754 closed

[2017-12-06 03:24] yashLadha opened #2152 "Add ktlint Bear"
https://github.com/shyiko/ktlint

[2017-12-06 07:51] khanchi97 commented on #823
Hello @jayvdb I want to write this bear but I'm not confirmed which linter I have to wrap.The one that you gave https://pypi.python.org/pypi/flake8-copyright is only for python files but this bear would be a `genericbear`.So can you tell me which linter I have to use?

[2017-12-06 09:57] SanketDG commented on #972
We should also probably drop bears that is supported by it, to avoid duplication

[2017-12-06 10:37] newbazz commented on #1005
Hey i am working on this but now i have some confusion,In
"Hi I'm newbazz", if the `force_preferred_quotation` is True then it mustconvert to 'Hi i'm newbazz' ? Is It?

[2017-12-06 11:00] newbazz commented on #1005
![image](https://user-images.githubusercontent.com/25884863/33658442-bda9a136-daa2-11e7-8e87-1ef6ba9d34f7.png)
Is this what is required?

[2017-12-06 17:56] newbazz commented on #1005
![image](https://user-images.githubusercontent.com/25884863/33676866-edbe62a0-dadc-11e7-9235-f741263a84aa.png)
And this is the test.

[2017-12-07 06:39] sibasish14 commented on #1167
@yash-nisar, I just created a PR for this issue. Can you review it and tell me what changes are necessary?

[2017-12-07 13:58] khanchi97 commented on #2151
@Makman2 Can you please assign me to this issue.

[2017-12-07 16:12] yash-nisar commented on #2151
Is corobo still down ? 😮

[2017-12-07 16:52] khanchi97 commented on #2151
Yes corobo is still down 😞 .When we are in need of something and we couldn't get help of that then it feels how much does it matter 😉

[2017-12-07 20:36] anuyog1004 commented on #1979
Please assign this issue to me.

[2017-12-07 20:37] anuyog1004 commented on #2042
Please assign this issue to me.

[2017-12-08 00:57] Makman2 commented on #1979
Unassigning due to inactivity.

[2017-12-08 01:00] Makman2 commented on #2042
Unassigning due to inactivity.

[2017-12-08 03:32] anuyog1004 commented on #1979
Can I work on it now?

[2017-12-08 03:32] anuyog1004 commented on #2042
Can I work on it now?

[2017-12-08 04:48] Grox-Ni commented on #2131
remark: 8.0.0, remark-cli: 4.0.0
installed with `yarn global install remark-cli`

Having same complainant "The text does not comply to the set style." and `coala` suggests to delete all my code in README.md on my local machine

[2017-12-09 08:13] yashraj-Dhanuka commented on #2150
@khanchi97 Please Elaborate me this issue and guide me on solving it.

[2017-12-09 09:17] khanchi97 commented on #2150
Take a look at http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html how to write linter bears and try to wrap this linter https://github.com/klen/pylama

[2017-12-09 18:23] palash25 commented on #1266
Is someone working on this? I see a closed PR.

[2017-12-10 03:13] shreyateeza commented on #2132
If @gokberksahin is not working on this issue then please assign it to me.

[2017-12-10 03:29] shreyateeza commented on #812
Can anybody please tell me what to do here?

[2017-12-10 03:55] shreyateeza commented on #2103
Can anyone please tell me what actually needs to be done?

[2017-12-10 07:36] vddesai1998 commented on #2048
Hey, @akspr7 if you are not working on this issue anymore I would like to take this issue.

[2017-12-10 16:10] parimatrix commented on #2152
@yashLadha Hi. I am new to writing linter bears. I wish to start with it. So can you or someone else please assign me this issue. Will be my first bear, so may take some time though. Thanks!

[2017-12-10 17:04] Makman2 commented on #2132
Unassigning due to inactivity.

[2017-12-10 17:05] Makman2 commented on #2132
Ah you already have a newcomer issue in queue @shreyateeza , please pick a `difficulty/low` issue ;)

[2017-12-10 17:07] Makman2 commented on #2048
Oh you already have a `difficulty/newcomer` issue assigned @vddesai1998 , please pick a `difficulty/low` one ;)

[2017-12-10 17:55] Makman2 opened #2158 "ESLintBear: Missing plugin just throws a warning and coala won't reanalyze files again"
Missing plugin errors should probably be turned into exceptions:
[code]
Next run:
[code]
Although the `prettier` plugin was still not installed, coala had now a clean run.

[2017-12-10 18:00] Makman2 commented on #2152
And especially get inspired from other bears ;)

[2017-12-10 20:30] Makman2 commented on #972
@SanketDG yeah can be done in a next step. File an issue and mark it as blocked by this one ;)

[2017-12-10 20:32] Makman2 commented on #1266
Doesn't look like ;)

[2017-12-10 20:35] Makman2 opened #2159 "Update `ASCIINEMA` of `GitCommitBear`"
From @RaiVaibhav

Migrated from https://github.com/coala/coala/issues/4954

[2017-12-11 02:27] adtac commented on #972
Drop as in completely delete them? I don't know about that. Some people might hate go-metalinter and might just want one of the individual linters.

Maybe add a notice informing the user that there's a bear that's a superset.

[2017-12-11 15:58] vddesai1998 commented on #2048
Okay :)

[2017-12-11 19:51] ujjaldas1997 commented on #2132
@Makman2  please assign this issue to me.

[2017-12-12 00:28] Makman2 commented on #2132
Seems there was recent activity.

[2017-12-12 01:09] #2132 closed

[2017-12-12 11:48] khanchi97 commented on #1793
@danlls are you still working on this?If not, then I would like to do it.

[2017-12-12 11:51] danlls commented on #1793
I'm not, you can go ahead. Somebody can withdraw me from assignee

[2017-12-12 12:01] khanchi97 commented on #1306
@namanyadav12 are you still working on this?I want to give it a try :)

[2017-12-12 14:34] sibasish14 commented on #2158
I would like to work on this issue.
Can someone tell me how to proceed?

[2017-12-12 17:00] Makman2 commented on #2158
Please read the issue title and description ;)

[2017-12-12 17:02] Makman2 commented on #1306
Reassigning due to inactivity.

[2017-12-12 19:12] Monal5031 commented on #1351
@arnab1896 Are you still working on it? If not @Makman2 please assign me to it :).

[2017-12-13 05:26] sibasish14 commented on #2158
@Makman2  please assign it to me. I'll give it a try.

[2017-12-13 06:35] Subhash-Saurabh commented on #2048
Hey @Makman2 I am new to coala and I want to work on this issue.

[2017-12-13 09:28] mridubhatnagar commented on #1755
In my understanding it refers on how to create asciinema videos.
And document this in our docs.
So, that newcomers can refer to that doc to know how video's are to be created.

[2017-12-13 10:25] jayvdb commented on #1755
We have GCI tasks for creating asciinema.
https://github.com/coala/coala/wiki/Google-Code-In-Task-Simple-asciinema
https://github.com/coala/coala/wiki/Google-Code-In-Task-Advanced-asciinema

Anyway, this task is blocked until https://github.com/asciinema/asciinema/pull/236 , as it offers many improvements, and likely means all of our asciinema should be recreated.

[2017-12-13 11:22] vrishank97 commented on #1664
@SacredWKnight If you aren't working on this, can I pick up this issue?

[2017-12-13 12:08] vedantc98 commented on #1941
Is this issue still open? I'm confused as to which function's docstring need to be altered.
@SanketDG Could you assign me and let me know where exactly the docstring needs to be changed?
Thanks!

[2017-12-13 13:27] khanchi97 commented on #1793
@jayvdb @meetmangukiya I want to ask one thing.Let say in a file, if there are some trailing blanklines at EOF with whitespaces in these lines.So now when running `SpaceConsistencyBear`(I have made changes for `allow_trailing_blanklines` option), first it offers to delete those lines using `applypatch` action and if I use this action and after deleting those lines, now coala offers to remove `whit

[2017-12-13 13:31] pavankoushik22 commented on #2048
can you guys assign this to me ?

[2017-12-13 13:40] pavankoushik22 commented on #873
can you guys assign this to me?

[2017-12-13 17:52] Makman2 commented on #1351
Reassigning due to inactivity.

[2017-12-13 18:00] Makman2 commented on #2048
@Subhash-Saurabh please accept the invitation.

@pavankoushik22 as @Subhash-Saurabh was first, please pick another issue :)

[2017-12-13 18:40] Monal5031 commented on #1351
@Makman2 He had an open PR though https://github.com/coala/coala-bears/pull/1450 should we close it too?

[2017-12-13 18:57] Subhash-Saurabh commented on #2048
@Makman2  I have accepted the invitation . Can you now assign me this issue.

[2017-12-13 20:00] #1950 closed

[2017-12-13 20:27] Makman2 commented on #1793
Pick the behaviour that is most intuitive and most understandable from user perspective ;)

[2017-12-13 20:29] Makman2 commented on #1941
Unassigning due to inactivity.

[2017-12-13 20:30] Makman2 commented on #1664
Reassigned due to inactivity.

[2017-12-13 20:43] khanchi97 commented on #1793
No, I want to ask how I can fix this problem that if those lines have already deleted by `allow_trailing_blanklines` option then why in next step coala offers to remove whitespace from those lines which have been already deleted.

[2017-12-13 20:57] Makman2 commented on #1793
Fix that behaviour and make the bear not emit patches for those lines any more :+1:

[2017-12-13 22:24] #2042 closed

[2017-12-14 12:58] yukiisbored opened #2166 "Bear Proposal: HTTPSBear"
Nowadays, using `https://` is pretty mandatory and encouraged. I propose a bear which will enforce this rule and preventing the usage of `http://`.

[2017-12-14 18:09] SanketDG commented on #1941
@vedantc98 You are assigned, Function in question https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L127, the preferred [style](https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py#L31)

[2017-12-14 23:00] Makman2 commented on #2166
Duplicate of https://github.com/coala/coala-bears/issues/1900 :)

[2017-12-14 23:00] #2166 closed

[2017-12-14 23:21] #289 closed

[2017-12-15 00:19] #1741 closed

[2017-12-15 04:38] IpshitaC opened #2169 "README.rst : Supported languages should be dynamic"
Add HAML to the list of supported languages.
Relevant file can be found [here](https://github.com/coala/coala-bears/blob/master/README.rst#languages-supported)
Relevant commit can be found [here](https://github.com/coala/coala-bears/commit/c86a6d0f4c88521d5701c7d2fc7c1e9d989bb08a)

difficulty/newcomer area/documentation

[2017-12-15 04:39] IpshitaC commented on #2169
@jayvdb could this be used as a GCI task?

[2017-12-15 22:52] damian1996 commented on #1477
Can you assign me to this issue? :) It seems that this issue is forgotten by the previous contributor :)

[2017-12-16 04:16] radonys commented on #2159
@Makman2 I would like to take up this issue.

[2017-12-16 16:24] Makman2 commented on #1477
Unassigning due to inactivity.

[2017-12-16 16:24] Makman2 commented on #1477
@damian1996 try to reuse old code if possible, saves work for everyone ;)

[2017-12-16 18:58] Makman2 commented on #2169
Let's keep it standalone :+1: @IpshitaC

[2017-12-16 21:56] ishanSrt opened #2175 "Circle CI and AppVeyor Build Failing with same error logs on all PRs"
# **error log link of Circle CI:**
https://circleci.com/gh/coala/coala-bears/7640?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
**NOTE**: error logs on different PRs are different but its failing with the same conditions
# error log of AppVeyor:
[code]
link: https://ci.appveyor.com/project/coala/coala-bears/build/1.0.8216

importance/high

[2017-12-16 22:03] RaiVaibhav commented on #2169
[code]
@IpshitaC  Just tried `coala --show-bears --filter-by-language HAML`
But `HAMLLintBear` is not up there.(don't know much about it's working)
Also https://coala.io/#/languages is also needs to be updated as per `HAML`.

[2017-12-16 22:12] RaiVaibhav commented on #2175
@ishanSrt  take a look at a `CI` logs both are different on different `CI` but failing on every PR with same conditions
And instead of providing whole log of `CI` here provide a link of log of `CI` of  `last commit of repo` (on your `fork master` )

[2017-12-16 23:19] Makman2 commented on #2175
Hm the build link contains an error for `SCSSLintBear`, not `PyLintBear` @ishanSrt

[2017-12-16 23:22] Makman2 commented on #2169
We recently merged `HAMLBear`, so it will appear once you upgrade to the newest coala-bears ;) @RaiVaibhav

[2017-12-16 23:22] ishanSrt commented on #2175
@Makman2 they are 2 err logs of Circle CI and AppVeyor. Both of them are failing.

[2017-12-16 23:23] Makman2 commented on #2175
Could you post both links? Because the relevant bears are different^^

[2017-12-17 11:33] khanchi97 commented on #176
Hey, I think this issue is same as this one https://github.com/coala/coala-bears/issues/1953

[2017-12-17 14:02] Makman2 commented on #176
Closing this one as the duplicate is more active and worked upon.

[2017-12-17 14:02] #176 closed

[2017-12-17 16:01] Makman2 opened #2177 "scss_lint update causes build fails"
https://circleci.com/gh/coala/coala-bears/7640?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

This issue was isolated from https://github.com/coala/coala-bears/issues/2175

It's necessary to fix the version of `scss_lint`.

[2017-12-17 16:01] Makman2 opened #2178 "pylint update causes build fails"
https://ci.appveyor.com/project/coala/coala-bears/build/1.0.8216

This issue was isolated from #2175

It's necessary to fix the version of `pylint`.

[2017-12-17 16:02] Makman2 commented on #2175
Isolated two issues that cause this umbrella bug:
- https://github.com/coala/coala-bears/issues/2177
- https://github.com/coala/coala-bears/issues/2178

Those take over. Closing.

[2017-12-17 16:02] #2175 closed

[2017-12-18 02:25] #2177 closed

[2017-12-18 02:25] #2178 closed

[2017-12-18 02:26] Makman2 opened #2179 "Update scss_lint for SCSSLintBear"
Newer versions of `scss_lint` (gem) cause the existing tests to fail, so tests have to be adapted.

[2017-12-18 02:26] Makman2 opened #2180 "Update pylint for PyLintBear"
Newer versions of `pylint` (pip) cause the existing tests to fail, so tests have to be adapted.

[2017-12-18 03:23] #1284 closed

[2017-12-18 04:43] #2135 closed

[2017-12-18 07:32] adhikasp opened #2181 "Aspectize SpaceConsistencyBear"
Make SpaceConsistencyBear could be used through coala's aspects. The bear's should have the following aspects:
- `Root.Formatting.Spacing.Indentation` - the taste mapped to `use_spaces` and `indent_size`
- `Root.Formatting.Spacing.BlankLine.NewlineAtEOF` - the aspect enabled (mapped) `enforce_newline_at_EOF`
- `Root.Formatting.Spacing.TrailingSpace` - the aspect enabled (mapped) `allow_trailing_wh

[2017-12-18 08:49] shreyateeza commented on #2180
@Makman2 Please explain this to me more in detail.

[2017-12-18 08:52] shreyateeza commented on #2179
@Makman2 Please this to me.

[2017-12-18 12:06] jayvdb opened #2182 "Reduce dependencies of the Travis py27 and py33 jobs"
Similar to https://github.com/coala/coala/pull/4376 , but also not installing all the dependencies.

[2017-12-18 13:16] shreyateeza commented on #1024
@sils If no one is working on it, then assign it to me.

[2017-12-18 13:20] shreyateeza commented on #1952
If @Alexander-N is not working on it, please assign it to me.

[2017-12-18 13:27] shreyateeza commented on #1783
If @prachi1210 is not working on this, @jayvdb please assign this to me.

[2017-12-18 13:29] ishanSrt commented on #1783
What makes you say that? He has already made a PR and all checks have passed, his PR is waiting review

[2017-12-18 13:31] ishanSrt commented on #1952
What makes you say that? He has already made a PR, all checks have passed and is awaiting review

[2017-12-18 13:31] shreyateeza commented on #1635
@jayvdb Please explain this more in detail. Thanks in advance.

[2017-12-18 13:33] sils commented on #1024
@shreyateeza please check out what @abhsag24 did because he has a lot of pending work related to this I think

[2017-12-18 13:33] sils commented on #1024
he might even be still on it

[2017-12-18 13:43] shreyateeza commented on #1024
@abhsag24 Are you still working on this issue?

[2017-12-18 15:02] Makman2 commented on #2180
It's about to update `pylint` inside `PyLintBear` to the newest version ;)

[2017-12-18 17:23] abhsag24 commented on #1024
@sils i'm not able to keep up @shreyateeza i'm not working on it currently though you can ping me or @aptrishu if you need help.

[2017-12-18 17:26] aptrishu commented on #1024
@shreyateeza review https://github.com/coala/coala-bears/pull/1332
This will be solved by that.

[2017-12-18 17:29] aptrishu commented on #1024
blocked by https://github.com/coala/coala-bears/pull/1332

[2017-12-19 07:41] Nshul commented on #2130
Can i work on this ? This would be my first time writing a bear so it may take some time.

[2017-12-19 09:36] palash25 commented on #1951
@yash-nisar I would like to be assigned

[2017-12-19 12:55] palash25 commented on #1912
@jayvdb I would like to be assigned to this issue

[2017-12-19 15:14] palash25 commented on #1700
Is anyone working on this?

[2017-12-19 16:08] sangamcse commented on #2179
I would like to solve this issue. Please assign it to me.

[2017-12-19 16:24] vddesai1998 commented on #2179
Please assign this issue to me!
Yeah, @sangamcse commented first but I talked to him, he has no issues if you assign me this issue! :)

[2017-12-19 18:16] sangamcse commented on #2181
I want to work on it as https://github.com/coala/coala/issues/4982 is closed now.

[2017-12-20 02:23] tupaschoal commented on #1700
I am not

[2017-12-20 07:29] palash25 commented on #1571
I think this PR has been abandoned. I would like to be assigned. I can probably send a PR today.

[2017-12-20 07:51] adhikasp commented on #2181
@sangamcse I forgot to mention that this is a gci task (https://codein.withgoogle.com/dashboard/tasks/6350994629722112/). Are you a GCI participant?

[2017-12-20 07:53] sangamcse commented on #2181
@adhikasp I know what GCI is and I am not the GCI participant. Anyway thank you.
Please label it as gci task.

[2017-12-20 08:27] shashank-b commented on #1371
Please assign this to me

[2017-12-20 08:28] shashank-b commented on #2111
Please assign this to me.

[2017-12-20 08:35] jayvdb commented on #2111
@shashank-b , you have to complete a newcomer level task first

[2017-12-20 08:38] jayvdb commented on #1371
Sorry this is blocked because of https://github.com/coala/coala-bears/pull/2134

[2017-12-20 09:05] shashank-b commented on #1192
I would like to work on this issue.

[2017-12-20 09:32] #1912 closed

[2017-12-20 09:33] jayvdb commented on #1571
This is a newcomer issue @palash25 , as the change required is already given .  Find more challenging tasks.

[2017-12-20 10:11] shashank-b commented on #1571
I want to work on this issue.

[2017-12-20 10:16] ysahil97 commented on #876
I would like to take up this issue. What do we need to do here?

[2017-12-20 10:58] blazeu commented on #2130
@urohit011 are you still working on this one? it's been a while

[2017-12-20 12:07] SanketDG opened #2187 "Move to composer for php dependencies"
For php linting tools, we are better off using a composer setup than using distro packages https://github.com/coala/coala-bears/blob/master/.ci/deps.apt.sh#L28 or manual setup https://github.com/coala/coala-bears/blob/master/.ci/deps.sh#L52

[2017-12-20 12:08] palash25 commented on #1358
@jayvdb the assignee seems to have abandoned this issue. I would like to work on this.

[2017-12-20 12:17] SanketDG commented on #2187
Related to https://github.com/coala/coala-bears/issues/293 which deals with adding composer, but this is for adding the existing tools that are supported by composer

[2017-12-20 15:53] Makman2 commented on #1951
Reassigned due to inactivity.

[2017-12-20 17:11] Subhash-Saurabh commented on #2103
I want to work on this issue . Can I get this assigned .

[2017-12-20 17:32] palash25 commented on #1951
Do we also need to generate a config file by applying the rules or do we just have to document them as docstrings in the bear?

[2017-12-20 19:26] pradeepgangwar commented on #1917
@prakashdanish are you working on this issue? I would like to work on this.

[2017-12-21 02:06] jayvdb commented on #2187
why?  apt is faster.

again, why?

[2017-12-21 02:07] jayvdb commented on #2187
The first step is adding ComposerRequirements to the relevant bears.

[2017-12-21 05:02] vedantc98 commented on #2111
Could I get assigned to this? I've completed a newcomer issue but it hasn't been merged yet.
Thanks!

[2017-12-21 05:47] #1941 closed

[2017-12-21 05:54] SanketDG commented on #2187
one good reason would be the sync time of a version release, not to mention 14.04's apt is a little old now :)

manually setting up dependencies when a package manager is readily available, that's odd right?

we use other major package managers, why not use one for php?

[2017-12-21 08:25] palash25 commented on #1334
@yukiisbored the PR to this issue hasn't been updated since April, I think the assignee has abandoned it. I would like to work on this, seems like a cool bear.

[2017-12-21 09:59] nvzard commented on #2180
@Makman2 I tested this locally with `pylint 1.8.1` but the tests are not failing.

[2017-12-21 10:14] jayvdb opened #2190 "Bear Proposal: ninka"
https://github.com/dmgerman/ninka

[2017-12-21 15:40] #2182 closed

[2017-12-21 16:43] jayvdb opened #2191 "TextLintBear broken"
On an uncached build, we are getting build errors

https://travis-ci.org/coala/coala-bears/jobs/319742819

cc @yash-nisar

[2017-12-21 17:09] #2059 closed

[2017-12-21 18:04] kriti21 commented on #873
Please assign this issue to me.

[2017-12-21 19:23] mridubhatnagar commented on #2190
@jayvdb can you assign me this. I would like to give this a try.

[2017-12-22 12:21] satwikkansal commented on #2111
Assigning you since https://github.com/coala/coala-bears/pull/2168 has been merged now.

[2017-12-22 13:04] vedantc98 commented on #2111
So basically this bear should parse and validate the `.editorconfig` file itself, correct?
And it should be located in coala-bears/bears/configfile/ ?

[2017-12-22 21:21] mridubhatnagar commented on #2190
@Makman2

[2017-12-23 05:29] pareksha commented on #1635
Please assign me this issue. I would like to work on it.

[2017-12-24 05:16] Nshul commented on #2130
Can i be assigned this??

[2017-12-24 16:49] mridubhatnagar commented on #2190
How shall I proceed @Makman2 ?

[2017-12-24 17:57] Makman2 commented on #2190
☝️  ;)

[2017-12-24 18:11] mridubhatnagar commented on #2190
Hahaha. Thanks.

[2017-12-25 00:30] #2004 closed

[2017-12-26 09:21] Subhash-Saurabh commented on #1981
@jayvdb I want to work on this. Can I get this assigned .

[2017-12-26 14:34] Makman2 commented on #2025
Reassigning due to inactivity.

[2017-12-26 15:56] Makman2 commented on #2191
I think I found the reason: I experimented in our `coala/base` docker environment, and during that I've seen that the bear has thousands of npm dependencies, and like thought, those weren't installed. Installing all of them makes the tests pass :+1:

[2017-12-26 16:07] Makman2 commented on #2191
Hmm... I actually missed those packages before, it seems they get installed in the CI...

[2017-12-26 16:16] Makman2 commented on #2191
However the errors in the CI are the same like without the plugins.

[2017-12-26 16:44] paavininanda commented on #2025
Since coala/coala#4673 has not been resolved, there are coverage issues.

[2017-12-27 00:48] jayvdb commented on #2191
JS plugins are hell.  They are what caused our `MarkdownBear` problems during the last GCI.

[2017-12-27 04:36] jayvdb opened #2201 "Add JSHint option enforce_trailing_comma"

[2017-12-27 07:03] paavininanda commented on #2099
There has been no work on this since a lot of time. I would like to work on this issue. I am going to write a bear for the first time. So i might make a lot of mistakes 🤒

[2017-12-27 08:52] SanketDG commented on #2099
@sotanishy still working on this one?

[2017-12-27 17:34] Makman2 commented on #2099
Reassigning due to inactivity.

[2017-12-28 01:57] Makman2 commented on #2130
Reassigned due to inactivity.

[2017-12-28 02:00] Makman2 commented on #2111
yes

[2017-12-28 02:11] Makman2 commented on #1334
Reassigning due to inactivity.

[2017-12-28 02:14] Makman2 commented on #1917
Reassigned due to inactivity.

[2017-12-28 11:58] ysahil97 commented on #1700
I would like to work on this issue.

[2017-12-29 05:46] nvzard commented on #2180
The newer version of `pylint`(1.8.1) is causing the appveyor build to fail not the travis-ci?

[2017-12-30 19:07] #1966 closed

[2017-12-30 20:27] #1664 closed

[2018-01-01 17:02] kriti21 commented on #1954
Please provide some more explanation about what needs to be done here @khanchi97 @Makman2

[2018-01-02 20:14] Makman2 opened #2207 "SpaceConsistencyBear: Remove leading blank lines option"
Similar to https://github.com/coala/coala-bears/issues/1793 , but instead of trailing blank lines, leading ones shall be removed.

The task:
Implement a new setting for `SpaceConsistencyBear` that controls the removal of leading blank lines.

[2018-01-02 20:15] khanchi97 commented on #2207
@Makman2 Can you assign me this one too ;)

[2018-01-03 04:19] ishanSrt commented on #2130
@Makman2 doesn't ESLintBear already use prettier ?

[2018-01-03 05:58] blazeu commented on #2130
@ishanSrt Nope.

ESLint itself can be configured (not by default) to use Prettier though.

But ESLint is only for JavaScript file, while Prettier supports additional file types as well.

[2018-01-03 06:02] ishanSrt commented on #2130
Thanks @blazeu . The PR by @Nshul says

format .js files.

thought it would be a waster to make this. Please check on that whether he is only doing it for JS.

[2018-01-03 09:59] nvzard opened #2208 "README.rst: Add comma in installation instructions"
Add a comma `,` before `run` to make the sentence more clear:

- To install the latest stable version run:
- To install the latest development version run:
- To also install all bears for coala at once run:

Eg: `To install the latest stable version, run:`

difficulty/newcomer

[2018-01-03 17:31] pareksha opened #2209 "Ignore comments for more than one bear don't work properly"
Even though the ignore statement has been added, the same bear is prompting.
[code]
And look what it did to the file
[code]
Two statements ignoring the same bear have been added.
I think that coala is reading only the second ignore statement.

[2018-01-03 17:44] palash25 opened #2210 "Add Frameworks/Tools metadata field"
I was looking at the GitCommitBear and noticed that in the bear metadata mentioned git as a language.
But git cannot be classified as a programming language.
IMO this `LANGUAGES = {'Git'}` should look something like this `TOOLS = {'Git'}`.

[2018-01-03 18:33] Makman2 commented on #2209
Looks like an issue on coala itself.

[2018-01-03 18:33] #2209 closed

[2018-01-03 18:35] Makman2 commented on #2209
Migrated to https://github.com/coala/coala/issues/5034

[2018-01-03 18:42] ishanSrt commented on #2209
can't get PMD to work correctly right now, can you duplicate this with any other bear? also what exactly was your file before. @pareksha

[2018-01-03 22:00] #2078 closed

[2018-01-04 16:01] newbazz opened #2212 "change `sudo: required` to `sudo: enabled` in .travis.yml file"
![image](https://user-images.githubusercontent.com/25884863/34572172-b3e27384-f196-11e7-8d0e-20e7fe77841e.png)

[2018-01-04 16:10] #1005 closed

[2018-01-05 16:26] palash25 commented on #1334
I'm a little confused about what this bear would do?
Will it just detect all the merge conflicts in a file? or will it provide the user some functionality to rectify merge conflicts? or will it just be used to detect conflict markers and remove them from the file?

[2018-01-05 21:07] Makman2 commented on #1334
that's it :+1:

[2018-01-06 05:23] Nshul commented on #2130
@ishanSrt sorry for late response, I had high fever so couldnt use my laptop for 2 days.
Prettier supports many file formats as provided here
[Languages supported by Prettier](https://prettier.io/docs/en/language-support.html)

My Linter Bear uses Prettier without any change so there is not any file restriction from my end, all those file formats supported by Prettier are supported by this bear.

[2018-01-06 08:17] jayvdb opened #2214 "Bear Proposal: Gherkin-lint"
https://github.com/vsiakka/gherkin-lint

[2018-01-06 08:20] jayvdb opened #2215 "Bear Proposal: detekt"
https://github.com/arturbosch/detekt

[2018-01-06 11:22] anctartica commented on #2208
I would like to work on this issue. Please assign this to me.

[2018-01-06 17:21] newbazz commented on #2191
@Makman2 can you plz explain the issue a bit.

[2018-01-06 17:32] newbazz commented on #1620
I would like to give a try on this issue.

[2018-01-06 19:15] newbazz opened #2216 "Update the jshint version"
Update the jshint version to `2.9.5`.

[2018-01-07 01:06] #2003 closed

[2018-01-07 10:27] surana-mudit commented on #2212
@Makman2  @newbazz  I would like to work on this issue

[2018-01-07 17:50] surana-mudit commented on #2212
@newbazz  Can you assign this issue to me .
Also I have made changes in the PR, so can you review it again.

[2018-01-07 20:53] shashank-b commented on #1954
I would like to work on this. Could someone please assign this to me?

[2018-01-07 20:56] khanchi97 commented on #1954
@kriti21 https://github.com/coala/coala-bears/issues/1954#issuecomment-322454204

[2018-01-07 20:57] khanchi97 commented on #1954
@shashank-b if you want to get assigned in less time then you can request on gitter channel to get assigned 😉

[2018-01-07 21:02] shashank-b commented on #1954
Thank you @khanchi97  :)

[2018-01-07 22:13] aepfli commented on #1675
just a note/input, maybe this should be a little bit more future proof, and handled with user configuration (defining checkstyle version) -> just a suggestion, because this Ticket was started in April and checkstyle also advanced to version 8.7 (http://checkstyle.sourceforge.net/releasenotes.html)

[2018-01-08 16:18] anctartica commented on #1951
please assign this issue to me @Makman2

[2018-01-08 16:21] Makman2 commented on #1951
Reassigning due to inactivity.

[2018-01-08 18:46] Makman2 opened #2223 "Build break generating docs"
https://circleci.com/gh/coala/coala-bears/8004#tests/containers/1

[2018-01-08 18:48] Makman2 commented on #2223
Oh the same happens in coala too: https://travis-ci.org/coala/coala/jobs/326437844

Looks like an upstream update breaking things again...

[2018-01-08 19:04] Makman2 commented on #2223
Confirmed: Upstream package update has broken our builds, the requirements inside `docs-requirements.txt` are responsible.

[2018-01-08 19:46] Makman2 commented on #2223
The culprit is `sphinx` 1.6.6. We should pin the version for now below 1.6.6 until we fixed it properly.

[2018-01-08 19:53] Makman2 opened #2225 "Allow sphinx version 1.6.6"
However, sphinx 1.6.6 breaks our builds currently, because it emits a warning:
https://travis-ci.org/coala/coala/jobs/326437844#L1821

See https://github.com/coala/coala-bears/issues/2223

[2018-01-08 20:02] Makman2 commented on #2225
In case `sphinx` does work bad, please file an upstream issue :+1:

[2018-01-08 20:38] #2223 closed

[2018-01-08 21:53] jayvdb opened #2226 "Bear Proposal: bashate"
https://github.com/openstack-dev/bashate

[2018-01-09 03:58] #1571 closed

[2018-01-09 12:40] thealphadollar commented on #2216
@newbazz I would like to begin my contribution by doing this. Can you please guide me a little on how to do it?

[2018-01-09 12:46] newbazz commented on #2216
just do `git grep jshint` and change the version in all the files ;P

[2018-01-09 16:46] parimatrix commented on #2226
@jayvdb I would like to try to work on this issue. Any specific / helpful thing that I should keep in mind ? Thanks !

[2018-01-09 18:00] thealphadollar commented on #2216
@newbazz  assign me.

[2018-01-10 17:41] newbazz commented on #1746
Can someone explain this issue.

[2018-01-11 05:37] palash25 commented on #2226
@parimatrix refer to http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html that's all you need.

[2018-01-11 10:12] sangamcse opened #2232 "Typo under Writing_Linter_Bears"
There is one typo in `Running and Testing our Bear` section.  Follow this link --> [Writing_Linter_Bears.html](http://api.coala.io/en/latest/Developers/Writing_Linter_Bears.html#running-and-testing-our-bear)
[code]
Change `PythonTutorialBear` to `PylintTutorialBear`.

[2018-01-11 13:46] newbazz commented on #1834
I would like to work on it. And btw the test coverage of this bear is too low
![image](https://user-images.githubusercontent.com/25884863/34828566-fb16b054-f703-11e7-9215-3b9454504a34.png)

[2018-01-12 12:08] kriti21 commented on #337
Please assign this issue to me.

[2018-01-12 13:31] manankalra commented on #836
Can someone can guide me a little on what all understanding do I need other than getting familiar with writing a linter bear that the coala documentation demonstrates to take up this issue?

[2018-01-12 15:29] AliabbasMerchant commented on #2232
Please assign this to me!

[2018-01-12 15:55] damngamerz commented on #1834
@newbazz sure work on it. I will un assign myself :)
also if you need any help dont hesitate to ping me up

[2018-01-12 16:20] Prabhat-IIT commented on #2215
I would like to take up this issue!! It'll have a steep learning curve. Can you plz guide me how should I go about doing it?

[2018-01-12 18:50] newbazz commented on #1834
@Makman2 but the test coverage is only 19% ;)

[2018-01-13 15:50] Makman2 commented on #2158
Unassigning due to inactivity.

[2018-01-13 20:16] Prabhat-IIT commented on #2158
@Makman2  how can I reproduce the error?

[2018-01-13 22:31] sangamcse opened #2237 "Bear Proposal: SwiftLint"
https://github.com/realm/SwiftLint

[2018-01-14 06:54] anctartica commented on #2226
please assign this to me @jayvdb

[2018-01-14 07:54] jackthepirate6 commented on #2232
Ask Someone to assign it to you on https://gitter.im/coala/coala

[2018-01-14 08:16] newbazz commented on #2232
@Makman2 assign this to @AliabbasMerchant ;P

[2018-01-14 09:29] 44rdvark commented on #1638
Can I work on this one?

[2018-01-14 13:06] yukiisbored commented on #1638
There you go @44rdvark

[2018-01-14 14:14] Makman2 commented on #2158
Write an `eslint_config` that requires a plugin you don't have installed, and run the bear.

[2018-01-14 14:53] Makman2 commented on #2226
@anctartica Sorry, @parimatrix was first.

[2018-01-14 14:53] Makman2 commented on #2215
@Prabhat-IIT please look into our docs.

[2018-01-14 14:58] Makman2 commented on #2237
Possible duplicate? https://github.com/coala/coala-bears/issues/11

[2018-01-14 15:09] sangamcse commented on #2237
Right @Makman2. I thought it is not available in the issue.

[2018-01-14 15:10] sangamcse commented on #2237
Closing the issue because other linter for swift is available.

[2018-01-14 15:10] #2237 closed

[2018-01-14 19:51] anctartica commented on #2214
please assign this to me @Makman2

[2018-01-15 17:06] Makman2 commented on #2216
It seems that https://github.com/coala/coala-bears/pull/2197 implicitly needs to do this. Because this issue originated from that PR, I would rather merge the change in that PR than from this issue :)

@thealphadollar I hope you don't mind ;)

Closing as soon as https://github.com/coala/coala-bears/pull/2197 is merged.

[2018-01-15 17:07] Makman2 commented on #2216
Other PR approved, closing.

[2018-01-15 17:07] #2216 closed

[2018-01-15 17:37] #2201 closed

[2018-01-15 18:58] Makman2 commented on #1620
Unassigned due to inactivity.

[2018-01-15 19:01] #2208 closed

[2018-01-15 19:16] Makman2 commented on #2210
Good point actually... but we don't handle a `TOOLS` field yet from coala side ;)

I'm actually not sure what we should do here...

CC @jayvdb

[2018-01-15 21:38] pradeepgangwar commented on #1917
@Makman2 I don't see URLBear in list of bears when i run `Coala -B`. Hence i am unable to test URLBear. Please help me how can i check its working.

[2018-01-16 10:53] palash25 commented on #2210
btw can you tell me where do all the other metadata fields reside?

[2018-01-16 17:20] #1834 closed

[2018-01-16 18:49] Makman2 commented on #2210
Those fields are defined in the bear, however they have to properly integrate into coala's features (like filtering for bears, displaying a summary for a bear, etc). Especially filtering is important, as people need a way to find the bear if they want to check git-related things.

[2018-01-16 18:52] Makman2 commented on #1917
because `coala` is written with a lowercase-C ;) Also it depends on whether you've installed all bears and maybe coala filters out bears that are used as dependencies.

[2018-01-16 22:10] Makman2 opened #2240 "ESLintBearTest failing on uncached build"
https://circleci.com/gh/coala/coala-bears/8107

[2018-01-16 22:10] Makman2 commented on #2240
Happens on https://github.com/coala/coala-bears/pull/2211

[2018-01-16 23:27] Makman2 commented on #2240
I identified the package causing this: `babel-eslint`

[2018-01-16 23:38] Makman2 commented on #2240
`8.1.0` is breaking it, everything below works.

[2018-01-17 00:24] Makman2 commented on #2191
I tested each npm package individually and found the culprit: `textlint-rule-ginger`
Version `2.1.2` is failing, `2.1.0` and `2.1.1` are not.

[2018-01-17 10:36] prakashdanish commented on #1917
`URLBear` is a dependency bear, it's result will not be shown in the coala cli but rather used by bears such as `InvalidLinkBear` or `MementoBear`.

[2018-01-17 12:38] manankalra commented on #836
@sils @Makman2
What should `create_arguments` return for a global linter bear which implements a custom processing function and accepts no command-line arguments of any sort?

[2018-01-17 17:14] Makman2 commented on #836
Then you return an empty iterable ;)

Hm I actually think it makes kind of sense, `create_arguments` returns an iterable / sequence of arguments to pass to the program. If you don't want to pass any additional arguments, just return `[]` or `tuple()` ;)

[2018-01-18 12:52] palash25 commented on #1334
@Makman2 I wrote some logic to detect the possible merge conflicts. The merge conflicts are detected and printed as debug messages in the correct order but when I do yield the results the first conflict appears at the last and the rest are ordered.
Here's the code:
[code]

Here's the coala output:
[code]
Shouldn't the **conflict found at lines 4 and 9** be at the top?
Here's the conflict file:
[co

[2018-01-18 15:21] vibhanshuvaibhav commented on #559
I would like to work on this.

[2018-01-18 16:38] adtac commented on #559
I can't assign you until you're in the org. If you haven't already, go on gitter and say "Hello world". Someone will invite you. Once you accept the invite, ask again and I'll assign you.

[2018-01-18 16:44] Makman2 commented on #1334
Could you move such code discussions rather to the PR? Discussing implementation details on issues blasts the discussion log.

[2018-01-18 16:49] palash25 commented on #1334
Ok I'll make a half baked PR

[2018-01-18 17:04] vibhanshuvaibhav commented on #559
I've done that already.

[2018-01-18 19:19] manankalra commented on #836
I'm facing problems while writing a test for it and couldn't come with a solution.
The issue is -
Initialising ```file_dict ``` with the absolute paths of the files that I need to test seems to have no impact on the ```uut``` object and the bear just checks for all the files in the current directory from where ```pytest -k DodgyBearTest``` ran. This is so because _dodgy_ accepts no command-line ar

[2018-01-18 19:40] newbazz opened #2243 "Correct the docstring indentation"
Correct the docstring indentation of CPPLintBear
![image](https://user-images.githubusercontent.com/25884863/35117714-7d8fee2c-fcb5-11e7-8a8a-0eb1aab1b93b.png)
difficulty/newcomer

[2018-01-18 21:59] Makman2 commented on #836
If `dodgy` really accepts no command line arguments, that's actually a huge flaw imo of `dodgy` itself.
We should really consider using `dodgy` at all then.

However, to make it work anyway and integrate into the coala-ecosystem, we can now deploy some OS capabilities: We could use temporary files. You create a temporary directory and symbolic mappings to the files that shall be analyzed, all endi

[2018-01-19 12:52] manankalra commented on #836
So what I'm getting is:
- create temporary files in the root directory i.e. ```coala-bears```.
- run ```DodgyBearTest```.
- delete those temp files under ```tearDown()```.

[2018-01-19 18:56] kriti21 commented on #2002
Please assign this issue to me @Makman2

[2018-01-19 21:54] Utkarsh-Mishra-CIC commented on #2243
i would like to work on this issue.

[2018-01-20 01:36] Makman2 commented on #836
This won't apply just for tests, but how the bear operates in general. But I would really suggest you sync up with the `dodgy`-guys and ask why they don't have any arguments to control the linting process.

[2018-01-20 13:26] jackthepirate6 commented on #2145
I will work on this issue please assign me

[2018-01-20 13:43] kriti21 commented on #1946
Please review my PR [#2233](https://github.com/coala/coala-bears/pull/2233) @Makman2 @jayvdb

[2018-01-20 15:02] manankalra commented on #836
@Makman2 I have already written an email to one of the `dodgy`-guys -- didn't get a reply.
Any idea why my tests are not being executed during the build? I'm getting complete coverage locally.

[2018-01-20 15:52] Makman2 commented on #836
Probably dodgy not installed in CI.

[2018-01-20 17:33] manankalra commented on #836
Anything I need to take care of?

[2018-01-20 21:06] Makman2 commented on #836
Yes, you have to install it ;)

[2018-01-21 09:51] ankurg22 commented on #2212
Please assign this to me. I would like to work.

[2018-01-21 10:25] ishanSrt commented on #2108
How should one proceed with this?

[2018-01-21 10:36] ishanSrt commented on #2010
You mean line like 210 and 215 @damngamerz
I would like to take this issue

[2018-01-21 11:10] newbazz commented on #2212
ping @Makman2

[2018-01-21 13:26] paavininanda commented on #2150
@yashraj-Dhanuka Can i take this up ?

[2018-01-21 14:36] Makman2 commented on #2150
It seems pylama is a wrapper for many other linters, so it does what coala tries to achieve, but on a more specialized and primitive level:

    pydocstyle (formerly pep257 by Vladimir Keleshev) © 2014, Amir Rachum;
    PyFlakes © 2005-2013, Kevin Watters;
    Mccabe © Ned Batchelder;
    Pylint © 2013, Logilab (should be installed 'pylama_pylint' module);
    Radon © Michele Lacchia
    gjslint ©

[2018-01-21 14:36] #2150 closed

[2018-01-21 15:04] Makman2 commented on #2212
Reassigning due to inactivity.

[2018-01-21 16:14] newbazz opened #2248 "CPPLintBear:Implement infinite line length if max_line_length is 0"

[2018-01-21 16:20] newbazz commented on #2248
Related to issue https://github.com/coala/coala-bears/issues/1620

[2018-01-21 16:21] newbazz commented on #2248
assigning newbazz automatically makes gitmate label the issue low!! ;P

[2018-01-21 17:00] pareksha commented on #1848
@Makman2 could you assign me this issue. I would like to work on this.

[2018-01-21 18:04] ankurg22 commented on #2212
@Makman2 I accepted the invitation. You can assign me this. :)

[2018-01-21 18:30] duskybomb commented on #2243
Assign this issue to me @Makman2

[2018-01-21 18:52] duskybomb commented on #2050
@Makman2 assign this to me

[2018-01-21 19:10] paavininanda commented on #1849
@vaibhavsingh97 Can i take this up? I don't think you are working on this :P

[2018-01-21 19:11] vaibhavsingh97 commented on #1849
Yes, you can take this 😅

On Mon 22 Jan, 2018, 12:40 AM Paavini Nanda, <notifications@github.com>
wrote:

[2018-01-21 21:38] Makman2 commented on #2050
@duskybomb You already have a newcomer issue assigned.

[2018-01-21 21:38] Makman2 commented on #2050
However, unassigning due to inactvitiy.

[2018-01-21 21:42] Makman2 commented on #2108
@ishanSrt There are some copyright checking tools out there. Actually I think we even have specific issues for them, could you look around in the issue-tracker here?

[2018-01-21 23:18] #2179 closed

[2018-01-22 06:26] newbazz opened #2249 "GNUIndentBear: Add infinite line length when max_line_length is set to 0"
difficulty/low
I would like to work on it.

[2018-01-22 06:26] newbazz commented on #2249
@Makman2 assign this to me.

[2018-01-22 10:52] manankalra commented on #836
@Makman2 I know this will be closed in favour of a better alternative but any guesses on why the tests are failing? They are all passing locally. Is writing and deleting new files in the `coala-bears` directory or any other directory allowed during the ci build process?
I've added dodgy in `bear-requirements.txt`.

[2018-01-22 13:19] amisha2016 commented on #107
I would like to work on this issue. @Makman2 Would you assign me this issue?

[2018-01-22 15:54] joaomcarvalho commented on #2050
Anyone working on this issue? I would like to help @Makman2

[2018-01-22 16:10] Makman2 commented on #50
Reassigning due to inactivity.

[2018-01-22 16:39] Makman2 commented on #836
It definitely is.

And I don't know the problem on CI. However this is something you should discuss on the PR itself because it's implementation detail ;)

[2018-01-22 17:03] joaomcarvalho commented on #2050
@Makman2 done :)

[2018-01-22 17:13] kriti21 opened #2250 "Add support for writing ignore comment in Jinja2Bear."

[2018-01-22 19:00] palash25 opened #2252 "Add Solium Linter Bear"
A linter bear for solidity https://github.com/duaraghav8/Solium

Would love to work on this.

[2018-01-22 22:28] manankalra commented on #358
@Makman2 I would like to take this.

[2018-01-23 03:58] EverWinter23 commented on #2050
I would like to help.

[2018-01-23 08:29] ankan17 commented on #2243
Anybody is not yet assigned. Can I work on this issue?

[2018-01-23 12:14] newbazz commented on #2243
@Makman2

[2018-01-23 15:08] EverWinter23 commented on #2252
Would love to work on this issue.

[2018-01-24 04:13] palash25 commented on #2252
@EverWinter23 as you can see from the issue description I've already claimed it. If I'm not able to implement it in a few days then you can claim it. There are plenty of other linter bears to be implemented just look through the old issues and you might find something that's a good fit for you.

[2018-01-24 09:47] amisha2016 commented on #107
@Makman2 @AbdealiJK I am able to list all the links with id. Now the next target is to check whether that link is valid or not. I have tried request and urllib3 libraries but they do not check for HTML id's like [http://doc.owncloud.org/server/8.2/admin_manual/#installation](url). Would you assist me in this?

[2018-01-24 14:17] manankalra commented on #358
@Makman2
This is how Vet handles arguments:
- If you specify that a particular argument is true (`-randomarg=true`), then only that functionality of the tool will run as by default all the arguments are set to true.
- If you specify that a particular argument is false (`-randomarg=false`), then the usual behavior will occur i.e. only `randomarg` will not run.

Is it required to handle both the beh

[2018-01-24 14:32] joaomcarvalho commented on #2050
@Makman2 Sorry to bother you again, but can you assign me?

[2018-01-24 15:01] Makman2 commented on #358
What you think is best, I don't fully understand what arguments are all true by default in Vet. Make the bear operate like all other bears ;)

[2018-01-24 15:03] Makman2 commented on #107
I don't know the details how those "ids" work, so can't help you there.

[2018-01-24 15:04] Makman2 commented on #2243
@Utkarsh-Mishra-CIC was first, and meanwhile he has accepted the invite.

[2018-01-24 16:11] Utkarsh-Mishra-CIC commented on #2243
how you need those indentations to be changed? they are already at a tab shift

[2018-01-24 16:12] newbazz commented on #2243
@Utkarsh-Mishra-CIC look st some other bears ;P

[2018-01-24 16:24] Makman2 commented on #2250
Doesn't this belong to the coala/coala core repository?

[2018-01-24 17:13] kriti21 commented on #2250
Oh Sorry! I will close this issue and open another one in coala/coala core repository.

[2018-01-24 17:16] #2250 closed

[2018-01-24 19:24] EverWinter23 commented on #2131
Would like to work on it.

[2018-01-25 09:20] Utkarsh-Mishra-CIC commented on #2243
Please review the PR [here](https://github.com/coala/coala-bears/pull/2254)

[2018-01-26 05:56] newbazz commented on #2249
A part of https://github.com/coala/coala-bears/issues/1620

[2018-01-26 10:30] EverWinter23 commented on #1945
db_inspect.py
|  49| accumulators·=·session.query(Accumulator).filter(Accumulator.pattern·==·pattern).all()
|  50| monostables·=·session.query(Monostable).filter(Monostable.pattern·==·pattern).all()
|    | [NORMAL] PEP8Bear:
|    | The code does not comply to PEP8.
|    | +4 -2 in /home/frost/in/db_inspect.py
|    | *0: Do nothing
|    |  1: Open file(s)
|    |  2: Apply patch
|    |  3: Show patc

[2018-01-26 12:21] EverWinter23 commented on #1589
macOs is required to work with swiftlint. I withdraw.

[2018-01-26 13:26] JudiciaryPag commented on #1945
Excellent. At the moment I'm using `0.12.0.dev20171110210444`

[2018-01-26 16:45] Makman2 commented on #1945
Probably an update from `pylint`'s side? It's been a while since we have stopped releasing development-versions on pypi.

[2018-01-26 16:45] Makman2 commented on #1945
In that case we should increase the minimum version of `pylint` :+1:

[2018-01-26 17:18] manankalra commented on #359
@Makman2
In this an additional flag needs to be taken care of, right?
I would like to take this. :)

[2018-01-26 17:19] anctartica commented on #2191
do you know why certain versions are causing builds to fail? @Makman2

[2018-01-26 17:25] anctartica commented on #2226
@parimatrix are you still working on this?

[2018-01-26 18:52] anctartica commented on #1395
@Makman2 please assign this to me :)

[2018-01-26 19:36] EverWinter23 commented on #1945
Since this is the output of the pep8 Bear which does not use pylint, I think the underlying issue is something else.

[2018-01-27 08:30] parimatrix commented on #2226
@anctartica No. I was working on something else. Sorry for the late reply. You can start working if you would want to.

[2018-01-27 16:00] Makman2 commented on #2191
Seems the newer versions have a different linting behaviour, and those maintainers weren't careful enough.

[2018-01-27 16:01] Makman2 commented on #1945
Oops my bad, I've misread the title. Yes then something in PEP8 may have changed :+1:

[2018-01-27 16:14] #2145 closed

[2018-01-27 18:28] manankalra opened #2259 "DockerfileLintBear: Improve docstring"
https://github.com/projectatomic/dockerfile_lint/blob/master/README.md#dockerfile-lint

[2018-01-27 18:43] manankalra commented on #101
https://gitlab.com/skyzohkey/vala-linter
https://github.com/elementary/vala-lint

[2018-01-27 18:57] manankalra commented on #101
Would like to work on this if a Vala linter is still needed. ;)

[2018-01-27 19:36] Makman2 commented on #2259
What do you want to exactly improve?

Note: Copying texts from other sources needs to be checked for license issues^^

[2018-01-27 19:47] manankalra commented on #2259
- Check -> Checks
- semantic -> semantics/semantic attributes
- it (after the first sentence) should have capitalized I.
- Mentioned link in the docstring can be added under the metadata attribute `SEE_MORE`.

Yeah, the link is just for reference. Btw, the content of the docstring is already copied from the same source. Also, it's MIT licensed. :)

[2018-01-27 19:57] Makman2 commented on #2259
`SEE_MORE` usually contains the official link to the tool, and is not so precise like pointing to a documentation. I think we should follow that convention instead of adding this link to the readme.

[2018-01-27 20:03] manankalra commented on #2259
By this, I meant the link which is already specified in the docstring of the DockerfileLintBear should be added to `SEE_MORE`. Yes, it's the official link to the tool wrapped for this linter bear. :)

[2018-01-27 23:39] #2243 closed

[2018-01-28 08:34] Crphang commented on #2259
Can I be assigned to work on this? Really hope to get started on contributing!

[2018-01-28 10:26] amisha2016 commented on #107
@Makman2  I have written code for the same issue. Before sending a good PR I want you to have a preview of it.
`import os
import requests
from bs4 import BeautifulSoup

os.chdir('_build/html/Developers')

files = os.listdir()

pages = []

for i in files:
    url = 'http://api.coala.io/en/latest/Developers/' + i
    pages.append(url)

for item in pages:
    page = requests.get(item)
    soup = Beau

[2018-01-28 12:27] pareksha commented on #1848
@Makman2 by default if the language is not identified by the ``guess_language``, that is, it is unable to be guessed, the bear is designed to use ``en-US``, making it the default language. So, I felt it best to fix the problem by using ``en-US`` as the language even when an invalid language (like ``st``) is guessed, supplying the user with the warning of the same. Would it be alright? I need your

[2018-01-28 15:17] Makman2 commented on #1848
Yeah that sounds good :+1:

[2018-01-28 15:19] Makman2 commented on #107
The bear needs to implement this functionality, and I think this is out of scope for coala's framework, thus it should be kept here.

And for reviews, please send PRs, implementation details shouldn't be discussed on issues (except they are crucial for solving the issue).

[2018-01-28 15:28] amisha2016 commented on #107
@Makman2 Okay. Then, I will make a new bear for it and send PR.:)

[2018-01-28 15:38] Makman2 commented on #107
This should go into `InvalidLinkBear` instead of creating a new one :+1:

[2018-01-28 15:38] anctartica opened #2261 "PycodestyleBearTest.py: Rename test"
The last two tests for PycodestyleBear have the same name. One of them needs to be renamed.

[2018-01-28 15:49] amisha2016 commented on #107
Okay.

[2018-01-28 19:58] asrikanth27 commented on #2261
@anctartica I'd like to take up this issue!

[2018-01-29 06:24] asrikanth27 commented on #2261
@Makman2 What should the last test be renamed too?

[2018-01-29 15:24] newbazz opened #2265 "PyCodeStyleBear: Add infinite line length option when max_line_length is set to 0."
difficulty/low

[2018-01-29 15:27] newbazz commented on #2265
@Makman2 assign me ;P

[2018-01-30 11:29] Vamshi99 commented on #972
Maintainers, unassign me.

[2018-01-30 16:30] newbazz opened #2266 "CPPLintBear: make tests more precise."
@Makman2 assign this to me n label it as well.

[2018-01-30 18:26] yash-nisar commented on #2266
Wasn't this supposed to be solved by a newcomer ? 😛

[2018-01-30 18:27] newbazz commented on #2266
This wasnt a newcomer ;P @yash-nisar

[2018-01-30 20:07] sangamcse commented on #1973
Is it still open? Can I work on this?

[2018-01-31 16:45] newbazz commented on #2259
@Makman2

[2018-01-31 18:55] apoorvaagupta commented on #2232
Hello, May I take this issue if no one is working on it?

[2018-02-01 03:22] nvzard commented on #1973
Is this a duplicate issue? coz I already have a PR https://github.com/coala/coala-bears/pull/2184

[2018-02-01 15:43] sangamcse commented on #2181
@Makman2 Please add the assignee 😄

[2018-02-02 17:35] Pradhvan commented on #2232
If @AliabbasMerchant  is not working on it. Can someone assign this issue to me?

[2018-02-02 17:38] ishanSrt commented on #2232
This is not a typo but a mistake.

[2018-02-02 17:53] anctartica commented on #2152
Please assign this to me @Makman2

[2018-02-03 13:54] Pradhvan commented on #169
I want to work on this issue, please assign it to me.

[2018-02-03 13:57] Makman2 commented on #169
Unassigned due to inactivity.

[2018-02-03 14:06] Makman2 commented on #2152
Unassigning due to inactivity.

[2018-02-03 14:11] Makman2 commented on #2181
Issue looks rather stale @sangamcse

[2018-02-03 14:37] Makman2 commented on #1973
Seems the solutions are same. In this case, please coordinate. @nvzard check that your PR solves this issue too to be sure :+1:

[2018-02-04 09:08] pareksha commented on #1176
@Makman2 I would like to take up this issue. Please assign me.

[2018-02-04 11:28] biscuitsnake commented on #2181
should probably add the blocked label

[2018-02-06 19:25] manankalra commented on #101
I'm unable to find a suitable Vala linter that is being maintained currently.
Although, https://github.com/elementary/vala-lint is a good option but this one isn't available on any package manager and requires building it from source using build tools like Meson and Ninja. How do I approach wrapping it?

[2018-02-06 19:34] manankalra commented on #972
@Makman2
Assign it to me, please. :)

[2018-02-07 12:28] kriti21 commented on #2010
Does this issue refer to https://github.com/coala/coala-bears/blob/master/bears/documentation/DocumentationStyleBear.py ?

[2018-02-07 12:33] kriti21 commented on #1876
Please assign this to me.

[2018-02-07 12:37] ishanSrt commented on #2010
Yes most probably

[2018-02-07 13:12] gaocegege commented on #1876
@k4ni5h Thank you and you could use corobo to assign it to you in gitter.

[2018-02-07 18:16] kriti21 commented on #2010
Please assign this issue to me.

[2018-02-07 21:43] newbazz opened #2272 "CoffeeLintBear: add infinite line length"
Allow infinite line length when `max_line_length` is set to zero.
difficulty/low

[2018-02-08 11:14] kriti21 commented on #2010
This issue is not due to any fault in the DocumentationStyleBear. The file to be corrected is https://github.com/coala/coala/blob/master/coalib/results/AbsolutePosition.py . There is an extra "r" in the beginning of the docstring which needs to be removed. Refer https://github.com/coala/coala/blob/1d9eb29c179359bdccb050e39fec14aed2ec2073/coalib/results/AbsolutePosition.py#L32

[2018-02-08 11:16] kriti21 commented on #2010
Since it is a part of main coala repository, I think this issue can be closed here and opened in coala repository with correct description. This would be a good issue for any newcomer. Can I do that @Makman2 @ishanSrt @damngamerz

[2018-02-08 11:38] kriti21 commented on #620
Does this need configuring of all the bears available for python ?

[2018-02-08 11:38] kriti21 commented on #1104
Please assign this issue to me.

[2018-02-08 11:55] ishanSrt commented on #2010
@kriti21 I don't think you understand the concept of raw strings in python. Check them out! This is a valid bug (although I didn't test it myself) if the gist produced by **damngamerz** is the output of `DocumentationStyleBear`. This issue seems to be in the correct repository too. The only thing that could be corrected is @Makman2 can you change the title `DocStyleBear-->DocumentationStyleBear` a

[2018-02-08 13:19] kriti21 commented on #2010
@ishanSrt I read about raw strings in python. Sorry for the misunderstanding. However, I am not able to generate this bug myself. I did run `DocumentationStyleBear` on some file but any such output did not appear. Please help.

[2018-02-08 15:10] ishanSrt commented on #2010
@kriti21 will get back to you on this as soon as I get time 👍

[2018-02-08 15:19] kriti21 commented on #2010
Alright

[2018-02-09 11:19] kriti21 opened #2273 "DocumentationStyleBear should display a list of supported languages"
DocumentationStyleBear prompts the user for language to use on the file. User can enter multiple options for the same thing like Python, python2 or python3 or C++ instead of cpp etc. Better would be if the list of supported languages are displayed and the user can choose and type the one applicable.

[2018-02-09 19:53] Makman2 commented on #2273
So coala runs and the user is queried when he has duplicated languages?
I would rather
- throw an error quickly, or
- Raise a warning and ignore that (both language strings refer to the same language)

Another query would make coala even more cluttered, and as this is settings-related, it would be unusual to have a special exception for the language setting (there are probably other settings for b

[2018-02-09 19:58] Makman2 commented on #620
Choose one where those new features would fit best @kriti21 :)

[2018-02-10 04:12] kriti21 commented on #2273
DocumentationStyleBear being generic asks the user to enter the language for which this bear is being used. So the problem is cpp is valid but C++ is not (bear does not support C++ and returns error). Similarly python is valid but python2 and python3 are not. Using a list of supported languages to select from would therefore make more sense.
This requires only modification of the existing query. @

[2018-02-10 07:48] kriti21 opened #2274 "DocumentationStyleBear asks for redundant queries"
Example

[code]
Both of these queries ask for the same thing i.e. the programming language used in the file. One of these should be removed.

[2018-02-10 07:50] kriti21 opened #2275 "Add query to prompt the user for docstyle used for documenting code in the DocumentationStyleBear"

[2018-02-10 17:28] kriti21 commented on #620
Please assign this issue to me.

[2018-02-10 17:51] kriti21 opened #2277 "Improve documentation of CSVLintBear"

[2018-02-12 08:07] kriti21 commented on #620
Please review my above PR @sils

[2018-02-12 08:43] pareksha commented on #1176
@Makman2 in reference to my previous comment ( https://github.com/coala/coala-bears/issues/1176#issuecomment-362894458 ), this issue needs to be closed. Please assign me https://github.com/coala/coala/issues/5129 so that I can solve this.

[2018-02-12 09:07] sils commented on #620
Sorry, I don't have the time to review this, if you want reviews, perform
reviews for others so they help you out as well.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
Founder of http://coala.io/, http://viperdev.io/ and http://gitmate.io/

On 12 February 2018 at 09:07, Kriti Rohilla <notifications@github.com>
wrote:

[2018-02-12 12:44] kriti21 commented on #2010
@ishanSrt you got some time to help me in generating this issue locally ?

[2018-02-12 13:36] ishanSrt commented on #2010
@kriti21 sorry for the delay 😅. The issue can be replicated exactly as mentioned in the gist. Just tried it out myself with `DocumentationStyleBear`. Just take a file which already has a  **raw** `docstring` and you'll be good to go!

[2018-02-12 13:39] ishanSrt commented on #2010
Here is the file `AbsolutePosition.py` after `DocumentationStyleBear` ran on it:
[code]

[2018-02-12 13:43] kriti21 commented on #2010
Thanks a lot @ishanSrt

[2018-02-12 19:03] MacBox7 commented on #1481
Would like to create a bear for it. Should I assign it to myself ?

[2018-02-12 21:58] Makman2 commented on #1176
I would like to keep this open as a special case where we want to be sure it works. I'll mark it blocked.

[2018-02-12 21:58] Makman2 commented on #1176
Blocked by https://github.com/coala/coala/issues/5129

[2018-02-12 22:02] Makman2 commented on #2273
The query is performed through the standard setting-collection facility, changing this is highly non-trivial and I would refrain from it for just this special case. The current query is a generic one that happens for any query where values are missing.

We could maybe add some suggestion support in general for setting-queries, but this is also not so easy and needs to be thought about intensively

[2018-02-12 22:04] Makman2 commented on #2277
What do you like to have improved specifically? :)

[2018-02-12 22:06] Makman2 commented on #2275
The user is prompted when the setting is missing.

I guess this goes into the direction of https://github.com/coala/coala-bears/issues/2273 ;)

[2018-02-12 22:07] Makman2 commented on #2274
I guess you have two sections where both don't have the `language` set?
Could you provide your coafile anyway so we can immediately reproduce? :)

[2018-02-12 22:08] Makman2 commented on #2274
In case of

this is rather a `coala/coala` issue.

We have now 2 options:
- Ask only once for the same setting
- Ask for all sections, but also display the section name so users know where the setting belongs to. Because it might be that two different sections, e.g. `js` and `python` have to use different languages.

[2018-02-13 07:51] kriti21 commented on #2275
Should I close this one then? That one needs to be opened in the `coala/coala` repo while this still needs change in DocumentationStyleBear i think.

[2018-02-13 07:55] kriti21 commented on #2275
Should I close this one in that case ? @Makman2

[2018-02-13 10:57] #1973 closed

[2018-02-13 10:59] Makman2 commented on #2275
No let's keep it open as a reminder. Let's decide once #2273 is settled :+1:

[2018-02-13 10:59] Makman2 commented on #2275
Blocked by https://github.com/coala/coala-bears/issues/2273

[2018-02-13 11:31] kriti21 commented on #2274
@Makman2 here is my `.coafile` file

[code]

[2018-02-13 12:22] Makman2 commented on #2274
@kriti21 Could you create a minimum working example? :) That would be nice :v:

[2018-02-13 13:30] kriti21 commented on #2274
Here it is.

[code]

[2018-02-13 16:36] Makman2 commented on #2274
I guess I'm right, some bears need a `language` setting set.

Moving the issue to `coala/coala`.

[2018-02-13 16:39] kriti21 commented on #2274
Okay. So i should close this one here.

[2018-02-13 16:42] Makman2 commented on #2274
I still think `coala/coala` is responsible, it's related to so many bears that I'll keep it open here. Sorry for the confusion.

[2018-02-13 16:43] kriti21 commented on #2274
No issues :)

[2018-02-13 16:46] Naveenaidu commented on #1192
Can I take up the issue?
Could someone please assign me this.

[2018-02-13 16:49] Makman2 commented on #1192
Please accept the org invite :+1:

[2018-02-14 06:16] jackthepirate6 commented on #1351
I would like to take this issue

[2018-02-14 06:22] Monal5031 commented on #1351
@jackthepirate6 I've already sent a PR and made the required changes but the issue here is that when we do `self.git_commit(commit)` it somehow deletes the extra newlines such that there can be maximum of 2 consecutive, thats why the tests are failing.

[2018-02-14 06:24] jackthepirate6 commented on #1351
ok

[2018-02-14 08:27] MacBox7 commented on #873
Can this be assigned to me ?

[2018-02-14 08:42] harshhx17 commented on #876
Please assign this issue to me.😁

[2018-02-14 12:26] Makman2 commented on #1351
I've actually tested that with git, and it seems git automatically removes redundant newlines. So passing a message like
[code]
can never occur, because git postprocesses the message. But what's possible is
[code]
Then it keeps the message as is without a blankline.

[2018-02-14 12:44] MacBox7 commented on #873
Is there some problem with the implementation? Because the bear doesn't fix all issues in one go. I have to run it multiple times on the same file to patch all the inconsistency.

Tested on the following code:
`# Import should be separated by end of line
import sys, math

# Multiple statements in one line is not allowed
for i in range(10): print "foo"; print "bar"

# comparison to None should be '

[2018-02-14 13:07] Monal5031 commented on #1351
Yes that is infact what I earlier reported in the gitter chat sometime near start of GCI @Makman2
So
[code]
Is the expected commit message, thus making it specific to have two newlines, please correct me if I am going the wrong way.

[2018-02-14 13:58] Makman2 commented on #1351
Yeah this issue is about to implement a setting enforcing this.

[2018-02-14 17:09] Naveenaidu commented on #1945
Hello,If the issue is still open, I would like to be assigned to this issue.

[2018-02-14 18:41] Makman2 commented on #873
Is this related to the issue?

[2018-02-15 03:16] jackthepirate6 commented on #2081
i would like to take this up

[2018-02-15 06:34] kriti21 commented on #2277
Perhaps some more details on what respects the csv file is being validated or what part of the code validates the following things:
1) The delimiters used to separate the data fields
2) Whether each record is being kept in a separate line or not
3) A header is included with the list of column names in the first line of the file. (although optional)
4) Check if the header is delimited in the same w

[2018-02-15 12:55] Makman2 commented on #873
It shouldn't be necessary to run coala multiple times (we aren't LaTeX 😅 ), so yeah this is something I would consider a bug --> separate issue.

[2018-02-15 12:55] Makman2 commented on #2277
Indeed, it's quite sparse :)

[2018-02-15 13:01] MacBox7 commented on #873
Figured it out, to patch all changes in one go had to use --apply-patches

[2018-02-15 14:21] Naveenaidu commented on #1945
db_inspect.py
| 49| accumulators·=·session.query(Accumulator).filter(Accumulator.pattern·==·pattern).all()
| 50| monostables·=·session.query(Monostable).filter(Monostable.pattern·==·pattern).all()
| | [NORMAL] PEP8Bear:
| | The code does not comply to PEP8.
| | +4 -2 in /home/frost/in/db_inspect.py
| | *0: Do nothing
| | 1: Open file(s)
| | 2: Apply patch
| | 3: Show patch
| | 4: Add ignore commen

[2018-02-15 15:39] #1945 closed

[2018-02-16 09:29] MacBox7 commented on #1637
Sounds interesting tool, would like to create Bear for it. Please assign it to me @jayvdb

[2018-02-16 14:05] Makman2 commented on #1627
Reassigned due to inactivity.

[2018-02-16 14:07] Makman2 commented on #1627
Due to documentation reasons, unassigning, but this issue is still not available.

[2018-02-16 16:00] ksangam68 commented on #1627
Please assign me the issue 😄

[2018-02-16 16:13] ksangam68 commented on #1627
Please assign me this issue 😄

[2018-02-17 13:36] Makman2 commented on #1627
☝️ https://github.com/coala/coala-bears/issues/1627#issuecomment-366244396

[2018-02-17 19:42] chetasr commented on #2080
I would like to work on this issue

[2018-02-18 10:28] jackthepirate6 commented on #2084
I would like to take this up

[2018-02-19 10:34] MacBox7 commented on #1637
I understand how to create linter bears, but unable to figure out what type of format would be best for displaying output generated from PyT. The output is as shown below:

![](https://raw.githubusercontent.com/python-security/pyt/master/readme_static_files/pyt_example.png)

What should all information be extracted from the following output? Since the named groups provided by linter class are limi

[2018-02-19 11:42] Makman2 commented on #1360
Unassigning due to inactivity.

[2018-02-19 11:43] Makman2 commented on #1353
Unassigning due to inactivity.

[2018-02-19 12:56] jayvdb commented on #1637
The `@linter` decorator is probably not the best way to approach this type of output.

Each vulnerability should be a `Result`.  At best you can extract the filename and lines of the vulnerability and store them in the `Result`.

[2018-02-19 14:00] MacBox7 commented on #1637
The pyt primarily gives three important information:

1. The line where user input is taken (line no: 6 for the above example).
2. Lines where the input variable is modified (line no: 8 and line no: 12)
3. Finally, the line where critical operation is being performed using that variable (line no: 11)

So, the way I am thinking to approach this task is:

- Execute the file using pyt with the help o

[2018-02-19 16:27] jayvdb commented on #1637
that sounds good so far.  `@linter` is ok, but not for its limited linter output regexes.  Providing your own `process_output` is the right approach.

One nasty possible problem is that a vulnerability may actually include multiple filenames.  I dont know if pyt detects such problems, but I am concerned because it is listing the filename multiple times in the same report.  I suggest you look at a

[2018-02-20 05:55] MacBox7 commented on #1637
@jayvdb yes there is an option for specifying project root when scanning happens in multiple files. Thus, every output is accompanied by the filename. So, I think its a case of Global Bear. Could you please guide me how to approach it? Any previous bear that works in the same way? Or does it requires some changes to be done in coala's corelib ?

[2018-02-20 18:58] Makman2 opened #2286 "Add bear to support Mercurial version control system"
From https://github.com/coala/coala/issues/5185

[2018-02-21 13:36] Makman2 opened #2287 "DockerfileLintBear: Add SEE_MORE attribute"
Separated from https://github.com/coala/coala-bears/issues/2259:

The mentioned link is https://github.com/projectatomic/dockerfile_lint#dockerfile-lint

[2018-02-21 20:13] siddharthkv7 commented on #2287
Hello. I would like to work on this issue. It would be great if it could be assigned to me.

[2018-02-22 08:14] manankalra commented on #972
@adtac @Makman2

GoMetaLinter supports enabling and disabling individual linters.

This is what the scenario is:
- A few linters run and some of them are disabled by default. https://goo.gl/gMirRv
- For enabling an already disabled linter or for disabling a linter which it runs by defaut, flags can be used.
- The problem is: those flags do not accept comma-separated or space-separated lists (for e

[2018-02-22 10:07] Mohit17067 commented on #2108
I would like to work on this. How should I proceed?

[2018-02-22 12:35] #1620 closed

[2018-02-22 12:35] #2248 closed

[2018-02-22 13:12] Makman2 commented on #2108
Find a copyright check tool and lookup in our docs how to write bears.

[2018-02-22 13:14] Makman2 commented on #972
yeah sounds good @manankalra , however this

was more related to this:

;)

[2018-02-22 13:25] Makman2 commented on #1946
I guess the CircleCI option I've turned is what we want, we don't have to modify our CI scripts:

![screenshot from 2018-02-07 23-10-04](https://user-images.githubusercontent.com/6023916/36164262-25880174-10ec-11e8-8ad3-f07359978820.png)

[2018-02-22 13:25] #1946 closed

[2018-02-22 13:26] Makman2 commented on #1946
@jayvdb reopen in case this is not what you've had in mind^^

[2018-02-22 13:33] #2212 closed

[2018-02-22 13:43] Makman2 opened #2290 "PrettierLintBear: Add more tests"
We only have 2 test files, this is a bit sparse.

[2018-02-22 13:43] Makman2 commented on #2290
Blocked until merge of https://github.com/coala/coala-bears/pull/2206

[2018-02-22 14:29] #359 closed

[2018-02-22 14:39] manankalra commented on #972
Yeah
and because of

dropping bears that are supported by it can be given a thought. ;)

[2018-02-22 15:51] #2130 closed

[2018-02-22 16:58] Mohit17067 commented on #2108
@Makman2 Got a doubt, Shouldn't all the bears already made will have to add a copyright notice to them.

[2018-02-22 17:29] Mohit17067 commented on #2108
Could you please explain the issue a bit more that when will the bear check for copyright and what's the exact meaning of bear 'proposal' here?

[2018-02-22 18:00] #1848 closed

[2018-02-22 18:21] Makman2 commented on #2108
You have to write a new bear that implements different settings for performing copyright checks. For example the bear can enforce that every file needs a comment with license, or that there has to be just one file in the whole repo.

No, one copyright notice for a repo is enough. This is not about enforcing copyright standards in this repo, but to write a bear that is able to do it.

[2018-02-22 18:35] Makman2 commented on #972
Yeah indeed, but different issue :)

[2018-02-22 19:52] sangamcse commented on #1596
Duplicate of https://github.com/coala/coala-bears/issues/151
cc @Makman2

[2018-02-22 20:19] #2050 closed

[2018-02-22 20:21] #1596 closed

[2018-02-22 21:16] #2266 closed

[2018-02-23 00:36] #2259 closed

[2018-02-23 08:36] anctartica commented on #2290
please assign this to me @Makman2

[2018-02-23 13:23] #2191 closed

[2018-02-23 13:23] #2240 closed

[2018-02-23 14:13] virresh commented on #2286
Hello @Makman2 , I would like to get started with writing a bear with this.
I couldn't find an existing linter for Mercurial, so I suppose we need to write a native bear for this ?

[2018-02-23 17:35] SanketDG opened #2291 "Bear proposal: safeyaml"
https://github.com/imbal/safeyaml

[2018-02-23 22:48] Makman2 commented on #2286
Yes

[2018-02-24 14:33] harshhx17 commented on #2287
Hii, Can this issue be please assigned to me

[2018-02-25 07:48] RaiVaibhav opened #2293 "PySafetyBear fails to yield the correct message template."
[Data use by PySafetyBear](https://raw.githubusercontent.com/pyupio/safety-db/master/data/insecure_full.json)
for the package like `bottle==0.10.0`  which have `cve_id` the output is

but for packages like `locustio==0.5.1` and `tweepy==2.1.0`  which have `cve_id='null` it is showing output like

Instead It have to show something like

difficulty/newcomer

[2018-02-26 05:50] Mohit17067 commented on #2108
There is a `license_check_files` folder for testing `licenseCheckBear`. So can I use those same files to test this bear as it will be useless to make separate similar files? @Makman2

[2018-02-26 14:21] Makman2 commented on #2293
Does it now mean that `locustio` also has vulnerabilities but they don't have some solid reference?

[2018-02-26 14:22] RaiVaibhav commented on #2293
Yes

[2018-02-26 14:32] Makman2 commented on #2108
Rather copy them, then changes in one or another location won't affect each other's tests.

[2018-02-26 18:11] harshhx17 commented on #2277
Can this issue be please assigned to me

[2018-02-26 21:04] RaiVaibhav commented on #2293
actually I am confused whether I need to put it in low tag or not , as the `safety` version we are using are not updated and accodingly the `live data` format is also updated, so in both case `safety.is_cve`  it is returning same value `True`, not returing `None` when `cve` is `null` (not implemented correctly IMO or may be `live data format was different`) , so to get the correct message template

[2018-02-26 21:16] Makman2 commented on #2293
You'll figure it out :) As you seem to work on it, I've assigned you now.

[2018-02-26 21:21] RaiVaibhav commented on #2293
Soory False click

[2018-02-27 20:36] palash25 opened #2297 "Add vale lint bear"
https://github.com/ValeLint/vale

[2018-02-27 21:56] harshhx17 commented on #2291
Can this issue be assigned to me :smile: @Makman2

[2018-02-28 13:11] Makman2 opened #2298 "CircleCI: Update to 2.0 syntax"

[2018-03-01 12:25] chetasr commented on #2297
I would like to work on this

[2018-03-01 12:35] Mohit17067 commented on #845
I would like to work on this issue. @Adrianzatreanu
Though @madhukar01 has done most of the work, I can also give it a try.

[2018-03-01 16:58] RaiVaibhav opened #2299 "PySafetyBear: Fix typo in docstring"
Fix typo in [Line](https://github.com/coala/coala-bears/blob/master/bears/python/requirements/PySafetyBear.py#L87)

difficulty/newcomer

[2018-03-02 11:21] sangamcse opened #2300 "Bear proposal: `credo` for Elixir language"
https://github.com/rrrene/credo
It needs [Mix](https://elixir-lang.org/getting-started/mix-otp/introduction-to-mix.html) dependency.

labels: difficulty/high, bear proposal, area/lintbears

[2018-03-02 11:24] sangamcse commented on #1266
Please make the spelling of Elixir correct so that it will be easy to search open issues of that name.

[2018-03-02 12:23] Pradhvan commented on #2232
@sangamcse can you review this?

[2018-03-02 17:49] wate123 commented on #2299
I would like to work on this issue.

[2018-03-03 02:10] jayvdb opened #2301 "pykwalify yaml & json schema checking"
https://github.com/Grokzen/pykwalify

[2018-03-03 09:18] nvzard opened #2302 "Master Branch Broken: Travis-CI fails due to wrong artistic_style download"
currently, we download astyle_3.0.1.tar.gz from
[code]
which redirects to some other url which downloads a [text/html] file.
That's why we get the below error
[code]
Ref: https://stackoverflow.com/a/46715748/7384392
https://travis-ci.org/coala/coala-bears/jobs/348557001
https://prnt.sc/im7w0w

importance/critical

[2018-03-03 10:48] nvzard commented on #2302
@Makman2 Sorry I've already made a PR, please assign this issue to me.
Though both the builds are passing, CircleCI is failing due to `DockerfileLintBearDefaultRuleTest` which is not related to the changes I've made, can you please look into this ;)

[2018-03-03 16:14] harshhx17 commented on #2298
@Makman2  Please assign this issue to me

[2018-03-03 17:52] virresh opened #2304 "GitCommitBearTest.py : Typo in line 50"
There's a typo at https://github.com/coala/coala-bears/blob/master/tests/vcs/git/GitCommitBearTest.py#L50
messgae -> message

[2018-03-03 20:12] nvzard opened #2305 "Update coala in requirements.txt and adapt failing tests"
As per https://github.com/coala/coala/pull/5226 results with different diffs are not considered equal.
We need to update coala version in requirements.txt to take this change into action and adapt tests.

area/tests
difficulty/medium
type/bug

[2018-03-04 03:16] emmanguyen28 commented on #2304
Hi, I would love to work on this issue

[2018-03-04 13:14] damian1996 commented on #1876
@kriti21 Do you still work at this? :)

[2018-03-04 14:03] Makman2 commented on #2298
Same as https://github.com/coala/coala/issues/5218

[2018-03-04 14:03] kriti21 commented on #1876
@Makman2 Please unassign me from this issue.

[2018-03-04 14:16] kriti21 commented on #1876
@damian1996 Also please feel free to refer my PR and comments on that. You will surely find it useful :)

[2018-03-04 14:44] kriti21 opened #2306 "Improve regex for control tags in Jinja2Bear"
As of now, the regex checks for anything that **contains** `for` and `if` for control_start tags and `endfor` and `endif` for control_end tags. Ideally it should check whether the pattern **starts with** `for`, `if`, `endfor` or `endif`

[2018-03-04 14:46] kriti21 opened #2307 "Simplify regex for statement tags in Jinja2Bear"
Please refer https://github.com/coala/coala-bears/issues/2306 before this one.

[2018-03-04 14:52] Makman2 commented on #2232
Wrong repo, migrated to https://github.com/coala/coala/issues/5236

[2018-03-04 14:52] #2232 closed

[2018-03-04 15:12] Makman2 commented on #2307
Blocked by https://github.com/coala/coala-bears/issues/2306

[2018-03-05 02:10] kriti21 commented on #2306
Please assign this issue to me @Makman2

[2018-03-05 20:05] RaiVaibhav commented on #2299
please ping any maintainer to assign you on task on gitter

[2018-03-06 06:18] manankalra opened #2309 "DockerfileLintBear: Tests broken with 0.3.0"
CircleCI builds are failing due to `DockerfileLintBearDefaultRuleTest`.
It might be because of the recent changes made to https://github.com/projectatomic/dockerfile_lint.
Update the test files according to the deprecations made. Also, update the linter version suitably. (i.e. to the version that makes use of the test files in the recently updated way)

[2018-03-06 06:20] manankalra commented on #2309
@Makman2 Assign it to me. ;)

[2018-03-06 18:43] virresh opened #2311 "GitCommitBear: Add warnings"
The GitCommitBear currently ignores if the remote host that has been added to git is not supported or there is no remote added.
Add a warning so that the user knows that those options from .coafile essentially are not having any effect.

Example:
Commands to reproduce:
Setup Folders:
[code]

Setup .coafile and git repository
[code]

Run coala
[code]

What happens:
There is a warning regarding shor

[2018-03-06 22:04] nvzard opened #2313 "DockerfileLintBear: modify bear as per dockerfile_lint 0.3.0"
The output of dockerfile_lint v0.3.0 differs from the output of dockerfile_lint v0.2.7.

dockerfile_lint deprecated `MAINTAINER` instruction

v0.3.0 has an addition `Analyzing {file_name}` string added at the beginning of the JSON object.

Output( dockerfile_lint <= v0.2.7)
[code]

Output( dockerfile_lint = v0.3.0)
[code]

[2018-03-06 22:05] nvzard commented on #2313
I'm already working on this issue. Please assign @Makman2

[2018-03-07 12:59] kriti21 commented on #326
Please assign this issue to me.

[2018-03-07 13:24] nvzard opened #2315 "CSSAutoPrefixBear: Tests break for 8.0.0"
Make CSSAutoPrefixBear support the latest version by adapting tests.

[2018-03-07 16:17] nvzard commented on #2313
'@linter` returns inconsistent output, opened an issue https://github.com/projectatomic/dockerfile_lint/issues/97

[2018-03-08 14:47] jayvdb opened #2317 "Bear Proposal: shfmt"
https://github.com/mvdan/sh

[2018-03-08 17:02] nvzard commented on #2313
They fixed the issue, the latest `dockerfile_lint` release is not 0.3.1, We just need to modify the tests handle the deprecated `MAINTAINER` instruction.

[2018-03-08 18:17] Naveenaidu commented on #396
@Makman2  Can i please be assigned to this issue.

[2018-03-09 05:20] jayvdb commented on #2313
Dup of https://github.com/coala/coala-bears/issues/2309

[2018-03-09 05:36] jayvdb commented on #2309
Updating everything isnt the right solution.  First we need to pin our dependency versions to avoid the broken upstream version.

[2018-03-09 05:55] nvzard opened #2318 "CSSAutoPrefixBear: Pin autoprefixer as 8.0.0 is breaking the tests"

[2018-03-09 05:56] jayvdb commented on #2302
This problem appears to have fixed itself.

[2018-03-09 06:31] jayvdb commented on #2318
I believe the problem is fixed in 8.1.0

[2018-03-09 06:31] jayvdb commented on #2318
Dup of https://github.com/coala/coala-bears/issues/2315

[2018-03-09 06:31] #2318 closed

[2018-03-09 06:33] jayvdb commented on #2315
I believe the problems are fixed in 8.1.0 .

Issues should describe the problem, so you should include *details* of the test breakage.

Then do analysis.

Dont jump straight to the solution.

[2018-03-09 06:36] jayvdb commented on #2309
I've just run a [fresh build of master](https://travis-ci.org/coala/coala-bears/builds/351169635), and it is passing.

[2018-03-09 06:39] jayvdb opened #2319 ".ci npm install does not show the versions used"
When looking at a Travis log of bears, there is no summary of the versions used for the npm modules.

[2018-03-09 06:45] jayvdb commented on #2319
We only really want to see versions of the direct dependencies.

Dumping unnecessary junk into the logs is the subject of a different bug : https://github.com/coala/coala-bears/issues/1123

[2018-03-09 07:18] nvzard commented on #2319
I suggest after npm deps are installed we use `npm list [dep_name]` to print the installed version.

We need to parse the package.json file and for that we can use `jq` https://stedolan.github.io/jq/
and the pipe the results into `npm list` one by one for each package.

[2018-03-09 07:21] sangamcse opened #2320 "Add ShellCheckBear to .coafile"
https://github.com/coala/coala/issues/4952

[2018-03-09 07:34] adtac opened #2321 "Add PrettierBear"
https://github.com/prettier/prettier

[2018-03-09 08:44] jayvdb opened #2322 "CircleCI timeout installing language-check"
On a uncache Circle CI build, `language-check` installation times out.

[code]

[2018-03-09 08:45] jayvdb commented on #2322
duplicate of https://github.com/coala/coala-bears/issues/1865

[2018-03-09 08:45] #2322 closed

[2018-03-09 09:48] farberbrodsky commented on #2304
I would like to fix this issue :)

[2018-03-09 15:16] nvzard commented on #2318
I opened the issue in respect of my commit to just pin the autoprefixer to fix masterbranch, https://github.com/coala/coala-bears/issues/2315 is to adapt the tests as per the latest version.
No issues if this is not correct

[2018-03-09 15:30] jayvdb commented on #2318
#2315 is mostly about the breakage; analysis hasnt been done yet, so no need for lots of different issues about the same thing.

[2018-03-09 16:15] jayvdb commented on #2319
that will invoke Node many times, slowing down our CI unnecessarily.  needs to be done in a single command.

[2018-03-09 16:21] nvzard commented on #2319
@jayvdb lol sorry, we can just use `npm list -g --depth=0`

[2018-03-09 16:41] jayvdb commented on #2302
it occurred again today https://travis-ci.org/coala/coala-bears/jobs/351269016

[2018-03-09 16:54] #2309 closed

[2018-03-09 16:54] #2315 closed

[2018-03-09 18:09] RaiVaibhav opened #2326 "Add .pytest_cache to .gitignore"
Add `.pytest_cache` to `.gitignore`

difficulty/newcomer

[2018-03-10 01:53] yukiisbored opened #2327 "QuotesBear: Tell what is the "preferred quotation mark""
It would be helpful if the bear tell us what is the preferred quotation mark rather than just saying "You do not use the preferred quotation mark"

[2018-03-10 02:33] #2319 closed

[2018-03-10 03:47] #2002 closed

[2018-03-10 08:13] #1627 closed

[2018-03-10 08:40] sangamcse opened #2328 "LanguageToolBear: Change to triple double-quotes"
Also, move hashed comments to triple double-quotes.

difficulty/newcomer

[2018-03-10 08:43] sangamcse commented on #2328
Again, opened due to mis-search of the issue.
Closing it as it is already resolved in https://github.com/coala/coala-bears/issues/1627

[2018-03-10 08:43] #2328 closed

[2018-03-10 09:43] jayvdb opened #2329 "CMakeLintBear: Implement line length"
`cmakelint` supports `--linelength`, which should be set based on the existing config variable `max_line_length`.

[2018-03-10 09:43] jayvdb commented on #326
I've created https://github.com/coala/coala-bears/issues/2329 about its line length parameter

[2018-03-10 09:50] jayvdb commented on #326
First question is what are the defaults for cmakelint.  It has a slightly strange `+`/`-` syntax for the filters.

Quite a few of the filters look like they should be enabled/disabled based on our existing common settings, like indentation settings.

[2018-03-10 09:55] kriti21 commented on #326
According to https://github.com/richq/cmake-lint defaults for cmakelint include a config file and a list of filters. I am not sure what is the use of `+ / -` in the syntax though.

[2018-03-10 09:59] jayvdb commented on #326
I guess `-` disables a default rule.  But how its config file and these `-`/`+` work together needs a little analysis before we proceed.

#2329 is nice and simple.

[2018-03-10 10:00] kriti21 commented on #2329
Please assign this to me @jayvdb

[2018-03-10 10:02] kriti21 commented on #326
Yeah I will look into this and get back to you.

[2018-03-10 10:19] jayvdb commented on #2329
See all the other bears which support `max_line_length`, especially allowing `max_line_length=0` to disable the line length limitations.

[2018-03-10 11:40] sangamcse commented on #1552
I think we have moved on to `3.4.4`. So shouldn't it be closed?

[2018-03-10 11:42] jayvdb commented on #1552
This is about informing users that coala is not usable with 3.4.0.

[2018-03-10 11:59] sangamcse commented on #1119
@jayvdb, Is it related to https://github.com/coala/coala-bears/pull/2195 ?

[2018-03-10 13:19] jayvdb opened #2330 "GitCommitBear: use git-url-parse"
Fetching and parsing of remotes can be done in an external library, and we are using one for the coala/community project, e.g. https://github.com/coala/community/blob/master/requirements.txt

However, first, these upstream issues should be solved.

https://github.com/retr0h/git-url-parse/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

Alternatively, and probably better, that functionality might

[2018-03-10 16:01] sangamcse commented on #2187
@jayvdb, Is there other issue open to add `ComposerRequirements` to it's respective bears or it will be added from this issue only?

[2018-03-10 16:19] #873 closed

[2018-03-10 16:43] jayvdb opened #2331 "dockerfile lint rules test suite is full of useless tests"
https://github.com/coala/coala-bears/pull/2258 contained rules files which do not even verify that the custom rules are active and not the default rules, because it relys on the same rules as the defaults.

[2018-03-10 17:03] jayvdb commented on #337
a `git revert` creates a commit with a very specific structure of the commit message which needs to be precisely checked.

[code]

A revert commit needs to have that format.

A 'reason' needs to be added after the above, with a blank line separating it from the above.

[2018-03-10 17:27] #1948 closed

[2018-03-10 19:22] sladyn98 commented on #2326
I would like to go ahead with this issue as a new comer
How do i proceed

[2018-03-10 21:31] sangamcse opened #2332 "Bear proposal: add ameba for crystal"
https://github.com/veelenga/ameba
@jayvdb, I have doubt about [this dependency](https://github.com/veelenga/ameba#as-a-project-dependency).

need discussion

[2018-03-10 21:37] sangamcse commented on #2320
@Makman2 , Please assign this too 😉

[2018-03-10 21:39] sangamcse commented on #2045
@Makman2, I want to work on this. Any suggestions/informations you want to give?

[2018-03-10 22:23] Makman2 commented on #2045
I think the issue says it all :D

[2018-03-10 22:23] Makman2 commented on #2045
Reassigned due to inactivity.

[2018-03-10 22:38] Makman2 commented on #2313
Is this really a dupe @jayvdb ? The purpose of this issue is to actually upgrade the bear dependency to the latest version.

[2018-03-11 02:02] jayvdb commented on #2302
A much better approach is to use a packaged astyle .   http://build.openSUSE.org can build debian images . PPAs are another approach

[2018-03-11 04:49] manankalra commented on #2331
@jaydvb Can you elaborate a little?
I've added two tests in https://github.com/coala/coala-bears/pull/2258:
- A test which takes the default rule file, which is checked even if no rule file is provided.
- A test that takes a custom rule file. This is different than the default rule file. It omits some important labels, such as: https://github.com/coala/coala-bears/blob/master/tests/configfiles/doc

[2018-03-11 06:02] yash-nisar commented on #2108
@jayvdb Do we have to add a new bear or improve the existing `LicenseCheckBear` and add the copyright checking functionality as you've mentioned [here](https://github.com/coala/coala-bears/issues/823#issuecomment-285247794) ?

[2018-03-11 06:23] jayvdb commented on #2108
this isnt licensing checking.  this is copying detection. (ala turnitin)

for our documentation, we should never have text which copies prior text

[2018-03-11 07:47] #2261 closed

[2018-03-11 08:53] #2265 closed

[2018-03-11 09:07] RaiVaibhav commented on #2326
@sladyn98  please go to http://api.coala.io/en/latest/Developers/Newcomers_Guide.html
It will guide you.

[2018-03-11 11:44] nvzard commented on #2302
https://software.opensuse.org/package/astyle

I don't have much idea about this

[2018-03-11 12:24] MacBox7 commented on #772
Want to work on this.

[2018-03-11 16:10] Makman2 commented on #1552
I believe I updated all occurrences in our docs mentioning 3.4.0 and replaced it with 3.4.4 or higher. I guess we can close this, if we want to twitter that, we should open a new issue inside our `coala/meta` repo.

[2018-03-11 16:10] #1552 closed

[2018-03-11 16:12] Makman2 commented on #845
Sure that's the best to do :) Please mention him inside your commit message if his changes were a major contribution to your commit :)

[2018-03-11 16:18] Makman2 commented on #772
Reassigning due to inactivity.

[2018-03-11 16:24] Makman2 commented on #2332
In case we don't have the right requirements classes for this dependency, we can skip it. Currently requirements are just metadata useful for help (will change in future though). We can add necessary requirements in another issue :+1:

[2018-03-11 16:50] Makman2 opened #2333 "`Ctrl+Z` command to terminate the program not working in Windows"
Migrated from https://github.com/coala/coala-bears/issues/1612

[2018-03-11 16:50] Makman2 commented on #2333
And again opened in the wrong repo ... my bad.

[2018-03-11 16:50] #2333 closed

[2018-03-11 16:51] Makman2 commented on #1612
Migrated to https://github.com/coala/coala/issues/5254

[2018-03-11 16:51] #1612 closed

[2018-03-11 16:59] Makman2 commented on #2321
Already done via https://github.com/coala/coala-bears/issues/2130 :)

[2018-03-11 16:59] #2321 closed

[2018-03-12 20:20] rohanrk commented on #2327
I would like to be assigned to this issue

[2018-03-13 20:19] The-Compiler opened #2336 "Not installable with pipenv because of coala>=0.12.0.dev20170828055500 dependency"
When I try to use [pipenv](https://docs.pipenv.org/) to do `pipenv install coala-bears`, I get:

[code]

This is due to this dependency in `requirements.txt` which then gets passed as `install_requires` in `setup.py`.

pip seems to happily install `coala==0.12.0.dev20180101025653` though, so I'm not sure what's going on - is this a bug in pipenv's dependency resolver, or something strange in how c

[2018-03-13 20:31] The-Compiler commented on #2336
What strikes me as odd here (and maybe what's tripping up pipenv): Having a development-version of a package as a dependency of a release-version package.

[2018-03-14 04:25] jayvdb commented on #2336
yea, that is a bit odd.  looks like one of our coala-bears releases wasnt marked as a pre-release.

[2018-03-14 04:27] jayvdb commented on #2336
Somewhat related I have started trying to use pipenv, and found it isnt very good at pre-releases, especially when the package is a development package.

[2018-03-14 07:39] MacBox7 opened #2337 "GoVetBear throwing error on appveyor"
GoVetBearTest failing with error `The local bear 'GoVetBear' yields a result although it shouldn't.`
Link: https://ci.appveyor.com/project/coala/coala-bears/build/1.0.9263/job/4xamw8qmesan9aat

[2018-03-14 15:19] palash25 opened #2339 "Add isort bear"
isort is a nice tool to sort imports in python files. We should have this integrated with coala. If a linter bear integration is not possible then maybe we can write a native bear

https://github.com/timothycrosley/isort#readme

[2018-03-14 15:22] palash25 commented on #2339
area/ci label should be removed.
Btw whats wrong with @gitmate-bot ?

[2018-03-14 16:30] MacBox7 commented on #2337
Go vet seems to ignore some syntax error, to be more precise
[code]
as in our case. The reason being the previous function was returning value and no return type was specified. And as per GoLang `main` function has no arguments and no return value. So, both `vet_good.go` and `vet_bad.go` were throwing syntax error.

I tested the built without cache and still they were failing previously and so not

[2018-03-14 18:16] harshhx17 commented on #2006
@jayvdb Please assign this issue to me :smile:

[2018-03-14 19:29] MilenOrfeev commented on #2326
Hello, could I be assigned to this issue?

[2018-03-14 21:34] sangamcse commented on #929
Is https://github.com/benjaminp/six helpful?

[2018-03-14 22:48] Makman2 commented on #2337
Does this one occur on master?

[2018-03-15 02:25] virresh commented on #2337
@MacBox7
The error is apparently because two days ago appveyor upgraded from go 1.9 to go 1.10
and 1.10 bring some changes relevant to ```go vet```
So here are some possible things that we can do:

- Instead of go vet, we can use go tool vet
- We need to update dependencies and add ppa for go 1.10 for apt and accordingly change the tests as well
- We can adjust appveyor to use go110

[2018-03-15 04:29] palash25 opened #2340 "Add black bear"
https://github.com/ambv/black

I wonder if we can have a bear for this?

[2018-03-15 05:05] MacBox7 commented on #2337
@makman2 yes this is on master branch. Needs to be patched so that other builds don't fail.

[2018-03-15 19:56] ajeetdsouza commented on #2339
Could I work on this, please? :)

[2018-03-15 20:01] palash25 commented on #2339
Sure go ahead @ajeetdsouza since you have already commented a maintainer will assign you as soon as possible. Meanwhile you can start working on this. If still not assigned for more than a day then ask on gitter for assignment.

[2018-03-16 02:33] ajeetdsouza commented on #2339
Doesn't [this](https://github.com/coala/coala-bears/blob/master/bears/python/PyImportSortBear.py) already do this, though?

[2018-03-17 08:54] palash25 opened #2343 "Add portlint bear"
https://www.freebsd.org/cgi/man.cgi?query=portlint&sektion=1&manpath=FreeBSD+8.1-RELEASE+and+Ports

[2018-03-17 08:55] palash25 opened #2344 "Add proselint bear"
https://github.com/amperser/proselint/

[2018-03-17 08:57] palash25 opened #2345 "Add ember-template-lint bear"
https://github.com/rwjblue/ember-template-lint

[2018-03-17 08:59] palash25 opened #2346 "Add slim-lint bear"
https://github.com/sds/slim-lint

[2018-03-17 09:00] palash25 commented on #2344
already exists

[2018-03-17 09:00] #2344 closed

[2018-03-17 09:01] palash25 opened #2347 "Add paprika bear"
https://github.com/GeoffreyHecht/paprika

[2018-03-17 09:02] palash25 opened #2348 "Add qark bear"
https://github.com/linkedin/qark

[2018-03-17 09:04] palash25 opened #2349 "Add ansible bear"
https://github.com/willthames/ansible-lint

[2018-03-17 09:31] palash25 opened #2350 "Add clippy bear"
IIRC we don't have any linter integrations for Rust currently. It would be nice to have this

https://github.com/rust-lang-nursery/rust-clippy

[2018-03-17 09:32] palash25 opened #2351 "Add rustfix bear"
https://github.com/killercup/rustfix

[2018-03-17 09:33] palash25 opened #2352 "Add mlint bear"
For MATLAB code

https://in.mathworks.com/help/matlab/ref/mlint.html?requestedDomain=true

[2018-03-17 09:34] palash25 opened #2353 "Add haxe bear"
https://github.com/HaxeCheckstyle/haxe-checkstyle

[2018-03-17 09:36] kriti21 opened #2354 "Add bear to validate functions"
A generic bear that would check if the functions in a program file are of some reasonable length and solve one specific purpose. It would suggest if a long function can be split into two or more smaller ones.

Tags: bear-proposal, generic-bears

[2018-03-17 09:36] palash25 opened #2355 "Add amoeba bear"
For analysing crystal code

https://github.com/veelenga/ameba

[2018-03-17 09:37] palash25 opened #2356 "Add code-peer bear"
For analyzing Ada code

https://www.adacore.com/codepeer

[2018-03-17 09:48] jayvdb opened #2357 "InvalidLinkBear matching URLs with invalid characters in hostname"
[code]

[2018-03-17 12:00] kriti21 opened #2358 "Add new generic bear"
This generic bear should check for issues like:
1. Leaving blank line after class definition.
2. Whether the documentation is sufficient like for function it should check if parameters and the role of function in explained etc
3. Whether documentation is followed by a blank line
3. Whether variable names are good (self-explanatory)

Tags: bear-proposal, generic-bears

[2018-03-17 12:21] RaiVaibhav commented on #2358
We can check what it is return type and can verify it but how can a Bear check what the function is returning like ` :return: a dictionary of a settings with key as x any it value will be y ` , how are you you going to verify that what will be x and what will be y?

Any Idea If anyone take this issue how he/she will overcome this problem

[2018-03-17 12:24] RaiVaibhav commented on #2358
Suppose a function fetching some random values of list or a fetching some dictionary with random key and value , the how we can what will be the role of function

[2018-03-17 13:41] Makman2 commented on #2354
That sounds awesome, but also pretty hard :D Maybe we can somehow detect such code parts with code-complexity analysis?

[2018-03-17 13:43] Makman2 commented on #50
Unassigning due to inactivity.

[2018-03-17 13:44] Makman2 commented on #611
I guess this can be closed as duplicate of https://github.com/coala/coala-bears/issues/50

[2018-03-17 13:44] #611 closed

[2018-03-17 13:44] Makman2 commented on #611
In case someone wants to implement a bear using the rust-compiler `rustc`, please file a new issue for this specific tool :+1:

[2018-03-17 13:45] Makman2 commented on #2350
Duplicate of https://github.com/coala/coala-bears/issues/50

[2018-03-17 13:45] #2350 closed

[2018-03-17 13:47] #2337 closed

[2018-03-17 13:49] Makman2 commented on #794
Unassigning due to inactivity.

[2018-03-17 13:49] Makman2 commented on #2349
Duplicate of https://github.com/coala/coala-bears/issues/794

[2018-03-17 13:49] #2349 closed

[2018-03-17 13:53] Makman2 commented on #2343
What is it actually linting? I don't know what a port directory is, and like always the docs are not very good and precise about this^^

[2018-03-17 13:57] Makman2 commented on #2353
Duplicate of https://github.com/coala/coala-bears/issues/335

[2018-03-17 13:57] #2353 closed

[2018-03-17 13:59] Makman2 commented on #2339
isort is a different tool, I guess we want to have it too :+1:

[2018-03-17 14:01] Makman2 commented on #2340
It seems to use `pycodestyle` internally, not sure if we duplicate things here with `black`.

[2018-03-17 14:16] kriti21 commented on #2354
I am glad you liked the idea @Makman2 I will do some research on its implementation and get back to you. :)

[2018-03-17 14:25] sils commented on #794
btw. you know that gitmate can unassign inactive contributors automatically
@Makman2 ?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
Founder of http://coala.io/, http://viperdev.io/ and http://gitmate.io/

On 17 March 2018 at 14:49, Mischa Krüger <notifications@github.com> wrote:

[2018-03-17 14:58] Makman2 commented on #2354
`ValidateFunctionBear` sounds too vague, but don't have a good idea now either. But naming is something that we can consider once we have a technical concept :)

[2018-03-17 14:58] Makman2 commented on #794
I do, but I'm still considering if blindly unassigning after a certain is helping here.

[2018-03-17 15:02] #2287 closed

[2018-03-17 15:03] sangamcse commented on #2355
Duplicate of https://github.com/coala/coala-bears/issues/2332
cc @Makman2

[2018-03-17 16:02] nvzard commented on #50
I haven't pushed the changes yet, I was testing the rust clippy linter locally with regex. Sorry I got busy with other issue and exams, didn't got much time to work on this one.

[2018-03-17 16:15] palash25 commented on #2355
shit :sweat_smile:  I'll close it

[2018-03-17 16:15] #2355 closed

[2018-03-17 17:11] ajeetdsouza commented on #2339
I think this bear already uses the isort tool:
https://github.com/coala/coala-bears/blob/master/bears/python/PyImportSortBear.py
They're using the SortImports class from https://github.com/timothycrosley/isort/blob/develop/isort/isort.py

[2018-03-17 17:51] Makman2 commented on #2339
Oh indeed, I always thought `PyImportSort` is an own tool :sweat_smile: Thanks for clarifying.

[2018-03-17 17:51] #2339 closed

[2018-03-17 19:28] Makman2 commented on #2358
which files? :)

[2018-03-18 02:58] kriti21 commented on #2358
By files I mean code written in any programming language. This bear would be able to solve issues like https://github.com/coala/coala-bears/issues/620 , https://github.com/coala/coala-bears/issues/1923 and https://github.com/coala/coala-bears/issues/1922 automatically. What do you think @Makman2 ?

[2018-03-18 03:49] RaiVaibhav commented on #2293
please reassign on this issue.

[2018-03-18 05:04] virresh opened #2359 "Circle Ci failing due to pip version update"
The latest version update of pip (to 9.0.2) breaks installation of several packages on CircleCI
Investigation required as to why the update is breaking installation

Downgrading to pip 9.0.1 works though :
https://circleci.com/gh/virresh/coala-bears/32

[2018-03-18 07:38] virresh opened #2361 "Travis Failing due to version conflicts raised by setup tools"
Ref:  https://travis-ci.org/coala/coala-bears/jobs/354914979#L1828

Setup tools is raising a version conflict on python 3.3
```pkg_resources.VersionConflict: (setuptools 18.0.1 (/home/travis/virtualenv/python3.3.6/lib/python3.3/site-packages), Requirement.parse('setuptools>=27.3'))```
Needs more investigation

Also could be related to the same:
https://travis-ci.org/coala/coala-bears/jobs/35491497

[2018-03-18 08:46] blue-atom commented on #2356
@palash25  I want to do this. To be honest I don't know much about developing bear but I guess I can learn it. I will give it a shot and let you know if I am still on this issue or not,  around tomorrow evening

[2018-03-18 09:14] jayvdb commented on #2356
Why do we want an beer-unfree Ada analysis bear (https://github.com/mre/awesome-static-analysis/issues/65) ?

We should use freely accessible/available linters only , I think.

[2018-03-18 09:15] #2359 closed

[2018-03-18 09:45] jayvdb commented on #2361
pylint recently released a new version, but the setuptools dependency isnt in [there](https://github.com/PyCQA/pylint/blob/master/pylint/__pkginfo__.py#L29)

[2018-03-18 10:16] jayvdb commented on #2361
Problem is due to https://github.com/pytest-dev/pytest-runner/issues/40

[2018-03-18 12:03] solutusimmensus commented on #2128
The issue is done with PR #2220 (awaiting for code review since January)

[2018-03-18 12:05] RaiVaibhav commented on #2102
please reassign :sweat_smile:
currently it's block by https://github.com/coala/coala-bears/pull/2296

[2018-03-18 15:20] #2361 closed

[2018-03-18 16:30] #2272 closed

[2018-03-18 17:26] #2293 closed

[2018-03-18 19:24] anctartica opened #2365 "PrettierLintBear regex is incorrect"
The output of the prettierLintBear to stderr stream on syntax error for the input `function b(){` is:
`[error] ../../../../var/folders/x6/p95tfncj57q1lzsbbm02599xmts4q9/T/tmphekpuu5k: SyntaxError: Unexpected token (2:1)\n[error]   1 | function b(){\n[error] > 2 | \n[error]     | ^\n`.

This does not match `r'L(?P<line>\d+)C(?P<column>\d+): (?P<message>.*)'` the regex that is included inside the be

[2018-03-18 19:49] underyx commented on #2340
@Makman2 can you tell us why you think it uses `pycodestyle` internally? I see no indication of this being the case at all.

[2018-03-18 20:37] underyx commented on #2340
I'll try to implement this one.

[2018-03-19 11:09] jayvdb commented on #2311
ew, this is problematic because it depends on the order of the remotes in `.git/config`, or the remote names, and power users (all coala devs, right?) should be creating their own enhanced workflows based on remote names.

We do not yet have a good 'get upstream/central-repo remote' algorithm.  That needs to be solved first before there is a warning.  However we could have an 'info' message.

[2018-03-19 11:19] jayvdb opened #2368 "GitCommitBear: Only first remote is used to find hoster"
All remotes are loaded into the bear, but only the first is inspected.

`url = remotes[0]`

Using names instead of remote order might be more sensible, and `origin` is a reasonable choice as it is not an easy remote to change, but git does allow clones to be created with a different initial remote name, so that isnt 100% reliable.

The objective is to find where it is hosted, to know which rules t

[2018-03-19 11:19] jayvdb commented on #2368
Closely related to https://github.com/coala/coala-bears/issues/2330

[2018-03-19 11:25] jayvdb opened #2369 "GitCommitBear: verify issue exists and is open"
The issue URL could be a 404, if the issue number is too high, or the number is a PR not an issue.

Requiring the issue is open is a commonly sought behaviour, and is followed *most* of the time on coala, but .. not 100% .  Also it would cause problems with release branches, which often cherry-pick commits and thus the problem is already solved on master but is still unsolved on the branch.

[2018-03-19 12:07] virresh commented on #2311
Yes, true. We are currently just picking up the first remote from the .git/config, so we don't know for sure which is the intended central repo, and the problem worsens in case the same local repo is corresponding to multiple remotes...
Probably we can have the issue reference flag also take in some part of the actual upstream repository ?
(Something like issueReference = github.com/upstream_repo_

[2018-03-19 12:20] jayvdb commented on #2368
See also https://gitlab.com/gitmate/open-source/IGitt/issues/111 , and especially https://github.com/coala/community/blob/master/community/git.py which does remote parsing , with some basic upstream/origin selection.

[2018-03-19 13:57] underyx opened #2370 "Create FileModeBear"
It's really easy to forget to set +x on scripts. How about a bear like this:

[code]

[2018-03-19 14:48] underyx commented on #1956
Does anyone remember which coala version introduced this issue? I guess we have to downgrade to be able to use keyword checks at all.

[2018-03-19 15:25] kriti21 commented on #2354
@Makman2 @jayvdb  Here are some parameter based on which we could judge the complexity of any function:

- Number of lines (Differs according to languages, can be included in the settings)
- Number of loops (3 max and then no nested loop)
- Number of nested loops (1 max and then no simple loop)
- Not more than one level of indentation
- Number of input parameters (ideally not more than 5 but 8 can

[2018-03-19 15:49] jayvdb commented on #2354
which languages are you considering targeting with this bear?

C/C++/etc should be done based on the Clang bears.

Python, IMO, should wait until the Python AST project is completed.

If you are intending to make it very generic, supporting any language, then the extraction of function metadata in a generic manner is going to be the very hard part, and that should be a project over in the coala co

[2018-03-19 15:50] aptrishu commented on #2354
How do you plan to judge if a function is solving a specific task? also, how do you plan to know what actual task function is supposed to do? Can you explain broadly? because it seems somewhat infeasible to me without AST or some other complexity.

[2018-03-19 15:54] kriti21 commented on #2354
I was targeting on C++ and Python for now. But in the long run, I would like to be very generic. @jayvdb

[2018-03-19 15:58] kriti21 commented on #2354
I don't think this is possible unless using some really complex methods or tools. Based on https://github.com/coala/coala-bears/issues/2354#issuecomment-374251989 these parameters though, we could only judge the complexity to some extent. How many tasks a particular function does is really dependent on the code and language used.

[2018-03-19 16:01] aptrishu commented on #2354
Yeah, That is why I thought, it would not be possible as a generic bear. because judging what specific tasks a function is doing is pretty complex.

[2018-03-19 16:05] jayvdb commented on #2354
Frankly, Python is too hard.  Even C++ is very hard, but thanks to [CLangBear](https://github.com/coala/coala-bears/blob/master/bears/c_languages/ClangBear.py) you can take advantage of a very good ast on which to build a bear, and it can be generic across a large group of languages.

[2018-03-19 18:52] palash25 commented on #2354
@kriti21 first of all cool idea :+1:  secondly rather than a bear (which seems impractical as this idea is too big and complex to be implemented as a generic bear) maybe you should focus on building an API for it something like a ``MethodComplexity API`` (I think this name would better describe the purpose of this API rather than ``ValidateFunction``). Once the core functionalities of this API are

[2018-03-20 00:59] li-boxuan commented on #2352
Hi, I get a bit confused. Mlint is just a function that can be run in MATLAB. How can we write a bear for it since a lint bear needs an executable?

[2018-03-20 04:50] palash25 commented on #2352
maybe we can somehow use the MATLAB compiler for static code analysis using the `mlint` function. Something like what's been proposed in #2011

[2018-03-20 04:51] palash25 commented on #2352
But in that case it wouldn't be a `difficulty/low` issue imo
@li-boxuan

[2018-03-20 17:56] li-boxuan commented on #2352
I would like to solve it.

Some concerns:
1. I would suggest using  ```checkcode``` instead of ```mlint``` as Matlab says, ```mlint is not recommended. Use checkcode instead.```

2. I just drafted a lint bear, by using ```-nodisplay -nodesktop -r "checkcode('<filename>');"``` arguments. This works as it calls Matlab application to run the ```checkcode``` function. However, it takes some time for M

[2018-03-20 18:05] li-boxuan commented on #2011
@Makman2 So this issue basically means, let's run Haskell compiler and report compilation errors to coala users, right? Wouldn't that be too heavy for coala (in my opinion, coala does static code analysis,  sort of an integration of linters, correct me if I am wrong)?

Also, if we want to use Haskell compiler for our lintbear (if it's a good approach), why don't we use that approach for all other

[2018-03-20 22:04] Makman2 commented on #2011
I mean we don't do the analysis itself, that's what the Haskell compiler is doing for us ;)

We could :)

[2018-03-20 22:07] Makman2 commented on #2354
Yeah let's start with a specific language and then try to develop more generic techniques. As we have Clang stuff like @jayvdb mentioned, we might start there, so we can focus on the actual logic :+1:

[2018-03-20 22:10] Makman2 commented on #2340
And a few other occurrences of `pycodestyle` made me think that.

[2018-03-20 22:15] Makman2 commented on #1956
No sorry, I guess you have to `git blame` through the `KeywordBear`.

[2018-03-20 22:35] Makman2 commented on #2352
:+1:

Yeah that's a problem. Usually you would start some background service / daemon you would reuse, but that raises the difficulty a bit. Maybe Matlab provides already something for similar purposes?

[2018-03-20 23:10] li-boxuan commented on #2352
@Makman2 I don't think Matlab provide something for similar purposes (at least I cannot find one). The normal practice in Matlab is to run ```checkcode``` multiple times for each file in one program. Something like

`Matlab -nodisplay -nodesktop -r "checkcode('<filename_1>'); checkcode('<filename_2>'); checkcode('<filename_3>');"`

I guess coala cannot handle this case.

[2018-03-21 00:00] li-boxuan commented on #2352
My bad, ```mlint``` is an executable (it is also a function call in Matlab). ```checkcode``` is just a wrapper for ```mlint```. (See https://github.com/Gimly/vscode-matlab/issues/26)

[2018-03-21 03:52] jayvdb commented on #1436
https://github.com/yaml/pyyaml/issues/95

[2018-03-21 09:42] MacBox7 commented on #2365
Could you provide the input to recreate the problem?

[2018-03-21 10:00] anctartica commented on #2365
Can you assign this to me @jayvdb

[2018-03-22 03:49] li-boxuan commented on #2352
I am trying to write tests for MlintBear but I come up with a problem: MATLAB is commercial. How can it pass CI test? Only people with Matlab installed would be able to run the test.

[2018-03-22 04:06] jayvdb commented on #2352
Put your bear in new  directory /bears/non-free/ , with tests in /tests/non-free/ , and delete both directories in the .CI scripts.

[2018-03-22 04:13] jayvdb commented on #2352
In quite a few cases we have rejected non-free linters, because free tools existed, even if not as good, but IMO matlab is a special case.  We may end up rejecting this bear, as other maintainers will need to consider this policy question, but at least your CI should be green ,  and the code not intrusive to the free linters.

A middle ground might be to create a non-free-bears repos ;-)

[2018-03-22 05:07] isunitha98selvan commented on #2317
I would like to work on this.

[2018-03-22 08:45] kriti21 commented on #557
What's the difference between this one and the existing `QuotesBear` ?

[2018-03-22 09:24] kriti21 commented on #1431
@aptrishu Can you please explain what is expected here ?

[2018-03-22 17:13] RaiVaibhav opened #2371 "PySafetyBear: Add asciinema"
Content of file on Bear will perform it's action also have to shown in asciinema.

difficulty/newcomer

[2018-03-22 17:30] rlemasquerier commented on #2371
Hello, could I get assigned please ?

[2018-03-23 17:55] aptrishu commented on #1431
return the SourceRange of a List.

[2018-03-24 21:11] cbaines opened #2373 "RuboCop cannot always find it's config file if it's specified"
If the rubocop config file is specified with a relative path, e.g. [1], then this means that coala must be run in a working directory such that the configuration file exists at this relative path. This breaks things like the Emacs Flycheck integration, which runs coala not always in the directory where the .coafile exists.

1:
[code]

I'm not sure if this is something that can be fixed, or how to

[2018-03-25 02:28] li-boxuan opened #2374 "GitCommitBear writes redundant messages to stdout"
When I run GitCommitBear, it writes the following log messages to stdout:

[nltk_data] Downloading package punkt to /Users/xx/nltk_data...
[nltk_data] Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data] /Users/xx/nltk_data...
[nltk_data] Package averaged_perceptron_tagger is already up-to-
[nltk_data] date!

Even if I run with option --jso

[2018-03-25 02:35] rohanrk commented on #2374
As stated in the previous issue, I'd like to work on this

[2018-03-25 05:57] GlebBerj commented on #2326
I would like to work on this issue

[2018-03-25 09:50] sangamcse commented on #1497
http://www.rubydoc.info/gems/bundler-audit/frames

[2018-03-25 11:34] jayvdb commented on #2374
These should be converted to `logging`.

[2018-03-25 19:12] kriti21 commented on #644
@Makman2 Could you tell me what doc-extraction algorithms are you referring to in https://github.com/coala/coala-bears/issues/644#issuecomment-236375590?

[2018-03-26 08:19] khashf commented on #864
Since `corobo` is current not working in gitter. I comment here to indicate I'm working on this

[2018-03-26 10:06] rohanrk opened #2376 "Fix invalid language setting"
[code]

Should change the .coafile to suppress this warning

difficulty/newcomer

[2018-03-26 13:17] Vedarth commented on #1551
It is a great idea. Would like to implement it. We just need to search for all the variables that are named incorrectly using regex and ignore all the comments. Right?

[2018-03-26 13:35] rohanrk opened #2377 "InvalidLinkBear: Unable to detect valid link"
https://msdn.microsoft.com/en-us/commandline/wsl/install-win10 is a valid link but InvalidLinkBear states that it is broken

ref: https://gitlab.com/rohanrk/documentation/-/jobs/59445738

[2018-03-27 06:06] engrravijain commented on #2376
i would like to work on this
can this be assigned to me

[2018-03-27 18:15] virresh commented on #2311
Can I work on this and add warnings for incompatible hosts and no remotes ?
(Something similar to what is done in HgCommitBear ...)

[2018-03-27 19:39] Makman2 commented on #557
Are all the cases in the issue description working properly? We should maybe add additional tests for them in case we don't test something similar.

If everything is really already done, we can close.

[2018-03-27 19:51] Vedarth commented on #1551
So should I give it a try with regexes?

[2018-03-28 10:41] sangamcse opened #2383 "Add package-lock.json to .gitignore"
package-lock.json is a lock file of JS dependencies.

difficulty/new comer

[2018-03-28 12:41] mayokunthefirst commented on #2383
@sangamcse can I be assigned to this please?

[2018-03-28 14:11] sangamcse commented on #2383
@mayokunthefirst, Since this issue is newcomer issue and you have completed one newcomer issue, you can not work on this. And from next time, don't open PR without getting assigned.

[2018-03-29 09:36] sangamcse opened #2386 "BanditBear: Tests to execute option missing"
`bandit` has an option `-t comma-separated list of test IDs to run` which is missing in BanditBear.

difficulty/low

[2018-03-29 18:10] ishanSrt opened #2387 "Bear Proposal: PHPLint"
According to http://www.icosaedro.it/phplint/phplint2/doc/tutorial.htm
This is wrong code:
[code]
Can't get PHPLintBear to detect it.
### Infact can't get PHPLintBear to detect any error in my code

[2018-03-30 09:52] sangamcse opened #2388 "package.json.jinja2: Remove redundant line"
There is an extra line in .ci/package.json.jinja2.

difficulty/newcomer

[2018-03-30 10:13] sangamcse commented on #2386
Please assign this to me 😃

[2018-03-30 10:16] jayvdb commented on #2386
Why is this option useful?

[2018-03-30 10:25] sangamcse commented on #2386
Sometime we wants only a few tests to run. We can do that in our current setting of BanditBear by giving a long list of tests to skip in `bandit_skipped_tests` or we can add an option(in this issue) to run some specific tests.

Note: I found it odd that we don't have an option to run some specific tests. There is a lot of option https://github.com/openstack/bandit#usage

[2018-03-30 10:29] sangamcse commented on #2386
For example: what if I wants to run only `B112  try_except_continue` test? Then I have to give a long list of tests ID to `bandit_skipped_tests` list and that is not a good option.

[2018-03-30 12:19] jayvdb commented on #2386
ok, we need to look at other bears which have similar lists of checks, and work towards a consistent settings system for these.  pycodestyle and pydocstyle do have similar lists of checks and command line options to include/select or ignore various checks.

[2018-03-30 12:36] mayokunthefirst commented on #2388
@sangamcse can I be assigned to this?

[2018-03-30 12:45] sangamcse commented on #2388
@mayokunthefirst, again I am reminding you that this is newcomer issue and as you have completed one newcomer issue, you are not eligible for this issue. Please find higher difficulty issue. 😃
Please check https://github.com/coala/coala-bears/issues/2383#issuecomment-376901093

[2018-03-30 14:38] mayokunthefirst commented on #2388
@sangamcse  okay sir

[2018-03-30 14:50] palash25 commented on #2388
@mayokunthefirst no one's a sir here we are peers not knights :laughing:

[2018-03-30 15:36] MacBox7 commented on #2357
Would like to work on it.

[2018-03-30 15:53] MacBox7 opened #2389 ".coafile: Ignore *.orig in ci section"
Current implementation performs analysis on `.orig` files as well.

[2018-03-30 15:56] MacBox7 commented on #2389
Could be added to Default section itself.

[2018-03-30 16:04] MacBox7 commented on #2383
`.pytest_cache/` and `.vscode/` can also be added.

[2018-03-30 17:52] Makman2 commented on #1551
Up to you.

[2018-03-30 23:28] Makman2 commented on #2358
Could you maybe make the issue more precise by filing new issues for features that belong together? For example blank lines after class definition are somewhat different from detecting good variable names.

[2018-03-31 02:19] Hori75 commented on #2388
I would like to be assigned to this issue.

[2018-03-31 04:18] palash25 commented on #2388
@Hori75 since this issue is unassigned you can start working on your PR a mentor will assign you later.

[2018-03-31 06:07] mayokunthefirst commented on #2389
@MacBox7 @jayvdb can i be assigned to this?

[2018-03-31 07:11] MacBox7 commented on #2389
@mayokunthefirst this is a difficulty/newcomer issue. And you are already working on one.

[2018-03-31 07:26] MacBox7 commented on #2369
Would like to work on this. Can it be assigned to me?

[2018-03-31 09:53] MacBox7 commented on #2377
Unable to recreate the issue. InvalidLinkBear works as expected. The link you mention has been permanently moved and if you set `follow_redirects=True`, it even provides with a correct redirect otherwise it quietly ignores the message.

[2018-03-31 13:45] satwikkansal commented on #1551
Also, ignore the the documentation and strings (AnnotationBear might help in this case)

[2018-03-31 13:46] satwikkansal commented on #1551
And imo, AST is still at least 1 or 2 GSoC away from being implemented, so I guess starting with regex can be a good approach.

[2018-03-31 15:13] Vedarth commented on #1551
So using regex and Annotation bear to detect the issues is the way to go? I think I can give it a try :wink: I agree waiting for AST will take too long. It is better to start solving right now compared to waiting for 1 to 2 summers. The approach that I can think of is that if variable name doesn't comply to the standard formats across various different languages, as given in https://en.wikipedia.o

[2018-03-31 15:22] li-boxuan opened #2393 "PyLintBear: column number in result violates convention"
According to [coala API doc](https://api.coala.io/en/latest/coalib.results.html#module-coalib.results.Result), column number should be one-based. PyLintBear violates this rule.

How to reproduce:
1. Create a new python file, put a single space in it.
2. Run PyLintBear with --json flag. The sample result is as follows:

[code]
Note that column number should never be 0 since it is one-based.

[2018-03-31 15:29] li-boxuan commented on #2393
IMO, in this case, column number can be None, but should not be 0.

[2018-03-31 19:56] Makman2 commented on #2393
Why `None`? `None` means the whole line.

[2018-03-31 20:02] li-boxuan commented on #2393
@Makman2 My bad, I meant to say column number can be None (according to API doc), but cannot be 0. In this specific case, it should not be None but the exact position.

Another issue here: Seems that PyLintBear always reports col number 0.

[2018-03-31 20:10] Makman2 commented on #2377
Sounds like it's invalid then.

@rohanrk feel free to reopen if you doubt :) Please try it also on most recent master in case you haven't done yet :+1:

[2018-03-31 20:10] #2377 closed

[2018-03-31 20:29] Makman2 commented on #2383
@MacBox7 Please file new issues for them, so we can fill our backlog for newcomers :)

[2018-03-31 20:53] MacBox7 opened #2394 ".gitignore: Add .vscode/"
difficulty/newcomer

[2018-03-31 20:54] MacBox7 opened #2395 ".gitignore: Add .pytest_cache/"
difficulty/newcomer

[2018-03-31 20:55] sangamcse commented on #2395
Duplicate of https://github.com/coala/coala-bears/issues/2326

[2018-03-31 20:57] MacBox7 commented on #2395
Ah! My bad. Nice catch 😉

[2018-03-31 20:57] #2395 closed

[2018-04-01 05:20] virresh opened #2396 "Refactor issue Regexes in GitCommitBear"
The issue regex for matching hosts can be done away with a class variable which will support better modularity
(refer [here](https://github.com/coala/coala-bears/pull/2310#pullrequestreview-106719986))

I would prefer to work on this

(difficulty/low)

[2018-04-01 05:45] MacBox7 opened #2397 ".coafile: Replace default section with all"
Since **Default** section is deprecated, it should be replaced with **all**.
Many people might take `.coafile` of coala as a reference for their project, so IMO it should be updated.

[2018-04-01 09:03] sangamcse commented on #2158
Got the issue. Let me try to solve it @Makman2 😃

[2018-04-01 10:29] virresh commented on #2374
@rohanrk
Are you working on this ?
I would like to work on this otherwise :sweat_smile:

[2018-04-01 12:53] Anubhav-Bhargava commented on #2394
Can this issue be assigned to me?

[2018-04-01 13:17] Makman2 commented on #2396
I'm not sure if it's that profitable, that would be rather a performance optimization, and I think it's really negligible.
You only save a variable assignment here, the way more expensive regex compilation is not affected.

[2018-04-01 15:14] palash25 commented on #2348
You can start working on this, a maintainer will assign you shortly @aashraybhandar1

[2018-04-02 04:02] MacBox7 commented on #2397
Yup. Go ahead.

[2018-04-02 04:40] rammanoj commented on #2397
Thanks @MacBox7 created a PR at https://github.com/coala/coala-bears/pull/2400 can you review it?

[2018-04-02 05:15] khashf commented on #864
PR merged. Please close this issue.

[2018-04-02 06:14] rammanoj commented on #2397
I am sorry to make a new patch instead of amending to the current patch. There are some issues locally with my git. In the current patch, I made the other sections inherit the current section. Can you review it now @MacBox7 ?

[2018-04-02 06:17] MacBox7 commented on #2369
Should this be available as a separate option or a compulsory check for all issues? After this implementation, all test cases will fail because they have invalid urls. Should I create a permanent issue in the coala-bears repo to handle this or is there a better way to approach it?

[2018-04-02 07:34] rammanoj commented on #2397
@MacBox7 present patch passed all the test cases, are there any other changes to be made?

[2018-04-02 12:33] Makman2 commented on #864
It's not merged.

[2018-04-02 13:06] Makman2 commented on #2373
I think this is fixable. coala provides bears with a `path` settings-type. This type could actually expand the path intelligently (using the .coafile path) conforming your situation.

[2018-04-02 13:09] Makman2 commented on #2373
I believe we should migrate this to `coala/coala` as this affects all bears :)

[2018-04-02 13:17] Makman2 commented on #2373
Migrated to https://github.com/coala/coala/issues/5305

[2018-04-02 13:17] #2373 closed

[2018-04-02 13:24] Makman2 commented on #1431
Or a completely new bear?

[2018-04-02 13:34] Makman2 commented on #2368
git configures a default remote, but only on a per-branch basis. Maybe we should take that one if available?

[2018-04-02 14:00] Makman2 commented on #2356
Oh yeah, haven't seen that. I would maybe abandon that issue completely, as no priority for commercially-driven linters (they have enough money to do that themselves :P).

[2018-04-02 14:25] anctartica commented on #845
@Mohit17067 are you still working on this?

[2018-04-02 14:32] #2290 closed

[2018-04-02 15:24] Makman2 commented on #845
Unassigning due to inactivity.

[2018-04-02 16:38] virresh commented on #2396
I agree with the performance optimization not being profitable, although I just want to delegate the task of choosing the regex to another function and place that function in place of result info, so that the rest of the issue_reference function gets rid of dependency on host-specific hardcoded regexes, and it would be a bit easy to extend them to another VCS bear (specifically the HgCommitBear),

[2018-04-02 19:55] aptrishu commented on #1431
It would be just like another AnnotationBear (for '[' ']', '{' '}' etc). or we can extend the existing AnnotationBear but that would make it complex.

[2018-04-02 20:04] Makman2 commented on #2396
Alright, sounds like a plan then :)

[2018-04-03 01:13] rammanoj commented on #2387
@ishanSrt I like to work on this issue.

[2018-04-03 19:52] Makman2 commented on #2387
@rammanoj this is just a sample. What's important is that the bear doesn't seem to work according to @ishanSrt , so that needs investigation and confirmation.

[2018-04-03 19:55] Makman2 commented on #2369
Another setting should work out quite well.

Why? You shall only check the `HEAD` commit, not all commits in a repository ;) So not necessary to create an issue for that in coala-bears (we also won't change commits on master, what's on master stays on master :+1:)

[2018-04-03 20:07] MacBox7 commented on #2369
Oh no, I think I wasn't clear. By tests, I meant **tests written for GitCommitBear**. But since this would be a separate setting it won't be a problem. But for the test function checking this new feature won't I would be requiring an **open issue** in the input?

[2018-04-04 19:25] anctartica commented on #2352
If the tests are never run on the CI, how can we know whether the bear is working as intended? What is the need to have a test file in this case? Is it just for the contributor to check and verify?

[2018-04-06 02:16] jayvdb commented on #2369
@MacBox7 , fundamental problem here.

If any change breaks the existing tests, it is a breaking change, and is going to screw up anyone using `coala-ci`.

Therefore, when doing this feature, the new check must be optional, and the user needs to enable it.

You will need to have the 'is open' check not activated when testing the existing test cases, *and* that should happen by default, because it i

[2018-04-06 04:32] #2249 closed

[2018-04-06 05:11] jayvdb commented on #2212
wtf.  this `sudo: enabled` is mentioned at https://docs.travis-ci.com/user/getting-started/#Selecting-infrastructure-(optional)

however the real reference is https://docs.travis-ci.com/user/reference/overview/#Virtualisation-Environment-vs-Operating-System , and it says `sudo: required`, and that is what it has always been.

[2018-04-06 07:24] virresh opened #2404 "Exclude pip 9.0.2 specifically from test-requirements"
Due to a recent pip update to 9.0.3 that reverts the changes brought in pip 9.0.2, we should ideally just bar pip 9.0.2 and allow other versions [here](https://github.com/coala/coala-bears/blob/master/test-requirements.txt#L4)

Relevant links :
https://github.com/coala/coala-bears/issues/2359
https://github.com/pypa/pip/issues/5081#issuecomment-375150007

[2018-04-06 07:27] jayvdb commented on #2404
And also prevent use of pip 10.0, but allow pip 10.1 , basically preparing for 10.0 being quite disruptive, but the problems will sort themselves out by 10.1

[2018-04-06 08:28] Makman2 opened #2405 "[UMBRELLA] Implement many go linters"
See https://github.com/golangci/awesome-go-linters
A quite comprehensive list of go linters.

This is an umbrella issue, smaller issues should be filed for each individual linter we consider worthwhile to implement.

[2018-04-06 08:33] jayvdb commented on #2405
IMO this should wait until https://github.com/coala/coala-bears/issues/972 is done.

[2018-04-06 10:47] newbazz commented on #2212
So should i close the issue @jayvdb

[2018-04-06 10:48] jayvdb commented on #2212
Eh?  This issue is already closed.

[2018-04-06 10:49] newbazz commented on #2212
ohh yeah my bad

[2018-04-06 11:35] jayvdb commented on #337
@kriti21 , please dont rebase until you've fixed the problems identified in the code review.

[2018-04-06 13:49] jayvdb commented on #2386
@sangamcse , we dont care what the linter API is.  coala wraps linters to *hide* their differences.  We provide setting names which are more consistent, to make it easier for users to manage many different tools.

[2018-04-06 14:48] #2102 closed

[2018-04-06 15:51] #2397 closed